[set page_title][L]Customer manager[/L]: [L]View customer[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]View customer[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[tmp meta_header]
<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#sort').change(function(){
		window.location.href = '/admin/501c_reporting.html?sort='+$("select option:selected").attr('data-sort');
	});
	$('#tableLink tr').hover(function(){
		if(!$(this).find('th').length){
			$(this).data('old',$(this).css('background')).css('background','orange')
		}
	}, function(){
		if(!$(this).find('th').length){
			$(this).css('background',$(this).data('old'))
		}
	});
})
</script>
[/tmp]
[update values]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<span>Sort Your Results: </span>
			<select id="sort" name="sort_by">
				<option [if cgi sort eq 'customer']selected="selected"[/if] data-sort="customer">Customer</option>
				<option [if cgi sort eq 'status']selected="selected"[/if] data-sort="status">Status</option>
				<option [if cgi sort eq 'coupon']selected="selected"[/if] data-sort="coupon">Coupon Code</option>
				<option [if cgi sort eq 'alias']selected="selected"[/if] data-sort="alias">Alias</option>
				<option [if !cgi sort]selected="selected"[/if] data-sort="donations">Donations</option>
			</select>
			[if cgi sort]
				<p>You are currently sorting by '[cgi sort]'. <br /><a href="[area admin/501c_reporting]">Click here to removing the sorting option</a></p>
			[/if]
			<table id="tableLink">
			<tr>
				<th>Customer</th>
				<th>Status</th>
				<th>Coupon Code</th>
				<th>Alias</th>
				<th>Donations</th>
			</tr>
			[perl tables="products userdb coupon_codes ambassador_user ambassador_transaction ambassador_alias transactions"]
			my $results = $Tag->query({
				sql => q|
					SELECT
						u.fname as fname,
						u.lname as lname,
				        a.email as email,
				        a.status as status,
				        a.501c as 501c,
				        a.coupon as coupon,
				        u.username as customer,
				        u.reward_points as sfp,
				        IFNULL(aa.alias,a.coupon) AS alias
				    FROM userdb u
				    LEFT JOIN ambassador_user a on u.email = a.email
				    LEFT JOIN ambassador_alias aa ON aa.email = a.email
				    LEFT JOIN ambassador_transaction at on at.email = u.email
				    WHERE
				        a.501c = 1
				    GROUP BY u.username
				|,
				hashref => 'why not',
			});
			return unless @$results;
			my $output;
			my $row_color = 'fff';
			my $sort = (grep $_ eq $CGI->{sort}, qw/alias customer status coupon/) ? $CGI->{sort} : 'sfp';
			if( $sort eq 'sfp'){
				$results = [ sort { $b->{$sort} <=> $a->{$sort} } @$results ];
			} else {
				$results = [ sort { $b->{$sort} cmp $a->{$sort} } @$results ];
			}
			for my $r (@$results){
				#DB is case insensititve, easier to read this way (lowercased)
				$r = { map {
					$_ => lc $r->{$_}
				} keys %$r };
				$row_color = $row_color eq 'fff' ? 'F5f5f5' : 'fff';
				$output .= '<tr style="background: #'.$row_color.'">'.sprintf(q\
					<td>%1$s</td>
					<td>%2$s</td>
					<td>%3$s</td>
					<td>%4$s</td>
					<td>%5$s</td>
				\, (map { 
					if(/^customer$/){
						my $link_text = $r->{fname}.' '.$r->{lname}.' ('.$r->{email}.')';
						q|<a style="color: blue;" href="|.$Tag->area('admin/ambassador_referrals').'?email='.$r->{email}.'&customer='.$r->{customer}.q|" />|.$link_text.q|</a>|;
					} elsif (/^sfp$/){
						$Tag->currency({ body => $r->{$_} || 0 });
					} else{
						$r->{$_} || '<i>Unavailable</i>';
					}
				} qw\customer status coupon alias sfp\) ).'</tr>';
			}
			return $output;
			[/perl]
		</td>
	</tr>
</table>

@_UI_STD_FOOTER_@