[set page_title][L]Customer manager[/L]: [L]Pay 501C Organizations[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]Pay 501C Organizations[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[tmp meta_header]
<style type="text/css">
#tableLink a {
	text-decoration: none;
}
#tableLink a:hover {
	text-decoration: underline;
}
#tableLink td {
	padding: 5px;
}
#tableLink a.payout{
	color: blue;
	text-decoration: underline;
}
#tableLink a.payout:hover{
	text-decoration: none;
}
</style>
<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript">
Number.prototype.formatMoney = function(c, d, t){
var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
};
$(document).ready(function(){
	$('#tableLink tr').hover(function(){
		if(!$(this).find('th').length && !$(this).data('paid')){
			$(this).data('old',$(this).css('background')).css('background','orange')
		}
	}, function(){
		if(!$(this).find('th').length && !$(this).data('paid')){
			$(this).css('background',$(this).data('old'))
		}
	});
	$('a.payout').click(function(e){
		e.preventDefault();
		var link = $(this);
		var par = link.parents('.payoutContain');
		var customer = par.children('input.email').val();
		var donation = parseFloat(par.children('input.donation').val());
		var id = par.children('input.id').val();
		var r=confirm("You are about to payout $"+donation.formatMoney(2,'.',',')+" to "+customer+"\nIs this correct?");
		if(r==true){
			$.ajax({
				type: 'POST',
				url: '/admin/501c_payouts_ajax.html',
				data: {
					customer: customer,
					payout: donation,
					payout_id: id
				},
				dataType: 'JSON',
				success: function(data){
					if (data['success']){
						alert("The record has been updated successfully.");
						par.parents('tr').css({
							background: 'green'
						}).data('paid',1);
						link.replaceWith('<p>Paid</p>')
					} else {
						alert("There has been an error. "+data.response);
						return !1;
					}
				},
				beforeSend: function(){
					link.html('Sending');
				}
			})
		} else {
			return !1;
		}
	})
})
</script>
[/tmp]
[update values]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<table colspan="3" id="tableLink">
			<tr>
				<th>Customer</th>
				<th>Donations</th>
				<th>Quarter Date</th>
				<th>Payout</th>
			</tr>
			[perl tables="products userdb coupon_codes ambassador_user ambassador_transaction ambassador_alias transactions"]
			my $results = $Tag->query({
				sql => q|
					SELECT
						p.id as id,
						u.fname as fname,
						u.lname as lname,
				        a.email as email,
				        u.username as customer,
				        p.donations as donations,
				        p.quarter_date as quarter_date
				    FROM userdb u
				    LEFT JOIN ambassador_user a on u.email = a.email
				    LEFT JOIN 501c_payouts p on a.email = p.ambassador_email
				    WHERE
				        p.donations > 0
				    AND
				    	p.date_paid IS NULL
				|,
				hashref => 'why not'
			});
			return unless @$results;
			my $output;
			my $row_color = 'fff';
			for my $r (sort { $b->{donations} <=> $a->{donations} } @$results){
				#DB is case insensititve, easier to read this way (lowercased)
				$r = { map {
					$_ => lc $r->{$_}
				} keys %$r };
				$row_color = $row_color eq 'fff' ? 'F5f5f5' : 'fff';
				$output .= '<tr style="background: #'.$row_color.'">'.sprintf(q\
					<td>%1$s</td>
					<td>%2$s</td>
					<td>%3$s</td>
					<td>%4$s</td>
				\, (map { 
					if(/^customer$/){
						my $link_text = $r->{fname}.' '.$r->{lname}.' ('.$r->{email}.')';
						q|<a style="color: blue;" href="|.$Tag->area('admin/ambassador_referrals').'?email='.$r->{email}.'&customer='.$r->{customer}.q|" />|.$link_text.q|</a>|;
					} elsif (/^input$/){
						sprintf(q\
							<div class="payoutContain">
								<input type="hidden" class="id" value="%4$s" />
								<input type="hidden" class="email" value="%2$s" />
								<input type="hidden" class="donation" value="%3$s" />
								<a href="#" class="payout">Payout</a>
							</div>\, $r->{customer}, $r->{email}, $r->{donations}, $r->{id});
					} elsif(/quarter_date/){
						$r->{$_}
					} else{
						$Tag->currency({ body => $r->{donations} || 0 });
					}
				} qw\customer reward_points quarter_date input\) ).'</tr>';
			}
			return $output;
			[/perl]
			</table>
		</td>
	</tr>
</table>
@_UI_STD_FOOTER_@