[calc]
	$CGI->{no_dbmenu} = 1;
	$CGI->{access_menu} = 1;
	$CGI->{mv_data_table} = $Values->{mv_data_table} = '__UI_ACCESS_TABLE__';
	$CGI->{user_id} = $Values->{user_id} if ! $CGI->{user_id};
	return;
[/calc]

[if !cgi user_id]
[bounce page="__UI_BASE__/access"]
[/if]

[seti page_title][L]Edit Permissions[/L]: [cgi user_id][/seti]
[set ui_class]Admin[/set]
[set page_perm]access=v[/set]
[set help_name]access.permissions[/set]
[set icon_name]icon_config.gif[/set]

[set process_perm]
[flag type=write table="__UI_ACCESS_TABLE__"]
[tmp ui_owner][db-hash
				table="__UI_ACCESS_TABLE__"
				column="table_control"
				key="[cgi user_id]"][/tmp]
[calc] $Scratch->{ui_owner} .= ";" if $Scratch->{ui_owner} =~ /\S/; return; [/calc]
<!-- [calc]
	$tc = [scratch ui_owner] '';
[/calc] -->
[perl]
	my @filters = grep /^ui_filter:/, keys %$CGI;
	foreach my $key (@filters) {
		my $val = delete $CGI->{$key};
		$key =~ s/ui_filter://;
		next unless $val;
		next unless defined $CGI->{$key};
		$CGI->{$key} = $Tag->filter($val, $CGI->{$key}, $key);
		$CGI->{$key} = s/=$//;
	}
	
	$CGI->{yes_functions} =~ s/\0//g;
	$CGI->{yes_functions} =~ s/,/ /g;
	$CGI->{yes_functions} =~ s/\w+=(?:\s+|$)//g;

	$CGI->{yes_tables} =~ s/\0//g;
	$CGI->{yes_tables} =~ s/,/ /g;
	$CGI->{yes_tables} =~ s/\w+=(?:\s+|$)//g;
	$CGI->{yes_tables} =~ s/(\w+)=vecdix(\s+|$)/$1$2/g;

	$CGI->{owner_field} =~ s/\0//g;
	$CGI->{owner_field} =~ s/,$//;
	my (%of) = split /[=,]/, $CGI->{owner_field};

	for(keys %of) {
		if($of{$_} !~ /\S/) {
			next unless defined $tc->{$_};
			delete $tc->{$_}{owner_field};
		}
		else {
			$tc->{$_}{owner_field} = $of{$_};
		}
	}

	$CGI->{table_control} = $Tag->uneval( { ref => $tc } );
	$CGI->{owner_field} =~ s/\w+=(?:\s+|$)//g;
	$CGI->{owner_field} =~ s/(\w+)=vecdix(\s+|$)/$1$2/g;

	$CGI->{no_tables} =~ s/\0/ /g;
	
	$CGI->{mv_todo} = 'set';
	return;
[/perl]
[/set]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[output name=top_of_form]
<FORM METHOD=POST ACTION="[area ui]">
<INPUT TYPE=hidden NAME=mv_session_id VALUE="[data session id]">
<INPUT TYPE=hidden NAME=mv_doit VALUE="set">
<INPUT TYPE=hidden NAME=mv_click VALUE="process_perm">
<INPUT TYPE=hidden NAME=mv_nextpage VALUE="[either][cgi ui_return_to][or]__UI_BASE__/access[/either]">
<INPUT TYPE=hidden NAME=user_id VALUE="[cgi user_id]">
<INPUT TYPE=hidden NAME=username VALUE="[cgi user_id]">
<INPUT TYPE=hidden NAME=mv_data_table VALUE="[value mv_data_table]">
<INPUT TYPE=hidden NAME=mv_data_key VALUE="username">
<INPUT TYPE=hidden NAME=mv_update_empty VALUE="1">
<INPUT TYPE=hidden NAME=mv_data_fields VALUE="username yes_functions no_tables yes_tables table_control">
<INPUT TYPE=hidden NAME="mv_data_function" VALUE="update">
[output name=""]

[tabbed-display
	js-prefix="perm_"
	width=800
	height=800
	]
[tabbed-panel Editor Functions]
<table width="100%" border=0 cellpadding=0 cellspacing=1 class=rseparator>

<tr class=rhead>
<td class=rhead valign=top>&nbsp;</td>
<td class=rhead valign=top>[L]View list[/L]</td>
<td class=rhead valign=top>[L]View detail[/L]</td>
<td class=rhead valign=top>[L]Create[/L]</td>
<td class=rhead valign=top>[L]Edit[/L]</td>
<td class=rhead valign=top>[L]Delete[/L]</td>
</tr>

[seti tables][list-databases][/seti]
[perl tables="__UI_META_TABLE__ __UI_ACCESS_TABLE__"]

	my @permissions = (
        item		=> '[L]Item editor[/L]',
        page		=> '[L]Page editor[/L]',
        cat			=> '[L]Category editor[/L]',
        tax			=> '[L]Tax editor[/L]',
        shipping	=> '[L]Shipping editor[/L]',
        payment		=> '[L]Payment editor[/L]',
        affiliate	=> '[L]Affiliates editor[/L]',
        itemtype	=> '[L]Item type editor[/L]',
        pagetype	=> '[L]Page type editor[/L]',
        grouptype	=> '[L]Group type editor[/L]',
        matrix		=> '[L]Matrix editor[/L]',
        knar		=> '[L]Knar editor[/L]',
        access		=> '[L]Administrator Permissions[/L]',
        group		=> '[L]Access Group editor[/L]',
        perm		=> '[L]Permission editor[/L]',
        layout		=> '[L]Layout editor[/L]',        
	);
	my %extra = qw/userdb 1 order 1/;
	my $current = tag_data('__UI_ACCESS_TABLE__', 'yes_functions', $CGI->{user_id});
	my $out = '';
	my @ary = grep /\S/, split /[\s,\0]+/, $current;
	my @some = qw/l v c e d/;
	my @more = qw/a u p/;
	my @all = (@some, @more);
	my %all;
	@all{@some, @more} = (@some, @more);
	$permref = {};
	foreach $one (@ary) {
		$one =~ s/=(.*)//;
		my $sub = $1 || undef;
		my $ref = $permref->{$one} = {};
		my @set;
		if ($sub) {
			@set = grep $all{$_}, split //, $sub;
		}
		else {
			@set = $extra{$one} ? @all : @some;
		}
		for(@set) {
			$ref->{$_} = ' CHECKED';
		}
	}

	my $string = $Tag->uneval( {ref=>$permref} );
#DEBUG
#	$out .= <<EOF;
#<tr>
#<td colspan=6 class=rownorm valign=top>
#$string
#</td>
#EOF

	my $perm;
	my $title;
	my $inc = 0;
	while( $perm = shift @permissions) {
		$title = shift @permissions;
		my $ref = $permref->{$perm} || {};
		my $class = $inc++ % 2 ? 'rownorm' : 'rowalt';
		$out .= <<EOF;
<tr class=$class>
<td class=$class valign=top>
<b>$title</b>
<input type=hidden value="$perm=" name="yes_functions">
</td>
EOF
		for(@some) {
			$out .= <<EOF;
<td class=$class valign=top>
<INPUT type=checkbox class=s3 value=$_ name="yes_functions"$ref->{$_}>
</td>
EOF
		}
		$out =~ s!(<.td>\s*)$!<input type=hidden value="," name="yes_functions">$1</tr>!;
	}
	my $ref = $permref->{order};
	$out .= <<EOF;
</table>
[/tabbed-panel]

[tabbed-panel Other Functions]

<table width="100%" border=0 cellpadding=0 cellspacing=1 class=rseparator>

<tr>
<td class=rownorm valign=top>
<b>[L]Order manager[/L]:</b>
<INPUT type=hidden value="order=" name="yes_functions">
<li><INPUT type=checkbox value=l name="yes_functions"$ref->{l}> [L]View list[/L]
<li><input type=checkbox value=v name="yes_functions"$ref->{v}> [L]View single[/L]
<li><input type=checkbox value=d name="yes_functions"$ref->{d}> [L]Delete[/L]
<li><input type=checkbox value=e name="yes_functions"$ref->{e}> [L]Edit[/L]
<li><input type=checkbox value=c name="yes_functions"$ref->{c}> [L]Input new[/L]
<li><input type=checkbox value=a name="yes_functions"$ref->{a}> [L]Archive[/L]
<li><input type=checkbox value=u name="yes_functions"$ref->{u}> [L]Un-archive[/L]
<INPUT type=hidden value="," name="yes_functions">
<p>
</td>
<td class=rownorm valign=top ROWSPAN=2>
EOF
	@permissions = (
		orderstats		=> 'Order statistics utility',
		trafficstats	=> 'Traffic statistics utility',
		env_vars		=> 'Environment variables utility',
		stats			=> 'Stats menu',
		techadmin		=> 'Technical Admin menu',
		sitedesign		=> 'Site Design menu',
		reconfig		=> 'Apply changes',
		delete_files	=> 'Delete owned files',
		dbupload		=> 'Database importer',
		dbdownload		=> 'Database exporter',
		layupload		=> 'Layout importer',
		laydownload		=> 'Layout exporter',
		gentable		=> 'List tables',
		gensql			=> 'Direct SQL utility',
		dbconfig		=> 'Database configuration',
		files			=> 'Modify Files',
		mailingexport         => 'OEMpro Mailing',
		mailing         => 'Customer Mailing',
		lab1	      	=> 'Lab 1 Orders only',
		lab2            => 'Lab 2 Orders only',
		lab3            => 'Lab 3 Orders only',
		labh            => 'Lab H Orders only',
		labn            => 'No Lab Orders only',
		kiosk						=> '[L]Kiosk admin[/L]',
    churches				=> '[L]Church admin[/L]',
		order_notes		=> 'View Order Notes',
	);
	while($perm = shift @permissions ) {
		$title = errmsg(shift @permissions);
		my $on = defined $permref->{$perm} ? ' CHECKED' : '';
		$out .= <<EOF;
<li><INPUT type=checkbox value="$perm," name="yes_functions"$on> <b>$title</b>
EOF
	}
	$ref = $permref->{userdb};
	$out .= <<EOF;
<p>
</td>
</tr>

<tr>
<td class=rownorm valign=top>
<b>[L]Customer Edit Permissions[/L]:</b>
<INPUT type=hidden value="userdb=" name="yes_functions">
<li><INPUT type=checkbox value=l name="yes_functions"$ref->{l}> [L]View list[/L]
<li><input type=checkbox value=v name="yes_functions"$ref->{v}> [L]View single[/L]
<li><input type=checkbox value=d name="yes_functions"$ref->{d}> [L]Delete[/L]
<li><input type=checkbox value=e name="yes_functions"$ref->{e}> [L]Edit[/L]
<li><input type=checkbox value=c name="yes_functions"$ref->{c}> [L]Input new[/L]
<li><input type=checkbox value=p name="yes_functions"$ref->{p}> [L]Mail password[/L]
<INPUT type=hidden value="," name="yes_functions">
<p>
</td>
</tr>
EOF
	return $out;
[/perl]

</table>

[/tabbed-panel]

[tabbed-panel Table Permissions]

<table width="100%" border=0 cellpadding=0 cellspacing=1 class=rseparator>

<tr>
<td colspan=9 class=rhead ALIGN=center><B>[L]Table Permissions[/L]</B></td>
</tr>

<tr>
<td class=rhead valign=top>&nbsp;</td>
<td class=rhead valign=top>[L]HIDE[/L]</td>
<td class=rhead valign=top>[L]View[/L]</td>
<td class=rhead valign=top>[L]Edit[/L]</td>
<td class=rhead valign=top>[L]Create[/L]</td>
<td class=rhead valign=top>[L]Delete[/L]</td>
<td class=rhead valign=top>[L]Import[/L]</td>
<td class=rhead valign=top>[L]Export[/L]</td>
<td class=rhead valign=top>[L]Owner field[/L]</td>
</tr>

[perl]

	my $current = tag_data('__UI_ACCESS_TABLE__', 'yes_tables', $CGI->{user_id})
					|| $Scratch->{tables};
	$current =~ s/\s+/ /g;
	my $no = tag_data('__UI_ACCESS_TABLE__', 'no_tables', $CGI->{user_id});

	$no =~ s/\s+/ /g;
	#Log("no = $no");
	my (@no) = split /\s+/, $no;
	my %no;
	for(@no) { $no{$_} = ' CHECKED' }

	my $out = '';
	my @ary = split /[\s,\0]+/, $current;

	#Log("ary = " . join ",", @ary);
	#Log("no = " . join ",", @no);
	my (@all) = qw/v e c d i x/;
	my %all;
	@all{@all} = @all;
	my $permref = {};

	my $one;

	foreach $one (@ary) {
		$one =~ s/=(.*)//;
		my $sub = $1 || undef;
		next if $no{$one};
		my $ref = $permref->{$one} = {};
		my @set;
		if ($sub) {
			@set = grep $all{$_}, split //, $sub;
		}
		else {
			@set = (@all);
		}
		for(@set) {
			$ref->{$_} = ' CHECKED';
		}
	}

	#my $string = "all=@all ". $Tag->uneval( { ref=> $permref } );

	my @tables = split /\s+/, $Scratch->{tables};

	for(@tables) {
		push @permissions, $_, tag_data('__UI_META_TABLE__', 'label', $_) || $_;
	}

	my $perm;
	my $title;
	my $inc = 0;
	while( $perm = shift @permissions) {
		$title = shift @permissions;
		my $class = $inc++ % 2 ? 'rownorm' : 'rowalt';
		my $ref = $permref->{$perm} || {};
		$out .= <<EOF;
<tr class=$class>
<td class=$class valign=top>
<b>$title</b>
<input type=hidden value="$perm=" name="yes_tables">
</td>
<td class=$class valign=top>
<INPUT type=checkbox class=s3 value="$perm" name="no_tables"$no{$perm}>
</td>
EOF
		for(@all) {
			$out .= <<EOF;
<td class=$class valign=top>
<INPUT type=checkbox value=$_ name="yes_tables"$ref->{$_}>
</td>
EOF
		}

		my $of = '';
		if($tc->{$perm}) {
			$of = $tc->{$perm}{owner_field};
		}
		$out .= <<EOF;
<td class=$class valign=top>
<INPUT type=hidden value="$perm=" name="owner_field">
<INPUT type=text value="$of" name="owner_field" size=10>
<INPUT type=hidden value="," name="owner_field">
</td>
EOF
		$out =~ s!(<.td>\s*)$!<input type=hidden value="," name="yes_tables">$1</tr>!;
	}
	#$Scratch->{string} = $string;
	return $out;
	[/perl]

</table>
[/tabbed-panel]
[/tabbed-display]

[output name=top_buttons]
	<input type=submit value="[L]Ok[/L]" class=s3 style="font-weight: bold; width: 40px; text-align: center">
	<input type=submit name=mv_click value="[L]Cancel[/L]" class=s3>

[output name=bottom_buttons]
	<input type=submit value="[L]Ok[/L]" class=s3 style="font-weight: bold; width: 40px; text-align: center">
	<input type=submit name=mv_click value="[L]Cancel[/L]" class=s3>

[output name=bottom_of_form]
</form>
[output name=""]
@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
