<!-- MODIFIED -->
[set page_title][L]Page Title[/L][/set]
[set ui_class]top level menu[/set]
[set help_name]no-clue.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">

	</style>
	<script type="text/javascript">
	$(function(){
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi update]

[/if]

<form method="POST" action="[area @@MV_PAGE@@]">

</form>

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
