[strip][if cgi project eq 'order-manager'][then]
	[if cgi task eq 'update-pd']
		[perl no_return=1 failure="Error" tables="orderline"]
			my ($firstNumber,$secondNumber);

			#Loop through the CGI keys
			foreach( keys %$CGI ){
				#Stop the orderline code
				/^(odpd|ospd)-(\d+-\d+)/ and $orderlineCode = $2;

				#If this key is the odpd and we haven't found the first number yet
				if( /^odpd-/ && !$firstNumber ){
					#Store it
					$firstNumber = $Tag->cgi($_);
				}elsif( /^ospd-/ && !$secondNumber ){
					$secondNumber = $Tag->cgi($_);
				}
			}

			#Form PD string
			my $pd = $firstNumber . ($secondNumber ? "/$secondNumber" : '');

			#Check that we have an orderline code
			if( $orderlineCode ){
				my $sql = qq|UPDATE orderline SET pupd = '$pd' WHERE code = '$orderlineCode'|;

				my $affectedRows = $Tag->query({ sql=> $sql, table => 'orderline' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$pd"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual order entry PD update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual order entry PD update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[elsif cgi task eq 'add-hold-email']
		[perl no_return=1 failure="Error" tables="current_hold_emails"]
			return unless $CGI->{'hold-body'} && $CGI->{'hold-order_number'};

			my $dbh = $Sql{current_hold_emails};
			my $body = qq|
			To: $CGI->{'hold-to'}
			From: | . $Tag->var('EMAIL_INFO') . qq|
			Subject: $CGI->{'hold-subject'}
			Body:
			
			$CGI->{'hold-body'}
			|;
			$dbh->do('INSERT INTO current_hold_emails (order_number,email) VALUES (?,?)', {}, $CGI->{'hold-order_number'}, $body );

			$Tag->tmpn('raw-output','1');
		[/perl]
	[/elsif]
	[elsif cgi task eq 'delete-hold-email']
		[perl no_return=1 failure="Error" tables="current_hold_emails"]
			return unless $CGI->{'order_number'};

			my $dbh = $Sql{current_hold_emails};

			$dbh->do('DELETE FROM current_hold_emails WHERE order_number = ?', {}, $CGI->{'order_number'} );

			$Tag->tmpn('raw-output','1');
		[/perl]
	[/elsif]
	[elsif cgi task eq 'seg_height']
		[perl no_return=1 failure="Error" tables="orderline"]
			my $dbh = $Sql{orderline};
			my ($orderlineCode, $seg_height);

			#Loop through the CGI keys
			foreach( keys %$CGI ){
				#Store the orderline code
				if( /^(seg_height)-(\d+-\d+)/ ){
					$orderlineCode = $2;
					$seg_height = $CGI->{$_};
					last;
				}
			}

			$dbh->do('UPDATE orderline SET seg_height = ? WHERE code = ?', undef, $seg_height, $orderlineCode);

			$Tag->tmpn('response',qq|"$seg_height"|);
			$Tag->tmpn('success',1);
		[/perl]
	[/elsif]
	[elsif cgi task eq 'list-notes']
		[perl no_return=1 failure="Error" tables="history"]
			my $order_number = $CGI->{order_number};
			my $notes = $Tag->query({ sql => "SELECT * FROM history WHERE orderid = '$order_number' ORDER BY historydate DESC", table => 'history', hashref => 1 });
			my $output = q|
				<table border=1>
					<tr>
						<th colspan=3 align="center">Notes</th>
					</tr>
					<tr>
						<th>Date</th>
						<th>User</th>
						<th>Note</th>
					</tr>
				|;
			$output .= qq|
				<tr>
					<td>| . $Tag->convert_date({ format=>'%B %e, %Y', body=>$_->{historydate} }) . qq|</td>
					<td>$_->{username}</td>
					<td><pre style="width: 400px">$_->{historylog}</pre></td>
				</tr>| foreach @$notes;

			$Tag->tmpn('raw-output', $output . "</table>");
		[/perl]
	[/elsif]
	[elsif cgi task eq 'update-prescription']
		[perl failure="Error" no_return=1 tables="orderline"]
			my $eye = $CGI->{eye};
			my ($orderlineCode,%attributes,$sql);

			#Loop through the CGI variables
			foreach( keys %$CGI ){
				#Store the orderline code column if it hasn't been found already
				if( /-(\d+-\d+)/ && !$orderlineCode ){
					$orderlineCode = $1;
				}

				#Loop through the 4 prescription attributes
				foreach my $attribute( qw/sph cyl axi add/ ){
					#If this cgi key matches an attribute, store it
					if( /^${eye}${attribute}/ ){
						$attributes{$attribute} = $CGI->{$_};
					}
				}

				if( /^prism_${eye}-(horizontal|vertical)-(direction|amount)/ ){
					$attributes{"${1}-prism_$2"} = $CGI->{$_};
				}
			}

			$attributes{'prism'} = $attributes{'vertical-prism_amount'} . $attributes{'vertical-prism_direction'}
				if $attributes{'vertical-prism_amount'};

			$attributes{'prism'} .= ($attributes{'prism'}?'/':'') . $attributes{'horizontal-prism_amount'} . $attributes{'horizontal-prism_direction'}
				if $attributes{'horizontal-prism_amount'};

			#Check that we have an orderline code
			if( $orderlineCode ){
				my $prescription = "SPH $attributes{sph}, CYL $attributes{cyl}, AXI $attributes{axi}, ADD $attributes{add}, PRISM $attributes{prism}";
				my $sql = qq|
		UPDATE orderline SET
			sph_${eye} = '$attributes{sph}',
			cyl_${eye} = '$attributes{cyl}',
			axi_${eye} = '$attributes{axi}',
			add_${eye} = '$attributes{add}',
			prism_${eye} = '$attributes{prism}',
			pres_${eye} = '$prescription'
		WHERE code = '$orderlineCode'|;

				my $affectedRows = $Tag->query({ sql=> $sql, table => 'orderline' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$prescription"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual order entry prescription update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual order entry prescription update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[/elsif]
	[elsif cgi task eq 'update-nosepos']
		[perl failure="Error" no_return=1 tables="orderline"]
			my ($nosepos,$orderlineCode);

			foreach( keys %$CGI ){
				if( /^nosepos-(\d+-\d+)$/ ){
					$orderlineCode = $1;
					$nosepos = $CGI->{$_};
					last;
				}
			}
			#Check that we have an orderline code
			if( $orderlineCode && $nosepos ){
				my $sql = qq|UPDATE orderline SET nosepos = '$nosepos' WHERE code = '$orderlineCode'|;

				my $affectedRows = $Tag->query({ sql=> $sql, table => 'orderline' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$nosepos"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual nosepos update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in nosepos update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[/elsif]
	[elsif cgi task eq 'update-orderline-comments']
		[perl failure="Error" no_return=1 tables="orderline products"]
			my ($comments,$orderlineCode,$unquoted);

			foreach( keys %$CGI ){
				if( /^orderline-comments-(\d+-\d+)$/ ){
					$orderlineCode = $1;
					$unquoted = $CGI->{$_};
					$comments = $Tag->cgi($_,{ filter => 'dbi_quote' });
					last;
				}
			}
			#Check that we have an orderline code
			if( $orderlineCode && $comments ){
				my $sql = qq|UPDATE orderline SET comments = $comments WHERE code = '$orderlineCode'|;
				my $affectedRows = $Tag->query({ sql=> $sql, table => 'orderline' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$unquoted"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual orderline comments update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in orderline comments update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[/elsif]
	[elsif cgi task eq 'update-transaction-comments']
		[perl failure="Error" no_return=1 tables="transactions products"]
			my ($orderNumber,$comments,$unquoted);

			$orderNumber = $CGI->{order_number};
			$unquoted = $CGI->{'transactions-comments'};
			$comments = $Tag->cgi('transactions-comments',{ filter => 'dbi_quote' });

			if( $orderNumber && $comments ){
				my $sql = qq|UPDATE transactions SET comments = $comments WHERE order_number = '$orderNumber'|;
				my $affectedRows = $Tag->query({ sql=> $sql, table => 'transactions' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$unquoted"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual transaction comments update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in transaction comments update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[/elsif]
	[elsif cgi task eq 'update-shipping_method']
		[tmp shipmode][shipping mode=|[cgi shipping_method]| label=1 format=|%M (%D) <!-- <option value="" /> -->|][/tmp]
		[perl failure="Error" no_return=1 tables="transactions products"]
			my ($orderNumber,$shipmode,$unquoted);

			$orderNumber = $CGI->{order_number};
			$unquoted = delete $Scratch->{shipmode};
			$unquoted =~ s/ <!--.*?-->//;

			$shipmode = $Tag->filter('dbi_quote',$unquoted); #$Tag->shipping({ mode => $unquoted, label => 1, format => q|%M (%D) <!-- <option value="" /> -->| });

			if( $orderNumber && $unquoted ){
				my $sql = qq|UPDATE transactions SET shipmode = $shipmode WHERE order_number = $orderNumber|;
				my $affectedRows = $Tag->query({ sql=> $sql, table => 'transactions' });

				if( $affectedRows == 1 ){
					$Tag->tmpn('response',qq|"$unquoted"|);
					$Tag->tmpn('success',1);
				}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in manual transaction shipmode update [SQL]',
						body		=> "When executing the following SQL [$affectedRows] rows were affected:\n\t$sql"
					});
				}
			}else{
					$Tag->email({
						to			=> 'steve.aurigema@39dollarglasses.com',
						from		=> 'admin.problems@39dollarglasses.com',
						reply		=> 'noreply@39dollarglasses.com',
						subject => '**Error** in shipmode update [NO ORDERNUMBER]',
						body		=> "No order number was found, the following CGI keys were passed:\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
					});
			}
		[/perl]
	[/elsif]
	[/if]
[/then]
[elsif cgi project eq 'order-entry'][then]
	[if cgi task eq 'customer-lookup']
		[perl tables="userdb products" no_return=1]
			#Any column aliases match up to input elements on admin/entry.html
			my $sql = qq|
				SELECT
						username as customer_id,company, fname, lname, address1, address2, city, state, zip, email, country, phone_day, phone_night,
						b_fname, b_lname, b_company, b_address1, b_address2, b_city, b_state, b_country, b_phone
				FROM userdb
				WHERE
							|;

			my $whereClause = '';

			#If searching by username no other fields are required
			if( $CGI->{'search-username'} ){
				$whereClause = 'username = ' . $Tag->cgi('search-username',{ filter => 'dbi_quote' });
			}else{
				$whereClause = 'email = ' . $Tag->cgi('search-email',{ filter => 'dbi_quote' })
					if $CGI->{'search-email'};
				$whereClause .= ($whereClause?' AND ':'') . 'fname = ' . $Tag->cgi('search-fname',{ filter=>'dbi_quote' })
					if $CGI->{'search-fname'};
				$whereClause .= ($whereClause?' AND ':'') . 'lname = ' . $Tag->cgi('search-lname',{ filter=>'dbi_quote' })
					if $CGI->{'search-lname'};
				$whereClause .= ($whereClause?' AND ':'') . 'zip = ' . $Tag->cgi('search-zip',{ filter=>'dbi_quote' })
					if $CGI->{'search-zip'};
			}

			if( $whereClause ){
				$sql .= $whereClause;

				my $rows = $Tag->query({ sql => $sql, hashref=>1, table => 'userdb' });
				my @customers;

				#$Tag->tmpn('response',$sql); return;

				foreach my $row( @$rows ){
					my $jsonCustomer = '{';
					foreach my $key( keys %$row ){
						$jsonCustomer .= qq|"$key": "$row->{$key}",|;
					}
					chop$jsonCustomer;
					push @customers, "$jsonCustomer}";
				}

				my $response = "[" . join(',',@customers) . "]";

				$Tag->tmpn('response',$response);
				$Tag->tmpn('success',1);
			}else{
				#ERROR
			}
		[/perl]
	[elsif cgi task eq 'frame-lookup']
		[perl table="products" no-return=1]
		
		[/perl]
	[/elsif]
	[/if]
[/then][/elsif]
[elsif cgi project eq 'rma'][then]
	[if cgi task eq 'check-address']
		[perl tables="transactions rma" no_return=1]
			my $rmaNumber = $CGI->{rmaNumber};
			my $sql = "SELECT trans.order_number, trans.fname,trans.lname,trans.address1,trans.address2,trans.city,trans.state,trans.zip,trans.email, rma.received FROM transactions trans INNER JOIN rma ON rma.order_number = trans.order_number WHERE rma.rmaID = $rmaNumber";
			my $row = $Tag->query({ sql => $sql, table => 'transactions', hashref => 1 })->[0];
			my $response = qq|{ "order_number": "$row->{order_number}", "customerName": "$row->{fname} $row->{lname}", "email": "$row->{email}", "address": "$row->{fname} $row->{lname}<br />$row->{address1}<br />| . ($row->{address2}?"$row->{address2}<br />":'') . qq|$row->{address2}<br />$row->{city}, $row->{state}" }|;

			#If the RMA has been received already return a success of 2, receive-rma.html associates this properly
			$Tag->tmpn('success', $row->{received} ? 2 : 1);
			$Tag->tmpn('response',$response);
		[/perl]
	[elsif cgi task eq 'add-note']
		[perl tables="history products" no_return=1]
			if( $CGI->{order_number} =~ /^\d+$/ && $CGI->{note} ){
				$CGI->{note} .= "<br />Tracking Number: $CGI->{trackingNumber}";
				my $note = $Tag->filter( 'dbi_quote', $Tag->filter( 'decode_entities',$Tag->cgi('note') ) );
				my $sql = 'INSERT INTO history (historydate,username,orderid,historytype,historylog) VALUES (' .
					$Tag->convert_date({fmt => '%Y%m%d%H%M'}) .  ",'" . $Session->{username} . "'," .
					$CGI->{order_number} . ",'rma',$note)";
				#EXECUTE HISTORY INSERT
				$Tag->query({ sql => $sql, table=>"history" });
				$Tag->tmpn('success',1);
				$Tag->tmpn('response',1);
			}else{
				$Tag->tmpn('success',0);
				$Tag->tmpn('response','Missing either order_number or note');
			}
		[/perl]
	[/elsif][/if]
[/then][/elsif]
[elsif cgi project eq 'metadata'][then]
	[if cgi task eq 'get-rows']
		[perl table="metadata" no-return=1]
			my $results = $Tag->query({ sql => 'SELECT id, type FROM metadata WHERE url = "' . $CGI->{'search-url'} . '"', hashref => 1, table => 'metadata' });
			my $output = '[';

			$output .= join(',', map{ qq|{ "type": "$_->{type}", "id": $_->{id} }| } @$results ) . "]";

			$Tag->tmpn('success',1);
			$Tag->tmpn('response', $output);
		[/perl]
	[elsif cgi task eq 'retrieve-record']
		[perl table="metadata" no-return=1]
			my $row = $Tag->query({ sql => 'SELECT url,type,value FROM metadata WHERE id = ' . $CGI->{rowID}, table => 'metadata', hashref => 1 })->[0];

			$Tag->tmpn('success',1);
			$Tag->tmpn('response',qq|{ "url": "$row->{url}", "type": "$row->{type}", "value": "$row->{value}" }|);
		[/perl]
	[/elsif]
	[/if]
[/then][/elsif]
[elsif cgi project eq 'item-discounts'][then]
	[if cgi task eq 'get-batch-info']
		[perl tables="products" no-return=1]
			my $property = $CGI->{property};

			my $options = $Tag->query({ sql => "SELECT DISTINCT $property FROM products WHERE $property IS NOT NULL AND $property != '' ORDER BY 1", table => 'products' });
			my @options = map{ { value => $_->[0], text => $property eq 'date_added' ? $Tag->convert_date({ format => '%B %d, %Y', body => $_->[0] }) : $_->[0] } } @$options;

			if( @options ){
				$Tag->tmpn('success',1);
				$Tag->tmpn('response', $Tag->filter('json', \@options) ); 
			}else{
				$Tag->tmpn('success',0);
				$Tag->tmpn('response', '{ "options": [] }');
			}

			return;
		[/perl]
	[/if]
[/elsif][/then]
[elsif cgi project eq 'general'][then]
	[if cgi task eq 'set-pd']
		[perl tables="orderline" no_return=1]
			my $code = $CGI->{'orderline-code'};

			if( !$code ){
				$Tag->tmpn('success',0);
				$Tag->tmpn('response','"No orderline-code found"');
				return;
			}

			my $pd = $CGI->{pd};

			if( !$pd ){
				$Tag->tmpn('success',0);
				$Tag->tmpn('response','"No pd found"');
				return;
			}

			$Tag->query({ sql => 'UPDATE orderline SET pupd = "' . $pd . '" WHERE code = "' . $code . '"', table => 'orderline' });

			$Tag->tmpn('success','1');
			$Tag->tmpn('response',qq|"$pd"|);
		[/perl]
	[elsif cgi task eq 'product-status']
		[perl table="products productStatusLog" no-return=1]
			my $dbh = $Sql{'products'};
			my $sth = $dbh->prepare('SELECT CASE WHEN inactive != 0 THEN "inactive" ELSE "active" END AS status FROM products WHERE sku = ?');
			my $sku = $CGI->{'sku'};

			unless( $sku ){
				$Tag->tmpn('success',0);
				$Tag->tmpn('response','"Missing sku"');
				return;
			}

			$sth->execute($sku);

			my $result = $sth->fetchrow_arrayref();
			my $status = $result && @$result ? $result->[0] : undef;

			$sth->finish;
			$sth = $dbh->prepare('SELECT newStatus, effective, statusCode, comment, reason, expected_return FROM productStatusLog p LEFT JOIN product_status_codes c on p.statusCode = c.code WHERE sku = ?');

			$sth->execute($sku);

			my @statusChanges;
			while( my $row = $sth->fetchrow_arrayref ){ 
				push @statusChanges, { 
					'status' => $row->[0], 'timestamp' => $row->[1], comment => $row->[3], reason => $row->[4], expected_return => $row->[5]
				}; 
			}
			my $return = { status => $status, statusChanges => \@statusChanges };

			$Tag->tmpn('success',1);
			$Tag->tmpn('response', $Tag->filter('json', $return) );
		[/perl]
	[/elsif]
	[elsif cgi task eq 'show-previous']
		[perl table="orderline  products" no-return=1]
		my $orders = $Tag->query({
			sql => q|
				SELECT
					ol.order_number, ol.sku, ol.options, ol.pres_od, ol.pres_os, ol.pupd, ol.comments
				FROM orderline ol
				INNER JOIN transactions t ON t.code = ol.order_number
				WHERE
					t.status NOT IN ("canceled","cancelled") AND
					t.lab = 'R' AND
					t.username = | . $Tag->filter( 'dbi_quote', $CGI->{username} ) . q| AND
					t.order_number != | . $Tag->filter( 'dbi_quote', $CGI->{order_number} ) . ' 
				ORDER BY ol.order_number ASC',
			table => 'orderline', hashref => 1
		});

		my $output = '<table style="margin: 5px; border: 1px solid black; border-collapse: collapse" border=1>';

		$output .= join(q|<tr style="height: 25px"><td colspan=2>&nbsp;</td></tr>|, map{ qq|
			<tr>
				<td colspan=2>$_->{sku}</td>
			</tr>
			<tr>
				<td>| . $Tag->beautify_options({ html => 1, body => $_->{options} }) . qq|</td>
				<td>
					$_->{pres_od}<br />
					$_->{pres_os}<br />
					PD: $_->{pupd}
				</td>
			</tr> 
			<tr>
				<td colspan=2>
					Comments:<br />$_->{comments}
				</td>
			</tr>| } @$orders );
			$output .= "</table>";

			$Tag->tmpn('raw-output', $output);
			'';
		[/perl]
	[/elsif]
	[/if]
[/then][/elsif]
[elsif cgi project eq 'homepage-banners'][then]
	[if cgi task eq 'preview']
		[perl no_return=1]
			my $banner = {};
			#Fill the banner with the values passed via the post/get
			map{ $banner->{$_} = $CGI->{$_} ? $Tag->cgi($_) : undef } qw/ path landing_page landing_page_form coupon_code alt_text /;

			my $url = $Tag->area({ href => $banner->{'landing_page'}, form => $banner->{'landing_page_form'} || ( $banner->{'coupon_code'} ? "coupon_code=$banner->{'coupon_code'}" : '' ) });

			$Tag->tmpn('raw-output', qq|<a href="$url"><img src="$banner->{'path'}" alt="$banner->{'alt_text'}" /></a>| );
		[/perl]
	[elsif cgi task eq 'file-check']
		[if type="file-e" term="[cgi path]"]
			[tmpn success]1[/tmpn]
			[tmpn response]I see it[/tmpn]
		[else]
			[tmpn response]This banner doesn't exist[/tmpn]
		[/else]
		[/if]
	[/elsif][/if]
[/then][/elsif]
[elsif cgi project eq 'package-ranges'][then]
	[if cgi task eq 'update-column']
		[perl table='lens_pkg_ranges' no_return=1]
			my $dbh = $Sql{lens_pkg_ranges};
			my ($pkgcode, $column, $value) = ( $CGI->{'pkgcode'}, $CGI->{'col-name'}, $CGI->{'col-value'} );

			if( !$pkgcode || !$column || !$value ){
				$Tag->tmpn('success',0);
				$Tag->tmpn('response', 'Missing a critical value');

				return;
			}

			my $sql = qq|UPDATE lens_pkg_ranges SET $column = ? WHERE pkgcode = ?|;
			$dbh->do( $sql, undef, $value, $pkgcode );

			$Tag->tmpn('success',1);
			$Tag->tmpn('response','"All good"');
		[/perl]
	[/if]
[/then][/elsif][/if]
[if scratch raw-output][scratch raw-output][else]{ "success": [either][scratch success][or]0[/either], "response": [scratch response] }[/else][/if][/strip]
