[set page_title][L]Ambassador Referrals[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]Ambassador Referrals[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
[tmpn meta_header]
<style type="text/css">
#tranasctions td{ white-space: nowrap; padding: 3px }
tr.fraud-level1, tr.fraud-level0{ background-color: green }
tr.fraud-level2{ background-color: RGB(163,255,136) }
tr.fraud-level3{ background-color: RGB(249,255,117) }
tr.fraud-level4{ background-color: RGB(255,111,111) }
tr.fraud-level5{ background-color: red }

</style>
[/tmpn]
@_UI_STD_HEAD_@
[calc]
	delete $Scratch->{ui_bounce};
	#Log("got here, customer=$CGI->{customer}, arg=$CGI->{mv_arg}");
	return if $CGI->{customer};
	$CGI->{customer} = $CGI->{mv_arg} 
		or $Scratch->{ui_bounce} = '__UI_BASE__/customer';
	return;
[/calc]
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]

<!-- ----- BEGIN REAL STUFF ----- -->
[update values]
[loop list="[value-extended customer]"]

<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<table>
				<tr>
					<td align=right>
						<b>[L]Customer Username[/L]: </td><td>[loop-code]</b>
					</td>
				</tr>
				<tr>
					<td align=right valign="top"><b>[L]Customer[/L]: </td>
					<td>
						<A HREF="[area href=__UI_BASE__/customer_pref form=|customer=[cgi customer]|]"><u>[loop-data userdb fname] [loop-data userdb lname]</u></A>
						</b> (<a href="[area href=admin/edit_points form="u=[loop-code]"]">Edit EyeBucks Rewards points</a>)
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="width: 100px">
			<table border=1>
				[loop prefix='levels' list='0 1 2 3 4 5']
				<tr class="fraud-level[levels-code]">
					<td>[levels-code] match[if-levels-pos 0]es[else][/else][/if-levels-pos]</td>
				</tr>
				[/loop]
			</table>
		</td>
		<td colspan=5 valign=middle>
			The transactions list is color coded according to how many <br />
			different fraud criteria are matched when the order is placed.
		</td>
	</tr>
	<tr>
			<td colspan=2 valign=top>
					<table id="tranasctions" style="border: 1px solid grey"> 
							<tr style="text-align: left; background-color: grey; color: white; height: 25px; border: 1px solid grey;">
								<th style="width: 30px">#</th>
								<th style="font-weight: bold; height: 20px;">Order<br />Number</th>
								<th style="font-weight: bold; height: 20px;">Date<br />Placed</th>
								<th style="font-weight: bold; height: 20px;">EyeBucks<br />Rewards</th>
								<th style="font-weight: bold; height: 20px;">Status</th>
								<th style="font-weight: bold; height: 20px;">Estimated<br />Award Date</th>
								<th>Fraud Matches</th>
							</tr>
							[loop prefix="trans" object.mv_results=`$Tag->ambassador({ function=>'view_transactions', email=>$CGI->{'email'}, admin=>1 })`]
								<tr class="fraud-level[trans-param fraud_potential]">
									<td style="height: 20px">[trans-increment]</td>
									<td><a href="[area href="admin/order_view" form="order=[trans-param order_number]"]">[trans-param order_number]</a>
									<td>[trans-param created_date]</td>
									<td>[trans-param reward_points]</td>
									<td>[trans-param status]</td>
									<td>[trans-param potential_date]</td>
									<td>
										[if-trans-param fraud_potential > 0]
											[tmp orderid][trans-param order_number][/tmp]
											[perl table="history" failure="shit"]
												my $dbh = $Sql{'history'};
												my $sth = $dbh->prepare('SELECT historylog FROM history WHERE orderid = ? AND historytype = "fraud_matches"');
												$sth->execute( $Scratch->{'orderid'} );

												my $row = $sth->fetchrow_arrayref();

												return $row->[0];
											[/perl]
										[else]&nbsp;[/else]
										[/if-trans-param]
								</tr>
							[/loop]
					</table>
			</td>
	</tr>
</table>
<!-- ----- Customer information ----- -->
[/loop]
<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: customer_view.html,v 2.5 2002/11/20 17:40:11 mheins Exp $ -->
