[set page_title][L]Load Search Data[/L]: [L]Update Search Table[/L][/set]
[set ui_class]Administration[/set]
[set page_banner][L]Load Search Data[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[if cgi host]
[perl tables="sysvars"]
my $db = $Sql{sysvars};
return unless $db;
$db->do(q\
	UPDATE sysvars set value = ? where name = 'MV_PAYMENTECH_HOST'
\,undef,$CGI->{host});
$Tag->tmpn('success_change','1');
return;
[/perl]
[/if]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<table colspan="3" id="tableLink">
				<tr>
					<td>
						[if scratch success_change]
							<p>Host has been updated to [cgi host].</p>
						[/if]
						<form action='[area href="admin/change_host" secure="1"]' name="myForm" method="POST">
							<input type="text" style="width: 350px;" value="[var MV_PAYMENTECH_HOST]" name="host" />
							<input type="submit" value="Update Paymentech Host" />
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
@_UI_STD_FOOTER_@
