[perl tables="products options"]
return $Tag->filter('json',{
    error => 1,
    response => 'No Sku Provided.',
}) unless $CGI->{sku};

if ($CGI->{preview}){

    my $results = $Tag->query({
        sql => q|
            SELECT 
                sku, description, image
            FROM
                products
            WHERE
                sku = |.$Tag->filter('dbi_quote', $CGI->{sku}),
        hashref => 1
    });

    my @results = @$results;
    return $Tag->filter('json',{
        error => 1,
        response => 'Sku is not valid'
    }) unless @results;

    $Tag->image({
        makesize => '200x200',
        src => 'store/images/tints/200x200/'.$results[0]->{sku}.'_CLEAR.jpg'
    });

    my $response = sprintf(q|
        <div id="best-seller">
            <img src="/img/template/best_seller.gif" width="243" height="24" alt="Best Seller" class="lflt" />
            <div>
                <a href="%1$s"><img src="/store/images/tints/200x200/%3$s" width="200" height="72" alt="%2$s" /></a>
                <p>
                    <strong class="bc02">%2$s</strong>
                    <a href="%1$s" class="bc04">More Info</a>
                    <a href="%1$s"><img src="/img/template/order_now.gif" width="75" height="20" alt="Order Now" /></a>
                </p>
            </div>
        </div>
    |, $results[0]->{sku}, $results[0]->{description}, $results[0]->{sku}.'_CLEAR.jpg' );

    return $Tag->filter('json',{
        error => 0,
        response => $response
    });
} elsif ($CGI->{submit}) {
    my $dbh = $Sql{products};

    $dbh->do(q|
        UPDATE sysvars
        SET value = ?
        WHERE name = ?
    |, undef, $CGI->{sku}, 'HOMEPAGE_FRAME');

    return $Tag->filter('json',{
        error => 0,
        success => 1,
        response => "The frame has been updated successfully!"
    });
}

[/perl]