[set page_title][L]Customer manager[/L]: [L]View customer[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]View customer[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
        [bounce page="[scratch ui_bounce]"]
[/if]
[tmp meta_header]
<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
        $('a.preview').click(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                data: {
                    sku: $('#frameSku').val(),
                    preview: 1
                },
                url: '[area admin/change_homepage_frame_ajax]',
                dataType: 'JSON',
                beforeSend: function(){
                    $('#load').show();
                },
                success: function(data){
                    $('#load').hide();
                    if(data.error){
                        alert(data.response);
                        return !1;
                    } else {
                        $('#preview').html(data.response).show();
                        $('#select').show();
                    }
                }
            })
        });
        $('a.yes').click(function(e){
            e.preventDefault();
            submitFrame();
        });
        $('a.no').click(function(e){
            e.preventDefault();
            cancelFrame();
        });
})
function submitFrame(){
    var sku = $('#frameSku').val();
    $.ajax({
        type: 'POST',
        data: {
            sku: sku,
            submit: 1
        },
        url: '[area admin/change_homepage_frame_ajax]',
        dataType: 'JSON',
        beforeSend: function(){
            var r = confirm("You are about to set '"+sku+"' as the homepage frame.\n Would you like to continue?");
            if(!r){
                return !1;
            }
            $('#load').show();
        },
        success: function(data){
            $('#load').hide();
            if(data.success){
                alert(data.response);
                $('#preview, #select').hide();
                $('#frameSku').val('').focus();
                return !1;
            } else {
                alert(data.response || 'There has been an unidentified error.')
            }
        }
    });
}
function cancelFrame(){
    $('#preview, #select, #load').hide();
    $('#frameSku').val('').focus();
}
</script>
<style type="text/css">
#preview{
    margin: auto;
    margin-top: 10px;
    width: 245px;
}
#load{
    display: inline;
    padding-top: 7px;
}
a.preview{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
#best-seller {
    width: 243px;
}
#select p { margin: .5em;}
#select a {
    font-size: 1em;
}
#best-seller{width:243px;float:left;margin-top:30px}
#best-seller div{float:left;width:229px;border:7px solid #dbe5f2;border-top:none;text-align:center;padding:11px 0 6px 0}
#best-seller div img{vertical-align:top}
#best-seller div strong{display:block;margin:4px auto 6px auto}
#select{text-align:center;margin-top: 20px;}
</style>
[/tmp]
[update values]
<table border=0 __UI_T_PROPERTIES__>
        <tr>
                <td colspan=6 class=rborder><img src="bg.gif" height=1></td>
        </tr>
        <tr>
                <td colspan=6 align=left class=rnorm>
                        <div id="changeFrame">
                            <input type="text" id="frameSku" name="frameSku" value="" />
                            <a class="preview">Preview</a>
                            <img style="display:none" id="load" src="/img/ajax-loader-bare.gif" width="20" />
                        </div>
                        <div id="preview">

                        </div>
                        <div id="select" style="display:none; clear: both">
                            <p>Would you like to use this frame sku?</p>
                            <a href="#" class="yes">Yes</a>
                            <a href="#" class="no">No</a>
                        </div>
                </td>
        </tr>
</table>

@_UI_STD_FOOTER_@
