<!-- MODIFIED -->
[set page_title][L]Change Item State[/L][/set]
[set ui_class]Items[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<link rel="stylesheet" href="/css/ui_dot_luv.css" type="text/css" />
	<style type="text/css">
		br.clear{ clear: both }
		label{ display: inline-block; width: 200px; vertical-align: top; margin: 5px 0 }
		h2.error{ color: red }
		.active{ color: green }
		.inactive{ color: red }

		#product{ width: 400px; height: 167px }
		input,select,textarea,ul{ margin: 5px 0 }
		#left, #right{ position: relative; float: left; width: 490px; border: 1px solid black; padding: 10px }
		#modal{
			display: none;position: fixed;top: 20px; left: 20px; width: 400px;background: #fff; border: 2px solid blue; padding: 20px;
			border-radius: 8px; -moz-border-radius: 8px; 
		}
	</style>
	<script type="text/javascript" src="__JQUERY__"></script>
	<script type="text/javascript" src="__JQUERY_UI__"></script>
	<script type="text/javascript">
	function updateImage(){
		$('#product').attr('src','//www.39dollarglasses.com/store/images/items_large/400x400/' + $('#sku').val() + '.jpg');
	}
	$(function(){
		if ($('#sku').val() && $('#triggerLoad').length){
			getSku();
		}
		$('#sku').keydown(function(e){
			if( e.which == 13 ){
				getSku();
				return false;
			}
		});
		$('#sku').blur(updateImage);
		$('#inactive').click(function(e){
			e.preventDefault();
			$('#modal').css({
				top: (($(window).height() - $('#modal').height() )/2)+'px',
				left: (($(window).width() - $('#modal').width() )/2)+'px'
			}).show().draggable();
			$('#modal #reason, #modal #comments').show();
			return !1;
		});
		$('#sendForm').click(function(e){
			e.preventDefault();
			var state = $('#reason option:selected').hasClass('inactive') ? 'inactive' : 'active';
			var r = confirm("Are you sure want to set "+$('#stateForm input[name=sku]').val()+' '+state+' with the following reason:\n\n'+$('#modal #reason option:selected').text()+'\n\nAdditional Comments:\n\n'+$('#modal #comments').val()+'\n\nExpected Return Date:\n\n'+$('#returnDate').val());
			if (r){
				$('#stateForm')
				 .append($('#modal #reason').hide())
				  .append($('#modal #comments').hide())
				   .append($('<input type="hidden" name="reason_text" value="'+$('#reason option:selected').text()+'" />'))
				    .append($('#returnDate').hide())
				     .find('#state').val(state)
				      .end().find('#load_sku').val($('#stateForm input[name=sku]').val())
				       .end().submit();
			}else{
				return !1;
			}
		});	
		$('#returnDate').datepicker({
			dateFormat: "yy-mm-dd"
		});
	});
	function getSku(){
		var $this = $('#sku');
		$('#status span').text('');
		$('#status').hide();
		$('#changes').empty();

		$.ajax({
			url: '/admin/ajax_controller.html',
			data: 'project=general&task=product-status&sku=' + $this.val() + '&r=' + Math.random(),
			dataType: 'json',
			success: function(response){
				if( response.success ){
					var returned = response.response;
					//Display the current status
					$('#status').show().find('span').addClass( returned.status ).text( returned.status );
					//Add the status changelog
					$.each(returned.statusChanges, function(i,v){
						var string = '<p>Marked ' + v.status + ' on ' + v.timestamp +'</p>';
						if (v.reason){
							string += '<p class="reason">Reason:<br />' +v.reason+'</p>';
						}
						if (v.comment){
							string += '<p class="comment">Comments:<br/>'+v.comment+'</p>'
						}
						if (v.expected_return){
							string += '<p class="return">Expected Return:<br/>'+v.expected_return+'</p>'
						}
						$('#changes').append($('<li />').html(string));
					});
					updateImage();
				}else{
					alert('Error looking up sku');
				}
			}
		});
	}
	</script>
<!-- Javascript/css goes here -->
[/seti]


[perl tables="products productStatusLog" no-return=1 failure="Error setting the new value"]
	# Don't continue unless either we're filling the search table OR we have all necessary info to change state
	if ( !exists $CGI->{load_search} ||
		scalar(grep $CGI->{$_}, qw\state reason sku\ ) < 3
	) {
		return;
	}

	my $value = $CGI->{state} eq 'inactive' ? 1 : 0;
	my $dbh = $Sql{'products'};
	my $sth;
	if (delete $CGI->{submitted}){
		$dbh->do('UPDATE products SET inactive = ? WHERE sku = ?',undef, $value, $CGI->{sku});
		$dbh->do('INSERT INTO productStatusLog (sku,newStatus,statusCode, comment,expected_return) VALUES (?,?,?,?,?)',undef, map { $CGI->{$_} } qw\sku state reason comments expected_return\ );
		$Tag->tmpn('statusMessage', "$CGI->{sku} marked as $CGI->{state} for reason: $CGI->{reason_text}");
		$Tag->email({
			to			=> 'jschofield@39dollarglasses.com,nick@39dollarglasses.com',
			from		=> 'admin@39dollarglasses.com',
			reply		=> 'noreply@39dollarglasses.com',
			subject => 'Frame Status Change',
			body		=> "$CGI->{sku} marked as $CGI->{state} for reason '$CGI->{reason_text}' with comments:\n\n$CGI->{comments}\n\nExpected Return: $CGI->{expected_return}"
		});
	}

	#LOAD SEARCH
	if ( exists $CGI->{load_search} || !$CGI->{skip_search} ){
		$dbh->do('DROP TABLE IF EXISTS search_temp') or die "Error dropping search temp table:\n$!";
		$dbh->do(q|
		create table search_temp (
			sku varchar(75) not null primary key,
			name varchar(255) not null,
			color varchar(100) not null,
			search_color varchar(200) not null,
			type varchar(50) not null,
			url varchar(255) not null,
			price varchar(12) not null,
			cat varchar(255) not null,
			msrp varchar(12) not null,
			effective_sr varchar(128) not null,
			date_added varchar(15) not null
		) ENGINE=MyISAM;|) or die "Error creating search temp table:\n$!";

		$sth = $dbh->prepare(q|SELECT name,value from categoryItems|);
		$sth->execute;
		my %catItems = map {
			$_->{value} => $_->{name}
		} @{fetchall_hashref($sth, qw\name value\)};
		$sth->finish;
		my $sql = q\
		SELECT x.sku, x.url, x.name, x.ven_color, x.search_color, x.type, x.url, x.price, x.cat, x.msrp,  x.options_lens,x.effective_sr, x.date_added
		FROM
			((SELECT
					p.sku as sku, p.sku as url, p.description as name, p.ven_color as ven_color, concat(ven_color,primary_color,secondary_color,tertiary_color) as search_color,
					'frame' as type, p.price as price, p.retail_price as msrp, p.category as cat, options_lens,
					effective_sr, date_added
				FROM 
					products p
				WHERE
					p.inactive <> 1
			) UNION (
				SELECT
					k.code as sku, '' as url, k.name, '' as ven_color, '' as search_color, 
					'article' as type, 0 as price, 0 as msrp, c.name as cat, '' as options_lens, '0' as effective_sr, '' as date_added
				FROM 
					kb_categories c
				JOIN
					kb_articles k
				WHERE
					c.code = k.category
			)) AS x
		GROUP BY x.sku\;
		my $sth = $dbh->prepare($sql) or die "Error preparing STH:\n$!";
		$sth->execute;
		my @results;
		while(my $row = fetchrow_hashref($sth,qw\sku url name ven_color search_color type url price cat msrp options_lens effective_sr date_added\) ){
			push @results, $row;
		}
		return unless @results;
		for my $prod (@results){
			#skip POFS
			next if $prod->{sku} =~ /^(LENS_|DUMMY|GFH1D)/;
			if($prod->{type} eq 'article'){
				$prod->{url} = 'help/'.e($prod->{cat}).'/'.e($prod->{sku}).'-'.e($prod->{name});
			}
			$dbh->do('INSERT INTO search_temp VALUES (?,?,?,?,?,?,?,?,?,?,?)', undef, map { 
				$prod->{$_} || ''
			} qw\sku name ven_color search_color type url price cat msrp effective_sr date_added\);
			if($prod->{type} eq 'frame'){
				my $sth = $dbh->prepare('SELECT distinct term from secondary_terms where sku = ? and type = "frame"');
				$sth->execute($prod->{sku});
				my @terms;
				while (my $row = fetchrow_hashref($sth,'term')){
					push @terms, $row->{term};
				}
				if ($prod->{options_lens}){
					for my $opt (split ' ', $prod->{options_lens}){
						if ($catItems{$opt}){
							for my $word (split ' ', $catItems{$opt}){
								if (!@terms || !grep $_ eq $word, @terms){
									next unless $word =~ /^[a-z]+$/i;
									$dbh->do('INSERT INTO secondary_terms VALUES (NULL,?,?,?)',
										undef,
										$prod->{sku},
										$word,
										'frame'
									);
								}
							}
						}
					}
				}
				$sth = $dbh->prepare('SELECT distinct term from secondary_terms where sku = ? and type = "frame"');
				$sth->execute($prod->{sku});
				@terms = ();
				while (my $row = fetchrow_hashref($sth,'term') ){
					push @terms, $row->{term};
				}
				$sth = $dbh->prepare('
					SELECT distinct value
					FROM
						 frameGroupProperties fp 
					JOIN
						frameGroupPropertyTypes fpt
					ON 
						fp.frameGroupPropertyTypesID = fpt.frameGroupPropertyTypesID
					JOIN
						frameGroupPropertyValues fpv
					ON
						 fp.frameGroupPropertyValuesID = fpv.frameGroupPropertyValuesID
					WHERE
						fp.partialSku = ?'
				);
				my $partial = $prod->{sku};
				$partial =~ /^(\d+)_(.+)$/;
				$sth->execute($1);
				my @new_terms;
				while (my $row = fetchrow_hashref($sth, 'value') ){
					push @new_terms, $row->{value} unless grep $_ eq $row->{value}, @terms;
				}
				@new_terms = keys %{ { map { $_ => 1} @new_terms }};
				$sth->finish;
				for my $term (@new_terms){
					for my $word (split ' ', $term){
						next unless $word =~ /^[a-z]+$/i;
						$dbh->do('INSERT INTO secondary_terms VALUES (NULL,?,?,?)',
							undef,
							$prod->{sku},
							$word,
							'frame'
						);
					}
				}
			}
			$Tag->image({
				makesize => '50x50',
				src_only => 1,
				src => 'items_large/'.$prod->{sku}.'.jpg'
			});
			$Tag->image({
				makesize => '50x50',
				src_only => 1,
				src => 'tints/'.$prod->{sku}.'_GREY.jpg'
			});
		}
		#strip last comma from insert
		$sql =~ s/,\s*$//;
		$dbh->do( $sql ) or die "Error inserting into search temp table:\n$!";
		$dbh->do('DROP TABLE search');
		$dbh->do('RENAME TABLE search_temp to search') or die "Error renaming search temp table:\n$!";

		undef $sth;
	}

	sub e {
		$_ = shift;
		s/ /-/g;
		$Tag->filter('urlencode', $_);
	}

	sub fetchall_hashref{
		#its called a hash ref interchange, use it
		my ($sth, @columns) = @_;
		my $res;
		while (my $row = $sth->fetchrow_arrayref){
			my $count = 0;
			my $ref;
			for (@$row){
				$ref->{$columns[$count]} = $_->[$count];
				++$count;
			}
			push @$res, $ref;
		}
		return $res;
	}

	sub fetchrow_hashref{
		my ($sth, @columns) = @_;
		my $row = $sth->fetchrow_arrayref;
		my $count = 0;
		my $ref;
		for (@$row){
			$ref->{$columns[$count]} = $_;
			++$count;
		}
		return $ref;
	}
[/perl]

@_UI_STD_HEAD_@

<form action="[area @@MV_PAGE@@]" id="stateForm" method="POST">
	[if scratch statusMessage]
		<h2>[scratch statusMessage]</h2>
	[/if]
	<div id="left">
		<label for="sku">SKU:</label><input type="text" name="sku" id="sku" value="[cgi load_sku]"/>
		[if cgi load_sku]<input type="hidden" id="triggerLoad" />[/if]
		<input type="hidden" name="load_sku" id="load_sku" value="[cgi load_sku]"/>
		<br />
		<img id="product" />
		<br />
		<span id="status">Current status:<span></span></span>
		<div id="submits">
			<input type="submit" name="inactive" id="inactive" value="Change Frame Status" />
		</div>
		<input type="hidden" name="state" id="state" value="" />
		<input type="hidden" name="submitted" value="1" />
		[if cgi skip_search]<input type="hidden" name="skip_search" value="1" />[/if] 
		<div id="view" style="text-align: right;">
			<a style="color: blue; cursor: pointer;" href="[area admin/view-states]">View History for All Items</a>
		</div>
	</div>
	<div id="right">
		<ul id="changes"></ul>
	</div>
</form>

<div id="modal">
	<a href="#" style="position: absolute; top: 5px; right: 10px; font-size: 13px;color: #F00;" onclick="$('#modal').hide(); return !1;" class="close">CLOSE (X)</a>
	<label for="reason">
		<p>Reason:</p>
		<select id="reason" name="reason">
		[perl tables="products"]
		my $dbh = $Sql{products};
		my $sth = $dbh->prepare('select code,reason, inactive from product_status_codes order by inactive asc');
		my $out;
		$sth->execute;
		while (my $row = $sth->fetchrow_arrayref){
			$out .= sprintf('<option class="%3$s" value="%1$s">%2$s</option>', $row->[0], $row->[1], $row->[2] ? 'inactive':'')
		}
		return $out;
		[/perl]
		</select>
	</label>
	<label for="expected_return">
		<p>Expected Return Date:<p>
		<input type="text" name="expected_return" id="returnDate" />
	</label>
	<label for="comments">
		<p>Additional Comments:</p>
		<textarea id="comments" name="comments"></textarea>
	</label>
	<br style="clear:both" />
	<input type="submit" style="float: right" value="Submit" id="sendForm" />
</div>
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->

[if cgi load_search]
	[set loadedSearch]1[/set]
	[bounce load_search_data]
[/if]