@_UI_STD_HEAD_@

<h3>Consolidate user accounts</h3>

[set findac]
mv_nextpage=@@MV_PAGE@@
[/set]

[set consac]
mv_nextpage=@@MV_PAGE@@
[/set]

[if cgi cons]
[if type=explicit compare="$CGI->{accounts} && $CGI->{consolidate_to}"]
	[tmp acc_list][calc]
		#
		# Seperate out accounts
		#
		if ($CGI->{accounts}) {
			$ac = $CGI->{accounts};
			$ac =~ s/\0/ /g;
		}
		return $ac;
	[/calc][/tmp]
	
	Consolidating Accounts...
	[scratch acc_list]
	<br>
	<br>into [cgi consolidate_to]

	[comment]
		Go through each username. Transfer transaction/orderline/prescription data to specified username, i.e. replace username reference with new one
		Transfer points over and add to specified usernames a/c
	[/comment]
	[loop list="[scratch acc_list]"]
	
		[if term="[loop-code]" op="eq" compare="[cgi consolidate_to]"]
		
			<font color="red">[loop-code] skipped... cannot consolidate account [loop-code] to itself.</font>
		
		[else]		
	
			[query sql="UPDATE transactions SET username='[cgi consolidate_to]' WHERE username='[loop-code]'" type=list][/query]
			[query sql="UPDATE orderline SET username='[cgi consolidate_to]' WHERE username='[loop-code]'" type=list][/query]
			[query sql="UPDATE prescriptions SET username='[cgi consolidate_to]' WHERE username='[loop-code]'" type=list][/query]
			[query sql="SELECT reward_points FROM userdb WHERE username='[loop-code]'" type=list prefix=pts list-prefix=pts]
			[pts]
				[tmp points][pts-param reward_points][/tmp]
			[/pts]
			[/query]
			
			[if !scratch points]
				[tmp points]0[/tmp]
			[/if]
			
			[query sql="UPDATE userdb SET reward_points='0',consolidated=1,prev_email=email,email=CONCAT('#[data session id]#CON#',email),inactive=1 WHERE username='[loop-code]'" type=list][/query]
			[query sql="UPDATE userdb SET reward_points=reward_points+[scratch points], consolidated='' WHERE username='[cgi consolidate_to]'" type=list][/query]
		
		[/else]
		[/if]
		
	[/loop]
[else]
	You cant do anything without choosing accounts!
[/else]
[/if]

[elsif cgi go]
	[if type=explicit compare="!$CGI->{email} && !$CGI->{phone}"]
		Error. You need to enter either an email address or phone number.
	[else]
		[tmp sql][calc]
			#
			# Build the SQL query
			#

			my $sql = "SELECT username,fname,lname,address1,zip,reward_points,email FROM userdb WHERE ";
			my $email;
			my $phone;

			if ($CGI->{email}) {
				$email = $CGI->{email};
				$sql .= "email='$email'"
			}
			if ($CGI->{phone}) {
				$phone = $CGI->{phone};
				if ($email) {
					$sql .= " AND (phone_day='$phone' OR phone_night = '$phone')";
				} else {
					$sql .= "phone_day='$phone' OR phone_night='$phone'";
				}
			}
			return $sql;
		[/calc][/tmp]

		<p>
		<strong>Accounts matching</strong>
		</p>
		<form action="[process]" method="post">
		<input type="hidden" name="mv_click" value="consac">
		<input type="hidden" name="cons" value="1">
		<table style="font-size: 11px" cellpadding=3>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Username / Email</strong></td>
			<td><strong>Name</strong></td>
			<td><strong>Address</strong></td>
			<td><strong>Zip</strong></td>
			<td><strong>EyeBucks Rewards</strong></td>
		</tr>
		[tmp sbox][/tmp]
		[tmp nomatch][/tmp]
		[tmp acc_count]0[/tmp]
		[query sql="[scratch sql]" type=list]
		[list]
		<tr>
			<td><input type="checkbox" name="accounts" value="[sql-param username]"></td>
			<td><a href="[area href="admin/customer_view" form="customer=[sql-param username]"]" target="_blank">[sql-param username]</a> / [sql-param email]</td>
			<td>[filter op="uc"][sql-param lname][/filter], [sql-param fname]</td>
			<td>[sql-param address1]...</td>
			<td>[sql-param zip]</td>
			<td align="right">[currency][sql-param reward_points][/currency]</td>
		</tr>
		[calc]
			#
			# Add this username to the select box
			#
			my $username = q{[sql-param username]};
			my $fname = q{[sql-param fname]};
			my $lname = q{[sql-param lname]};
			my $email = q{[sql-param email]};
			$Scratch->{sbox} .= "<option value=\"$username\">$username - $lname, $fname ($email)</option>";
			$Scratch->{acc_count}++;			
			return undef;		
		[/calc]
		[/list]
		[no-match]
			[tmp nomatch]1[/tmp]			
		[/no-match]
		[/query]
		</table>
		
		[if type="explicit" compare="$Scratch->{acc_count} > 1"]
		<p>
		Consolidate selected orders, prescriptions and SmartFit points into this account:
		<select name="consolidate_to">
		[scratch sbox]
		</select>
		</p>

		<p>
		<strong>Important:</strong> Make sure the account selected to consolidate into is not checked above.
		</p>

		<p>
		<input type="submit" value="Consolidate!">
		</p>
		
		[elsif !scratch nomatch]
		 <h2 style="color:red">Cannot consolidate, only 1 account found matching the details entered.</h2>
		[/elsif]
		[else]
		 <h2 style="color:red">No accounts found.</h2>
		[/else]
		[/if]
		</form>

		<p>
		<a href="[area admin/consolidate]">Back</a>
		</p>

	[/else]
	[/if]
[/elsif]
[else]

	<form action="[process]" method="post">
	<input type="hidden" name="mv_click" value="findac">
	<input type="hidden" name="go" value="1">
	<table width="100%">
	<tr>
		<td align="right">Email address</td>
		<td><input type="text" name="email" size="20"></td>
	</tr>
	<tr>
		<td align="right">Phone number</td>
		<td><input type="text" name="phone" size="20"></td>
	</tr>
	<tr>
		<td align="right"></td>
		<td><input type="submit" value="Find accounts"></td>
	</tr>
	</table>
	</form>

[/else]
[/if]

@_UI_STD_FOOTER_@