<!-- MODIFIED -->
[set page_title][L]Create a new free pair coupon[/L][/set]
[set ui_class]Coupons[/set]
[set help_name]coupon_entry.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		.error{ color: red; font-weight: bold }
		
		#form-elements{ float: left; padding: 15px; margin: 5px 10px; border: 1px solid black }
		
		#form-elements label{ display: inline-block; width: 175px; vertical-align: top; margin: 5px 0 }
		#form-elements input, #form-elements textarea{ margin: 5px 0 }
		
		#help-text{ display: none; float: left; width: 250px; height: 75px; border: 1px solid black; padding: 10px; margin: 5px }
		#start-end-div{ display: none }
		#submit{ float: right }
	</style>
	<script type="text/javascript">
	$(function(){
		var helpText = $('#help-text');
		$('#form-elements input, #form-elements textarea').focus(function(){
			helpText.show()
							.text( $(this).attr('data-helptext') );
		}).blur(function(){ helpText.text('').hide(); });
		
		$('#lbl-one-month-expiry').hover(function(){
				if( !helpText.is(':visible') ){
					helpText.show();
				}
				helpText.text( $('#one-month-expiry').attr('data-helptext') );
			},function(){ helpText.text('').hide(); }
		);
		
		$('#one-month-expiry').change(function(){
			$('#start-end-div').toggle();
		});
		var warnOnce = false;
		$('#description').keydown(function(){
			var $this = $(this);
			if( $this.val().length > 255 ){
				if( !warnOnce ){
					alert('Description cannot be longer than 255 characters');
					warnOnce = true;
				}
				$this.val( $this.val().substr(0,255) );
				return false;
			}
		});
		
		$('#coupon-creator').submit(function(){
			var submit = true;
			if( $('#coupon_code').val() == '' ){
				$('#errors').append( $('<li id="error-coupon_code"/>').text('You MUST supply a coupon code') );
				$('#coupon_code').blur(function(){
					if( $(this).val() )
						$('#error-coupon_code').remove();
				});
				submit = false;
			}
			return submit;
		});
				
		
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi submit]
	<p>
	[perl tables="products coupon_codes" failure="<span class='error'>There was an error creating the '[cgi coupon_code]' coupon. Ask me to investigate</span>"]
		return qq|Coupon "$CGI->{coupon_code}" already exists!|
			if $Tag->query({ sql => "SELECT code FROM coupon_codes WHERE code = " . $Tag->filter('dbi_quote',$CGI->{'coupon_code'}), table=>"coupon_codes" })->[0];
		
		my $sql = q|INSERT INTO coupon_codes (code,type,start_dt,end_dt,coup_item_disc_qty,coup_amt,coup_type,description,enabled,orig_qty,qty_remain,apply_max,free_ship) VALUES (|;
		my @columns = (
			{ variable => 'coupon_code' },
			'highest_item',
			{ variable => 'start_date' },
			{ variable => 'end_date' },
			1,
			100,
			'pct',
			{ variable => 'description' },
			1,
			1,
			1,
			{ variable => 'max_value' },
			1
		);

		if( $CGI->{'one-month-expiry'} ){
			$CGI->{start_date} = $Tag->time({ format => '%Y%m%d' });
			$CGI->{end_date} = $Tag->time({ adjust => '+4 weeks', format => '%Y%m%d' });
		}else{
			foreach( qw/start_date end_date/ ){
				my @dateParts = split(/\0/,$CGI->{$_});
				$CGI->{$_} = $dateParts[4] . $dateParts[0] . $dateParts[2];
			}
		}
			
		
		foreach( @columns ){
			$sql .= $Tag->filter({ op => 'dbi_quote', body => ref eq 'HASH' ? $CGI->{ $_->{variable} } : $_ }) . ",";
		}
		chop$sql;

		$Tag->query({ sql => "$sql)", table=>"coupon_codes" });

		return qq|Coupon "$CGI->{coupon_code}" created successfully|;		
	[/perl]
[/if]

<form method="POST" id="coupon-creator" action="[area @@MV_PAGE@@]">
	<div id="error-div" class="error">
		<ul id="errors">
		</ul>
	</div>
	<div id="form-elements">
		<label for="coupon_code">Coupon Code:</label>
		<input type="text" name="coupon_code" id="coupon_code" maxlength="20" data-helptext="The code the customer will enter" />
		<br />
		<label for="description">Description:</label>
		<textarea id="description" name="description" rows="2" cols="30" data-helptext="The text the customer will see when the coupon is applied">[cgi description]</textarea>
		<br />
		<label for="max_value">Max value of coupon:</label>
		<input type="text" name="max_value" id="max_value" value="100.00" data-helptext="The maximum value to discount an item" />
		<br />
		<label for="one-month-expiry" id="lbl-one-month-expiry">
			<input type="checkbox" name="one-month-expiry" id="one-month-expiry" data-helptext="If this is checked the start date will be the current date and the coupon will expire in 1 month" checked />
			Valid for one month?
		</label>
		<br />
		<div id="start-end-div">
			<label for="start_date">Start date:</label>
			[display type="date" name="start_date"]
			<br />
			<label for="end_date">End date:</label>
			[display type="date" name="end_date" value='[time adjust="+4 weeks"]%m-%d-%Y[/time]']
			<br />
		</div><!-- end #start-end-div -->
		<input type="submit" name="submit" id="submit" value="Create coupon" />
	</div><!-- end #form-elements -->
	<div id="help-text"></div>
	
</form>

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
