<!-- MODIFIED -->
[set page_title][L]Create an RMA for this order[/L][/set]
[set ui_class]Orders[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		br.clear{ clear: both }
		label{ display: inline-block; width: 200px; vertical-align: top; margin: 5px 0 }
		
		input,select,textarea,ul{ margin: 5px 0 }
		
		#reasonCategories{ padding: 0; list-style: none; display: inline-block; vertical-align: top }
		#reasonCategories li{ display: inline-block; margin: 0 5px; padding: 2px; cursor: pointer; border: 1px dotted black; float: left }
		#reasonCategories li.selected{ background: yellow }		
	</style>
	<script type="text/javascript">
	var types = new Object;

	$(function(){
		var $selectBox = $('#reasonCode');
		var $ul = $('#reasonCategories');
		$selectBox.find('option').each(function(){
			var category = $(this).attr('data-category');
			if( !types[category]  ){
				var $li = $('<li>' + category + '</li>').click(function(){ 
					$selectBox.find('option').remove(); 
					$selectBox.append( types[category] ); 
					$(this).addClass('selected').siblings().removeClass('selected'); 
				} );
				$ul.append( $li );
				types[category] = $('#reasonCode option[data-category=' + category + ']');
			}
		});
		
		$selectBox.find('option').remove();
		//default selected
		$selectBox.append( types['FRAME'] );
		$ul.find('li:contains(' + 'FRAME' + ')').addClass('selected');
		
		var $rmaCount = $('<select name="rmaCount" />');
		$( new Array(1,2,3,4,5,6,7,8,9,10) ).each(function(i,el){ $rmaCount.append( $('<option>Oh?</option>').text(el) ); })
		
		$('#trigger-count-override').click(function(){
			var $this = $(this);
			//debugger;
			if( $this.is(':checked') ){
				$this.after( $rmaCount );
			}else{
				$this.siblings('select[name=rmaCount]').remove();
			}
		});
		
		$('#create-rma').submit(function(){
			var $this = $(this);
			var $initials = $(this).find('#initials');
			if( $initials && ( !$initials.val() || $initials.val().length != 3 ) ){
				alert( 
					($initials.val().length != 0 ? 'Initials must be 3 characters' : 'You MUST enter your initials') 
				);
				return false;
			}
			
			return true;
		});
		
	});
	
	[if cgi submit]
		var notePosted = false;
		$(function(){
			$('#address,#rmaNumber').click(function(){ $(this).select(); });
			
			$('#notes').submit(function(e){
				e.preventDefault();
				
				var $this = $(this);
				$this.find('input[type=submit]').attr('disabled','disabled');
				
				$.ajax({
					url: '/admin/ajax_controller.html',
					data: 'project=rma&task=add-note&' + $this.serialize(),
					dataType: 'json',
					success: function(response){
						if( response.success ){
							$('#tracking').html('Note updated. <a href="[area href="admin/view_history" form="orderid=[cgi order_number]"]" target="_new">View notes</a>');
							notePosted = true;
						}else{
							alert("Note NOT added, please contact the web department.");
							$this.find('input[type=submit]').attr('disabled','');
						}
					},
					error: function(obj,status,error){
						alert('Some sort of error:\n' + status + "\n----\n" + error);
						$this.find('input[type=submit]').attr('disabled','');
					}
				});

			});
			
		});
		
		$(window).bind('beforeunload',function(){
			if( !notePosted ){
				return "This order has NOT had a note attached to it yet. Please fill in the tracking number then click 'Add note'";
			}
		});
		
	[/if]
	
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

[tmp initials][calcn]my @name = split(/ /,$Values->{name}); return join('',map{ /^(.)/; uc$1 } @name);[/calcn][/tmp]

<!-- ----- BEGIN REAL STUFF ----- -->
[if cgi submit]
	[perl no_return=1 tables="history rma rma_reasons products" failure="<span class='error'>There was an error creating the records, please notify someone in the web department immediately.</span>"]
		my $lineItem = $CGI->{'line-item'};
		my $rmaCount = $CGI->{rmaCount};
		my $expectedOutcome = $CGI->{'expectedOutcome'};
		my $additionalComments = $Tag->filter('dbi_quote',$CGI->{additionalComments} );
		my $initials = uc$CGI->{initials};
		
		#If rmaCount wasn't overridden, find the current return count number
		$rmaCount ||= $Tag->query({ sql => "SELECT COUNT(1) + 1 FROM rma WHERE order_number = $CGI->{order_number}", table => 'rma' })->[0][0];
		
		my $rmaNumber = $initials . $Tag->convert_date({fmt => '%m%d'}) . '-' . $CGI->{order_number} . "-$lineItem-$rmaCount";
		
		$Tag->tmp('rmaNumber',$rmaNumber);
		
		my $sql = 
			'INSERT INTO rma (rmaNumber,order_number,lineItem,returnCount,csrInitials,expectedOutcome,reasonCode,initiatedOn) VALUES ' . 
			"('$rmaNumber','$CGI->{order_number}',$lineItem,$rmaCount,'$initials','$expectedOutcome',$CGI->{reasonCode}, DATE( NOW() ) )";
		
		#EXECUTE RMA INSERT
		$Tag->query({ sql => $sql, table=>"rma" });
		
		$Tag->tmp('rmaCode',
			sprintf('%05d',$Tag->query({ sql => 'SELECT LAST_INSERT_ID()', table => 'rma' })->[0]->[0])
		);
		
		my $row = $Tag->query({ sql => "SELECT abbreviation,reason FROM rma_reasons WHERE reasonCode = $CGI->{reasonCode}", table => 'rma_reasons' })->[0]; 
		
		my ($rmaReasonAbbreviation,$rmaReason) = ( $row->[0], $row->[1] );
		
		my $note = $Tag->filter('encode_entities',qq|RMA number ($rmaNumber)<br />Reason Code ($rmaReasonAbbreviation): $rmaReason<br />Result Requested: $expectedOutcome<br />Additional Comments:<br />$CGI->{additionalComments}<br />Internal Code: $Scratch->{rmaCode}|);
		$Tag->tmp('note',$note);
	[/perl]
	<label>Dazzle Label:</label>
	<textarea id="address" cols="40" rows="5" readonly>[query 
		type=list
		sql=|SELECT fname, lname, address1, address2, city, state, zip FROM transactions WHERE order_number = [cgi order_number]|
	][sql-param fname] [sql-param lname], Dept [scratchd rmaCode]
[sql-param address1][if-sql-param address2]
[sql-param address2][/if-sql-param]
[sql-param city], [sql-param state] [sql-param zip][tmp customerName][sql-param fname] [sql-param lname][/tmp][/query]</textarea>
	<br />
	<form id="notes">
		<input type="hidden" name="order_number" value="[cgi order_number]" />
		<input type="hidden" name="note" id="note" value="[scratch note]" />
		<label for="rmaNumber">RMA Number:</label><input type="text" name="rmaNumber" id="rmaNumber" value="[scratch rmaNumber]" readonly />
		<br />
		<div id="tracking">
			<label for="trackingNumber">Tracking Number:</label>
			<input type="text" name="trackingNumber" id="trackingNumber" />&nbsp;(<span style="color: red; font-weight: bold">required</span>)&nbsp;<input type="submit" value="Add note" />
		</div>
	</form>
	<br />
	<label for="email">E-mail template:</label>
	<a href="mailto:[data table="transactions" field="email" key="[cgi order_number]"]?subject=Prepaid Shipping Label&body=[calc]
		my $output = qq|Dear [scratch customerName],

Thank you for choosing 39dollarglasses.com. We do apologize for the inconvenience that you have encountered with your order. Please send the glasses back to us, using the attached prepaid shipping label. Your RMA number is [scratch rmaNumber]. As a reminder, your return must be received within 30 days from the date you received your order.

Attached, you will also find a Return/Exchange Form. Please be sure to fill out the fields that are applicable to your return. Failure to complete all relevant fields will result in a delay in the processing of your return, as we will need to contact you for further information.

The prepaid shipping label that is provided is for USPS First Class mail shipping only. Any upgraded return shipping, such as using a priority mailbox, will be at your own expense and must be done at your local post office. Packages that are received requiring additional postage above USPS First Class mail will not be delivered and will be returned back to you.

If you have any further questions, please feel free to contact us at 800.672.6304 or via email to contact@39dollarglasses.com or Live Chat Support.

Thanks,
39dollarglasses.com|;
		$output =~ s/\n/\%0A/xg;
		return $Tag->filter('encode_entities',$output);
	[/calc]">Create e-mail</a>
[else]
	<form action="[area @@MV_PAGE@@]" method="POST" id="create-rma">
		<input type="hidden" name="order_number" value="[cgi order_number]" />	
		[if explicit][condition]!($Scratch->{initials} && length($Scratch->{initials}) == 3)[/condition]
		<label for="initials">Initials:</label><input type="text" name="initials" id="initials" /><br />
		[else]
		<label>Initials:</label>[scratch initials]<br />
		<input type="hidden" name="initials" id="initials" value="[scratch initials]" />
		[/else][/if]
		
		<label for="line-item">RMA for item #:</label>
		<select name="line-item">
			[perl tables="orderline"]
				my $number = $Tag->query({ sql => "SELECT COUNT(1) AS counter FROM orderline WHERE order_number = " . $CGI->{order_number}, table => 'orderline' })->[0]->[0];
				my $output = '';
				
				for(1..$number){
					$output .= "<option>$_</option>\n";
				}
				
				return $output;
			[/perl]
		</select>
		<br />
		<label for="trigger-count-override">Override RMA count?</label><input type="checkbox" name="trigger-count-override" id="trigger-count-override" />
		<br />
		<label>RMA Reason Categories:</label>
		<ul id="reasonCategories"></ul>
		<br class="clear" />
		<label for="reasonCode">Reason for RMA:</label>
		<select name="reasonCode" id="reasonCode">
			[query
				type=list
				sql=|
					SELECT types.category,reasons.reasonCode,reasons.abbreviation,reasons.reason
					FROM rma_reasons reasons
					INNER JOIN rma_reason_types types ON reasons.typeCode = types.typeCode
					ORDER BY types.category|
					
			]
			<option value="[sql-param reasoncode]" data-category="[sql-param category]">[sql-param abbreviation] - [sql-param reason]</option>
			[/query]
		</select>
		<br />
		<label for="additionalComments">Additional comments:<br /><i>(optional)</i></label>
		<textarea name="additionalComments" id="additionalComments" rows="4" cols="40"></textarea>
		<br />
		<label for="expectedOutcome">Expected outcome:</label>
		<select name="expectedOutcome" id="expectedOutcome">
			<option>Exchange</option>	
			<option>Refund</option>	
			<option>Unknown</option>
		</select>
		<br />
		<input type="submit" name="submit" value="Initiate RMA" />
	</form>
[/else][/if]
<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->