[calc]
	if($CGI->{customer}) {
		$CGI->{item_id} = $CGI->{customer};
	}
	if(! $CGI->{item_id} and $Session->{arg}) {
		$CGI->{item_id} = $CGI->{customer} = $Session->{arg};
	}
	$CGI->{customer} = $CGI->{item_id} if ! $CGI->{customer};
	return if ! $CGI->{item_id};
	if(! $CGI->{mv_data_table}) {
		$CGI->{ui_hide_key} = 1;
		$CGI->{mv_data_table} = 'userdb';
	}
	if(! $CGI->{ui_data_fields}) {
		$CGI->{ui_data_fields} = '
				=General
				
				username
				company
				title fname lname
				fax_order
				mv_shipmode
				inactive

				=Dealer Status

				dealer
				price_level
				project_id
				credit_limit

				=Email Preferences

				email
				email_copy
				mail_list

				=Contact Info

				phone_day
				phone_night
				fax

				=Permissions

				db_acl
				file_acl';
		$CGI->{ui_display_only} = 'company fname lname phone_day';
					
	}
	if(! $CGI->{ui_return_to}) {
		$CGI->{ui_return_to} = join "\0",
									'__UI_BASE__/customer_view',
									"customer=$CGI->{item_id}",
								;

	}
	return;
[/calc]
[if !cgi item_id]
	[bounce page="__UI_BASE__/customer"]
[/if]

[set ui_class]Customers[/set]
[seti page_title]Customer preferences -- [cgi item_id][/seti]
[seti page_banner]Customer preferences: <B>[page href="__UI_BASE__/customer_view" form="customer=[cgi customer]"][cgi customer]</A></B>[/seti]
[set help_name]customer.edit[/set]
[set icon_name]icon_people.gif[/set]

@_UI_STD_HEAD_@
<P>
[table-editor cgi=1 output_map=1 form-name=customer_pref]

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@
[return-to click]
-->
