[set page_title][L]Customer manager[/L]: [L]View customer[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]View customer[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[calc]
	delete $Scratch->{ui_bounce};
	#Log("got here, customer=$CGI->{customer}, arg=$CGI->{mv_arg}");
	return if $CGI->{customer};
	$CGI->{customer} = $CGI->{mv_arg} 
		or $Scratch->{ui_bounce} = '__UI_BASE__/customer';
	return;
[/calc]
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[tmp meta_header]<script src="__JQUERY__" type="text/javascript"></script>[/tmp]
<!-- ----- BEGIN REAL STUFF ----- -->
[update values]
[loop list="[value-extended customer]"]

<table border=0 __UI_T_PROPERTIES__>
<tr>
<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
</tr>

<tr>
<td colspan=6 align=left class=rnorm>
<table>
<tr><td align=right>
<b>[L]Customer Username[/L]: </td><td>[loop-code]</b></td>
</tr><tr>
<td align=right valign="top"><b>[L]Customer[/L]: </td><td>
<A HREF="[area
				href=__UI_BASE__/customer_pref
				form=|
					customer=[cgi customer]
				|
		]"><u>[loop-data userdb fname] [loop-data userdb lname]</u></A>
		</b> (<a href="[area href=admin/edit_points form="u=[loop-code]"]">Edit SmartFit points</a>)
		<br /><br />
		<button style="font-size:14px;" onclick="window.location='[area href="admin/order_new" form="customer=[loop-code]"]'">Create New Order</button>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td colspan=2 valign=top>

<!-- ----- Customer information ----- -->

<form>

<table border=0>

[if term="[loop-data userdb consolidated]"]
<tr><td align=left>
<font size=2>Consolidated Account</font></td></tr>

[/if]

<tr><td align=right>
<font size=2><b> [L]Company[/L]: </b></font>
</td><td><font size=2>[loop-data userdb company]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Home phone[/L]: </b></font>
</td><td><font size=2>[loop-data userdb phone_night]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Work phone[/L]: </b></font>
</td><td><font size=2>[loop-data userdb phone_day]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Email[/L]: </b></font>
</td><td><font size=2> <a href="mailto:[loop-data userdb email]"><U>[loop-data userdb email]</U></a></font></td></tr>
<tr><td align=right>
<font size=2><b> [L]Payment type[/L]: </b></font>
</td><td><font size=2>[display arbitrary=custview table=userdb column=fax_order key="[loop-code]"]</a></font></tr>

[if-loop-data userdb project_id]
<tr><td align=right>
<font size=2><b>[L]PO Number[/L]:</b></font>&nbsp;
</td><td><font size=2>[loop-data userdb project_id]</font></td></tr>
[/if-loop-data]

[if-loop-data userdb fax]
<tr><td align=right>
<font size=2><b>[L]FAX number[/L]:</b></font>&nbsp;
</td><td><font size=2>[loop-data userdb fax]</font></td></tr>
[/if-loop-data]

<tr><td align=right>
<font size=2><b>[L]Dealer[/L]:</b></font>&nbsp;
</td><td><font size=2>[display arbitrary=custview table=userdb column=dealer key="[loop-code]"]</font></td></tr>


<tr><td align=right>
<font size=2><b>[L]Wants email copy[/L]:</b></font>&nbsp;
</td><td><font size=2>[display arbitrary=custview table=userdb column=email_copy key="[loop-code]"]</font></td></tr>

<tr><td align=right>
<font size=2><b>[L]Mail lists[/L]:</b></font>&nbsp;
</td><td><font size=2>[loop-data userdb mail_list]</font></td></tr>

<tr><td align=right valign="top">




<font size=2><b>[L]Saved Prescription[/L]:</b></font>&nbsp;
</td>
<td>
[seti thisuser][loop-data userdb username][/seti]
[loop prefix=prsc search="fi=prescriptions/se=[scratch thisuser]/sf=username"]
[seti thecode][prsc-data prescriptions code][/seti]
<font size=2>O.D. [prsc-data prescriptions od_sphere] [prsc-data prescriptions od_cylinder] [prsc-data prescriptions od_axis] [prsc-data prescriptions od_add]</font>
<br>
<font size=2>O.S. [prsc-data prescriptions os_sphere] [prsc-data prescriptions os_cylinder] [prsc-data prescriptions os_axis] [prsc-data prescriptions os_add]</font>
<br>
<font size=2>PD: [prsc-data prescriptions pd]</font> 
 &nbsp;
<A HREF="[area
				href=__UI_BASE__/flex_editor
				form=|
					ui_return_to=__UI_BASE__/customer_view
					ui_hide_key=1
					ui_data_fields=code username od_sphere od_cylinder od_axis od_add os_sphere os_cylinder os_axis os_add pd
					page_title=Edit Prescription: [prsc-data prescriptions code]
					item_id=[prsc-data prescriptions code]
					mv_data_table=prescriptions
				|
		]"><b><u>[L]Edit Saved Prescription[/L]</u></b></A>
[/loop]
<br>
</td>
</tr>

</table>
</form>

</td><td valign=top colspan=4>
[set bill_address]
[loop-data userdb b_fname] [loop-data userdb b_lname]<br>
[loop-data userdb b_address1]<br>
[if-loop-data userdb b_address2]
[loop-data userdb b_address2]<br>
[/if-loop-data]
[loop-data userdb b_city], [loop-data userdb b_state] [loop-data userdb b_zip]<br>
[/set]

[set ship_address]
[loop-data userdb fname] [loop-data userdb lname]<br>
[loop-data userdb address1]<br>
[if-loop-data userdb address2]
[loop-data userdb address2]<br>
[/if-loop-data]
[loop-data userdb city], [loop-data userdb state] [loop-data userdb zip]<br>
[/set]

<font size=2>
<p>
[if-loop-data userdb username]
<A HREF="[area
				href=__UI_BASE__/customer_bill
				form=|
					customer=[loop-data userdb username]
				|
		]"><b><u>[L]Bill To[/L]</u>:</b></A>
[else]
		<b>[L]Bill To[/L]:</b>
[/else]
[/if-loop-data]
<blockquote>
[if-loop-data userdb b_address1]
[scratch bill_address]
[else]
[scratch ship_address]
[/else]
[/if-loop-data]
</blockquote>

<A HREF="[area
				href=__UI_BASE__/customer_ship
				form=|
					customer=[cgi customer]
				|
		]"><b><u>[L]Ship To[/L]</u>:</b></A>
<br>
<blockquote>
[scratch ship_address]
</blockquote>

[set amb_deactivate][ambassador function="change_ambassador_status" email="[loop-data userdb email]" ambassador_status="inactive"][/set]
[set amb_activate][ambassador function="change_ambassador_status" email="[loop-data userdb email]" ambassador_status="active"][/set]
[set amb_new_coupon][ambassador function="change_coupon" email="[loop-data userdb email]"][/set]
[tmp amb_email][loop-data userdb email][/tmp]
[tmp amb_501c_eligibile][ambassador function="is_501c_eligible" email="[loop-data userdb email]"][/tmp]
[calcn hide=1]
    my $amb_info = $Tag->ambassador({ function => 'ambassador_info', email => $Scratch->{'amb_email'} });
    $Scratch->{'amb_status'} = $amb_info->{'status'};
    $Scratch->{'amb_coupon_code'} = $amb_info->{'coupon'};
	$Scratch->{'amb_501c'} = $amb_info->{'501c'};[/calcn]
<div id="modal_overlay"></div>
<div id="alert">

</div>
<style type="text/css">
	#amb_prompt{
		position: fixed;
		background: #fff;
		border: 2px solid red;
		padding: 0 20px;
		border-radius: 8px;
		-moz-border-radius: 8px;
		box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.80);
	    -moz-box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.80);
	    -webkit-box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.80);
	}
	#amb_prompt input{
		width: 200px;
		margin: auto;
		display: block;
	}
	#amb_prompt input.error{
		border: 2px solid red;
	}
	#amb_prompt h1{
		text-align: center;
		font-size: 1.4em;
		font-weight: normal;
	}
	#amb_prompt a {
		text-align: center;
		font-size: 1.1em;
		padding: 0 10px;
	}
	#amb_prompt a:hover {
		color: red;
		text-decoration: none;
	}
	#amb_prompt p.header{
		color: red;
		text-align: center;
		font-size: 1.4em;
		font-weight: bold;
	}
	#amb_prompt p{
		text-align: center;
		font-size: 1.1em;
	}
	#modal_overlay{
		width: 100%; height: 100%; zoom: 1;z-index: 99998;position:fixed; top: 0; left: 0; background: gray; 
		display: none;
	    opacity: .6; 
	    filter: alpha(opacity=60); /* IE 7 and Earlier */
	    /* Next 2 lines IE8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	}
	#alert{
		position: fixed;
		bottom: 0;
		height: 20px;
		left: 200px;
		width: 600px;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
		padding: 15px;
		opacity: .9; 
	    filter: alpha(opacity=90); /* IE 7 and Earlier */
	    /* Next 2 lines IE8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	}
	#amb_501{
		padding-top: 8px;
	}
	.answers{
		width: 110px;
		margin: auto;
	}
	.answers.long{
		width: 170px;
		margin: auto;
	}
	span.annoy{
		text-align: center;
		color: red;
		display: none;
	}
	span.valid{
		text-align: center;
		color: green;
		display: none;
		padding-top: 5px;
	}
</style>
<p><u>[L]Ambassador Program[/L]:</u></p>
<p>
    <blockquote>
        <form method="post" id="ambCreate" action="[area admin/customer_view]">
            <input type="hidden" name="mv_action" value="process" />
            <input type="hidden" name="mv_todo" value="refresh" />
            <input type="hidden" name="customer" value="[cgi customer]" />
            <input type="hidden" name="email" value="[scratch amb_email]" />
            <b>Ambassador</b>: [if scratch amb_status]Yes
            [else]
            	No <button name="mv_click" id="amb_501" onclick="return !1;" value="amb_create">Create Ambassador</button>

	            <div id="status_501">
	            	<script type="text/javascript">
	            	var non_profit;
	            	$(document).ready(function(){
	            		$('#coup501').keypress(function(e){
	            			var keycode =  String.fromCharCode(e.which);
	            			if(keycode.match(/^[0-9A-Za-z_\-]+$/)){
	            				$('span.valid').css('display','none');
	            				return !0;
	            			}else{
	            				$('span.valid').css('display','block');
	            				e.stopImmediatePropagation();
	            				return !1;
	            			}
	            		});
	            		$('#amb_501').click(function(e){
	            			e.preventDefault();
	            			e.stopPropagation();
	            			$('#prompt_501').show();
	            			modal(80, 500);
	            		});
	            		$('#alert').css('left', (($(window).width()  - 600 )/ 2 )+'px');
	            	})
	            	function updateStatus(check){
	            		if (check){
	            			if(!$('#coup501').val() || !$('#coup501').val().match(/^[0-9A-Za-z_\-]+$/) ){
	            				$('#coup501').addClass('error');
	            				$('span.annoy').css('display','block').show();
	            				return !1;
	            			} else {
	            				$('#coup501').removeClass('error');
	            				$('span.annoy').hide();
	            			}
	            		}
	            		$.ajax({
	            			url: "/admin/update_amb_501_status.html",
	            			data: $('#ambCreate').serialize()+'&mv_click=amb_create&make_501c='+(non_profit||0),
	            			type: 'POST',
	            			dataType: 'JSON',
	            			success: function(data){
	            				$('#amb_prompt, #modal_overlay, #opt_501').hide();
	            				if (data.error){
	            					$('#alert').css('background','red').html(data.response).slideDown('fast', function(){
	            						$('#alert').delay(3000).slideUp('fast');
	            					});
	            				}else{
	            					if(data.html){
	            						$('#ambCreate').replaceWith(data.html);
	            					}
	            					$('#alert').css('background','green').html(data.response).slideDown('fast', function(){
	            						$('#alert').delay(3000).slideUp('fast');
	            					});
	            				}
	            			}
	            		});
	            	}
	            	function modal(height, width){
	            	  var top;
					  //hate IE
					  var scrolltop = document.documentElement.scrollTop ? 
					      document.documentElement.scrollTop : 
					      document.body.scrollTop;
					  if ($(window).height() < (height + 10)){
					       top = scrolltop;
					  }else{
					     top = ((($(window).height() - (height || 460)) /2 )  + scrolltop );
					  }
					  $('#amb_prompt')
					      .css({
					      	width: width+'px',
					        height: height+'px',
					        top: top + 'px',
					        left: (($(window).width() - 500) /2 )+'px',
					        'z-index' : 99999,
					        position: 'fixed'
					  }).show();
					  $('#modal_overlay').show();
					}
	            	</script>
	            	<div id="amb_prompt" style="display: none">
	            		<div id="prompt_501" style="display: none">
		            		<p>Would you like to make this ambassador 501C?</p>
			            	<div class="answers long">
			            		<a href="#" onclick="non_profit = 1; $('#prompt_501').hide(); $('#amb_prompt').css('height', '240px'); $('#opt_501').show(); return !1;">Yes</a>
			            		<a href="#" onclick="non_profit = 0; $('#prompt_501').hide(); $('#amb_prompt').css('height', '150px'); $('#warn_501').show(); return !1;">No</a>
			            		<a href="#" onclick="$('#amb_prompt, #modal_overlay, #opt_501, #warn_501').hide(); return !1;">Cancel</a>
			            	</div>
		            	</div>
		            	<div id="warn_501" style="display: none">
		            		<p class="header">Wait!</p>
		            		<p>This is going to create this customer as an ambassador.</p>
		            		<p>This status may not be reversed, are you sure you want to continue?</p>
		            		<div class="answers">
		            			<a href="#" onclick="updateStatus(); return !1;">Yes</a>
		            			<a href="#" onclick="$('#amb_prompt, #modal_overlay, #opt_501, #warn_501').hide(); return !1;">No</a>
		            		</div>
		            	</div>
	            		<div id="opt_501" style="display: none">
		            		<p class="header">Wait!</p>
		            		<p>Has the customer provided proof that their organization is a valid 501C?</p>
		            		<p>If yes, please enter their custom coupon code: </p>
		            		<span class="annoy">Enter a valid alphanumeric code in the box below!</span>
		            		<input type="text" name="coup501" id="coup501" value="" />
		            		<span class="valid">Valid characters are A-Z, 0-9, _, -</span>
		            		<p>This status may not be reversed, are you sure you want to continue?</p>
		            		<div class="answers">
		            			<a href="#" onclick="updateStatus(1); return !1;">Yes</a>
		            			<a href="#" onclick="$('#amb_prompt, #modal_overlay, #opt_501, #warn_501').hide(); return !1;">No</a>
		            		</div>
		            	</div>
	            	</div>
	            	
	            </div>
            [/else][/if]<br />
            [if scratch amb_status]
                <b>Status</b>:
                    [if scratch amb_status eq 'active']
                        [scratchd amb_status]
                        <button name="mv_click" value="amb_deactivate">Deactivate</button>
                    [else]
                        [scratchd amb_status]
                        <button name="mv_click" value="amb_activate">Activate</button>
                    [/else][/if]
                    <br />
                <b>Coupon Code</b>: [scratchd amb_coupon_code]
                <button name="mv_click" value="amb_new_coupon">Generate New</button>
                <br />
                <b><a href="[area href="admin/ambassador_referrals" form="
                    email=[loop-data userdb email]
                    customer=[cgi customer]
                    "]">See this ambassadors referral history</a></b>

                [if scratch amb_501c]
	            	<p>This ambassador is a 501c status.</p>
	            [else]
	            	<p>This ambassador is not eligible for the 501c status.</p>
	            [/else][/if]
            [/if]
        </form>
    </blockquote>
</p>

</font>

[set bill_address][/set]
[set ship_address][/set]
</td></tr>

<tr>
<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
</tr>

<tr>
<td>
<table border=0 cellpadding=1 cellspacing=3>

<tr>
<td class=rnorm align=right>
	<B>[L]Order number[/L]</B>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class=rnorm>
	<B>[L]Order date[/L]</B>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class=rnorm align=right>
	<B>[L]Order Total[/L]</B>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class=rnorm>
	<B>[L]Status[/L]</B>
</td>
</tr>
[query
	list=1
	st=db
	table=transactions 
	sql="select
		order_number, order_date, total_cost, status
		FROM transactions 
		WHERE username = '[loop-code]'
		ORDER BY order_date
	"
]
<tr>
<td align=right>
	<A HREF="[area __UI_BASE__/order_view [sql-code]]"><U>[sql-code]</U></A>
</td>
<td></td>
<td>
	[sql-param order_date]
</td>
<td></td>
<td align=right>
	[currency][sql-param total_cost][/currency]
</td>
<td></td>
<td>
<A HREF="[area
			href=__UI_BASE__/order_status
			form="
				order=[sql-code]
			"]"><U>[msg][sql-param status][/msg]</U></A>
</td>
</tr>
[/query]

</table>
</td>
</tr>

<tr>
<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
</tr>

</table>
<SMALL>
<form action="[area __UI_BASE__/customer]" method=post>
<input type=hidden name=mv_session_id value="[data session id]">
<input type=hidden name=mv_action value=back>
<input type=hidden name=customer value="[loop-data userdb username]">
<input type=hidden name=viewnext value=1>

[button text="[L]Back[/L]"]
viewnext=
viewcustomer=
[/button]

[button text="[L]Enter order[/L]"]
mv_nextpage=__UI_BASE__/entry
mv_todo=return
[/button] 

[if-mm advanced userdb=e]
[if-loop-data userdb inactive]
[button name="activate" text="[L]Activate customer[/L]"][/button]
[else]
[button name="deactivate" text="[L]Deactivate customer[/L]"
	confirm="[L]Are you sure you want to deactivate this customer?[/L]"][/button]
[/else]
[/if-loop-data]

[button text="[L]Change password[/L]"]
user_id=[loop-code]
mv_nextpage=__UI_BASE__/customer_change_pass
[/button]
[/if-mm]

[if-mm advanced userdb=d]
<input type=submit name="deletecustomer" value="[L]Delete customer[/L]" 
 onClick="return confirm('[L]Are you sure you want to delete this customer?[/L]')">
[/if-mm]

</form>
</SMALL>

[if type=data term="forum::code::customer-[loop-code]"]
	[forum top="customer-[loop-code]" /]
[else]
	[page href=forum/submit
			form="
				customer=1
				mv_arg=[loop-code]
			"]Create forum for this user</A>
[/else]
[/if]

[/loop]
<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: customer_view.html,v 2.5 2002/11/20 17:40:11 mheins Exp $ -->
