
@_UI_STD_HEAD_@

[if variable DEMO_SITE][benchmark start=1][/if]

[comment]
	If we got CGI's then build the SQL query
[/comment]
[if cgi sub]
	[tmp sql]
	[calc]
		# get the CGI b'locks
		my $state = $CGI->{state};
		my $country = $CGI->{country};
		my $doctorphone = $CGI->{doctorphone};
		my $condition = $CGI->{condition};
		my $ctext = $CGI->{ctext};
		my $apofpo = $CGI->{apofpo};
		my $freesearch = $CGI->{freesearch};

		my $and = "";

		# Make the SQL
		my $basesql = "SELECT company, fname, lname, email, address1, address2, address3, city, state, zip, country, phone_day, phone_night, doctor_name, doctor_phone FROM userdb WHERE ";

		my $sql .= $basesql;

		if ($state) {
			$sql .= "state = '$state' ";
			$and = "AND";
		}
		if ($country) {
			$sql .= "$and country = '$country' ";
			$and = "AND";
		}
		if ($doctorphone) {
			$sql .= "$and doctor_phone = '$doctorphone' ";
			$and = "AND";
		}
		if ($apofpo) {
			$sql .= "$and ((city LIKE '%APO %') OR (city LIKE '%FPO %') OR (city = 'APO') OR (city = 'FPO')) ";
			$and = "AND";
		}

		# condition stuff
		if ($condition && $ctext) {
			if ($condition eq 'and') {
				$and = "AND";
			} elsif ($condition eq 'or') {
				$and = "OR"; # this DOES make sense
			}
			my $stub = qq{
							$and (
							(company LIKE '%$ctext%') OR
							(fname LIKE '%$ctext%') OR
							(lname LIKE '%$ctext%') OR
							(address1 LIKE '%$ctext%') OR
							(address2 LIKE '%$ctext%') OR
							(address3 LIKE '%$ctext%') OR
							(city LIKE '%$ctext%') OR
							(state LIKE '%$ctext%') OR
							(zip LIKE '%$ctext%') OR
							(country LIKE '%$ctext%') OR
							(phone_day LIKE '%$ctext%') OR
							(phone_night LIKE '%$ctext%') OR
							(email LIKE '%$ctext%') OR
							(doctor_name LIKE '%$ctext%') OR
							(doctor_phone LIKE '%$ctext%')
							)
						};
			$sql .= $stub;
		}

		if ($freesearch) {
			my $stub = qq{
							(
							(company LIKE '%$freesearch%') OR
							(fname LIKE '%$freesearch%') OR
							(lname LIKE '%$freesearch%') OR
							(address1 LIKE '%$freesearch%') OR
							(address2 LIKE '%$freesearch%') OR
							(address3 LIKE '%$freesearch%') OR
							(city LIKE '%$freesearch%') OR
							(state LIKE '%$freesearch%') OR
							(zip LIKE '%$freesearch%') OR
							(country LIKE '%$freesearch%') OR
							(phone_day LIKE '%$freesearch%') OR
							(phone_night LIKE '%$freesearch%') OR
							(email LIKE '%$freesearch%') OR
							(doctor_name LIKE '%$freesearch%') OR
							(doctor_phone LIKE '%$freesearch%')
							)
						};
			$sql = $basesql . $stub;
			$and = "AND";
		}

		# The standard bit to root out consolidated accounts 
		if (!$and) {
			$sql .= " email NOT LIKE '#%' AND (consolidated=0 OR consolidated IS NULL)";
		} else {
			$sql .= " AND email NOT LIKE '#%' AND (consolidated=0 OR consolidated IS NULL)"
		}

		return $sql;
	[/calc]
	[/tmp]
[/if]

[comment]Yer query:
<pre>
[scratch sql]
</pre>[/comment]

<style>
	table {
		font-size: 11px;
	}
</style>

<h3>Customer Reports</h3>

<form action="[area admin/customer-reports]" method="post">
<input type="hidden" name="sub" value="1">
<table>
<tr>
	<td><strong>State</strong></td>
	<td><strong>Country</strong></td>
	<td><strong>Doctor's Phone</strong></td>
</tr>
<tr>
	<td>
		<select name="state">
			<option value="0">--Any--</option>
			[query sql="SELECT COUNT(state) AS tot,state FROM userdb GROUP BY state ORDER BY tot DESC" type=list]
			[list]
				[tmp f_state][sql-param state][/tmp]
				[query sql="SELECT name FROM state WHERE state='[scratch name=f_state filter=sql]'" type=list prefix=st list-prefix=st]
				[st]
					<option value="[sql-param state]">[st-param name] ([sql-param tot] entries)</option>
				[/st]
				[/query]
			[/list]
			[/query]
		</select>
	</td>
	<td>
		<select name="country">
			<option value="0">--Any--</option>
			[query sql="SELECT DISTINCT country FROM userdb ORDER BY country" type=list]
			[list]
				[query sql="SELECT name FROM country WHERE code='[sql-param country]'" type=list prefix=ctry list-prefix=ctry]
				[ctry]
					<option value="[sql-param country]">[ctry-param name]</option>
				[/ctry]
				[/query]
			[/list]
			[/query]
		</select>
	</td>
	<td>
		<select name="doctorphone">
			<option value="0">--Any--</option>
			[query sql="SELECT COUNT(doctor_phone) AS tot,doctor_phone FROM userdb GROUP BY doctor_phone ORDER BY tot DESC LIMIT 100" type=list]
			[list]
				<option value="[sql-param doctor_phone]">[sql-param doctor_phone] ([sql-param tot] entries)</option>
			[/list]
			[/query]
		</select>
	</td>
</tr>
<tr>
	<td align="right">
	<strong>Condition</strong>
	<select name="condition">
		<option value="0">--Choose--</option>
		<option value="and">AND</option>
		<option value="or">OR</option>
	</select>
	</td>
	<td>
	<input type="text" name="ctext" size="40">
	</td>
	<td><input type="checkbox" name="apofpo" value="1"> APO / FPO Addresses</tD>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td align="right"><strong>Free search</strong></td>
	<td><input type="text" name="freesearch" size="40"></td>
	<td><small>(overrides above parameters)</small></td>
<tr>
<tr>
	<td colspan="3" align="center">
		<input type="submit" value="Generate Customer Report">
	</td>
</tr>
</table>


[tmp num][convert-date fmt="%Y%m%d%H%M%S"][/convert-date]-[calc]
	$number = int(rand(100));
	return $number;
[/calc][/tmp]

<pre>
[scratch sql]
</pre>

[comment]
	Now run the SQL ta - nice CSV
[/comment]
[if cgi sub]
[tmp csv][query sql="[scratch sql]" type=list]
[list]"[sql-param fname]","[sql-param lname]","[sql-param email]","[sql-param company]","[sql-param address1]","[sql-param address2]","[sql-param address3]","[sql-param city]","[sql-param state]","[sql-param zip]","[sql-param country]","[sql-param phone_day]","[sql-param phone_night]","[sql-param doctor_name]","[sql-param doctor_phone]"
[/list]
[/query][/tmp]

[deliver type='application/text' extra_headers="Content-Disposition: attachment; filename=test_report-[scratch num].csv" interpolate=1]
	[scratch csv]
[/deliver]
[/if]


[if variable DEMO_SITE]<p>[benchmark verbose=1]</p>[/if]



					

@_UI_STD_FOOTER_@