[set page_title][L]Customers[/L]: Customer Search[/set]
[set ui_class]Customers[/set]
[set page_banner]Advanced search for customers[/set]
[set help_name]order.view[/set]
[set icon_name]icon_people.gif[/set]

@_UI_STD_HEAD_@

[if cgi showall]
	[tmp tmp][scratchd sql_select][/tmp]
[/if]

<style>
form {
	margin:0;
	padding:0;
}
</style>
<table border="0" align="center">
	
	<tr>	
	<td>
	
	<FORM ACTION="[area admin/customer_search]" name="search">
	<input type="hidden" name="searchcustomers" value="1" />
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search First Name[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_fname" VALUE="">			
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Last Name[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_lname" VALUE="">			
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Zip/Postcode[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_zip" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Email[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_email" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>	
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Username[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>
				<INPUT NAME="search_username" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>
	
	<td valign="bottom">
	<input type="submit" value=" Go " />
	
	</form>
	
</td>

</tr>
</table>

	
<table cellpadding="2" cellspacing="1" width="100%">
	<tr class=rmarq>
		<th>
		Username
		</th>
		<th>
		Name
		</th>
		<th>
		Email
		</th>
		<th>
		Location
		</th>		
	</tr>
	[seti sql_select][/seti]
	
		[if cgi searchcustomers]		
			
				
				[perl]	
					
					if($CGI->{search_fname})
					{			
					
						$Scratch->{sql_select} .= 'AND (';
						$f=1;					
						
						@field_fname = split(/ /,$CGI->{search_fname});					
						foreach $word (@field_fname)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'fname LIKE \'%'.$word.'%\'';
							$f++;
						}		
						$Scratch->{sql_select} .= ') ';
						
					}
					
					if($CGI->{search_lname})
					{
					
						$Scratch->{sql_select} .= 'AND (';			
						$f=1;
						
						@field_lname = split(/ /,$CGI->{search_lname});
						foreach $word (@field_lname)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'lname LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}
					
					if($CGI->{search_email})
					{
					
						$Scratch->{sql_select} .= 'AND (';			
						$f=1;
						
						@field_email = split(/ /,$CGI->{search_email});
						foreach $word (@field_email)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'email LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}
					
					if($CGI->{search_zip})
					{						
					
						$Scratch->{sql_select} .= 'AND (';				
						$f=1;
						
						@field_zip = split(/ /,$CGI->{search_zip});
						foreach $word (@field_zip)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'zip LIKE \'%'.$word.'%\'';
							$f++;
						}	
						$Scratch->{sql_select} .= ') ';
						
					}
					
					if($CGI->{search_username})
					{					
					
						$Scratch->{sql_select} .= 'AND (';				
						$f=1;
						
						@field_username = split(/ /,$CGI->{search_username});	
						foreach $word (@field_username)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'username LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}						
					
					return undef;	
					
				[/perl]			
				
				[comment]
				[seti sql_select]AND [cgi searchfield] LIKE '%[cgi sq]%'[/seti]
				[/comment]		
		
		[/if]
		
		


		[comment]
		get the total number of orders
		[/comment]
		[tmp sql]
		SELECT count(username)
		FROM userdb
		WHERE inactive != 1
		[scratch sql_select]
		[/tmp]
		[tmp total_orders]0[/tmp]
		
		[query sql=|[scratch sql]| type=|list|]
			[list]
			[tmp total_customers][sql-code][/tmp]
			[/list]			
		[/query]	
		
		[comment]
		build the limits for the main sql query
		[/comment]	
		[tmp sql_limit]20[/tmp]
		[tmp sql_start]0[/tmp]
		[tmp currentpage]1[/tmp]
		
		[if cgi page]
			[tmp currentpage][cgi page][/tmp]
			[tmp sql_start][calc]([scratch currentpage] * [scratch sql_limit]) - [scratch sql_limit][/calc][/tmp]					
		[/if]
		[tmp record_start][calc][scratch sql_start] + 1[/calc][/tmp]				
		
		[perl tables="userdb"]
			
		$r = '';
		
		$sql = '
		SELECT *
		FROM userdb
		WHERE inactive != 1
		'.$Scratch->{sql_select}.'
		ORDER BY username
		LIMIT '.$Scratch->{sql_start}.','.$Scratch->{sql_limit}.'	
		';		
	
		$Tag->query({sql=>$sql,hashref=>'result',table=>'userdb'});
		$c=0;
		foreach $row (@{$Tmp->{result}})
		{		
			if($c % 2)
			{
				$r .= '<tr class="rownorm">';
			}
			else
			{
				$r .= '<tr class="rowalt">';
			}
			$r .= '<td><a href="'.$Tag->area({href=>'admin/customer_view',form=>'customer='.$row->{username}.''}).'">'.$row->{username}.'</a></td>';		
			$r .= '<td><a href="'.$Tag->area({href=>'admin/customer_view',form=>'customer='.$row->{username}.''}).'">'.$row->{fname}.' '.$row->{lname}.'</a></td>';
			$r .= '<td>'.$row->{email}.'</td>';
			$r .= '<td>'.$row->{city}.', '.$row->{state}.', '.$row->{country}.'</td>';
			$r .= '</tr>';
			$c++;
		}	
		
		if($c==0)
		{
			$r .= '
			<tr>
				<td colspan="9">
				No Customers
				</td>
			</tr>';	
		}
		
		
		#build the pagination
		my $number_pages = $Scratch->{total_customers} / $Scratch->{sql_limit};
		$number_pages = int($number_pages) + 1;
		my $page_range = 18;
		my $page_start = $Scratch->{currentpage} - $page_range;
		my $page_end = $Scratch->{currentpage} + $page_range;
		
		if($page_start < 1)
		{
			$page_start = 1;
		}
		if($page_end > $number_pages)
		{
			$page_end = $number_pages;
		}
		$r .= '
			<tr>
				<td colspan="9">
				<a href="/admin/customer_search.html">&laquo; First</a>
				';	
				for($p=$page_start;$p<=$page_end;$p++)
				{
					if($Scratch->{currentpage} == $p)
					{
						$r .= '[ <b>'.$p.'</b> ] ';	
					}
					else
					{
						$r .= '<a href="/admin/customer_search.html?page='.$p.'">'.$p.'</a> ';
					}								
				}	
		
		$r .= '
				<a href="/admin/customer_search.html?page='.$number_pages.'">Last &raquo;</a>
				</td>
			</tr>
			';	
				
		return $r;		
		
		[/perl]		
		
</table>






@_UI_STD_FOOTER_@