[set page_title][L]Customer manager[/L]: [L]Pay 501C Organizations[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]Pay 501C Organizations[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@

<div id="mid">
	<ul>
		<li><a href="/admin/new_app_server.html">Creating new app server</a></li>
		<li><a href="/admin/new_camp.html">Creating/Deleting a Camp</a></li>
	</ul>
</div>

@_UI_STD_FOOTER_@