[set page_title][L]Customer manager[/L]: [L]View customer[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]View customer[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

<script type="text/javascript">

		function check_form(){
			// Validate input - first check compulsary fields.
			compulsary_fields = new Array('add_points','reason');

			e_count = 0;

			for(i = 0; i < compulsary_fields.length; i++){
				d = document.getElementById(compulsary_fields[i]);
				if(d.value == ''){
					e_count++;
					if(d.tagName.toLowerCase() == 'input' || d.tagName.toLowerCase() == 'textarea'){
						d.style.border = '2px solid red';						
					} else if(d.tagName.toLowerCase() == 'select'){
						d.style.backgroundColor = 'red';
						d.style.color = 'white';
					}
				} else {
					if(d.tagName.toLowerCase() == 'input' || d.tagName.toLowerCase() == 'textarea'){
					d.style.border = '1px solid #aac';
					} else if(d.tagName.toLowerCase() == 'select'){
						d.style.backgroundColor = 'white';
						d.style.color = 'black';
					}
				}
			}
			if(e_count){
				alert("Some required fields were not completed. Please check the fields highlighted in red.");
				return false;
			}			

			return true;
	
		}
</script>

<h2>Edit EyeBucks Rewards points for customer [cgi u]</h2>

[if cgi add_points]
	[tmp new_points][calc]$CGI->{current_points} + $CGI->{add_points}[/calc][/tmp]
	[query sql=|UPDATE userdb SET reward_points='[scratch new_points]' WHERE username='[cgi u]'| type=list][/query]
	[query sql=|INSERT INTO reward_points_log (customer, csr, points_added, reason) VALUES('[cgi u]','[data session username]','[cgi add_points]','[cgi name=reason filter=sql]')| type=list][/query]
[/if]

[tmp rep][data table="userdb" field="reward_points" key="[cgi u]"][/tmp]
	
	
	
<form action="[process-target]" method="post" onsubmit="return check_form()">
<input type=hidden name="u" value="[cgi u]" />
<input type=hidden name="current_points" value="[scratch rep]" />
<input type=hidden name="mv_nextpage" value="@@MV_PAGE@@" />

<p>Current points: [scratch rep]</p>
<label for="add_points">Points to add: </label> <input type="text" name="add_points" id="add_points" />
<br />
<label for="reason">Reason: </label> <textarea name="reason" id="reason" cols="21" rows="5"></textarea>
<br />
<input type=submit value="Update">
</form>


<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: customer_view.html,v 2.5 2002/11/20 17:40:11 mheins Exp $ -->