<!-- MODIFIED -->
[comment]
	Clear out any information that may be present from a previous order
[/comment]
[if cgi firstTime][or cgi repeat_order]
	[perl table="orderline products transactions" no_return="1"]
	#Remove any lingering prescription values 

	delete $Scratch->{$_} for qw\
		admin_exchange original_order_ref exchange_ref_info
		process_refund refund_amount max_refund_amount exchange_address
		show_hr e_count exchange_array
	\;

	my @keys = qw/ odsph odcyl odaxi odadd ossph oscyl osaxi osadd od_pd /;
	delete $Values->{"mv_order_$_"} foreach @keys;
	
	#Separate set that aren't prefixed with mv_order
	@keys = qw/os_pd prism_od_vertical_magnitude prism_od_vertical_direction prism_od_horizontal_magnitude prism_od_horizontal_direction prism_os_vertical_magnitude prism_os_vertical_direction prism_os_horizontal_magnitude prism_os_horizontal_direction /;
	delete $Values->{$_} foreach @keys;
	
	if( $CGI->{firstTime} ){
		@keys = qw/ customer_id company fname lname address1 address2 city state zip email country phone_day phone_night b_fname b_lname b_address1 b_address2 b_city b_state b_zip b_phone /;
		delete $Values->{$_} foreach @keys;
		
		@$Items = ();
	}

	delete $Scratch->{'od_sp'};

	if($CGI->{process_exchange}){
		$Scratch->{admin_exchange} = '1';
		$Scratch->{exchange_ref_info} = [];
		$Scratch->{original_order_ref} = $CGI->{ex_order};
		$Scratch->{max_refund_amount} = 0;
		$Scratch->{exchange_address} = {};
		my @items = map {
			my $key = $_;
			if ($key =~ /^exchange\d+/){
				$key =~ s/^exchange//;
				$key;
			} else {
				();
			}
		} keys %$CGI;
		my @columns = qw\
			code order_number session sku quantity price subtotal options pres_od pres_os pupd
			sph_od sph_os cyl_od cyl_os axi_os add_os axi_od add_od lens lenstype nosepos ar_coating
			tint
		\;
		my $results = $Tag->query({
			sql => sprintf(q\
				SELECT %1$s from orderline WHERE %2$s
			\, (join ',', @columns), (join ' or ', (map {
				"code = ".$Tag->filter('dbi_quote', $_)
			} @items))),
			hashref => '1'
		});
		for my $r (@$results){
			my $item_ref = {
				mv_price => $r->{price} * -1,
				code => $r->{sku},
				quantity => $r->{quantity},
				exchange_item_ref => $r->{code},
				ossph => $r->{sph_os},
				odsph => $r->{sph_od},
				odcyl => $r->{cyl_od},
				oscyl => $r->{cyl_os},
				odaxi => $r->{axi_od},
				osaxi => $r->{axi_os},
				tint => $r->{tint},
				lens => $r->{lens},
				lenstype => $r->{lenstype},
				nosepos => $r->{nosepos},
				coating => $r->{ar_coating},
				osadd => $r->{add_os},
				odadd => $r->{add_od},
				pupd => $r->{pupd}
			};
			$Scratch->{max_refund_amount} += $r->{price};
			push @$Items, $item_ref;
			push @{$Scratch->{exchange_ref_info}}, $item_ref;
		}
		my @a_columns = qw\
			zip b_zip country b_country city b_city state b_state 
			address1 b_address1 address2 b_address2 fname lname 
			b_fname b_lname company b_company phone_day b_phone
			phone_night email
		\;
		my $address = $Tag->query({
			sql => sprintf(q\
				SELECT %1$s from transactions WHERE order_number = %2$s
			\, (join ',', @a_columns),$Tag->filter('dbi_quote',$Scratch->{original_order_ref})),
			hashref => '1',
			table => 'transactions'
		});
		$Scratch->{exchange_address} = $address->[0];
	}
	[/perl]
[/if]

[set page_title][L]Order Entry[/L][/set]
[set ui_class]Orders[/set]
[set help_name]order_entry.main[/set]
[set icon_name]icon_orders.gif[/set]
[tmp meta_header]
<style type="text/css">
	[if !cgi repeat_order]#lbl-rma{ display: none }[/if]	

	div.section-header, table#cart{ width: 80% }
	div.section-header{ font-size: 14px; padding: 3px; margin: 12px 0 }
	
	span.small-note{ font-size: 11px; font-style: italic }

	span.lenstype-updated{ color: red }
	
	#pd-error{ display: none; position: absolute; z-index: 10; overflow: show; width: 600px; color: red; font-weight: bold }
	
	#uyof{ display: none }
	
	#rmaReasons{ margin: 12px 0 }
	
	#rmaReasons{ display: none }
	#reasonCategories{ float: left; padding: 0; list-style: none; display: inline-block; vertical-align: top }
	#reasonCategories li{ display: inline-block; margin: 0 5px; padding: 2px; cursor: pointer; border: 1px dotted black; float: left }
	#reasonCategories li.selected{ background: yellow }
	
	label.marginLeft{ margin-left: 10px }
	
	#lookup-customer{ display: none; position: absolute; z-index: 100; width: 700px; height: 500px; border: 6px solid black; background: white }
	#lookup-customer a.close{ float: right }
	#results{ height: 300px; overflow: auto }
	#matching-customers{ width: 100% }
	#matching-customers td{ cursor: pointer }
	
	#search-parameters{ padding: 5px 15px; position: relative; float: left }
	#search-parameters label{ display: inline-block; width: 100px }
	#handle{
		height: 15px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		cursor: move;
		display: none;
		background: #054965;
	}
</style>
<script type="text/javascript" src="__JQUERY_UI__"></script>
<script type="text/javascript">
	var types = new Object;
	
	//Dummy function to avoid an error
	function errClear(){ }
	
	$(function(){
		$('div.prescription_slide').show().css('width','700px');
		// Automatically change the "Lens Type" dropdown
		// to match the type of lens selected for "Lens Option".
		// Also change the available tints based on the package
		// as well as the available AR coating
			$('select[name^=lenstype]').change(function(){
				var $this = $(this);
				var val = $this.val();
				var $lenstype = $this.siblings('select[name^=lens]');
				var $tints = $this.siblings('select[name^=tint]');
				var $ar = $this.siblings('select[name^=coating]');
				var newtype = 'SVF';
				
				if( val.match(/^(BIF|PROG|PROGE)/) && val != 'PKGZ' ){
					newtype = val.replace(/^(BIF|PROGE|PROG).*$/,"$1");
				}
				
				//If the new type doesn't match the current one
				//And the package selected isn't PKGZ
				//AND the new type and the old type aren't both single vision
				if( newtype != $lenstype.val() && val != 'PKGZ' && !( newtype.match(/^SV/) && $lenstype.val().match(/^SV/) ) ){
					$lenstype.val( newtype );
					$lenstype.after( $('<span class="lenstype-updated">Type updated</span>') );
					setTimeout(function(){ $this.siblings('span.lenstype-updated').remove() },2500);
				}
				
				if( !$tints.data('options') ){
					var tmp = new Array();
					$tints.find('option').each(function(i,el){
						tmp.push( new Option( $(el).text(), $(el).val() ) );
					});
					$tints.data('options', tmp );
				}
				
				//Clear available tints
				$tints.children().remove();
				
				//Using business rules determine what tints
				//to display
				if( val == 'PKGZ' ){
					$( $tints.data('options') ).each(function(i,el){
						$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}else if( val.match(/^TRAN10|BIF_TRAN11|PROGE_TRAN12|PROG_TRAN13$/) ){
					$( $tints.data('options') ).each(function(i,el){
						if( !$(el).val().match(/^CLEAR|GREY|BROWN$/) )
							$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}else if( val.match(/OPT/) || val == 'PROG_TRAN15' ){
					$( $tints.data('options') ).each(function(i,el){
						if( $(el).val() == 'CLEAR' )
							$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}else if( val.match(/SUN/) ){
					$( $tints.data('options') ).each(function(i,el){
						if( $(el).val() != 'CLEAR' )
							$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}else if( val.match(/POLS|TRAN/) && val != 'PROGE_TRAN5' ){
					$( $tints.data('options') ).each(function(i,el){
						if( $(el).val().match(/^GREY|BROWN$/) )
							$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}else if( val == 'PROGE_TRAN5' ){
					$( $tints.data('options') ).each(function(i,el){
						if( $(el).val() == 'GREY' )
							$tints.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}
				
				//Select the relevant tint for this item
				if( $tints.attr('data-default') ){
					$tints.val( $tints.attr('data-default') );
				}else{
					$tints.val( $tints.children().first().val() );
				}

				if( !$ar.data('options') ){
					var tmp = new Array();
					$ar.find('option').each(function(i,el){
						if( $(el).val() != 'COA4' )
							tmp.push( new Option( $(el).text(), $(el).val() ) );
					});
					$ar.data('options', tmp );
				}
				
				//Clear out tint options
				$ar.children().remove();
				
				//Use business rules to determine what AR
				//options are available
				//debugger;
				if( ( val.match(/SUN/) || ( val == 'OPT3' || val == 'TRAN3' || val == 'POLS5' || val == 'BIF_OPT2' || val == 'BIF_OPT4' ) ) && val != 'PKGZ'  ){
					$( $ar.data('options') ).each(function(i,el){
						if( $(el).val() == 'COA3' )
							$ar.append( $('<option/>').val( el.value ).text( el.text ) );
					});	
				}else{
					$( $ar.data('options') ).each(function(i,el){
						$ar.append( $('<option/>').val( el.value ).text( el.text ) );
					});
				}
				
				if( $ar.attr('data-default') ){
					$ar.val( $ar.attr('data-default') );
				}else{
					$ar.val( $ar.children().first().val() );
				}
			}).change();

		// UYOF Toggle click
			$('input[name=pairType]').click(function(){
				$('select[name=mv_order_item]').val('');
				if( $('#fullPair_toggle').is(':checked') ){
					$('#fullPair').show();
					$('#uyof').hide();
				}else{					
					$('#uyof').show();
					$('#fullPair').hide();
				}
			});

		// Force initials and reason code to be filled before any form can be submitted
			$('form').submit(function(){
				var $this = $(this);
				var initials = $('input[name=csr_initials]').val();
				var reasonCode = $('#reason_code').val();
				var message = 'The following fields MUST be filled in:\n';
				var error = false;
				if( !initials ){
					message += '\tYour initials\n';
					error = true;
				}
				
				if( !reasonCode ){
					message += '\tSelect a reason for this order';
					error = true;
				}
				
				if( error ){
					alert(message);
					return false;
				}
			});

		// Setup handler for the Manual / Remake radio buttons	
			$('input[name=orderType]').change(function(){
					if( $(this).val() == 'manual' ){ 
						$('#rmaReasons').hide();
						$('#reason_code').val('Manual'); 
					}
					else{ 
						$('#reasonCode').change();
						$('#rmaReasons').show();
					}
			});

		$('div.popup a.close').click(function(){ $(this).closest('div.popup').hide(); });

		[comment]If the page has been reloaded and RMA was selected as the order type, select it again[/comment]
		[if cgi orderType eq 'rma']$('#rma').change();[/if]

		$('#reasonCode').change(function(){ $('#reason_code').val( $(this).val() ); });

		// Sort the RMA Reasons and create the type UL			
			var $selectBox = $('#reasonCode');
			var $ul = $('#reasonCategories');
			$selectBox.find('option').each(function(){
				var category = $(this).attr('data-category');
				if( !types[category]  ){
					var $li = $('<li>' + category + '</li>').click(function(){ 
						$selectBox.find('option').remove(); 
						$selectBox.append( types[category] ); 
						$(this).addClass('selected').siblings().removeClass('selected'); 
					} );
					$ul.append( $li );
					types[category] = $('#reasonCode option[data-category=' + category + ']');
				}
			});

			$selectBox.find('option').remove();

		// Set default RMA reason type
			var type = 'FRAME';
			var preselected;
			[comment]
				If an item has been added to the cart AND
				the reason for the manual order is an RMA,
				pre-select the previously chosen rma reason_code
			[/comment]
			[if cgi orderType eq 'rma'][and cgi reasonCode]
				preselected = [cgi reasonCode];
				var found = false;
				[strip reparse=0]
				for(var ele in types ){
					for( var index = 0; index < types[ele].length; index++ ){
						var currentElement = $( types[ ele ][ index ] );
						if( currentElement.val() == preselected ){
							found = true;
							type = ele;
							break;
						}
					}
					if( found ) break;
				}
			[/strip]
			[/if]

		// Add options for the default RMA reason type
			$selectBox.append( types[type] );
			if( preselected ) $selectBox.val( preselected );
			$ul.find('li:contains(' + type + ')').addClass('selected');

		//Remove 'Incuded Free' AR option
		$("option[strip reparse=0][value='COA4'][/strip]").remove();
		
	});

	function check_tax(form) {
		// Make sure the email field is not blank
		var foundState = false;
		var ch = form.state.value;
		ch = ch.toUpperCase();
		[loop list="__TAXAREA__"]
			if(ch == "[loop-code]") {
					alert("You will be charged [currency][fly-tax [loop-code]][/currency] sales tax\nsince you are shipping to [loop-code]. Click UPDATE to see the amount in your total.");
					foundState = true;
			}
		[/loop]
		return foundState;
	}
	
	var possible = ['credit_card', 'cod', 'postal', 'online_check', 'purchase_order'];
	
	function visible (selnam) {
		$('#cc_header').toggle()
		 
		if(selnam == undefined) {
			var form = document.checkout;
			if(form == undefined) 
				return;
			var selec = form.mv_order_profile;
			if(selec.selectedIndex == undefined)
				selec.selectedIndex = 0;
			selnam = selec.options[selec.selectedIndex].value;
		}
	
		// alert("selnam=" + selnam);
	
		var sel = document.getElementById(selnam);
		// alert("sel=" + sel);
		if(sel == undefined) 
			return;
		
		for(var i = 0; i < possible.length; i++) {
			var xel = document.getElementById(possible[i]);
			if(xel != undefined) {
				xel.style.zIndex = 0;
				xel.style.visibility = 'Hidden';
			}
		}
	
		sel.style.visibility = 'Visible';
		sel.style.zIndex = 2;
	
		return;
	}
</script>
[/tmp]

@_UI_STD_HEAD_@

<a href="[area admin/order_new]">Preview New Order Entry Page</a>

[include include/checkout/code_check]

[perl tables="pricing products options"]
	# copy values repository back to proper values space if back from search..

  if (delete $CGI->{no_cost}) {
		foreach (@$Items) {
		    $_->{mv_price} = 'free';
		}
		$Tag->assign({ shipping => 0 });
		$Values->{mv_order_profile} = 'no_charge';
		# Log('No Charge: Set all pricing to zero.');
  } else {
	foreach (@$Items) {
	    my $code = $_->{code};

	    if ($CGI->{reset_shipping}) {
		delete $Session->{assigned}->{shipping};
	    }
	    elsif (length($CGI->{shipping})) {
		$CGI->{shipping} =~ s/[^\d.]//g;
		$Tag->assign({ shipping => $CGI->{shipping} });
	    }
	}
    }
    undef;
[/perl]

[calc]
	return unless $CGI->{customer};
	%$Values = ();
	my $rep = $Session->{values_repository}{order_entry};
	my %rep = %$rep;
	for my $key(keys %rep){
		$Values->{$key} = $rep{$key};
	}

	$Values->{customer_id} = $CGI->{customer} eq 'NEW' ? '' : $CGI->{customer};
	return;
[/calc]

[if cgi repeat_order]
	[perl tables=orderline]
		my $db = $Db{orderline};
		my $on = $db->quote($CGI->{repeat_order}, 'order_number');
		my $q  = qq{SELECT   sku,quantity,username, options, pres_od, pres_os,description,sph_od,cyl_od,axi_od,add_od,prism_od,sph_os,cyl_os,axi_os,add_os,prism_os,pupd,nosepos
					FROM     orderline
					WHERE    order_number = $on
					ORDER BY order_number};
		my $ary = $db->query($q) || [];
		
		my @items;

		for(@$ary) {
			push @items, {
				'frame'		=> $_->[6],
				'sku'			=> $_->[0],
				'options'	=> $_->[3],
				'pres_od' => $_->[4],
				'pres_os' => $_->[5],
				'sph_od'	=> $_->[7],
				'cyl_od'	=> $_->[8],
				'axi_od'	=> $_->[9],
				'add_od'	=> $_->[10],
				'prism_od'=> $_->[11],
				'sph_os'	=> $_->[12],
				'cyl_os'	=> $_->[13],
				'axi_os'	=> $_->[14],
				'add_os'	=> $_->[15],
				'prism_os'=> $_->[16],
				'pupd'		=> $_->[17],
				'nosepos'	=> $_->[18],
			};
		}
		
		if($CGI->{pull_customer}) {
			%$Values = ();
			$Values->{customer_id} = $ary->[0][2];
		}

		$CGI->{mv_todo} = 'refresh';
		
		$Tag->tmp('items_array', \@items);
		return;
	 [/perl]
	 [if cgi mv_order_item][update process][/if]
[/if]

<!-- ----- BEGIN REAL STUFF ----- -->
<!-- begin initialization -->
<!-- [set old_browser]1[/set][calc]
	## Browser check, standalone so syntax error will not
	## kill init code
	my $regex = $Variable->{MV_DHTML_BROWSER};
	$regex ||= 'MSIE [5-9].*Windows|Mozilla.*Gecko';

	$regex = qr/$regex/;
	if($Session->{browser} =~ $regex) {
		delete $Scratch->{old_browser};
	}
	return $Scratch->{old_browser} ? 'Not a DHTML browser' : 'DHTML browser';
[/calc] -->

[perl tables="country products"]

	## This section sets the shipping, handling, taxing, and payment
	## initializations, as well as browser check

	## Start with payment mode if none there
	$Values->{mv_order_profile} ||= $Variable->{DEFAULT_PAYMENT_MODE}
								||'credit_card';

	## Check for COD order

	my @handling;

	if($Values->{mv_handling}) {
			@handling = split /[\s,\0]+/, $Values->{mv_handling};
			@handling = grep /\S/ && $_ ne 'cod', @handling;
			$Values->{mv_handling} = join " ", @handling;
	}

	if($Values->{mv_order_profile} eq 'cod') {
			push @handling, 'cod';
	}

	if(@handling) {
			$Values->{mv_handling} = join " ", @handling;
	}
#Debug("mv_handling=$Values->{mv_handling}");
    my $db = $Db{country} or return;
 
    my $domestic = $Variable->{DOMESTIC_SHIPPING} || 'US CA';
    $domestic =~ s/\W+/ /g;
    my @dom = grep /\S/, split /\s+/, $domestic;
    my %dom;
    @dom{@dom} = @dom;
    my $modes;
    if($Values->{country}) {
        $modes = tag_data('country', 'shipmodes', $Values->{country});
        @modes = grep /\S/, split /[\s,\0]+/, $modes;
    }

    push @modes, 'FREE';
    
    delete $Scratch->{only_download};
    my $hardgoods;
    for(@$Items) {
        next if tag_data('__ProductFiles_0__', 'download', $_->{code});
        $hardgoods = 1;
    }

    ! $hardgoods and $Scratch->{only_download} = 1;

    return unless @modes;
    my %modes;
    @modes{@modes} = @modes;

    if(! $modes{$Values->{mv_shipmode}}) {
        $Values->{mv_shipmode} = shift @modes;
    }
    return;
[/perl]

<!-- end initialization -->

[if scratch items_array]
<script>
$(function(){
	$('#previousItems').draggable({handle: '#handle'});
	$(window).scroll(function(){
		var scrollTo = $(this).scrollTop();
		var $prev = $('#previousItems');
		if( scrollTo + $prev.height() < $('#cart').offset().top ){
			//$('#previousItems').css('top', ( scrollTo > 130 ? scrollTo : 130 ) + 'px');
			$('#previousItems').stop(true,true).animate({ 'top': ( scrollTo > 130 ? scrollTo : 130 ) + 'px' }, 'fast');
		}
	});
});
</script>
<div id="previousItems" style="z-index: 100; position: absolute; top: 130px; right: 20px; background: white; border: 2px solid black; width: 48%; height: 300px; overflow: auto;" class="popup">
	<div style="display: block;" id="handle"></div>
	<table style="margin-top: 15px;"  width="100%">
	[calc]
		my $output = '';
		foreach( 0 .. $#{@{$Scratch->{items_array}}} ){
			next if $CGI->{lineItem} && $_ != $CGI->{lineItem}-1;
			my $item = $Scratch->{items_array}[$_];
			
			my $bgcolor = $_ % 2 ? qq|style="background: #eee"| : '';
			
			$output .= qq|
<tr $bgcolor>
	<td rowspan="2">$item->{frame}<br />($item->{sku})</td>
	<td>| . $Tag->beautify_options({ html => 1, before => '', after => "&nbsp;", stripEmpty => 1 }, $item->{options}) . qq|</td>
</tr>
<tr $bgcolor>
	<td>OD: $item->{pres_od}<br />OS: $item->{pres_os}<br />PD: $item->{pupd}</td>
</tr>|;
		}
		
		return $output;
	[/calc]
	</table>
	<div style="position: absolute; bottom: 5px; right: 5px; border: 1px dotted black; padding: 3px; width: 65px; height: 25px; background: white; z-index: 101"><a href="#" class="close">[X] Close</a></div>
</div>
[/if]

<FORM ACTION="[process secure=1]" METHOD="POST" name=checkout>
<input type=hidden name="mv_session_id" value="[data session id]">
<input type=hidden name="lens_prescription" value="none">
<input type=hidden name="reload" value="">

[if cgi repeat_order]
	<input type="hidden" name="repeat_order" value="[cgi repeat_order]" />
	[if cgi lineItem]
		<input type="hidden" name="lineItem" value="[cgi lineItem]" />
	[/if]
[/if]

<!-- CSR initials -->
<table>
	<tr>
		<td valign="top" width="150">
			Initials: <input type="text" name="csr_initials" value="[value csr_initials]" size=3 />
		</td>
		<td valign="top">
			<!-- reason code -->
			<div id="manualReason">
				Select reason for manual entry:&nbsp;
				<label for="manual"><input type="radio" name="orderType" id="manual" value="manual" [if cgi orderType eq 'manual']checked="checked"[/if]/>Manual Order</label>
				<label for="rma" id="lbl-rma"><input type="radio" name="orderType" id="rma" value="rma" [if cgi orderType eq 'rma']checked="checked"[/if]/>Remake</label>
			</div>
			<input type="hidden" name="reason_code" id="reason_code" value="[cgi reason_code]" />
		</td>
	</tr>
	[if scratch admin_exchange]<tr><td>
			<p style="margin: 10px 0 0 0">Exchange Comments:</p><textarea style="width: 500px; height: 75px;" name="exchangeComments">[cgi exchangeComments]</textarea>
	</td></tr>[/if]
</table>
<br style="clear: both" />
<div id="rmaReasons">
	<label>Remake Reason Categories:</label>
	<ul id="reasonCategories"></ul>
	<br style="clear: both" />
	<label for="reasonCode">Reason for RMA:</label>
	<select name="reasonCode" id="reasonCode">
		[query
			type=list
			sql=|
				SELECT types.category,reasons.reasonCode,reasons.abbreviation,reasons.reason
				FROM rma_reasons reasons
				INNER JOIN rma_reason_types types ON reasons.typeCode = types.typeCode
				ORDER BY types.category|
		]
		<option value="[sql-param reasoncode]" data-category="[sql-param category]">[sql-param abbreviation] - [sql-param reason]</option>
		[/query]
	</select>
</div>
<!-- prescription -->
[if cgi lineItem][then]
	[calcn]
		my $item = $Scratch->{items_array}->[$CGI->{lineItem}-1];
		$Values->{mv_order_odsph} = $item->{sph_od};
		$Values->{mv_order_odcyl} = $item->{cyl_od};
		$Values->{mv_order_odaxi} = $item->{axi_od};
		$Values->{mv_order_odadd} = $item->{add_od};
		
		$Values->{mv_order_ossph} = $item->{sph_os};
		$Values->{mv_order_oscyl} = $item->{cyl_os};
		$Values->{mv_order_osaxi} = $item->{axi_os};
		$Values->{mv_order_osadd} = $item->{add_os};
	
		$Values->{mv_order_nosepos} = $item->{nosepos};
		
		my $pd = $item->{pupd};
		
		if( $pd =~ m~([\d\.]+)/?([\d\.]+)?~ ){
			$Values->{'odpd'} = $1;
			$Values->{'ospd'} = $2;
		}
		
		if( $item->{prism_od} =~ /(\d+\.\d+)(BU|BD)/ ){
			$Values->{'mv_order_od_prism_vertical_magnitude'} = $1;
			$Values->{'mv_order_od_prism_vertical_direction'} = $2;
		}
		
		if( $item->{prism_od} =~ /(\d+\.\d+)(BI|BO)/ ){
			$Values->{'mv_order_od_prism_horizontal_magnitude'} = $1;
			$Values->{'mv_order_od_prism_horizontal_direction'} = $2;
		}
		
		if( $item->{prism_os} =~ /(\d+\.\d+)(BU|BD)/ ){
			$Values->{'mv_order_os_prism_vertical_magnitude'} = $1;
			$Values->{'mv_order_os_prism_vertical_direction'} = $2;
		}
		
		if( $item->{prism_os} =~ /(\d+\.\d+)(BI|BO)/ ){
			$Values->{'mv_order_os_prism_horizontal_magnitude'} = $1;
			$Values->{'mv_order_os_prism_horizontal_direction'} = $2;
		}
		'';
	[/calcn]
[/then][/if]
<div class="section-header rmarq">Prescription:</div>
[set prescription_range]large[/set]
[include include/order_forms/prescription]
[set prescription_range][/set]
Nose position: 
<select name="mv_order_nosepos">
	<option></option>
	<option value="higher" [if value mv_order_nosepos eq 'higher']selected="selected"[/if]>Higher up on my nose (most common)</option>
	<option value="top" [if value mv_order_nosepos eq 'top']selected="selected"[/if]>All the way up on my nose (almost touching your forehead)</option>
	<option value="lower" [if value mv_order_nosepos eq 'lower']selected="selected"[/if]>Lower down on my nose (middle of my nose)</option>
</select>
<br />
<br />
<div class="section-header rmarq">Frame Type:</div>
<div style="margin: 5px 0 5px 15px">
	<label for="fullPair_toggle"><input type="radio" name="pairType" id="fullPair_toggle" checked="checked" />Full Pair</label><label for="uyof_toggle"><input type="radio" name="pairType" id="uyof_toggle" />Use Your Own Frame</label>
</div>
<div id="fullPair">
	<!-- Frames dropdown -->
	<b>Frames and Lens Package Desired:</b><br>
	<select name=mv_order_item onchange="document.checkout.reload.value=this.value;">
		<option value="">No Frames
		[query sql=|SELECT inactive,description,sku FROM products WHERE prod_group = 'Eyeglasses and Sunglasses' ORDER BY description| type=|list|]
			[list]
				<option id="[sql-param sku]" value="[sql-param sku]"[if-sql-param inactive] disabled="disabled"[/if-sql-param]>[sql-param sku] - [sql-param description]</option>				  	
			[/list]				  
		[/query]
	</select>
</div>
<div id="uyof">
	<!-- lens package dropdown -->
	<b>Lens Package Desired:</b><br>
	<SELECT name=mv_order_item id="pkg_box">
		<option value="">Select lens package</option>
		[perl table="products"]
			my $output = '';
			my $packages = $Tag->query({ sql => q|SELECT sku, description, price FROM products WHERE sku RLIKE '^LENS.+' ORDER BY sku|, table => 'products', hashref =>1 });
			$output .= qq|\t<option value="$_->{sku}">$_->{description}.. $_->{price}</option>\n|
				foreach @$packages;
			return $output;
		[/perl]
		<option value="LENS_PKGZ"> PKG (Z) - Other: explain</option>
	</select>
</div>
<br />
<div style="width: 673px; text-align: right">
	<input type="submit" value="Add item" style="padding: 5px" />
</div>
<br />
<input type=hidden name=mv_session_id value="[data session id]">
<input type=hidden name=mv_values_space value="order_entry">
<input type=hidden name=mv_todo value="refresh">
<input type=hidden name=order_desk_entry value="1">
<input type=hidden name=mv_search_page value="__UI_BASE__/entry_select">
<table id="cart" border="0" cellpadding="3" cellspacing="0">
	<COL style="width: 50px">
	<COL>
	<COL style="width: 75px">
	<thead>
		<tr class="rmarq" valign="top">
			<th class="rmarq">
				Remove
			</th>
			<th class="rmarq">
				[L]Description[/L]
			</th>
			<th align=RIGHT class="rmarq">
				[L]Price[/L]
			</th>
		</tr>
		<tr class=rborder height=1><td colspan=6></td></tr>
	</THEAD>
	<TBODY>
[item-list]
[tmp ae][item-modifier exchange_item_ref][/tmp]
[calcn hide=1]
$Tag->tmpn('dis', $Scratch->{ae} ? 'disabled' : '');
[/calcn]
[if scratch ae]
	<script type="text/javascript">
	$(function(){
		console.log('hi nick');
		console.log( $('div.edit_prod_info.exchange input').length )
		$('div.edit_prod_info.exchange input,div.edit_prod_info.exchange select').prop('disabled',true);
	})
	</script>
[/if]
<tr class="rnorm">
	<td class="rnorm" valign="top" align="center">
		<input
			type="checkbox"
			name="[quantity-name]"
			onClick="this.form.action='[process-target]'; this.form.submit()"
			value="0"
		/>
	</td>
	<td class="rnorm" valign="top" marginwidth="12" marginheight="12">
	<a href="[area href="[item-code]"]">[item-description] ([item-code])</a>

    [if-item-modifier exchange_item_ref]
	    <p style="font-weight: bold; color:#c30000">This item is being exchanged. It may not be edited.</p>
	    <div class="edit_prod_info exchange">
	[else]
	    <div class="edit_prod_info">
	[/else][/if-item-modifier]

	[opt-select code="[item-code]" mv_ip="[item-modifier mv_ip]"]
	[if term="[item-sku]" op="=~" compare="/^LENS/"]
		<!-- misc package dropdown -->
		<b>Misc Options:</b>
		<br />
		<SELECT name="miscoptions[item-modifier mv_ip]" id="misc_box">
		  <option value="">Select
		  <option value="MISC_SURFACE"> Custom Surface lens ($19.95 additional) 
		  <option value="MISC_167SURFACE"> Custom Surface Seiko 1.67 lens ($39.00 additional) 
		  <option value="MISC_PRISM"> Prism ($19.95 additional) 
		  <option value="MISC_PRISM_SURFACE"> Custom Prism + Surface ($39.90 additional) 
		  <option value="MISC_167PRISM_SURFACE"> Custom Prism + Surface 1.67 lens ($58.95 additional) 
		</select>
		<br />
		<br />	
	[/if]
	<b>Rx Information:</b>
	<br />
	<input type="hidden" name="[modifier-name odsph]" value="[item-modifier odsph]" />
	<input type="hidden" name="[modifier-name odcyl]" value="[item-modifier odcyl]" />
	<input type="hidden" name="[modifier-name odaxi]" value="[item-modifier odaxi]" />
	<input type="hidden" name="[modifier-name odadd]" value="[item-modifier odadd]" />
	<input type="hidden" name="[modifier-name ossph]" value="[item-modifier ossph]" />
	<input type="hidden" name="[modifier-name oscyl]" value="[item-modifier oscyl]" />
	<input type="hidden" name="[modifier-name osaxi]" value="[item-modifier osaxi]" />
	<input type="hidden" name="[modifier-name osadd]" value="[item-modifier osadd]" />
	<input type="hidden" name="[modifier-name pupd]" value="[item-modifier pupd]" />

	<table cellspacing="0" cellpadding="2" border="1" bordercolor="#b2c7ec">
		<tr>
			<td align="left" valign="top" bgcolor="#6e8dc4" style="width: 100px">&nbsp;</td>
			<td align="center" valign="top" bgcolor="#82a2db" style="width: 100px"><b>SPH</b></td>
			<td align="center" valign="top" bgcolor="#82a2db" style="width: 100px"><b>CYL</b></td>
			<td align="center" valign="top" bgcolor="#82a2db" style="width: 100px"><b>AXIS</b></td>
			<td align="center" valign="top" bgcolor="#82a2db" style="width: 100px"><b>ADD</b></td>
			<td align="center" valign="top" bgcolor="#82a2db" style="width: 100px"><b>PRISM</b></td>
		</tr>
		<tr>
			<td align="left" valign="top" bgcolor="#82a2db"><b>O.D.</b></td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier odsph]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier odcyl]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier odaxi]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[if-item-modifier odadd][item-modifier odadd][else] &nbsp; &nbsp;[/else][/if-item-modifier]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier prism_od]&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="top" bgcolor="#82a2db"><b>O.S.</b></td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier ossph]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier oscyl]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier osaxi]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[if-item-modifier osadd][item-modifier osadd][else] &nbsp; &nbsp;[/else][/if-item-modifier]&nbsp;</td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier prism_os]&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="top" bgcolor="#82a2db"><b>PD</b></td>
			<td align="center" valign="top" bgcolor="#ffffff">[item-modifier pupd]&nbsp;</td>
			<td colspan="4" rowspan="2" style="background: white">&nbsp;</td>
		</tr>
		<tr>
			<td style="background: #82a2db"><b>Nose pos:</b></td>
			<td style="background: white">[item-modifier nosepos]&nbsp;</td>
		</tr>
	</table>
	<br />
	<div [if scratch ae]style="display: none;"[/if]>
	Comments: <span class="small-note">This will be visible on the customers invoice.</span>
	<br />
	<textarea cols="50" rows="5" name="[modifier-name comments]">[item-modifier comments]</textarea>
	</div>
	<input type="hidden" name="[quantity-name]" value="1" />
	</div>
	</td>
	<td class="rnorm" valign="top" align=RIGHT>
<input type="hidden" name="mv_item_option" value="mv_price">
[if-item-modifier mv_price]
	<small>Overridden:</small><br>
[else]
	[item-price]
[/else][/if-item-modifier]
<br>
<input type="text" name="[modifier-name mv_price]" value="[item-modifier mv_price]" size=8 style="text-align: right">

[comment]
		<input name="price_[item-code]" size=8 value="[discount-price]" style="text-align: right">
[/comment]
		[if discount [item-code]]
		<br>
		<font COLOR=__CONTRAST__ size=-2>[L]Item is discounted[/L]
		    [item-difference]
		</font>
		[/if]
		<br><br>
	</td>
</tr>
[/item-list]
	<tr>
		<td colspan=3 align=LEFT valign=CENTER>
			<div style="float: left">
			<input 
				type="submit"
				onClick="this.form.action='[process-target]';$('div.edit_prod_info.exchange input,div.edit_prod_info.exchange select').prop('disabled',false);"
				value="[L]Enter / Recalculate[/L]"
			/>
			<br />
			<input type=submit name="no_cost" value="Zero cost order" />
		</div>
		<div style="float:right; width: 400px">
			<table width="100%" cellspacing="0">
				<tr>
					<td class="rnorm"><small><B>[L]Subtotal[/L]</td>
					<td class="rnorm"><small>&nbsp;</td>
					<td class="rnorm" align=RIGHT valign=RIGHT><small><B>[subtotal]</td>
				</tr>
				<tr>
					<td class="rnorm"><small>[L]Shipping[/L]</td>
					<td class="rnorm"><small>&nbsp;</td>
					<td class="rnorm" align=RIGHT valign=RIGHT>
				[if type=explicit compare="length($Session->{assigned}->{shipping})"]
					<small>Overridden:</small>
							<input type="text" name="shipping" value="[shipping noformat=1]" size="5" style="text-align: right">
				<br>
							<input type="submit" name="reset_shipping" value="Reset">
				[else]
				[shipping]<br>
				<input type="text" name="shipping" value="" size="5" style="text-align: right">
				[/else][/if]
				[input-filter name=shipping op=digits_dot]
							
					</td>
				</tr>
				<tr>
					<td class="rnorm"><small>[L]Tax[/L]</td>
					<td class="rnorm"><small>&nbsp;</td>
					<td class="rnorm" align=RIGHT valign=RIGHT><small>[salestax]</td>
				</tr>
				<tr>
					<td class="rnorm"><small><B>[L]TOTAL[/L]</td>
					<td class="rnorm"><small>&nbsp;</td>
					<td class="rnorm" align=RIGHT valign=RIGHT><small><B>[total-cost]</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</TBODY>
</TABLE>

[if errors]
<P>
<font COLOR=__CONTRAST__>There were errors in your last entry.</font>
Pointers are shown in <font COLOR=__CONTRAST__>this color</font> below.</font>
	<ul>
		<li>
			[error all=1 show_var=1 keep=1 show_error=1 joiner="<LI>"]
	</ul>
<P>

[calcn]
	#Clear out all of the error 
	foreach( qw/ cybercash_result payment_result payment_mode mv_order_profile cybercash_error payment_error last_error order_error / ){
		delete $Session->{$_};
		delete $Values->{$_};
	}
	'';
[/calcn]

[/if]
<input type=hidden name=mv_doit          value=refresh>
<input type=hidden name=mv_nextpage      value="@@MV_PAGE@@">
<br>
<div class="section-header rmarq">Shipping Address</div>
[loop list=`$Values->{customer_id} || 'NEW'`]
<TABLE width="90%" cellpadding=3 border=0 id="shipping-table">
	<tr>
		<td align=RIGHT>
			Customer ID
		</td>
		<td>
			<input type=text name=customer_id value="[value customer_id]" size=30>
			<input type=checkbox name=new_customer_id value=1 [if !value customer_id]CHECKED[else]onClick="this.form.customer_id.value=''; this.form.submit()"[/else][/if]>[L]New customer[/L]
			<input type="button" value="Find Customer" id="lookup-trigger" />
		</td>
	</tr>
	<tr>
		<td align=RIGHT>[error name=company std_label=[L]Company[/L]]</td>
		<td align=LEFT>
			<input type=text name=company value="[either][value name=company default="[loop-data userdb company]"][or][calcn]$Scratch->{exchange_address}->{company}[/calcn][/either]" size=60>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT>
		[error name=fname std_label="[L]First Name[/L]" required=1]</td>
		<td>
			<input type=text name=fname value="[either][value name=fname default="[loop-data userdb fname]"][or][calcn]$Scratch->{exchange_address}->{fname}[/calcn][/either]" size=30>
		[error name=lname std_label="[L]Last Name[/L]" required=1]&nbsp;<input type=text name=lname value="[either][value name=lname default="[loop-data userdb lname]"][or][calcn]$Scratch->{exchange_address}->{lname}[/calcn][/either]" size=30>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT>[error name=address1 std_label=[L]Address[/L] required=1]</td>
		<td align=LEFT>
			<input type=text name=address1 value="[either][value name=address1 default="[loop-data userdb address1]"][or][calcn]$Scratch->{exchange_address}->{address1}[/calcn][/either]" size=60>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT>&nbsp;</td>
		<td align=LEFT>
			<input type=text name=address2 value="[either][value name=address2 default="[loop-data userdb address2]"][or][calcn]$Scratch->{exchange_address}->{address2}[/calcn][/either]" size=60>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT>
			[error name=city std_label="[L]City[/L]" required=1]
		</td>
		<td>
		<TABLE>
		<tr>
			<td>
				<input type=text name=city value="[either][value name=city default="[loop-data userdb city]"][or][calcn]$Scratch->{exchange_address}->{city}[/calcn][/either]" size=20>
			</td>
			<td>
				[error name=state std_label="[L]State/Province[/L]" required=1]
			</td>
			<td>
				<input onChange="check_tax(this.form)"
					type=text name=state value="[either][value name=state default="[loop-data userdb state]"][or][calcn]$Scratch->{exchange_address}->{state}[/calcn][/either]" size=3>
			</td>
			<td>
				[error name=zip std_label="[L]Zip/Postal Code[/L]" required=1]
			</td>
			<td>
				<input type=text name=zip value="[either][value name=zip default="[loop-data userdb zip]"][or][calcn]$Scratch->{exchange_address}->{zip}[/calcn][/either]" size=10>
			</td> 
		</tr>
		</TABLE>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT><B>[error name=email std_label="[L]Email Address[/L]" required=1]</B></td>
		<td align=LEFT>
			<input type=text name=email value="[either][value name=email default="[loop-data userdb email]"][or][calcn]$Scratch->{exchange_address}->{email}[/calcn][/either]" size=42>
		</td>
	</tr>
	
	
	<tr>
			<td align=RIGHT>
			<B>[L]Country[/L]</B>
			</td>
			<td>
			[value name=country set="[either][value name=country default='[loop-data userdb country]'][or][calcn]$Scratch->{exchange_address}->{country}[/calcn][/either]" hide=1]
			[if value country =~ /(^$|US|CA)/]
			<SELECT name=country onChange="this.form.submit()">
				<OPTION value="US"> [L]United States[/L]
				<OPTION [selected country CA] value="CA"> [L]Canada[/L]
				<OPTION value="JP"> [L]Other (select to change)[/L]
			</SELECT>
			[else]
			<SELECT onChange="this.form.submit()" name=country>
			[loop search="ra=yes/fi=country.txt/ml=1000/tf=name" option=country prefix=country]
				<OPTION value="[country-code]"> [country-data country name] 
			[/loop]
			</SELECT>
			[/else]
			[/if] <font size="1"><B>[L](will update display)[/L]</B></font>
			</td>
	</tr>
	
	<tr>	
		<td align=RIGHT>[error name=phone_day std_label="[L]Daytime Phone[/L]" required=1]</td>
		<td>
		<TABLE>
		<tr>
			<td>
			<input type=text name=phone_day value="[either][value name=phone_day default="[loop-data userdb phone_day]"][or][calcn]$Scratch->{exchange_address}->{phone_day}[/calcn][/either]" size=16>
			</td>
			<td align=RIGHT>
			[error name=phone_night std_label="[L]Evening Phone[/L]" required=0]
			</td>
			<td>
			<input type=text name=phone_night value="[either][value name=phone_night default="[loop-data userdb phone_night]"][or][calcn]$Scratch->{exchange_address}->{phone_night}[/calcn][/either]" size=16>
			</td>
		</tr>
		</TABLE>
	</tr>
	
	[set [L]Clear[/L]]
	[calc]	
		for(keys %$CGI) {
			$CGI->{$_} = '';
		}
	[/calc]
	mv_todo=return
	customer=NEW
	mv_nextpage=@@MV_PAGE@@
	[/set]
	
	
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type=submit name=mv_click value="[L]Clear[/L]">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<small><I>[msg arg.0="<B>" arg.1="</B>"]%sBold%s fields needed to process the order[/msg]</I></small>
			<br>
			<span class=cmessage><input type=checkbox name=no_save value=1 [checked no_save_shipping 1]> [L]Don't save address in user record[/L]</span>
		</td>
	</tr>
</TABLE>

<div class="section-header rmarq">Shipping method</div>
<TABLE width=600>
	<tr>
		<td>
				<SELECT onChange="this.form.submit()" name=mv_shipmode>
				[shipping label=1]
		</td>
		<td align=RIGHT><input type=submit value="Update"></td>
	</tr>
	<tr>
		<td colspan=2 align=CENTER>
			[if session ship_message]
				[calc interpolate=0]
					$Session->{ship_message} =~ s/^(Nothing to ship!).*/$1/;
					return;
				[/calc]
				<br />
				<B>Note: </B> [data session ship_message]
				<br />
			[/if]
		</td>
	</tr>
</TABLE>
<br />
<div class="section-header rmarq">Billing Address (if different)</div>
<TABLE border=0>
	<tr>
		<td align=RIGHT><B>[L]First Name[/L] </B></td>
		<td>
			<input type=text name=b_fname value="[either][value name=b_fname default="[loop-data userdb b_fname]"][or][calcn]$Scratch->{exchange_address}->{b_fname}[/calcn][/either]" size=20>
			<B>[L]Last Name[/L]</B><input type=text name=b_lname value="[either][value name=b_lname default="[loop-data userdb b_lname]"][or][calcn]$Scratch->{exchange_address}->{b_lname}[/calcn][/either]" size=30>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT>[L]Company[/L]</td>
		<td align=LEFT>
			<input type=text name=b_company value="[either][value name=b_company default="[loop-data userdb b_company]"][or][calcn]$Scratch->{exchange_address}->{b_company}[/calcn][/either]" size=50>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT><B>[L]Address[/L]</B></td>
		<td align=LEFT>
			<input type=text name=b_address1 value="[either][value name=b_address1 default="[loop-data userdb b_address1]"][or][calcn]$Scratch->{exchange_address}->{b_address1}[/calcn][/either]" size=50>
		</td>
	</tr>
	
	<tr>
		<td align=RIGHT></td>
		<td align=LEFT>
			<input type=text name=b_address2 value="[either][value name=b_address2 default="[loop-data userdb b_address2]"][or][calcn]$Scratch->{exchange_address}->{b_address2}[/calcn][/either]" size=50>
		</td>
	</tr>
	<tr>
		<td align=RIGHT><B>[L]City[/L]</B></td>
		<td>
			<input type=text name=b_city value="[either][value name=b_city default="[loop-data userdb b_city]"][or][calcn]$Scratch->{exchange_address}->{b_city}[/calcn][/either]" size=20>
			<B>[L]State[/L]</B> <input type=text name=b_state value="[either][value name=b_state default="[loop-data userdb b_state]"][or][calcn]$Scratch->{exchange_address}->{b_state}[/calcn][/either]" size=3>
			<B>[L]Zip/Postal Code[/L]</B> <input type=text name=b_zip value="[either][value name=b_zip default="[loop-data userdb b_zip]"][or][calcn]$Scratch->{exchange_address}->{b_zip}[/calcn][/either]" size=10>
		</td>
	</tr>
	<tr>
		<td align=RIGHT><B>[L]Country[/L]</B></td>
		<td>
			<input type=text name=b_country value="[either][value name=b_country default="[loop-data userdb b_country]"][or][calcn]$Scratch->{exchange_address}->{b_country}[/calcn][/either]" size=20>
		</td>
	</tr>
	<tr>
		<td align=RIGHT><B>[L]Phone[/L]</B></td>
		<td>
			<input type=text name=b_phone value="[either][value name=b_phone default="[loop-data userdb b_phone]"][or][calcn]$Scratch->{exchange_address}->{b_phone}[/calcn][/either]" size=20>
		</td>
	</tr>

</TABLE><br>

<div class="section-header rmarq">Email preferences</div>
<TABLE>
<tr>
	<td valign=top>
		<b>Send receipt?</b>&nbsp;&nbsp;
		<input type=radio name=email_copy [checked name=email_copy value=1 default=1] value="1">[L]Yes[/L]
		<input type=radio name=email_copy [checked name=email_copy value=0] value="0">[L]No[/L]
	</td>
</tr>
</TABLE>

<!-- coupont code -->
<div class="section-header rmarq">Comments</div>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="padding: 0 30px 0 0">
      [if scratch coupon_msg]
        <div class="smText">
					<span style="color: #ff0000; font-weight: bold">[scratchd coupon_msg]</span>
        </div>
        <br />
      [/if]
      <b>Coupon Code:</b>&nbsp;&nbsp;<input type="text" size="14" name="coupon_code" value="[value coupon_code]" />
      <br />
      <input type="submit"	onClick="this.form.action='[process-target]'" value="Enter / Recalculate" />
      <br />
      <input type="submit" name="mv_click" value="Clear coupon" />
      [set Clear coupon]
      	[calcn]
					%$::Discounts = ();
					delete $Vend::Session->{discount};
					delete $Scratch->{shipping_adder};
					delete $Scratch->{disc_amount};
					delete $Scratch->{pre_disc_st};
					delete $Scratch->{shipping_coupon};
      	[/calcn]
      [/set]
    </td>
    <td align="left" valign="top">
      <b>Lab Comments:</b><span class="small-note">These comments are for the Lab.</span>
      <br>
      <textarea cols="30" rows="5" name="comments">[value gift_note]</textarea>
    </td>
  </tr>
</table>

<div class="section-header rmarq">Payment Method</div>
<table>
	<tr>
		<td class="contentbar1">
			<select name="mv_order_profile" onChange="visible()">
				[if variable CREDIT_CARDS_ACCEPTED]
					<option [selected mv_order_profile credit_card] value="credit_card">[L]Credit Card[/L]</option>
				[/if]
					<option [selected mv_order_profile postal] value="postal">[L]Will send check or money order[/L]</option>
				[if variable CHECK_ACCEPTED]
					<option [selected mv_order_profile online_check] value="online_check">[L]Online Check[/L]</option>
				[/if]
				[if variable PO_ACCEPTED]
					<option [selected mv_order_profile purchase_order] value="purchase_order">[L]Company P.O.[/L]</option>
				[/if]
				[if variable POSTAL_ACCEPTED]
					<option [selected mv_order_profile postal] value="postal">[L]Postal Billing[/L]</option>
				[/if]
				[if variable COD_ACCEPTED]
					<option [selected mv_order_profile cod] value="cod">[L]C.O.D.[/L]</option>
				[/if]
				[if term="[total-cost noformat=1]" op="==" compare="0"]
					<option [selected mv_order_profile no_charge] value="no_charge">[L]NO CHARGE[/L]</option>
				[/if]
				[if scratch admin_exchange][if term="[total-cost noformat=1]" op="<" compare="0"]
					<option [selected mv_order_profile charge_back] value="charge_back">[L]Charge back Customer's Card Used on #[scratch original_order_ref][/L]</option>
				[/if][/if]
			</select>
		</td>                             
	</tr>
</table>                                        

<!-- end   payment_select -->

<!-- begin payment_widgets -->
<div id="cc_header" class="section-header rmarq">
	[error std_label="[L]Credit Card Information[/L]" name=mv_credit_card_valid]
</div>
<div style="position: relative; left: 0; top: 0; visibility: visible; height: 160px; z-index:1">
	<div id="credit_card" style="position: absolute; left: 0; top: 0; visibility: hidden; z-index:0">
      <!--- credit card information --->
			<table>
				<tr>
					<td align=right class="contentbar1" width="30%">
						<b>[L]Card Number[/L]: </b>
					</td>
					<td colspan=2 class="contentbar1">
						<script>function highlight_card(num){ }</script>
            <b><input type="text" name="mv_credit_card_number" size=22 onChange="highlight_card(this.value)"></b> <i id=textindication style="font-size: smaller"></i>
					</td>
				</tr>
				<tr>
					<td align=right class="contentbar1">
						<b>Security Code / CVV2</b>
					</td>
					<td colspan=2 class=contentbar1>
						<input type=text name=mv_credit_card_cvv2 size=4> <a href="#" onclick="open('/cvv_pop.html', 'cvv_info',',width=500,height=450,scrollbars=no,resizable=no'); return false;"><small>How to find CVV2</small></a>
					</td>
				</tr>
				<tr>
					<td align=right class="contentbar1">
						<b>[L]Expiration[/L]: </b>
					</td>
					<td colspan=2 class="contentbar1">

                [display
					name=mv_credit_card_exp_month
					type=select
					default="[value name=mv_credit_card_exp_year default='[loop-data userdb mv_credit_card_exp_year]']"
                        passed=|
1=01 - [L]January[/L],
2=02 - [L]February[/L],
3=03 - [L]March[/L],
4=04 - [L]April[/L],
5=05 - [L]May[/L],
6=06 - [L]June[/L],
7=07 - [L]July[/L],
8=08 - [L]August[/L],
9=09 - [L]September[/L],
10=10 - [L]October[/L],
11=11 - [L]November[/L],
12=12 - [L]December[/L]|]
                [comment]
                This should always return the current year as the first, then
                7 more years.
                [/comment]
                [display
					type=select
					name=mv_credit_card_exp_year
					default="[value name=mv_credit_card_exp_year default='[loop-data userdb mv_credit_card_exp_year]']"
					passed=`
                my $year = $Tag->time( '', { format => '%Y' }, '%Y' );
                my $out = '';
				my @out;
                for ($year .. $year + 7) {
                        /\d\d(\d\d)/;
                        $last_two = $1;
                        push @out, "$last_two=$_";
                }
                return join ",", @out;
                `]

              </td>
            </tr>
            </table>
	</div>
	<div 
		id=postal
		style="
				Position:Absolute;
				Left:0; Top:0;
				Visibility:Hidden;
				z-index:0;
		">
		[L NEW_BROWSER_PAYMENT_MSG1]We will wait for a check sent to us referencing the order number you receive on your receipt.[/L]
        </div>
	<div 
		id=cod
		style="
				Position:Absolute;
				Left:0; Top:0;
				Visibility:Hidden;
				z-index:0;
		">
		[msg arg.0="[handling cod]"]There will be a %s charge added for COD.[/msg]
        </div>
	<div 
		id=no_charge
		style="
				Position:Absolute;
				Left:0; Top:0;
				Visibility:Hidden;
				z-index:0;
		">
		[L NEW_BROWSER_PAYMENT_MSG1]No charge will be made for this order.[/L]
        </div>
        
	<div 
		id=online_check
		style="
				Position:Absolute;
				Left:0; Top:0;
				Visibility:Hidden;
				z-index:0;
		">
        <table border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="4"  width="100%">
            <tr>
              <td class="rmarq" colspan="2">
                <b>&nbsp;&nbsp;[L]Check Information[/L]</b>
              </td>
              <td class="rmarq">&nbsp;</td>
              <td class="rmarq">&nbsp;</td>
            </tr>
            <tr>
              <td align="right" class="contentbar1">
                [error name=check_acct std_label="[L]Account Number[/L]" required=1]
              </td>
              <td colspan="3 align="left" class="contentbar1">
                <b>
                <input type=text name=check_acct size=22 value="[value check_acct]">
                </b>
              </td>
            </tr>
            <tr>
              <td align="right" class="contentbar1">
                [error name=check_route std_label="[L]Routing Number[/L]" required=1]
                
              </td>
              <td align="left" colspan="3" class="contentbar1">
                <b><input type=text name=check_route size=22 value="[value check_route]"></b>
              </td>
            </tr>
            <tr>
              <td align="right" class="contentbar1">
                [error name=check_num std_label="[L]Check Number[/L]" required=1]
              </td>
              <td align="left" colspan="3" class="contentbar1">
                <b>
                <input type=text name=check_num size=22 value="[value check_num]">
                </b>
              </td>
                </tr>
            <tr>
              <td align="right" class="contentbar1">
                [error name=check_bank_phone std_label="[L]Bank Phone[/L]" required=1]
                
              </td>
              <td align="left" colspan="3" class="contentbar1">
                <b>
                <input type=text name=check_bank_phone size=22 value="[value check_bank_phone]">
                </b>
              </td>
                </tr>
			<tr>
				<td colspan=4 class=contentbar1>&nbsp;</td>
			</tr>
		  </table>
		</td>
	  </tr>
	</table>
	</div>
	<div 
		id=purchase_order
		style="
				Position:Absolute;
				Left:0; Top:0;
				Visibility:Visible;
				z-index:0;
		">
 
        <table cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr class="rmarq">
              <td class="rmarq" colspan="2">
                <b> [L]P.O. Information[/L] </b>
              </td>
              <td colspan=2 class="rmarq">&nbsp;</td>
            </tr>
            <tr>
              <td align=right class="contentbar1" width="30%">
                [error name=credit_limit_ok std_label="[L]PO Number[/L]" required=1] &nbsp; &nbsp;
              </td>
              <td align=left colspan=3 class="contentbar1">
                <b>
                <input name=project_id value="[value project_id]" size=14>
                </b>
              </td>
            </tr>
			<tr>
				<td colspan=4 class=contentbar1>&nbsp;</td>
			</tr>
        
            [if type=data
                term="userdb::credit_limit::[data session username]"
                op=">"
                compare=0.01]
        
            <tr>
              <td align=right valign=top class=contentbar1>
                <b> Available credit </b>&nbsp;&nbsp;&nbsp;
              </td>
              <td align=left colspan=3 class=contentbar1>
                [currency]
                [data table=userdb col=credit_limit key="[data session username]"]
                [/currency]
                
                [if type=data
                        term="userdb::credit_limit::[data session username]"
                        op=<
                        compare="[total-cost noformat=1]"
                ]
                <BR>
                [msg arg.0="[total-cost]"]Order total %s exceeds credit limit, please call.[/L]
                [/if]
                <BR>
              </td>
            </tr>
        
            [/if]
			<tr>
				<td colspan=4 class=contentbar1>&nbsp;</td>
			</tr>
            </table>
                                                
          </td>
        </tr>
        </table>
	</div>
</div>

<script>
	visible('[either][value mv_order_profile][or]credit_card[/either]');
</script>
<!-- end   payment_widgets -->

<CENTER>
[set [L]Place Order[/L]]
	mv_todo=submit
	[value name=mv_order_route set="log_entry main copy_user" hide=1]	
[/set]
<input name=mv_click type=submit onclick="$('div.edit_prod_info.exchange input,div.edit_prod_info.exchange select').prop('disabled',false);copy_address();" value="[L]Place Order[/L]" style="font-weight: bold">
</CENTER>

<P>
[comment]
<B>[L]Gift note or Special Instructions[/L]<BR>
<TEXTAREA name=gift_note ROWS=5 COLS=72>[value name=gift_note default="[loop-data userdb gift_note]"]</TEXTAREA>
</FORM>
[/comment]
[/loop]
[error all=1 hide=1 comment="[L]Clear errors[/L]"]


<script>
function copy_address()
{
	if(document.checkout.b_fname.value == ''
		&& document.checkout.b_lname.value == ''
		&& document.checkout.b_address1.value == ''
		&& document.checkout.b_zip.value == '')
	{
		document.checkout.b_company.value = document.checkout.company.value;
		document.checkout.b_fname.value = document.checkout.fname.value;
		document.checkout.b_lname.value = document.checkout.lname.value;
		document.checkout.b_address1.value = document.checkout.address1.value;
		document.checkout.b_address2.value = document.checkout.address2.value;
		document.checkout.b_city.value = document.checkout.city.value;
		document.checkout.b_state.value = document.checkout.state.value;
		document.checkout.b_zip.value = document.checkout.zip.value;
		document.checkout.b_country.value = document.checkout.country.value;
	}
}	
</script>
<div id="lookup-customer">
	<a href="#" class="close">Close</a>
	<div id="search-parameters">
		<label for="search-fname">First name:</label>
		<input type="text" name="search-fname" />
		<label for="search-lname" class="marginLeft">Last name:</label>
		<input type="text" name="search-lname" />
		<br />
		<label for="search-zip">Zip code:</label>
		<input type="text" name="search-zip" />
		<br />
		<label for="search-email">Email:</label>
		<input type="text" name="search-email" />
		<label for="search-username" class="marginLeft">Username:</label>
		<input type="text" name="search-username" />
		<br />
		<input type="button" value="Search" style="float: right" />
		<br style="clear: both" />
	</div>
	<br style="clear: both" />
	<div id="results">
		<table border=1 id="matching-customers">
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
			</tr>
		</table>
	</div>
	
		
</div>
<script type="text/javascript">
[strip reparse=0]
$(function(){
	$('#search-parameters input[type=button]').click( executeSearch );
	$('#search-parameters input[type=text]').keydown(function(e){
		if( e.which == 13 )
			return executeSearch(e);
	});
	
	$('#lookup-customer a.close').click(closeSearch);
	
	
	$('#lookup-trigger').click(function(e){
		var $lookup = $('#lookup-customer');
	
		//Set the popup window to center
		$lookup.css({
			'top':  e.pageY - $lookup.height()/4,
			'left': e.pageX - $lookup.width()/2
		}).fadeIn();
		$lookup.find(':input:first').focus();
	});

	if(!jQuery('#monocularPD').is(':checked')){
		$('#ospd').hide();
	}
});

function executeSearch(e){
	var $this = $('#search-parameters');
	var $resultsTable = $('#matching-customers');
	//Clear out old results
	$resultsTable.find('tr:gt(0)').remove();
	
	//Disable the submit button
	$this.find('input[type=button]').attr('disabled','disabled');
	
	$('#results').css('background','url(/img/ajax-loader.gif) no-repeat center');
	
	$.ajax({
		url: '/admin/ajax_controller.html',
		data: 'r=' + Math.random() + '&project=order-entry&task=customer-lookup&' + $this.find('[value!=""]').serialize(),
		dataType: 'json',	
		success: function(response){
			if( response.success ){
				//response.response will be an array of objects containing all customer data
				for( var i in response.response ){
					var customer = response.response[i];
					var $tr = $('<tr/>');
					var attributes = new Array('customer_id','fname','lname','address1','address2','city','state');
					
					for( var i in attributes ){
						$tr.append( $('<td/>').text( customer[ attributes[i] ] || ' ' ) ).data(customer);
					}
					
					$resultsTable.append($tr);
				}
				
				$resultsTable.find('tr:gt(0)').click(function(){
					var info = $(this).data();

					for( var key in info ){
						$('input[name=' + key + ']').val(info[key]);
					}
					
					$('input[name=new_customer_id]').attr('checked','');
					closeSearch(e);
				}).hover(function(){ $(this).css('background','yellow'); }, function(){ $(this).css('background','white'); } );
				
				//Re-enable the submit button
				$this.find('input[type=button]').attr('disabled','');
			}else{
				alert("[CL] Customer data not found, something went awry. Please grab someone from the web group to review your screen.");
			}

			$('#results').css('background','');
		},
		error: function(obj,status,error){
			alert('Some sort of error:\n' + status + "\n----\n" + error);
			$('#results').css('background','');
		}
	});
	e.preventDefault(); return false;			
}


function closeSearch(e){
	e.preventDefault();
	$('#lookup-customer').hide();
	//Remove results
	$('#matching-customers tr:gt(0)').remove();
}

</script>
[/strip]

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
