[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[strip interpolate=1]
@_UI_STD_INIT_@
[if-mm !logged_in]
	[bounce page="__UI_BASE__/login"]
[/if-mm]
[set page_title][L]Interchange Administration[/L][/set]
[tmp ui_no_title]1[/tmp]
[set icon_name][/set]
[set help_name]home[/set]
[set ui_class]None[/set]

[seti meta_header]
	
[if-mm !logged_in]
	[bounce page="admin/login"]
[else]
	[if type="explicit" compare="$Session->{username} =~ /TSOship|beanshoot/i"]
		[seti in_labnumber]1[/seti]
	[/if]
	[if type="explicit" compare="$Session->{username} =~ /HOship|capsicum/i"]
		[seti in_labnumber]2[/seti]
	[/if]
	[if type="explicit" compare="$Session->{username} =~ /lab3ship/i"]
		[seti in_labnumber]3[/seti]
	[/if]
[/else]
[/if-mm]	

<script language="JavaScript1.2">
<!--
[calc]
	my $browser = $Session->{browser};
	if($browser =~ /msie.*mac/i) {
		$Scratch->{ql_width} = 140;
		$Scratch->{ql_height} = 640;
	}
	elsif($browser =~ /mozilla.*mac/i) {
		$Scratch->{ql_width} = 140;
		$Scratch->{ql_height} = 640;
	}
	elsif($browser =~ /msie.*windows/i) {
		$Scratch->{ql_width} = 170;
		$Scratch->{ql_height} = 700;
	}
	elsif($browser =~ /mozilla.*windows/i) {
		$Scratch->{ql_width} = 170;
		$Scratch->{ql_height} = 700;
	}
	else {
		$Scratch->{ql_width} = 145;
		$Scratch->{ql_height} = 620;
	}
	return;
[/calc]

[seti window_name][tag time]%m%d%H%M%S[/tag][/seti]

function open_quicklinks() {
  window.name = "mainwindow[scratch window_name]";
  opts="top=0,left=0,scrollbars,location=no,status=no,toolbar=no,resizable,fullsize=no,width=[scratch ql_width],height=[scratch ql_height]";
  window.open('[area href="admin/quicklinks" arg="[scratch window_name]"]', 'Quicklinks[scratch window_name]', opts);
}
// -->
</SCRIPT>
[/seti]

[/strip]
@_UI_STD_HEAD_@
<table width="100%" border=0 cellspacing=0 cellpadding=0 height=320 width=700 bgcolor="#eeeeee">
<tr>
<td valign=top style="border: 2px solid #FF9933;">
<br><br><br>
<div align=center>
<table width="90%" border="1" cellspacing=0 cellpadding="0" bgcolor="#FFFFFF">
<tr class=ralt>
<td>
<br>						
<div align=center>
<table border=0 cellspacing=3 cellpadding=2>

[calc]
	my $data = q{[version extended=1 modules=1 joiner="<P>"]};
	$dbstatus = q{[version extended=1 modtest="GDBM_File"][version extended=1 modtest="DB_File"]};
	return unless $data =~ /IMPORTANT/ or $dbstatus < 1;
	my @lines = grep /not\s+found|IMPORTANT/, split /<P>/, $data;
	my @important = grep /IMPORTANT/, @lines;
	my @minor = grep $_ !~ /IMPORTANT/, @lines;
	my $imp = join '<P>', @important;
	my $minor = join '<P>', @minor;
	my $out = '';
	$out .= <<EOF if $data =~ /IMPORTANT/;
<TR>
<TD COLSPAN=3>
<H1>Admin interface will not work properly.</H1>
Please install needed Perl modules:
<small>
<blockquote class=cerror>
	$imp
</blockquote>
<blockquote>
	$minor
</blockquote>
</small>
The easiest way to do this is to use the CPAN module and do:
<blockquote>
perl -MCPAN -e 'install Bundle::Interchange'
</blockquote>

</TD>
</TR>
EOF

	if($dbstatus < 1) {
	$out .= <<EOF;
<TR>
<TD COLSPAN=3>
<H1>You need either GDBM_File or DB_File for Interchange to work as documented.</H1>
Contact your system administrator about rebuilding Perl with GDBM or Berkeley DB.
</TD>
</TR>
EOF
	}
	return $out;
[/calc]

[perl tables="__UI_META_TABLE__ mv_metadata"]
	delete $Scratch->{merge_complete};
	delete $Scratch->{do_merge};
	my $tab = q{__UI_META_TABLE__} || 'mv_metadata';
	my $db = $Db{$tab}
		or do {
			$Scratch->{merge_complete}
				= errmsg("Cannot merge: no meta table '%s'", $tab);
			return;
		};

	my $newver = $Tag->version();
	$Scratch->{newver} = $newver;
	my $compnew = $newver;
	$compnew =~ s/\D+//g;

	my $curver = 0;
	if($db->record_exists('ui-version')) {
		$curver = $db->field("ui-version", 'label');
	}

	$Scratch->{curver} = $curver;
	my $compcur = $curver;
	$compcur =~ s/\D+//g;

	if ($curver eq $newver) {
		## All is copasetic
	}
	elsif($compcur gt $compnew) {
		## I guess this is OK
	}
	else {
		return qq{
<TR>
<TD COLSPAN=3>
<blockquote class=titlebox>
[L]UI update appears to have been done and metadata has not
been updated for this catalog...[/L]
	<blockquote>
		[page href=admin/merge_meta extra=class=titlebox][L]Merge Metadata[/L]</a>
	</blockquote>
</blockquote>
</TD>
</TR>
		};
	}
	return;
[/perl]

[menu
	  name=Top
	  superuser=super
	  inactive=inactive
	  localize=name,description
	  ui_security=depends_on
	  lr=1]
<tr>
<td valign="top">
	  {IMG_ICON?}
<a href="{HREF}"><img src="{IMG_ICON}" border="0"></a>
	  {/IMG_ICON?}
</td>
<td valign="top">
&nbsp;<a href="{HREF}">{NAME}</a>
</td>
<td valign="top">
{DESCRIPTION}
</td>
</tr>
[/menu]

</table>
</div>
<br>						
</td>
</tr>
</table><br><br>
</div>
</td>
</tr>
</table>

@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
