[set page_title][L]Order manager[/L]: [L]Issue refund[/L][/set]
[set ui_class]Orders[/set]
[set page_banner][L]Issue refund[/L][/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]
@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

<h2>Issue refund/credit for order [cgi order]</h2>

<form action="[process-target]" method="post">
<input type="hidden" name="mv_nextpage" value="admin/order_view" />
<input type="hidden" name="order" value="[cgi order]" />
<input type="hidden" name="process_refund" value="1" />

<table>
<tr>
<td><label for="amount_input">Refund/Credit Amount:</label></td>
<td><input type="text" name="refund_amount" id="amount_input" size="10" /></td>
</tr><tr>
<td><label for="reason_input">Reason: </label></td>
<td><textarea name="refund_reason" id="reason_input" cols="40" rows="5"></textarea></td>
</tr>
</table>
<br /><br />
<em style="color:red">Note: All refunds are logged to the account you are signed in with.<br />Refund amount MUST NOT exceed original order amount!</em>
<br /><br />
<input type=submit value="Issue Refund/Credit">

</form>

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
