[set page_title][L]Item Editor[/L]: [L]Edit Item Attributes[/L][/set]
[set ui_class]Items[/set]
[set page_banner][L]Edit Item Attributes[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[tmp meta_header]
<style type="text/css">
.prodLabel input[type="text"] {
	float: left;
}
.prodLabel p {
	float: left;
	width: 300px;
	margin: 0;
}
.prodLabel {
	display: block;
	width: 100%;
	clear: both;
}
.prodLabel p.sideNote {
	font-size: 11px;
	width: auto;
	clear: both;
	margin: 4px 0;
	float: none;
}
#us{
	width: 800px;
	color: green;
	font-weight: bold;
	padding: 10px;
	border: 1px solid green;
	background: #F5FFF5;
	text-align: center;
	margin: auto;
}
</style>
[/tmp]
[update values]
[perl table="products" no_return=1]
$Scratch->{disabled_fields} = [qw\
	inactive date_added sku
\];
$Scratch->{field_width} = {
	options_lenstype => '550px',
	add_keywords => '550px',
	detail => '550px',
	prod_group => '220px',
	options_lens => '170px',
	options_tint => '400px',
};
my ($dbh, $sth);
$dbh = $Sql{products} or die "No DBH Handle $!";
$sth = $dbh->prepare(q\
	SHOW COLUMNS FROM products
\);
$sth->execute;
my @columns;
while (my $row = $sth->fetchrow_arrayref){
	push @columns, $row->[0];
}
$sth->finish;
if (delete $CGI->{update}){
	my $sku = $CGI->{prodSku};
	my $sql = sprintf(q\
		UPDATE products set %1$s WHERE sku = ?
	\, join ',', map { 
		$_.' = '.$Tag->filter('dbi_quote',$CGI->{$_}) 
	} @columns);
	my $sth = $dbh->prepare($sql);
	$sth->execute($sku);
	$sth->finish;
	$Tag->tmpn('update_success','1');
}
if ($CGI->{prodSku}){
	return unless $CGI->{prodSku} =~ /^\d+_\w+$/;
	$sth = $dbh->prepare(sprintf(q\
		SELECT %1$s FROM products WHERE sku = ? 
	\, join ', ', @columns )) or die "Can't get statement handle: $!";
	$sth->execute($CGI->{prodSku}) or die "Error executing query: $!";
	my $results = fetchall_hashref($sth, @columns);
	$Tag->tmpn('res_set', $results->[0]);
	$Tag->tmpn('res_columns', join " ", sort keys %{$results->[0]} );
	$sth->finish;
}

sub fetchall_hashref {
	    #its called a hash ref interchange, use it
	    my ($sth, @columns) = @_;
	    my $res;
	    while (my $row = $sth->fetchrow_arrayref){
	        my $count = 0;
	        my $ref;
	        for (@$row){
	            $ref->{$columns[$count++]} = $_;
	        }
	        push @$res, $ref;
	    }
	    return $res;
	}
[/perl]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
		[if scratchd update_success]
			<div id="us">
				<p>The item has been updated successfully.</p>
			</div>
		[/if]
		<div id="enterSku">
			<form name="prodForm" method="POST" action="[area admin/item_editor]">
				<label for="prodSku">
					<p>Enter Sku:</p>
					<input name="prodSku" id="prodSku" value="[cgi prodSku]" />
				</label>
				<input type="submit" value="Edit Product" />
			</form>
		</div>
		[if cgi prodSku]
			<form name="editForm" action="[area admin/item_editor]" method="POST">
				<input name="prodSku" type="hidden" value="[cgi prodSku]" />
				<input name="update" type="hidden" value="1" />
				[loop list="[scratch res_columns]"]
					[tmp key][loop-code][/tmp]
					[calcn hide='1']
					delete $Scratch->{$_} for qw\value disabled width\;
					$Tag->tmpn('value',$Scratch->{res_set}{$Scratch->{key}});
					$Tag->tmpn('disabled', scalar(grep $Scratch->{key} eq $_, @{$Scratch->{disabled_fields}}) ? 'disabled' : '');
					$Tag->tmpn('width', $Scratch->{field_width}{$Scratch->{key}} || '100px');
					[/calcn]
					<label class="prodLabel" for="[scratch key]">
						<p>[scratch key]:</p>
						<input type="text" name="[if scratch disabled]d_[/if][scratch key]" id="[scratch key]" value="[scratch value]" [scratch disabled] style="width: [scratch width]"/>
						[if scratch disabled]
							<input type="hidden" name="[scratch key]" value="[scratch value]" />
						[/if]
						[if scratch key eq 'inactive']
							<p class="sideNote">
								Item state must be changed with the <a href="[area admin/change-state]">state editor</a>.
							</p>
						[/if]
					</label>
				[/loop]
				<label class="prodLabel">
					<br />
					<input type="submit" value="Submit Changes" />
				</label>
			</form>
		[/if]
		</td>
	</tr>
</table>
@_UI_STD_FOOTER_@