[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[strip interpolate=1]
@_UI_STD_INIT_@
[if-mm !logged_in]
	[bounce page="__UI_BASE__/login"]
[/if-mm]
[set page_title][L]Interchange Administration[/L] : Lens Packages[/set]
[tmp ui_no_title]1[/tmp]
[set icon_name]icon_item[/set]
[set help_name]items[/set]
[set ui_class]Items[/set]


@_UI_STD_HEAD_@

[perl tables="products"]
	
	$r = '';

	if($CGI->{assign})
	{
		##get select categories
		@pkgs = split /\0/,$CGI->{lens_packages};
		@cats = split /\0/,$CGI->{frames};
		
		$sql = "SELECT sku,options_lenstype,description FROM products WHERE category IN('".join("','",@cats)."')";
		if($CGI->{lens_type} eq 'PROGE')
		{
			$sql .= " AND options_lens LIKE '%PROGE%'";
		}
		elsif($CGI->{lens_type} eq 'PROG')
		{
			$sql .= " AND options_lens NOT LIKE '%PROGE%'";
		}	
		
		$Tag->query({sql=>$sql,hashref=>'result'});
				
		foreach $frame (@{$Tmp->{result}})
		{
			$framepkg = '';
			foreach $pkg (@pkgs)
			{
				##if frame already has selected lens package, skip
				next if($frame->{options_lenstype} =~ /$pkg/);				
				$framepkg	.= " $pkg";
			}
			if($framepkg)
			{
				##we need to add some packages to this frame, run the update
				$sql = "UPDATE products SET options_lenstype = '$frame->{options_lenstype}$framepkg' WHERE sku = '$frame->{sku}' LIMIT 1";
				$Tag->query({sql=>$sql});
				$r .= "$frame->{sku} ($frame->{description}) Added: $framepkg<br />";
			}
		}
		$r = '<font color="green">All frames up-to-date.</font>' if(!$r);		
	}
	
	return $r;
[/perl]

<form action="[area admin/lens_packages_frames]" method="post">
	<input type="hidden" name="assign" value="1" />
	<table class="rseparator" cellspacing="1" cellpadding="2">
		<tr class="rhead">
			<th colspan="2">
				Assign Packages to Frames
			</th>
		</tr>
		<tr>
			<td class="rowalt">Choose lens packages to assign<br />
				<small>Ctrl+Click to select multiple</small></td>
			<td class="rownorm">
				<select name="lens_packages" multiple="1">
					[query sql=|SELECT * FROM desc_lens_pkg ORDER BY pkgletter| type=|list|]
						[list]
						<option value="[sql-param pkgcode]">Package [sql-param pkgletter] - [sql-param pkgtitle]</option>
						[/list]
					[/query]
				</select>
			</td>	
		</tr>
		<tr>
			<td class="rowalt">Progressive Type<br />
				</td>
			<td class="rownorm">
				<select name="lens_type">
					<option value="">All</option>
					<option value="PROG">Regular (Sola)</option>
					<option value="PROGE">Short (Ellipse)</option>				
				</select>
			</td>	
		</tr>
		<tr>
			<td class="rowalt">Categories that packages will be assigned to<br />
				<small>Ctrl+Click to select multiple</small></td>
			<td class="rownorm">
				<select name="frames" multiple="1">
					[query sql=|SELECT DISTINCT(category) FROM products WHERE prod_group = 'Eyeglasses and Sunglasses' ORDER BY category| type=|list|]
						[list]
						<option value="[sql-param category]">[sql-param category]</option>
						[/list]
					[/query]
				</select>
			</td>	
		</tr>
	</table>
	<input type="submit" value="Assign" />
</form>

@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
