[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[strip interpolate=1]
@_UI_STD_INIT_@
[if-mm !logged_in]
	[bounce page="__UI_BASE__/login"]
[/if-mm]
[set page_title][L]Interchange Administration[/L] : Lens Packages[/set]
[tmp ui_no_title]1[/tmp]
[set icon_name]icon_item[/set]
[set help_name]items[/set]
[set ui_class]Items[/set]


@_UI_STD_HEAD_@

<table class="rseparator" cellspacing="1" cellpadding="2">
	<tr class="rhead">
		<td>
			<a href="[area admin/lens_packages_create]">Create a new lens package</a>	
		</td>
	</tr>
	<tr class="rhead">
		<td>
			<a href="[area admin/lens_packages_frames]">Assign Packages to Frames</a>
		</td>
	</tr>
</table>

<br />

<table class="rseparator" cellspacing="1" cellpadding="2">
	<tr class="rhead">
		<th colspan="5">
			Current Packages
		</th>
	</tr>
	<tr class="rhead">
		<th>
			Letter
		</th>
		<th>
			Code
		</th>
		<th>
			Title
		</th>
		<th>
			Edit
		</th>
		<th>
			Delete
		</th>
	</tr>

[query sql=|SELECT * FROM desc_lens_pkg ORDER BY pkgletter| type=|list|]
	[list]
	<tr class="rowalt">
		<td>
		[sql-param pkgletter]
		</td>
		<td>
		[sql-param pkgcode]
		</td>
		<td>
		[sql-param pkgtitle]
		</td>
		<td>
			<a href="[area href="admin/lens_packages_edit" form="edit=[sql-param code]"]">edit</a>
		</td>
		<td>
			delete
		</td>
	</tr>
	[/list]
[/query]

</table>


@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
