<!-- MODIFIED -->
[set page_title][L]Lens package ranges[/L][/set]
[set ui_class]Items[/set]
[set help_name]Items.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		#ranges th{ padding: 3px }
		#ranges tbody tr:hover{ background: #EEE; }
		#ranges input.col-value{ display: none }
		br.clear{ clear: both }
	</style>
	<script type="text/javascript" src="__JQUERY__"></script>
	<script type="text/javascript">
	$(function(){
		[if-mm super]
		$('#ranges tr[data-pkgcode] td span').dblclick(function(){
			if( $(this).siblings('input.col-value').attr('data-colname') != 'Package' )
				$(this).hide().siblings('input.col-value').show().focus();
		});
		$('#ranges tr[data-pkgcode] td input.col-value').keypress(function(e){
			if( e.which == 13 ){
				$(this).attr('disabled','disabled');
				$('#pkgcode').val( $(this).closest('tr').attr('data-pkgcode') );
				$('#col-name').val( $(this).attr('data-colname') );
				$('#col-value').val( $(this).val() );

				var input = $(this);

				$.ajax({
					url: '/admin/ajax_controller.html',
					data: 'r=' + Math.random() + '&project=package-ranges&task=update-column&' + $('#ajax').serialize(),
					dataType: 'json',
					success: function(response){
						if( response.success )
							input.hide().attr('disabled','').siblings('span').text( input.val() ).show();
						else
							alert('There was a problem:\n' + response.response);
					},
					error: function(obj,status,error){
						alert('Some sort of error:\n' + status + "\n----\n" + error);
					}
				});
			}
		}).blur(function(){
			$(this).val( $(this).siblings('span').text() ).hide().siblings('span').show();
		});
		[/if-mm]
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@
<form id="ajax">
	<input type="hidden" name="pkgcode" id="pkgcode" />
	<input type="hidden" name="col-name" id="col-name" />
	<input type="hidden" name="col-value" id="col-value" />
</form>
<table id="ranges" border=1>
	<colgroup>
		<col />
		<col align="right" span=8 />
	</colgroup>
[perl table="lens_pkg_ranges"]
	my $results = $Tag->query({
		sql => q|SELECT lpr.pkgcode, dlp.pkgletter AS 'Package', lpr.minimum_sph, lpr.maximum_sph, lpr.minimum_cyl, lpr.maximum_cyl, lpr.minimum_combined, lpr.maximum_combined, lpr.minimum_add, lpr.maximum_add FROM lens_pkg_ranges lpr JOIN desc_lens_pkg dlp ON dlp.pkgcode = lpr.pkgcode ORDER BY dlp.pkgletter|,
		table => 'lens_pkg_ranges',
		hashref => 1
	});
	my @cols = qw/Package minimum_sph maximum_sph minimum_cyl maximum_cyl minimum_combined maximum_combined minimum_add maximum_add/;
	my $output = q|
	<thead>
		<tr>
			| . join("\n\t\t\t", map{ "<th>$_</th>" } @cols ) . q|
		</tr>
	</thead>
	<tbody>
	|;

	foreach my $package( @$results ){
		$output .= qq|
			<tr data-pkgcode="$package->{pkgcode}">
			| . join("\n\t\t\t", map{ "<td><span>$package->{$_}</span><input type='text' size=3 class='col-value' value='$package->{$_}' data-colname='$_' /></td>" } @cols) . q|
			</tr>
			|;
	}

	return $output . '</tbody>';
[/perl]
</table>
@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->