[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[strip interpolate=1]
@_UI_STD_INIT_@
[if-mm !logged_in]
	[bounce page="__UI_BASE__/login"]
[/if-mm]
[set page_title][L]Interchange Administration[/L] : Add Lens Package[/set]
[tmp ui_no_title]1[/tmp]
[set icon_name]icon_item[/set]
[set help_name]items[/set]
[set ui_class]Items[/set]

@_UI_STD_HEAD_@

[query sql=|SELECT d.*, r.cost as pkgretailprice, p.price as pkgprice
	FROM desc_lens_pkg d
	JOIN options_price p ON d.pkgcode = p.o_value AND p.o_group = 'lenstype'
	JOIN retail_prices r ON d.pkgcode = r.option_name AND rp_group = 'mv_order_lenstype'
	WHERE d.code = '[cgi name="edit" filter="sql"]'| type=|list|]
	[list]
		[tmp pkg_code][sql-param pkgcode][/tmp]
		[tmp pkg_letter][sql-param pkgletter][/tmp]
		[tmp pkg_title][sql-param pkgtitle][/tmp]
		[tmp pkg_description][sql-param pkgdescription][/tmp]
		[tmp pkg_price][sql-param pkgprice][/tmp]
		[tmp pkg_retail_price][sql-param pkgretailprice][/tmp]
		
		[tmp pkg_type][calc]
			return 'PROGE' if($Scratch->{pkg_code} =~ /^PROGE/);
			return 'PROG' if($Scratch->{pkg_code} =~ /^PROG/);
			return 'BIF' if($Scratch->{pkg_code} =~ /^BIF/);
			return 'SV'; #doesnt match others so it must be SV
		[/calc][/tmp]
		
		[tmp pkg_lens][calc]
			return 'OPT' if($Scratch->{pkg_code} =~ /^OPT/);
			return 'SUN' if($Scratch->{pkg_code} =~ /^SUN/);
			return 'POLS' if($Scratch->{pkg_code} =~ /^POLS/);
			return 'TRAN' if($Scratch->{pkg_code} =~ /^TRAN/);
		[/calc][/tmp]
		
	[/list]
[/query]

[if cgi pkg_edit]
	[tmp pkgerror]0[/tmp]
	[tmp existingpackage][query sql="SELECT * FROM desc_lens_pkg WHERE pkgletter = '[filter sql][cgi pkg_letter][/filter]'" type="row_count"][/tmp]
	[if scratch existingpackage]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Package letter already exists[/tmp]
	[/if]
	
	[if !cgi pkg_title]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package title[/tmp]
	[/if]
	[if !cgi pkg_description]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package description[/tmp]
	[/if]
	[if !cgi pkg_price]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package price[/tmp]
	[/if]
	[if !cgi pkg_retail_price]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package retail price[/tmp]
	[/if]
	
	[if scratch pkgerror]
		<div style="border:1px solid red;color:red;padding:10px;margin-bottom:10px;">
			[scratch pkgerrormsg]			
		</div>		
	[else]
	
		[tmp pkg_num][perl tables="desc_lens_pkg options_price retail_prices"]
		
			my $pkg_num;
			my $pkgarr;
		
			$sql = "SELECT pkgcode FROM desc_lens_pkg WHERE pkgcode LIKE '%$CGI->{pkg_lens}%'";
			$result = $Tag->query({sql=>$sql,hashref=>1});
			foreach (@$result) {
				$pkgcode = $_->{pkgcode};
				$pkgcode =~ s/(BIF_|PROGE_|PROG_|OPT|POLS|TRAN|SUN)//g;
				push @$pkgarr, $pkgcode;
			}
			
			@$pkgarr = sort {$b <=> $a} @$pkgarr;
			$pkg_num = $pkgarr->[0] + 1;
			
			#build package code string
			my $pkg_type = '';
			$pkg_type = $CGI->{pkg_type}.'_' if($CGI->{pkg_type} ne 'SV');
			$pkg_code = $pkg_type.$CGI->{pkg_lens}.$pkg_num;
			
			##add record to desc_lens_pkg table
			my @fields = qw/pkgcode pkgletter pkgtitle pkgdescription/;
			my @values = ($pkg_code,$CGI->{pkg_letter},$CGI->{pkg_title},$CGI->{pkg_description});
			
			my $db = $Db{desc_lens_pkg};
			$db->set_slice(undef, \@fields, \@values);
			
			##add record to options_price table
			my @fields = qw/o_group o_name o_value o_label description display_label price/;
			my @values = ('lenstype','Lens Option',$pkg_code,'Package '.$CGI->{pkg_letter},$CGI->{pkg_title},'Package '.$CGI->{pkg_letter}.' - '.$CGI->{pkg_title},$CGI->{pkg_price});
			
			my $db = $Db{options_price};
			$db->set_slice(undef, \@fields, \@values);
			
			##add record to retail_prices table
			my @fields = qw/cost rp_group/;
			my @values = ($CGI->{pkg_retail_price},'mv_order_lenstype');
			
			my $db = $Db{retail_prices};
			$db->set_slice($pkg_code, \@fields, \@values);
			
			return $pkg_code;
		
	[/perl][/tmp]
	
		[if scratch pkg_num]
			<div style="border:1px solid green;color:green;padding:10px;margin-bottom:10px;">
				Edit Package [cgi pkg_letter] ([scratch pkg_num])
			</div>
		[else]
			<div style="border:1px solid red;color:red;padding:10px;margin-bottom:10px;">
				Could not create package		
			</div>
		[/else]
		[/if]
	
	[/else]
	[/if]

[/if]

<style>
	div.form_container div {
		margin-bottom:5px;
	}
	
	div.form_container div label {
		display:block;
		float:left;
		width:200px;
	}	
	
	div.form_container div span {
		font-size:12px;
		display:block;
		float:left;
	}
	
	div.form_container div input,div.form_container div textarea,div.form_container div select {
		font-family:verdana;
		font-size:12px;
		float:left;
		display:block;
	}
	
	.clearfix:after {
		content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
	}
	
	.clearfix {
	  display: inline-block;
	}
	
	html[xmlns] .clearfix {
	  display: block;
	}
	
	* html .clearfix {
	  height: 1%;
	}
</style>

<form action="" method="post">
<input type="hidden" name="pkg_edit" value="1" />
<input type="hidden" name="edit" value="[cgi edit]" />
<div class="form_container">
	
<div class="clearfix">
	<label for="pkg_type">Package Type</label>
	<select name="pkg_type" id="pkg_type">
		<option></option>
		<option value="SV" [if scratch pkg_type eq 'SV']selected="selected"[/if]>Single Vision</option>
		<option value="BIF" [if scratch pkg_type eq 'BIF']selected="selected"[/if]>Bifocal</option>
		<option value="PROG" [if scratch pkg_type eq 'PROG']selected="selected"[/if]>Progressive</option>
		<option value="PROGE" [if scratch pkg_type eq 'PROGE']selected="selected"[/if]>Progressive (Elipse)</option>
	</select>
</div>
	
<div class="clearfix">
	<label for="pkg_lens">Package Lens Type</label>
	<select name="pkg_lens" id="pkg_lens">
		<option></option>
		<option value="OPT" [if scratch pkg_lens eq 'OPT']selected="selected"[/if]>Clear</option>
		<option value="SUN" [if scratch pkg_lens eq 'SUN']selected="selected"[/if]>Tinted</option>
		<option value="POLS" [if scratch pkg_lens eq 'POLS']selected="selected"[/if]>Polarized</option>
		<option value="TRAN" [if scratch pkg_lens eq 'TRAN']selected="selected"[/if]>Transitions</option>
	</select>
</div>

<div class="clearfix">
	<label for="pkg_letter">Package Letter</label>
	<input type="text" name="pkg_letter" id="pkg_letter" value="[scratch pkg_letter]" />
	<span>eg. XC</span>
</div>

<div class="clearfix">
	<label for="pkg_title">Package Title</label>
	<input type="text" name="pkg_title" id="pkg_title" value="[scratch pkg_title]" />
	<span>eg. Drivewear&amp;reg; Transitions&amp;reg; Polarized</span>
</div>

<div class="clearfix">
	<label for="pkg_description">Package Description</label>
	<textarea cols="30" rows="6" name="pkg_description" id="pkg_description">[scratch pkg_description]</textarea>
	<span>eg. Drivewear&amp;reg; represents the very latest lens in lens advancement.<br />&nbsp; &nbsp; &nbsp; &nbsp;It is a combination of Transitions&amp;trade; ....<br /><br />&nbsp; &nbsp; &nbsp; &nbsp;<b>HTML IS ALLOWED</b></span>
</div>

<div class="clearfix">
	<label for="pkg_price">Package Price (Additional)</label>
	<input type="text" size="5" name="pkg_price" id="pkg_price" value="[scratch pkg_price]" />
</div>

<div class="clearfix">
	<label for="pkg_retail_price">Package Retail Price (Additional)</label>
	<input type="text" size="5" name="pkg_retail_price" id="pkg_retail_price" value="[scratch pkg_retail_price]" />
</div>

<div class="clearfix">
	<label for="pkg_save">&nbsp;</label>
	<input type="submit" style="font-size:16px;" id="pkg_save" value="Save Changes" />
</div>

</div>
</form>

@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
