[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[strip interpolate=1]
@_UI_STD_INIT_@
[if-mm !logged_in]
	[bounce page="__UI_BASE__/login"]
[/if-mm]
[set page_title][L]Interchange Administration[/L] : Add Lens Package[/set]
[tmp ui_no_title]1[/tmp]
[set icon_name]icon_item[/set]
[set help_name]items[/set]
[set ui_class]Items[/set]


@_UI_STD_HEAD_@

[if cgi pkg_add]
	[tmp pkgerror]0[/tmp]
[comment]
	[tmp existingpackage][query sql="SELECT * FROM desc_lens_pkg WHERE pkgletter = '[filter sql][cgi pkg_letter][/filter]'" type="row_count"][/tmp]
	[if scratch existingpackage]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Package letter already exists[/tmp]
	[/if]
[/comment]
	[if !cgi pkg_title]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package title[/tmp]
	[/if]
	[if !cgi pkg_description]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package description[/tmp]
	[/if]
	[if !cgi pkg_price]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package price[/tmp]
	[/if]
	[if !cgi pkg_retail_price]
		[tmp pkgerror]1[/tmp]
		[tmp pkgerrormsg]Enter a package retail price[/tmp]
	[/if]
	
	[if scratch pkgerror]
		<div style="border:1px solid red;color:red;padding:10px;margin-bottom:10px;">
			[scratch pkgerrormsg]			
		</div>		
	[else]
	
		[tmp pkg_num][perl tables="desc_lens_pkg options_price retail_prices products"]
		
			my (
				$pkg_num,
				$pkgarr,
				$sql,
				$result,
				$pkgcode,
				$pkg_type,
				@values
			);
		
			$sql = "SELECT pkgcode FROM desc_lens_pkg WHERE pkgcode LIKE '%$CGI->{pkg_lens}%'";
			$result = $Tag->query({sql=>$sql,hashref=>1});
			foreach (@$result) {
				$pkgcode = $_->{pkgcode};
				$pkgcode =~ s/(BIF_|PROGE_|PROG_|OPT|POLS|TRAN|SUN)//g;
				push @$pkgarr, $pkgcode;
			}
			
			@$pkgarr = sort {$b <=> $a} @$pkgarr;
			$pkg_num = $pkgarr->[0] + 1;

			#build package code string
			$pkg_type = $CGI->{pkg_type}.'_' if($CGI->{pkg_type} ne 'SV');
			$pkg_code = $pkg_type.$CGI->{pkg_lens}.$pkg_num;

			##add record to desc_lens_pkg table
			@values = ($pkg_code,$CGI->{pkg_letter},$CGI->{pkg_title},$CGI->{pkg_description});
			$sql = "INSERT INTO desc_lens_pkg (pkgcode,pkgletter,pkgtitle,pkgdescription) VALUES (" . join(",",map{ $Tag->filter('dbi_quote',$_) } @values) . ")";
			
			$Tag->query({ sql => $sql, table => 'desc_lens_pkg' });

			##add record to options_price table
			@values = ('lenstype','Lens Option',$pkg_code,'Package '.$CGI->{pkg_letter},$CGI->{pkg_title},'Package '.$CGI->{pkg_letter}.' - '.$CGI->{pkg_title},$CGI->{pkg_price});
			$sql = "INSERT INTO options_price (o_group,o_name,o_value,o_label,description,display_label,price) VALUES (" . join(",",map{ $Tag->filter('dbi_quote',$_) } @values) . ")";
			
			$Tag->query({ sql => $sql, table => 'options_price' });

			##add record to retail_prices table
			@values = ($pkg_code,$CGI->{pkg_retail_price},'mv_order_lenstype');
			$sql = "INSERT INTO retail_prices (option_name,cost,rp_group) VALUES (" . join(",",map{ $Tag->filter('dbi_quote',$_) } @values) . ")";
			
			$Tag->query({ sql => $sql, table => 'retail_prices' });
			
			return $pkg_code;
		
	[/perl][/tmp]
	
		[if scratch pkg_num]
			<div style="border:1px solid green;color:green;padding:10px;margin-bottom:10px;">
				Added Package [cgi pkg_letter] ([scratch pkg_num])
			</div>
		[else]
			<div style="border:1px solid red;color:red;padding:10px;margin-bottom:10px;">
				Could not create package		
			</div>
		[/else]
		[/if]
	
	[/else]
	[/if]

[/if]

<style>
	div.form_container div {
		margin-bottom:5px;
	}
	
	div.form_container div label {
		display:block;
		float:left;
		width:200px;
	}	
	
	div.form_container div span {
		font-size:12px;
		display:block;
		float:left;
	}
	
	div.form_container div input,div.form_container div textarea,div.form_container div select {
		font-family:verdana;
		font-size:12px;
		float:left;
		display:block;
	}
	
	.clearfix:after {
		content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
	}
	
	.clearfix {
	  display: inline-block;
	}
	
	html[xmlns] .clearfix {
	  display: block;
	}
	
	* html .clearfix {
	  height: 1%;
	}
</style>

<form action="" method="post">
<input type="hidden" name="pkg_add" value="1" />
<div class="form_container">
	
<div class="clearfix">
	<label for="pkg_type">Package Type</label>
	<select name="pkg_type" id="pkg_type">
		<option></option>
		<option value="SV" [selected cgi="1" name="pkg_type" value="SV"]>Single Vision</option>
		<option value="BIF" [selected cgi="1" name="pkg_type" value="BIF"]>Bifocal</option>
		<option value="PROG" [selected cgi="1" name="pkg_type" value="PROG"]>Progressive</option>
		<option value="PROGE" [selected cgi="1" name="pkg_type" value="PROGE"]>Progressive (Elipse)</option>
	</select>
</div>
	
<div class="clearfix">
	<label for="pkg_lens">Package Lens Type</label>
	<select name="pkg_lens" id="pkg_lens">
		<option></option>
		<option value="OPT" [selected cgi="1" name="pkg_lens" value="OPT"]>Clear</option>
		<option value="SUN" [selected cgi="1" name="pkg_lens" value="SUN"]>Tinted</option>
		<option value="POLS" [selected cgi="1" name="pkg_lens" value="POLS"]>Polarized</option>
		<option value="TRAN" [selected cgi="1" name="pkg_lens" value="TRAN"]>Transitions</option>
	</select>
</div>

<div class="clearfix">
	<label for="pkg_letter">Package Letter</label>
	<input type="text" name="pkg_letter" id="pkg_letter" value="[cgi pkg_letter]" />
	<span>eg. XC</span>
</div>

<div class="clearfix">
	<label for="pkg_title">Package Title</label>
	<input type="text" name="pkg_title" id="pkg_title" value="[cgi pkg_title]" />
	<span>eg. Drivewear&amp;reg; Transitions&amp;reg; Polarized</span>
</div>

<div class="clearfix">
	<label for="pkg_description">Package Description</label>
	<textarea cols="30" rows="6" name="pkg_description" id="pkg_description">[cgi pkg_description]</textarea>
	<span>eg. Drivewear&amp;reg; represents the very latest lens in lens advancement.<br />&nbsp; &nbsp; &nbsp; &nbsp;It is a combination of Transitions&amp;trade; ....<br /><br />&nbsp; &nbsp; &nbsp; &nbsp;<b>HTML IS ALLOWED</b></span>
</div>

<div class="clearfix">
	<label for="pkg_price">Package Price (Additional)</label>
	<input type="text" size="5" name="pkg_price" id="pkg_price" value="[cgi pkg_price]" />
</div>

<div class="clearfix">
	<label for="pkg_retail_price">Package Retail Price (Additional)</label>
	<input type="text" size="5" name="pkg_retail_price" id="pkg_retail_price" value="[cgi pkg_retail_price]" />
</div>

<div class="clearfix">
	<label for="pkg_save">&nbsp;</label>
	<input type="submit" style="font-size:16px;" id="pkg_save" value="Add Package" value="[cgi pkg_price]" />
</div>

</div>
</form>


@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
