[set page_title][L]Load Search Data[/L]: [L]Update Search Table[/L][/set]
[set ui_class]Administration[/set]
[set page_banner][L]Load Search Data[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[update values]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<table colspan="3" id="tableLink">
				<tr>
					<td>
						[if scratchd loadedSearch]
							<p>The search table has been successfully updated!</p>
						[/if]
						<a href="[area admin/change-state]?load_search=1">Click Here To Load Search Data</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
@_UI_STD_FOOTER_@