[if session logged_in]
	[if session su]
		[su exit=1]
		[calc]delete $Session->{su}; return; [/calc]
		[bounce page="__UI_BASE__/index"]
	[else]
	[try]
		[userdb profile=ui function=logout clear=1 hide=1]
	[/try]
	[/else]
	[/if]
[/if]
[if !global Windows]
[index table=ichelp export_only=1]
[/if]
[set mv_no_count][/set]
[set mv_no_session_id][/set]
[set no_login_required]1[/set]
[set ui_class]Login[/set]
[set page_title]Interchange: Log in to Administration[/set]
[set help_name]logout.main[/set]
@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

<div align=center>
<table width="60%" border="0" cellspacing="0" cellpadding="0" height="200">
<tr>
<td valign=top style="
			border: 2px solid #996633;
			background-color: #EEEEEE;
		"
width="700"> <font size="3"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#000066">&nbsp;&nbsp;</font></b></font> 
<table width="250" border="1" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>
<table width="250" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
[if scratch ui_error]
<FONT COLOR=__CONTRAST__>[scratch ui_error]</FONT>
[set ui_error][/set]
[/if]

<FORM ACTION="[process secure=1]" METHOD=POST name=login>
<INPUT TYPE=hidden NAME=mv_click VALUE=MMLogin>
<INPUT TYPE=hidden NAME=mv_nextpage VALUE="[either][cgi destination][or]__UI_BASE__/index[/either]">
<INPUT TYPE=hidden NAME=destination VALUE="[cgi destination]">
<INPUT TYPE=hidden NAME=mv_doit  VALUE=return>

[if session failure]
<TR>
<TD COLSPAN=2>
<BLOCKQUOTE>
<FONT COLOR=RED>[L]Failure:[/L]</FONT> [data session failure][data base=session field=failure value=""]
</BLOCKQUOTE>
</TD>
</TR>
[/if]

[if scratch ui_failure]
<TR>
<TD COLSPAN=2>
<BLOCKQUOTE>
<FONT COLOR=RED>[L]Failure:[/L]</FONT> [scratch ui_failure][set ui_failure][/set]
</BLOCKQUOTE>
</TD>
</TR>
[/if]

[calc]
	my $data = q{[version extended=1 modules=1 joiner="<P>"]};
	return unless $data =~ /IMPORTANT/;
	my @lines = grep /not\s+found/, split '<P>', $data;
	my @important = grep /IMPORTANT/, @lines;
	my @minor = grep $_ !~ /IMPORTANT/, @lines;
	my $imp = join '<P>', @important;
	my $minor = join '<P>', @minor;
	return <<EOF;
<TR>
<TD COLSPAN=2>
<H1>Admin interface will not work properly.</H1>
Please install needed Perl modules:
<small>
<blockquote class=cerror>
	$imp
</blockquote>
<blockquote>
	$minor
</blockquote>
</small>
The easiest way to do this is to use the CPAN module and do:
<blockquote>
perl -MCPAN -e 'install Bundle::Interchange'
</blockquote>

</TD>
</TR>
EOF
[/calc]

<tr> 
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td> 
<div align="right"><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#000066">[L]Username[/L]</font><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></b></font></div>
</td>
<td> 
<INPUT NAME=mv_username VALUE="" SIZE=15>
<script language="JavaScript">
<!--
	document.login.mv_username.focus();
-->
</script>
</td>
</tr>
<tr> 
<td> 
<div align="right"><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#000066">[L]Password[/L]</font><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></b></font></div>
</td>
<td> 
<INPUT TYPE=password NAME=mv_password VALUE="" SIZE=15>
</td>
</tr>
[value name=currlocale set="[either][getlocale][or]en_US[/either]" hide=1]
[comment] UI_LOCALE definition in ui.cfg, make empty to remove box [/comment]
[loop acclist=1 option=currlocale list="[version extended=1 global_locale_options=1]"]
[on-match]
<tr> 
<td> 
<div align="right"><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#000066">[L]Language[/L]</font><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&nbsp;</font></b></font></div>
</td>
<td> 
	<select name="ui_locale">
[/on-match]
		[list]<option value=[loop-code]>[loop-param label]
		[/list]
[on-match]</select>
</td>
</tr>[/on-match]
[/loop]

<tr> 
<td>&nbsp;</td>
<td> 
<INPUT TYPE=submit VALUE="Log in">
</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</FORM>
</table>
</td>
</tr>
</table>				
<br>
</td>
</tr>
</table>				
<br><br>
</div>


<!-- ----- END REAL STUFF ----- -->
<!-- 39DG-MONITOR-ADMIN -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ $Revision: 2.9 $ -->
