[set page_title][L]Make Model Images[/L][/set]
[set ui_class]Orders[/set]
[set help_name]order_entry.main[/set]
[set icon_name]icon_orders.gif[/set]
[tmp meta_header]
<script type="text/javascript" src="/javascript/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
$(function(){
        $('#tryonForm').submit(function(){
                var sku = $('#skuEnter').val();
                if(!sku || !sku.match(/^\d+_/)){
                    alert('Please enter a valid sku.');
                    return false;
                }
        });
        $('#tryonForm input[name=gender]').change(function(){
                switch (this.value){
                case 'female':
                    $('.modelImage.male').hide();
                    $('.modelImage.female').show();
                    break;
                case 'male':
                    $('.modelImage.female').hide();
                    $('.modelImage.male').show();
                    break;
                default:
                    $('.modelImage').show();
                }
        });
        $('#tot_frame_width').bind('keyup', function(e) {
                if(this.value && this.value.match(/[^0-9]/)){
                        alert('Please enter only numeric values in this field.');
                        this.value = this.value.replace(/[^0-9]/g,'');
                }
        });
        $('a.toggleBox').click(function(){
        			var eles = $('input.incModel');
        			if (eles.first().prop('checked')){
        					$('input.incModel').prop('checked',false);
        					$(this).text('Check All');
        			}else{
        				$('input.incModel').prop('checked',true);
        				$(this).text('Uncheck All');
        			}
        			return false;
        });
});
</script>
<style type="text/css">
p.error{
    color: #c30000;
}
#success{
	width: 731px;
	color: green;
	font-weight: bold;
	padding: 20px;
	border: 1px solid green;
	background: #F5FFF5;
	text-align: center;
}
#error{
	border: 1px solid #C30000;
background: #FDD;
clear: both;
padding: 20px;
margin-top: 10px;
color: #C30000;
}
span.footnote{
    font-size: 10px;
    width: 150px;
    display: block;
}
#tryonForm label input, #tryonForm label p {
    float: left;
    margin: 0;
}
#tryonForm div.radio input, #tryonForm div.radio label { font-size: 13px;float: left }
#tryonForm label { display: block; }
#tryonForm p {
    padding: 5px 10px 0 0;
    font-size: 13px;
}
#tryonForm {
    width: 100%;
}
.clear{clear:both;}
span.example{
	font-size: 10px;
	clear: both;
	float: left;
}
div.labelHold{
    clear: both;
    margin: 10px;
    height: 30px;
}
div.third { width: 30%; float: left}
.incModel {display: block; margin-left: 20px}
.modelImage{float: left; width: 100px; margin-bottom: 20px; }
.modelImage img { border: 1px solid #ccc;margin-top: 5px; }
div.padLeft{ margin-left: 20px; }
p.underline { font-weight: bold}
div.image {
	float: left;
	width: 150px;
	padding: 10px;
}
.showCoord {
	display: none
}
div.returnImages {
	clear: both;	
}
#tryonLast p {
	width: 200px;
	float: left;
	border: 1px solid #ccc;
}
</style>
[/tmp]

[set check_frame_width]
[perl table="products"]
my $dbh = $Sql{products};
return unless $dbh;
my $sth;
if (!$CGI->{tot_frame_width}){
    $sth = $dbh->prepare(q\
    	SELECT tot_frame_width from products where sku = ?
    \);
    $sth->execute($CGI->{mv_item1});
    $CGI->{mv_item1} =~ /^(\d+)_/;
    my $row = $sth->fetchrow_arrayref;
    $Tag->tmpn($1.'_frame_width',(ref $row eq 'ARRAY' && @$row) ? $row->[0] : '');
} else {
    $CGI->{mv_item1} =~ /^(\d+)_/;
	$Tag->tmpn($1.'_frame_width', $CGI->{tot_frame_width});
}
$CGI->{mv_item1} =~ /^(\d+)_/;
$Tag->tmpn('valid_width', $Scratch->{$1.'_frame_width'} ? '1' : '');
$Tag->tmpn('valid_sku', ($CGI->{mv_item1} &&  $CGI->{mv_item1} =~ /^\d+_/) ? '1' : '');
if (!$Scratch->{valid_width} || !$Scratch->{valid_sku}){
    $Tag->tmpn('submission_error','1');
}
return;
[/perl]
[/set]

@_UI_STD_HEAD_@

[include include/tryon_model_info]

<form id="tryonForm" method="POST" action="[area admin/make_tryon_images]">
    <div>
        [if scratch submission_error]
            [set submission_error][/set]
            [if !scratch valid_width]
                [set valid_width][/set]
                <p class="error">A valid frame width is required to continue. Either enter
                a value or ensure the database contains a valid entry for the product.</p>
            [elsif !scratch valid_sku]
                [set valid_sku][/set]
                <p class="error">A valid sku is required to continue.</p>
            [/elsif][/if]
        [/if]
        [if scratch tried_save]
        		[if scratch save_success]
						<div id="success">
							<p>The images have been saved successfully.</p>
						</div>
					[else]
						<div id="error">
							<p>There was an error saving the images.</p>
						</div>
					[/else][/if]
        [/if]
        [calcn hide='1']
        delete $Scratch->{$_} for qw\tried_save save_success\;
        [/calcn]
        <input type="hidden" name="mv_nextpage" value="admin/make_tryon_images" />
        <input type="hidden" name="mv_failpage" value="admin/make_tryon_images" />
        <input type="hidden" name="mv_click" value="check_frame_width" />
        <input type="hidden" name="mv_action" value="process" />
        <input type="hidden" name="mv_todo" value="return" />
        <input type="hidden" name="make_tryon_images" value="1" />
        [if scratch admin_tryon]
        		<div id="tryonValues">
						<p>Last Tryon Values:</p>
						<pre>[scratch admin_tryon]</pre>
					</div>
        [/if]
        <div style="width: 350px;">
            <div class="labelHold">
                <label for="skuEnter">
                    <p class="underline">Enter Sku:</p>
                    <input type="text" size="12" id="skuEnter" name="mv_item1" value="[cgi mv_item1]" />
                </label>
            </div>
            <div class="labelHold">
                <label for="tot_frame_width">
                    <p class="underline">Override Total Frame Width:</p>
                    <input type="text" size="5" id="tot_frame_width" name="tot_frame_width" value="" />
                </label>
                <span class="example">(Leave blank for default)</span>
            </div>
            <div class="labelHold">
                [tmp unisex_active][calcn]
                !$CGI->{gender} || $CGI->{gender} eq 'male female' ? '1' : ''
                [/calcn][/tmp]
                <div class="radio">
                    <p class="underline">Enter Gender:</p>
                    <div class="padLeft">
                        <div class="third">
                            <label class="radio" for="mf_gender">Unisex</label>
                            <input type="radio" id="mf_gender" name="gender" [if scratch unisex_active]checked="checked"[/if] value="male female" />
                        </div>
                        <div class="third">
                            <label class="radio" for="f_gender">Women</label>
                            <input type="radio" id="f_gender" name="gender" value="female" [if cgi gender eq 'female']checked="checked"[/if] />
                        </div>
                        <div class="third">
                            <label class="radio" for="m_gender">Men</label>
                            <input type="radio" id="m_gender" name="gender" value="male" [if cgi gender eq 'male']checked="checked"[/if]  />
                        </div>
                    </div>
               </div>
            </div>
            <!-- <div style="margin-top: 40px;" class="labelHold">
                <label for="tot_frame_width">
                    <p class="underline">Select Tint Color:</p>
                    <select name="tint">
                    	[calcn]join '', map { "<option>$_</option>" } qw\CLEAR BROWN GREY BLUE G15 ROSE YELLOW ORANGE\[/calcn]
                    </select>
                </label>
            </div> -->
        </div>
        <div style="margin-left: 10px;clear: left" class="modelPreview">
            <p style="margin-bottom: 3px;clear:left;margin-top: 35px;" class="underline" >Choose Models:</p>
            <a href="#" style="margin-bottom: 15px;display: block;" class="toggleBox">Check All</a>
            <div class="padLeft">
                [loop object.mv_results=`$Tag->face_images(undef,undef,1)`]
                    [tmp file][loop-param file][/tmp]
                    [tmp index][loop-param index][/tmp]
                    [tmp gender][loop-param gender][/tmp]
                    [tmp gender_letter][calcn]lc substr($Scratch->{gender},0,1)[/calcn][/tmp]
                    [tmp dataarg][calcn]
                    my $f = $Scratch->{file};
                    $f =~ s/\.(jpg|png)//g;
                    return $f;
                    [/calcn][/tmp]
                    <div class="modelImage [loop-param gender]">
                        <input type="checkbox" class="incModel" name="[scratch dataarg]" value="1" />
                        <img src="[area add_dot_html='0' href='store/images/models/[scratch file]']" width="75" alt="Model Image" />
                        <br /><span style="font-size: 10px;margin-bottom:3px">[calcn]ucfirst($Scratch->{gender}).' '.$Scratch->{index}[/calcn]</span><br />
                    </div>
                [/loop]
            </div>
        </div>
        <div style="clear: both;float: right;padding-right: 300px">
            <input type="submit" value="Make Model Images" />
        </div>
    </div>
</form>
<br />
[if cgi make_tryon_images][if scratch valid_width]
    <div class="returnImages">
        [include include/make_tryon_images]
    </div>
[/if][/if]

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->
