<!-- MODIFIED -->
[set page_title][L]Discounted Items[/L][/set]
[set ui_class]Items[/set]
[set help_name]manage-discounted-items.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		label{ display: inline-block; width: 150px }

		.edit-area{ float: left; border: 1px dotted black; margin: 20px 0 20px 30px; padding: 12px }
		.edit-area h2{ font-size: 18px; margin: 5px 0 10px; padding: 0; text-align: center }

		#single-item{ width: 313px }
		#batch-edit{ width: 410px }
		#tbl-main{ margin: 15px 0 15px 30px; min-width: 600px; width: 600px; max-width: 80% }
		#tbl-main tfoot td{ position: relative; text-align: center; height: 35px }
		#tbl-main .selected{ background: yellow }

		td.checks{ text-align: center }
		td.money{ text-align: right }
	</style>
[strip reparse=0]
	<script type="text/javascript">
	$(function(){
		$('#checkall').click(function(){
			var checked = $(this).is(':checked') ? 'checked' : '';
			$('input[type=checkbox][name^=sku-]').attr('checked',checked).closest('tr').toggleClass('selected');
		});

		$('#tbl-main tbody input[type=checkbox]').each(function(){ $(this).change(function(){ $(this).closest('tr').toggleClass('selected'); }); });

		$('a.edit-discount').click(function(){
			var $this = $(this);
			$('#sku').val( $this.attr('data-sku') );
			$('#discounted_price').val( $this.attr('data-discounted') );
		});

		$('#single-item form').submit(function(){
			if( $('#discounted_price').val().match(/[^\d.]/) ){
				alert('Please enter the discounted price in the format\n##.##');
				return false;
			}
		});

		$('#batch-property').change(function(){
			//Disable the submit button since we're changing filter values
			$('#batch, #batch-price').attr('disabled','disabled');
			//Clear out any previously filled values
			$('#batch-filter').empty();

			if( $(this).val() == '' ) return;

			$.ajax({
				url: '/admin/ajax_controller.html',
				data: 'r=' + Math.random() + '&project=item-discounts&task=get-batch-info&property=' + $(this).val(),
				dataType: 'json',
				success: function(response){
					if( response.success ){
						//response.response will be an array of objects containing the filterable options
						for( var i in response.response ){
							$('#batch-filter').append( $('<option/>').val( response.response[i].value ).text( response.response[i].text ) );
						}
						$('#batch, #batch-price').attr('disabled','');
					}else{
						alert("Success = 0");
						$('#batch, #batch-price').attr('disabled','disabled');
					}
				},
				error: function(obj,status,error){
					alert('Some sort of error:\n' + status + "\n----\n" + error);
				}
			});
		});
	});
	</script>
<!-- Javascript/css goes here -->
[/strip]
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi delete]
	[perl tables="products active_discounts" short_errors=1 failure="<h3>Huh?</h3>" no_return=1]
		my @skus;

		foreach( grep(/^sku-/, keys %{$CGI}) ){
			/^sku-(\d+_\w+)/;
			push @skus, $Tag->filter('dbi_quote',$1);
		}

		#Reset the price in the products table to ad.original_price
		$Tag->query({ sql=> 'UPDATE products p, active_discounts ad SET p.price = ad.original_price WHERE p.sku = ad.sku AND ad.sku IN (' . join(',',@skus) . ')', table=>'active_discounts' });
		#Delete the existing rows in active_discounts
		$Tag->query({ sql => 'DELETE FROM active_discounts WHERE sku IN (' . join(',', @skus) . ')', table=>'active_discounts' });
	[/perl]
[/if]
[if cgi single][or cgi batch]
	[perl tables="products active_discounts" failure="<h1>Seriously?</h1>" no_return=1 short_errors=1]
		my %columns = (
			sku => $Tag->filter('dbi_quote',$CGI->{sku}),
			property => $CGI->{'batch-property'},
			filter => $Tag->filter('dbi_quote',$CGI->{'batch-filter'}),
			discounted_price => $CGI->{discounted_price} || $CGI->{'batch-price'},
		);
		my $conditional = $CGI->{single} ? "p.sku = $columns{sku}" : "p.$columns{property} = $columns{filter}"; 

		$Tag->query({ 
			sql => qq|INSERT INTO active_discounts (sku,original_price,discounted_price)
									SELECT p.sku, p.price, $columns{discounted_price} AS discounted_price FROM products p WHERE $conditional
								ON DUPLICATE KEY UPDATE discounted_price = $columns{discounted_price}|,
			table => 'active_discounts'
		});

		$Tag->query({ sql => "UPDATE products p SET p.price = $columns{discounted_price} WHERE $conditional", table=>'products' }); 
	[/perl]
[/if]

<form method="POST" action="[area @@MV_PAGE@@]">
	Currently active discounts:
	<br />
	<table id="tbl-main" border=1>
		<thead>
			<tr>
				<th><input type="checkbox" id="checkall" /></th>
				<th>Product</th>
				<th>Original</th>
				<th>Discounted</th>
			</tr>
		</thead>
		<tfoot>
			<td colspan=4>
				<input type="submit" name="delete" id="delete" value="Delete selected discounts" />
			</td>
		</tfoot>
		<tbody>
	[perl table="active_discounts" failure="<tr><td colspan=6>Error</td></tr>"]
		my $output = '';
		my $results = $Tag->query({ sql => 'SELECT ad.sku, p.description, ad.original_price, ad.discounted_price FROM active_discounts ad INNER JOIN products p ON ad.sku = p.sku', hashref=>1, table=>'active_discounts' });

		foreach my $product( @$results ){
			$output .= qq|
			<tr>
				<td class="checks"><input type="checkbox" name="sku-$product->{sku}" id="sku-$product->{sku}" /></td>
				<td>
					<a href="#" class="edit-discount" data-sku="$product->{sku}" data-discounted="$product->{discounted_price}">$product->{sku} - $product->{description}</a>
				</td>
				<td class="money">$product->{original_price}</td>
				<td class="money">$product->{discounted_price}</td>
			</tr>
			|;
		}

		return $output;
	[/perl]
		</tbody>
	</table>
</form>

<div id="single-item" class="edit-area">
	<h2>Edit / Create Single Item</h2>
	<form method="POST" action="[area @@MV_PAGE@@]">
		<label for="sku">SKU:</label>
		<input type="text" name="sku" id="sku" />
		<br />
		<label for="discounted_price">Discounted Price:</label>
		<input type="text" name="discounted_price" id="discounted_price" size=6 />
		<br />
		<br />
		<input type="submit" name="single" id="single" />
	</form>
</div>
<div id="batch-edit" class="edit-area">
	<h2>Batch</h2>
	<form method="POST" action="[area @@MV_PAGE@@]">
		<label for="batch-property">Property:</label>
		<select name="batch-property" id="batch-property">
			<option> </option>
			<option value="category">Frame type</option>
			<option value="date_added">Date added</option>
		</select>
		<br />
		<label for="batch-filter">Filter prop:</label>
		<select id="batch-filter" name="batch-filter"></select>
		<br />
		<label for="batch-price">New price:</label>
		<input type="text" name="batch-price" id="batch-price" size=6 disabled />
		<br>
		<input type="submit" name="batch" id="batch" value="Update" disabled/>
	</form>
</div>

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
