<!-- MODIFIED -->
[set page_title][L]Manage Canned responses[/L][/set]
[set ui_class]Orders[/set]
[set help_name]canned_responses.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		#responses-enabled, #responses-disabled{ float: left; padding: 5px 10px; border: 1px dotted black; margin: 0 10px 20px }
		#responses-enabled, #responses-disabled h3{ text-align: center }
		ul.responses{ margin: 0; padding: 0 }
		ul.responses li{ display: block; float: left; padding: 4px; margin: 15px 5px; border: 1px solid black } 
		ul.responses li.selected{ background: yellow }
		label{ display: inline-block; width: 140px; }
		#body{ margin-left: 140px }
		#token-key{ float: right; background: #EEFFAA; padding: 5px; border: 2px solid black; width: 375px }
		#token-key h3{ text-align: center }
		#token-key dt, #token-key dd{ display: inline-block }
		#token-key dt{ width: 100px; font-weight: bold }
	</style>
	<script type="text/javascript">
	$(function(){
		$('#responses a').click(function(){
			window.location = '[area href="@@MV_PAGE@@"]?responseID=' + $(this).attr('data-id');		
		});
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi update]
	[perl tables="cannedResponses products" no_return=1]
		my $sql = 'UPDATE cannedResponses SET 
enabled = ' . $CGI->{enabled} .  ',
description = ' . $Tag->filter('dbi_quote', $CGI->{description}) . ',
body = ' . $Tag->filter('dbi_quote', $CGI->{body}) . ',
subject = ' . $Tag->filter('dbi_quote', $CGI->{subject}) . ' WHERE id = ' . $CGI->{responseID};
	
		$Tag->query({ sql => $sql, table => 'cannedResponses' });
		
		$Tag->tmp($_, $CGI->{$_})
			foreach( qw/code enabled description subject body/ );
	[/perl]
[elsif cgi responseID]
	[perl table="cannedResponses" no_return=1]
		my $row = $Tag->query({ sql => 'SELECT code, enabled, description, subject, body FROM cannedResponses WHERE id = ' . $CGI->{responseID}, table => 'cannedResponses', hashref => 1 })->[0];
		
		$Tag->tmp($_, $row->{$_})
			foreach( keys %$row );
	[/perl]
[/elsif][/if]

<form method="POST" action="[area @@MV_PAGE@@]">
	<input type="hidden" name="responseID" id="responseID" value="[cgi responseID]" />
	<input type="hidden" name="code" id="code" value="[scratch code]" />
	<ul id="responses">
		[perl tables="cannedResponses"]
			my $results = $Tag->query({ sql => 'SELECT id,code,description,enabled FROM cannedResponses', table => 'cannedResponses', hashref =>1 });
			my $output = '';
			
			my @responses = ( [],[] );
			
			push( @{$responses[$_->{enabled}]}, qq|<li | . ($_->{id} eq $CGI->{responseID} ? 'class="selected"' : '') . qq|><a href="#" data-id="$_->{id}">$_->{description}</a></li>\n| )
				foreach @$results;
			
			$output = q|
<div id="responses-enabled">
	<h3>Enabled:</h3>
	<ul class="responses">
| . join("\n", @{$responses[1]}) . q|
	</ul>
</div>
<div id="responses-disabled">
	<h3>Disabled:</h3>
	<ul class="responses">
	| . join("\n", @{$responses[0]}) . q|
	</ul>
</div>|;
				
			return $output;
		[/perl]
	</ul>
	<br style="clear: both" />
	[if cgi responseID]
		<div style="float: left">
			<label>Status shortname:</label>[scratch code]
			<br />
			<label for="enabled">Enabled:</label><input type="radio" name="enabled" id="enabaled-true" value="true" [if explicit][condition] $Scratch->{enabled} =~ /1|true/ [/condition]checked[/if] />True&nbsp;&nbsp;<input type="radio" name="enabled" id="enabled-false" value="false" [if explicit][condition] $Scratch->{enabled} =~ /0|false/ [/condition]checked[/if] />False
			<br />
			<label for="description">Description:</label><input type="text" name="description" id="description" value="[scratch description]" />
			<br />
			<label for="subject">E-mail Subject:</label><input type="text" name="subject" id="subject" value="[scratch subject]" />
			<br />
			<label for="body">E-mail Body:</label>
			<br />
			<textarea cols=80 rows=10 name="body" id="body">[scratch body]</textarea>
			<br />
			<input type="submit" name="update" id="update" value="Update this response" />
		</div>
		<div id="token-key">
			<h3>Available tokens:</h3>
			<dl>
				<dt>order_number</dt>
				<dd>Order number</dd>
				<br />
				<dt>nitems</dt>
				<dd>Number of items</dd>
				<br />
				<dt>subtotal</dt>
				<dd>Pre-shipping subtotal</dd>
				<br />
				<dt>total_cost</dt>
				<dd>Total amount paid</dd>
				<br />
				<dt>fname</dt>
				<dd>Shipping first name</dd>
				<br />
				<dt>lname</dt>
				<dd>Shipping last name</dd>
				<br />
				<dt>company</dt>
				<dd>Shipping company</dd>
				<br />
				<dt>address1</dt>
				<dd>Shipping address line 1</dd>
				<br />
				<dt>address2</dt>
				<dd>Shipping address line 2</dd>
				<br />
				<dt>city</dt>
				<dd>Shipping city</dd>
				<br />
				<dt>state</dt>
				<dd>Shipping state</dd>
				<br />
				<dt>zip</dt>
				<dd>Shipping zip</dd>
				<br />
				<dt>country</dt>
				<dd>Shipping country</dd>
				<br />
				<dt>phone_day</dt>
				<dd>Daytime phone number</dd>
				<br />
				<dt>phone_night</dt>
				<dd>Evening phone number</dd>
				<br />
				<dt>fax</dt>
				<dd>Fax number</dd>
				<br />
				<dt>email</dt>
				<dd>Email address</dd>
				<br />
				<dt>b_fname</dt>
				<dd>Billing first name</dd>
				<br />
				<dt>b_lname</dt>
				<dd>Billing last name</dd>
				<br />
				<dt>b_company</dt>
				<dd>Billing company</dd>
				<br />
				<dt>b_address1</dt>
				<dd>Billing address line 1</dd>
				<br />
				<dt>b_address2</dt>
				<dd>Billing address line 2</dd>
				<br />
				<dt>b_city</dt>
				<dd>Billing city</dd>
				<br />
				<dt>b_state</dt>
				<dd>Billing state</dd>
				<br />
				<dt>b_zip</dt>
				<dd>Billing zip</dd>
				<br />
				<dt>b_country</dt>
				<dd>Billing country</dd>
				<br />
				<dt>b_phone</dt>
				<dd>Billing phone</dd>
				<br />
			</dl>
		</div>
	[/if]
</form>

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
