<!-- MODIFIED -->
[set page_title][L]Manage Homepage Banners[/L][/set]
[set ui_class]top level menu[/set]
[set help_name]admin.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		img.banner{ width: 250px; cursor: pointer }

		#error{ color: red }

		#preview-container, #create-update{ margin: 20px 0 200px !important; float: left; }
		#preview-container{ width: 695px; }

		#banners tbody tr.selected{ background: grey !important }
		#banners tbody tr:hover{ background: yellow; }
		#banners tbody tr:nth-child(even){ background: #EEE; }
		#banners tbody tr:nth-child(even):hover{ background: yellow; }

		#create-update{ border: 2px dashed black; padding: 20px; width: 320px }
		#create-update h3{ margin-top: 0; text-align: center }
		label{ display: inline-block; width: 136px }
		#create-update input.error{ border-color: red !important }

		#deleteButton{ border-color: red }
	</style>
	<link rel="stylesheet" href="/css/date-picker-default.css" type="text/css" />
	<script type="text/javascript" src="/js/glDatePicker.min.js"></script>
	<script type="text/javascript">
	var previewed = bannerExists = deleting = false;

	function setupDatePickers(){
		$('#start_date,#end_date').glDatePicker({
			cssName: 'default',
			startDate: -1,
			endDate: -1,
			selectedDate: -1,
			showPrevNext: true,
			showAlways: false,
			position: 'absolute',
			onChange: function(target, newDate){
				target.val( newDate.getFullYear() + '-' + (newDate.getMonth()+1) + '-' + newDate.getDate() );
			}
		});
	}

	$(function(){
		setupDatePickers();
		$('img.banner').click(function(){
			previewed = bannerExists = false;
			$('#banner-form input[type!=submit][type!=button][type!=reset][name!=project][name!=task], #banner-form select').val('');
			$('#preview,#error').empty();
			$('#banners tbody tr').removeClass('selected');
			$(this).closest('tr').addClass('selected');
			$('#create-update h3 span').text('Current');
			$('#submitButton').val('Update');

			var banner = eval( '(' + $(this).attr('data-banner-object') + ')' );
			for( var key in banner ){
				$('#' + key).val( banner[key] );
			}

			$('#preview-button').click();
			
			var start_date = end_date = -1;
			if( $('#start_date').val() ){
				start_date = $('#start_date').val().match(/^(\d{4})-(\d\d)-(\d\d)$/);
				start_date.shift();
				start_date = new Date( start_date );
			}
			if( $('#end_date').val() ){
				end_date = $('#end_date').val().match(/^(\d{4})-(\d\d)-(\d\d)$/);
				end_date.shift();
				end_date = new Date( end_date );
			}
			
			$('#start_date').glDatePicker({
				cssName: 'default',
				startDate: -1,
				endDate: -1,
				selectedDate: start_date,
				showPrevNext: true,
				showAlways: false,
				position: 'absolute',
				onChange: function(target, newDate){
					target.val( newDate.getFullYear() + '-' + (newDate.getMonth()+1) + '-' + newDate.getDate() );
				}
			});
			$('#end_date').glDatePicker({
				cssName: 'default',
				startDate: -1,
				endDate: -1,
				selectedDate: end_date,
				showPrevNext: true,
				showAlways: false,
				position: 'absolute',
				onChange: function(target, newDate){
					target.val( newDate.getFullYear() + '-' + (newDate.getMonth()+1) + '-' + newDate.getDate() );
				}
			});
		});

		$('#landing_page_form').click(function(){ alert('This field is for advanced (read: Steve) users only. Filling this is can and will cause problems if done incorrectly'); });

		$('#resetButton').click(function(){
			previewed = bannerExists = false;
			$('#banner-id').val('');
			$('#preview,#error').empty();
			$('#create-update h3 span').text('New');
			$('#submitButton').val('New');
			setupDatePickers();
		});
		
		$('#preview-button').click(function(e){
			if( $('#path').val() ){
				$('#preview').load('/admin/ajax_controller.html?r=' + Math.random() + '&' + $('#banner-form').serialize(), function(){
					if( !$('#preview img')[0].complete || !$('#preview img')[0].naturalWidth ){
						//The image didn't load, record as much
						previewed = bannerExists = false;
					}else{
						previewed = bannerExists = true;
					}
				});
			}else{
				$('#path').addClass('error').click(function(){ $(this).removeClass('error') });
			}
		});

		$('#banner-form').submit(function(e){
			//If they haven't previewed the banner yet error out and let them  know they have to
			if( !previewed ){
				if( !bannerExists ){
					alert('The banner you entered does not seem to exist, be sure to preview it first.');
				}else{
					alert('You *MUST* first preview the banner before submitting any changes');
				}
				e.preventDefault();
				return false;
			}

			//Check for missing required values
			var missingRequired = false;
			//Don't bother checking for requisite values if deleting
			if( !deleting ){
				$('#path, #alt_text').each(function(index,element){
					if( !$(element).val() ){
						$(element).addClass('required').focus(function(){ $(this).removeClass('required') });
						missingRequired = true;
					}
				});
				
				if( missingRequired ){
					alert('Please fill in all required fields');
					e.preventDefault();
					return false;
				}
			}
		});

		$('#deleteButton').click(function(e){
			if( !confirm('Are you sure you want to delete this banner?') ){
				return false;
			}
			//No reason to force a preview if it's being deleted
			previewed = bannerExists = deleting = true;
		});

		//Invalidate any pre-existing preview if the path changes.
		$('#path').change(function(){ previewed = false; });

		//Pre-select the current default banner, and load the preview for good measure
		//$('#banners tbody tr:first-child td img').click();
		//$('#preview-button').click();
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->
[if cgi delete]
	[perl table="homepage_banners" failure=|<h1 class='error'>Error deleting banner</h1>| no_return=1]
		$Sql{'homepage_banners'}->do('DELETE FROM homepage_banners WHERE id = ?', undef, $CGI->{'banner-id'});
	[/perl]
[elsif cgi submit]
	[perl table="homepage_banners" failure="<h1 class='error'>Error updating/creating record</h1>" no_return=1]
		my $dbh = $Sql{'homepage_banners'};
		my $banner = {};
		map{ $banner->{$_} = $CGI->{$_} ? $Tag->cgi($_) : undef } qw/ banner-id path alt_text landing_page landing_page_form coupon_code start_date end_date isDefault /;
		$banner->{'id'} = delete $banner->{'banner-id'};
		#If there is no value for a given field, remove it from the hash
		foreach( keys %$banner ){
			delete $banner->{$_} if !$banner->{$_} && $_ !~ /^landing_page_form|start_date|end_date$/;
		}
		#If we're setting a new default, clear the previous one
		$dbh->do('UPDATE homepage_banners SET isDefault = 0') if $banner->{'isDefault'};

		if( $banner->{'id'} ){
			my $sql = 'UPDATE homepage_banners SET ';
			$sql .= join(",", map{ "$_ = ?" } keys %$banner );
			$sql .= ' WHERE id = ?';
			#Update statement
			$dbh->do(
				$sql,
				undef,
				#Be sure to pass in the id a second time for the where clause
				@{%$banner}{keys %$banner}, $banner->{'id'}
			);
		}else{
			my $sql = $Tag->build_insert('homepage_banners',keys %$banner);
			$dbh->do(
				$sql,
				undef,
				values %$banner
			);
		}
	[/perl]
[/elsif][/if]

<form method="POST" action="[area @@MV_PAGE@@]" id="banner-form">
	<input type="hidden" name="project" value="homepage-banners" />
	<input type="hidden" name="task" value="preview" />	
	<table id="banners" border=1>
		<thead>
			<th>Image</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Landing Page</th>
			<th>Alt Text</th>
			<th>Coupon Code</th>
			<th>Default?</th>
		</thead>
		<tbody>
		[perl table="homepage_banners"]
			my $banners = $Tag->query({ sql => q|SELECT *, id AS 'banner-id', DATE_FORMAT(start_date, '%W, %M %D %Y') AS formatted_start_date, DATE_FORMAT(end_date, '%W, %M %D %Y') AS formatted_end_date, CASE WHEN ( start_date <= CURRENT_DATE() AND end_date >= CURRENT_DATE() ) THEN 2 ELSE isDefault END AS ranking FROM homepage_banners ORDER BY ranking DESC, start_date DESC|, table => 'homepage_banners', hashref => 1 });
			my $output = '';

			foreach my $banner( @$banners ){
				my $json = $Tag->filter('json', $banner);
				$json =~ s/'/&#39;/g;
				$output .= qq|
					<tr>
						<td><img src="$banner->{'path'}" data-banner-object='$json' class="banner" /></td>
						<td>| . ($banner->{'formatted_start_date'} || 'N/A') . qq|</td>
						<td>| . ($banner->{'formatted_end_date'} || 'N/A') . qq|</td>
						<td>$banner->{'landing_page'}</td>
						<td>$banner->{'alt_text'}</td>
						<td>$banner->{'coupon_code'}</td>
						<td>| . ($banner->{'isDefault'} ? 'Yes' : '') . q|</td>
					</tr>|;
			}
			return $output;
		[/perl]
		</tbody>
	</table>
	<br style="clear: both" />
	<h2 id="error"></h2>
	<div id="preview-container">
		<h3>Preview:</h3>
		<div id="preview"></div>
		<br style="clear: both" />
	</div>
	<div id="create-update">
		<h3><span>New</span> Banner Information</h3>
		<input type="hidden" name="banner-id" id="banner-id" />
		<label for="path">Banner path:</label>
		<input type="text" name="path" id="path" />
		<br />
		<label for="alt_text">Alt Text:</label>
		<input type="text" name="alt_text" id="alt_text" />
		<br />
		<label for="landing_page">Landing Page:</label>
		<input type="text" name="landing_page" id="landing_page" />
		<br />
		<label for="landing_page_form">Landing page form:</label>
		<input type="text" name="landing_page_form" id="landing_page_form" />
		<br />
		<label for="coupon_code">Coupon Code:</label>
		<input type="text" name="coupon_code" id="coupon_code" />
		<br />
		<label for="start_date">Start Date:</label>
		<input type="text" name="start_date" id="start_date" />
		<br />
		<label for="end_date">End Date:</label>
		<input type="text" name="end_date" id="end_date" />
		<br />
		<label for="isDefault">Set as default?</label>
		<select name="isDefault" id="isDefault">
			<option value=0>No</option>
			<option value=1 [if scratch isDefault]selected[/if]>Yes</option>
		</select>
		<br />
		<input type="button" name="preview-button" id="preview-button" value="Preview" />&nbsp;
		<input type="submit" name="submit" id="submitButton" value="Create" />&nbsp;
		<input type="reset" name="reset" id="resetButton" value="Reset form (create new)" />
		<br />
		<br />
		<input type="submit" name="delete" id="deleteButton" value="Delete banner" />
		<br style="clear: both" />
	</div>
</form>

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->
