<!-- MODIFIED -->
[set page_title][L]Manage metadata[/L][/set]
[set ui_class]Orders[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		br.clear{ clear: both }
		label{ display: inline-block; width: 75px; vertical-align: top; margin: 5px 0 }
		
		.hide{ display: none }
		
		#tabs{ margin: -40px 0 0; padding: 0; list-style: none; z-index: 15; position: absolute; }
		#tabs li{ display: inline; width: 100px;  margin: 0 15px; padding: 3px 10px; border: 1px solid black; border-width: 1px 1px 0 1px }
		#tabs li.selected{ background: yellow }
		
		#container{ margin: 50px 0 0 15px; border: 1px solid black; width: 400px; padding: 15px; position: relative; }
		
		#lookup{ display: none }
		#results-container{ display: none }
		
		input,select,textarea,ul{ margin: 5px 0 }
	</style>
[strip reparse=0]
	<script type="text/javascript">
	$(function(){
		$('#tabs li a[data-displayid]').click(function(){
			$('#container>div').hide();
			$('#tabs li').removeClass('selected');
			$(this).parent().addClass('selected');
			$('#' + $(this).attr('data-displayid') ).show();
		});
		
		$('#ajax-form').submit(function(){
			var submitButton = $(this).find('input[name=lookup-submit]').attr('disabled','disabled');
			
			$('#results').empty();
			
			$.ajax({
				url: '/admin/ajax_controller.html',
				data: 'r=' + Math.random() + '&project=metadata&task=get-rows&' + $(this).serialize(),
				dataType: 'json',
				success: function(response){
					if( response.success ){
						$('#results-container').show();
						
						for( var index in response.response ){
							var record = response.response[index];
							$('#results').append( $('<li />').append( $('<a href="#" data-rowID="' + record.id + '">' + record.type + '</a>') ) );
						}
					}else{
						alert('An error occurred:\n\t' + response.response);
					}
					
					submitButton.attr('disabled','');
				},
				error: function(obj,status,error){
					alert('Some sort of error:\n' + status + "\n----\n" + error);
					submitButton.attr('disabled','');
				}
			});
			
			return false;
		});
		
		$('#results li>a').live('click',function(){
			var row = $(this).attr('data-rowID');
			$.ajax({
				url: '/admin/ajax_controller.html',
				data: 'r=' + Math.random() + '&project=metadata&task=retrieve-record&rowID=' + row,
				dataType: 'json',
				success: function(response){
					$('#rowID').val( row );
					$('#url').val( response.response.url );
					$('#type').val( response.response.type );
					$('#value').val( response.response.value );
					
					$('#info form input[name=reset]').removeClass('hide');
					$('#tabs a[data-displayid=info]').click();
				},
				error: function(obj,status,error){
					alert('Error pulling the record:\n' + status + '\n----\n' + error);
				}
			});
		});
		
		$('#reset').click(function(){
			$('#rowID, #url, #type, #value').val('');
			$('#info input[name=submit]').val('Create');
			return false;
		});
	});
	</script>
[/strip]
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

[if cgi submit]
	[perl tables="products metadata" failure="<h1 class='error'>Error doing the insert/update</h1>" no-return=1]
		my ($sql,%columns,$isNew);
		
		$columns{$_} = $CGI->{$_} ? $Tag->filter('dbi_quote', $Tag->filter('encode_entities',$CGI->{$_}) ) : undef
			foreach qw/url type value/;
			
		if( exists $CGI->{rowID} && $CGI->{rowID} ){
			$sql = 'UPDATE metadata SET ' . join(',', map{ "$_ = $columns{$_}" } keys %columns ) . " WHERE id = $CGI->{rowID}";
		}else{
			$sql = 'INSERT INTO metadata (' . join( ',', keys %columns ) . ') VALUES (' . join( ',', values %columns ) . ')';
			$isNew = 1;
		}
		
		$Tag->tmp('sql', $sql);
		
		$Tag->query({ sql => $sql, table => 'metadata' });
		
		if( $isNew ){
			$CGI->{rowID} = $Tag->query({ sql => 'SELECT LAST_INSERT_ID()', table => 'metadata' })->[0]->[0];
		}
	[/perl]

[/if]

[if cgi rowID]
	[perl table="metadata" failure="<h1 class='error'>Error loading the record information</h1>" no-return=1]
		#Load up the data
		my $result = $Tag->query({ sql=> 'SELECT url, type, value FROM metadata WHERE id = ' . $CGI->{rowID}, table => 'metadata', hashref => 1 })->[0];
		
		$Tag->tmp($_, $result->{$_})
			foreach keys %$result;
	[/perl]
[/if]
<!-- ----- BEGIN REAL STUFF ----- -->
<div id="container">
	<ul id="tabs">
		<li class="selected"><a data-displayid="info" href="#">Create / Update</a></li>
		<li><a data-displayid="lookup" href="#">Lookup page</a></li>
	</ul>
	<div id="lookup">
		<form id="ajax-form">
			<label for="search-url">URL:</label>
				<input type="text" name="search-url" id="search-url" />
			<br />
			<input type="submit" name="lookup-submit" value="Search" />
			<br />
			
			<div id="results-container">
				<p>Existing rows:</p>
				<ul id="results"></ul>
			</div>
		</form>
	</div><!-- end #lookup -->
	<div id="info">
		<form method="POST" action="[area @@MV_PAGE@@]">
			<input type="hidden" name="rowID" id="rowID" value="[cgi rowID]" />
			
			<label for="url">URL:</label>
				<input type="text" name="url" id="url" value="[scratch url]" />
			<br />
			<label for="type">Type:</label>
				<select name="type" id="type">
					[calcn]
						my @options = ('', qw/keywords description title/);
						my $output = '';
						
						$output .= "<option" . ( $_ eq $CGI->{type} ? ' selected' :'' ) . ">$_</option>\n"
							foreach @options;
							
						return $output;
					[/calcn]
				</select>
			<br />
			<label for="value">Value:</label>
				<textarea name="value" id="value" rows=2 cols=30>[scratch value]</textarea>
			<br />
			<input type="submit" name="submit" value="[if cgi rowID]Update[else]Create[/else][/if]" />
			
			<input type="button" name="reset" id="reset" value="Clear (create new)" [if !cgi rowID]class="hide"[/if] />
		</form>
	</div><!-- end #info -->
</div><!-- end #container -->

<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->