[set page_title][L]Documentation[/L]: [L]New App Server[/L][/set]
[set ui_class]Administration[/set]
[set page_banner][L]Camps[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
[tmp meta_header]
<style type="text/css">
#mid li {
	margin: 7px 0;
}
</style>
[/tmp]
@_UI_STD_HEAD_@

<div id="mid" style="width: 100%;">
	<ul>
		<li><b>Creating a Camp</b></li>
		<li>A new camp may be created by using the mkcamp command on the camp server.</li>
		<li>We have two camp types (svn,git). You may specify the camp with the type option. 
		(e.g. --type="39dg_git"). You should always be creating a git type camp unless you have other 
		intentions and know what you are doing. If you don't know what you are doing and you're not 
		making a git camp, you're doing it very wrong. It's not a preference option, we use Git. 
		SVN is out-of-date.</li>
		<li>A comment option is required and may be set with the --comment param.</li>
		<li><i>mkcamp --type="39dg_git" --comment="My First Camp" --number="12"</i></li>
		<br />
		<li><b>Deleting a Camp</b></li>
		<li>Use the command 'rmcamp' and pass the camp number using the --number arg. (e.g. rmcamp --number="101")</li>
		<br />
		<li><b>Misc. Camp Commands</b></li>
		<li>re; (Restart Interchange)</li>
		<li>re --all; (Restart IC,MySQL,Apache)</li>
		<li>mysql_camp (Spawn MySQL Instance for Camp)</li>
		<li>mysql_camp --show (Show MySQL Connection String for Camps)</li>
	</ul>
</div>

@_UI_STD_FOOTER_@