[set page_title][L]Documentation[/L]: [L]New App Server[/L][/set]
[set ui_class]Administration[/set]
[set page_banner][L]New App Server[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
[tmp meta_header]
<style type="text/css">
#mid li {
	margin: 7px 0;
}
</style>
[/tmp]
@_UI_STD_HEAD_@

<div id="mid" style="width: 100%;">
	<ul>
		<li>Logon to the Rackspace Cloud Environment <a href="https://manage.rackspacecloud.com/pages/Login.jsp;jsessionid=C63F33F09F4868ACBD2EBC11E3FA8B68.cp-n01">https://manage.rackspacecloud.com/pages/Login.jsp;jsessionid=C63F33F09F4868ACBD2EBC11E3FA8B68.cp-n01</a></li>
		<li>Select the 'Cloud Servers' tab and hit the 'Add Server' button.</li>
		<li>Choose the 'My Server Images' tab and select the daily backup of the last app-server.</li>
		<li>This will begin creating your server, you will want to watch the console during the server build. There is a JS applet that allows you to open the console to monitor this output. (Make sure you make a 4GB server and record the password properly using Keepassx.)</li>
		<li>In the event of an error, investigate the problem and try to fix it.</li>
		<li>If everything went successfully, one cloned you should be able to ssh into the server using the 'issh' tool on db.39dg.net</li>
		<li>In the event that the server is not listed, there was likely a problem running the 'on-first-boot.pl' script.</li>
		<li>If so, log onto the server using the Rackspace JS console and run the script manually. It should reside in /root. </li>
		<li>At this point, you should have a new app-server ready to go. Make sure that it has all the necessary pieces to run an app server.</li>
		<li>You should check for: NFS access (mount -l), postfix server config (Ask current S/A if this is enabled.), Private IP (run 'ifconfig' and return if eth0 is not private (10.*))
		<li>Assuming all of these aspects are enabled, you are ready to throw the server in the loop. You may want to do this with a test load-balancer first to make sure the server operates properly.</li>
		<li>If you are checking, make sure you can see product images, submit an order and receive order confirmation e-mail. These steps ensure the integiry of the build.</li>
		<li>If server is ready, log on to the current active load-balancer (Currently: canonical-load). You may use issh from db.39dg.net to do this.</li>
		<li>Make a backup of the initial nginx conf incase of an error. The file resides at /etc/nginx/conf.d/upstream.conf </li>
		<li>You will want to add the new private server IP into the conf files (both secure and non-secure) and then restart nginx (service nginx restart).</li>
		<li>At this point, the new server is active. Congratulations. Keep watching the orders log and error log to make sure this server has no issues.</li>

	</ul>
</div>

@_UI_STD_FOOTER_@