<!-- PACKAGES LOADED -->
[if cgi frame ne 'customer_existing_frame']

	[if !value mv_order_lenstype][tmp lenstype_default]1[/tmp][/if]
	[tmp lenstypes][data base=products field=options_lenstype key="[cgi frame]"][/tmp]
	[tmp lenses][data base=products field=options_lens key="[cgi frame]"][/tmp]
	
	[if cgi lens eq 'PROG']
		[comment]Some frames use short lenses detect this and make the switch[/comment]
		[if scratch lenses =~ /PROGE/]
			[cgi name="lens" set="PROGE" hide="1"]
		[/if]
	[/if]
	
	
	[perl no_return="1" tables="recommended_lenses country options_price products desc_lens_pkg"]
	
		# For progressives and bifocals we use a prefix on the lenstypes..
	
		if (($CGI->{lens} eq 'BIF')
		   || ($CGI->{lens} eq 'PROG')
		   || ($CGI->{lens} eq 'PROGE')){
	
			$Scratch->{get_lens} = $CGI->{lens} . '_';
		} else {
			delete $Scratch->{get_lens};
		}		
		
		##select all the lens descriptions from desc_lens_pkg
		
		$sql = qq{SELECT * FROM desc_lens_pkg};
		$Tag->query({sql=>$sql,table=>'desc_lens_pkg',hashref=>'pkg_results'});	
		foreach $lens_pkg (@{$Tmp->{pkg_results}}){
			$packagelink = $Tag->area({href=>'package_information',form=>'code='.$lens_pkg->{pkgcode}});
			$packagetitle = $lens_pkg->{pkgtitle};
			$packagepkg = 'Package';
			$desc_mv_order_lenstype->{$lens_pkg->{pkgcode}}->{show} = 1;
			$desc_mv_order_lenstype->{$lens_pkg->{pkgcode}}->{letter} = $lens_pkg->{pkgletter};
			$desc_mv_order_lenstype->{$lens_pkg->{pkgcode}}->{description} = qq{$packagepkg $lens_pkg->{pkgletter} - $packagetitle};	
		}

	[/perl]
	
	The follow packages are specific for the selected frame:
	<br /><br />
	
	<select name="choose_lenstype" onchange="select_lenstype();">
		<option value=""></option>

	[if type="explicit" compare="$CGI->{lens} ne 'custom' && $CGI->{lens} ne 'safety'"]
	
			[perl no_return="1" failure="Embedded perl error."]		
						
				my @opts = split /[\0\s,]/, $Scratch->{lenstypes};
	
				my $lenstype_groups;
				
				 sub in_array
				 {
				     my ($arr,$search_for) = @_;
				     my %items = map {$_ => 1} @$arr;
				     return (exists($items{$search_for}))?1:0;
				 }
				 
				$lenstype_group_names = {
					'OPT'=>'Clear Lenses',
					'SUN'=>'Tinted Sun Lenses',
					'POLS'=>'Polarized Lenses',
					'TRAN'=>'Clear Inside/Dark Outside Lenses',
				};
				
				foreach my $lenstype_group (@opts)
				{
					if($lenstype_group =~ /^OPT/ && !in_array(\@$lenstype_groups,'OPT')) {
						push @$lenstype_groups, 'OPT';
					}
					if($lenstype_group =~ /^SUN/ && !in_array(\@$lenstype_groups,'SUN')) {
						push @$lenstype_groups, 'SUN';
					}
					if($lenstype_group =~ /^POLS/ && $Scratch->{get_lens} !~ /PROGE/ && !in_array(\@$lenstype_groups,'POLS')) {
						push @$lenstype_groups, 'POLS';
					}
					if($lenstype_group =~ /^TRAN/ && $Scratch->{get_lens} !~ /PROGE/ && !in_array(\@$lenstype_groups,'TRAN')) {
						push @$lenstype_groups, 'TRAN';
					}
					if($lenstype_group =~ /^PROGE_TRAN/ && !in_array(\@$lenstype_groups,'TRAN')) {
						push @$lenstype_groups, 'TRAN';
					}
				}
				
				#managing a bunch of labels here
				#stuff mv_order_lens into variable
				
				foreach $thislens (@$lenstype_groups)
				{
			
					$Document->write("<optgroup label=\"$lenstype_group_names->{$thislens}\">");
					
					$lens_var = $Scratch->{get_lens};
					
					return if $CGI->{sunglasses};
				
					my $i = -1;
					my @opts = split /[\0\s,]/, $Scratch->{lenstypes};
					
					for my $label(@opts)
					{		
						$i++;
						next if($label !~/$thislens/);
						if ($lens_var)
						{
							next if (($lens_var eq 'BIF_') && ($label !~ /^BIF_/));
							next if (($lens_var eq 'PROG_') && ($label !~ /^PROG_/));
							next if (($lens_var eq 'PROGE_') && ($label !~ /^PROGE_/));
						} else {
							next if($label !~/^$thislens/);
						}
						
						$Document->write('<option value="'.$label.'" id="choose_lenstype_' . $label . '"');
						$Document->write(' selected="selected"') if ($label eq $Values->{mv_order_lenstype} || $label eq $CGI->{preorder_package});
						
						if(($Scratch->{lenstype_default}) && ($recommended_lens ne $label))
						{
							$Scratch->{lenstype_default} = 0;
						}							
						$Document->write('>'.$desc_mv_order_lenstype->{$label}->{description});					
						$Document->write(' - (' . $Tag->package_price({ sku => "$CGI->{frame}", sunonly => "$CGI->{sunglasses}", lens => "$CGI->{lens}", lenstype => "$label", text => 1,}) . ')</option>');
						my $pkgprice = $Tag->package_price({ sku => "$CGI->{frame}", sunonly => "$CGI->{sunglasses}", lens => "$CGI->{lens}", lenstype => "$label", noformat => 1,});
						$package_cost_js .= qq{cost['mv_order_lenstype']['$label'] = $pkgprice;};
						
					}
					
					$Document->write("</optgroup>");
					
				}
				
			[/perl]
			
	[else]
		
		Below are the available lens packages:
		<br /><br />		
		[comment]
		Packages for custom and safety lenses
		[/comment]
	
		[perl no_return="1"]
		
		if($CGI->{lens} eq 'custom')
		{
			$Document->write("<option value=\"PKGZ\">Package Z - Custom</option>");
			return;
		}
		
		my $pkg_list;
		push @$pkg_list, { title=>'Clear',code=>'OPT' };
		push @$pkg_list, { title=>'Tinted',code=>'SUN' };
		push @$pkg_list, { title=>'Polarized',code=>'POLS' };
		push @$pkg_list, { title=>'Clear Inside/Dark Outside',code=>'TRAN' };
		
		#Log(uneval(\@$pkg_list));
		
		foreach $key (keys %$desc_mv_order_lenstype)
		{
			for($i = 0;$i<@$pkg_list;$i++)
			{
				my $pkgcode = $pkg_list->[$i]->{'code'};
				if($key =~ /$pkgcode/)
				{
					push @{$pkg_list->[$i]->{'packages'}}, $key;
				}
			}		
		}
		
		#@$pkg_list = sort {$a->{code} cmp $b->{code}} (@$pkg_list);
		
		#Log(uneval(\@$pkg_list));
		
		
		for($x=0;$x<@$pkg_list;$x++)
		{
			$package_out = "<optgroup label=\"$pkg_list->[$x]->{title}\">";

			##bit dirty but dont want to dup data so sorting this bad boy based on data from package description hash.

			@{$pkg_list->[$x]->{'packages'}} = sort {$desc_mv_order_lenstype->{$a}->{description} cmp $desc_mv_order_lenstype->{$b}->{description}} (@{$pkg_list->[$x]->{'packages'}});
			foreach $pkg (@{$pkg_list->[$x]->{'packages'}})
			{
				$package_out .= "<option value=\"$pkg\">".$desc_mv_order_lenstype->{$pkg}->{description}."</option>" if($CGI->{lens} ne 'safety' || $desc_mv_order_lenstype->{$pkg}->{letter} =~ /^Z/);
			}
			$package_out .= "</optgroup>";
			$Document->write($package_out) if(@{$pkg_list->[$x]->{'packages'}} > 0);
		}
		[/perl]
		
	[/else]
	[/if]
	
	</select>
		
[else]

	<select name="choose_lenstype" onchange="select_lenstype();">
		<option value=""></option>
		[query sql="SELECT sku,description,price FROM products WHERE sku LIKE 'LENS%' AND (admin_only IS NULL OR admin_only = '') ORDER BY sortorder" type=list]
			[list]			
					<OPTION value="[sql-param sku]">[sql-param description] - [currency][sql-param price][/currency]</option>
			[/list]
		[/query]	
	</select>	

[/else]
[/if]
