[set page_title][L]Orders[/L]: New Order[/set]
[set ui_class]Orders[/set]
[set page_banner]Create a new customer order[/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]

@_UI_STD_HEAD_@

[if-mm !logged_in]
	[bounce page="admin/login"]
[/if-mm]

[if value err]
	<span style="color:red;">[value name="err" set=""]</span>
[/if]

[calc]
	return unless $CGI->{customer};
	%$Values = ();
	my $rep = $Session->{values_repository}{order_entry};
	my %rep = %$rep;
	for my $key(keys %rep){
		$Values->{$key} = $rep{$key};
	}
	$Values->{customer_id} = $CGI->{customer} eq 'NEW' ? '' : $CGI->{customer};
	return;
[/calc]

[if cgi new]
	[calc]
		$Values = {};
		$Session->{values_repository}->{order_entry} = {};
		return;
	[/calc]
[/if]

[if value customer_id]

	[comment]
	Load all customers previous details
	[/comment]
	[query sql=|SELECT *
	FROM userdb
	WHERE username = '[value customer_id]'| type=|list|]
		[list]	
		
			[value name="fname" set="[sql-param fname]" hide="1"]
			[value name="lname" set="[sql-param lname]" hide="1"]
			[value name="address1" set="[sql-param address1]" hide="1"]
			[value name="address2" set="[sql-param address2]" hide="1"]
			[value name="city" set="[sql-param city]" hide="1"]
			[value name="state" set="[sql-param state]" hide="1"]
			[value name="country" set="[sql-param country]" hide="1"]
			[value name="zip" set="[sql-param zip]" hide="1"]
			
			[value name="b_fname" set="[sql-param b_fname]" hide="1"]
			[value name="b_lname" set="[sql-param b_lname]" hide="1"]
			[value name="b_address1" set="[sql-param b_address1]" hide="1"]
			[value name="b_address2" set="[sql-param b_address2]" hide="1"]
			[value name="b_city" set="[sql-param b_city]" hide="1"]
			[value name="b_state" set="[sql-param b_state]" hide="1"]
			[value name="b_country" set="[sql-param b_country]" hide="1"]
			[value name="b_zip" set="[sql-param b_zip]" hide="1"]
			
			[value name="email" set="[sql-param email]" hide="1"]
			[value name="phone_day" set="[sql-param phone_day]" hide="1"]
			[value name="phone_night" set="[sql-param phone_night]" hide="1"]
			
			[value name="doctor_name" set="[sql-param doctor_name]" hide="1"]
			[value name="doctor_phone" set="[sql-param doctor_phone]" hide="1"]
			[value name="doctor_odmd" set="[sql-param doctor_odmd]" hide="1"]
			[value name="contact_lenses" set="[sql-param contact_lenses]" hide="1"]
			
			[comment]
			Load previous RX
			[/comment]
			[tmp sql]
			SELECT * FROM orderline
			WHERE username = '[value customer_id]'
			[if cgi load_rx]
				AND code = '[cgi load_rx]'
			[elsif value use_rx_id]
				AND code = '[value use_rx_id]'
			[/elsif]
			[/if]
			ORDER BY code DESC
			LIMIT 1
			[/tmp]
			
			[query sql=|[scratch sql]| type=|list| prefix=|rx| list-prefix=|rx|]
				[rx]					
					[value name="rx_id" set="[rx-code]" hide="1"]
					[value name="mv_order_odsph" set="[either][cgi od_sp][or][rx-param sph_od][/either]" hide="1"]
					[value name="mv_order_odcyl" set="[either][cgi od_cy][or][rx-param cyl_od][/either]" hide="1"]  
					[value name="mv_order_odaxi" set="[either][cgi od_ax][or][rx-param axi_od][/either]" hide="1"]  
					[value name="mv_order_odadd" set="[either][cgi od_ad][or][rx-param add_od][/either]" hide="1"]   
					[value name="mv_order_odprism" set="[either][cgi od_pr][or][rx-param prism_od][/either]" hide="1"]   
					[value name="mv_order_ossph" set="[either][cgi os_sp][or][rx-param sph_os][/either]" hide="1"]    
					[value name="mv_order_oscyl" set="[either][cgi os_cy][or][rx-param cyl_os][/either]" hide="1"]
					[value name="mv_order_osaxi" set="[either][cgi os_ax][or][rx-param axi_os][/either]" hide="1"]
					[value name="mv_order_osadd" set="[either][cgi os_ad][or][rx-param add_os][/either]" hide="1"]
					[value name="mv_order_osprism" set="[either][cgi os_pr][or][rx-param prism_os][/either]" hide="1"]
					[value name="mv_order_pupd" set="[either][cgi pd][or][rx-param pupd][/either]" hide="1"]     
					[value name="mv_order_odpupd" set="[either][cgi od_pd][or][rx-param pupd_od][/either]" hide="1"]
					[value name="mv_order_ospupd" set="[either][cgi os_pd][or][rx-param pupd_os][/either]" hide="1"]
					[value name="mv_order_nosepos" set="[either][cgi nosepos][or][rx-param nosepos][/either]" hide="1"]
					[tmp rxlabel][sql-param label][/tmp]
					[tmp loadedrx]1[/tmp]
				[/rx]			
			[/query]

			[tmp rxmessage]
			[if scratch loadedrx]
				[if cgi load_rx]
					[value name="use_rx_id" set="[cgi load_rx]" hide="1"]
				[/if]			
				<font color="green">Using RX '[either][scratch rxlabel][or][value use_rx_id][or][value rx_id][/either]'</font>
			[else]
				[calc]
				undef $Values->{use_rx_id};
				return undef;
				[/calc]
				[if cgi load_rx]
				<font color="red">Failed to load RX with ID: [cgi load_rx]</font>
				[/if]
			[/else]
			[/if]
			[/tmp]
		      
		[/list]
	[/query]
	        
[else]    
	
	[calc]
	undef $Values->{use_rx_id};
	return undef;
	[/calc]

	[tmp od_sp][either][cgi od_sp][or] [/either][/tmp]
	[tmp od_cy][either][cgi od_cy][or] [/either][/tmp]
	[tmp od_ax][either][cgi od_ax][or] [/either][/tmp]
	[tmp od_ad][either][cgi od_ad][or] [/either][/tmp]
	[tmp od_pr][either][cgi od_pr][or] [/either][/tmp]
	[tmp os_sp][either][cgi os_sp][or] [/either][/tmp]
	[tmp os_cy][either][cgi os_cy][or] [/either][/tmp]
	[tmp os_ax][either][cgi os_ax][or] [/either][/tmp]
	[tmp os_ad][either][cgi os_ad][or] [/either][/tmp]
	[tmp os_pr][either][cgi os_pr][or] [/either][/tmp]
	[tmp pd][either][cgi pd][or] [/either][/tmp]
	[tmp os_pd][either][cgi os_pd][or] [/either][/tmp]
	[tmp od_pd][either][cgi od_pd][or] [/either][/tmp]
	[tmp nosepos][either][cgi nosepos][or] [/either][/tmp]
[/else]
[/if]

<style>
	div#admin_new_order select, div#admin_new_order input {
		font-size:12px;
		font-family:verdana;
		border:1px solid #666;
		background:#F5F5F5;
	}
	div.loading_error {
		padding:5px;
		color:red;
		border:1px solid red;
	}
	div#admin_new_order a {
		font-size:12px;
		font-family:verdana;
	}
</style>

<script type="text/javascript">

var prismvalue;
var framevalue;
var lensvalue;
var lenscustomvalue;
var lenstypevalue;
var tintvalue;
var arvalue;
var arcustomvalue;
var casevalue;

var cost = {
	'prism':0,
	'frame':0,
	'lenstype':0,
	'ar':0,
	'case':0,
	'total':0
};

function set_price()
{
	var price = 0;
	price += cost['prism'];
	price += cost['frame'];
	price += cost['lenstype'];
	price += cost['ar'];
	price += cost['case'];
	$('cost_total').update(price.toFixed(2));
	cost.total = price;
}

function get_price(type,custom)
{
	ptype = type;
	if(custom)
	{
		ptype = custom;	
	}
	new Ajax.Request('/admin/order_new_load_price.html', {
		method: 'post',
		parameters: 'type='+ptype+'&prism='+prismvalue+'&frame='+framevalue+'&lens='+lensvalue+'&lenstype='+lenstypevalue+'&ar='+arvalue+'&case='+casevalue,
		onSuccess: function(transport)
		{
			var result = transport.responseJSON;
			cost[type] = result.price;
			set_price();			
		},
		onFailure: function()
		{
			alert('Could not update item total');
		}
	});
}

function form_element_value(formfield)
{
	var form = $('checkout');
	var fieldobj = form[formfield];
	var fieldvalue = $(fieldobj).getValue();
	return fieldvalue;
}

function form_radio_value(radioname)
{
	var radiovalue;
	var form = $('checkout');
	form.getInputs('radio',radioname).each(function(input)
	{
		if(input.checked)
		{
			radiovalue = input.value;
		}
	});
	return radiovalue;
}
	
function select_prism()
{
	prismvalue = form_radio_value('choose_prism');
	get_price('prism');
}
	
function select_frame()
{
	$('lens_box').show();
	framevalue = form_element_value('choose_frame');
	if(framevalue == 'inactive')
	{
		alert('The item you have selected is either out of stock or has been discontinued');		
		$(frame).value = $(frame).id;
	}
	if(framevalue == 'customer_existing_frame')
	{
		$('frame_comment').show();
	}
	else
	{
		$('frame_comment').hide();
	}
	if(lensvalue)
	{
		//reselecting the lens will reload the Packages
		//we need to because we have changed Frame selection 
		select_lens();	
	}
	get_price('frame');
}

var loading_string = '<img src="/store/images/blueyellow/infoloading.gif" align="absmiddle" /> Loading packages';
var loading_error_string = '<div class="loading_error">Failed to load packages</div>';

function select_lens(loadtrigger)
{
	$('lenstype_box').show();
	var lenstype_result = $('lenstype_results');
	lenstype_result.update(loading_string);
	lensvalue = form_radio_value('choose_lens');
	get_price('lens');
	if(lensvalue != 'undefined')
	{
		new Ajax.Request('/admin/order_new_load_lenstype.html', {
			method: 'get',
			parameters: 'frame='+framevalue+'&lens='+lensvalue,
			onSuccess: function(transport)
			{
				
				if(transport.responseText.match(/PACKAGES LOADED/))
				{
					lenstype_result.update(transport.responseText);
					if(loadtrigger)
					{
						trigger_lenstype_loaded();	
					}
				}
				else
				{
					lenstype_result.update(loading_error_string);		
				}
			},
			onFailure: function()
			{
				lenstype_result.update(loading_error_string);
			}
		});	
	}
	else
	{
		lenstype_result.update('<div class="loading_error">Invalid lens value \''+lensvalue+'\'</div>');			
	}
}

var tint_list = $w('CLEAR BROWN GREY G15 BLUE ROSE ORANGE YELLOW');
var tint_prog_list = $w('BROWN GREY');

function select_lenstype()
{

	lenstypevalue = form_element_value('choose_lenstype');
	$('tint_options').show();
	//hide all tints to start with
	
	if(framevalue == 'customer_existing_frame')
	{
		//show all tints
		tint_list.each(function(thistint)
		{
			$('tint_'+thistint).show();
		});
		get_price('lenstype','lenstype_pof');			
	}
	else
	{
	
		tint_list.each(function(thistint)
		{
			$('tint_'+thistint).hide();
		});
		
		if(lenstypevalue.match(/OPT/))
		{
			$('tint_options').hide();
		}
		
		if(lenstypevalue.match(/(SUN|PKGZ)/))
		{
			//show all tints, all are available on sunglasses		
			tint_list.each(function(thistint)
			{
				if((thistint != 'CLEAR') || (lenstypevalue == 'PKGZ'))
				{
					$('tint_'+thistint).show();
				}
			});	
		}
		
		if(lenstypevalue.match(/(POLS|TRAN)/))
		{
			//enable only pols/tran tints
			tint_prog_list.each(function(thistint)
			{
				$('tint_'+thistint).show();
			});
		}		
		get_price('lenstype');
	}	
}

function select_tint(selcolor)
{
	tintvalue = selcolor;
	tint_list.each(function(thistint)
	{
		$('mv_order_tint_'+thistint).src = '/store/images/radio_off.gif';
	});
	$('mv_order_tint_'+selcolor).src = '/store/images/radio_on.gif';
	$('choose_tint').value = selcolor;
	
	if((!selcolor.match(/GREY/)) && (lensvalue == 'custom'))
	{
		alert('Transitions & Polarized lenses may not be available in this color; please check if you are not 100% sure.');
	}	
}

function select_ar()
{
	arvalue = form_radio_value('choose_ar');
	get_price('ar');
}

function select_case()
{
	casevalue = form_element_value('choose_case');
	get_price('case');
}

function check_options()
{
	// FIRST CHECK OPTIONS HAVE BEEN SELECTED
	if(!framevalue)
	{
		alert('Please choose a frame option');
		return false;
	}
	if(!lensvalue)
	{
		alert('Please choose a lens option');
		return false;
	}
	if(!lenstypevalue)
	{
		alert('Please choose a lens package');
		return false;
	}
	
	if((!tintvalue) && (lenstypevalue.match(/(SUN|POLS|TRAN)/)))
	{
		alert('Please choose an tint option');
		return false;
	}
	if(!arvalue)
	{
		alert('Please choose an AR coating option');
		return false;
	}
	if(!casevalue)
	{
		alert('Please choose an case option');
		return false;
	}
	
	//SET OPTIONS TO INPUT VARIABLE READY FOR SUBMISSION,
	//THIS IS WHERE THE MAGIC HAPPENS
	if(framevalue != 'customer_existing_frame')
	{
		$('mv_order_item').value = framevalue;
		if(lensvalue == 'custom')
		{
			lenscustomvalue = $('choose_lens_custom_text').value;
			if(!lenscustomvalue)
			{
				alert('Please specify a custom lens description');
				return false;
			}
			else
			{
				$('mv_order_lenscustom').value = lenscustomvalue;
			}
			if(lenstypevalue != 'PKGZ')
			{
				alert('Please choose a custom package');
				return false;
			}
		}
	}
	if(lensvalue)
	{
		$('mv_order_lens').value = lensvalue;
	}
	if(lenstypevalue)
	{
		$('mv_order_lenstype').value = lenstypevalue;
	}	
	if(tintvalue)
	{
		$('mv_order_tint').value = tintvalue;
	}
	if(arvalue)
	{
		$('mv_order_coating').value = arvalue;
		arcustomvalue = $('choose_ar_custom_text').value;
		if((arvalue == 'custom') && (!arcustomvalue))
		{
			alert('Please specify a custom AR coating description');
			return false;
		}
		else
		{
			$('mv_order_coatingcustom').value = arcustomvalue;		
		}
	}
	if(casevalue)
	{
		$('mv_order_case').value = casevalue;
	}
	return true;
}

</script>

<form action="[process]" method="post" name="checkout" id="checkout">
<input type="hidden" name="mv_todo" value="refresh" />
<input type="hidden" name="mv_nextpage" value="admin/order_new_cart" />
<input type="hidden" name="mv_order_item" id="mv_order_item" value="" />
<input type="hidden" name="mv_order_lens" id="mv_order_lens" value="" />
<input type="hidden" name="mv_order_lenscustom" id="mv_order_lenscustom" value="" />
<input type="hidden" name="mv_order_lenstype" id="mv_order_lenstype" value="" />
<input type="hidden" name="mv_order_tint" id="mv_order_tint" value="" />
<input type="hidden" name="mv_order_coating" id="mv_order_coating" value="" />
<input type="hidden" name="mv_order_coatingcustom" id="mv_order_coatingcustom" value="" />
<input type="hidden" name="mv_order_case" id="mv_order_case" value="" />
<div id="admin_new_order">

	[if value customer_id]
	<h1>Creating new order for [data table="userdb" field="fname" key="[value customer_id]"] [data table="userdb" field="lname" key="[value customer_id]"]</h1>
	[else]
	<h1>Create a new customer order</h1>
	[/else]
	[/if]
	<div class="stepbox">
		<div class="steptitle">
			<h2>Enter Prescription</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">
				
				[scratch rxmessage]<br />
	
				[include include/admin/prescription]	
				
				<p>
				Add $19.95 to the price for prism?
				<input type="radio" id="prism_yes" name="choose_prism" onclick="select_prism();" value="1" /> <label for="prism_yes">Yes</label>
				<input type="radio" id="prism_no" name="choose_prism" onclick="select_prism();" value="" /> <label for="prism_no">No</label>
				</p>
			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div class="stepbox">
		<div class="steptitle">
			<h2>Enter Frame Desired</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">
				
				[if value customer_id]
				<a href="/admin/order_new_previous_frame.html" onclick="openRequestedPopup(this.href,this.target);" target="otherprescriptions">View/Select A Previously Ordered Frame</a><br />
				[/if]
				
				<select id="choose_frame" name="choose_frame" onchange="select_frame();">
					<option value=""></option>
				  <option value="customer_existing_frame">Customer's Existing Frame</option>
				  [query sql=|SELECT inactive,description,sku FROM products WHERE prod_group = 'Eyeglasses and Sunglasses' ORDER BY description| type=|list|]
				  	[list]
				  		<option id="[sql-param sku]" [if cgi load_frame][if cgi load_frame eq '[sql-param sku]']selected="selected" [/if][/if]value="[if-sql-param inactive]inactive[else][sql-param sku][/else][/if-sql-param]"[if-sql-param inactive] style="color:#999;"[/if-sql-param]>[sql-param description] ([sql-param sku])</option>				  	
				  	[/list]				  
				  [/query]				  
				</select>
				
				[if cgi load_frame]
				<script type="text/javascript">
					Event.onDOMReady(function()
					{
						select_frame();
					});
				</script>
				[/if]
				<div id="frame_comment" style="margin-top:10px;display:none;">
					Frame Description<br />
					<textarea name="mv_order_comments" cols="50" rows="6"></textarea>
				</div>
			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div class="stepbox" id="lens_box">
		<div class="steptitle">
			<h2>Enter Lenses Desired</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">
				
				
				[perl tables="options_price"]
					
					my $out;
					$sql = "SELECT o_value,o_label FROM options_price WHERE o_group = 'lens' AND o_value != 'PROGE' AND o_value != 'custom'";
					$result = $Tag->query({sql=>$sql,hashref=>1});
					foreach $row (@$result)
					{
						$out .= "<input type=\"radio\" onclick=\"select_lens();\" id=\"lens_$row->{o_value}\" name=\"choose_lens\" value=\"$row->{o_value}\"><label for=\"lens_$row->{o_value}\">$row->{o_label}</label><br />";					
					}				
					return $out;
				
				[/perl]
				
				<br />		
				<input type="radio" onclick="select_lens();" id="lens_custom" name="choose_lens" value="custom"><label for="lens_custom">Custom (specify):</label><input type="text" size="40" id="choose_lens_custom_text" />
				

			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div class="stepbox" id="lenstype_box">
		<div class="steptitle">
			<h2>Enter Lens Package Desired</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">				
				
				<div id="lenstype_results">
					Choose a frame and/or lens
				</div>
				
			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div class="stepbox" id="tint_box">
		<div class="steptitle">
			<h2>Customize lenses - Tints & coatings</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">				
				
				<input type="hidden" id="choose_tint" name="choose_tint" value="" />
				
				<div id="tint_options"><b>[L]Lens Tint[/L]:</b>
				
				[loop list="CLEAR BROWN GREY G15 BLUE ROSE ORANGE YELLOW"]
					[loop-calc]
						
						my $color = qq{[loop-code]};						
						my @out;
						push @out, '<div class="tintButton" id="tint_'.$color.'">';
						push @out, '<img style="margin-bottom:3px;" src="/store/images/radio_off.gif" id="mv_order_tint_'.$color.'" value="'.$color.'" onclick="select_tint(\''.$color.'\');"/>';
						push @out, '<img src="/store/images/blueyellow/tint_button_'.$color.'.gif" alt="Tint '.$color.'" onclick="select_tint(\''.$color.'\');"/>';
						push @out, '</div>';
						return join "\n", @out;						
						
					[/loop-calc]
				[/loop]	
				
				</div>
				
				<div style="clear:both;"><br /><b>[L]Anti-reflective (A/R) coating[/L]:</b></div>	
				<div>
					<input type="radio" name="choose_ar" onclick="select_ar();" id="choose_ar_yes" value="COA1" /> <label for="choose_ar_yes">Yes</label><br />
					<input type="radio" name="choose_ar" onclick="select_ar();" id="choose_ar_no" value="COA3" /> <label for="choose_ar_no">No</label><br />
					<input type="radio" name="choose_ar" onclick="select_ar();" id="choose_ar_custom" value="custom" /> <label for="choose_ar_custom">Custom</label> <input type="text" size="40" id="choose_ar_custom_text" />
				</div>
			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div class="stepbox" id="case_box">
		<div class="steptitle">
			<h2>Case</h2>
		</div>
		<div class="stepmain">
			<div class="stepcontent">				
				
				<select id="choose_case" name="choose_case" onchange="select_case();">
					<option value=""></option>
					[query type=list prefix=case list-prefix=case
					sql="SELECT * FROM options_price WHERE o_group='case' AND o_value NOT 
					LIKE 'CASE%' ORDER BY o_sort ASC"]											
						[case]
							<option value="[case-param o_value]">[case-param o_label] [if term="[case-param price]" op="eq" compare="0"]FREE[else][currency][case-param price][/currency][/else][/if]</option>	
						[/case]								
					[/query]
				</select>
					
			</div>	
		</div>
		<div class="clearb">&nbsp;</div>
	</div>
	
	<div id="total_box" class="stepbox">	
		<div class="steptitle"><h2>[L]Item Total[/L]</h2></div>
		<div class="stepmain">
			<div class="stepcontent">					
				$<span id="cost_total">0.00</span><br />
				<input type="submit" value="ADD TO CART" onclick="return check_options(); return false;" />
			</div>
		</div>				
		<div class="clearb">&nbsp;</div>
	</div>

</div>

</form>

<script type="text/javascript">
	Event.observe(window,'load',function()
	{
		select_prism();
		select_frame();
		if(framevalue)
		{
			select_lens(1);
		}
	});	
	function trigger_lenstype_loaded()
	{
		if(framevalue && lensvalue)
		{
			select_lenstype();
			select_ar();
			select_case();
		}
	}	
</script>

@_UI_STD_FOOTER_@