Load Frames for [value fname] [value lname]
<script>
	var parentwin = window.opener;
	parentwin.name = "adminordernew";
</script>
<form action="/admin/order_new.html" target="adminordernew" onsubmit="self.close();">
<select name="load_frame">
[query sql=|SELECT * FROM orderline WHERE username = '[value customer_id]' AND sku NOT LIKE 'LENS_PKG%'| type=|list|]
	[list]
		<option value="[sql-param sku]">[sql-param description] ([sql-param sku]) #[sql-param order_number]</option>
	[/list]	
[/query]
</select>
<input type="submit" value="Load RX" />
</form>