Load Address for [value fname] [value lname]
<script>
	var parentwin = window.opener;
	parentwin.name = "adminordercart";
	self.resizeBy(70,0);
</script>
<form action="/admin/order_new_cart.html" target="adminordercart" onsubmit="self.close();">
<input type="hidden" name="load_address_type" value="[cgi load]" />
<select name="load_address">
[query sql=|SELECT * FROM transactions WHERE username = '[value customer_id]'| type=|list|]
	[list]
		<option value="[sql-code]">
			[if cgi load eq 'billing'][sql-param b_address1],[sql-param b_address2],[sql-param b_city],[sql-param b_state],[sql-param b_zip],[sql-param b_country][/if]
			[if cgi load eq 'shipping'][sql-param address1],[sql-param address2],[sql-param city],[sql-param state],[sql-param zip],[sql-param country][/if]
		</option>
	[/list]	
[/query]
</select>
<input type="submit" value="Load Address" />
</form>