[set page_title][L]Order manager[/L]: Select orders for PDF[/set]
[set ui_class]Orders[/set]
[set page_banner]Select orders for PDF[/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]
@_UI_STD_HEAD_@

[perl tables=transactions]
	$Tag->tmp($_) for qw( order_begin order_end );
	my $db = $Db{transactions} or return "No transactions DB handle!";
	my $result = $db->query(<<'EOQ');
SELECT MIN(order_number),
MAX(order_number)
FROM transactions
WHERE lab IN ('1', '2', '3', '4', 'FH', 'H')
AND status = 'pending'
EOQ
	@{$Scratch}{qw( order_begin order_end )} = @{$result->[0]};
	return;
[/perl]

[if scratch ui_bounce]
	[bounce page="[scratchd ui_bounce]"]
[/if]

[if scratch ui_message]
<BLOCKQUOTE>
	[scratch ui_message]
	[set ui_message][/set]
</BLOCKQUOTE>
<p>
&nbsp;
[/if]


<!-- ----- BEGIN REAL STUFF ----- -->

[update values]

<FORM ACTION="[area admin/view_form]" METHOD=POST NAME=batch>
<INPUT TYPE=hidden NAME=mv_session_id VALUE="[data session id]">

<p>
Suggesting a range of orders which have:
<ol>
<li>been assigned to a lab
<li>not yet output to PDF
<li>status <em>pending</em>
</ol>
</p>

<p>
Begin at order #<INPUT NAME=order_begin VALUE="[scratch order_begin]" size=9>
&nbsp;&nbsp;&nbsp;
End at order #<INPUT NAME=order_end VALUE="[scratch order_end]" size=9>
</p>

<p>
Report for lab
&nbsp;
[loop
	prefix=lab
	list="1 2 3 4 FH H"
][lab-code]<input type="radio" name="lab" value="[lab-code]">
[/loop]
</p>

<p>
Allow order reprints
&nbsp;
<input type="checkbox" name="allow_reprint" checked="checked" value="1">
</p>

<p>
<input type=submit value="Generate PDF">
</p>

</FORM>

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->
