[seti page_title][L]Order manager[/L]: [L]Edit Itemline - [cgi itemline][/L][/seti]
[set ui_class]Orders[/set]
[set page_banner][L]Edit order[/L][/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]
@_UI_STD_HEAD_@

[if cgi itemline]
	
	[tmp sql]
		SELECT *
		FROM orderline
		WHERE code = '[cgi itemline]'
		LIMIT 1
	[/tmp]
	

	[if cgi optionsave]	
			
		[query sql="[scratch sql]" type="list"]
			[list]				
			
				[data table="orderline" key="[cgi itemline]" field="lenstype" value="[cgi lenstype]" hide="1"]
				[data table="orderline" key="[cgi itemline]" field="tint" value="[cgi tint]" hide="1"]
				[data table="orderline" key="[cgi itemline]" field="ar_coating" value="[cgi ar_coating]" hide="1"]
				[data table="orderline" key="[cgi itemline]" field="varilux" value="[cgi varilux]" hide="1"]
				[data table="orderline" key="[cgi itemline]" field="clip" value="[cgi clip]" hide="1"]
				
				[seti savecomments]	
				[if term="[sql-param lenstype]" op="ne" compare="[cgi lenstype]"][data table="orderline" key="[cgi itemline]" field="comments" value="<br />Lens Pkg Changed from <b>[sql-param lenstype]</b> to <b>[cgi lenstype]</b> by '[data session username]'" append="1"][/if]
				[if term="[sql-param tint]" op="ne" compare="[cgi tint]"][data table="orderline" key="[cgi itemline]" field="comments" value="<br />Tint Changed from <b>[sql-param tint]</b> to <b>[cgi tint]</b> by '[data session username]'" append="1"][/if]
				[if term="[sql-param ar_coating]" op="ne" compare="[cgi ar_coating]"][data table="orderline" key="[cgi itemline]" field="comments" value="<br />AR Coating Changed from <b>[sql-param ar_coating]</b> to <b>[cgi ar_coating]</b> by '[data session username]'" append="1"][/if]
				[if term="[sql-param varilux]" op="ne" compare="[cgi varilux]"][data table="orderline" key="[cgi itemline]" field="comments" value="<br />Varilux Changed from <b>[sql-param varilux]</b> to <b>[cgi varilux]</b> by '[data session username]'" append="1"][/if]
				[if term="[sql-param clip]" op="ne" compare="[cgi clip]"][data table="orderline" key="[cgi itemline]" field="comments" value="<br />Clips Changed from <b>[sql-param clip]</b> to <b>[cgi clip]</b> by '[data session username]'" append="1"]	[/if]
				[/seti]	
			
			[/list]			
		[/query]
		
		[tmp goto][area href="admin/order_view" form="order=[cgi order]&edititem=1"][/tmp]		
		[bounce href="[scratch goto]"]
	
	[/if]

[include include/checkout/descriptions]

<form action="" method="post">
<input type="hidden" name="optionsave" value="1">
<input type="hidden" name="order" value="[cgi order]">
<input type="hidden" name="itemline" value="[cgi itemline]">

<table cellpadding="2" cellspacing="0">
	<tr class="rhead">
		<td colspan="2">
		<b>Edit Item line [cgi itemline]</b>
		</td>
	</tr>

[query sql="[scratch sql]" type="list"]
	[list]
		<tr>
			<td class="rowalt">
			Lens
			</td>
			<td class="rownorm">
			[data table="options_price" field="o_label" key="[sql-param lens]" foreign="o_value"]
			</td>
		</tr>
		<tr>
			<td class="rowalt">
			Lens type
			</td>
			<td class="rownorm">
				<select name="lenstype">
				[tmp sql2]
					SELECT o_value
					FROM options_price
					WHERE o_group = 'lenstype'
					AND o_value != 'no'
					AND o_value != 'yes'
					ORDER BY o_label
				[/tmp]
				[query sql="[scratch sql2]"
					type="list"
					prefix="pkg"
					list-prefix="pkg"]
					[pkg]
						<option value="[pkg-param o_value]" [if term="[sql-param lenstype]" op="eq" compare="[pkg-param o_value]"]selected="selected" [/if]>
						[perl interpolate="1"]							
							return $option_display_text{[pkg-param o_value]}					
						[/perl]
						</option>
					[/pkg]				
				[/query]
				</select>
			</td>
		</tr>	
		<tr>
			<td class="rowalt">
			Tint
			</td>
			<td class="rownorm">
			 <select name="tint">
			 	[loop list="CLEAR BROWN GREY G15 BLUE ROSE ORANGE YELLOW" ranges="1"]
			 		<option value="[loop-code]" [if term="[loop-code]" op="eq" compare="[sql-param tint]"]selected="selected" [/if]>[loop-code]</option>			 			
			 	[/loop]
			 </select>
			</td>
		</tr>		
		<tr>
			<td class="rowalt">
			AR coating
			</td>
			<td class="rownorm">
				<select name="ar_coating">
					<option value="" [if-sql-param ar_coating eq '']selected="selected" [/if-sql-param]>Not available with this Frame/Package</option>
					<option value="COA1" [if-sql-param ar_coating eq 'COA1']selected="selected" [/if-sql-param]>[data table="options_price" field="o_label" foreign="o_value" key="COA1"]</option>COA1</option>
					<option value="COA3" [if-sql-param ar_coating eq 'COA3']selected="selected" [/if-sql-param]>[data table="options_price" field="o_label" foreign="o_value" key="COA3"]</option>
					<option value="COA4" [if-sql-param ar_coating eq 'COA4']selected="selected" [/if-sql-param]>[data table="options_price" field="o_label" foreign="o_value" key="COA4"]</option>
				</select>
			</td>
		</tr>	
		<tr>
			<td class="rowalt">
			Varilux
			</td>
			<td class="rownorm">
				<select name="varilux">
					<option value="no">No</option>
					<option value="yes" [if-sql-param varilux eq 'yes']selected="selected" [/if-sql-param]>Yes</option>
					<option value="mandatory" [if-sql-param varilux eq 'mandatory']selected="selected" [/if-sql-param]>Mandatory</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="rowalt">
			Clip
			</td>
			<td class="rownorm">
				<select name="clip">
					<option value="0">No</option>
					<option value="1" [if-sql-param clip eq '1']selected="selected" [/if-sql-param]>Yes</option>
				</select>
			</td>
		</tr>	
	[/list]	
[/query]

	<tr>
		<td colspan="2">
		<input type="submit" value="Save Changes" onclick="this.value='Please Wait...';" />
		</td>
	</tr>
</table>

</form>

[else]
	No Item line specified
[/else]
[/if]

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: order_edititem.html,v 2.8 2002/10/27 04:36:04 Rob Aldred Exp $ -->
