Load RX for [value fname] [value lname]
<script>
	var parentwin = window.opener;
	parentwin.name = "adminordernew";
</script>
<form action="/admin/order_new.html" target="adminordernew" onsubmit="self.close();">
<select name="load_rx">
[query sql=|SELECT * FROM orderline WHERE username = '[value customer_id]'| type=|list|]
	[list]
		<option value="[sql-code]">#[sql-param order_number] ([sql-param sku])</option>
	[/list]	
[/query]
</select>
<input type="submit" value="Load RX" />
</form>