[set page_title][L]Orders[/L]: Order Search[/set]
[set ui_class]Orders[/set]
[if cgi showshipped]
	[tmp ui_subclass]archived[/tmp]
[else]
	[tmp ui_subclass]pending[/tmp]
[/else]
[/if]
[set page_banner]Advanced search for orders[/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]

@_UI_STD_HEAD_@

[if-mm !logged_in]
	[bounce page="admin/login"]
[else]
	[if type="explicit" compare="$Session->{username} =~ /TSOship|beanshoot/i"]
		[seti in_labnumber]1[/seti]
	[/if]
	[if type="explicit" compare="$Session->{username} =~ /HOship|capsicum/i"]
		[seti in_labnumber]2[/seti]
	[/if]
	[if type="explicit" compare="$Session->{username} =~ /lab3ship/i"]
		[seti in_labnumber]3[/seti]
	[/if]
[/else]
[/if-mm]	

[if cgi showall]
	[tmp tmp][scratchd sql_select][/tmp]
[/if]

<script type="text/javascript">
function check_order_length(orderfield)
{
	if(orderfield.value.length == 8)
	{
		document.searchorder.submit();
	}
}
</script>

<style>
form {
	margin:0;
	padding:0;
}
tr.good,.good{
	background: lightgreen;
}
tr.warning,.warning {
	background: orange;
}
tr.banned,.banned{
	background: red;	
}
tr.exchange,.exchange{
	background: yellow;
}
.legendBox {
	width: 50px;
	height: 10px;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-right: 5px;
}
#legend {
	width: 650px;
}
#legend ul {
	margin-top: 4px;
}
#legend li {
	float: left;
	width: 150px;
}
#legend li div, #legend li span{
	float: left;
}
#legend p {
	margin: 10px 0 2px 0;
}
p.legendHeader {
	font-weight: bold;
}
</style>

[if value err]
	<span style="color:red;">[value name="err" set=""]</span>
[/if]
<table border="0" align="center">
	<tr><td colspan="3">
	<table border=0>		
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			<b>[L]Go direct to order[/L]</b>
			</td>
		</tr>
		<tr>
			<td>
			<small>
		
				<FORM ACTION="[area admin/order_view]" name="directorder">
				<INPUT NAME=order VALUE="[cgi order]" onclick="this.form.order.select();" size="52">
				<INPUT TYPE=submit VALUE="[L]Go[/L]">
				</FORM>				
				
			</small>
			</td>
		</tr>
	</table>
	
	</td>
	</tr>
	
	<tr>	
	<td>
	
	<FORM ACTION="[area admin/order_search_results]" name="search">
	<input type="hidden" name="searchorders" value="1" />
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search First Name[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_fname" VALUE="">			
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Last Name[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_lname" VALUE="">			
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Zip/Postcode[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_zip" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Email[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>				
				<INPUT NAME="search_email" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>	
	<td>	
	
	<table border=0>
		<tr>
			<td style="border-bottom: 1px dotted #666666; font-size: 13px;">
			[L]Search Username[/L]
			</td>
		</tr>
		<tr>
			<td>
			<small>
				<INPUT NAME="search_username" VALUE="">				
			</small>		
			</td>
		</tr>
	</table>
	
	</td>
	
	<td valign="bottom">
	<input type="submit" value=" Go " />
	
	</form>
	
</td>

</tr>
</table>
<script>
document.directorder.order.focus();
document.directorder.order.select();
</script>
	
<a href="[area admin/order_search_results]"><b>Clear Search</b></a>
	
<table cellpadding="2" cellspacing="1" width="100%">
	<tr class=rmarq>
		<th>Order</th>
		<th>User</th>
		<th>Flagged</th>
		<th>Location</th>
		<th>Date/Time</th>
		<th>Items</th>
		<th>Total</th>
		<th>Lab</th>
		<th>IP</th>
		<th>Status</th>
		<th>Payment Type</th>
		<th>Server</th>
		<th>Comments</th>
	</tr>
	[seti sql_select][/seti]
	
		[if cgi searchorders]	
		
			
				
				[perl]	
					$CGI->{search_fname} =~ s/^\s*(.+?)\s*$/$1/;
					if($CGI->{search_fname})
					{			
					
						$Scratch->{sql_select} .= 'AND (';
						$f=1;					
						
						@field_fname = split(/ /,$CGI->{search_fname});					
						foreach $word (@field_fname)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'fname LIKE \'%'.$word.'%\'';
							$f++;
						}		
						$Scratch->{sql_select} .= ') ';
						
					}
					
					$CGI->{search_lname} =~ s/^\s*(.+?)\s*$/$1/;
					if($CGI->{search_lname})
					{
					
						$Scratch->{sql_select} .= 'AND (';			
						$f=1;
						
						@field_lname = split(/ /,$CGI->{search_lname});
						foreach $word (@field_lname)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'lname LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}
					
					$CGI->{search_email} =~ s/^\s*(.+?)\s*$/$1/;
					if($CGI->{search_email})
					{
					
						$Scratch->{sql_select} .= 'AND (';			
						$f=1;
						
						@field_email = split(/ /,$CGI->{search_email});
						foreach $word (@field_email)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 't.email LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}
					
					$CGI->{search_zip} =~ s/^\s*(.+?)\s*$/$1/;
					if($CGI->{search_zip})
					{						
					
						$Scratch->{sql_select} .= 'AND (';				
						$f=1;
						
						@field_zip = split(/ /,$CGI->{search_zip});
						foreach $word (@field_zip)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 'zip LIKE \'%'.$word.'%\'';
							$f++;
						}	
						$Scratch->{sql_select} .= ') ';
						
					}
					
					$CGI->{search_username} =~ s/^\s*(.+?)\s*$/$1/;
					if($CGI->{search_username})
					{					
					
						$Scratch->{sql_select} .= 'AND (';				
						$f=1;
						
						@field_username = split(/ /,$CGI->{search_username});	
						foreach $word (@field_username)
						{
							if($f > 1)
							{
								$Scratch->{sql_select} .= ' OR ';
							}
							$Scratch->{sql_select} .= 't.username LIKE \'%'.$word.'%\'';
							$f++;
						}
						$Scratch->{sql_select} .= ') ';
						
					}						
					
					return undef;	
					
				[/perl]			
				
				[comment]
				[seti sql_select]AND [cgi searchfield] LIKE '%[cgi sq]%'[/seti]
				[/comment]		
		
		[/if]
		
		[tmp monthago][convert-date fmt="%Y%m%d" days="-30"][/convert-date][/tmp]
	
		[comment]
		get the total number of orders
		[/comment]
		[tmp sql]
		SELECT count(code)
		FROM transactions t
		WHERE deleted = 0		
		[if cgi showshipped]
			AND archived = 1
			AND order_ymd > [scratch monthago]
		[elsif !scratch sql_select]
			AND archived = 0
			AND order_ymd > [scratch monthago]
		[/elsif]
		[/if]		
		[scratch sql_select]
		[/tmp]
		[tmp total_orders]0[/tmp]
		
		[query sql=|[scratch sql]| type=|list|]
			[list]
			[tmp total_orders][sql-code][/tmp]
			[/list]			
		[/query]	
		
		[comment]
		build the limits for the main sql query
		[/comment]	
		[tmp sql_limit]20[/tmp]
		[tmp sql_start]0[/tmp]
		[tmp currentpage]1[/tmp]
		
		[if cgi page]
			[tmp currentpage][cgi page][/tmp]
			[tmp sql_start][calc]([scratch currentpage] * [scratch sql_limit]) - [scratch sql_limit][/calc][/tmp]					
		[/if]
		[tmp record_start][calc][scratch sql_start] + 1[/calc][/tmp]				
		
		[tmp is_super][if-mm super]1[/if-mm][/tmp]
		
		[perl tables="transactions ambassador_referral"]
			
		$r = '';
		
		if($Scratch->{in_labnumber})
		{
			$Scratch->{sql_select} .= " AND lab = '".$Scratch->{in_labnumber}."'";
		}
		
		
		##$sql = '
		##SELECT t.*, ar.code AS ar_code
		##FROM transactions t
		##LEFT JOIN ambassador_referral ar ON(t.code = ar.order_number AND ar.status <> "deleted")
		##WHERE t.deleted = 0 ';
		##if($CGI->{showshipped})
		##{
		##	$sql .= ' AND t.archived = 1 ';
		##}
		##elsif(!$Scratch->{sql_select})
		##{
		##	$sql .= ' AND t.archived = 0 ';
		##}
		##$sql .= $Scratch->{sql_select}.'
		##GROUP BY t.code 
		##ORDER BY t.order_date DESC
		##LIMIT '.$Scratch->{sql_start}.','.$Scratch->{sql_limit}.'	
		##';		
		
		$sql = '
		SELECT 
		t.*, c.status as c_status,c.comments as c_comments
		FROM transactions t 
		LEFT JOIN customer_flags c on 
		( (c.username = t.username or c.email = t.email) and pending <> 1)
		WHERE deleted = 0 ';
		if($CGI->{showshipped})
		{
			$sql .= ' AND archived = 1 
			AND order_ymd > '.$Scratch->{monthago}.' ';
		}
		elsif(!$Scratch->{sql_select})
		{
			$sql .= ' AND archived = 0 
			AND order_ymd > '.$Scratch->{monthago}.' ';
		}
		$sql .= $Scratch->{sql_select}.'
		ORDER BY order_date DESC
		LIMIT '.$Scratch->{sql_start}.','.$Scratch->{sql_limit}.'	
		';	
		my @good_refs = qw\
		glassyeyes.com
		\;
		$Tag->query({sql=>$sql,hashref=>'result',table=>'transactions'});
		$c=0;
		foreach $row (@{$Tmp->{result}})
		{		
		
			undef $ambcode;
			$sql2 = "SELECT code FROM ambassador_referral WHERE order_number = '$row->{code}' AND status <> 'deleted' LIMIT 1";
			# Log($sql2);
			$Tag->query({sql=>$sql2,hashref=>'amb',table=>'ambassador_referral'});
			$ambcode = @{$Tmp->{amb}}->[0]->{code};
			my $flagged = lc($row->{'c_status'});
			if ($r->{coupon_code} =~ m!^AMB!){
				$flagged = 'good';
				$row->{c_status} = 'Ambassador Referral';
			} elsif ($row->{referer} && grep { $row->{referer} =~ /$_/ } @good_refs){
				$flagged = 'good';
				$row->{c_status} = 'Affiliate Referral';
			}
			if($row->{exchange_order_ref}){
				$flagged = 'exchange';
			}
			if($c % 2)
			{
				$r .= "<tr class=\"rownorm $flagged\">";
			}
			else
			{
				$r .= "<tr class=\"rowalt $flagged\">";
			}
			if(!$row->{lab})
			{
				$row->{lab} = 0;
			}
			$r .= '<td><a href="'.$Tag->area({href=>'admin/order_view',form=>'order='.$row->{code}.''}).'">'.$row->{code}.'</a>';
			if($row->{xsell_order})
			{
				$r .= ' <img src="/store/images/xsellicon.gif" alt="Xsell for #'.$row->{xsell_reforder}.'" align="absmiddle"  />';
			}
			if($row->{xsell_xsellorder})
			{
				$r .= ' <img src="/store/images/xsellicon2.gif" alt="Xsell on #'.$row->{xsell_xsellorder}.'" align="absmiddle"  />';
			}
			if($ambcode && $Scratch->{is_super}){
				$r .= ' <a href="'.$Tag->area({href => 'admin/ambassador/order_view_ambassador', form=>'ambassador=1&order='.$row->{code}}).'"><img src="/store/images/apicon.gif" alt="Ambassador Program" align="absmiddle" border=0 /></a>';
			}			
			if($row->{coupon_code} eq 'GE407' || $row->{coupon_code} eq 'DMGE10')
			{
				$r .= ' <img src="/store/images/geicon.gif" alt="Used Coupon '.$row->{coupon_code}.'" align="absmiddle"  />';
			}
			
			$r .= '</td>';

			if(($row->{ab} eq 'a') && ($row->{b_fname}))
			{
				$r .= '<td><a href="'.$Tag->area({href=>'admin/customer_view',form=>'customer='.$row->{username}.''}).'">'.$row->{b_fname}.' '.$row->{b_lname}.'</a>';
			}
			else
			{
				$r .= '<td><a href="'.$Tag->area({href=>'admin/customer_view',form=>'customer='.$row->{username}.''}).'">'.$row->{fname}.' '.$row->{lname}.'</a>';
			}

			if ($row->{username} && (my $numOrders = $Tag->repeat_customer($row->{username},$row->{email})))
			{
				$r .= '&nbsp;&nbsp;&nbsp;<span style="font-size:10px;color:red">(Repeat Customer '.$numOrders.' orders)</span>';
			}

			$r .= '</td>';
			
			
				$r .= '<td>'.$row->{c_status},'</td>';			
		
			if(($row->{ab} eq 'a') && ($row->{b_fname}))
			{
				$r .= '<td>'.$row->{b_city}.', '.$row->{b_state}.', '.$row->{b_country}.'</td>';
			}
			else
			{
				$r .= '<td>'.$row->{city}.', '.$row->{state}.', '.$row->{country}.'</td>';
			}			
			$r .= '<td>'.$Tag->convert_date({fmt=>'%m/%d/%y %I:%M%p',body=>$row->{order_date}}).'</td>';			$r .= '<td>'.$row->{nitems}.'</td>';
			$r .= '<td>'.$Tag->currency({body=>$row->{total_cost}}).'</td>';
			if(!$Scratch->{in_labnumber})
			{
				$r .= '<td>'.$row->{lab}.'</td>';
				$r .= '<td>'.$row->{ip}.'</td>';
			}
			$r .= '<td><a href="'.$Tag->area({href=>'admin/order_status',form=>'order='.$row->{code}.''}).'">'.$row->{status}.'</a></td>';
			
			# get payment_method field
			local $_ = $row->{payment_method};
			$payment_method = $row->{payment_method};
			$payment_method = 'cc' if /SurePay|Paymentech|Linkpoint3/i;
			$payment_method = 'cc (test)' if /testpayment/;
			$payment_method = 'cash' if /Cash/i;
			$payment_method = 'will call' if /will call/i;
			$payment_method = 'check' if /check/i;
			$payment_method = 'NO CHARGE' if /NO CHARGE/i;			
			
			if(!$Scratch->{in_labnumber})
			{
				$r .= '<td>'.$payment_method.'</td>';
			}
			
			$r .= "<td>$row->{hostname}</td>";
			$r .= '<td>'.$row->{c_comments},'</td>';			
			$r .= '</tr>';
			$c++;
		}
		
		if($c==0)
		{
			$r .= '
			<tr>
				<td colspan="9">
				No Orders
				</td>
			</tr>';	
		}
		
		
		#build the pagination
		my $number_pages = $Scratch->{total_orders} / $Scratch->{sql_limit};
		$number_pages = int($number_pages) + 1;
		my $page_range = 18;
		my $page_start = $Scratch->{currentpage} - $page_range;
		my $page_end = $Scratch->{currentpage} + $page_range;
		
		if($page_start < 1)
		{
			$page_start = 1;
		}
		if($page_end > $number_pages)
		{
			$page_end = $number_pages;
		}
		
		$page_query = '';
		foreach $key (keys %$CGI)
		{
			$page_query .= '&'.$key.'='.$CGI->{$key} if($key ne 'mv_session_id' && $key ne 'mv_nextpage' && $key ne 'page');
		}		
		
		$r .= '
			<tr>
				<td colspan="9">
				<a href="/admin/order_search_results.html">&laquo; First</a>
				';	
				for($p=$page_start;$p<=$page_end;$p++)
				{
					if($Scratch->{currentpage} == $p)
					{
						$r .= '[ <b>'.$p.'</b> ] ';	
					}
					else
					{
						$r .= '<a href="/admin/order_search_results.html?page='.$p.''.$page_query.'">'.$p.'</a> ';
					}								
				}	
		
		$r .= '
				<a href="/admin/order_search_results.html?page='.$number_pages.''.$page_query.'">Last &raquo;</a>
				</td>
			</tr>
			';	
				
		return $r;		
		
		[/perl]		
		[if value mv_username eq 'kkennedy']
		<tr><td><a href="[area admin/review_pending_flags]">Review Pending Customer Flags</a></td></tr>
		[/if]
		<tr>
			<td colspan=13><div id="legend">
				<p class="legendHeader">Row Color Legend:</p>
				<ul>
					<li><div class="legendBox good"></div><span>Good</span></li>
					<li><div class="legendBox warning"></div><span>Warning</span></li>
					<li><div class="legendBox banned"></div><span>Banned</span></li>
					<li><div class="legendBox exchange"></div><span>Exchange</span></li>
				</ul>
			</div></td>
		</tr>
</table>






@_UI_STD_FOOTER_@
