[set page_title][L]Order manager[/L]: [L]View order[/L][/set]
[set ui_class]Orders[/set]
[set page_banner][L]View order[/L][/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]
[set meta_header]
	<style type="text/css">
		#amb-reject,#amb_reverse{ display: none }
		#amb-reviewing{ float: right }
		#reject-reasons ul{ list-style: none }

		span.pd-error{ display: none; color: red; font-weight: bold }

		pre {
		 white-space: pre-wrap;       /* css-3 */
		 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
		 white-space: -pre-wrap;      /* Opera 4-6 */
		 white-space: -o-pre-wrap;    /* Opera 7 */
		 word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
		a.modalCloseImg {background:url(/store/images/new_site/close_img.png) no-repeat; width:36px; height:36px; display:inline; z-index:3200; position:absolute; top:-25px; right:-16px; cursor:pointer;}
		.frameenlargements_mainbox , .prevorder_presmainbox , .readprescription_mainbox , .quickinfo_mainbox , .mypd_mainbox , .typeoflenses_mainbox { width:959px; background:#fff; padding:10px; float:left; }
		.mypd_cont , .typeoflenses_cont  { float:left; width:917px; border:1px solid #dbdbdb; padding:20px; font-size:14px; }
		.mypd_cont  h2 , .typeoflenses_cont h2 { color:#054b69; font-family: 'open_sans_semiboldregular'; padding:0 0 5px; } 
		.mypd_cleft { float:left; width:480px; padding:0 20px 0 0; }
		.mypd_cleft ol { margin:0; padding:5px 0 0 20px; width:410px; }
		.mypd_cltext { padding:15px 0 0; color:#919191; font-size:12px; font-style:italic; }
 
		img.btn_close { width: 25px; height: 25px; float: right; margin: -40px -35px 0 0; }
		#handle {
				height: 20px; width: 100%; position: absolute; top: -15px; left: 0; cursor: move;
				background: #054965;
		}
		.popup_block{
			display: none; /*--hidden by default--*/
			background: #fff;
			padding: 20px;
			float: left;
			font-size: 1.2em;
			z-index: 10003 !important;
		}
		.popupTemplate{
			display: none;
		}
		div.warning { color: orange}
		div.good{ color: green }
		div.banned { color :#c30000; }
		#modal_overlay {
        width: 100%;
        height: 100%;
        zoom: 1;
        z-index: 9998;
        position: fixed;
        top: 0;
        left: 0;
        background: gray;
        display: none;
        opacity: .6;
        -moz-opacity: .6;
        filter: alpha(opacity=60);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
        zoom: 1;
        }
		#fade{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: white;
			z-index:10002;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		#exchangeForm input[type=checkbox] { display: none }
		a.flagLink{
			margin-left: 50px;	
		}
		/* The following works for Chrome and other sane browsers*/
		div[class^='edit-']{ display: none }
		div.edit-nosepos, div.edit-pd, div.edit-orderline-comments, div.edit-prescription, div.edit-transaction-comments, div.edit-shipping_method, div.edit-seg_height{ display: none }
		div.edit-orderline-comments,div.edit-transaction-comments{ width: 500px }
		div.prescription-div{ width: 1026px }

		.hide{ display: none }

		.error{ font-weight: bold; color: red }

	</style>
	<script type="text/javascript" src="/javascript/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="/javascript/order_view.js"></script>
	<script type="text/javascript" src="/lib/javascript/common.js"></script>
	<script type="text/javascript">
	$(function(){
		$('#exchangeItems').click(function(e){
			e.preventDefault();
			//remove any previously entered fields
			$('#exchangeForm input[name^=exchange]').remove();
			var items = 'You are about to exchange the following items:\n\n',count = 0;
			$('input[name^=exchange]').each(function(i,v){
				if($(this).attr('checked')){
					++count;
					var id = $(this).attr('name').replace(/^exchange/,'');
					items += 'Item number '+id+' with sku of '+$(this).attr('data-sku')+'\n';
					$(this).clone().appendTo('#exchangeForm div');
				}
			});
			if(count == 0){
				alert('You must select an item to exchange.')
				return false;
			} else {
				var r = confirm(items);
				if(!r){
					return false;
				} else {
					$('#exchangeForm').submit();
				}
			} 
		})
	})
	</script>
[/set]
@_UI_STD_HEAD_@
[calc]
	delete $Scratch->{ui_bounce};
	if ($CGI->{order}) {
		if($CGI->{deliver_encrypted}) {
			my $dir = q{__ORDER_DIRECTORY__} || 'orders';
			my $ord = $Tag->filter('filesafe', $CGI->{order});
			$Tag->deliver({
							file => "orders/$ord",
							get_encrypted => 1,
							type => 'application/pgp-encrypted',
						});
		}
		return;
	}
	$CGI->{order} = $CGI->{mv_arg}
		or $Scratch->{ui_bounce} = '__UI_BASE__/order';
	return;
[/calc]
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]

[if scratch ui_message]
<BLOCKQUOTE>
	[scratch ui_message]
	[set ui_message][/set]
</BLOCKQUOTE>
<p>
&nbsp;
[/if]


[if-mm functions lab1][tmp lab1]1[/tmp][/if-mm]
[if-mm functions lab2][tmp lab2]1[/tmp][/if-mm]
[if-mm functions lab3][tmp lab3]1[/tmp][/if-mm]
[if-mm functions lab4][tmp lab4]1[/tmp][/if-mm]
[if-mm functions labfh][tmp labfh]1[/tmp][/if-mm]
[if-mm functions labh][tmp labh]1[/tmp][/if-mm]
[if-mm functions labn][tmp labn]1[/tmp][/if-mm]

[perl]
	$Scratch->{showlab} = $Scratch->{lab1} +
					$Scratch->{lab2} +
					$Scratch->{lab3} +
					$Scratch->{lab4} +
					$Scratch->{labfh} +
					$Scratch->{labh} +
					$Scratch->{labn};
	if ($Scratch->{showlab} < 2){
		delete $Scratch->{showlab};
	}
	delete $Scratch->{labselect};
	unless ($Scratch->{showlab}){
		$Scratch->{labselect} = "sf=lab\nse=h\nop=eq" if ($Scratch->{labh});
		$Scratch->{labselect} = "sf=lab\nse=fh\nop=eq" if ($Scratch->{labfh});
		$Scratch->{labselect} = "sf=lab\nse=4\nop=eq" if ($Scratch->{lab4});
		$Scratch->{labselect} = "sf=lab\nse=3\nop=eq" if ($Scratch->{lab3});
		$Scratch->{labselect} = "sf=lab\nse=2\nop=eq" if ($Scratch->{lab2});
		$Scratch->{labselect} = "sf=lab\nse=1\nop=eq" if ($Scratch->{lab1});
	}
	return undef;
[/perl]

[if cgi status]
	[comment]Cancel order[/comment]
	[perl no_return=1 tables="products history transactions userdb" failure="<h3 style='color: red'>Error cancelling order, please contact the web group</h3>"]
		#If we're cancelling the order then blank out the lab assignment
		my $reset_lab = $CGI->{status} eq 'canceled' ? q|, lab = ''| : '';

		######################################
		## Set the order status (and lab if ##
		## we're cancelling the order)		  ##
		######################################
		$Tag->query({ sql => 'UPDATE transactions SET status = ' . $Tag->filter('dbi_quote', $CGI->{status}) .  $reset_lab . ' WHERE order_number = ' . $CGI->{order}, table => 'transactions' });

		######################################
		## Add a note referencing the 		  ##
		## status change										##
		######################################
		my $sql = "INSERT INTO history (historydate,username,orderid,historytype,historylog) VALUES (";

		if( $CGI->{'remove-double-linefeeds'} ){
			$CGI->{comment} =~ s/\n\s+\n/\n/g;
		}

		my @values = (
			$Tag->convert_date({fmt => '%Y%m%d%H%M'}),
			$Session->{username},
			$CGI->{order},
			'status-change',
			"Status changed to $CGI->{status}"
		);

		$sql .= join(',', map{ $Tag->filter('dbi_quote',$_) }@values ) . ")";

		$Tag->query({ sql => $sql, table => 'history' });

		######################################
		## Roll back any smartfit points,   ##
		## or re-add them if un-cancelling  ##
		######################################
		#If we're cancelling an order then we're deducting rewards points (subtracting a positive)
		#otherwise we're re-adding them
		my $multiplier = $CGI->{status} eq 'canceled' ? 1 : -1;
		my $order = $Tag->query({ sql => 'SELECT username, subtotal FROM transactions WHERE order_number = ' . $CGI->{order}, table => 'transactions' })->[0];
		my ($username,$order_total) = ( $order->[0], $order->[1] );
		my $reward_points = ( $order_total * .04 ) * $multiplier;

		$Tag->query({ sql => 'UPDATE userdb SET reward_points = GREATEST( 0, ROUND( reward_points - ' . $reward_points . ', 2 ) ) WHERE username = "' . $username . '"', table => 'userdb' });

		####################################################################
		## Clear any emails out of the current hold emails table if we're ##
		## assigning the order																						##
		####################################################################
		if( $lab eq 'R' ){
			$Tag->query({ sql => 'DELETE FROM current_hold_emails WHERE order_number = ' . $CGI->{order}, table=>'current_hold_emails' });
		}
	[/perl]
[/if]


[if cgi updatelab]
	[perl tables="transactions products history current_hold_emails" failure="<h1 style='color: red'>Error assigning lab</h1>" no_return=1]
		my $lab;

		foreach( grep /^lab-/, keys %$CGI ){
			/^lab-(.+)/;
			$lab = $1;
		}

		if( $lab ){
			$Tag->query({
				sql => "UPDATE transactions SET lab = '$lab', lab_assigned = NOW() WHERE code = '$CGI->{order}'",
				table => 'transactions'
			});

			######################################
			## Add a note referencing the 		  ##
			## status change										##
			######################################
			my $sql = "INSERT INTO history (historydate,username,orderid,historytype,historylog) VALUES (";
			my @values = (
				$Tag->convert_date({fmt => '%Y%m%d%H%M'}),
				$Session->{username},
				$CGI->{order},
				'lab-change',
				"Order assigned to lab '$lab'"
			);

			$sql .= join(',', map{ $Tag->filter('dbi_quote',$_) }@values ) . ")";

			$Tag->query({ sql => $sql, table => 'history' });

			#Clear any emails out of the current hold emails table if we're assigning the order
			if( $lab eq 'R' ){
				$Tag->query({ sql => 'DELETE FROM current_hold_emails WHERE order_number = ' . $CGI->{order}, table=>'current_hold_emails' });
			}
		}
	[/perl]
[/if]

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi process_refund][paymentech_refund][/if]

[update values]
[perl tables=country]### pre-open database for calcs below
[/perl]

[query
	list=1
	prefix=loop
	sql=|
SELECT t.*, at.reward_points AS ambassador_points, at.status AS ambassador_status
FROM transactions t
LEFT JOIN ambassador_transaction at
    ON at.order_number = t.order_number
WHERE t.order_number IN ([calc]
	join(',', map { "'$_'" } split("\0",$CGI->{order}));
	[/calc])
ORDER BY t.order_number
	|
]

[perl interpolate=1]
	my $lab = '[loop-param lab]';
	#Log("This order's lab: $lab");
	if ($Scratch->{'lab'.$lab} || $lab eq 'H' || !$lab || $lab eq 'FH' || $lab eq '4')
	{
		#Log("Access Granted");
		$Scratch->{no_access} = undef;
	}
	else
	{
		#Log("No Access");
		$Scratch->{no_access} = 1;
	}
	return;
[/perl]

[comment]
	Lab based authorization, no longer in use.
	[if scratch no_access]
		[set ui_error]
			[L]Not authorized for this order.[/L]
		[/set]
		[bounce page="__UI_BASE__/error"]
	[/if]
[/comment]

<table __UI_T_PROPERTIES__>
<tr>
<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
</tr>

<tr>
	<td colspan=6 align=left class=rnorm>
		<b>[L]Order number[/L]: [loop-code] &nbsp;[if-mm functions order_notes](<a href="[area href=admin/view_history form="orderid=[loop-code]"]" target="_blank">notes</a>/<a href="#" id="notes-quickview">quickview</a>)&nbsp;[/if-mm] [L]Order date[/L]: [convert-date][loop-param order_date][/convert-date]</b>
		<a href="[area href="admin/create-rma" form="order_number=[loop-code]"]" style="float: right">Create RMA</a>
	</td>
</tr>

<tr>
	<td colspan=6>
		<div style="padding: 10px;">
			[if-loop-param exchange_order_ref]
				[tmp oor][loop-code][/tmp]
				[perl table="orderline"]
				sub fetchall_hashref {
				    #its called a hash ref interchange, use it
				    my ($sth, @columns) = @_;
				    my $res;
				    while (my $row = $sth->fetchrow_arrayref){
				        my $count = 0;
				        my $ref;
				        for (@$row){
				            $ref->{$columns[$count++]} = $_;
				        }
				        push @$res, $ref;
				    }
				    return $res;
				}

				my $dbh = $Sql{orderline};
				return unless $dbh;
				my $sth = $dbh->prepare(q\
					SELECT 
						original_order_number,new_order_number,create_time,comments
					FROM 
						exchange_log
					WHERE
						original_order_number = ?
					OR
						new_order_number = ?
					ORDER BY 
						create_time DESC
				\);
				$sth->execute($Scratch->{oor},$Scratch->{oor});
				my $results = fetchall_hashref($sth,qw\original_order_number new_order_number create_time comments\);
				$sth->finish;
				for (@$results){
					$_->{comments} ||= 'No comments provided.';
				}
				$Scratch->{exchange_array} = $results;
				return;
				[/perl]
				<hr />
				[loop prefix="e" object.mv_results=`$Scratch->{exchange_array} || []`]
					<p>
						This order is involved with an exchange (Ref: <span style="font-weight: bold;">[e-param original_order_number]</span>). 
						Order number <span style="font-weight: bold;">[e-param new_order_number]</span> has been exchanged on <span style="font-weight: bold;">[e-param create_time]</span> for the 
						following reason: <br /><br /> 
						<span style="font-weight: bold;">&quot;[e-param comments]&quot;</span>
					</p>
					<hr />
				[/loop]
				[calcn hide=1]
				delete $Scratch->{$_} for qw\show_hr e_count exchange_array\;
				[/calcn]
			[/if-loop-param]
		</div>
	</td>
</tr>
<tr>
<td colspan=6 align=left class=rnorm>
<b>[L]Customer[/L]:
[if-loop-param username]
<div style="display: inline-block;" class="customer">
	<a href="[area href=__UI_BASE__/customer_view arg="[loop-param username]"]">
		<u>[loop-param fname] [loop-param lname]</u>
	</a>
	<a class="popover-link flagLink" rel="flagCustomer" data-popTop="200px" href="[area admin/flag_customer]">Flag Customer</a>
</div>
[tmp lp_email][loop-param email][/tmp]
[tmp lp_username][loop-param username][/tmp]
[perl table="products"]
my $e = $Tag->filter('dbi_quote',$Scratch->{lp_email});
my $u = $Tag->filter('dbi_quote',$Scratch->{lp_username});
my $cf = $Tag->query({
		sql => "select * from customer_flags where (username = $u or email = $e) and email <> '' and pending <> 1",
		table => 'products',
		hashref => 'sure'
});
if (ref$cf && @$cf){
	$Tag->tmpn('c_status',$cf->[0]->{status});	
	$Tag->tmpn('c_comments',$cf->[0]->{comments});	
}
return;
[/perl]
[if scratch c_status]
<div class="[filter op=lc interpolate=1][scratch c_status][/filter]" style="text-align: center; padding: 15px;">
	This customer has been marked with a status of [scratch c_status] for the following reason: [scratch c_comments]
</div>
[/if]
[else]
		[loop-param fname] [loop-param lname]
[/else]
[/if-loop-param]
		</b>
	[if type=explicit compare=|[repeat_customer username="[loop-param username]"]|]
		&nbsp;&nbsp;<span style="font-size:10px;color:red">(Repeat Customer)</span>
	[/if]
</td>
</tr>

<!-- ----- Affiliate Check ----- -->
[if-loop-param affiliate]
<tr>
<td colspan=6 align=left class=rnorm>
<b>[L]Affiliate[/L]: [data table=affiliate column=name key="[loop-param affiliate]"]</b>
</td>
</tr>
[/if-loop-param]

<tr>
<td colspan=2 valign=top>

<!-- ----- Customer information ----- -->

<table>
[if-loop-param site_language eq 'es_ES']
<tr><td align=left colspan="2">
<img src="lentes_orderlogo.gif" alt="Lentes Order">
</td></tr>
[/if-loop-param]

<tr><td align=right>
<font size=2><b> [L]Company[/L]: </b></font>
</td><td><font size=2>[loop-param company]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Home phone[/L]: </b></font>
</td><td><font size=2>[loop-param phone_night]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Work phone[/L]: </b></font>
</td><td><font size=2>[loop-param phone_day]</font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Email[/L]: </b></font>
</td><td><font size=2> <a href="mailto:[loop-param email]"><U>[loop-param email]</U></a></font></td></tr>

<tr><td align=right>
<font size=2><b> [L]Payment type[/L]: </b></font>
</td><td><font size=2>[loop-param payment_method]</a></font></tr>

[if-loop-param order_id]
<tr><td align=right>
<font size=2><b> [L]Payment ID[/L]: </b></font>
</td><td><font size=2>[loop-param order_id]</font></tr>
[/if-loop-param]

[if-loop-param shipping_error]
<tr><td align=right>
<font size=2><b> [L]Shipping error[/L]: </b></font>
</td><td><font size=2><b>[loop-param shipping_error]</b></font></tr>
[/if-loop-param]

<tr>
	<td align=right>
	<font size=2><b> [L]Lab[/L]: </b></font>
	</td>

	[if scratch showlab]
		<td[if-loop-param pdf_date] bgcolor="#ffddee"[/if-loop-param]>

		<style>
		form {
		margin:0;
		padding:0;
		}
		</style>

		<div class="popupTemplate original">
			<div class="mypd_main" style="width: auto; display:block;">
				<a class="modalCloseImg" style="display: none" title="Close"></a>
				<div id="handle"></div>
				<div class="mypd_mainbox" style="width: auto; display:block;" >
					<div class="mypd_cont" style="width: auto;"></div>
				</div>
			</div>
		</div>
		
		<form action="[area admin/order_view]" method="POST">
			<input type="hidden" name="order" value="[cgi order]" />
			<input type="hidden" name="updatelab" value="1" />
			<span style="font-size: 12px">
				[if-loop-param lab =~ /3|1/]Assigned to[else]Current status[/else][/if-loop-param]:
				<span style="font-weight: bold; text-decoration: underline">[loop-param lab]</span></span>
				[if-loop-param lab eq 'H']
					[loop-calc]
						#Open the table
						$Tag->perl({ table => 'current_hold_emails' });
						my $dbh = $Sql{current_hold_emails};
						my $row = $dbh->selectrow_arrayref('SELECT 1 FROM current_hold_emails WHERE order_number = ?', {}, $Row->{order_number});
						my $output = '';

						#Add a hold e-mail button, if no e-mail is present then display, otherwise hide it
						$output .= q|<input type="button" id="save-hold-email" data-width="600" value="Add a hold e-mail" rel="hold-email" class="popover-link| . ($row->[0] ? ' hide':'') . '" />';
						#Delete hold e-mail button, hide if no e-mail exists
						$output .= q|<input type="button" id="delete-hold-email" data-width="600" value="Delete current hold e-mail"| . (!$row->[0] ? ' class="hide"' : '') . ' />';

						return $output;
					[/loop-calc]
				[/if-loop-param]
			<br />
			<input type="submit" name="lab-R" id="lab-R" value="Assign to RONvision" />
			<input type="submit" name="lab-H" id="lab-h" value="Place on hold" />
			<br />
			<input type="submit" name="lab-FH" id="lab-fh" value="Place on FH" />
		</form>
		</td>
	[else]
		<td>
			<font size=2>[loop-param lab]</font>
		</td>
	[/else]
	[/if]

</tr>

<tr>
	<td colspan=2>&nbsp;</td>
</tr>

<tr>
	<td align=right>&nbsp;</td>
	<td>[page href="__UI_BASE__/flex_editor"
			  form="
			  mv_data_table=transactions
				item_id=[loop-code]
				ui_return_to=__UI_BASE__/order_search_results
				mv_auto_export=0
			"][L]Edit order[/L]</a>
			<br />
			<a href="[area href="insurance_order" form="order_number=[loop-code]"]" target="_blank">[L]Insurance Receipt[/L]</a>
	</td>
</tr>

[if type=file term="[either]__ORDER_DIRECTORY__[or]orders[/either]/[loop-code]"]
<tr>
	<td align=right>&nbsp;</td>
	<td>[page href="process/[loop-code].txt.pgp"
			  add_dot_html=0
			  form="
			  	deliver_encrypted=1
				mv_todo=return
				mv_nextpage=@@MV_PAGE@@
				order=[loop-code]
			"][L]Decrypt Credit Card[/L]</a>
	</td>
</tr>
[/if]

<!-- ----- MBI Check ----- -->
[if-loop-param mbiorder]
<tr>
<td align=right>&nbsp;</td>
<td align=left class=rnorm>
<b><font color="red">MBI ORDER</font></b>
</td>
</tr>
[/if-loop-param]

[query st=db sql="select * from orderline where order_number = '[loop-param order_number]' AND xsell_item = 1" list=1]
	[on-match]
	<tr>
	<td>
	</td>
	<td><img src="/store/images/icon_xsellorder.gif" alt="Xsell Order" /></td>
	</tr>
	[/on-match]
[/query]

</table>

[if-loop-param xsell_order]
<font face="arial" color="red"><b>NOTE: </b>This is an <b>XSELL</b> order for <a style="color:red;font-size:16px;" href="[area href=|admin/order_view| form=|order=[loop-param xsell_reforder]|]">#[loop-param xsell_reforder]</a></font>
[/if-loop-param]

[if-loop-param xsell_xsellorder]
<font face="arial" color="red"><b>NOTE: </b>This order has an <b>XSELL</b> order on <a style="color:red;font-size:16px;" href="[area href=|admin/order_view| form=|order=[loop-param xsell_xsellorder]|]">#[loop-param xsell_xsellorder]</a></font>
[/if-loop-param]

</td><td valign=top colspan=4>
[set bill_address]
[loop-param b_fname] [loop-param b_lname]<br>
[loop-param b_address1]<br>
[if-loop-param b_address2]
[loop-param b_address2]<br>
[/if-loop-param]
[loop-param b_city], [loop-param b_state] [loop-param b_zip]<br>
[loop-calc]
	my $c = q{[loop-param b_country]};
	return if '__SHIP_DEFAULT_COUNTRY__' eq $c;
	my $name = tag_data('country', 'name', $c);
	return qq{$name ($c)<br>};
[/loop-calc]
[/set]

[set ship_address]
[loop-param fname] [loop-param lname]<br>
[loop-param address1]<br>
[if-loop-param address2]
[loop-param address2]<br>
[/if-loop-param]
[loop-param city], [loop-param state] [loop-param zip]<br>
[loop-calc]
	my $c = q{[loop-param country]};
	return if '__SHIP_DEFAULT_COUNTRY__' eq $c;
	my $name = tag_data('country', 'name', $c);
	return qq{$name ($c)<br>};
[/loop-calc]
[/set]

<font size=2>
<p>
[if-loop-param username]
<A HREF="[area
				href=__UI_BASE__/flex_editor
				form=|
					ui_return_to=__UI_BASE__/order_view
					ui_return_to=order=[cgi order]
					ui_hide_key=1
					ui_data_fields=username b_company b_fname b_lname b_address1 b_address2 b_city b_state b_zip b_country b_email b_phone_day b_phone_night
					page_title=Customer: [loop-param fname] [loop-param lname]
					item_id=[loop-param username]
					mv_data_table=userdb
				|
		]"><b><u>[L]Bill To[/L]</u>:</b></A>
[else]
		<b>[L]Bill To[/L]:</b>
[/else]
[/if-loop-param]
<blockquote>
[if-loop-param b_address1]
[scratch bill_address]
[else]
[scratch ship_address]
[/else]
[/if-loop-param]
</blockquote>

<b>
[if-loop-param username]
<A HREF="[area
				href=__UI_BASE__/flex_editor
				form=|
					ui_return_to=__UI_BASE__/order_view
					ui_return_to=mv_arg=[cgi order]
					ui_hide_key=1
					ui_data_fields=username company fname lname address1 address2 city state zip country email phone_day phone_night
					page_title=Customer: [loop-param fname] [loop-param lname]
					item_id=[loop-param username]
					mv_data_table=userdb
				|
		]"><b><u>[L]Ship To[/L]</u>:</b></A>
[else]
		<b>[L]Ship To[/L]:</b>
[/else]
[/if-loop-param]
<br>
<blockquote>
[scratch ship_address]
</blockquote>
</b>
[comment]
    Display relevent information about ambassador transactions
[/comment]
[if-loop-param ambassador_status]
    [set amb_reverse]
			[ambassador function="reverse_points" order_number="[cgi order]"]
			[history-log orderid="[cgi order]" historytype="ambassador"]Ambassador EyeBucks points REVERSED[/history-log]
    [/set]
		[set amb_apply]
    	[ambassador function="update_status" order_number="[cgi order]" status="applied"]
    	[history-log orderid="[cgi order]" historytype="ambassador"]Ambassador EyeBucks points manually applied[/history-log]
		[/set]
    [set amb_reject]
    	[ambassador function="update_status" order_number="[cgi order]" status="rejected"]
    	[history-log orderid="[cgi order]" historytype="ambassador"]Ambassador transaction manually rejected, reason: [cgi reject-reason][/history-log]
		[/set]
    [set amb_pending]
    	[ambassador function="update_status" order_number="[cgi order]" status="pending"]
    	[history-log orderid="[cgi order]" historytype="ambassador"]Ambassador transaction manually set to pending[/history-log]
		[/set]
    [set amb_reviewing]
    	[ambassador function="update_status" order_number="[cgi order]" status="reviewing"]
    	[history-log orderid="[cgi order]" historytype="ambassador"]Ambassador status changed to reviewing, reason:
[cgi review-reason][/history-log]
		[/set]
    [set amb_update][ambassador function="update_points" order_number="[cgi order]" reward_points="[cgi amb_points]"][/set]
    <p><u>[L]Ambassador Program[/L]:</u></p>
    <p>
			<blockquote>
				<form method="post" action="[area href="admin/order_view"]">
					<input type="hidden" name="mv_action" value="process" />
					<input type="hidden" name="mv_todo" value="refresh" />
					<input type="hidden" name="order" value="[cgi order]" />
					<input type="hidden" name="review-reason" id="review-reason" />

					<b>[L]Status[/L]:</b> [filter interpolate=1 op="uc"][loop-param ambassador_status][/filter]
					<br />
					<b>[L]EyeBucks Rewards Points[/L]:</b>
						[if-loop-param ambassador_status ne 'applied']
							<input style="width: 40px" type="text" name="amb_points" value="[loop-param ambassador_points]" />
							<button name="mv_click" value="amb_update">Update</button>
						[else]
							[loop-param ambassador_points]
						[/else][/if-loop-param]
					<br />
					[if-loop-param ambassador_status ne 'applied']
					<a href="#" class="popover-link" rel="reject-reasons">Reject</a>
					<button name="mv_click" value="amb_reject" id="amb-reject">Reject</button>
					<button name="mv_click" value="amb_apply">Apply</button>
					<button name="mv_click" value="amb_pending">Pend</button>
					<button name="mv_click" value="amb_reviewing" id="amb-reviewing">Under review</button>
					[else]
						[perl table="history" no-return=1]
							my $dbh = $Sql{'history'};
							my $sth = $dbh->prepare('SELECT 1 FROM history WHERE orderid = ? AND historytype = "ambassador" AND historylog LIKE "%REVERSED"');
							$sth->execute( $CGI->{'order'} );
							my $result = $sth->fetchrow_arrayref();
							$Tag->tmpn('amb-reversed', $result && @$result ? 1 : 0 );
						[/perl]
						[if !scratchd amb-reversed]
							<a href="#" rel="reject-reasons" class="popover-link">Reverse SF points</a>
							<button name="mv_click" value="amb_reverse" id="amb_reverse">Reverse SF Points</button>
						[/if]
					[/else]
					[/if-loop-param]
					<div id="reject-reasons" class="popup_block">
						<h3>Select reason for rejection:</h3>
						<ul>
							<li><label for="reject-cancel"><input type="radio" name="reject-reason" id="reject-cancel" value="cancelled" />Cancelled</label></li>
							<li><label for="reject-refund"><input type="radio" name="reject-reason" id="reject-refund" value="refund" />Refund</label></li>
							<li><label for="reject-ineligible"><input type="radio" name="reject-reason" id="reject-ineligible" value="ineligible" />Ineligible</label></li>
						</ul>
						<input type="button" id="select-reject-reason" value="Reject" />
					</div>
					<br style="clear: both" />
				</form>
			</blockquote>
    </p>
[/if-loop-param]

</font>

<P>
<B>[L]Status[/L]: [page href=__UI_BASE__/order_status form="order=[loop-code]"][loop-data transactions status]</A> </B>

[if-loop-param shipment_number]

<br />

    <font size=2>
	<a href="[loop-calc]
	    $Scratch->{label_type} = q{[loop-param shipmode]};
	    $Scratch->{label_type} =~ s/^DHL(\d).*$/$1/;

	    my $dhl_uri = $Variable->{AIRBORNE_LOOKUP_URI};
	    $dhl_uri =~ s/{SHIP_NO}/[loop-param shipment_number]/;
	    return $dhl_uri;
	[/loop-calc]" target="_blank">[loop-param shipment_number]</a>
	&nbsp;(<a href="[area href='admin/label_view' form=|
	    name=[loop-param label_filename]
	    type=[scratchd label_type]
	|]" target="_blank">[L]View label[/L]</a>)
    </font>

[/if-loop-param]

[if-loop-param tracking_number]

	[if type=explicit compare="
	[loop-calc]
		my $sm = q{[loop-param shipmode]};
		if ($sm =~ /^UPSR/ || $sm =~ /^UPSB/)
		{
			return 1;
		}
		else
		{
			return 0;
		}
	[/loop-calc]"]

	<img src="/store/images/ups_logo.jpg" alt="Shipped via UPS" align="absmiddle" />
	<br />
	<font size=2>
		<form name="uspstrack" action="http://wwwapps.ups.com/WebTracking/processInputRequest" method="get" target="_blank">
			<input type="hidden" name="HTMLVersion" value="5.0">
  			<input type="hidden" name="loc" value="en_US">
			<input type="hidden" name="Requester" value="UPSHome">
			<input type="text" size="25" readonly="yes" name="tracknum" style="font-size:9px;background:#fff;border:1px solid #EBF4FC;" value="[loop-param tracking_number]">
			<a href="#" onclick="document.uspstrack.submit(); return false;">Track & Confirm</a>
		</form>
	</font>


	[else]


	<img src="/store/images/usps_logo.jpg" alt="Shipped via USPS" align="absmiddle" />
	<br />
	<font size=2>
		<form action="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do" name="uspstrack" method="POST" target="_black">
			<input type="text" size="25" readonly="yes" name="strOrigTrackNum" style="font-size:9px;background:#fff;border:1px solid #EBF4FC;" value="[loop-param tracking_number]" />
			<a href="#" onclick="document.uspstrack.submit(); return false;">Track & Confirm</a>
		</form>
	</font>

	[/else][/if]

[/if-loop-param]

[set bill_address][/set]
[set ship_address][/set]

</b>
</td></tr>
<tr>
	<td colspan=8>
		<strong>IP:</strong> [loop-param ip]
	</td>
</tr>
<tr>
	<td colspan=8>
		<div style="width: 800px; overflow: auto">
			<strong>Referer:</strong> [loop-param referer]
		</div>
	</td>
</tr>
<!-- ----- Order information ----- -->

[if cgi edititem]
<tr>
	<td colspan="8">
	[if scratch savecomments]
		[scratchd savecomments]
	[else]
		<span style="color:red;"><b>No Changes Made</b></span>
	[/else]
	[/if]
	</td>
</tr>
[/if]

<tr>
<td colspan="7">

	[include include/admin/tracking_codes]
	[include include/admin/tracking_order_view]

</td>
</tr>

<tr>
<td width=50 align=center class=rborder>
<font size=2>
<b>[L]Status[/L]</b></font></td>

<td width=230 align=left class=rborder>
<font size=2>
<b>[L]Name[/L]</b></font></td>

<td width=100 align=left class=rborder>
<font size=2>
<b>[L]SKU[/L]</b></font></td>

<td width=50 align=right class=rborder>
<font size=2>
<b>[L]Qty.[/L]</b></font></td>

<td width=70 align=right class=rborder>
<font size=2>
<b>[L]Each[/L]</b></font></td>

<td width=70 align=right class=rborder>
<font size=2>
<b>[L]Discount[/L]</b></font></td>

<td width=80 align=right class=rborder>
<font size=2>
<b>[L]Total[/L]</b></font></td>
</tr>
[query st=db sql="select * from orderline where order_number = '[loop-param order_number]'" list=1]
<tr>
	<td width=50 align=center valign="top" class=rnorm>
	<font size=2>
	[calc]
		$total_weight += ([field field=weight key="[sql-param sku]"] + 0 || 0) * [sql-data orderline quantity];
		return;
	[/calc]
	<B>[sql-filter loc upper][sql-data orderline status][/sql-filter]</B>
	<BR>&nbsp;
	<BR>&nbsp;
	[tmp eir][sql-data orderline exchange_item_ref][/tmp]
	<button style="font-size:16px;" type="button" onclick="window.location='[calc]my $orderlineCode = '[sql-param code]'; my $lineItem; $orderlineCode =~ /-(\d+)/ and $lineItem = $1; $Tag->area({ href=>'admin/entry', form=>"repeat_order=[loop-param order_number]\nlineItem=$lineItem\nfirstTime=1\npull_customer=1" });[/calc]'">Re-order<br />this item</button>[if scratch eir]<br /><span style="color: #c30000;">This item has already been exchanged. Ref No: [scratch eir]</span>[else]<br /><span>Exchange Item</span><br /><input type="checkbox" data-sku="[sql-data orderline sku]" name="exchange[sql-data orderline code]" value="" />[/else][/if]
	</font></td>

<td class=rnorm>
<font size=2>
[seti the_sku][sql-data orderline sku][/seti]
[if scratch the_sku =~ /^LENS/]<b>** Use Your Own Frames **</b><br />[if-sql-data orderline lens_describe]<b>Frame Description:</b> [sql-data orderline lens_describe]<br /><b>Lens Package:</b> [/if-sql-data][/if]
[either][sql-data orderline description][or][data table=__ProductFiles_0__ col=description key="[sql-data orderline sku]"][/either]
[if scratch the_sku !~ /^LENS/]
	<a href="[area href="admin/order_edititem" form="order=[cgi order]&itemline=[sql-data orderline code]"]" style="color:orange;"><b>Edit this item</b></a><br />
[/if]
[if-sql-data orderline size]
<BR>
[L]Size[/L]: [sql-data orderline size]
[/if-sql-data]
[if-sql-data orderline color]
<BR>
[L]Color[/L]: [sql-data orderline color]
[/if-sql-data]

[if-sql-data orderline clip]
<BR>
Sunglass Clips ([sql-data orderline clip] pairs [comment]... [currency][calc][sql-data orderline clip] * 24.95[/calc][/currency][/comment])
[/if-sql-data]

[if-sql-data orderline zdesc]
<BR>
<strong>Lens Desc ... [sql-data orderline zdesc]</strong>
[/if-sql-data]

[if-sql-data orderline options]
<BR>
<BR>
<b>Options:</b>

<div class="smText">
<ul>
[beautify-options html=1][sql-data orderline options][/beautify-options]
[if-sql-data orderline lens_prescription]<li><b>Prescription:</b> [sql-data orderline lens_prescription]</li>[/if-sql-data]
[if-sql-data orderline lens_prescription]<li><b>Frame Description:</b> [sql-data orderline lens_describe]</li>[/if-sql-data]
</ul>
</div>
[/if-sql-data]

<table width="95%" cellpadding="4" cellspacing="0" border="1">
	<tr>
		<td colspan="2" align="left">[L]<b>OTHER INFORMATION</b>[/L]:</td>
	</tr>
	<tr>
		<td align="left" valign="top"><b>O.D.</b></td>
		<td align="left" valign="top">
			<span class="value-prescription">[sql-data orderline pres_od]</span> <a href="#" onclick="return false" class="edit-link-prescription">(Edit)</a>
			<div class="edit-prescription">
				<form name="prescription-form-od-[sql-data orderline code]" class="prescription-form">
					SPH: <select id="odsph-[sql-data orderline code]" name="odsph-[sql-data orderline code]" data-default="[sql-data orderline sph_od]">
					[loop prefix=odsp list="[var SPH_RANGE_LARGE]" option="mv_order_odsph"]
						<option value="[odsp-code]" [if term="[odsp-code]" op="eq" compare="[sql-data orderline sph_od]"]selected[/if]>[odsp-code]</option>
					[/loop]
					</select>
					CYL: <select id="odcyl-[sql-data orderline code]" name="odcyl-[sql-data orderline code]" data-default="[sql-data orderline cyl_od]">
						<option></option>
					[loop prefix=odcy list="[var CYL_RANGE_LARGE]" option="mv_order_odcyl"]
						<option value="[odcy-code]" [if term="[odcy-code]" op="eq" compare="[sql-data orderline cyl_od]"]selected[/if]>[odcy-code]</option>
					[/loop]
					</select>
					AXI: <select name="odaxi-[sql-data orderline code]" id="odaxi-[sql-data orderline code]" data-default="[sql-data orderline axi_od]">
						<option></option>
					[loop prefix=odax list="[var AXI_RANGE]" option="mv_order_odaxi"]
						<option value="[odax-code]" [if term="[odax-code]" op='eq' compare="[sql-data orderline axi_od]"]selected[/if]>[odax-code]</option>
					[/loop]
					</select>
					ADD: <select name="odadd-[sql-data orderline code]" id="odadd-[sql-data orderline code]" data-default="[sql-data orderline add_od]">
						<option></option>
					[loop prefix=odad list=" [var ADD_RANGE] +3.75 +4.00" option="mv_order_odadd"]
						<option value="[odad-code]" [if term="[odad-code]" op=eq compare="[sql-data orderline add_od]"]selected[/if]>[odad-code]</option>
					[/loop]
					</select>
					PRISM (V):<select id="prism_od-vertical-amount-[sql-data orderline code]" name="prism_od-vertical-amount-[sql-data orderline code]">
						[calc]
							my $output = "<option></option>\n";
							my $min = 0.25;
							my $max = 9.00;
							my $current = '[sql-data orderline prism_od]';
							$current =~ s/.*(\d\.\d\d)(BU|BD).*/$1/;
							$Tag->tmp('prism_od-vertical-direction',$2 || '');

							for( my $counter = $min; $counter <= $max; $counter+=.25 ){
								$output .= "<option " . ($current == $counter ? 'selected' : '') . ">" . sprintf('%.02f',$counter) . "</option>\n";
							}

							return $output;
						[/calc]
					</select>
					<select id="prism_od-vertical-direction-[sql-data orderline code]" name="prism_od-vertical-direction-[sql-data orderline code]" data-default="[scratch prism_od-vertical-direction]">
						<option></option>
						<option value="BU" [if scratch prism_od-vertical-direction eq 'BU']selected[/if]>Base Up</option>
						<option value="BD" [if scratch prism_od-vertical-direction eq 'BD']selected[/if]>Base Down</option>
					</select>
					PRISM (H): <select id="prism_od-horizontal-amount-[sql-data orderline code]" name="prism_od-horizontal-amount-[sql-data orderline code]">
						[calc]
							my $output = "<option></option>\n";
							my $min = 0.25;
							my $max = 9.00;
							my $prism = '[sql-data orderline prism_od]';
							my ($value,$direction);

							if( $prism =~ /.*(\d\.\d\d)(BI|BO).*/ ){
								$value = $1;
								$direction = $2;
							}

							$Tag->tmp('prism_od-horizontal-direction',$direction);

							for( my $counter = $min; $counter <= $max; $counter+=.25 ){
								$output .= "<option " . ($value == $counter ? 'selected' : '') . ">" . sprintf('%.02f',$counter) . "</option>\n";
							}

							return $output;
						[/calc]
					</select>
					<select id="prism_od-horizontal-direction-[sql-data orderline code]" name="prism_od-horizontal-direction-[sql-data orderline code]" data-default="[scratch prism_od-horizontal-direction]">
						<option></option>
						<option value="BI" [if scratch prism_od-horizontal-direction eq 'BI']selected[/if]>Base In</option>
						<option value="BO" [if scratch prism_od-horizontal-direction eq 'BO']selected[/if]>Base Out</option>
					</select>
					<a href="#" onclick="return false" class="cancel-edit-prescription">Cancel</a> <input type="submit" value="Update" />
					<input type="hidden" name="eye" value="od" />
				</form>
			</div><!-- end div.prescription-div -->
		</td>
	</tr>
	<tr>
		<td align="left" valign="top"><b>O.S.</b></td>
		<td align="left" valign="top">
			<span class="value-prescription">[sql-data orderline pres_os]</span> <a href="#" onclick="return false" class="edit-link-prescription">(Edit)</a>
			<div class="edit-prescription">
				<form name="prescription-form-os-[sql-data orderline code]" class="prescription-form">
					SPH: <select id="ossph-[sql-data orderline code]" name="ossph-[sql-data orderline code]" data-default="[sql-data orderline sph_os]">
					[loop prefix=ossp list="[var SPH_RANGE_LARGE]" option="mv_order_ossph"]
						<option value="[ossp-code]" [if term="[ossp-code]" op="eq" compare="[sql-data orderline sph_os]"]selected[/if]>[ossp-code]</option>
					[/loop]
					</select>
					CYL: <select id="oscyl-[sql-data orderline code]" name="oscyl-[sql-data orderline code]" data-default="[sql-data orderline cyl_os]">
						<option></option>
					[loop prefix=oscy list="[var CYL_RANGE_LARGE]" option="mv_order_oscyl"]
						<option value="[oscy-code]" [if term="[oscy-code]" op="eq" compare="[sql-data orderline cyl_os]"]selected[/if]>[oscy-code]</option>
					[/loop]
					</select>
					AXI: <select name="osaxi-[sql-data orderline code]" id="osaxi-[sql-data orderline code]" data-default="[sql-data orderline axi_os]">
						<option></option>
					[loop prefix=osax list="[var AXI_RANGE]" option="mv_order_osaxi"]
						<option value="[osax-code]" [if term="[osax-code]" op='eq' compare="[sql-data orderline axi_os]"]selected[/if]>[osax-code]</option>
					[/loop]
					</select>
					ADD: <select name="osadd-[sql-data orderline code]" id="osadd-[sql-data orderline code]" data-default="[sql-data orderline add_os]">
						<option></option>
					[loop prefix=osad list=" [var ADD_RANGE] +3.75 +4.00" option="mv_order_osadd"]
						<option value="[osad-code]" [if term="[osad-code]" op=eq compare="[sql-data orderline add_os]"]selected[/if]>[osad-code]</option>
					[/loop]
					</select>
					PRISM (V):<select id="prism_os-vertical-amount-[sql-data orderline code]" name="prism_os-vertical-amount-[sql-data orderline code]">
						[calc]
							my $output = "<option></option>\n";
							my $min = 0.25;
							my $max = 9.00;
							my $current = '[sql-data orderline prism_os]';
							$current =~ s/.*(\d\.\d\d)(BU|BD).*/$1/;
							$Tag->tmp('prism_os-vertical-direction',$2 || '');

							for( my $counter = $min; $counter <= $max; $counter+=.25 ){
								$output .= "<option " . ($current == $counter ? 'selected' : '') . ">" . sprintf('%.02f',$counter) . "</option>\n";
							}

							return $output;
						[/calc]
					</select>
					<select id="prism_os-vertical-direction-[sql-data orderline code]" name="prism_os-vertical-direction-[sql-data orderline code]" data-default="[scratch prism_os-vertical-direction]">
						<option></option>
						<option value="BU" [if scratch prism_os-vertical-direction eq 'BU']selected[/if]>Base Up</option>
						<option value="BD" [if scratch prism_os-vertical-direction eq 'BD']selected[/if]>Base Down</option>
					</select>
					PRISM (H): <select id="prism_os-horizontal-amount-[sql-data orderline code]" name="prism_os-horizontal-amount-[sql-data orderline code]">
						[calc]
							my $output = "<option></option>\n";
							my $min = 0.25;
							my $max = 9.00;
							my $prism = '[sql-data orderline prism_os]';
							my ($value,$direction);

							if( $prism =~ /.*(\d\.\d\d)(BI|BO).*/ ){
								$value = $1;
								$direction = $2;
							}

							$Tag->tmp('prism_os-horizontal-direction',$direction);

							for( my $counter = $min; $counter <= $max; $counter+=.25 ){
								$output .= "<option " . ($value == $counter ? 'selected' : '') . ">" . sprintf('%.02f',$counter) . "</option>\n";
							}

							return $output;
						[/calc]
					</select>
					<select id="prism_os-horizontal-direction-[sql-data orderline code]" name="prism_os-horizontal-direction-[sql-data orderline code]" data-default="[scratch prism_os-horizontal-direction]">
						<option></option>
						<option value="BI" [if scratch prism_os-horizontal-direction eq 'BI']selected[/if]>Base In</option>
						<option value="BO" [if scratch prism_os-horizontal-direction eq 'BO']selected[/if]>Base Out</option>
					</select>
					<a href="#" onclick="return false" class="cancel-edit-prescription">Cancel</a> <input type="submit" value="Update" />
					<input type="hidden" name="eye" value="os" />
				</form>
			</div><!-- end div.prescription-div -->
		</td>
	</tr>
	<tr>
		<td align="left" valign="top"><b>PD:</b></td>
		<td align="left" valign="top">
			<span id="pd-[sql-data orderline code]" class="value-pd">[sql-data orderline pupd]</span> <a href="#" class="edit-link-pd" onclick="return false">(Edit)</a>
			<div class="edit-pd">
				<form name="pd-form-[sql-data orderline code]" class="pd-form">
					<table>
						<tr>
							<td>
								<select name="odpd-[sql-data orderline code]" id="odpd-[sql-data orderline code]">
									[tmp pd-range][calc]
										my $output = '<option></option>';
										my $min = 20;
										my $max = 88;

										for( my $pd = $min; $pd <= $max; $pd+=.5 ){
											$output .= "<option>$pd</option>\n";
										}
										return $output;
									[/calc][/tmp]
									[scratch pd-range]
								</select>&nbsp;/&nbsp;
							</td>
							<td>
								<select name="ospd-[sql-data orderline code]" id="odpd-[sql-data orderline code]">
									[scratch pd-range]
								</select>
							</td>
						</tr>
						<tr style="font-size: 10px">
							<td align="center">OD/<br />Distance</td>
							<td align="center">OS/<br />Near</td>
						</tr>
					</table>
					<a href="#" onclick="return false" class="cancel-edit-pd">Cancel</a>&nbsp;&nbsp;<input type="submit" value="Update PD" />
				</form>
			</div>
			<span class="pd-error">Be sure to include in order notes if this is OD/OS (monocular) PD or Distance / Near (binocular) PD so the lab knows.</span>
		</td>
	</tr>
	[tmp o_lenstype][sql-data orderline lenstype][/tmp]
	[if type=explicit compare=`$Scratch->{o_lenstype} =~ /^(BIF|PROG)/`]
	<tr>
		<th align="left" valign="middle">Seg height:</th>
		<td>
			<span class="value-seg_height">[sql-data orderline seg_height]</span> <a href="#" class="edit-link-seg_height" onclick="return false">(Edit)</a>
			<div class="edit-seg_height">
				<form name="seg_height-form-[sql-data orderline code]" class="seg_height-form">
					<select name="seg_height-[sql-data orderline code]" id="seg_height-[sql-data orderline code]" data-default="[sql-data orderline seg_height]">
						[tmp current_lenstype][sql-data orderline lenstype][/tmp]
						[calcn]
							my $output = '';
							my $lenstype = delete $Scratch->{'current_lenstype'};
							#Set the lower limit of the seg_height to 16 for prog/proge and 8 for bif
							my $lower = $lenstype =~ /^PROG/ ? 14 : 8;
							for( my $i = $lower; $i <= 40; $i += .5 ){
								$output .= '<option>'. sprintf('%.1f',$i) . "</option>\n";
							}
							return $output;
						[/calcn]
					</select>
					<a href="#" onclick="return false" class="cancel-seg_height">Cancel</a>&nbsp;&nbsp;<input type="submit" value="Update Seg Height" />
				</form>
			</div>
		</td>
	</tr>
	[/if]
[if-sql-data orderline pupd_od]
<tr>
<td align="left" valign="top">
<b>PD O.D.</b></td>
<td align="left" valign="top">
 [sql-data orderline pupd_od]
</td>
</tr>
[/if-sql-data]
[if-sql-data orderline pupd_os]
<tr>
<td align="left" valign="top">
<b>PD O.S.</b></td>
<td align="left" valign="top">
 [sql-data orderline pupd_os]
</td>
</tr>
[/if-sql-data]
[if-sql-data orderline nosepos]
<tr>
	<td colspan="2" align="left" valign="top">
		<div style="float: left; height: 26px">
			<b>Nose position:&nbsp;</b>
		</div>
		<div style="float: left">
			<span class="value-nosepos">[sql-data orderline nosepos]</span> <a href="#" onclick="return false" class="edit-link-nosepos">(Edit)</a>
			<div class="edit-nosepos">
				<form class="nosepos-form">
					<select name="nosepos-[sql-data orderline code]" data-default="[sql-data orderline nosepos]">
						<option></option>
						[tmp nosepos][sql-data orderline nosepos][/tmp]
						<option [if scratch nosepos eq 'higher']selected[/if]>higher</option>
						<option [if scratch nosepos eq 'top']selected[/if]>top</option>
						<option [if scratch nosepos eq 'lower']selected[/if]>lower</option>
					</select>
					<a href="#" onclick="return false" class="cancel-edit-nosepos">Cancel</a> <input type="submit" value="Update" />
				</form>
			</div>
		</div>
	</td>
</tr>
[/if-sql-data]
</table>
<br>
<br>
<b>[L]COMMENTS[/L]:</b> <a href="#" class="edit-link-orderline-comments" onclick="return false">(Edit)</a>
<br />
<span class="value-orderline-comments">[filter encode_entities][sql-data orderline comments][/filter]</span>
<div class="edit-orderline-comments">
	<form class="orderline-comments-form">
		<textarea name="orderline-comments-[sql-data orderline code]" rows="8" cols="60" data-default="[filter encode_entities][sql-data orderline comments][/filter]">[filter encode_entities][sql-data orderline comments][/filter]</textarea>
		<br />
		<div style="float: right">
			<a href="#" onclick="return false" class="cancel-edit-orderline-comments">Cancel</a> <input type="submit" value="Update" />
		</div>
	</form>
</div>

<br><br>

</td>

<td width=100 align=left class=rnorm>
<font size=2>
[sql-data orderline sku]
</font></td>

<td width=50 align=right class=rnorm>
<font size=2>
[sql-data orderline quantity]
</font></td>

<td width=70 align=right class=rnorm>
<font size=2>
[currency][sql-data orderline price][/currency]
</font></td>

<td width=70 align=right class=rnorm>
<font size=2>
&nbsp;[sql-data orderline discount]
</font></td>

<td width=80 align=right class=rborder>
<font size=2>
[currency][sql-data orderline subtotal][/currency]

</font></td>
</tr>
[/query]

<!-- ----- Product total ----- -->

<tr>
<td colspan="2" rowspan="7" valign="top">
	<a id="exchangeItems" href="#">Exchange Selected Items</a>
	<form id="exchangeForm" action="[area href='admin/entry' secure='1']" method="POST">
		<div class="formFields">
			<input type="hidden" name="ex_order" value="[cgi order]" />
			<input type="hidden" name="process_exchange" value="1" />
			<input type="hidden" name="firstTime" value="1" />
		</div>
	</form>
    <br>
    <b>[L]TRANSACTION COMMENTS[/L]:</b> <a href="#" class="edit-link-transaction-comments" onclick="return false">(Edit)</a>
<br />
<span class="value-transaction-comments">[loop-param comments]</span>
<div class="edit-transaction-comments">
	<form class="transaction-comments-form">
		<input type="hidden" name="order_number" value="[loop-param order_number]" />
		<textarea name="transactions-comments" rows="8" cols="60" data-default="[filter encode_entities][loop-param comments][/filter]">[filter encode_entities][loop-param comments][/filter]</textarea>
		<br />
		<div style="float: right">
			<a href="#" onclick="return false" class="cancel-edit-transactions-comments">Cancel</a> <input type="submit" value="Update" />
		</div>
	</form>
</div>

[if-loop-param refund_date]
	<br /><br />
	<b style="color:red">Refund of [currency][loop-param refund_amount][/currency] issued on [convert-date][loop-param refund_date][/convert-date] by [loop-param refund_username].</b>
	[if-loop-param refund_reason]
		<br />
		Reason: [loop-param refund_reason]
	[/if-loop-param]
[/if-loop-param]

</td>
<td colspan=4 align=right>
<font size=2>[L]Product Total[/L]:</font>
</td>
<td align=right class=rborder>
<font size=2>[currency][loop-param subtotal][/currency]</font>
</td>
</tr>
[if-loop-param coupon_code]
	<tr>
		<td colspan=4 align="right" style="font-size: 13px">Coupon:</td>
		<td class="rborder" align="right" style="font-size: 13px; width: 150px">
			[loop-param coupon_code]<br />[perl table="coupon_codes products" failure="huh?"]
				my $code = $Tag->filter('dbi_quote','[loop-param coupon_code]');

				my ($discount, $discountType, $couponType) = @{$Tag->query({ sql => "SELECT coup_amt, coup_type, type FROM coupon_codes WHERE code = $code", table => 'coupon_codes' })->[0]};

				if( $discountType eq 'pct' ){
					$discount .= '%';
				}elsif( $discountType eq 'amt' ){
					$discount = "\$$discount";
				}elsif( $discountType eq 'greater' ){
					$discount = "\$$discount or $discount\%";
				}else{
					$discount = "Unknown discount type";
				}

				if( $couponType eq 'entire_order' ){
					$discount .= " off order total";
				}elsif( $couponType eq 'shipping' ){
					$discount .= " off shipping";
				}elsif( $couponType eq 'all_items' ){
					$discount .= " off each item";
				}elsif( $couponType eq 'item' ){
					$discount .= " off one item";
				}elsif( $couponType eq 'highest_item' ){
					$discount .= " off most expensive item";
				}else{
					$discount .= " off unknown?";
				}

				return "($discount)";
			[/perl]
		</td>
	</tr>
[/if-loop-param]
<!-- ----- Tax total ----- -->
[if explicit][condition][loop-param salestax] > 0[/condition]
<tr>
	<td colspan=4 align=right>
		<font size=2>[L]Tax[/L]:</font>
	</td>
	<td align=right class=rborder>
		<font size=2>[currency][loop-param salestax][/currency]</font>
	</td>
</tr>
[/if]
<!-- ----- Shipping total ----- -->

<tr>
<td colspan="4" align="right" style="font-size: 13px">
Shipping: <span class="value-shipping_method">[loop-param shipmode]</span> <a href="#" class="edit-link-shipping_method">(Edit)</a>
<div class="edit-shipping_method">
	<form id="form-shipping_method">
		<input type="hidden" name="order_number" value="[loop-param order_number]" />
		<select id="shipping_method" name="shipping_method" data-default="[loop-param shipmode]">[shipping
								label=1
								mode=|[data table=country key='[loop-param b_country]' col=shipmodes]|
								format=|<option%S value="%M">%D: %F</option>|
								]
		</select>
		<input type="submit" value="Update" />&nbsp;<a href="#" class="cancel-edit-shipping_method">Cancel</a>
	</form>
</div>
</td>
<td align=right class=rborder>
<font size=2>
[currency][loop-param shipping][/currency]</font>
</td>
</tr>

<!-- ----- Handling total (if any) ----- -->

[if-loop-param handling != 0]

<tr>
<td colspan=4 align=right>
<font size=2>[L]EyeBucks Rewards Points redeemed[/L]:</font>
</td>
<td align=right class=rborder>
<font size=2>
[calc][loop-param handling] * -1[/calc]</font>
</td>
</tr>

[/if-loop-param]
<!-- ----- Grand total ----- -->

<tr>
<td colspan=4 align=right>
<font size=3><b>[L]Grand total[/L]:</b></font>
</td>
<td align=right class=rborder>
<font size=3><b>[currency][loop-param total_cost][/currency]<br></b></font>
</td>
</tr>
</table>
<SMALL>
<form action="[area __UI_BASE__/order]" method=post>
<input type=hidden name=mv_session_id value="[data session id]">
<input type=hidden name=mv_action value=back>
<input type=hidden name=order value="[loop-param order_number]">
<input type=hidden name=archive value=false>
<input type=hidden name=viewnext value=1>
[set [L]Return[/L]]
viewnext=
vieworder=
[/set]
<input type=submit name=mv_click value="[L]Return[/L]">

[button
    text="View PDF Receipt"
    [if-loop-param pdf_date]
        confirm="This order has already been printed to PDF.\nAre you sure you want to do it again?"
	[/if-loop-param]
]
    mv_nextpage=__UI_BASE__/view_form
[/button]

<input type=submit name="vieworder" value="[L]View next order[/L]">

[if-loop-param archived]
<input type=submit name="unarchiveorder" value="[L]Un-archive order and view next[/L]">
[else]
<input type=submit name="archiveorder" value="[L]Archive order and view next[/L]">
[/else]
[/if-loop-param]

[comment]
[if-mm advanced order=d]
<input type=submit name="deleteorder" value="[L]Delete order and view next[/L]"
 onClick="return confirm('[L]Are you sure you want to delete this order?[/L]')">
[/if-mm]
[/comment]

[if-loop-param txrefnum]
	[if-loop-param !refund_date]
		[if-loop-param payment_method ne "Check or Money Order (will call)"] 
				[button text="Issue Refund"]
					mv_nextpage=__UI_BASE__/issue_refund
				[/button]
		[/if-loop-param] 
	[/if-loop-param]
[/if-loop-param]

</form>

[if-loop-param status eq 'canceled']
<form action="[area __UI_BASE__/order_view]" method="post">
	<input type="hidden" name="order" value="[cgi order]">
	<input type="hidden" name="status" value="pending">
	<input type="submit" value="Un-Cancel Order" />
</form>
[else]
<form action="[area __UI_BASE__/order_view]" method="post">
	<input type="hidden" name="order" value="[cgi order]">
	<input type="hidden" name="status" value="canceled">
	<input type="submit" value="Cancel Order" id="cancel-order" />
</form>
[/else]
[/if-loop-param]
</SMALL>
<div id="hold-email" class="popup_block">
	<form>
		<span class="error">Please note that you may only enter this once each time the order is on hold.</span>
		<br />
		<table>
			<tr>
				<td>Subject:</td>
				<td><input type="text" name="hold-subject" id="hold-subject" /></td>
			</tr>
			<tr>
				<td valign=top>E-mail body:</td>
				<td valign=top>
					<textarea rows=5 cols=50 name="hold-body" id="hold-body"></textarea>
				</td>
			</tr>
		</table>
		<input type="hidden" name="hold-order_number" id="hold-order_number" value='[cgi order]' />
		<input type="hidden" name="hold-to" id="hold-to" value="[loop-param email]" />
		<br />
		<input type="button" onclick="holdSubmit(); return false;" name="hold-submit" id="hold-submit" value="Add e-mail" />
	</form>
</div>
<div id="flagCustomer" class="popup_block">
	<form method="POST" action="[area admin/flag_customer]" id="flagForm">
			<input type="hidden" name="username" value="[loop-param username]" />
			<input type="hidden" name="email" value="[loop-param email]" />
			<input type="hidden" name="csr" value="[value mv_username]" />
			<input name="submitted" type="hidden" value="1" />
			<p>Flag Group</p>
			<select name="flag_group">
				<option value="">Please Select...</option>
				<option>Good</option>
				<option>Warning</option>
				<option>Banned</option>
			</select>
			<p>Comments</p>
			<textarea name="comments"></textarea>
			<input type="button" id="flagSubmit" onclick="flagSubmission(); return false;" value="Flag Customer" />
  </form>
</div>
[/query]

<!-- ----- END REAL STUFF ----- -->
<div id="notes" style="display: none; position: absolute; z-index: 10000; max-width: 600px; border: 3px solid black; background: white"></div>

@_UI_STD_FOOTER_@
