[set ui_class]Reports[/set]

@_UI_STD_HEAD_@

[if variable DEMO_SITE][benchmark start=1][/if]

[comment] Get/set lens package [/comment]
[tmp lenstype][/tmp]
[calc]
	# Default to pkg A
	$Scratch->{lenstype} = $CGI->{lenstype};
	return undef;
[/calc]

[comment] Get Pkg name [/comment]
[query sql="SELECT o_label FROM options_price WHERE o_value='[scratch lenstype]'" type=list]
[list]
	[tmp lensname][sql-param o_label][/tmp]
[/list]
[/query]
[if !scratch lenstype]
	[tmp lensname]All Lenses[/tmp]
[/if]

[comment] Get Frame Name [/comment]
[query sql="SELECT description FROM products where sku like '[cgi frame]\_%' LIMIT 1" type=list]
[list]
	[tmp framename][sql-param description][/tmp]
[/list]
[/query]
[if !cgi frame]
	[tmp framename]All Frames[/tmp]
[/if]


<form action="package-reports">
<input type="hidden" name="runreport" value="1" />

<strong>Date Ranges:</strong><br>
<strong>From:</strong>&nbsp;&nbsp;

<select name="from_month">
[tmp cmp][either][cgi from_month][or]01[/either][/tmp]
[loop list="01..12" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select> /

<select name="from_day">
[tmp cmp][either][cgi from_day][or]01[/either][/tmp]
[loop list="01..31" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select> /

[tmp fy][convert_date fmt="%Y"][/convert-date][/tmp]
[tmp cmp][either][cgi from_year][or]2006[/either][/tmp]
<select name="from_year">
[loop list="2005..[scratch fy]" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select>

&nbsp;&nbsp;<strong>to</strong>&nbsp;&nbsp;

[tmp tm][convert_date fmt="%m"][/convert-date][/tmp]
[tmp cmp][either][cgi to_month][or][scratch tm][/either][/tmp]
<select name="to_month">
[loop list="01..12" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select> /

[tmp td][convert_date fmt="%d"][/convert-date][/tmp]
[tmp cmp][either][cgi to_day][or][scratch td][/either][/tmp]
<select name="to_day">
[loop list="01..31" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select> /

[tmp ty][convert_date fmt="%Y"][/convert-date][/tmp]
[tmp cmp][either][cgi to_year][or][scratch ty][/either][/tmp]
<select name="to_year">
[loop list="2005..[scratch ty]" ranges=1]
<option value="[loop-code]" [if type=explicit compare="[loop-code] eq [scratch cmp]"]selected[/if]>[loop-code]</option>
[/loop]
</select>

<p>

<strong>Generate report by package:</strong><br>
<select name="lenstype">
<option value="0" [if !cgi lenstype]selected="selected"[/if]>-All Packages-</option>
[query sql="SELECT DISTINCT o_value,o_label FROM options_price WHERE o_value LIKE '%OPT%' OR o_value LIKE '%SUN%' OR o_value LIKE '%POLS%' OR o_value LIKE '%TRAN%'" type=list]
[list]
	<option value="[sql-param o_value]" [if type=explicit compare="$CGI->{lenstype} eq '[sql-param o_value]'"]selected[/if]>[sql-param o_label]</option>
[/list]
[/query]
</select><br>
<select name="frame">
<option value="0" [if type="explicit" compare="!$CGI->{frame}"]selected="selected"[/if]>-All Frames-</option>
[query sql="SELECT description, sku FROM products WHERE inactive=0 OR inactive IS NULL group by description order by description" type=list]
[list]
	[tmp sku][calc]my $tmp = '[sql-param sku]'; $tmp =~ m/(.*)_/; return $1;[/calc][/tmp]
	[if scratch sku]
		<option value="[scratch sku]" [if type=explicit compare="$CGI->{frame} eq '[scratch sku]'"]selected[/if]>[sql-param description]</option>
	[/if]
[/list]
[/query]
</select>
 <input type=submit value="Generate Report"> 
<p>
<b>Other reports:</b><br>
<input type="submit" name="bif" value="Bifocals">
<input type="submit" name="prog" value="Progressives">
<input type="submit" name="bifprog" value="All Bifocals & Progressives">
<input type="submit" name="uyof" value="Generate UYOF report" disabled="disabled">
</form>


[if cgi runreport]


[if cgi uyof]
	[tmp querystr]lenstype LIKE 'LENS_%'[/tmp]
	[tmp lensname]UYOF[/tmp]
[elsif cgi bif]
	[tmp querystr]lenstype LIKE '%BIF%'[/tmp]
	[tmp lensname]Bifocals[/tmp]
[/elsif]
[elsif cgi prog]
	[tmp querystr]lenstype LIKE '%PROG%'[/tmp]
	[tmp lensname]Progressives[/tmp]
[/elsif]
[elsif cgi bifprog]
	[tmp querystr]((lenstype LIKE '%BIF%') OR (lenstype LIKE '%PROG%'))[/tmp]
	[tmp lensname]All Bifocals & Progressives[/tmp]
[/elsif]
[else]
	[if scratch lenstype]
		[tmp querystr]lenstype='[scratch lenstype]'[/tmp]
	[else]
		[tmp querystr]1=1[/tmp]
	[/else]
	[/if]
[/else]
[/if]



[if cgi frame]
	[calc]
		$Scratch->{querystr} .= " AND sku LIKE '[cgi frame]_%'";
		return undef;
	[/calc]
[/if]

[comment]
[if cgi lenstype]
	[tmp frange][cgi from_year][cgi from_month][cgi from_day][/tmp]
	[tmp trange][cgi to_year][cgi to_month][cgi to_day][/tmp]
[else]
	[tmp frange][cgi from_year][cgi from_month][cgi from_day][/tmp]
	[tmp trange][convert-date fmt="%Y%m%d"][/convert-date][/tmp]
[/else]
[/if]
[/comment]

[tmp frange][cgi from_year][cgi from_month][cgi from_day][/tmp]
[tmp trange][cgi to_year][cgi to_month][cgi to_day][/tmp]

[comment] Format for display [/comment]
[tmp f_frange][convert_date fmt="%m/%d/%Y"][scratch frange][/convert-date][/tmp]
[tmp f_trange][convert_date fmt="%m/%d/%Y"][scratch trange][/convert-date][/tmp]

[tmp totalclips]0[/tmp]
[tmp runclips]0[/tmp]
[tmp vx]0[/tmp]
[tmp ar]0[/tmp]

[tmp bigtotal]0[/tmp]

[tmp r1c1]0[/tmp]
[tmp r1c2]0[/tmp]
[tmp r1c3]0[/tmp]
[tmp r1c4]0[/tmp]
[tmp r1c5]0[/tmp]
[tmp r1c6]0[/tmp]
[tmp r1c7]0[/tmp]
[tmp r1c8]0[/tmp]
[tmp r1c9]0[/tmp]
[tmp r1c10]0[/tmp]
[tmp r1c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE ((cyl_od = '') OR (cyl_od = 'SPH') OR (cyl_od = 'D.S.'))
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]

[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE ((cyl_od = '') OR (cyl_od = 'SPH') OR (cyl_od = 'D.S.'))
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE ((cyl_od = '') OR (cyl_od = 'SPH') OR (cyl_od = 'D.S.'))
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value FROM orderline 
			WHERE ((cyl_od = '') OR (cyl_od = 'SPH') OR (cyl_od = 'D.S.'))
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r1c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r1c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r1c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r1c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r1c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r1c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r1c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r1c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r1c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r1c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r1c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r2c1]0[/tmp]
[tmp r2c2]0[/tmp]
[tmp r2c3]0[/tmp]
[tmp r2c4]0[/tmp]
[tmp r2c5]0[/tmp]
[tmp r2c6]0[/tmp]
[tmp r2c7]0[/tmp]
[tmp r2c8]0[/tmp]
[tmp r2c9]0[/tmp]
[tmp r2c10]0[/tmp]
[tmp r2c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= -2 AND cyl_od <= 2)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]

[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= -2 AND cyl_od <= 2)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= -2 AND cyl_od <= 2)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
			WHERE (cyl_od >= -2 AND cyl_od <= 2)
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r2c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r2c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r2c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r2c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r2c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r2c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r2c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r2c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r2c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r2c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r2c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]




[tmp r3c1]0[/tmp]
[tmp r3c2]0[/tmp]
[tmp r3c3]0[/tmp]
[tmp r3c4]0[/tmp]
[tmp r3c5]0[/tmp]
[tmp r3c6]0[/tmp]
[tmp r3c7]0[/tmp]
[tmp r3c8]0[/tmp]
[tmp r3c9]0[/tmp]
[tmp r3c10]0[/tmp]
[tmp r3c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= 2.25 AND cyl_od <= 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]


[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= 2.25 AND cyl_od <= 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od >= 2.25 AND cyl_od <= 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
			WHERE (cyl_od >= 2.25 AND cyl_od <= 4)
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r3c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r3c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r3c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r3c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r3c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r3c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r3c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r3c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r3c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r3c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r3c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r4c1]0[/tmp]
[tmp r4c2]0[/tmp]
[tmp r4c3]0[/tmp]
[tmp r4c4]0[/tmp]
[tmp r4c5]0[/tmp]
[tmp r4c6]0[/tmp]
[tmp r4c7]0[/tmp]
[tmp r4c8]0[/tmp]
[tmp r4c9]0[/tmp]
[tmp r4c10]0[/tmp]
[tmp r4c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od > 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]

[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od > 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od > 4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
			WHERE (cyl_od > 4) 
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r4c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r4c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r4c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r4c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r4c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r4c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r4c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r4c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r4c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r4c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r4c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r5c1]0[/tmp]
[tmp r5c2]0[/tmp]
[tmp r5c3]0[/tmp]
[tmp r5c4]0[/tmp]
[tmp r5c5]0[/tmp]
[tmp r5c6]0[/tmp]
[tmp r5c7]0[/tmp]
[tmp r5c8]0[/tmp]
[tmp r5c9]0[/tmp]
[tmp r5c10]0[/tmp]
[tmp r5c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od <= -2.25 && cyl_od >= -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]

[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od <= -2.25 && cyl_od >= -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od <= -2.25 && cyl_od >= -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
			WHERE (cyl_od <= -2.25 && cyl_od >= -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r5c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r5c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r5c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r5c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r5c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r5c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r5c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r5c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r5c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r5c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r5c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r6c1]0[/tmp]
[tmp r6c2]0[/tmp]
[tmp r6c3]0[/tmp]
[tmp r6c4]0[/tmp]
[tmp r6c5]0[/tmp]
[tmp r6c6]0[/tmp]
[tmp r6c7]0[/tmp]
[tmp r6c8]0[/tmp]
[tmp r6c9]0[/tmp]
[tmp r6c10]0[/tmp]
[tmp r6c11]0[/tmp]


[comment] New Perly Vx checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od < -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND varilux = 'yes'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'vx_ref', table => 'orderline' } );
		my $vxs = $Tmp->{vx_ref};

		foreach $vx (@$vxs){
			$Scratch->{vx} += $vx->{tot};
		}

	return undef;
[/perl]

[comment] New Perly clip checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od < -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND (clip > 0 AND clip IS NOT NULL)[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'clip_ref', table => 'orderline' } );
		my $clips = $Tmp->{clip_ref};

		foreach $clip (@$clips){
			$Scratch->{runclips} += $clip->{tot};
		}

	return undef;
[/perl]

[comment] The Original & Best (tm) Perly AR checks [/comment]
[tmp sql]SELECT COUNT(*) AS tot FROM orderline
			WHERE (cyl_od < -4)
			AND [scratch querystr]
			AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			AND ar_coating = 'COA1'[/tmp]
[perl tables="orderline"]
	my $sql = $Scratch->{sql};
	$Tag->query( {sql => $sql , hashref => 'ar_ref', table => 'orderline' } );
		my $ars = $Tmp->{ar_ref};

		foreach $ar (@$ars){
			$Scratch->{ar} += $ar->{tot};
		}

	return undef;
[/perl]

[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
			WHERE (cyl_od < -4)
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		## Positive checks
		if ($sval >= 6) {
			$Scratch->{r6c1} += $total;
		} elsif ($sval >= 4.25 && $sval < 6) {
			$Scratch->{r6c2} += $total;
		} elsif ($sval >= 3.25 && $sval <= 4) {
			$Scratch->{r6c3} += $total;
		} elsif ($sval >= 2 && $sval <= 3) {
			$Scratch->{r6c4} += $total;
		} elsif ($sval >= 0.25 && $sval <= 1.75) {
			$Scratch->{r6c5} += $total;
		} elsif ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r6c6} += $total;
		}
		
		## Now the negative checks
		## converting to positive to make it easier on my eyes!
		if ($sval < 0) {
			$sval *= -1;
			if ($sval >= 0.25 && $sval <= 2) {
				$Scratch->{r6c7} += $total;
			} elsif ($sval >= 2.25 && $sval <= 3.75) {
				$Scratch->{r6c8} += $total;
			} elsif ($sval >= 4 && $sval <= 6) {
				$Scratch->{r6c9} += $total;
			} elsif ($sval >= 6.25 && $sval <= 8) {
				$Scratch->{r6c10} += $total;
			} elsif ($sval >= 8.25) {
				$Scratch->{r6c11} += $total;
			} 
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r7c1]0[/tmp]


[query sql=|SELECT COUNT(*) AS total,sph_od AS sph_value FROM orderline 
			WHERE (cyl_od = '' )
			AND [scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY sph_od
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param sph_value]};

		$Scratch->{bigtotal}++;

		if ($sval == 0 || $sval == 'PLANO') {
			$Scratch->{r7c1} += $total;
		}
		return undef;
	[/sql-calc]
[/list]
[/query]



[tmp r8c1]0[/tmp]
[tmp r8c2]0[/tmp]
[tmp r8c3]0[/tmp]
[tmp r8c4]0[/tmp]
[tmp r8c5]0[/tmp]
[tmp r8c6]0[/tmp]
[tmp r8c7]0[/tmp]


	
[query sql=|SELECT COUNT(*) AS total,tint FROM orderline 
			WHERE
			[scratch querystr]
AND (order_date >= [scratch frange] AND order_date <= [scratch trange])
			GROUP BY tint
| type=list]
[list]
	[sql-calc]
		$total = q{[sql-param total]};
		$sval  = q{[sql-param tint]};

		## Run check for tint
		if ($sval eq 'BROWN') {
			$Scratch->{r8c1} += $total;
		} elsif ($sval eq 'GREY') {
			$Scratch->{r8c2} += $total;
		} elsif ($sval eq 'G-15') {
			$Scratch->{r8c3} += $total;
		} elsif ($sval eq 'BLUE') {
			$Scratch->{r8c4} += $total;
		} elsif ($sval eq 'ROSE') {
			$Scratch->{r8c5} += $total;
		} elsif ($sval eq 'ORANGE') {
			$Scratch->{r8c6} += $total;
		} elsif ($sval eq 'YELLOW') {
			$Scratch->{r8c7} += $total;
		}
		
		return undef;
	[/sql-calc]
[/list]
[/query]





[tmp arpc][/tmp]
[tmp clippc][/tmp]

[comment]
	Work out % of Vx, AR, clip upgrades, based on total orders
	This aint perfect but is a LOT less complex than working out which frames would have
	offered a Vx upgrade - many moons work to do for that!
[/comment]
[tmp bigtotal]0[/tmp]
[calc]
	$Scratch->{bigtotal} = $Scratch->{r1c1} + $Scratch->{r1c2} + $Scratch->{r1c3} + $Scratch->{r1c4} + $Scratch->{r1c5} + $Scratch->{r1c6} +        $Scratch->{r1c7} + $Scratch->{r1c8} + $Scratch->{r1c9} + $Scratch->{r1c10} + $Scratch->{r1c11} +        $Scratch->{r2c1} + $Scratch->{r2c2} + $Scratch->{r2c3} + $Scratch->{r2c4} + $Scratch->{r2c5} + $Scratch->{r2c6} +        $Scratch->{r2c7} + $Scratch->{r2c8} + $Scratch->{r2c9} + $Scratch->{r2c10} + $Scratch->{r2c11} +        $Scratch->{r3c1} + $Scratch->{r3c2} + $Scratch->{r3c3} + $Scratch->{r3c4} + $Scratch->{r3c5} + $Scratch->{r3c6} +        $Scratch->{r3c7} + $Scratch->{r3c8} + $Scratch->{r3c9} + $Scratch->{r3c10} + $Scratch->{r3c11} +        $Scratch->{r4c1} + $Scratch->{r4c2} + $Scratch->{r4c3} + $Scratch->{r4c4} + $Scratch->{r4c5} + $Scratch->{r4c6} +        $Scratch->{r4c7} + $Scratch->{r4c8} + $Scratch->{r4c9} + $Scratch->{r4c10} + $Scratch->{r4c11} +        $Scratch->{r5c1} + $Scratch->{r5c2} + $Scratch->{r5c3} + $Scratch->{r5c4} + $Scratch->{r5c5} + $Scratch->{r5c6} +        $Scratch->{r5c7} + $Scratch->{r5c8} + $Scratch->{r5c9} + $Scratch->{r5c10} + $Scratch->{r5c11} +        $Scratch->{r6c1} + $Scratch->{r6c2} + $Scratch->{r6c3} + $Scratch->{r6c4} + $Scratch->{r6c5} + $Scratch->{r6c6} +        $Scratch->{r6c7} + $Scratch->{r6c8} + $Scratch->{r6c9} + $Scratch->{r6c10} + $Scratch->{r6c11} +        $Scratch->{r7c1};
	
		$vx =  $Scratch->{vx};
		$ar = $Scratch->{ar};
		$clip = $Scratch->{runclips};
		$tot = $Scratch->{bigtotal};
		
		$bob = ($vx / $tot) * 100;
		$Scratch->{bigtotal} = sprintf("%.2f", $bob);

		$bob = ($ar / $tot) * 100;
		$Scratch->{arpc} = sprintf("%.2f", $bob);

		$bob = ($clip / $tot) * 100;
		$Scratch->{clippc} = sprintf("%.2f", $bob);
	
		return undef;
[/calc]


<style>
	table {
		font-size: 11px;
	}
</style>


<h3>Report for [scratch lensname] (from [scratch f_frange] to [scratch f_trange])</h3>
<h3>With frame type [scratch framename]</h3>

<table border=1>
<tr>
	<td>SPHERE POWER</td>
	<td>+6.00 & up</td>
	<td>+4.25 to +6.00</td>
	<td>+3.25 to +4.00</td>
	<td>+2.00 to +3.00</td>
	<td>+0.25 to +1.75</td>
	<td>plano</td>
	<td>-0.25 to -2.00</td>
	<td>-2.25 to -3.75</td>
	<td>-4.00 to -6.00</td>
	<td>-6.25 to -8.00</td>
	<td>-8.25 & up</td>
</tr>
<tr>
	<td>NO CYL (OR SPH OR D.S.)</td>
	<td>[scratch r1c1]</td>
	<td>[scratch r1c2]</td>
	<td>[scratch r1c3]</td>
	<td>[scratch r1c4]</td>
	<td>[scratch r1c5]</td>
	<td>[scratch r1c6]</td>
	<td>[scratch r1c7]</td>
	<td>[scratch r1c8]</td>
	<td>[scratch r1c9]</td>
	<td>[scratch r1c10]</td>
	<td>[scratch r1c11]</td>
</tr>
<tr>
	<td>ALL CYL +2.00 TO -2.00</td>
	<td>[scratch r2c1]</td>
	<td>[scratch r2c2]</td>
	<td>[scratch r2c3]</td>
	<td>[scratch r2c4]</td>
	<td>[scratch r2c5]</td>
	<td>[scratch r2c6]</td>
	<td>[scratch r2c7]</td>
	<td>[scratch r2c8]</td>
	<td>[scratch r2c9]</td>
	<td>[scratch r2c10]</td>
	<td>[scratch r2c11]</td>
</tr>
<tr>
	<td>CYL +2.25 TO +4.00</td>
	<td>[scratch r3c1]</td>
	<td>[scratch r3c2]</td>
	<td>[scratch r3c3]</td>
	<td>[scratch r3c4]</td>
	<td>[scratch r3c5]</td>
	<td>[scratch r3c6]</td>
	<td>[scratch r3c7]</td>
	<td>[scratch r3c8]</td>
	<td>[scratch r3c9]</td>
	<td>[scratch r3c10]</td>
	<td>[scratch r3c11]</td>
</tr>
<tr>
	<td>CYL > +4.00</td>
	<td>[scratch r4c1]</td>
	<td>[scratch r4c2]</td>
	<td>[scratch r4c3]</td>
	<td>[scratch r4c4]</td>
	<td>[scratch r4c5]</td>
	<td>[scratch r4c6]</td>
	<td>[scratch r4c7]</td>
	<td>[scratch r4c8]</td>
	<td>[scratch r4c9]</td>
	<td>[scratch r4c10]</td>
	<td>[scratch r4c11]</td>
</tr>
<tr>
	<td>CYL -2.25 TO -4.00</td>
	<td>[scratch r5c1]</td>
	<td>[scratch r5c2]</td>
	<td>[scratch r5c3]</td>
	<td>[scratch r5c4]</td>
	<td>[scratch r5c5]</td>
	<td>[scratch r5c6]</td>
	<td>[scratch r5c7]</td>
	<td>[scratch r5c8]</td>
	<td>[scratch r5c9]</td>
	<td>[scratch r5c10]</td>
	<td>[scratch r5c11]</td>
</tr>
<tr>
	<td>CYL > -4.00</td>
	<td>[scratch r6c1]</td>
	<td>[scratch r6c2]</td>
	<td>[scratch r6c3]</td>
	<td>[scratch r6c4]</td>
	<td>[scratch r6c5]</td>
	<td>[scratch r6c6]</td>
	<td>[scratch r6c7]</td>
	<td>[scratch r6c8]</td>
	<td>[scratch r6c9]</td>
	<td>[scratch r6c10]</td>
	<td>[scratch r6c11]</td>
</tr>
<tr>
	<td>PLANO WITH NO CYL</td>
	<td>[scratch r7c1]</td>
</tr>
<tr>
	<td>Sun Tint Color</td>
	<td style="background-color:#7a5640;">Brown</td>
	<td style="background-color:#333333;">Grey</td>
	<td style="background-color:#385950;">G-15</td>
	<td style="background-color:#40697b;">Blue</td>
	<td style="background-color:#eba2a9;">Rose</td>
	<td style="background-color:#ffa418;">Orange</td>
	<td style="background-color:#ffff66;">Yellow</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td>[scratch r8c1]</td>
	<td>[scratch r8c2]</td>
	<td>[scratch r8c3]</td>
	<td>[scratch r8c4]</td>
	<td>[scratch r8c5]</td>
	<td>[scratch r8c6]</td>
	<td>[scratch r8c7]</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Pairs of clips ordered</td>
	<td>[scratch runclips] ([scratch clippc]%)</td>
</tr>
<tr>
	<td>No of upgrades to Vx</td>
	<td>[scratch vx] ([scratch bigtotal]%)</td>
</tr>
<tr>
	<td>No of upgrades to AR</td>
	<td>[scratch ar] ([scratch arpc]%)</td>
</tr>
</table>

[comment]
	Now generate some XML for an excel sheet, oh yeaaahhhh...
[/comment]

[calc]
	$frange = $Scratch->{f_frange};
	$trange = $Scratch->{f_trange};
	$frange =~ s/\//-/g;
	$trange =~ s/\//-/g;
	Log("\n\nfrange=$frange, trange=$trange\n\n");

	$title = "Package Report";
	$stitle = $Scratch->{lensname} . " Report ($frange to $trange) with frame type " . $Scratch->{framename};
	$clips = $Scratch->{runclips};

	$clips .= " (". $Scratch->{clippc} ."%)";
	$ar = $Scratch->{ar} . " (" . $Scratch->{arpc} . "%)";
	$vx = $Scratch->{vx} . " (" . $Scratch->{bigtotal} . "%)";

	$Scratch->{data} = {
		pkg => "$Scratch->{lensname}",
		title => "$title",
		frange => "$frange",
		trange => "$trange",
		stitle => "$stitle",

		clips => "$clips",
		vx=> "$vx",
		ar => "$ar",

		r1c1 => "$Scratch->{r1c1}",
		r1c2 => "$Scratch->{r1c2}",
		r1c3 => "$Scratch->{r1c3}",
		r1c4 => "$Scratch->{r1c4}",
		r1c5 => "$Scratch->{r1c5}",
		r1c6 => "$Scratch->{r1c6}",
		r1c7 => "$Scratch->{r1c7}",
		r1c8 => "$Scratch->{r1c8}",
		r1c9 => "$Scratch->{r1c9}",
		r1c10 => "$Scratch->{r1c10}",
		r1c11 => "$Scratch->{r1c11}",
		
		r2c1 => "$Scratch->{r2c1}",
		r2c2 => "$Scratch->{r2c2}",
		r2c3 => "$Scratch->{r2c3}",
		r2c4 => "$Scratch->{r2c4}",
		r2c5 => "$Scratch->{r2c5}",
		r2c6 => "$Scratch->{r2c6}",
		r2c7 => "$Scratch->{r2c7}",
		r2c8 => "$Scratch->{r2c8}",
		r2c9 => "$Scratch->{r2c9}",
		r2c10 => "$Scratch->{r2c10}",
		r2c11 => "$Scratch->{r2c11}",

		r3c1 => "$Scratch->{r3c1}",
		r3c2 => "$Scratch->{r3c2}",
		r3c3 => "$Scratch->{r3c3}",
		r3c4 => "$Scratch->{r3c4}",
		r3c5 => "$Scratch->{r3c5}",
		r3c6 => "$Scratch->{r3c6}",
		r3c7 => "$Scratch->{r3c7}",
		r3c8 => "$Scratch->{r3c8}",
		r3c9 => "$Scratch->{r3c9}",
		r3c10 => "$Scratch->{r3c10}",
		r3c11 => "$Scratch->{r3c11}",

		r4c1 => "$Scratch->{r4c1}",
		r4c2 => "$Scratch->{r4c2}",
		r4c3 => "$Scratch->{r4c3}",
		r4c4 => "$Scratch->{r4c4}",
		r4c5 => "$Scratch->{r4c5}",
		r4c6 => "$Scratch->{r4c6}",
		r4c7 => "$Scratch->{r4c7}",
		r4c8 => "$Scratch->{r4c8}",
		r4c9 => "$Scratch->{r4c9}",
		r4c10 => "$Scratch->{r4c10}",
		r4c11 => "$Scratch->{r4c11}",

		r5c1 => "$Scratch->{r5c1}",
		r5c2 => "$Scratch->{r5c2}",
		r5c3 => "$Scratch->{r5c3}",
		r5c4 => "$Scratch->{r5c4}",
		r5c5 => "$Scratch->{r5c5}",
		r5c6 => "$Scratch->{r5c6}",
		r5c7 => "$Scratch->{r5c7}",
		r5c8 => "$Scratch->{r5c8}",
		r5c9 => "$Scratch->{r5c9}",
		r5c10 => "$Scratch->{r5c10}",
		r5c11 => "$Scratch->{r5c11}",

		r6c1 => "$Scratch->{r6c1}",
		r6c2 => "$Scratch->{r6c2}",
		r6c3 => "$Scratch->{r6c3}",
		r6c4 => "$Scratch->{r6c4}",
		r6c5 => "$Scratch->{r6c5}",
		r6c6 => "$Scratch->{r6c6}",
		r6c7 => "$Scratch->{r6c7}",
		r6c8 => "$Scratch->{r6c8}",
		r6c9 => "$Scratch->{r6c9}",
		r6c10 => "$Scratch->{r6c10}",
		r6c11 => "$Scratch->{r6c11}",

		r7c1 => "$Scratch->{r7c1}",
		
		r8c1 => "$Scratch->{r7c1}",
	};
	return undef;
[/calc]

[tmp num][convert-date fmt="%Y%m%d%H%M%S"][/convert-date]-[calc]
	$number = int(rand(100));
	return $number;
[/calc][/tmp]

[if cgi pdf]
[deliver type='application/pdf' extra_headers="Content-Disposition: attachment; filename=test_report-[scratch num].pdf" interpolate=1]
	[report template="__TEMPLATE_DIR__/test.tmpl"
			format="pdf" 
			landscape=1
			data="[calc]uneval($Scratch->{data});[/calc]"]
[/deliver]
[/if]

[if cgi xls]
[deliver type='application/vnd.ms-excel' extra_headers="Content-Disposition: attachment; filename=test_report-[scratch num].xls" interpolate=1]
	[report template="__TEMPLATE_DIR__/xls.tmpl"
			format="xls" 
			data="[calc]uneval($Scratch->{data});[/calc]"]
[/deliver]
[/if]


<p>

<p align="center">
<form action="package-reports" method="get">
<input type="hidden" name="lenstype" value="[scratch lenstype]">
<input type="hidden" name="from_day" value="[either][cgi from_day][or]14[/either]">
<input type="hidden" name="from_month" value="[either][cgi from_month][or]04[/either]">
<input type="hidden" name="from_year" value="[either][cgi from_year][or]2005[/either]">
<input type="hidden" name="to_day" value="[either][cgi to_day][or][convert-date fmt="%d"][/convert-date][/either]">
<input type="hidden" name="to_month" value="[either][cgi to_month][or][convert-date fmt="%m"][/convert-date][/either]">
<input type="hidden" name="to_year" value="[either][cgi to_year][or][convert-date fmt="%Y"][/convert-date][/either]">
<input type="hidden" name="bif" value="[cgi bif]">
<input type="hidden" name="prog" value="[cgi prog]">
<input type="hidden" name="bifprog" value="[cgi bifprog]">
<input type="hidden" name="uyof" value="[cgi uyof]">
<input type="hidden" name="frame" value="[cgi frame]">

<input type="submit" name="pdf" value="Download as PDF"> or <input type="submit" name="xls" value="Download as Excel">
</form>
</p>

[/if]

[comment]<pre>
SELECT COUNT(*) AS total,sph_od AS sph_value,clip,varilux FROM orderline 
WHERE (cyl_od > 4) 
AND [scratch querystr] 
AND (order_date >= [scratch frange] AND order_date <= [scratch trange]) 
GROUP BY sph_od</pre>[/comment]

[if variable DEMO_SITE][benchmark verbose=1][/if]





@_UI_STD_FOOTER_@