<!-- MODIFIED -->
[set page_title][L]Confirm receiving customers RMA[/L][/set]
[set ui_class]Orders[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		#address{ padding: 5px 5px 5px 20px }
		/* Hide submit button by default, users must first verify the address */
		#submit{ display: none }
	</style>
	<script type="text/javascript">

	$(function(){
		$('#rmaNumber').keydown(function(e){
			if( e.which == 13 && $(this).val() != '' ){
				e.preventDefault();
				$('#address').html('');
				$('#email').val('');
				$('#customerName').val('');
				$('#order_number').val('');
				$('#submit').hide();
				$.ajax({
					url: '/admin/ajax_controller.html',
					data: 'r=' + Math.random() +'&project=rma&task=check-address&rmaNumber=' + $(this).val(),
					dataType: 'json',
					success: function(response){
						if( response.success == 1 ){
							//Display address for verification, and show submit button
							$('#address').html( response.response.address );
							$('#email').val( response.response.email );
							$('#order_number').val( response.response["order_number"] );
							$('#customerName').val( response.response.customerName );
							$('#submit').show();
						}else if( response.success == 2 && [if cgi processRemake]true[else]false[/else][/if]){
							window.location = '/admin/order_view.html?order=' + response.response["order_number"];
							return;
						}else if( response.success == 2 ){
							alert('This RMA has already been received, if you wish to process the remake please use the appropriate tab');
						}
					},
					error: function(obj,status,error){
						alert('Some sort of error:\n' + status + "\n----\n" + error);
					}
				});
			}
		});
	});
	</script>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->
[tmp initials][calc]my @name = split(/ /,'[data table=access col=name key="[data session username]"]'); return join('',map{ /^(.)/; uc$1 } @name);[/calc][/tmp]
[if cgi submit]
	[perl tables="history rma" failure="<span class='error'>There was an error creating the records, please notify someone in the web department immediately.</span>" no_return=1]
		my $sql = "UPDATE rma SET received = 1, receivedOn = DATE( NOW() ) WHERE rmaID = $CGI->{rmaNumber}";
		
		#EXECUTE RMA UPDATE
		my $affectedRows = $Tag->query({ sql => $sql, table=>"rma" });
		
		if( $affectedRows == 1 ){
			my $row = $Tag->query({ sql => "SELECT order_number, rmaNumber FROM rma WHERE rmaID = $CGI->{rmaNumber}", table => 'rma' })->[0];
			my ($order_number, $rmaNumber) = @$row;
			
			$sql = 'INSERT INTO history (historydate,username,orderid,historytype,historylog) VALUES (' . 
				$Tag->convert_date({fmt => '%Y%m%d%H%M'}) .  ",'" . $Session->{username} . "'," .
				$order_number . ",'rma','RMA# $rmaNumber RECEIVED')";
			
			$Tag->query({ sql => $sql, table=>"history" });
			
			$Tag->tmp('success',1);
			
		}else{
			$Tag->email({
				to			=> 'steve.aurigema@39dollarglasses.com',
				from		=> 'admin.problems@39dollarglasses.com',
				reply		=> 'noreply@39dollarglasses.com',
				subject => '**ERROR** confirming receipt of customers RMA [MULTIPLE]',
				body		=> "More than one row affected! The :\n\n" . join("\n",map{ "$_ = $CGI->{$_}" } keys %$CGI)
			});
		}
	[/perl]
	[if scratch success]
		[send_emaildirect
			to="[cgi email]"
			from="contact@39dollarglasses.com"
			subject="RMA Package received"
			html="[include include/emails/rma-received]"
		][/send_emaildirect]
		<p>Receipt successfully logged, e-mail sent to customer</p>
		<br />
	[/if]	
[/if]
<form action="[area @@MV_PAGE@@]" method="POST">
	<label for="rmaNumber">RMA number:</label><input type="text" name="rmaNumber" id="rmaNumber" />
	<br />
	<div id="order-address">
		<div style="float: left">
			Customer address:
		</div>
		<div style="float: left" id="address"></div>
		<br style="clear: both" />
	</div>
	<input type="hidden" name="email" id="email" />
	<input type="hidden" name="order_number" id="order_number" />
	<input type="hidden" name="customerName" id="customerName" />
	<input type="submit" name="submit" id="submit" value="Confirm address and send received receipt to customer" />
</form>
<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@


<!-- page: @@MV_PAGE@@ -->