@_UI_STD_INIT_@[comment][if-mm !advanced stockuse]
[set ui_error]
[L]Not authorized for stock consumption.[/L]
[/set]
[bounce page="__UI_BASE__/error"]
[value name=saved_report set=""]
[/if-mm][/comment]
[set ui_class]Reports[/set]
[set page_title][L]Stock Consumption[/L][/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]stats.stockuse[/set]
@_UI_STD_HEAD_@

<table border=0 __UI_T_PROPERTIES__>
</tr>
<tr height=1><td class=rborder colspan=3></td></tr>

<tr>
<td colspan=3 class=rmarq>[L]View stats for any period of time[/L]</td>
</tr>
<tr height=1><td class=rborder colspan=3></td></tr>

<FORM ACTION="[process]">
<INPUT TYPE=hidden NAME=mv_session_id VALUE="[data session id]">
<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
<INPUT TYPE=hidden NAME=mv_nextpage VALUE="__UI_BASE__/reports/stockuse">
<TR>
<TD class=rnorm>
<BLOCKQUOTE>[L]Beginning:[/L]<BR>
	[widget type=date name=ui_begin_date]
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
<BLOCKQUOTE>[L]Ending:[/L]<BR>
	[widget type=date name=ui_end_date]
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
<BLOCKQUOTE>[L]All Labs[/L]:
<input type="radio" name="lab_code" value="ALL" checked>&nbsp;&nbsp;
<br>
[L]Lab:[/L]
[loop
    prefix=lab
    list="1 2 3 H"
][lab-code]<input type="radio" name="lab_code" value="[lab-code]">&nbsp;
[/loop]
</BLOCKQUOTE>
</TD>
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
<BLOCKQUOTE>
	<INPUT TYPE=submit VALUE="[L]Generate report[/L]">
</BLOCKQUOTE>
</TD>
</TR>
<tr class=rborder height=1><td colspan=3></td></tr>
</TABLE>
</FORM>
</td>
</tr>

</table>

@_UI_STD_FOOTER_@
