[set page_title][L]Order manager[/L]: Resend Orders to Lab[/set]
[set ui_class]Orders[/set]
[set page_banner]Resend Orders To Lab[/set]
[set help_name]order.view[/set]
[set icon_name]icon_orders.gif[/set]
@_UI_STD_HEAD_@

[if scratch ui_bounce]
	[bounce page="[scratchd ui_bounce]"]
[/if]

[if scratch ui_message]
<BLOCKQUOTE>
	[scratch ui_message]
	[set ui_message][/set]
</BLOCKQUOTE>
<p>
&nbsp;
[/if]


<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi submitted]

<br /><br />

[perl tables="transactions"]
	my @finputs = split(/\0/, $CGI->{from_date});
	my $fdate = $finputs[4] . $finputs[0] . $finputs[2];

	my @tinputs = split(/\0/, $CGI->{to_date});
	my $tdate = $tinputs[4] . $tinputs[0] . $tinputs[2];

	my $dbh = $Sql{transactions}
		or Log('No DBI handle to database');

	my $rows = $dbh->do("UPDATE transactions SET sent_to_lab = 0 WHERE order_ymd >= '$fdate' AND order_ymd <= '$tdate'");

	return '<p>' . $rows . ' orders with order dates between ' . $finputs[0] . '/' . $finputs[2] . '/' . $finputs[4] . ' and ' . $tinputs[0] . '/' . $tinputs[2] . '/' . $tinputs[4] . ' have been flagged to be resent to Optivision.<br /><br />The job that transfers the orders runs every quarter hour so please allow up to 15 minutes for the orders to appear in Optivision.</p>';
[/perl]

<br /><br />
<a href="admin/resend_to_lab">Return to Resend Form</a>
<br /><br />


[else]

<form action="[process]" method="post">
<input type="hidden" name="mv_session_id" value="[data session id]" />
<input type="hidden" name="mv_todo" value="return" />
<input type="hidden" name="submitted" value="1" />
<input type="hidden" name="mv_nextpage" value="/admin/resend_to_lab" />

<p>Please select the date range of orders to resend to Optivision. Orders that already exist will not be duplicated.</p>

<table>
	<tr>
		<td>From: </td>
		<td>[widget type=date name=from_date]</td>
	</tr><tr>
		<td>To: </td>
		<td>[widget type=date name=to_date]</td>
	</tr>
</table>

<p>
<input type="submit" value="Resend Orders" />
</p>

</FORM>

[/else][/if]

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->
