<!-- MODIFIED -->
[set page_title][L]Reset lens packages[/L][/set]
[set ui_class]Orders[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		br.clear{ clear: both }
	</style>
<!-- Javascript/css goes here -->
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->
[if cgi submit]
	[perl no_return=1 tables="products_backup products" failure="<span class='error'>There was a problem .</span>"]
		my $frame_types = {
			'sarah' => "OPT1 OPT10 OPT11 SUN3 POLS4 TRAN2 SUN9 OPT4  BIF_OPT1 BIF_SUN12 BIF_POLS5 BIF_TRAN5 PROG_OPT1 PROG_SUN15 PROG_OPT6 PROG_SUN17 PROG_POLS12 PROG_TRAN9 PROG_OPT7 PROG_SUN24 PROG_POLS14 PROG_TRAN14 ",
			'semi-rimless' => "OPT1 OPT10 OPT11 SUN1 SUN3 SUN9 POLS2 POLS4 BIF_POLS7 TRAN1 TRAN2 BIF_OPT1 BIF_SUN12 PROG_SUN15 BIF_SUN5 PROG_OPT1 PROGE_OPT2 BIF_TRAN4 BIF_TRAN5 PROG_OPT6 PROG_SUN17 PROG_POLS12 PROG_TRAN9 BIF_POLS5 POLS9 BIF_POLS10 PROGE_SUN22 OPT4 PROG_OPT7 PROG_SUN24 PROG_POLS14 PROG_TRAN14 PROG_TRAN8 PROGE_TRAN6 PROGE_OPT8 PROGE_SUN26 PROGE_POLS15 PROGE_TRAN16 PROGE_OPT3 PROGE_SUN18 PROGE_TRAN2 PROGE_POLS1",
			'tony' => "OPT1 OPT10 OPT11 SUN3 POLS4 TRAN2 SUN9 OPT4 BIF_OPT1 BIF_SUN12 BIF_POLS5 PROGE_OPT3 PROGE_SUN18 PROGE_TRAN2 PROGE_OPT8 PROGE_SUN26 PROGE_POLS15 PROGE_TRAN16 ",
			'rimless-prog' => "OPT1 OPT10 OPT11 SUN3 POLS4 TRAN2 SUN9 OPT4  BIF_OPT1 BIF_SUN12 BIF_POLS5 BIF_TRAN5  PROG_OPT1 PROG_SUN15 PROG_TRAN8  PROG_OPT6 PROG_SUN17 PROG_POLS12 PROG_TRAN9 PROG_OPT7 PROG_SUN24 PROG_POLS14 PROG_TRAN14 ",
			'rimless-proge' => "OPT1 OPT10 OPT11 SUN3 POLS4 TRAN2 SUN9 OPT4  BIF_OPT1 BIF_SUN12 BIF_POLS5 BIF_TRAN5 PROGE_OPT2 PROGE_SUN22 PROGE_TRAN6  PROGE_OPT3 PROGE_SUN18 PROGE_TRAN2 PROGE_OPT8 PROGE_SUN26 PROGE_POLS15 PROGE_TRAN16 ",
			'kids' => 'OPT1 OPT11 SUN9 TRAN2 POLS4',
			'prog' => "OPT1 OPT10 OPT11 SUN1 SUN3 POLS2 POLS4 TRAN1 TRAN2 SUN9 OPT4 POLS9  BIF_OPT1 BIF_SUN12 BIF_TRAN5 BIF_POLS5 BIF_SUN15  BIF_POLS7 BIF_POLS10 BIF_TRAN4 PROG_OPT1 PROG_SUN19 PROG_TRAN8  PROG_OPT6 PROG_SUN17 PROG_POLS12 PROG_TRAN9 PROG_OPT7 PROG_SUN24 PROG_POLS14 PROG_TRAN14",
			'proge' => "OPT1 OPT10 OPT11 SUN1 SUN3 POLS2 POLS4 TRAN1 TRAN2 SUN9 OPT4 POLS9  BIF_OPT1 BIF_SUN12 BIF_TRAN5  BIF_POLS7 BIF_POLS10 BIF_TRAN4 BIF_POLS5 BIF_SUN15 PROGE_OPT2 PROGE_SUN23 PROGE_TRAN6  PROGE_OPT3 PROGE_SUN18 PROGE_TRAN2 PROGE_OPT8 PROGE_SUN26 PROGE_POLS15 PROGE_TRAN16",
		};
		#Clear out the backup table
		$Tag->query({ sql=> "TRUNCATE TABLE products_backup", table => "products_backup" });
		#Refill it
		$Tag->query({ sql=> "INSERT INTO products_backup SELECT * FROM products", table =>'products_backup' });
		#Run the lens package reset query
		$Tag->query({ sql =>qq|
UPDATE products SET options_lenstype = 
  CASE 
    -- Tony frame, specifically remove all J, U, Y, packages and Q
  	WHEN sku IN ('1018003_BLACK','1018003_BROWN','1018003_TORTOISE') THEN "$frame_types->{tony}" 
  	-- Sarah frame, base list is same as rimless-prog with UT/YT removed as well
  	WHEN sku IN ('5610_Brown','5610_Black','5610_Gunmetal') THEN "$frame_types->{sarah}"
  	-- SEMI-RIMLESS
  	WHEN category = 'semi-rimless' THEN "$frame_types->{'semi-rimless'}"
  	-- RIMLESS PROG
    WHEN ( category like '%Rimless%' AND category NOT LIKE '%semi-rimless%' ) AND options_lens NOT LIKE '%PROGE%' THEN "$frame_types->{'rimless-prog'}"
    -- RIMLESS PROGE
    WHEN ( category like '%Rimless%' AND category NOT LIKE '%semi-rimless%' ) AND options_lens LIKE '%PROGE%' THEN "$frame_types->{'rimless-proge'}"
    -- KIDS  
    WHEN category = 'Kids' THEN  "$frame_types->{kids}"
    -- PROG
    WHEN options_lens LIKE '%PROG%' AND options_lens NOT LIKE '%PROGE%' THEN "$frame_types->{prog}"
    -- PROGE
    WHEN options_lens LIKE '%PROGE%' THEN "$frame_types->{proge}"
    -- No PROG or PROGE
    WHEN options_lens NOT LIKE '%PROG%' AND options_lens NOT LIKE '%PROG%' AND options_lens LIKE '%BIF%' THEN "OPT1 OPT10 OPT11 SUN1 SUN3 POLS2 POLS4 TRAN1 TRAN2 SUN9 OPT4 POLS9 BIF_OPT1 BIF_SUN12 BIF_TRAN5 BIF_POLS5 BIF_POLS7 BIF_POLS10 BIF_TRAN4"
    ELSE options_lenstype
  END
		|, table => 'products' });
	[/perl]
[/if]
<!-- ----- END REAL STUFF ----- -->
<form method="POST" action="[area @@MV_PAGE@@]">
	<input type="submit" name="submit" value="Reset lens packages" />
</form>
@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->