<!-- MODIFIED -->
[set page_title][L]Review orders[/L][/set]
[set ui_class]Orders[/set]
[set help_name]review_orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
	<style type="text/css">
		#orders tr:hover{ background: yellow; }
		#orders tr.internal{ background: RGB(198,240,249) }
		#orders th{ font-size: 11px }
		#orders td{ padding: 3px }

		#previousOrders{ display: none; position: absolute; z-index: 10003; top: 0; left: 25%; background: white; border: 3px dotted black; max-height: 500px; overflow: auto; padding: 5px }

		.hide{ display: none }
		div.items div.container{ display: none }
		div.items a.expand{ float: left; display: block; margin: 5px 0 0 25% }
		div.items div.assignTo{ float: left; margin: 0 0 10px 10px; padding: 3px; border: 1px solid black }
		tr.good{
			background: lightgreen;
		}
		tr.warning{
			background: orange;
		}
		tr.banned {
			background: red;
		}
#white_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:10002;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
	</style>
[strip reparse=0]
	<script type="text/javascript">
	$(function(){
		//Set up the handler for the PD update link
		$('a.update-pd').click(function(){
			var $this = $(this);
			var pd = prompt('Enter the new PD (or blank to cancel):','');
			if( pd ){
				$.ajax({
					url: '/admin/ajax_controller.html',
					data: 'r=' + Math.random() + '&project=general&task=set-pd&orderline-code=' + $(this).attr('data-code') + '&pd=' + pd,
					dataType: 'json',
					success: function(response){
						if( response.success ){
							// Update the pd span with the new pd
							$this.siblings('span.pd').text( response.response );
						}else{
							alert("[OL] PD *NOT* updated, something went awry. Please grab someone from the web group to review your screen.");
						}
					},
					error: function(obj,status,error){
						alert('Some sort of error:\n' + status + "\n----\n" + error);
					}
				});
		  	return false;	
		  }
		});
		$('#white_overlay').click(function(){
			$('#previousOrders, #white_overlay').hide();
		});

		$('a.previousOrders').click(function(){
			$('#previousOrders').show();
			$('#white_overlay').show().css({
				'height': $(document).height()
			});

			$('#previous-body').load('/admin/ajax_controller.html?r=' + Math.random() + '&project=general&task=show-previous&username=' + $(this).attr('data-username') + '&order_number=' + $(this).attr('data-ordernumber'), function(){
				$('#previousOrders').css({
					'top': (jQuery('#previousOrders').height() + 80) / 2,
					'left': (jQuery('#previousOrders').width() + 80) / 2
				});
			});
		});

		$('div.items > a').click(function(){ 
			$(this).closest('div.items').find('div.container').toggle();
			return false;
		});

		$('div.assignTo input').click(function(){
			$(this).closest('div.items').find('div.container').hide();
			$(this).closest('tr').next().find('div.items > div.container').toggle()
		});

		$('div.assignTo input[value=H]').change(function(){
			if( $(this).is(':checked') )
				$(this).parent().siblings('label[for^=email]').show();
			else
				$(this).parent().siblings('label[for^=email]').hide();
		});
		$('#orders th a.sort').click(function(){
			var $sort = $('#sort');
			var $this = $(this);
			if( $sort.val() == $this.attr('data-field') )
				$('#sort-direction').val( $('#sort-direction').val() == 'ASC' ? 'DESC' : 'ASC' );

			$sort.val( $this.attr('data-field') );
			$this.closest('form').submit();
		});
	});
	</script>
<!-- Javascript/css goes here -->
[/strip]
[/seti]

@_UI_STD_HEAD_@

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi update]
	[perl tables="transactions cannedResponses products history current_hold_emails" short_errors=1 failure="<h3>Huh?</h3>" no_return=1]
		my %labs = (
			'H' => [],
			'R' => [],
		);

		my $results = $Tag->query({ sql => 'SELECT code, subject, body, description,enabled FROM cannedResponses', table => 'cannedResponses', hashref => 1 });
		my $sql;
		my %templates = ();
		my @uncontactedCustomers = ();

		foreach my $response( @$results ){
			$templates{ $response->{code} } = $response;
		}
		foreach( keys %$CGI ){
			if( $CGI->{$_} && /^order-(\d+)$/ && exists $labs{ $CGI->{$_} } ){
				my $order_number = $1;
				push @{$labs{ $CGI->{$_} }}, $order_number;
				#If the order is being placed on hold:
				#	See if we have a template (with body) for the reason this is being kept on hold
				if( lc$CGI->{$_} eq 'h' && $CGI->{ 'email-' . $_ } && $templates{ $CGI->{'reason-' . $_} }->{enabled} ){
					#Shorthand reference to the template
					my $templateHash = $templates{ $CGI->{'reason-' . $_} };
					my $tempBody = $templateHash->{body};
					my $tempSubject = $templateHash->{subject};

					#Pull the order info in order to do a token replacement on the email body
					my $tokens = $Tag->query({ sql => 'SELECT * FROM transactions WHERE order_number = "' . $order_number . '"', table => 'transactions', hashref => 1 })->[0];

					#Temporary bandaid to ensure that customers are contacted even though AOL will not accept mail coming from out servers
					if( $tokens->{email} =~ /aol.com/i ){
						push @uncontactedCustomers, { 'order_number' => $order_number, 'reason' => $templates{ $CGI->{'reason-' . $_} }->{'description'} . ' (AOL)' };
						&addNote( $order_number, "Automatic email not sent due to AOL address.\n" . $templates{ $CGI->{'reason-' . $_} }->{'description'}, 0 );
						next;
					}

					#Replace all of the tokens
					foreach my $token( keys %$tokens ){
						$tempBody =~ s/#${token}#/$tokens->{$token}/g;
						$tempSubject =~ s/#${token}#/$tokens->{$token}/g;
					}
					#Clear any left over tokens
					$tempBody =~ s/#\w+#//g;
					$Tag->email({
						to			=> $tokens->{email},
						from		=> $Tag->var('EMAIL_INFO'),
						reply		=> 'noreply@39dollarglasses.com',
						subject => $tempSubject,
						body		=> $tempBody
					});

					&storeEmail($order_number, qq|
To: $tokens->{email}
From: | . $Tag->var('EMAIL_INFO') . qq|
Subject: $tempSubject
Body:

$tempBody
|);
					&addNote( $order_number, $templates{ $CGI->{'reason-' . $_} }->{'description'}, 1 );
				}elsif( lc$CGI->{$_} eq 'h' ){
					#Store this ordernumber and reason code to be sent to customer service
					push @uncontactedCustomers, { 'order_number' => $order_number, 'reason' => $templates{ $CGI->{'reason-' . $_} }->{'description'} };

					&addNote( $order_number, $templates{ $CGI->{'reason-' . $_} }->{'description'}, 0 );
				}
			}
		}

		foreach my $lab( keys %labs ){
			next unless @{$labs{$lab}};
			$sql = "UPDATE transactions SET lab = '$lab' WHERE order_number IN (" . join(',', map{ "'$_'" } @{$labs{$lab}}) . ")";
			$Tag->query({ sql => $sql, table => 'transactions' });

			#If we're on the actual lab (not any holds)
			if( $lab eq 'R' ){
				#Delete any emails stored in current_hold_emails now that the order is being assigned
				$sql = 'DELETE FROM current_hold_emails WHERE order_number IN (' . join(',', @{$labs{$lab}}) . ')';
				$Tag->query({ sql => $sql, table => 'current_hold_emails' });
			}
		}

		if( @uncontactedCustomers ){
			#Send e-mail to EMAIL_INFO containing the order numbers placed on hold that weren't contacted
			$Tag->email({
				to			=> $Tag->var('EMAIL_INFO'),
				from		=> 'metatron@39dollarglasses.com',
				reply		=> 'noreply@39dollarglasses.com',
				subject => 'Orders placed on hold',
				body		=> join("\n", map{ "$_->{order_number}\t-\t$_->{reason}" }@uncontactedCustomers)
			});
		}

		sub storeEmail{
			my ($order_number, $email) = @_;
			my $dbh = $Sql{current_hold_emails};

			$dbh->do('INSERT INTO current_hold_emails (order_number,email) VALUES (?,?)', {}, $order_number, $email );
		}

		sub addNote{
			my ($order_number, $reason, $notified) = @_;

			my $sql = "INSERT INTO history (historydate,username,orderid,historytype,historylog) VALUES (";
			my @values = (
				$Tag->convert_date({fmt => '%Y%m%d%H%M'}),
				'metatron',
				$order_number,
				'hold',
				'Order placed on hold, customer' . ($notified?'':' not') . ' notified.<br />Reason: ' . $reason 
			);

			$sql .= join(',', map{ $Tag->filter('dbi_quote',$_) }@values ) . ")";

			$Tag->query({ sql => $sql, table => 'history' });
		}

	[/perl]
[/if]

<form method="POST" action="[area @@MV_PAGE@@]">
	<input type="hidden" name="sort-direction" id="sort-direction" value="[cgi sort-direction]" />
	<input type="hidden" name="sort" id="sort" value="[cgi sort]" />
	<input type="hidden" name="lab" id="lab" value="[cgi lab]" />
	<input type="hidden" name="offset" id="offset" value="[either][cgi offset][or]0[/either]" />
	<div style="float: left">
		<table id="orders" border=1>
			<thead>
				<tr>
					<th><a href="#" class="sort" data-field="t.lab">Hold reason</a></th>
					<th><a href="#" class="sort" data-field="t.order_ymd">Order date</a></th>
					<th width="150">Flag Comments</th>
					<th width="650">Items</th>
					
					<th><a href="#" class="sort" data-field="t.total_cost">Total Cost</a></th>
				</tr>
			</thead>
			<tbody>
[perl tables="transactions products cannedResponses"]
	my $output 		= '';
	my $labClause	= $CGI->{lab} ? ' = ' . $Tag->filter('dbi_quote',$CGI->{lab}) : q|IN ( SELECT code FROM cannedResponses )|;
	my $sort	 		= $CGI->{sort} || 'order_ymd';
	my $sortdir		= $CGI->{'sort-direction'} || 'ASC';
	my (@order, $sql, $results);

	my %reasons = ();

	$results = $Tag->query({ sql=>'SELECT code, description FROM cannedResponses', table=>'cannedResponses', hashref=>1 });

	$reasons{ $_->{code} } = $_->{description}
		foreach @$results;

		$sql = q|
SELECT 
	t.order_number, t.lab, t.order_ymd, t.total_cost, t.comments AS transaction_comments,
	cf.status as c_status,cf.comments as c_comments,
	ol.code, ol.sku, ol.pres_od, ol.pres_os, ol.options, ol.pupd, ol.comments AS item_comments, CASE WHEN ( SELECT COUNT(1) FROM transactions t2 WHERE username = t.username AND t2.status NOT IN ('canceled','cancelled') AND t2.lab = 'R' ) >= 1 THEN 'Yes' ELSE 'No' END AS repeatOffender, t.username
FROM transactions t
INNER JOIN orderline ol ON t.code = ol.order_number
LEFT JOIN customer_flags cf
ON ((cf.username = t.username or cf.email = t.email) and cf.pending <> 1)
WHERE
	t.lab | . $labClause . qq| AND t.status = 'pending'
ORDER BY $sort $sortdir, t.order_number|;

	$results = $Tag->query({ sql => $sql, table => 'transactions', hashref => 1 });

	if( @$results ){
		foreach my $line( @$results ){
			$output .= &outputRow
				if @order && $order[$#order]->{'order_number'} ne $line->{'order_number'};

			#Add onto the order array
			push @order, $line;
		}
		#Add any trailing order lines
		$output .= &outputRow;
	}else{
		$output = q|
	<tr>
		<td colspan=4 align=center>
			<h3>All orders are currently assigned</h3>
			<br />
			<label for="auto-refresh"><input type="checkbox" name="auto-refresh" id="auto-refresh" checked />Auto refresh page</label>
			<script type="text/javascript">
				var refresh = function(){ window.location = '/@@MV_PAGE@@'; };	
				var timeout = setTimeout(refresh, 300000);
				$(function(){
					$('#auto-refresh').change(function(){
						if( $(this).is(':checked') && !timeout ){ timeout = setTimeout(refresh,30000); }
						else{ clearTimeout(timeout); timeout = null; }
					});
				});
			</script>
		</td>
	</tr>|;
	}
	return $output;

	sub outputRow{
		local $_;

		my $temp = '';
		my $order = $order[0];
		#Append to output and clear @order
		my $id = "order-" . $order->{'order_number'};
		my $flag_class = $order->{c_status} ? lc($order->{c_status}) : '';
		my $class = $order->{'order_number'} =~ /^3/ ? "internal $flag_class" : $flag_class;

		my $updatePD = $order->{lab} eq 'BO' ? qq| ( <a href="#" class="update-pd" data-code="$order->{code}">Change</a> )| : '';

		$temp .= qq|
	<tr class="$class">
		<td>$reasons{$order->{lab}}</td>
		<td align=right>$order->{order_ymd}</td>
		<td>$order->{c_comments}</td>
		<td>
			<div class="items">
			<a href="#" class="expand">Click to expand</a>&nbsp;&nbsp;
				<div class="assignTo">
					<label for="h-$id"><input type="radio" name="$id" id="h-$id" value="H" />H</label>
					<label for="r-$id"><input type="radio" name="$id" id="r-$id" value="R" />R</label>
					<label for="email-$id" class="hide"><input type="checkbox" name="email-$id" id="email-$id" checked />Automatic email</label>
					<input type="hidden" name="reason-$id" id="reason-$id" value="$order->{lab}" />
				</div>
				<br style="clear: both" />
				<div class="container">
					<a href="| . $Tag->area({ href => 'admin/order_view', form => 'order=' . $order->{order_number} }) . qq|" target="_blank">$order->{order_number}</a>&nbsp;&nbsp;
					| . ($order->{repeatOffender} eq 'Yes' ? qq|<a href="#" class="previousOrders" data-username="$order->{username}" data-ordernumber="$order->{order_number}">View previous orders</a>| : '') . q| 
					<br />|;
		$temp .= join("<hr />\n", map{
qq|
					<table style="margin: 5px; border: 1px solid black; border-collapse: collapse; width: 98%" border=1>
						<tr>
							<td colspan=2 align="center">$_->{sku}</td>
						</tr>
						<tr>
							<td>| . $Tag->beautify_options({ html => 1, body => $_->{options} }) . qq|</td>
							<td>
								$_->{pres_od}<br />
								$_->{pres_os}<br />
								PD: <span class="pd">$_->{pupd}</span>$updatePD
							</td>
						</tr>| . ( $_->{item_comments} ? qq| 
						<tr>
							<td colspan=2>
								$_->{item_comments}
							</td>
						</tr>| : '' ) . q|
					</table>
| } @order );
		$temp .=  ( $order->{transaction_comments} ? "<strong>Comments:</strong><pre>$order->{transaction_comments}</pre>" : '' ) . q|
				</div>
			</td>
			<td>| . $Tag->currency({ body => $order->{'total_cost'} }) . q|</td>
		</tr>|;

		undef @order;

		return $temp;
	}
[/perl]
			</tbody>
		</table>
		<input type="submit" name="update" id="update" value="Update orders" />
	</div>
</form>
<div id="previousOrders">
	<div id="previous-body"></div>
</div>
<div id="white_overlay"></div>
<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@

<!-- page: @@MV_PAGE@@ -->
