[set page_title][L]Review Pending Flags[/L][/set]
[set ui_class]Administration[/set]
[set page_banner][L]Review Pending Flags[/L][/set]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]
[tmp meta_header]
<style type="text/css">
tr.inforow td {
	padding: 10px;
}
tr.alternate{
	background: #EAF1FB;
}
</style>
<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript">
function submitSelected(){
	$.ajax({
			url: '/admin/flag_customer.html',
			dataType: 'json',
			data: $('#myForm').serializeArray(),
			beforeSend: function(){
				$('#loadText').val('Sending...');
			},
			success: function(r){
				$('#loadText').val('Approve and Deny Selected');
				alert(r.message);
				if (!r.error){
					window.location.href = '/admin/review_pending_flags.html';
				}
			}
	});
}
</script>
[/tmp]
@_UI_STD_HEAD_@
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]
[update values]
<table border=0 __UI_T_PROPERTIES__>
	<tr>
		<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
	</tr>
	<tr>
		<td colspan=6 align=left class=rnorm>
			<form id="myForm">
			<input type="hidden" name="approving" value="1" />
			<input type="hidden" name="csr" value="[either][value mv_username][or][value username][/either]" />
			<table>
				<tr>
					<th>Approve</th>
					<th>Deny</th>
					<th>Username</th>
					<th>Email</th>
					<th>CSR</th>
					<th>Status</th>
					<th>Comments</th>
				</tr>
				[perl table="products"]
				my $dbh = $Sql{products};
				return unless $dbh;
				my $rs = $Tag->query({
						sql => sprintf(q\
							SELECT id, username, email, status, csr, comments from customer_flags %1$s
						\, $CGI->{show_all} ? '' : 'where pending = 1'),
						hashref => 1,
						table => 'products'
				});
				my ($out,$count) = ('',0);
				for my $r (@$rs){
					my $class = ++$count % 2 ? 'alternate' : 'normal';
					$out .= sprintf(q\
						<tr colspan="7" class="inforow %8$s">
							<td><input class="approve" type="checkbox" name="app_%1$s" value="%7$s" /></td>
							<td><input class="approve" type="checkbox" name="del_%1$s" value="%7$s" /></td>
							<td><a href="/admin/customer_view.html?customer=%2$s">%2$s</a></td>
							<td>%3$s</td>
							<td>%4$s</td>
							<td>%5$s</td>
							<td>%6$s</td>
						</tr>
					\, (map { $r->{$_} } qw\id username email csr status comments id\), $class);
				}
				return $out;
				[/perl]
				<tr colspan="1" align="right">
					<td><input type="button" onclick="submitSelected(); return false;" id="loadText" value="Approve and Deny Selected" /></td>
				</tr>
				<tr>
					<td><a href="[area admin/review_pending_flags]?show_all=1">Click here to show all entries</a></td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
@_UI_STD_FOOTER_@
