[set page_title][L]Search Keyword Manager[/L][/set]
[set ui_class]Customers[/set]
[set page_banner][L]Keyword Editor[/L][/set]
[set icon_name]icon_people.gif[/set]
[tmp meta_header]
<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#alert').css('left', (($(window).width()  - 600 )/ 2 )+'px');
	$('#addWord input[name="term"]').keypress(function(e){
		if (e.which == 13){
			$('#addWord').submit();
			return !1;
		}
		if(String.fromCharCode(e.which).match(/[^A-Za-z-_]/)){
			$('#badKey').show();
			return !1;
		}else{
			$('#badKey').hide();
		}
	})
	$('#addWord').submit(function(e){
		e.preventDefault();
		var word = $(this).find('input[name="term"]').val();
		var type = $(this).find('input[name="type"]').val();
		var duplicate = !1;
		$('div.word input[name="term"]').each(function(){
			if (this.value == word){
				duplicate = !0;
				return !1;
			}
		});
		if (duplicate){
			return successRoutine({error: 1, response: "Duplicate Term!"});
		}
		$.ajax({
			url: '/admin/search_keyword_ajax.html',
			data: $('#addWord').serialize()+'&sku='+$('#sku').val(),
			success: function(data){
				successRoutine(data);
				if (data.success){
					var div = $('div.word').first().clone();
					div.find('input[name="term"]').val(word);
					div.find('input[name="type"]').val(word);
					div.find('span.term').html('&bull; '+word);
					div.appendTo('div.wordContain').show();
					bindLinks();
					$('#addWord input[name="term"]').val('').focus();
				}
			},
			dataType: 'JSON',
			error: function(){
				successRoutine({error: 1, response: "Unindentified Error!"});
			}
		});
	});

	$('#frameSelect, #articleSelect').change(function(){
		var matches = this.value.match(/^([^:]+)/);
		var frame = this.id == 'frameSelect';
		window.location.href = '[area admin/search_keyword_manager]?sku='+matches[1]+'&type='+(frame?'frame':'article')
	});
	bindLinks();
});	
function successRoutine(data){
	if (data.error){
		$('#alert').css('background','red').html(data.response).slideDown('fast', function(){
			$('#alert').delay(3000).slideUp('fast');
		});
	}else{
		if(data.html){
			$('#ambCreate').replaceWith(data.html);
		}
		$('#alert').css('background','green').html(data.response).slideDown('fast', function(){
			$('#alert').delay(3000).slideUp('fast');
		});
	}
}
function bindLinks(){
	$('a.remove').unbind('click').click(function(e){
		e.preventDefault();
		var term = $(this).parent().find('input[name=term]').val();
		var type = $(this).parent().find('input[name=type]').val();
		var remove = $(this);
		$.ajax({
			url: '/admin/search_keyword_ajax.html',
			data:{
				term: term,
				sku: $('#sku').val(),
				remove: 1,
				type: type
			},
			dataType: 'JSON',
			error: function(){
				successRoutine({error: 1, response: "Unindentified Error!"});
			},
			success: function(data){
				successRoutine(data);
				if (data.success){
					remove.parent().remove();
				}
			}
		})
	});
}
</script>
<script type="text/javascript" src="/javascript/autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('a.show').click(function(e){
		e.preventDefault();
		$('#'+$(this).attr('data')+'Drop').toggle();
		return !1;
	})
	$('#framesComplete').autocomplete({
		lookup: [frame_names admin="1"],
		delimiter: /,/,
		minChars: 1,
		width: 600,
		dataHash: !0,
		adminPanel: !0,
		onSelect: function(){
			var matches = $('#framesComplete').val().match(/^([^:]+): .+/);
			window.location.href = '[area admin/search_keyword_manager]?sku='+matches[1]+'&type=frame'
		}
	}).enable();
	$('#articlesComplete').autocomplete({
		lookup: [frame_names admin="1" article=1],
		delimiter: /,/,
		minChars: 1,
		width: 600,
		dataHash: !0,
		adminPanel: !0,
		onSelect: function(){
			var matches = $('#articlesComplete').val().match(/^([^:]+): .+/);
			window.location.href = '[area admin/search_keyword_manager]?sku='+matches[1]+'&type=article'
		}
	}).enable();
});
</script>
<style type="text/css">
a.show{display: block; color: blue; font-size: .8em; padding: 5px 0;}
	#alert{
		position: fixed;
		bottom: 0;
		height: 20px;
		left: 200px;
		width: 600px;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
		padding: 15px;
		opacity: .9; 
	    filter: alpha(opacity=90); /* IE 7 and Earlier */
	    /* Next 2 lines IE8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	}
	a.remove{
		font-size: .9em;
		color: blue;
		text-decoration: underline;
		cursor: pointer;

	}
	#badKey{
		display: none;
		color: #F00;
		font-size: .8em;
	}
	#articlepreview {
		padding: 10px 0;
		width: 800px;
		height: 500px;
	}
	#preview{
		padding: 10px 0;
	}
	#frameDrop , #articleDrop{
		display: none;
	}
		/* Autocomplete demo dropdown styles */
	.autocomplete-w1 { position: absolute; top: 0px; left: 0px; margin: 6px 0 0 6px; /* IE6 fix: */ _background: none; _margin: 1px 0 0 0; }
	.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; margin: -6px 6px 6px -6px; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
	.autocomplete .selected { background: #c9e6ed; }
	.autocomplete div { padding: 5px 10px; white-space: nowrap; overflow: hidden; }
	.autocomplete strong { font-weight: normal; color: #3399FF; }
</style>
@_UI_STD_HEAD_@
[perl tables="search products"]
my $res = $Tag->query({
	sql => q|SELECT sku,name, type from search|,
	hashref => 1,
});
my $select_hash = {frame => [], article => []};
for (@$res){
	push @{$select_hash->{$_->{type}}}, $_
}
$Tag->tmpn('select_hash', $select_hash);
[/perl]
<table border="0" align="center">
	<tr>	
		<td>
			<table>
				<tr>
					<td valign="top" style="width: 800px; ">
						[if !cgi sku]
							<div id="frames">
								<p><b>Select a Frame:</b></p>
								<span>Autocomplete: </span><input type="text" id="framesComplete" onblur="if(this.value=='')this.value='Enter Frame Name or Sku';" onfocus="this.value='';" style="width: 600px;"  value="Enter Frame Name or Sku" />
								<br /><a class="show" data="frame" href="#">Click here to show a dropdown containing all frames.</a>
								<div id="frameDrop">
									<br /><br />
									<span>Dropdown: </span><select id="frameSelect" name="frameSelect">
								</div>
								[perl tables="search"]
								join "\n", sort map {
									sprintf('<option>%1$s</option>', $_->{sku}.': '.$_->{name})
								} @{$Scratch->{select_hash}->{frame}}
								[/perl]
								</select>
							</div>
							<div id="articles">
								<p><b>Select an Article: </b></p>
								<span>Autocomplete: </span><input type="text" id="articlesComplete" onblur="if(this.value=='')this.value='Enter Article Name or Sku';" onfocus="this.value='';" style="width: 600px;" value="Enter Article Name or Sku" />
								<br /><a class="show" data="article" href="#">Click here to show a dropdown containing all articles.</a>
								<div id="articleDrop">
									<br /><br />
									<span>Dropdown: </span><select id="articleSelect" name="articleSelect">
								</div>
								[perl tables="search"]
								join "\n", sort map {
									sprintf('<option>%1$s</option>', $_->{sku}.': '.$_->{name})
								} @{$Scratch->{select_hash}->{article}}
								[/perl]
								</select>
							</div>
						[else]
							[if cgi type eq 'frame']
								<div id="preview">
									<h1>Frame Preview</h1>
									<img src="/store/images/items_large/400x400/[cgi sku].jpg" width="400" height="165" alt="" title="">
								</div>
							[/if]
							[perl tables="secondary_terms products"]
							$Tag->tmpn('query_res',$Tag->query({
								sql => sprintf(
									'SELECT term, type from secondary_terms where sku = %1$s',
									$Tag->filter('dbi_quote', $CGI->{sku})
								),
								hashref => 1,
							}));
							[/perl]
							<input name="sku" id="sku" type="hidden" value="[cgi sku]" />
							<div class="wordContain">
								<div class="word" style="display: none">
									<input name="term" type="hidden" value="[loop-param term]" />
									<input name="type" type="hidden" value="[loop-param type]" />
									<span class="term"> &bull; [loop-param term]</span> <a style="float: right" class="remove">(remove)</a> <hr />
								</div>
								[loop object.mv_results=`$Scratch->{query_res} || []`]
									<div class="word">
										<input name="term" type="hidden" value="[loop-param term]" />
										<input name="type" type="hidden" value="[loop-param type]" />
										<span class="term"> &bull; [loop-param term]</span> <a style="float: right" class="remove">(remove)</a> <hr />
									</div>
								[/loop]
							</div>
							<div class="addWord">
								<form method="POST" id="addWord">
									<span>Enter Keyword: </span><input name="term" type="text" value="" />
									<input type="submit" value="Add" />
									<input name="type" type="hidden" value="[cgi type]" />
									<input name="add" type="hidden" value="1" />
									<br /><span id="badKey">You have entered an invalid character.</span>
								</form>
							</div>
							<div id="return">
								<a href="[area admin/search_keyword_manager]">Return to Listing</a>
							</div>
							[if cgi type eq 'article']
								<div id="articlepreview">
									<h1>Article Preview</h1>
									[perl tables="products search"]
									my $res = $Tag->query({
										sql => q|SELECT url from search where sku = |.$Tag->filter('dbi_quote',$CGI->{sku}).q| and type ='article'|,
										hashref => 1,
									});
									#bad hack to fix bad link 
									$res->[0]->{url} =~ s/\.$//;
									$Tag->tmpn('frameUrl', $res->[0]->{url});
									[/perl]
									<iframe src="[area href="[scratch frameUrl]"]" style="border: 2px solid lightblue" frameBorder="0" width="100%" height="100%" scrolling="Yes"></iframe>
								</div>
							[/if]
						[/else][/if]
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div id="template" style="display: none">
  <div class="templateContain">
	<p>%%VALUE%%</p>
  </div>
</div>
<div id="alert">

</div>
@_UI_STD_FOOTER_@