@_UI_STD_INIT_@[if-mm !advanced trafficstats]
[set ui_error]
[L]Not authorized for traffic statistics.[/L]
[/set]
[bounce page="__UI_BASE__/error"]
[value name=saved_report set=""]
[/if-mm]
[set page_title][L]Traffic Statistics[/L][/set]
[set ui_class]Reports[/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]stats.traffic[/set]
@_UI_STD_HEAD_@

<table border=0 __UI_T_PROPERTIES__ width="60%">
<tr class=rborder height=1><td colspan=2></td></tr>
<tr>
<td colspan=2 class=rmarq>[L]View stats for this month only[/L]</td>
</tr>
<tr class=rborder height=1><td colspan=8></td></tr>
<tr>
<td class=rnorm colspan=2>

<A HREF="[area href=process
				form="
						mv_todo=return
						mv_nextpage=admin/reports/traffic/ByAffiliate
						ui_begin_date=06/09/2006
						ui_end_date=06/16/2006
						mv_click=By+day						
						"]">[L]Last Week[/L]</A><BR>

</td>
</tr>
<tr class=rborder height=1><td colspan=8></td></tr>

</table>
<br>


[comment]

<table border=0 __UI_T_PROPERTIES__ width="60%">
<tr class=rborder height=1><td colspan=8></td></tr>
<tr>
<td colspan=3 class=rmarq>[L]View stats for any period of time[/L]</td>
</tr>
<tr class=rborder height=1><td colspan=8></td></tr>

<FORM ACTION="[process]">
[form-session-id]
<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
<INPUT TYPE=hidden NAME=mv_nextpage VALUE="__UI_BASE__/reports/traffic/ByAffiliate">

<TR>
<TD class=rnorm>

[L]Beginning:[/L]<BR>
	[display type=date name=ui_begin_date]

</TD>
<TD class=rnorm>

[L]Ending:[/L]<BR>
	[display type=date name=ui_end_date]

</TD>
[if-mm advanced affiliate=l]
<TD class=rnorm>

[L]For affiliate:[/L]<BR>
	<SELECT NAME=affiliate>
		<OPTION VALUE=""> --[L]all[/L]--
		[loop search="
			fi=affiliate
			st=db
			ra=yes
			ml=1000
			tf=name
			rf=affiliate,name
		"]<OPTION VALUE="[loop-code]">[loop-pos 1]
		[/loop]
	</SELECT>

</TD>
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
[else]
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
[/else]
[/if-mm]
	[set [L]By day[/L]]
	ui_by_day=1
	[/set]
	<BLOCKQUOTE>
	<INPUT TYPE=submit VALUE="[L]By month[/L]">&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE=submit NAME=mv_click VALUE="[L]By day[/L]">
	</BLOCKQUOTE>
</TD>
</TR>
<tr class=rborder height=1><td colspan=8></td></tr>
</TABLE>
</FORM>
</td>
</tr>

</tr>
</table>

[/comment]

@_UI_STD_FOOTER_@
