<!-- MODIFIED -->
[set page_title][L]Change active status[/L][/set]
[set ui_class]Orders[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[seti meta_header]
<!-- Javascript/css goes here -->
[/seti]

[if cgi update]
	[perl tables="sysvars" no_return=1]
		my $dbh = $Sql{'sysvars'};
		my $value;
		if( $CGI->{'switch-type'} eq 'current-ip' ){
			$value = $Session->{'host'};
		}elsif( $CGI->{'switch-type'} eq 'alternate-ip' ){
			$value = $CGI->{'alt-ip'};
		}elsif( $CGI->{'switch-type'} eq 'kill' ){
			$value = 1;
		}
		$dbh->do( 'UPDATE sysvars SET value = ? WHERE name = "TRYON_KILLSWX"',undef, $value || '' );
	[/perl]
	[bounce href="/@@MV_PAGE@@"]
[/if]
@_UI_STD_HEAD_@
	<form action="[area @@MV_PAGE@@]" method="POST">
	Current kill switch status: [var TRYON_KILLSWX]
	<br />
	New Status:
	<br />
	<ul>
		<li><label for="enabled"><input type="radio" name="switch-type" id="enabled" value="enabled" />Fully enabled</label></li>
		<li><label for="current-ip"><input type="radio" name="switch-type" id="current-ip" value="current-ip" />Current IP ( [data session host] )</label></li>
		<li><label for="alternate-ip"><input type="radio" name="switch-type" id="alternate-ip" value="alternate-ip" />Alternate IP: <input type="text" name="alt-ip" /></label>
		<li><label for="kill"><input type="radio" name="switch-type" id="kill" value="kill" />Disabled (except for beta users)</label></li>
	</ul>
	<input type="submit" name="update" value="Update killswitch status" />
	</form>
<!-- ----- END REAL STUFF ----- -->
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->