[seti page_title]Manage Models[/seti]

@_UI_STD_HEAD_@

<div style="float: left;">
<h1>Manage Models</h1>
</div>
<div style="float: right;">
<a href="[area admin/tryon]">< Back</a>
</div>


<div style="clear: both;">
<ul>

<li>Fly List of All Models (users albums), Select Model, Delete Model
</li>



[comment]
[query]

SELECT username, fname, lname
FROM userdb
WHERE ismodel=1
AND

[/query]
[/comment]



<li>Create New Model
</li>


</ul>

</div>








@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: order.html,v 2.17 2003/12/09 15:26:04 ton Exp $ -->
