[seti page_title]Manage Frames[/seti]

@_UI_STD_HEAD_@


<div style="float: left;">
<h1>Manage Frames</h1>
</div>

<div style="float: right;">
<a href="[area admin/tryon]">< Back</a>
</div>


<div style="clear: both;">

<ul>
<li><a href="[area href='admin/tryon_category' arg='Bendable Plastic Rimless Eyeglasses']">Bendable Plastic Rimless Eyeglasses</a></li>
<li><a href="[area href='admin/tryon_category' arg='Bendable Titanium']">Bendable Titanium</a></li>
<li><a href="[area href='admin/tryon_category' arg='Branded Eyeglasses']">Branded Eyeglasses</a></li>
<li><a href="[area href='admin/tryon_category' arg='Kids']">Kids</a></li>
<li><a href="[area href='admin/tryon_category' arg='Metal']">Metal</a></li>
<li><a href="[area href='admin/tryon_category' arg='Nickelodeon Kids Eyeglasses']">Nickelodeon Kids Eyeglasses</a></li>
<li><a href="[area href='admin/tryon_category' arg='Plastic']">Plastic</a></li>
<li><a href="[area href='admin/tryon_category' arg='Rimless']">Rimless</a></li>
<li><a href="[area href='admin/tryon_category' arg='Safety']">Safety</a></li>
<li><a href="[area href='admin/tryon_category' arg='Semi-Rimless']">Semi-Rimless</a></li>
</ul>



	[comment]
[include include/tryon_admin_product_results]


select all items by category
display all current models for each item

select shape for each item (or multiple items)

remove model, add model, edit model.


In each item, select the default image.

[/comment]


</div>









[comment]

<!-- ----- BEGIN REAL STUFF ----- -->

[if cgi submitted]


	[calc]
		if (!$CGI->{item_id} || !$CGI->{prefix} || !$CGI->{number_to_generate})
		{
			$Tag->tmp({ name => 'error', body => 'All fields in the generate coupons form require input. Please go back and try again.' });
			return;
		}
		return;
	[/calc]

	[if scratch error]
		[scratch error]
	[else]
		The following coupon codes were generated based on the master you selected:
		<br /><br />
		<form action="[process]" method="post">
		<textarea name="codes" cols="30" rows="40">[perl tables="coupon_codes"]
			my $dbh = $Sql{coupon_codes}
				or Log('No DBI handle to database');

			my $sth1 = $dbh->prepare('SELECT * FROM coupon_codes WHERE code = ?');
			my $sth2 = $dbh->prepare('SELECT COUNT(*) FROM coupon_codes WHERE code = ?');
			my $sth3 = $dbh->prepare('INSERT INTO coupon_codes VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)');

			$sth1->execute($CGI->{item_id});
			my @master = $sth1->fetchrow_array();

			my @chars = ('A','B','C','D','E','F','G','H','J','K','M','N','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','j','k','m','n','p','q','r','s','t','u','v','w','x','y','z','2','3','4','5','6','7','8','9');
			my $strln = 8;

			my ($cnt, @codes);

			for (1 .. $CGI->{number_to_generate})
			{
				$cnt ++;

				my $newcode;
				my $dupe = 1;

				while ($dupe)
				{
					$newcode = '';
					foreach (1 .. $strln) 
					{
					 	$newcode .= $chars[rand @chars];
					}
					$newcode = $CGI->{prefix} . '-' . $newcode;
					$sth2->execute($newcode);
					my ($c) = $sth2->fetchrow_array();
					$dupe = undef unless $c;
				}

				my @clone = @master;
				$clone[0] = $newcode;

				$sth3->execute(@clone);
				push(@codes, $newcode); 
			}

			return join("\n", @codes);
		[/perl]</textarea>
		</form>
	[/else][/if]
	
	
	
	
	
	
	
	
	
	
[else]
	[calc]
		if (!$Scratch->{item_id})
		{
			$Tag->tmp({ name => 'error', body => 'No coupon code was selected. Please go back and try again.' });
			return;
		}
		elsif ($Scratch->{item_id} =~ /\0/)
		{
			$Tag->tmp({ name => 'error', body => 'Please select only one coupon code to be the master!' });
			return;
		}
		return;
	[/calc]

	[if scratch error]
		[scratch error]
	[else]

<br /><br />

<style>
	#generate td{vertical-align:top;padding-bottom:14px}
	#generate td.ftitle{padding-right:8px}
</style>

<form action="[process]" method="post">
	<table id="generate">
		<tr>
			<td class="ftitle">Code To Clone:</td>
			<td>[scratch item_id]</td>
		</tr>
		<tr>
			<td class="ftitle">Prefix For New Codes:<br /><em style="font-size:10px">(XXX-a7rthqap)</em></td>
			<td><input type="text" name="prefix" value="" size="6" /></td>
		</tr>
		<tr>
			<td class="ftitle">Number Of Codes To Generate:</td>
			<td><input type="text" name="number_to_generate" value="" size="6" /></td>
		</tr>
	</table>
	<br />
	<input type="hidden" name="mv_session_id" value="[data session id]" />
	<input type="hidden" name="mv_nextpage" value="admin/generate_coupons" />
	<input type="hidden" name="mv_todo" value="return" />
	<input type="hidden" name="submitted" value="1" />
	<input type="hidden" name="item_id" value="[scratch item_id]" />
	<input type="submit" value="Generate Coupons" />
</form>

	[/else][/if]
[/else][/if]

<!-- ----- END REAL STUFF ----- -->








[/comment]


@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: order.html,v 2.17 2003/12/09 15:26:04 ton Exp $ -->
