[seti page_title]Manage Frames[/seti]

@_UI_STD_HEAD_@



<div style="float: left;">
<h1>Manage Frames</h1>
</div>

<div style="float: right;">
<a href="[area admin/tryon_categories]">< Back</a>
</div>











@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: order.html,v 2.17 2003/12/09 15:26:04 ton Exp $ -->









[comment]














































[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp current-page]flypage[/tmp]
[tmp flycode][either][data session arg][or][calcn] $Tag->env('SCRIPT_URI') =~ m|(\d{4,10}_\w+).html$|; $1[/calcn][/either][/tmp]

[fly-list code="[scratch flycode]"]
[tmp page_title][tmp canonical][item-code][/tmp][filter op=encode_entities interpolate=1][item-description][/filter][if cgi sunglasses] Sunglasses[else] Eyeglasses[/else][/if] by __COMPANY__[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js]1[/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header]
<meta property="og:title" content="__COMPANY__ [filter op=encode_entities interpolate=1][item-description][/filter] frame." />
<meta property="og:type" content="product" />
<meta property="og:url" content="http://__SERVER_NAME__/[item-code].html" />
<meta property="og:image" content="http://__SERVER_NAME__/store/images/items_large/400x400/[item-code].jpg" />
<meta property="og:site_name" content="__COMPANY__" />
<meta property="fb:admins" content="drmarlow" />
<meta property="og:description" content="[filter op=encode_entities interpolate=1][item-field detail][/filter]" />
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=3fab257e-724a-4932-92ac-e0584008c3e7&amp;type=website&amp;button=false"></script>
<style type="text/css">
	a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
	a.stbar.chicklet {height:16px;line-height:16px;}
</style>

[if variable TRYON_KILLSWX]
 [if type=session term=host op=ne compare="__TRYON_KILLSWX__"]
    [tmp tryon_killswx]1[/tmp]
  [/if]
[/if]

[if !scratch tryon_killswx]
<script src="__JQUERY__" type="text/javascript"></script>
<script src="/javascript/jquery.simplemodal-1.4.1.js" type="text/javascript"></script>
<script src="/javascript/simplemodal.js" type="text/javascript"></script>
<link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
[/if]


<script type="text/javascript">
if (top!=self) top.location.href=self.location.href;
</script>


[/tmp]
[set captcha-checked]1[/set]
[tmp available][calc]
my $hour = $Tag->time({},'%H');
if ($hour >= 9 && $hour <= 16)
{ return 1; } else { return 0; }
[/calc][/tmp]
@_TOP_@

[tmp productCatFilter][read-cookie name="productCatfilter"][/tmp]

[tmp cross_category][item-field category][/tmp]
[include include/order_forms/url_breadcrumb_links]
[set_recent_items sku="[item-code]" sunglasses="[cgi sunglasses]"]

<div id="subcontent">
	<h1 class="bc03 bc13">[filter op=encode_entities interpolate=1][item-description][/filter][if cgi sunglasses] Sunglasses[else] Eyeglasses[/else][/if]</h1>
	<div id="sec-container" class="c3">

[if variable POWER_REVIEWS_ENABLE]
	__POWER_REVIEWS_JS__
[/if]

[if type="explicit" compare=`
	return 1 if $Session->{browser} !~ /MSIE\s?6/;
	return 0;
`]
<div id="largeFrameLayer" style="display:none;"><div id="generic_dialog_popup"><table class="pop_box_table" style="width:750px;"><tr><td class="pop_box_topleft"></td><td class="pop_box_border"></td><td class="pop_box_topright"></td></tr><tr><td class="pop_box_border"></td><td class="pop_box_content" style="width:730px;"><div class="pop_box_main_content" style="width:728px;"><div class="pop_box_close"><a href="javascript:void(0);" onclick="largeFrameHide(); return false;"><img src="/img/template/popUpClose_en_US.gif" alt="Close" /></a></div><img src="/img/template/pixel.gif" id="largeFrameImage" alt="Large Frame View" /></div></td><td class="pop_box_border"></td></tr><tr><td class="pop_box_bottomleft"></td><td class="pop_box_border"></td><td class="pop_box_bottomright"></td></tr></table></div></div><div id="infoLayer" style="display:none;"><div id="generic_dialog_popup"><table class="pop_box_table" id="infoLayerTable"><tr><td class="pop_box_topleft"></td><td class="pop_box_border"></td><td class="pop_box_topright"></td></tr><tr><td class="pop_box_border"></td><td class="pop_box_content"><div class="pop_box_main_content" id="infoLayerContainer"><div id="infoLayerHead" onmousedown="dragStart(event, 'infoLayer');"><div class="pop_box_close"><a href="javascript:void(0);" onclick="infoLayerResetHide();"><img src="/img/template/popUpClose_en_US.gif" alt="Close" /></a></div><div id="infoLayerHeadTitle"></div></div><div id="infoLayerContent"></div></div></td><td class="pop_box_border"></td></tr><tr><td class="pop_box_bottomleft"></td><td class="pop_box_border"></td><td class="pop_box_bottomright"></td></tr></table></div></div>
[/if]

[set sku][item-code][/set]
[tmp itemsku][item-code][/tmp]

[comment] I don't think this is actually used on this page..[/comment]
[tmp base_price][item-field price][/tmp]
[include include/order_forms/calc_price tables="options"]
[include include/order_forms/descriptions]

[set cross_category][item-field category][/set]
[set upsell][item-data merchandising upsell_to][/set]
[set cross_codes][item-data merchandising cross_sell][/set]

[if cgi sunglasses]
	[tmp sv][/tmp]
	[tmp bif][/tmp]
	[tmp prog][/tmp]
	[query sql="SELECT options_lenstype FROM products WHERE sku='[item-code]'" type=list][list]
		[calc]
			my $opt = q{[sql-param options_lenstype]};
			my @ary = split(/ /, $opt);
			foreach $ar (@ary) {
				if ($ar =~ /SUN/ || $ar =~ /TRAN/) {
					$Scratch->{sv} = $ar;
					last;
				} 
			}
			foreach $ar (@ary) {
				if (($ar =~ /BIF/) && ($ar =~ /SUN/ || $ar =~ /TRAN/)) {
					$Scratch->{bif} = $ar;
					last;
				} 
			}
			foreach $ar (@ary) {
				if (($ar =~ /PROG/) && ($ar =~ /SUN/ || $ar =~ /TRAN/)) {
					$Scratch->{prog} = $ar;
					last;
				} 
			}
			return undef;
		[/calc]
	[/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch sv]'" type=list][list][tmp svprice][sql-param price][/tmp][/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch bif]'" type=list][list][tmp bifprice][sql-param price][/tmp][/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch prog]'" type=list][list][tmp progprice][sql-param price][/tmp][/list][/query]
[/if]

[tmp suntint]G15[/tmp]
[query sql="SELECT suntint FROM products WHERE sku='[item-code]' AND suntint != ''" type=list prefix=sun list-prefix=sun][sun][tmp suntint][sun-param suntint][/tmp][/sun][/query]
							
[tmp retail_price][item-field retail_price][/tmp]

[if-item-field inactive]
	[value name="cat" set="[item-field category]" hide=1]
	[if value cat eq 'Metal Eyeglasses']
		[bounce href="[area 11000]"]
	[elsif value cat eq 'Plastic Eyeglasses']
		[bounce href="[area 12000]"]
	[/elsif]
	[elsif value cat eq 'Bendable Titanium Eyeglasses']
		[bounce href="[area 15000]"]
	[/elsif]
	[elsif value cat eq 'Kids Eyeglasses']
		[bounce href="[area 13000]"]
	[/elsif]
	[elsif value cat eq 'Rimless Eyeglasses']
		[bounce href="[area 14000]"]
	[/elsif]
	[/if]
[/if-item-field]

[tmp branded][/tmp]

[perl no_return=1]
	$lookupcolor = q{[item-code]};
	$logo = q{[item-code]};
	$meas = q{[item-code]};
	$catcheck = q{[item-field category]};
	if ($catcheck =~ /Branded/)
	{
		$lookupcolor =~ s/(.*)_.*$/$1/;
		$logo =~ s/(.*)_.*_.*_.*$/$1/;
		$meas =~ s/(.*)_.*_.*$/$1/;
		$Scratch->{'lookupcolor'} = $lookupcolor;
		$Scratch->{branded} = 1;
	}
	else
	{
		$lookupcolor =~ /(\d{4,10})/;
		$Scratch->{'lookupcolor'} = $1;
	}
[/perl]

		<div id="center-container">
			<div id="step1-container">
				<ul>
					<li class="s1 bc11">Step 1: Choose Frame Color</li>
					<li class="s2 bc11">Step 2: Select Lens Type</li>
					<li class="s3 bc11">Step 3: Customize Your Lenses</li>
				</ul>
				<form action="[area step2]" method="post" id="orderform">
					<div>
						<input type="hidden" name="mv_session_id" value="[data session id]" />
						[if cgi sunglasses]<input type="hidden" name="sunglasses" value="1" />[/if]
						[include include/order_forms/compare1hide]
						[include include/order_forms/compare2hide]
						<ul>
						[loop search="fi=products/se=[scratch lookupcolor]/sf=sku/su=1"]
							[if type=explicit compare="'[loop-field inactive]' != '1'"]						
							[tmp thecolor][loop-field ven_color][/tmp]
							<li><input type="radio" name="thiscolor" id="color_[loop-field sku]" value="[filter op="no_white" interpolate=1][loop-field sku][/filter]" [if explicit][condition]$Tag->env('SCRIPT_URI') =~ /$Scratch->{thecolor}/[/condition]checked[/if] />&nbsp; <label for="color_[loop-field sku]">[loop-field ven_color]</label></li>
							[/if]
						[/loop]
						</ul>
						<input type="image" src="/img/template/btn-step1.png" alt="Continue To Step 2" id="btn-step1" onclick="checkFlypageForm(); return false;" />
					</div>
				</form>
				<img src="/img/template/step-bottom-bg.png" width="705" height="8" alt="" />
			</div>

			<script src="/js/legacy/common.js" type="text/javascript"></script>
			<script src="/js/legacy/form.js" type="text/javascript"></script>
			<script src="/js/legacy/step123.js" type="text/javascript"></script>
			[include include/form_errors]

			
			
			
			
			
			
			
			


[if !scratch tryon_killswx]
			
			

[value name="tryon_bouncepage" set="" hide="1"]

[if-item-field tot_frame_width]

[if type=file term="../../www/html/store/images/items_tryon/[item-code]_CLEAR.png"]


  [set tryon_parent_page]flypage[/set]
  
  [seti tryon_item_code][item-code][/seti]
  [seti tryon_tot_frame_width][item-field tot_frame_width][/seti]
  
  [image-size file="../../www/html/store/images/items_tryon/[item-code]_CLEAR.png"]
  [seti tryon_frame_height_px][scratch imgheight][/seti]
  [seti tryon_frame_width_px][scratch imgwidth][/seti]

  [seti tryon_sunglasses][cgi sunglasses][/seti]
  [if scratch tryon_sunglasses]
    [seti tryon_tint][scratch suntint][/seti]
  [else]
    [set tryon_tint]CLEAR[/set]
  [/else]
  [/if]
  


 
    <div id="basic-modal-content">
      [set show_tryon_tool_frame]1[/set]   
      <iframe id="tryonToolFrame" name="tryonToolFrame" frameBorder="0" scrolling="no"
        style="display: block; position: relative; margin: 0px; padding: 0px; border: 1px solid #aaaaaa;" 
        width="100%"
        [if scratch tryon-show-glasses]
          height="[scratch frameheight]px"
          src="[area tryon_adjust_glasses]"
        [elsif scratch tryon-show-arrange-dots]
          height="[scratch frameheight]px"
          src="[area tryon_arrange_dots]"
        [/elsif]
        [elsif scratch tryon-show-crop-image]
          height="[scratch frameheight]px"
          src="[area tryon_crop_image]"
        [/elsif]
        [elsif scratch tryon-show-upload-image]
          height="460px"
          src="[area tryon_upload_image]"
        [/elsif]
        [else] 
          height="460px"
          src="[area tryon_gather_profile]"
        [/else]
        [/if]
        >
      Please upgrade your browser to one that can use the iframe tag.
      </iframe>
    </div>

    
    

    <div id="tryon-modal-lg-display">   
      <iframe id="tryonLgDisplayFrame" name="tryonLgDisplayFrame" frameBorder="0" scrolling="no" width="400" height="600"
        style="display: block; 
               position: relative; 
               margin: 0px; padding: 0px; 
               border: 1px solid #aaaaaa; 
               overflow: hidden;
               " 
               [comment]
        src="[area tryon_large_display]"
              [/comment]
        >
      Please upgrade your browser to one that can use the iframe tag.
      </iframe>
    </div>

    <div id="tryon-modal-share">   
      <iframe id="tryonShareFrame" name="tryonShareFrame" frameBorder="0" scrolling="no" width="800" height="460"
        style="display: block; 
               position: relative; 
               margin: 0px; padding: 0px; 
               border: 1px solid #aaaaaa; 
               overflow: hidden;
               " 
               [comment]
        src="[area tryon_share_disclaimer]"
        [/comment]
        >
      Please upgrade your browser to one that can use the iframe tag.
      </iframe>
    </div>
    [if scratch tryon-show-display-frame]
    [/if]
    

[else]

  [set tryon_tot_frame_width][/set]

[/else]

[/if]

[/if-item-field]

[/if]
			
			
			
			
			<div id="step1-faceframe">
				<div id="step1-face">


				


[seti itemgender][item-field gender][/seti]

					[if scratch productCatFilter eq 'w']
						[seti defaultpic][image src="shape/[scratch lookupcolor]_pic_woman.jpg" src_only="1" makesize="300x300"][/seti]
					[elsif scratch productCatFilter eq 'm']
						[seti defaultpic][image src="shape/[scratch lookupcolor]_pic_men.jpg" src_only="1" makesize="300x300"][/seti]
					[/elsif]
					[else]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/else]
					[/if]
			
					[if-item-field category =~ /kid/i]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/if-item-field]		
					[if-item-field description =~ /kid/i]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/if-item-field]	
					
					[seti itemgroup][item-field category][/seti]
					[if scratch itemgroup eq "Kids Eyeglasses"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[elsif term="[item-field description]" op="=~" compare="/kid/i"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[/elsif]
					[else]
						[seti genderm]Male:[/seti]
						[seti genderf]Female:[/seti]
					[/else]
					[/if]

					
					
					
<iframe id="tryonDisplayFrame" name="tryonDisplayFrame" frameBorder="0" scrolling="no"
        style="display: block; position: relative; margin: 0px; margin-left: 18px; padding: 0px; border: none; width: 200px; overflow: hidden; background-color: #ffffff;" 
      [if !scratch tryon_killswx]
        [if scratch tryon_tot_frame_width]
          [if scratch tryon-show-display-frame]
            height="415px"
            src="[area tryon_display]"
          [else]
            height="425px"
            src="[area tryon_smart_shapes]"
          [/else]
          [/if]
        [else]
          height="425px"
          src="[area tryon_smart_shapes]"
        [/else]
        [/if]

      [else]
        height="425px"
        src="[area tryon_smart_shapes]"
      [/else]
      [/if] 
        >
Please upgrade your browser to one that can use the iframe tag.
</iframe>


				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				[comment]
				
				
				
				
				
					[seti itemgender][item-field gender][/seti]
					<script type="text/javascript">		
						function smartFitShapeShow(gender, shape) { document.getElementById('smartfitShape').style.backgroundImage = 'url('+faceshapes[gender][shape].src+')';}
						var faceshapes = {male: new Array(), female: new Array()};
						[if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Men')"]
						[loop list="ovl rec tri sqr dmd rnd"]
						faceshapes.male['[loop-code]'] = new Image();
						faceshapes.male['[loop-code]'].src = '[either][image src_only="1" src="shape/[scratch lookupcolor]_[loop-code]_male.jpg" makesize="300x300"][or][image src_only="1" src="shape/[scratch lookupcolor]_male_[loop-code].jpg" makesize="300x300"][/either]';
						[/loop]
						[/if]
						[if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Women')"]	
						[loop list="ovl rec tri sqr dmd rnd"]
						faceshapes.female['[loop-code]'] = new Image();
						faceshapes.female['[loop-code]'].src = '[either][image src_only="1" src="shape/[scratch lookupcolor]_[loop-code]_female.jpg" makesize="297x297"][or][image src_only="1" src="shape/[scratch lookupcolor]_female_[loop-code].jpg" makesize="297x297"][/either]';
						[/loop]
						[/if]			
					</script>
					[if scratch productCatFilter eq 'w']
						[tmp defaultpic][image src="shape/[scratch lookupcolor]_pic_woman.jpg" src_only="1" makesize="300x300"][/tmp]
					[elsif scratch productCatFilter eq 'm']
						[tmp defaultpic][image src="shape/[scratch lookupcolor]_pic_men.jpg" src_only="1" makesize="300x300"][/tmp]
					[/elsif]
					[else]
						[tmp defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/tmp]
					[/else]
					[/if]
			
					[if-item-field category =~ /kid/i]
						[tmp defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/tmp]
					[/if-item-field]		
					[if-item-field description =~ /kid/i]
						[tmp defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/tmp]
					[/if-item-field]	

					<div style="background:url([image src_only="1" src="[scratch defaultpic]" makesize="200x300"]) no-repeat bottom left" id="smartfitShape"></div>
					
					[seti itemgroup][item-field category][/seti]
					[if scratch itemgroup eq "Kids Eyeglasses"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[elsif term="[item-field description]" op="=~" compare="/kid/i"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[/elsif]
					[else]
						[seti genderm]Male:[/seti]
						[seti genderf]Female:[/seti]
					[/else]
					[/if]

					[if scratch itemgroup eq "Sports Eyewear"]
						&nbsp;
					[else]
					<table id="sfselector">				
						<tr>
							<td style="text-align:center;" bgcolor="#9f9f9f" class="smTextWhite">Click to see<br><span class="smTextSmartFit">SmartFit&trade;</span> Face Shapes</td>
						</tr>
						<tr>
							<td bgcolor="#9f9f9f" class="tac">		
								<table width="100%" cellspacing="0" cellpadding="1" border="0">						
									[if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Men')"]
									<tr>
										<td class="tar smText" bgcolor="#eeeeee">[scratch genderm]</td>
										<td bgcolor="#eeeeee" class="tal">
											[loop list="ovl rec tri sqr dmd rnd"]<a href="#" onclick="smartFitShapeShow('male','[loop-code]'); return false;"><img style="margin-top: 2px;" src="shape/icon_[loop-code]_men.gif" hspace="1" vspace="1" border="0" width="19" height="17" alt="Male Face Shape [loop-code]" /></a>[/loop]
										</td>
									</tr>
									[/if]	
									[if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Women')"]
									<tr>
										<td class="tar smText" bgcolor="#eeeeee">[scratch genderf]</td>
										<td bgcolor="#eeeeee" class="tal">	
											[loop list="ovl rec tri sqr dmd rnd"]<a href="#" onclick="smartFitShapeShow('female','[loop-code]'); return false;"><img src="shape/icon_[loop-code]_women.gif" hspace="1" vspace="1" border="0" width="19" height="17" alt="Female Face Shape [loop-code]" /></a>[/loop]
										</td>
									</tr>
									[/if]					
								</table>
							</td>
						</tr>			
					</table>		
					[/else]
					[/if]


					[/comment]
					
				
					
					
					
					
					
					

					[if !scratch tryon-show-display-frame]
					<div id="sharethis">
						<a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" width="16" height="16" alt="" /></a>
						<a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" width="16" height="16" alt="" /></a>
						<a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" width="16" height="16" alt="" /></a>
						<a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" width="16" height="16" alt="" />ShareThis</a>
						<script type="text/javascript">
							var shared_object = SHARETHIS.addEntry({
								title: document.title,
								url: document.location.href
							});
							shared_object.attachButton(document.getElementById("ck_sharethis"));
							shared_object.attachChicklet("email", document.getElementById("ck_email"));
							shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
							shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
						</script>
					</div>
					[/if]
					
					
					
					
					
					
					
					
					
					

					<div id="facebook"><iframe id="fbframe" name="fbframe" src="http://www.facebook.com/plugins/like.php?href=[filter op=urlencode interpolate=1]http://__SERVER_NAME__/[item-code].html[/filter]&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=70" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:70px;" allowTransparency="true"></iframe></div>
				</div>
			<div id="step1-frame">
				
[if scratch branded]
	[image src="items_large/[item-field image]" makesize="400x400" check_date="1" alt="[item-field alt_tag]" title="[item-field alt_tag]"]
[else]
	[tmp sunextra][/tmp]
	[tmp sunimg][calc]
		if ($CGI->{sunglasses}){
			$Scratch->{sunextra} = "&sunglasses=1";
			my $sun = q{[item-field image]};
			$sun =~ s/(\.jpg$|\.gif$)//;
			$sun .= "_G15.jpg";
			return $sun;
		}
	[/calc][/tmp]
	[tmp tintshow][calc]
		my $desc = q{[item-description]};
		if ($desc =~ /bendable plastic rimless/i){
			return "&tintshow=Brown\0Crystal\0Blue";
		}
		return undef;
	[/calc][/tmp]
	
	<a href="#" onclick="popWin('[area href=colors form="sku=[item-code][scratch sunextra][scratch tintshow]"]','colors'); return false;">[image src="[if cgi sunglasses]tints/[item-code]_[scratch suntint].jpg[else]items_large/[item-field image][/else][/if]" makesize="400x400" check_date="1" alt="[item-field alt_tag]" title="[item-field alt_tag]" width="400"]</a><br />
	<a href="#" onclick="popWin('[area href=colors form="sku=[item-code][scratch sunextra][scratch tintshow]"]','colors'); return false;">Click to see frame/lens color combinations</a>

	[if cgi sunglasses]
		[if type=explicit compare="'[item-field category]' =~ /kids/i"]
			[tmp kids]1[/tmp]
		[else]
			[tmp kids]0[/tmp]
		[/else][/if]
					<br /><br />Available tints: __SUNGLASS_TINTS__
	[/if]
[/else][/if]

[if-item-field detail]
					<p id="framedesc">
	[tmp framedetail][item-field detail][/tmp]
	[calc]
		$Scratch->{framedetail} =~ s/light \& thin Rx lenses/tinted Rx lenses/g if($CGI->{sunglasses});
		return undef;
	[/calc]				
	[filter op=encode_entities interpolate=1][scratch framedetail][/filter] ... 
	[if type=explicit compare="[item-field options_varilux] =~ /mandatory/"]
		[tmp var_man]1[/tmp]
		[if type=explicit compare="[item-field description] =~ /Tahoe/"]
			[query sql="SELECT price FROM options_price WHERE o_group='varilux' AND o_value='mandatory' LIMIT 1" type=list list-prefix=olist prefix=ol]
				[olist] 
					[tmp tahoe_price][price code=[item-code] lens=PROG noformat=1][/tmp] 
					[tmp new_prog_price][calc]
						$Scratch->{tahoe_price} += [ol-param price];
					[/calc][/tmp]
				[/olist]
			[/query]
		[else]
			[query sql="SELECT price FROM options_price WHERE o_value='PROGE_OPT3' OR o_value='PROGE_SUN7_2' LIMIT 1" type=list list-prefix=np prefix=np]
				[np]
					[tmp t_price][price code=[item-code] lens=PROG sunonly="[cgi sunglasses]" noformat=1][/tmp] 
					[tmp new_prog_price][calc]
						$Scratch->{t_price} += [np-param price];
					[/calc][/tmp]
				[/np]
			[/query]
		[/else][/if]
	[/if]
	[if type=explicit compare="[item-field options_varilux] =~ /mandatory/ && $CGI->{lens} =~ /PROG/"]
		[tmp var_man]1[/tmp]
		[if type=explicit compare="[item-field description] =~ /Tahoe/"]
			[query sql="SELECT price FROM options_price WHERE o_group='varilux' AND o_value='mandatory' LIMIT 1" type=list list-prefix=olist prefix=ol]
				[olist] 
					[tmp tahoe_price][price code=[item-code] lens=PROG noformat=1][/tmp] 
					[tmp new_prog_price][calc]
						$Scratch->{tahoe_price} += [ol-param price];
					[/calc][/tmp]
						<strong class="bc12">[currency][scratch new_prog_price][/currency]</strong>
				[/olist]
			[/query]
		[else]
						<strong class="bc12">[tmp new_prog_price][progressive-price sku=[item-code] tinted="[cgi sunglasses]" noformat=1][/tmp][currency][scratch new_prog_price][/currency]</strong>
		[/else][/if]
	[else]
						<strong class="bc12">[price code=[item-code] lens="[cgi lens]" sunonly="[cgi sunglasses]"]</strong>
	[/else][/if]
					</p>
[/if-item-field]
					<table id="step1-specs">
						<tr>
							<td id="framespecs">
								<script type="text/javascript">
									var frameLargeImages = new Array();
[loop search="fi=products/se=[scratch lookupcolor]/sf=sku/su=1"]
	[if type=explicit compare="'[loop-field inactive]' != '1'"]
									frameLargeImages['[loop-field ven_color]'] = new Image();
									frameLargeImages['[loop-field ven_color]'].src = '/store/images/items_large/[loop-field image]';
	[/if]
[/loop]
								</script>
								<table>
									<tr>
										<td colspan="2"><strong>Available Colors:</strong></td>
									</tr>
									<tr>
										<td colspan="2">
[loop search="fi=products/se=[scratch lookupcolor]/sf=sku/su=1"]
	[if type=explicit compare="'[loop-field inactive]' != '1'"]
											<img src="/img/template/magnifying_glass_icon.gif" width="15" height="15" alt="[item-filter entities][item-description][/item-filter]" />
											<a href="javascript:void(0)" onclick="largeFrameView('[loop-field ven_color]');" id="largeFrameLink[loop-field ven_color]" class="linkA">[loop-field ven_color]</a><br />
	[/if]
[/loop]
										</td>
									</tr>
									<tr><td colspan="2" id="fsdiv"><img src="/img/template/seperator_h_dotted.gif" alt="" width="209" height="1" class="lflt" /></td></tr>
									<tr><th>Size:</th><td>[item-field meas] mm</td></tr>
									<tr><th>Total Width:</th><td>[item-field tot_frame_width] mm</td></tr>
[if-item-field meas_b]
									<tr><th>Lens Height:</th><td>[item-field meas_b] mm</td></tr>
[/if-item-field]
									<tr><td colspan="2"><a href="javascript:void(0);" onclick="infoLayerDisplay('Frame Size Information','[if cgi sunglasses]/[/if]info_measurements.html?branded=[scratch branded]','numberinfo');" class="linkA">What do these numbers mean?</a></td></tr>
								</table>
							</td>
							<td><img src="/img/template/framedescvdiv.png" width="2" height="186" alt="" class="lflt" /></td>
							<td id="framerevs">
[if variable POWER_REVIEWS_ENABLE]
								<style type="text/css">
								        div.pr_snippet_product .prSnippetEngine div{padding-left:0;padding-top:0}
								</style>
								<div class="pr_snippet_product">
									<script type="text/javascript">POWERREVIEWS.display.snippet(document, { pr_page_id : "[item-code]" });</script>
								</div>
[/if]
								<div id="framepdf"><a href="/pdfs/[scratch lookupcolor].pdf" onclick="this.target='_blank'"><img src="[image src_only="1" default="items_headon/3002_ho.jpg" src="items_headon/[scratch lookupcolor]_ho.jpg" makesize="170x40" check_date="1"]" alt="" /><span>Print an actual-size picture of this frame</span></a></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<br class="clearb" />
			<div id="general_help" style="padding-top: 27px;">
				<div><img src="/img/template/phone-chat-fsa-bar.png" usemap="#helpnav" /></div>
				[if scratch available]
					<div style="position: absolute; padding: 52px 0px 0px 30px;">
						<a href="https://livechat.boldchat.com/aid/670605693652794504/bc.chat?cwdid=1769903376192997550" target="_blank" onclick="window.open((window.pageViewer && pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat1279459818233984038', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;">
							Click here to chat
						</a>
					</div>
				[/if]
				<div id="productLiveSupport" style="position: absolute; padding: [if scratch available]4px[else]14px[/else][/if] 0px 0px 17px;">[include include/chat]</div>
			</div>
			<br class="clearb" />
[include include/recent_items_display]

		</div>	


<br class="clearb" />

<script type="text/javascript">
<!--
	calcPrice();	
//-->
</script>

[if variable POWER_REVIEWS_ENABLE]
<div class="pr_review_summary" style="width:688px;margin:0 auto;padding:20px 0 0 0">
<script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "[item-code]" });</script>
</div>	
[/if]

[/fly-list]



<script type="text/javascript">
<!--
var merchant_id = "2742";
//-->
</script>
<script src="http://reporting.singlefeed.com/z/track.js?v=1.1" type="text/javascript"></script>
	</div>
</div>

<map name="helpnav">
	<area shape="rect"
		coords="510,0,704,79"
		href="#" 
		onclick="infoLayerDisplay('FSA Information','[area fsa_information]','fsainfo');"
		title="Flex Spending"
		alt="Flex Spending"
	/>
</map>

@_BOTTOM_@

[/comment]








