[perl tables="userdb coupon_codes ambassador_user ambassador_transaction ambassador_alias transactions"]
	my $output = {
		error => 0,
		response => 'The ambassador has been created successfully'
	};
	my $dup = $Tag->ambassador({ 
		function => 'check_coupon_eligibility', 
		coupon => $CGI->{coup501}
	});
	my $amb_info;
	if (!$dup) {
		$Tag->ambassador({
			function => 'create_user',
			email => $CGI->{email},
			coupon => $CGI->{coup501}
		});
		if ($CGI->{make_501c}){
			my $amb_res = $Tag->ambassador({
				function => 'update_501c_status',
				email => $CGI->{email}
			});
			if ($amb_res->{error}){
				$output = {
					error => 1,
					response => 'This customer is not eligible for 501c status.'
				};
				return $Tag->filter('json', $output);
			}
		}
		$amb_info = $Tag->ambassador({
			function => 'ambassador_info',
			email => $CGI->{email}
		});
	}else{
		$output = {
			error => 1,
			response => 'The coupon code you entered is already in use.'
		};
		return $Tag->filter('json', $output);
	}
	$output->{html} = sprintf(q|
		<form method="post" id="ambCreate" action="%1$s/admin/customer_view.html">
		    <input type="hidden" name="mv_action" value="process">
		    <input type="hidden" name="mv_todo" value="refresh">
		    <input type="hidden" name="customer" value="%2$s">
		    <input type="hidden" name="email" value="%3$s">
		    <b>Ambassador</b>: Yes
		    <br>
		    <b>Status</b>: %4$s
		    <button name="mv_click" value="amb_deactivate">Deactivate</button>   
		    <br>
		    <b>Coupon Code</b>: %5$s
		    <button name="mv_click" value="amb_new_coupon">Generate New</button>
		    <br>
		    <b><a href="%1$s/admin/ambassador_referrals.html?email=%3$s&amp;customer=%2$s">See this ambassadors referral history</a></b>
			<p>This ambassador %6$s 501c status.</p>
		</form>
	|, $Tag->var('NORMAL_SERVER'), $CGI->{customer}, $CGI->{email},$amb_info->{status}, $amb_info->{coupon}, $amb_info->{'501c'} ?'is a':'is not eligible for the' );
	return $Tag->filter('json', $output);
[/perl]