<!-- MODIFIED -->
[set page_title][L]View Items States[/L][/set]
[set ui_class]Items[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[tmp meta_header]
<style type="text/css">
#list  tr.frames td {
	padding: 4px;
}
span.activeSort{
	position: relative;
	font-size: 8px;
	color: blue;
}
#list th.activeSort{
	color: blue;
}
#list tr:hover{
	background: orange;
}
#list tr.noHover, tr.noHover:hover{
	background: #fff;
}
#list  th:hover{
	background: #FFF;
}
#list  th.sort{
	cursor: pointer;
	text-decoration: underline;
}
#list  tr.alternate{
	background: #F5f5f5;
}
</style>
[/tmp]
@_UI_STD_HEAD_@

[perl tables="products"]
my $dbh = $Sql{products};
return 'No handle' unless $dbh;
my $sth = $dbh->prepare(q\
	SELECT sku, description, ven_color, meas,meas_b, tot_frame_width, price, category, inactive, image
	FROM products where sku RLIKE '^[0-9]+_';
\);
$sth->execute;
my $products = fetchall_hashref($sth,qw\sku description ven_color meas meas_b tot_frame_width price category inactive image\);
my %grouped_products;
for my $p (@$products){
	my $digits = $p->{sku};
	$digits =~ /^(\d+)_/;
	$digits = $1;
	$p->{digits} = $digits;
	if ($grouped_products{$digits}){
		my $color = $p->{ven_color};
		if ($p->{inactive}){
			$color = '<span style="color: #C30000">'.$color.'</span>';
		}
		$grouped_products{$digits}->{colors} .= ", $color";
	}else{
		$p->{colors} = $p->{ven_color};
		my ($lw,$nose,$temple) = split '-', $p->{meas};
		$p->{lens_width} = $lw;
		$p->{nose} = $nose;
		$p->{temple} = $temple;
		$p->{height} = $p->{meas_b};
		$p->{width} = $p->{tot_frame_width};
		$p->{spring_hinge} = $p->{spring_hinge} ? 'Y' : 'N';
		$grouped_products{$digits} = $p;
	}
}
$Scratch->{frameList} = [ values %grouped_products ];
my $dir = ($Scratch->{dir_col} eq $CGI->{order_by} && $Scratch->{last_dir} eq 'DESC' ) ? 'ASC' : 'DESC';
if ($dir eq 'ASC'){
	if ($CGI->{order_by} && $CGI->{order_by} =~ /category|desciption/){
		$Scratch->{frameList} = [
			sort { $a->{$CGI->{order_by}} cmp $b->{$CGI->{order_by}}} @{$Scratch->{frameList}}
		];
	}elsif (grep $_ eq $CGI->{order_by},qw\lens_width nose temple height width price\){
		$Scratch->{frameList} = [
			sort { $a->{$CGI->{order_by}} <=> $b->{$CGI->{order_by}}} @{$Scratch->{frameList}}
		];
	}
} else {
	if ($CGI->{order_by} && $CGI->{order_by} =~ /category|desciption/){
		$Scratch->{frameList} = [
			sort { $b->{$CGI->{order_by}} cmp $a->{$CGI->{order_by}}} @{$Scratch->{frameList}}
		];
	}elsif (grep $_ eq $CGI->{order_by},qw\lens_width nose temple height width price\){
		$Scratch->{frameList} = [
			sort { $b->{$CGI->{order_by}} <=> $a->{$CGI->{order_by}}} @{$Scratch->{frameList}}
		];
	}
}
$Scratch->{last_dir} = $dir;
$Scratch->{dir_col} = $CGI->{order_by};
return;

sub fetchall_hashref{
	#its called a hash ref interchange, use it
	my ($sth, @columns) = @_;
	my $res;
	while (my $row = $sth->fetchrow_arrayref){
		my $count = 0;
		my $ref;
		for (@$row){
			$ref->{$columns[$count]} = $_;
			++$count;
		}
		push @$res, $ref;
	}
	return $res;
}
[/perl]
<div id="list">
	<form id="sort" method="POST" action="[area admin/view-item-states]" name="sort">
		<input type="hidden" name="mv_action" value="process" />
		<input type="hidden" name="mv_todo" value="return" />
		<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
		<input type="hidden" name="mv_session_id" value="[data session id]">
		<input id="order" type="hidden" name="order_by" value="[cgi order_by]" />
	</form>
	<table class="states" style="clear: both">
		<tr class="noHover">
			<th>Image</th>
			<th data="sku" class="sort">SKU</th>
			<th data="category" class="sort">Type</th>
			<th class="sort" data="description">Frames</th>
			<th>Colors</th>
			<th class="sort" data="lens_width">Lens Width</th>
			<th class="sort" data="nose">Nose</th>
			<th data="temple" class="sort">Temple</th>
			<th data="height" class="sort">Height</th>
			<th data="width" class="sort">Width</th>
			<th data="price" class="sort">Price</th>
			<th data="spring_hinge" class="sort">Spring Hinge</th>
		</tr>
		[loop object.mv_results=`$Scratch->{frameList} || []`]
		<tr class="frames [calcn]$Tmp->{icount}++ % 2 ? '' : 'alternate'[/calcn]">
			<td>
				<img width="75" src='/store/images/items_large/[either][loop-param image][or][looop-param sku].jpg[/either]' />
			</td>
			<td>[loop-param digits]</td>
			<td>[loop-param category]</td>
			<td>[loop-param description]</td>
			<td>[loop-param colors]</td>
			<td>[loop-param lens_width]</td>
			<td>[loop-param nose]</td>
			<td>[loop-param temple]</td>
			<td>[loop-param height]</td>
			<td>[loop-param width]</td>
			<td>[loop-param price]</td>
			<td>[loop-param spring_hinge]</td>
		</tr>
		[/loop]
	</table>
</div>
<script type="text/javascript"  src="__JQUERY__"></script>
<script type="text/javascript"  src="__JQUERY_UI__"></script>
<script type="text/javascript">
$(function(){
	$('th.sort').click(function(){
		$('#order').val($(this).attr('data'));
		$('#sort').submit();
	});
	[if cgi order_by]
		$('th.sort').each(function(){
			if ($(this).attr('data') == '[cgi order_by]'){
				$(this).append('<span class="activeSort"> ([scratch last_dir])</span>').addClass('activeSort');
			}
		});
	[/if]
})
</script>
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->