[if cgi lab]
	[tmp printfile][print-form
		form="sales-receipt"
		order_begin="[cgi order_begin]"
		order_end="[cgi order_end]"
		lab="[cgi lab]"
		all="[cgi allow_reprint]"
	][/tmp]
[elsif cgi order =~ /\S/ ]
	[tmp printfile][print-form
		form="sales-receipt"
		order="[cgi order]"
	][/tmp]
[/elsif]
[else]
[/else]
[/if]


[if scratch printfile]

	<script language="JavaScript">
		window.open('__SECURE_SERVER__/[scratch printfile]');
		history.back();
	</script>

[else]

	[calc interpolate=0]
		$Scratch->{ui_message} = "<font color=red>There was a problem trying to view the PDF you requested:<br>$Scratch->{ui_message}<br>$Scratch->{printfile}</font>";
		return;
	[/calc]
	[bounce href="[area __UI_BASE__/order]"]

[/else]
[/if]
