<!-- MODIFIED -->
[set page_title][L]View Frame States[/L][/set]
[set ui_class]Items[/set]
[set help_name]orders.main[/set]
[set icon_name]icon_orders.gif[/set]
[tmp meta_header]
<link rel="stylesheet" href="/css/ui_dot_luv.css" type="text/css" />
<style type="text/css">
tr.alternate{
	background: #F5f5f5;
}
#states td {
	padding: 10px;
}
#states tr:hover{
	background: orange;
}
#states tr.noHover, #states tr.noHover:hover{
	background: #fff;
}
#states th:hover{
	background: #FFF;
}
#states th.sort{
	cursor: pointer;
	text-decoration: underline;
}
#search label {
	float: left;
}
#search label.text{
	width: 140px;
}
#search label p{
	font-size: .8em;
	font-weight: bold;
	margin: 2px 0;
}
#search input[type="text"]{
	width: 100px;
}
#ui-datepicker-div th span {
	color: #fff;
}
span.activeSort{
	position: relative;
	font-size: 8px;
	color: blue;
}
th.activeSort{
	color: blue;
}
#search label.history{
	padding: 5px 0;
	font-size: .9em;
}
span.exDesc{
	font-size: .6em;
	display: block;
}
a.changeReturn{
	color: blue;
	font-size: 14px;
}
h4.filHead{
	margin: 3px 0;
}
table.states{
	padding-top: 20px;
}
#criteria{
	margin-left: 10px;
}
</style>
[/tmp]
@_UI_STD_HEAD_@
<div id="states">
	<div id="search">
		<h4 class="filHead">Filter Results:</h4>
		<form id="criteria" style="position: relative">
			<label class="text" for="start_date">
				<p>Effective Start:</p>
				<input type="text" id="start_date" name="start_date" value="[cgi start_date]" />
			</label>
			<label class="text" for="end_date">
				<p>Effective End:</p>
				<input type="text" id="end_date" name="end_date" value="[cgi end_date]" />
			</label>
			<label class="text" for="ex_s_date">
				<p>Return Start:</p>
				<input type="text" id="ex_s_date" name="ex_s_date" value="[cgi ex_s_date]" />
			</label>
			<label class="text" for="ex_e_date">
				<p>Return End:</p>
				<input type="text" id="ex_e_date" name="ex_e_date" value="[cgi ex_e_date]" />
			</label>
			<label class="text" for="sku">
				<p>Sku:</p>
				<input type="text" name="sku" value="[cgi sku]" />
			</label>
			<label for="mfr">
				<p>Manufacturer:</p>
				<select id="mfr" name="mfr">
					<option [if !cgi mfr]selected="selected"[/if] value="">No Manufacturer Selected</option>
					[perl tables="products"]
					my $dbh = $Sql{products};
					my $sth = $dbh->prepare('select distinct mfr from products order by mfr asc');
					my $out;
					$sth->execute;
					while (my $row = $sth->fetchrow_arrayref){
						next unless $row->[0] && $row->[0] =~ /[^ ]/;
						$out .= sprintf('<option %2$s value="%1$s">%1$s</option>', $row->[0], $row->[0] eq $CGI->{mfr} ? 'selected="selected"' : '')
					}
					return $out;
					[/perl]
				</select>
			</label>
			<label for="reason">
				<p>Reason:</p>
				<select id="reason" name="reason">
					<option [if !cgi reason]selected="selected"[/if] value="">No Reason Selected</option>
					[perl tables="products"]
					my $dbh = $Sql{products};
					my $sth = $dbh->prepare('select code,reason, inactive from product_status_codes order by inactive asc');
					my $out;
					$sth->execute;
					while (my $row = $sth->fetchrow_arrayref){
						$out .= sprintf('<option class="%3$s" %4$s value="%1$s">%2$s</option>', $row->[0], $row->[1], $row->[2] ? 'inactive':'', ($CGI->{reason} && $row->[0] eq $CGI->{reason}) ? 'selected="selected"' : '')
					}
					return $out;
					[/perl]
				</select>
			</label>
			<br style="clear:both" />
			<label class="history" for="view_complete_history">
				<input [if cgi view_complete_history]checked="checked"[/if] type="checkbox" value="[if cgi view_complete_history]1[/if]" id="compHis" name="view_complete_history" />
				<span>View Complete History</span>
			</label>
			<input type="submit" id="clearFilter" style="clear: both; float: left; margin: 4px;" value="Clear Seach Fields" />
			<input type="submit" id="filter" style="float: left; margin: 4px;" value="Filter Results" />
		</form>
	</div>
	<table class="states" style="clear: both">
		<tr class="noHover" colspan="5">
			<th data="sku" class="sort">SKU</th>
			<th data="mfr" class="sort">Manufactuer</th>
			<th>Preview</th>
			<th class="sort" data="newStatus">Status</th>
			<th class="sort" data="code">Reason</th>
			<th>Comments</th>
			<th data="expected_return" class="sort">Expected Return</th>
			<th data="effective" class="sort">Effective Date</th>
		</tr>
		[perl tables="products"]
		my (@where_clause, @wheres, $where_clause);
		my @valid_cols = qw\reason mfr sku start_date end_date ex_s_date ex_e_date\;
		if (grep $CGI->{$_}, @valid_cols){
			$where_clause = " WHERE 1 ";
			for my $key (@valid_cols){
				if ($key !~ /_date$/ && $CGI->{$key}){
					push @wheres, $CGI->{$key};
					my $new_key;
					if ($key eq 'reason'){
						$new_key = 'statusCode';
					}elsif($key eq 'sku'){
						$new_key = 'pr.sku';
					}else{
						$new_key = $key;
					}
					push @where_clause, " $new_key = ?";
				}elsif ($CGI->{$key}){
					if ($key =~ /^ex_/){
						my $dir = ($key =~ /^ex_e_/ ? '<=' : '>=');
						push @where_clause, " expected_return $dir ?";
						push @wheres, $CGI->{$key};
					} else {
						my $dir = ($key =~ /^start/ ? '>=' : '<=');
						push @where_clause, " effective $dir ?";
						push @wheres, $CGI->{$key};
					}
				}
			}
		}
		$where_clause .= ' AND '.(join ' AND ', @where_clause);
		my $dbh = $Sql{products};
		my $dir = ($Scratch->{dir_col} eq $CGI->{order_by} && $Scratch->{last_dir} eq 'DESC' ) ? 'ASC' : 'DESC';
		my %color_map = (
			1 => 'yellow',
			2 => 'red',
			3 => 'red',
			4 => 'grey',
			5 => 'grey',
			6 => 'green'
		);
		my $sth = $dbh->prepare(sprintf(
			'SELECT pr.sku, mfr, "" as preview_img, newStatus, reason, comment, expected_return, effective, statusCode, pr.description, pr.ven_color, p.id FROM productStatusLog p LEFT JOIN product_status_codes c on p.statusCode = c.code JOIN products pr on pr.sku = p.sku %1$s %2$s',
			 scalar(@wheres) ? $where_clause : '',
			$CGI->{order_by} ? " ORDER BY $CGI->{order_by} $dir" : ''
		));
		$Scratch->{last_dir} = $dir;
		$Scratch->{dir_col} = $CGI->{order_by};
		my ($out, $count) = ('',0);
		$sth->execute(@wheres);
		my @results;
		while (my $row = $sth->fetchrow_arrayref){
			push @results, [ map {
				$_
			} @$row ];
		}
		my $i = 0;
		# Only keep the most recent state change
		# unless otherwise requested. I am sure there
		# is a better way to do this, because this sucks
		# but my head hurts right now so I don't care
		if (!$CGI->{view_complete_history}){
			my %max_dates = map {
				my $sort_date = $_->[7];
				$sort_date =~ s/\D//g;
				$_->[0] => $sort_date
			} @results;
			for (@results){
				my $sort_date = $_->[7];
				$sort_date =~ s/\D//g;
				if ($max_dates{$_->[0]} < $sort_date){
					$max_dates{$_->[0]} = $sort_date;
				}
			}
			for (@results){
				my $sort_date = $_->[7];
				$sort_date =~ s/\D//g;
				if ($max_dates{$_->[0]} ne $sort_date){
					$_->[0] = '';
				}
			}
			@results = grep $_->[0], @results;
		}
		unless (@results){
			$out = '<tr><td colspan="8"><h1>Your search yielded no results.</h1></td></tr>';
			return $out;
		}
		for my $row (@results) {
			my $sku = $row->[0];
			my $edit_link = ($Tag->area('admin/change-state').'?load_sku='.$sku);
			$row->[2] = '<img src="/store/images/items_large/'.$row->[0].'.jpg" height="30" />';
			$row->[0] = '<a style="color:blue;font-size: 13px;" href="'.$edit_link.'">'.$sku.'</a>';
			$row->[0] .= sprintf('<span class="exDesc">%2$s %1$s</span>', $row->[9], $row->[10]);
			$row->[9] = $color_map{$row->[8]};
			$row->[6] ||= 'No Data Available';
			$row->[6] = '<a href="#" data-sku="'.$sku.'" data-id="'.$row->[11].'" class="changeReturn">'.$row->[6].'</a>';
			$out .= '<tr class="'.(++$count % 2 ? 'alternate' : '').'" colspan="5">'.sprintf(
				'<td>%1$s</td><td>%2$s</td><td>%3$s</td><td>%4$s</td><td style="background: %9$s;font-weight: bold;">%5$s</td><td>%6$s</td><td>%7$s</td><td>%8$s</td>', (map{
					$row->[$_] || '<center><b>N/A</b></center>'
				}(0..7, 9))
			).'</tr>';
		}
		return $out;
		[/perl]
	</table>
</div>
<script type="text/javascript"  src="__JQUERY__"></script>
<script type="text/javascript"  src="__JQUERY_UI__"></script>
<script type="text/javascript" src="/js/glDatePicker.min.js"></script>
<script type="text/javascript">
$(function(){
	$('th.sort').click(function(){
		var currentLink = window.location.href;
		currentLink = currentLink.replace(/order_by\=[A-Za-z_]+\&?/,'');
		window.location.href = currentLink + (currentLink.match(/\.html\?/) ? '&' : '?')+'order_by='+$(this).attr('data');
	});
	$('#filter').click(function(e){
		e.preventDefault();
		var currentLink = window.location.href;
		var link = '[area admin/view-states]?';
		var m = currentLink.match(/order_by=[A-Za-z_]+/);
		link += (m && m.length) ? (m[0]+'&') : '';
		link += $('#criteria').serialize();
		//strip empty cgi vars
		link = link.replace(/[A-Za-z_]+\=\&/g, '');
		link = link.replace(/(\&|\?)[A-Za-z_]+\=$/g, '');
		window.location.href = link;
	});
	$('#clearFilter').click(function(e){
		e.preventDefault();
		$('#search input[type=text]').val('');
		$('#search input[type=checkbox]').prop('checked', !1);
		$('#search select option').each(function(){
			$(this).removeAttr('selected');
		});
		$('#search select option').first().attr('selected','selected');
	})
	$('#start_date,#end_date,#ex_e_date,#ex_s_date').datepicker({
		dateFormat: "yy-mm-dd"
	});
	$('#compHis').change(function(){
		this.value = $(this).prop('checked') ? '1' : '';
	});
	$('a.changeReturn').click(function(e){
		var edit_link = $("<div />").append($(this).clone()).html();
		var sku = $(this).attr('data-sku');
		var row_id = $(this).attr('data-id');
		if (!sku || !row_id){
			alert('Unexpected Error!');
		}
		var $this = $(this).parent('td');
		$this.data('old', $(this).html());
		var id = randomString(8);
		$this.html($('<input type="text" id="'+id+'" value="" />'));
		$('#'+id).datepicker({dateFormat: "yy-mm-dd"}).change(function(){
			var val = this.value;
			var r = confirm('Would you like to change the expected return date to '+val+' for sku '+sku);
			if (r){
				$.ajax({
					url: '/admin/ajax_submission.html',
					data: {
						project: 'general', task: 'product-status-return-edit',
						row_id: row_id, r: Math.random(), return_date: val
					},
					dataType: 'json',
					success: function(response){
						if (response && response.success){
							var new_td = $(edit_link);
							new_td.text(val);
							$this.html(new_td);
						}else{
							alert('An unexpected error occured.')
						}
					}
				});
			}
		});
	});
	[if cgi order_by]
		$('th.sort').each(function(){
			if ($(this).attr('data') == '[cgi order_by]'){
				$(this).append('<span class="activeSort"> ([scratch last_dir])</span>').addClass('activeSort');
			}
		});
	[/if]
});
function randomString(length) {
    var chars = 'abcdefghiklmnopqrstuvwxyz'.split('');
    if (!length) {
        length = Math.floor(Math.random() * chars.length);
    }
    var str = '';
    for (var i = 0; i < length; i++) {
        str += chars[Math.floor(Math.random() * chars.length)];
    }
    return str;
}
</script>

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->