[comment]
ui_page: product_info/about_our_lenses.html
ui_type: page
ui_name: product_info/about_our_lenses.html
ui_page_template: noleft
ui_version: 4.9.6
ui_source: pages/product_info/about_our_lenses.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- [L]Product Info[/L] -- [L]About Our Lenses[/L][/tmp]
[tmpn members_only][/tmpn]
[tmp meta_header]
<style type="text/css">
#mid{
	margin-left: 10px;
}
h4.head{
	padding-top: 0px;
}
</style>
[/tmp]
[include templates/redesign/header]

<h3>[L]About Our Lenses[/L]</h3>
<div id="mid">
		<h4 class="head">Single-Vision Rx Lenses:</h4>
		<p>
		Full-Time Wear Distance Rx or Reading-only Rx		
		</p>
		
		<blockquote>
		<p>
		<b>Clear</b>								
		<br>
		<a href="#OPT1">Polycarbonate</a>						
		<br>
		<a href="#OPT3">Clear Polycarbonate Industrial-Grade Safety Lenses</a>
		<br>
		<a href="#OPT2">Seiko&reg; 1.67 Super-High Index</a>				
		</p>
		<p>
		<b>Tinted/Polarized Sun Lenses</b>			
		<br>
		<a href="#SUN1">Tinted CR-39&trade; optical resin Sun Lenses</a>
		<br>
		<a href="#SUN9">Polycarbonate Tinted Sun Lenses (Dark Tint)</a>
		<br>
		<a href="#SUN11">Tinted Polycarbonate Industrial-Grade Safety Lenses  </a>
		[comment]<br>
		<a href="#SUN8">Tinted Polycarbonate (thin & ultra-light) Lenses (70% tint)</a>[/comment]
		<br>
		<a href="#SUN3">Seiko&reg; 1.67 Super-High Index Tinted Sun Lenses</a>	
		<br>
		<a href="#SUN2">Polarized CR-39&trade; optical resin Sun Lenses</a>
		<br>
		<a href="#SUN4">Polarized Polycarbonate Sun Lenses</a>
		<br>
		<a href="#POLS5">Polarized Polycarbonate Industrial-Grade Safety Lenses</a>			
		</p>
		<p>
		<b>Clear Inside/Dark Outside</b> 				
		<br>
		<a href="#TRAN1">CR-39&trade; optical resin Next Generation&trade; Transitions&reg; Lenses</a>
		<br>
		<a href="#TRAN2">Polycarbonate Quantum&reg; Transitions&reg; Lenses</a>
		<br>
		<a href="#TRAN3">Polycarbonate Transitions&reg; Industrial-Grade Safety Lenses</a>
		<br>
		<a href="#TRAN2">CR-39&trade; optical resin Ellipse&trade; Transitions&reg; Lenses</a>
		<br>
		<a href="#TRAN2">Polycarbonate Airwear&trade; Ellipse&trade; Transitions&reg; Lenses</a>
		</p>
		</blockquote>
		<p>
		<h4>Regular Bifocals (Flat-Top 28) </h4>
		</p>
		<blockquote>
		<p>
		<b>Clear</b>
		<br>
		<a href="#BIF_OPT1">Polycarbonate Regular Bifocals</a>
		<br>
		<a href="#BIF_OPT2">Clear Industrial-Grade Polycarbonate Regular Bifocal Safety Lenses</a>
		<br><br>
		<strong>Tinted/Polarized Sun Lenses</strong> 
		<br>
		<a href="#BIF_SUN11">CR-39&trade; optical resin Tinted Regular Bifocals (Darkest Tint)</a>
		<br>
		<a href="#BIF_SUN12">Polycarbonate Tinted Sun Lenses (Dark Tint)</a> 
		<br>
		<a href="#BIF_SUN14">Tinted Industrial-Grade Polycarbonate Regular Bifocal Safety Lenses</a>
		<br>
		<a href="#BIF_SUN5">Polycarbonate Polarized Regular Bifocals</a>
		</p>
		</blockquote>
		<p>
		<h4>Progressives ("No-Line Bifocals")</h4> 
		</p>
		<blockquote>
		<p>
		<b>Clear</b> 
		<br>
		<a href="#PROG_OPT1">Clear Polycarbonate Sola&reg; Progressives</a>
		<br>
		<a href="#PROG_OPT4">Clear Industrial-Grade Polycarbonate Kodak&reg; Progressives</a>
		<br>
		<a href="#PROGE_OPT3">Clear Polycarbonate Airwear&reg; Varilux&reg; Ellipse&trade; Progressives</a>
		<br><br>
		<b>Tinted/Polarized Sun Lenses</b>
		<br>
		<a href="#PROG_SUN14">Tinted CR-39&trade; optical resin Sola&reg; Progressives (Darkest Tint)</a>
		<br>
		<a href="#PROG_SUN18">Tinted Industrial-Grade Polycarbonate Kodak&reg; Progressives</a>
		<br>
		<a href="#PROG_SUN16">Tinted CR-39&trade; optical resin Varilux&reg; Progressives (Darkest Tint)</a>
		<br>
		<a href="#PROGE_SUN7">Tinted CR-39&trade; optical resin Varilux&reg; Ellipse&trade; Progressives (Darkest Tint)</a>
		<br>
		<a href="#PROG_SUN15">Tinted Polycarbonate Sola&reg; Progressives (Dark Tint)</a>
		<br>
		<a href="#PROG_SUN17">Tinted Polycarbonate Varilux&reg; Progressives (Dark Tint)</a>
		<br>
		<a href="#PROGE_SUN18">Tinted Polycarbonate Varilux&reg Ellipse&trade; Airwear&reg; Progressives (Dark Tint)</a>
		<br>
		<a href="#PROG_SUN6">Polycarbonate Polarized Sola&reg; Progressives</a>
		<br><br>
		<b>Clear Inside/Dark Outside</b>
		<br>
		<a href="#PROG_TRAN3">Polycarbonate Transitions&reg; Sola&reg; Progressives</a>
		<br>
		<a href="#VLX_TRANS">Varilux&reg; Airwear&reg; Polycarbonate Quantum&reg; Transitions&reg; Progressives</a>
		
		[comment]
		<a href="#BIF_OPT1">Polycarbonate Regular Bifocals</a>
		<br>
		<a href="#VLX">Varilux&reg; Polycarbonate Progressives</a>
		</p>
		<p>
		<b>Tinted/Polarized Sun Lenses</b>
		<br>
		<a href="#BIF_SUN5">Polarized Polycarbonate Regular Bifocals</a>
		<br>
		<a href="#PROG_SUN6">Sola&reg; Polarized Polycarbonate Progressives</a>
		</p>
		<p>
		<b>Clear Inside/Dark Outside</b>
		<br>
		<a href="#PROG_TRAN3">VisionEase&reg; Sola&reg; Polycarbonate Quantum&reg; Transitions&reg; Progressive Lenses</a>
		<br>
		<a href="#PROGE_OPT3">Clear Polycarbonate Airwear&reg; Varilux&reg; Ellipse&trade; Progressives</a>
		<br>
		<a href="#PROGE_SUN7">Varilux&reg; Ellipse&trade; Tinted CR-39&trade; optical resin Progressives</a>
		<br>
		<a href="#VLX_TRANS">Varilux&reg; Airwear&reg; Polycarbonate Quantum&reg; Transitions&reg; Progressives</a>[/comment]
		</p>
		</blockquote>
		<p>
		<h4>Lens Coatings:</h4> 
		<blockquote>
		<a href="#ANTI">Premium Anti-Reflective Coating</a>
		</blockquote>

[include pages/special/info_lenses.html]
</div>
	<!-- end Content -->
[include templates/redesign/footer]
