[comment]
ui_page: product_info/our_guarantee.html
ui_type: page
ui_name: product_info/our_guarantee.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/product_info/our_guarantee.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Product Info -- 100% Quality Guarantee[/tmp]
[tmpn members_only][/tmpn]

[include templates/redesign/header]


<Div id="mid">
    <h3>[L]Product Info[/L]</h3>
<!-- begin Content -->
<p>At 39DollarGlasses.com, we want to make sure you have the best possible purchasing experience. If you decide for any reason that you would like to try a different style frame, please <a href="/contact_us.html">contact one of our knowledgeable customer service specialists</a>.  Frequently, we can re-cut the lenses into a new style of your choosing for <b>FREE!</b> (less shipping) . If your lenses cannot be reused in the new style, we will gladly exchange your glasses for any new pair of your choosing or issue you a full refund, less a small 30% new lens restocking fee.</p>
<!-- end Content -->
</div>
[include templates/redesign/footer]