[comment]
ui_page: use_your_own_frame.html
ui_type: page
ui_name: use_your_own_frame.html
ui_page_template: noleft
ui_version: 4.9.6
ui_source: pages/product_info/use_your_own_frame.html
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp page_title]Re-Lens Your Own Frame | 39 Dollar Eyeglasses[/tmp]
[tmp meta_description]Shop Lens Replacement for Round &amp; Rimless Eyeglass Frames at Discount Prices, Custom Cheap Eyeglass Frames only at 39 Dollar Glasses.[/tmp]
[tmp meta_keywords]Eyeglass Frames,discount eyeglass frames,custom eyeglasses,rimless eyeglass frames,eyeglass lens replacement,Eyeglasses[/tmp]
[tmpn members_only][/tmpn]
[tmp meta_header]
	[include include/order_forms/descriptions]
	[include include/checkout/descriptions]
	<script type="text/javascript">
		$(function($){
			$('input[name=mv_order_uyof_add]').change(function(){
				$('label[id^=lensLabel_]').each(function(){
					var $this = $(this);
					if( $('#rimlessYesInput').is(':checked') && $this.attr('id').match(/PROG_OPT5|PROG_SUN19|PROG_TRAN8|PROG_TRAN13|POLS9|POLS2|TRAN4|TRAN1|SUN1|BIF_POLS7|BIF_POLS10/) ){ 
						$this.closest('tr').hide();
					}else if( $('#rimlessYesInput').is(':not(:checked)') ){
						$this.closest('tr').show();
					}
				});
				if( $('#rimlessYesInput').is(':checked') ){
					$('#lenspkg_data table:eq(1) tr:eq(2), #lenspkg_data table:eq(1) tr:eq(3), #lenspkg_data table:eq(1) tr:eq(10), #lenspkg_data table:eq(1) tr:eq(11), #lenspkg_data table:eq(1) tr:eq(12)').hide();
				}else{
					$('#lenspkg_data table:eq(1) tr:eq(2), #lenspkg_data table:eq(1) tr:eq(3), #lenspkg_data table:eq(1) tr:eq(10), #lenspkg_data table:eq(1) tr:eq(11), #lenspkg_data table:eq(1) tr:eq(12)').show();
				}
				return true;
			});
			$('.tintOption').unbind().click(function(e){
				e.preventDefault();
				$('.tintOption').removeClass('selected');
				$(this).addClass('selected');
				$('input[name=mv_order_tint]').val($(this).attr('data-val'));
				$('input[name=nothing]').removeAttr('checked')
				$(this).children('input').attr('checked','checked');
				return !1;
			})
		});

	function reqWin(desktopURL,alternateWidth,alternateHeight,noScrollbars,resizable,winName) { if ((alternateWidth && self.screen.availWidth * 0.8 < alternateWidth) || (alternateHeight && self.screen.availHeight * 0.8 < alternateHeight)) { noScrollbars = false; alternateWidth = Math.min(alternateWidth, self.screen.availWidth * 0.8); alternateHeight = Math.min(alternateHeight, self.screen.availHeight * 0.8); } else noScrollbars = typeof(noScrollbars) != "undefined" && noScrollbars == true; window.open(desktopURL, (winName ? winName : 'requested_popup'), 'toolbar=no,location=no,status=no,menubar=no,scrollbars=' + (noScrollbars ? 'no' : 'yes') + ',width=' + (alternateWidth ? alternateWidth : 480) + ',height=' + (alternateHeight ? alternateHeight : 220) + ',resizable=' + (resizable ? 'yes' : 'no') ); return false; }

	var animations = $( {} );

	var current_step;
	var rxchecked = false;

	[perl failure='Embedded perl error. /uyof - lens type selection' subs=1]
		my $out = "var lp_labels = new Array();\n";
		my @options = ('SVF','SVR','BIF','PROG');
		for my $label (@options)
		{
			$out .= "\t\tlp_labels['" . $label . "'] = '" . $desc_mv_order_lens{$label} . "';\n";
		}
		return $out;
	[/perl]

	function finalSubmit(){
		var f = document.orderform;
		var c_fields = ['b_fname','b_lname','b_address1','b_city','b_state','b_city','phone_day'];
		var r_fields = ['b_fname','b_lname','b_address1','b_city','b_state','b_city','phone_day'];
		[if !session logged_in]
			c_fields.push('password1','password2');
			r_fields.push('password1','password2');
		[/if]
		c_fields.push('terms_approve');
		r_fields.push('terms_approve');

		if (document.getElementById('creditCardYes').checked == true){
			c_fields.push('mv_credit_card_number','mv_credit_card_cvv2');
			r_fields.push('mv_credit_card_number','mv_credit_card_cvv2');
		}

		field_on = checkFields(c_fields, r_fields, 'uyof_1_');
		[if !session logged_in]
			if (f.password1.value != f.password2.value){
				errs.push('uyof_1_pwmatch');
			}
		[/if]

		var err_count = errs.length;
		if (err_count > 0){
			var err_string = '<b>There is a slight problem:</b><ul>';
			errordisplay = $('#form_error_display_6');
			errormsg = $('#form_error_msg_6');
			errClear(6);
			for (i=0;i < err_count;i++){
				err_string += '<li>'+form_error_array[errs[i]]+'</li>';
			}
			errormsg.html( err_string + '</ul>' );
			$('#form_error_display_6').show();
			$('html, body').animate({
				scrollTop: $('#form_error_display_6').offset().top
			});
			errs = new Array();
			window.location.hash='response';
			return false;
		}
		else{
			var sel;
			for (i=0; i < f.mv_order_lt.length; i++)
				if (f.mv_order_lt[i].checked)
					sel = i;
			f.mv_order_item.value = 'LENS_PKG' + $('#lpl_'+f.mv_order_lt[sel].value).val();

			$('#uyof_button').hide();
			$('#please_wait').show();
			return true;
		}
	}

	function goBack(step){
		$('#uyof_button').fadeOut().empty();

		for (inc=current_step;inc>step;inc--)
			stepCollapse(inc);

		button = buttonCode(step);

		switch (step)
		{
			case 1:
				animations.queue(function(){
					$('#frame_input').slideUp(300,function(){
						clearLensTypeSelections();
						clearLensPkgSelections();
						clearLensPkgOptions();
						animations.dequeue();
					});
				});
				animations.queue(function(){
					$('#frame_data').slideDown(300, function(){ animations.dequeue() });
				});
				animations.queue(function(){
					$('#uyof_button').fadeIn(function(){ animations.dequeue() });
				});
				break;
			case 2:
				animations.queue(function(){
						$('#prescription_input').slideUp(300,function(){
						clearLensTypeSelections();
						clearLensPkgSelections();
						clearLensPkgOptions();
						animations.dequeue();
					});
				});
				animations.queue(function(){
					$('#prescription_data').slideDown(300,function(){ animations.dequeue() });
				});
				break;
			case 3:
				animations.queue(function(){
					$('#lenstype_input').slideUp(300, function(){
						clearLensTypeSelections();
						clearLensPkgSelections();
						clearLensPkgOptions();
						selectTint();
						animations.dequeue();
					});
				});
				animations.queue(function(){
					$('#lenstype_data').slideDown(300, function(){ animations.dequeue() });
				});
				break;
			case 4:
				animations.queue(function(){
					$('#lenspkg_input').slideUp(300, function(){
						clearLensPkgSelections();
						clearLensPkgOptions();
						selectTint();
						animations.dequeue()
					});
				});
				animations.queue(function(){
					$('#lenspkg_data').slideDown(300, function(){ animations.dequeue() });
				});
				break;
			case 5:
				animations.queue(function(){
					$('#lensopts_input').slideUp(300,function(){ animations.dequeue() });
				});
				animations.queue(function(){
					$('#lensopts_data').slideDown(300,function(){ animations.dequeue() });
				});
				break;
		}

		animations.queue(function(){
			$('#uyof_button').append( $(button) ).fadeIn(function(){ animations.dequeue() });
		});

		return false;
	}
	function clearLensPkgOptions(){
		var f = document.orderform;
		f.mv_order_tint.value = 'CLEAR';
		for (i=0; i < f.mv_order_coating.length; i++)
			f.mv_order_coating[i].checked = false;
		document.getElementById('arNoInput').checked = true;
		$('#tint_G15, #tint_BLUE, #tint_ROSE, #tint_ORANGE, #tint_YELLOW, #lensopts_data').show();
		$('#lensopts_input').hide()
	}
	function clearLensTypeSelections(){
		var f = document.orderform;
		for (i=0; i < f.mv_order_uyof_lens.length; i++)
			f.mv_order_uyof_lens[i].checked = false;
		$('#lenstype_input').hide();
		$('#lenstype_data').show();
	}
	function clearLensPkgSelections(){
		var f = document.orderform;
		for (i=0; i < f.mv_order_lt.length; i++)
			f.mv_order_lt[i].checked = false;
		$('#lenspkg_input').hide();
		$('#lenspkg_data').show();
	}
	function stepCollapse(step){
		switch (step)
		{
			case 2:
				$('#prescriptionbox').fadeOut();
				break;
			case 3:
				$('#lenstype').fadeOut();
				break;
			case 4:
				$('#lenspkg').fadeOut();
				break;
			case 5:
				$('#lensopts').fadeOut();
				break;
			case 6:
				$('#checkout').fadeOut();
				break;
		}
	}
	function goToStep(step)	{
		var f = document.orderform;
		if (!check(step))
			return false;

		$('#uyof_button').empty();

		current_step = step;
		button = buttonCode(step);

		switch (step)
		{
			case 1:
				animations.queue(function(){
					$('#frame_data').slideDown(300,function(){ animations.dequeue() });
				});
				break;
			case 2:
				animations.queue(function(){
					$('#frame_data').slideUp(700, function(){ animations.dequeue(); });
				});
				updateFrameInput();
				animations.queue(function(){
					$('#frame_input').slideDown(300,function(){
						$('#prescription_input').hide();
						$('#prescription_data').show();
						animations.dequeue();
					});
				});
				animations.queue(function(){
					$('#uyof_button').fadeOut(function(){
						//$(this).text(button);
						
						animations.dequeue();
					});
				});
				animations.queue(function(){
					$('#prescriptionbox').fadeIn(function(){ animations.dequeue() });
				});
				if( !$('#mv_order_pupd').length )
					setTimeout("loadPrescription(2)", 1000);
				break;
			case 3:
				animations.queue(function(){
					$('#prescription_data').slideUp(700,function(){
						updatePrescriptionInput();
						$('#prescription_input').slideDown(300,function(){
							$('#lenstype').fadeIn();
						});
						animations.dequeue();
					});
				});
				break;
			case 4:
				animations.queue(function(){
					$('#lenstype_data').slideUp(700,function(){
						updateLensTypeInput();
						$('#lenstype_input').slideDown(300,function(){
							hideLensPkgs();
							var sel;
							for (i=0; i < f.mv_order_uyof_lens.length; i++){
								if (f.mv_order_uyof_lens[i].checked) sel = i;
							}
							if (f.mv_order_uyof_lens[sel].value == 'BIF')
								$('#pkgBIF').show();
							else if (f.mv_order_uyof_lens[sel].value == 'PROG')
								$('#pkgPROG').show();
							else
								$('#pkgSV').show();

							$('#lenspkg').fadeIn();
						});
						animations.dequeue();
					});
				});
				break;
			case 5:
				animations.queue(function(){

					$('#lenspkg_data').slideUp(700, function(){
						updateLensPkgInput();
						$('#lenspkg_input').slideDown(300,function(){
								showOpts();
								$('#lensopts').fadeIn();
						});
						animations.dequeue();
					});
				});
				break;
			case 6:
				animations.queue(function(){
					$('#lensopts_data').slideUp(700,function(){
						updateLensOptsInput();
						$('#lensopts_input').slideDown(300,function(){
							var total_cost = __UYOF_SHIP_COST__;
							var opt_cost = 0;

							var sel;
							for (i=0; i < f.mv_order_lt.length; i++){
								if (f.mv_order_lt[i].checked) sel = i;
							}
							var lp_cost = $('#lpp_'+f.mv_order_lt[sel].value).val();

							if( $('#rimlessYesInput:checked').length )
								opt_cost = parseFloat(opt_cost) + 50;

							if ( $('#arYesInput:checked').length )
								opt_cost = parseFloat(opt_cost) + 24.95;

							total_cost = parseFloat(total_cost) + parseFloat(opt_cost) + parseFloat(lp_cost);

							$('#lensrep_cost').text( formatCurrency(lp_cost) );
							$('#lensopt_cost').text( formatCurrency(opt_cost) );
							$('#lenstot_cost').text( formatCurrency(total_cost) );

							$('#checkout').fadeIn(function(){
								$('#ship_msg').fadeIn();
							});
						});
						animations.dequeue();
					});
				});
				break;
		}

		animations.queue(function(){
			$('#uyof_button').append($(button)).fadeIn('slow',function(){ animations.dequeue() });
		});

		return false;
	}
	function formatCurrency(num){
		num = num.toString().replace(/\$|\,/g,'');
		if (isNaN(num))
			num = '0';
		sign = (num == (num = Math.abs(num)));
		num = Math.floor(num*100+0.50000000001);
		cents = num%100;
		num = Math.floor(num/100).toString();
		if (cents < 10){
			cents = '0' + cents;
		}
		for (var i=0;i < Math.floor((num.length-(1+i))/3); i++){
			num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
		}
		return (((sign)?'':'-') + '$' + num + '.' + cents);
	}
	function updateLensOptsInput(){
		var f = document.orderform;
		var sel;
		for (i=0; i < f.mv_order_lt.length; i++)
			if (f.mv_order_lt[i].checked)
				sel = i;
		var lp = $('#lpl_'+f.mv_order_lt[sel].value).val()

		if (in_array(lp, ['A','AX','BX','J','U','L','K','HD'])){
			$('#tint_color_input').text('Clear');
			var f = document.orderform;
			f.mv_order_tint.value = 'CLEAR';
		}
		else if (in_array(lp, ['XC','XJC'])){
			$('#tint_color_input').text('Changes from green to brown');
			var f = document.orderform;
			f.mv_order_tint.value = 'GREY';
		}
		else{
			$('#tint_color_input').text(f.mv_order_tint.value);
		}

		if (!in_array(lp, ['C','D','I','JUI','UI','LI']))
		{
			$('#ar_coating_title').text('AR coating:');
			if ( $('#arYesInput:checked').length )
				$('#ar_coating_input').text('Yes');
			else
				$('#ar_coating_input').text('No');
			if ($('#arIncInput:checked').length){
				$('#ar_coating_input').text('Included at no extra charge.');
			}
		}
		else{
			$('#ar_coating_input').text('')
			$('#ar_coating_title').text('')
		}
	}
	function showOpts(){
		var f = document.orderform;
		$('#tint_div, #ar_div').hide();

		var sel;
		for (i=0; i < f.mv_order_lt.length; i++)
			if (f.mv_order_lt[i].checked)
				sel = i;
		var lp = $('#lpl_'+f.mv_order_lt[sel].value).val();

		if (in_array(lp, ['C','D','I','JUI','UI','LI','HDI','KI']))
		{
			f.mv_order_tint.value = 'GREY';
			$('#tint_GREY').addClass('selected').children('input').attr('checked','checked');
			//$('#mv_order_tint_GREY').attr('src','/store/images/radio_on.gif');
			$('#tint_div').show();
		}

		if( in_array(lp, ['UC','JUC','Q']) ){
			f.mv_order_tint.value = 'G15';
			$('#tint_GREY, #tint_BROWN').hide();
			$('#tint_div').show();
			$('#tint_G15').addClass('selected').children('input').attr('checked','checked');
		}
		if (in_array(lp, ['E','F','G','GS','H','WP','M','JUT','N','LN','HDN','HDT','UT','P']))
		{
			f.mv_order_tint.value = 'GREY';
			$('#tint_G15, #tint_BLUE, #tint_ROSE, #tint_ORANGE, #tint_YELLOW').hide();
			//$('#mv_order_tint_GREY').attr('src','/store/images/radio_on.gif');
			$('#tint_GREY').addClass('selected').children('input').attr('checked','checked');
			$('#tint_div').show();
		}
		if (!in_array(lp, ['C','D','I','JUI','UI','LI','HDI','JUT','UT','KI'])){
			$('#ar_div').show();
		}else{
			$('#ar_div').hide();
			$('input[name=mv_order_coating]').removeAttr('checked')
			$('#arNoInput').attr('checked','checked');
		}
		if(in_array(lp,['BX','AX'])){
			$('#ar_div').hide();
			$('#ar_included').show();
			$('input[name=mv_order_coating]').removeAttr('checked')
			$('#arIncInput').attr('checked','checked');
		}
	}
	function selectTint(sel){
		var f = document.orderform;
		var colors = ['BROWN','GREY','G15','BLUE','ROSE','ORANGE','YELLOW'];
		for (var i=0;i < colors.length;i++){
			$('#tint_'+sel).removeClass('selected').children('input').removeAttr('checked')
		}
		if (sel){
			$('#tint_'+sel).addClass('selected').children('input').attr('checked','checked');
			f.mv_order_tint.value = sel;
		}
	}
	function in_array(needle, haystack){
		for (var key in haystack)
			if (needle === haystack[key])
				return true;
		return false;
	}
	function hideLensPkgs(){
		$('#pkgSV, #pkgBIF, #pkgPROG').hide();
	}
	function check(step)
	{
		var f = document.orderform;

		var rxerror = false;
		var current_step = parseFloat(step) - 1;

		errordisplay = $('#form_error_display_'+current_step).hide();

		switch (step)
		{
			case 1:
				return true;
				break;
			case 2:
				field_on = checkFields(['mv_order_uyof_add','lens_describe'], ['mv_order_uyof_add','lens_describe'], 'uyof_1_');
				return errCheck(locale, current_step);
				break;
			case 3:
				check_fields = new Array('mv_order_pupd', 'mv_order_odsph', 'mv_order_ossph', 'mv_order_odcyl', 'mv_order_oscyl', 'mv_order_odaxi', 'mv_order_osaxi');
				required_fields = new Array('mv_order_pupd', 'mv_order_odsph', 'mv_order_ossph');

				field_on = checkFields(check_fields, required_fields);

				if ((!field_on['mv_order_odcyl'] && field_on['mv_order_odaxi']) || (field_on['mv_order_odcyl'] && !field_on['mv_order_odaxi']))
					errs.push('2_od_ca');

				if ((!field_on['mv_order_oscyl'] && field_on['mv_order_osaxi']) || (field_on['mv_order_oscyl'] && !field_on['mv_order_osaxi']))
					errs.push('2_os_ca');

				pdvalue = $('#mv_order_pupd').val();

				if( String(pdvalue).match(/\//) ){
					var tmp = {
						od: String(pdvalue).replace(/^([\d.]+)\/?.*$/,"$1"),
						os: String(pdvalue).replace(/^.*?\/?([\d.]+)$/,"$1")
					};
					pdvalue = tmp;
				}

				var isBinocular;

				odsph = $('#mv_order_odsph').val();
				ossph = $('#mv_order_ossph').val();
				odcyl = $('#mv_order_odcyl').val();
				oscyl = $('#mv_order_oscyl').val();

				if (!errCheck(locale, current_step)){
					return false;
				}



				if (!rxchecked){
					if (pdvalue){

						if( typeof pdvalue == 'object' ){
							[comment]
							// Check if both values are above the minimum threshold for a binocular pd
							[/comment]
							if( pdvalue.od >= 50.5 && pdvalue.os >= 50.5 ){
								isBinocular = true;

								if( pdvalue.od - pdvalue.os > 5 ){
									errs.push('pd_gap');
									rxerror = true;
								}
							}
						}else{
							isBinocular = true;
						}

						// First conditional checks if the individual parts of the PD are less than the minimum
						// the second conditional checks if a single pd is less than the minmum
						if( ( typeof pdvalue == 'object' && ( pdvalue.od < 27.5 || pdvalue.os < 27.5 ) ) || pdvalue < 53.5 ){
							errs.push('2_pd_toolow');
							rxerror = true;
						}
						// Check if the PD is too high
						if( ( typeof pdvalue == 'object' && ( !isBinocular && (pdvalue.od > 35.5 || pdvalue.os > 35.5) ) ) || pdvalue > 70.5 ){
							errs.push('2_pd_toohigh');
							rxerror = true;
						}
					}

					if (odsph != 'PLANO' && ossph != 'PLANO'){
						if (((odsph && odsph < 0) && (ossph && ossph > 0)) || ((odsph && odsph > 0) && (ossph && ossph < 0))){
							errs.push('2_sph_opposite');
							rxerror = true;
						}
					}
					if (((odcyl && odcyl < 0) && (oscyl && oscyl > 0)) || ((odcyl && odcyl > 0) && (oscyl && oscyl < 0))){
						errs.push('2_cyl_opposite');
						rxerror = true;
					}
				}

				if (rxerror){
					rxchecked = true;
					return errCheck(locale, current_step);
				}
				else
					rxchecked = false;

				return true;
				break;
			case 4:
				var c_fields = ['mv_order_uyof_lens'];
				var r_fields = ['mv_order_uyof_lens'];

				var sel;
				for (i=0; i < f.mv_order_uyof_lens.length; i++)
					if (f.mv_order_uyof_lens[i].checked)
						sel = i;

				if (in_array(f.mv_order_uyof_lens[sel].value, ['BIF','PROG'])){
					c_fields.push('mv_order_odadd','mv_order_osadd');
					r_fields.push('mv_order_odadd','mv_order_osadd');
				}

				field_on = checkFields(c_fields, r_fields, 'uyof_1_');
				return errCheck(locale, current_step);
				break;
			case 5:
				field_on = checkFields(['mv_order_lt'], ['mv_order_lt'], 'uyof_1_');
				return errCheck(locale, current_step);
				break;
			case 6:
				return true;
				break;
		}
	}
	function elementDispCtrl(element, estate, etype){
		var etype = (typeof etype == 'undefined' ? 'inline' : etype);
		var e = document.getElementById(element);
		if (estate === 1)
			e.style.display = etype;
		else
			$(e).hide();
	}
	function empty(mixed_var){
		var key;
		if (
			mixed_var === "" ||
			mixed_var === 0 ||
			mixed_var === "0" ||
			mixed_var === null ||
			mixed_var === false ||
			mixed_var === undefined
		)
			return true;
		if (typeof mixed_var == 'object')
		{
			for (key in mixed_var)
				return false;
			return true;
		}
		return false;
	}
	function checkFields(cf, rf, prefix){
		prefix = prefix ? prefix : '2_nc_';
		fo = new Array();

		for (c=0;c < cf.length;c++){
			var check_field = cf[c];
			var form_el = eval('document.orderform.' + check_field);
			var el_type = form_el.type;

			if (!el_type)
				el_type = form_el[0].type;

			var checked = false;

			if( check_field == 'mv_order_pupd' ){
				if( form_el.value ) checked = true;
			}else{

				switch (el_type)
				{
					case 'select-one':
						var the_field = form_el.options[form_el.selectedIndex];
						if (the_field.text)
							checked = true;
						if (the_field.value == 'SPH' || the_field.value == 'D.S.')
							checked = false;
						break;

					case 'radio':
						var j = form_el.length;
						if (j)
							for (var i=0; i< j; i++)
								if (form_el[i].checked)
								{
									checked = true;
									break;
								}
						else
							if (form_el.checked)
							{
								checked = true;
							}
						break;
					case 'textarea':
						if (!empty(form_el.value))
							checked = true;
						break;
					case 'text':
						if (!empty(form_el.value))
							checked = true;
						break;
					case 'checkbox':
						if (form_el.checked)
							checked = true;
						break;
					case 'password':
						if (!empty(form_el.value))
							checked = true;
						break;
				}
			}

			if (!checked)
			{
				if (inArray(check_field, rf))
					errs.push(prefix + check_field);
				fo[check_field] = false;
			}
			else
				fo[check_field] = true;
		}
		return fo;
	}
	function buttonCode(step){
		var next = step + 1;
		var src = '/store/images/2009/uyof-' + step + '-0.png';
		var element = $('<input alt="Proceed" type="image" />').attr('src',src).hover(function(){ $(this).attr('src','/store/images/2009/uyof-' + step + '-1.png'); }, function(){ $(this).attr('src','/store/images/2009/uyof-' + step + '-0.png'); });

		if (step == 6)
			element.click(finalSubmit);
		else
			element.click(function(){ return goToStep( next ) });

		return element;
	}
	function init(co_error)
	{
		var f = document.orderform;
		if (co_error)
		{
			updateFrameInput();
			updatePrescriptionInput();
			updateLensTypeInput();
			updateLensPkgInput();
			updateLensOptsInput();

			var total_cost = __UYOF_SHIP_COST__;
			var opt_cost = 0;

			var sel;
			for (i=0; i < f.mv_order_lt.length; i++)
				if (f.mv_order_lt[i].checked)
					sel = i;
			var lp_cost = $('#lpp_'+f.mv_order_lt[sel].value).val();

			if( $('#rimlessYesInput:checked').length )
				opt_cost = parseFloat(opt_cost) + 50;

			if( $('#arYesInput:checked').length )
				opt_cost = parseFloat(opt_cost) + 24.95;

			total_cost = parseFloat(total_cost) + parseFloat(opt_cost) + parseFloat(lp_cost);

			$('#lensrep_cost').text(formatCurrency(lp_cost));
			$('#lensopt_cost').text(formatCurrency(opt_cost));
			$('#lenstot_cost').text(formatCurrency(total_cost));

			button = buttonCode(6);
			$('#uyof_button').empty().append( button );
			animations.queue(function(){
				var current = true;
				$('#uyof_button').fadeIn(function(){ animations.dequeue() });
			});
		}
		else
		{
			current_step = 1;
			button = buttonCode(1);
			animations.queue(function(){
				$('#frameinfo').fadeIn(function(){
					$('#uyof_button').empty().append(button);
					$('#uyof_button').fadeIn();
					animations.dequeue()
				});
			});
		}
		return false;
	}
	function updateFrameInput(){
		var f = document.orderform;
		if( $('#rimlessYesInput:checked').length )
			$('#fi_rimless').text('Yes ($50.00 mounting charge. Please allow up to 7 to 10 additional days for custom drilling)');
		else
			$('#fi_rimless').text('No');
		$('#fi_notes').text(f.lens_describe.value);
	}
	function updatePrescriptionInput(){
		var f = document.orderform;
		$.each(['od','os'],function(i,v){
			$.each(['sph','cyl','axi','add'],function(i2,v2){
				$('#rxdata tr.'+v+' td.'+v2).html(
			
					$('input[name=mv_order_'+v+v2+']').val() || $('select[name=mv_order_'+v+v2+']').val()
				);
			});
		});
		var pd = $('#odpd').val();
		pd += $('#ospd').val() ? ('/'+$('#ospd').val()) : '';
		$('#rx_display tr.pd td.pd').html(pd)
		var default_comments = $('#rxcomments').val() ? $('#rxcomments').val().match(/you have any questions or comments/) : false;
		if($('#rxcomments').val() && !default_comments){
			$('#rxcommentsdisplay').html($('#rxcomments').val()).show();
			$('#rxcomment_block').show();
		} else {
			if(default_comments){
				$('#rxcomments').val('')
			}
			$('#rxcomment_block').hide();
		}
	}
	function updateLensTypeInput(){
		var f = document.orderform;
		var sel;
		for (i=0; i < f.mv_order_uyof_lens.length; i++)
			if (f.mv_order_uyof_lens[i].checked)
				sel = i;
		$('#lensTypeSelection').text(lp_labels[f.mv_order_uyof_lens[sel].value]);
	}
	function updateLensPkgInput(){
		var f = document.orderform;
		var sel;
		for (i=0; i < f.mv_order_lt.length; i++)
			if (f.mv_order_lt[i].checked)
				sel = i;
		$('#lensPkgSelection').text( $('#lpt_'+f.mv_order_lt[sel].value).val() );
	}
	function applyCoupon(){
		var f = document.orderform;
		f.mv_todo.value = '';
		f.mv_click.value = '';
		f.action = '[process secure=1]#response';
	}
	</script>
	[tmpn newjs]1[/tmpn]
	<script type="text/javascript">var locale = 'en_US';</script>
	<script src="/lib/javascript/form.js" type="text/javascript"></script>
	<script src="/lib/javascript/uyof.js" type="text/javascript"></script>
	<style type="text/css">
	.step2box{
		width: 800px;
		margin: auto;
	}
	#frame_data label {
		width: 20%;
		float: left;
		margin-top: 10px;
	}
	textarea[name=lens_describe] {
		width: 750px;
	}
	#customDrilling{
		padding: 5px;
		text-align: center;
		font-weight: bold;
		display: block;
		clear: both;
	}
	p.descPar{
		padding: 20px 0 10px 0;
		clear: both;
		margin: 0;
	}
	#prescriptionbox{
		width: 908px;
		border: 0;
		border-radius: 0;
		margin-top: 20px;
	}
	a[name=response]{
		text-decoration: none;
	}
	.form_error_display{
		display: none;
	}
	div.stepmain{
		padding: 20px;
		border-radius: 8px;
		border: 1px solid #CCC;
	}
	#prescriptionbox .stepmain{
		border: 0;
		border-radius: 0;
		padding: 0;
	}
	#loginForm input{
		width: 246px;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		border: 1px solid #929292;
		margin: 0 0 8px;
		float: left;
	}
	#loginForm input.submitAcc{
		float:right;
		margin-top: 10px;
		width: 100px;
		cursor: pointer;
	}
	#loginForm input.submitAcc:hover{
		font-weight: bold;
		border: 2px solid #929292;
	}
	#loginForm label{
		float: left;
		font-size: 13px;
		line-height: 32px;
		padding: 0 10px 8px 0;
		width: 110px;
	}
	#login-area .radio_group{
		padding-left
	}
	#login-area div.stepmain{
		padding: 0;
	}
	div.clearb{
		visibility: hidden;
		clear: both;
		height: 1px;
	}
	p.accReq{
		padding: 30px 20px 0 20px;
		margin: 0;
	}
	.frame_number{
		float: none;
		margin: auto;
		width: 217px;
	}
	div#rxcomment_block{
		text-align: center;
		margin-top: 7px;
	}
	span.rxcHead{
		font-weight: bold;
	}
	.step2box{
		width: 920px;
	}
	</style>
[/tmp]
[include templates/redesign/header]

[if cgi coupon_code]
	[perl table="products per_item_coupon_xref" no_return=1]
		my $coupon = $Tag->query({ sql => 'SELECT pof_coupon FROM per_item_coupon_xref WHERE per_item_coupon_code = ' . $Tag->filter('dbi_quote', $CGI->{coupon_code}), table => 'per_item_coupon_xref' });
	
		$CGI->{coupon_code} = $coupon->[0]->[0]
			if scalar @$coupon > 0;
	[/perl]
	
	[tmp coup_ok][coupon code="[cgi coupon_code]" msgscratch=coupon_msg no=0 yes=1][/tmp]
[/if]
<div id="mid">
<div id="tipLayer"></div>

<div id="infoLayer" class="popup_block"></div>

[page_breadcrumbs location="Re-Lens Your Own Frame"]
<br />
<h3 style="margin-left: 15px">Re-Lens Your Own Frame</h3>

<div style="margin: auto;width: 920px">
	<h1 style="color:#000;line-height:18px;font-size:14px;padding-bottom:8px">We are proud to offer a lens replacement program at the same unbeatable savings as our complete pairs! <a href="[area product_info/uyof_popup]" target="_blank" onclick="return reqWin(this.href,640,700,0,1,'uyof_price_list');" style="font-size:14px;color:blue; display: block;margin-top: 4px;">Click here to see a full price list</a></h1>

<p class="intro">Keep the frame you love, and we can <strong>re-lens</strong> them for 70% less than your local optical or doctor's office. <i>(This service is currently available to U.S. residents only.)</i></p>

<p class="intro"><strong>To order, please complete the easy steps below. You can also call us toll-free at 1-800-672-6304 <br />Mon-Fri 9:00AM - 5:00PM (EST)</strong></p>

[if cgi return]
<p class="intro" style="color:#FF0000">For verification, we would like you to confirm your prior entries. All of your selections have been saved and if no changes are needed, you can just click the red buttons.</p>
[/if]

[if scratch just_logged_in]
	[set just_logged_in][/set]
<p class="intro" style="color:#009900">Welcome back [value fname]. You are now logged in and the information we have on file for your account will be loaded into the forms below.</p>
[/if]


[include include/form_errors]

[calcn]$Carts->{'lenspkg'} = ();[/calcn]

[if type=explicit compare="[error all=1 show_var=1 keep=1]"]
	<p>
		<b>There were errors in your last submission:</b>
		<br />
		<blockquote>
			[seti temperr][error all=1 keep=1 show_error=1 show_label=1 joiner="<br>"][/seti]
			[if scratch temperr =~ /email_req/]
			<p>
				<strong style="color: #ff0000">Our records show that this email address has already been used to place an order. If you wish to use this account, please login below, or alternatively use a different email address. If you require any assistance please <a href="[area contact_us]">contact us</a>.</strong>
			</p>
			[elsif scratch temperr =~ /query/]
			<p>
				<strong style="color: #ff0000">An error has occurred while processing your submission. Please try again.</strong>
			</p>
			[/elsif][else]
			<p>
				<font color="red">[scratch temperr]</font>
			</p>
			<p>
				The areas you need to correct are shown in <font color="red">this color</font> below.
			</p>
			[/else][/if]
		</blockquote>
		<br /><br />
	</p>
[/if]

</div>

[set postal_ok]1[/set]

<div id="uyofContainer">

[if session logged_in]
	[set Save_database]
		[if cgi mv_todo ne submit]
			[userdb save]
		[/if]
	[/set]
[else]
	<div id="login-area" class="step2box stepbox">
		<div class="steptitle"><h2>User Login</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div class="radio_group" style="margin-top:0;">
					[include include/checkout/login_form_uyof]
				</div>
				<div class="clearb">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>
[/else][/if]

	<form action="[process secure=1]" method="post" name="orderform">
	<input type="hidden" name="mv_session_id" value="[data session id]" />
	<input type="hidden" name="mv_todo" value="submit" />
	<input type="hidden" name="mv_nextpage" value="product_info/use_your_own_frame" />
	<input type="hidden" name="mv_check" value="Save_database" />
	<input type="hidden" name="mv_click" value="UYOF_click" />
	<input type="hidden" name="check_prof_uyof" value="1" />
	<input type="hidden" name="use_your_own_frame" value="1" />
	<input type="hidden" name="mv_shipmode" value="__UYOF_SHIP_MODE__" />
	<input type="hidden" name="mv_cartname" value="lenspkg" />
	<input type="hidden" name="mv_item_option" value="uyof_add" />
	<input type="hidden" name="mv_order_item" value="" />
	<input type="hidden" name="mv_doit" value="refresh" />
	<input type="hidden" name="uyof_page" value="1" />
[if cgi use_your_own_frame]
	<div style="display:none">
		<select name="mv_order_odsph"><option value="[value mv_order_odsph]" selected="selected">[value mv_order_odsph]</select>
		<select name="mv_order_odcyl"><option value="[value mv_order_odcyl]" selected="selected">[value mv_order_odcyl]</select>
		<select name="mv_order_odaxi"><option value="[value mv_order_odaxi]" selected="selected">[value mv_order_odaxi]</select>
		<select name="mv_order_odadd"><option value="[value mv_order_odadd]" selected="selected">[value mv_order_odadd]</select>
		<select name="mv_order_ossph"><option value="[value mv_order_ossph]" selected="selected">[value mv_order_ossph]</select>
		<select name="mv_order_oscyl"><option value="[value mv_order_oscyl]" selected="selected">[value mv_order_oscyl]</select>
		<select name="mv_order_osaxi"><option value="[value mv_order_osaxi]" selected="selected">[value mv_order_osaxi]</select>
		<select name="mv_order_osadd"><option value="[value mv_order_osadd]" selected="selected">[value mv_order_osadd]</select>
		<select name="mv_order_pupd"><option value="[value mv_order_pupd]" selected="selected">[value mv_order_pupd]</select>
		<input type="hidden" name="rxcomments" value="[value rxcomments]" />
	</div>
[/if]

[set UYOF_click]
	[seti pkg_code][cgi mv_order_item][/seti]
	[value name="fname" set="[cgi b_fname]" hide="1"]
	[value name="lname" set="[cgi b_lname]" hide="1"]
	[value name="address1" set="[cgi b_address1]" hide="1"]
	[value name="address2" set="[cgi b_address2]" hide="1"]
	[value name="city" set="[cgi b_city]" hide="1"]
	[value name="state" set="[cgi b_state]" hide="1"]
	[value name="zip" set="[cgi b_zip]" hide="1"]

	[value name="country" set="US" hide="1"]
	[value name="b_country" set="US" hide="1"]

	[value name="lens_describe" set=|[filter op="encode_entities text2html" interpolate=1][value lens_describe][/filter]| hide="1"]
[/set]

	<div id="frameinfo" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Frame Details</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div id="form_error_display_1" class="form_error_display"><div id="form_error_msg_1" class="form_error_msg"></div></div>
				<div class="radio_group">
					<div id="frame_data" [if cgi use_your_own_frame]style="display:none"[/if]>
						Is this a rimless (&ldquo;frameless&rdquo;) frame?
						<br />
						<label for="rimlessYesInput" id="firstLabel"><input type="radio" name="mv_order_uyof_add" id="rimlessYesInput" value="yes" [checked mv_order_uyof_add yes] onclick="errClear(1); elementDispCtrl('customDrilling',1,'block')" /> Yes</label>
						<label for="rimlessNoInput"><input type="radio" name="mv_order_uyof_add" id="rimlessNoInput" value="no" [checked mv_order_uyof_add no] onclick="errClear(1); elementDispCtrl('customDrilling',0)" /> No</label>
						<span id="customDrilling"[if value mv_order_uyof_add eq 'yes'][else] style="display:none"[/else][/if]> ($50.00 mounting charge. Please allow up to 7 to 10 additional days for custom drilling)</span>
						<p class="descPar">
						Please briefly describe the frame you are sending us, giving as much detail as possible.
						</p>
						<textarea name="lens_describe" cols="66" rows="10" onfocus="errClear(1)">[value lens_describe]</textarea>
					</div>
					<div id="frame_input"[if !cgi use_your_own_frame] style="display:none"[/if]>
						<table cellpadding="2" cellspacing="2" border="0" width="80%" style="margin:0 auto">
							<tr>
								<td>Rimless:</td>
								<td id="fi_rimless"></td>
							</tr><tr>
								<td valign="top" nowrap>Frame Details:</td>
								<td id="fi_notes"></td>
							</tr>
						</table>
						<br />
						<div align="center">
						[if cgi use_your_own_frame]
							<a href="[area href="product_info/use_your_own_frame" form="return=1"]"><b>Edit Frame Details</b></a>
						[else]
							<a href="#" onclick="goBack(1); return false;"><b>Edit Frame Details</b></a>
						[/else][/if]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	[if session logged_in]
		[seti thisuser][data session username][/seti]
		[query sql="select code FROM prescriptions WHERE username='[scratch thisuser]' AND defaults='1' LIMIT 1" type=list]
			[seti thiscode][sql-code][/seti]
		[/query]
		[if type=data term="prescriptions::code::[scratch thiscode]"]
			[seti od_sp][filter op="no_white" interpolate=1][data table="prescriptions" field="od_sphere" key="[scratch thiscode]"][/filter][/seti]
			[seti od_cy][filter op="no_white" interpolate=1][data table="prescriptions" field="od_cylinder" key="[scratch thiscode]"][/filter][/seti]
			[seti od_ax][filter op="no_white" interpolate=1][data table="prescriptions" field="od_axis" key="[scratch thiscode]"][/filter][/seti]
			[seti od_ad][filter op="no_white" interpolate=1][data table="prescriptions" field="od_add" key="[scratch thiscode]"][/filter][/seti]
			[seti os_sp][filter op="no_white" interpolate=1][data table="prescriptions" field="os_sphere" key="[scratch thiscode]"][/filter][/seti]
			[seti os_cy][filter op="no_white" interpolate=1][data table="prescriptions" field="os_cylinder" key="[scratch thiscode]"][/filter][/seti]
			[seti os_ax][filter op="no_white" interpolate=1][data table="prescriptions" field="os_axis" key="[scratch thiscode]"][/filter][/seti]
			[seti os_ad][filter op="no_white" interpolate=1][data table="prescriptions" field="os_add" key="[scratch thiscode]"][/filter][/seti]
			[seti pd][filter op="no_white" interpolate=1][data table="prescriptions" field="pd" key="[scratch thiscode]"][/filter][/seti]
			[seti nosepos][filter op="no_white" interpolate=1][data table="prescriptions" field="nosepos" key="[scratch thiscode]"][/filter][/seti]
		[else]
			[calcn hide=1]
			$Scratch->{$_} = ' ' for qw\od_sp od_cy od_ax od_ad os_sp os_cy os_ax os_ad pd nosepos\;p
			[/calcn]
		[/else][/if]
	[else]
		[calcn hide=1]
			$Scratch->{$_} = ' ' for qw\od_sp od_cy od_ax od_ad os_sp os_cy os_ax os_ad pd nosepos\;p
		[/calcn]
	[/else][/if]

	<div id="prescriptionbox" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Prescription Information</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div id="form_error_display" style="margin: 20px;margin-top: 5px;" class="form_error_display"><div id="form_error_msg" class="form_error_msg"></div></div>
				<div class="radio_group">
	[if session logged_in]
		[if scratch total_pres]
					<p>
						Use prescription:
						<br />
						<select name="prescription_to_use" onchange="javascript:update_pres(document.uyofform.prescription_to_use.value);">
							<option value="new_pres">-- New Prescription --</option>
			[tmp def_code][/tmp]
			[tmp pres_count]0[/tmp]
			[query sql="select * FROM prescriptions WHERE username='[data session username]' ORDER BY defaults DESC" type=list prefix=sel list-prefix=sel]
				[sel]
					[if type=explicit compare="$Scratch->{pres_count} < 1"]
						[tmp def_code][sel-code][/tmp]
					[/if]
					[tmp the_label][sel-param label][/tmp]
					[if type=explicit compare="$Scratch->{the_label} =~ /^#/ && $Scratch->{named_pres} > 0"]
					[else]
							<option value="[scratch pres_count]" [if-sel-param defaults]selected[/if-sel-param]>[scratch the_label]</option>
						[if-sel-param defaults][tmp def_code][sel-code][/tmp][/if-sel-param]
						[calc] $Scratch->{pres_count} += 1; return undef; [/calc]
					[/else][/if]
				[/sel]
			[/query]
						</select>
						<input type=button value="Load Rx" onclick="javascript:update_pres(document.uyofform.prescription_to_use.value);">
					</p>
		[/if]
	[/if]
	[calc]
		if (!$Values->{rxcomments} || $Values->{rxcomments} eq 'If you have any questions or comments about your prescription, type them here.')
		{
			$Scratch->{show_rxcomments} = undef;
		}
		else
		{
			$Scratch->{show_rxcomments} = 1;
		}
		return;
	[/calc]
					<input type=hidden name="prescription_used" value="[scratch def_code]">
					<div id="prescription_data" style="[if cgi use_your_own_frame]display:none;[/if][if scratch show_rxcomments]height:275px[/if]">
						<span id="prescription_loading"><img src="/store/images/blueyellow/infoloading.gif" align="absmiddle" /> Loading</span>
					</div>
					<div id="prescription_input"[if !cgi use_your_own_frame] style="display:none"[/if]>
					<div id="rxdata" class="frame_number">
							<table id="rx_display" border="0"  width="100%" cellpadding="5" cellspacing="0">
							  <tr>
							     <th>&nbsp;</th>
							     <th>SPH</th>
							     <th>CYL</th>
							     <th>AXIS</th>
								 <th>ADD</th>
							  </tr>
							  <tr class="od">
							     <td>O.D.</td>
							     <td class="sph">-</td>
							     <td class="cyl">-</td>
							     <td class="axi">-</td>
							     <td class="add">-</td>
							   </tr>
							   <tr class="os">
							     <td>O.S.</td>
							     <td class="sph">-</td>
							     <td class="cyl">-</td>
							     <td class="axi">-</td>
								 <td class="add">-</td>
							  </tr>
							  <tr class="pd">
							     <td>P.D.</td>
							     <td class="pd" colspan="2">-</td>
							     <td>&nbsp;</td>
								 <td>&nbsp;</td>
							  </tr>
							</table>
					</div>
					<div id="rxcomment_block">
						<span  class="rxcHead" >RX Comments:</span>
						<span id="rxcommentsdisplay"></span>
					</div>
				</td>
			</tr>
		</table>
						<br />
						<div align="center">
						[if cgi use_your_own_frame]
							<a href="[area href="product_info/use_your_own_frame" form="return=1"]"><b>Edit RX Information</b></a>
						[else]
							<a href="#" onclick="rxchecked = false; errClear(3); goBack(2); return false;"><b>Edit RX Information</b></a>
						[/else][/if]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	<div id="lenstype" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Lens Type</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div id="form_error_display_3" class="form_error_display"><div id="form_error_msg_3" class="form_error_msg"></div></div>
				<div class="radio_group">
					<div id="lenstype_input"[if !cgi use_your_own_frame] style="display:none"[/if]>
						<table width="80%" cellpadding="2" cellspacing="2" border="0" style="margin:0 auto">
							<tr>
								<td id="lensTypeSelection"></td>
							</tr>
						</table>
						<br />
						<div align="center">
						[if cgi use_your_own_frame]
							<a href="[area href="product_info/use_your_own_frame" form="return=1"]"><b>Change Lens Type</b></a>
						[else]
							<a href="#" onclick="goBack(3); return false;"><b>Change Lens Type</b></a>
						[/else][/if]
						</div>
					</div>
					<div id="lenstype_data"[if cgi use_your_own_frame] style="display:none"[/if]>
						<table>
						[perl no_return=1 failure='Embedded perl error. /uyof - lens type selection' subs=1 tables="options country pricing options_price products"]
							my @options = ('SVF','SVR','BIF','PROG');
							my $i = 0;
							for my $label (@options)
							{
								$Document->write('<tr><td><input type="radio" id="mv_order_uyof_lens_' . $label . '" name="mv_order_uyof_lens" value="' . $label . '" onclick="errClear(3)"');
								$Document->write(' checked') if $label eq $Values->{mv_order_uyof_lens};
								$Document->write('></td><td>&nbsp;<label for="mv_order_uyof_lens_' . $label . '" id="mv_order_uyof_lens_' . $label . '_label" >' . $desc_mv_order_lens{$label} . '</label></td></tr>');
								$i++;
							}

						[/perl]
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	<div id="lenspkg" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Lens Package</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div id="form_error_display_4" class="form_error_display"><div id="form_error_msg_4" class="form_error_msg"></div></div>
				<div class="radio_group">
					<div id="lenspkg_input"[if !cgi use_your_own_frame] style="display:none"[/if]>
						<table width="80%" cellpadding="2" cellspacing="2" border="0" style="margin:0 auto">
							<tr>
								<td id="lensPkgSelection"></td>
							</tr>
						</table>
						<br />
						<div align="center">
						[if cgi use_your_own_frame]
							<a href="[area href="product_info/use_your_own_frame" form="return=1"]"><b>Change Lens Package</b></a>
						[else]
							<a href="#" onclick="goBack(4); return false;"><b>Change Lens Package</b></a>
						[/else][/if]
						</div>
					</div>
					<div id="lenspkg_data"[if cgi use_your_own_frame] style="display:none"[/if]>
						<table border="0" width="90%" cellpadding="0" cellspacing="0" id="pkgSV" style="margin:0 auto;display:none">
						[loop lr=1 list=`
							my $out = "OPT1\tA\t" 	. $pkg_titles{'A'} 	. "\t39\t0\tClear Single-Vision Lenses:\n";
							$out .= "OPT11\tAX\t"	. $pkg_titles{'AX'} . "\t63.95\t1\Clear Single-Vision Lenses:\n";
							$out .= "OPT10\tBX\t" 		. $pkg_titles{'BX'} 	. "\t98.95\t1\tClear Single-Vision Lenses:\n";
							$out .= "SUN1\tC\t" 		. $pkg_titles{'C'} 	. "\t48.95\t0\tTinted Single-Vision Sunglass Lenses:\n";
							$out .= "SUN3\tD\t" 		. $pkg_titles{'D'} 	. "\t98.90\t0\tTinted Single-Vision Sunglass Lenses:\n";
							$out .= "SUN9\tI\t" 		. $pkg_titles{'I'} 	. "\t58.95\t1\tTinted Single-Vision Sunglass Lenses:\n";
							$out .= "POLS2\tE\t" 		. $pkg_titles{'E'} 	. "\t108.90\t0\tPolarized Single-Vision Sunglass Lenses:\n";
							$out .= "POLS4\tF\t" 		. $pkg_titles{'F'} 	. "\t137.85\t0\tPolarized Single-Vision Sunglass Lenses:\n";
							$out .= "POLS9\tXC\t" 	. $pkg_titles{'XC'} . "\t198.90\t1\tPolarized Single-Vision Sunglass Lenses:\n";
							$out .= "TRAN1\tG\t" 		. $pkg_titles{'G'} 	. "\t108.90\t0\tSingle-Vision Clear Inside/Dark 
Outside Lenses:\n";
							$out .= "TRAN2\tH\t" 		. $pkg_titles{'H'} 	. "\t137.90\t0\tSingle-Vision Clear Inside/Dark Outside Lenses:\n";

							return $out;
						`]
							[loop-change 1]
								[condition][loop-pos 5][/condition]
								<tr>
									<td colspan="5"><b>[loop-pos 5]</b></td>
								</tr>
							[/loop-change 1]
								<tr>
									<td valign="top" style="padding:2px 4px 2px 0">
										<input type="radio" id="mv_order_lt_[loop-code]" name="mv_order_lt" value="[loop-code]" [checked name=mv_order_lt value="[loop-code]"] />
										<input type="hidden" name="lptitle_[loop-code]" value="Pkg [loop-pos 1] - [loop-pos 2] - [currency][loop-pos 3][/currency]" id="lpt_[loop-code]" />
										<input type="hidden" name="lpletter_[loop-code]" value="[loop-pos 1]" id="lpl_[loop-code]" />
										<input type="hidden" name="lpprice_[loop-code]" value="[loop-pos 3]" id="lpp_[loop-code]" />
									</td>
									<td nowrap valign="top" style="padding:2px 4px 2px 0"><label id="lensLabel_[loop-code]" for="mv_order_lt_[loop-code]">&nbsp;Pkg [loop-pos 1]</label></td>
									<td valign="top" style="padding:2px 0">&nbsp;-&nbsp;</td>
									<td valign="top" style="padding:2px 20px 2px 0"><a href="#" class="popover-link" id="lensLabelLink_[loop-code]" data-title="[loop-pos 2]" data-url="/cgi-bin/store/package_information?code=[loop-code]" data-width=400>[loop-pos 2]</a></td>
									<td valign="top" style="text-align:right;padding:2px 0">[currency][loop-pos 3][/currency]</td>
								</tr>
							[tmp spacer][loop-pos 4][/tmp]
							[if scratch spacer]
								<tr><td>&nbsp;</td></tr>
							[/if]
						[/loop]
						</table>
						<table border="0" width="90%" cellpadding="0" cellspacing="0" id="pkgBIF" style="margin:0 auto;display:none">
						[loop lr=1 list=`
							my $out = "BIF_OPT1\tJ\t" . $pkg_titles{'J'} . "\t89\t1\tClear Bifocal Lenses:\n";
							$out .= "BIF_SUN15\tJUI\t" . $pkg_titles{'JUI'} . "\t98.95\t1\tTinted Bifocal Sunglass Lenses:\n";
							$out .= "BIF_POLS7\tWP\t" . $pkg_titles{'WP'} . "\t187.90\t0\tPolarized Bifocal Sunglass Lenses:\n";
							$out .= "BIF_POLS5\tM\t" . $pkg_titles{'M'} . "\t197.90\t0\tPolarized Bifocal Sunglass Lenses:\n";
							$out .= "BIF_POLS10\tXJC\t" . $pkg_titles{'XJC'} . "\t228\t1\tPolarized Bifocal Sunglass Lenses:\n";
							$out .= "BIF_TRAN5\tJUT\t" . $pkg_titles{'JUT'} . "\t138.95\t0\tBifocal Clear Inside/Dark Outside Lenses:\n";
							return $out;
						`]
							[loop-change 1]
							[condition][loop-pos 5][/condition]
								<tr>
									<td colspan="5"><b>[loop-pos 5]</b></td>
								</tr>
							[/loop-change 1]
								<tr>
									<td valign="top" style="padding:2px 4px 2px 0">
										<input type="radio" id="mv_order_lt_[loop-code]" name="mv_order_lt" value="[loop-code]" [checked name=mv_order_lt value="[loop-code]"] />
										<input type="hidden" name="lptitle_[loop-code]" value="Pkg [loop-pos 1] - [loop-pos 2] - [currency][loop-pos 3][/currency]" id="lpt_[loop-code]" />
										<input type="hidden" name="lpletter_[loop-code]" value="[loop-pos 1]" id="lpl_[loop-code]" />
										<input type="hidden" name="lpprice_[loop-code]" value="[loop-pos 3]" id="lpp_[loop-code]" />
									</td>
									<td nowrap valign="top" style="padding:2px 4px 2px 0"><label id="lensLabel_[loop-code]" for="mv_order_lt_[loop-code]">&nbsp;Pkg [loop-pos 1]</label></td>
									<td valign="top" style="padding:2px 0">&nbsp;-&nbsp;</td>
									<td valign="top" style="padding:2px 20px 2px 0"><a href="#" class="popover-link" id="lensLabelLink_[loop-code]" data-title="[loop-pos 2]" data-url="/cgi-bin/store/package_information?code=[loop-code]" data-width=400>[loop-pos 2]</a></td>
									<td valign="top" style="text-align:right;padding:2px 0">[currency][loop-pos 3][/currency]</td>
								</tr>
							[tmp spacer][loop-pos 4][/tmp]
							[if scratch spacer]
								<tr><td>&nbsp;</td></tr>
							[/if]
						[/loop]
						</table>
						<table border="0" width="90%" cellpadding="0" cellspacing="0" id="pkgPROG" style="margin:0 auto;display:none">
						[loop lr=1 list=`
							my $out;
							my @packages = (
							  ['PROG_OPT2',  'K',   $pkg_titles{K},   99,    0, "Clear Progressive Lenses:\n"],
							  ['PROG_OPT7',  'HD',  $pkg_titles{HD},  158.95,0, "Clear Progressive Lenses:\n",],
							  ['PROG_OPT6',  'L',   $pkg_titles{L},   198,   1, "Clear Progressive Lenses:\n",],
							  ['PROG_SUN15', 'KI',  $pkg_titles{KI},  108.95,0, "Tinted Progressive Sunglass Lenses:\n",],
							  ['PROG_SUN24', 'HDI', $pkg_titles{HDI}, 168.95,0, "Tinted Progressive Sunglass Lenses:\n",],
							  ['PROG_SUN20', 'LI',  $pkg_titles{LI},  207.95,1, "Tinted Progressive Sunglass Lenses:\n",],
							  ['PROG_POLS14','HDN', $pkg_titles{HDN}, 198.90,0, "Polarized Progressive Sunglass Lenses:\n",],
							  ['PROG_POLS12','LN',  $pkg_titles{LN},  246.90,1, "Polarized Progressive Sunglass Lenses:\n",],
							  ['PROG_TRAN8', 'UT',  $pkg_titles{UT},  168.95,0, "Progressive Clear Inside/Dark Outside Lenses:\n",],
							  ['PROG_TRAN14','HDT', $pkg_titles{HDT}, 198.90,0, "Progressive Clear Inside/Dark Outside Lenses:\n",],
							  ['PROG_TRAN9', 'P',   $pkg_titles{P},   246.90,0, "Progressive Clear Inside/Dark Outside Lenses:\n"],
							);
							return join("", map{ join("\t", @$_) } @packages);
						`]
							[loop-change 1]
							[condition][loop-pos 5][/condition]
							<tr>
								<td colspan="5"><b>[loop-pos 5]</b></td>
							</tr>
							[/loop-change 1]
							<tr>
								<td valign="top" style="padding:2px 4px 2px 0">
									<input type="radio" id="mv_order_lt_[loop-code]" name="mv_order_lt" value="[loop-code]" [checked name=mv_order_lt value="[loop-code]"] />
									<input type="hidden" name="lptitle_[loop-code]" value="Pkg [loop-pos 1] - [loop-pos 2] - [currency][loop-pos 3][/currency]" id="lpt_[loop-code]" />
									<input type="hidden" name="lpletter_[loop-code]" value="[loop-pos 1]" id="lpl_[loop-code]" />
									<input type="hidden" name="lpprice_[loop-code]" value="[loop-pos 3]" id="lpp_[loop-code]" />
								</td>
								<td nowrap valign="top" style="padding:2px 4px 2px 0"><label id="lensLabel_[loop-code]" for="mv_order_lt_[loop-code]">&nbsp;Pkg [loop-pos 1]</label></td>
								<td valign="top" style="padding:2px 0">&nbsp;-&nbsp;</td>
								<td valign="top" style="padding:2px 20px 2px 0"><a href="#" class="popover-link" id="lensLabelLink_[loop-code]" data-title="[loop-pos 2]" data-url="/cgi-bin/store/package_information?code=[loop-code]" data-width=400>[loop-pos 2]</a></td>
								<td valign="top" style="text-align:right;padding:2px 0">[currency][loop-pos 3][/currency]</td>
							</tr>
							[tmp spacer][loop-pos 4][/tmp]
							[if scratch spacer]
							<tr><td>&nbsp;</td></tr>
							[/if]
						[/loop]
						</table>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	<div id="lensopts" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Lens Options</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<div id="form_error_display_5" class="form_error_display"><div id="form_error_msg_5" class="form_error_msg"></div></div>
				<div class="radio_group">
					<div id="lensopts_input"[if !cgi use_your_own_frame] style="display:none"[/if]>
						<table width="80%" cellpadding="2" cellspacing="2" border="0" style="margin:0 auto">
							<tr>
								<td>
									<table cellpadding="2" cellspacing="2" border="0">
										<tr>
											<td>Lens color:</td>
											<td id="tint_color_input"></td>
										</tr>
										<tr>
											<td id="ar_coating_title"></td>
											<td id="ar_coating_input"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br />
						<div align="center">
						[if cgi use_your_own_frame]
							<a href="[area href="product_info/use_your_own_frame" form="return=1"]"><b>Change Lens Options</b></a>
						[else]
							<a href="#" onclick="goBack(5); return false;"><b>Change Lens Options</b></a>
						[/else][/if]
						</div>
					</div>
					<div id="lensopts_data"[if cgi use_your_own_frame] style="display:none"[/if]>
						<input type="hidden" name="mv_item_option" value="tint" />
						<div id="tint_div" style="display:none">
							<b>Please choose your tint color: [value mv_order_tint]</b>
							<ul class="lens_tint">
							[tmp mv_tint][either][value mv_order_tint][or]GREY[/either][/tmp]
							[loop list="GREY BROWN G15 BLUE ROSE ORANGE YELLOW" delimiter=" "]
								[tmp color][loop-code][/tmp]
								[tmp active_tint]
								[calcn]
								return $Scratch->{mv_tint} eq $Scratch->{color} ? 'selected' : '';
								[/calcn]
								[/tmp]
								[if scratch color eq 'G15']
									[tmp color]Green[/tmp]
								[/if]
								<li data-val="[loop-code]" id="tint_[loop-code]" class="tintOption [scratch active_tint] [filter interpolate="1" op="lc"][loop-code][/filter]_bg">
									<input type="radio" name="nothing" style="display: inline; margin-left: 40px" value="" [if scratch active_tint]checked="checked"[/if] />
									<a href="#">[filter op="lc ucfirst" interpolate="1"][scratch color][/filter]</a>
								</li>
							[/loop]
							</ul>
							<input type="hidden" name="mv_order_tint" value="[scratch mv_tint]" id="mv_order_tint" />
							<br style="clear:both" />
							<p id="colorcombinations" align="center" style="clear:both;"><a href="#" onclick="popWin('/colors.html?sku=3516_Brown','colors'); return false;">Click to preview frame/lens color combinations</a></p>
						</div>
						<div id="ar_included" style="padding: 20px; display:none;">
							This lens package includes our premium <a href="#" class="popover-link" data-url="/ar_information.html" data-width="500">anti-reflective coating</a> (a $24.95 value), to reduce computer glare and night-driving reflections, at no additional charge.
						</div>
						<div id="ar_div" style="display:none">
							<input type="hidden" name="mv_item_option" value="coating" />
							We always recommend our premium <a href="#" class="popover-link" data-title="Anti-Reflective Coating" data-url="[area href="ar_information" secure=1]" data-width=400>anti-reflective coating</a> to reduce computer glare and night-driving reflections. Would you like to add this option?
							<p>
								<span id="COA1">
									<input type="radio" name="mv_order_coating" id="arYesInput" value="COA1" [checked mv_order_coating COA1] />
									Yes (only $24.95 additional)<br />
								</span>
								<span id="COA3">
									<input type="radio" name="mv_order_coating" id="arNoInput" value="COA3" [checked name="mv_order_coating" value="COA3" default="1"] />
									No thanks<br />
								</span>
								<span style="display: inline;height:1px;width:1px;display: none" id="COA4">
									<input type="radio" name="mv_order_coating" id="arIncInput" value="COA4" [checked name="mv_order_coating" value="COA4" default="0"] />
									No thanks<br />
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	<div id="checkout" class="step2box stepbox"[if !cgi use_your_own_frame] style="display:none"[/if]>
		<div class="steptitle"><h2>Checkout</h2></div>
		<div class="stepmain">
			<div class="stepcontent">
				<a name="response"></a>
				<div id="form_error_display_6" class="form_error_display"><div id="form_error_msg_6" class="form_error_msg"></div></div>
				<div class="radio_group">
					<table cellpadding="0" cellspacing="0" border="0" width="584" style="margin:0 auto">
						<tr>
							<td>
								<table cellpadding="2" cellspacing="2" border="0">
									<tr>
										<td rowspan="5" style="padding:4px 40px 0 10px" valign="top"><b>Order Totals</b></td>
									</tr>
									<tr>
										<td>Lens Replacement:</td>
										<td align="right" id="lensrep_cost" style="text-align:right"></td>
									</tr>
									<tr>
										<td>Options:</td>
										<td align="right" id="lensopt_cost" style="text-align:right"></td>
									</tr>
									<tr>
										<td>Shipping:</td>
										<td align="right" style="text-align:right">[currency]__UYOF_SHIP_COST__[/currency]</td>
									</tr>
									<tr>
										<td style="padding-top:8px"><b>Total:</b></td>
										<td align="right" id="lenstot_cost" style="font-weight:bold;text-align:right;padding-top:8px"></td>
									</tr>
								</table>
							</td>
						</tr>
						[comment]
						<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>
						<tr>
							<td>
								<table cellpadding="2" cellspacing="2" border="0">
									<tr>
										<td style="padding:4px 34px 0 10px" valign="top">If you were sent a promotional / coupon code, enter it here:</td>
										<td>
										[if scratch coupon_msg]
												<div style="text-align:left;width:300px;color:#009933">[scratchd coupon_msg][if scratch coup_ok] - Please note: <strong>The discount will be reflected in the order total shown on the receipt.</strong>[/if]</div>
												<br /><br />
										[/if]
										[if scratch coup_ok]
												<input type="hidden" name="coupon_code" value="[value coupon_code]" />
										[else]
												<input type="text" name="coupon_code" />
												<br />
												<div style="padding-top:12px"><input type="image" src="/store/images/2009/uyof-7-0.png" onmouseover="this.src='/store/images/2009/uyof-7-1.png'" onmouseout="this.src='/store/images/2009/uyof-7-0.png'" alt="Apply Coupon" onclick="applyCoupon();" /></div>
										[/else][/if]
										</td>
									</tr>
								</table>
							</td>
						</tr>
						[/comment]
						<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>

						<tr>
							<td style="padding-left:10px">
								<b>Shipping/Billing Information</b>
								<br /><br />
								<table cellpadding="2" cellspacing="2" border="0">
									<tr>
										<td><b>First Name:</b></td>
										<td><input type="text" name="b_fname" value="[value b_fname]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td><b>Last Name:</b></td>
										<td><input type="text" name="b_lname" value="[value b_lname]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td><b>Address:</b></td>
										<td><input type="text" name="b_address1" value="[value b_address1]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td></td>
										<td><input type="text" name="b_address2" value="[value b_address2]" /></td>
									</tr>
									<tr>
										<td><b>City:</b></td>
										<td><input type="text" name="b_city" value="[value b_city]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td><b>State:</b></td>
										<td>
											[loop search="
												fi=state.txt
												sf=country
												se=[default b_country US]
												rf=state,name,country
												un=yes
												tf=sorder,name
												ml=100
											" option=b_state]
												[on-match]<select onchange="check_tax(this.form)" name="b_state">[/on-match]
												[list]
													[loop-change 1][condition][loop-param country][/condition]
														<optgroup label="[data table=country col=name key='[loop-param country]']" />
													[/loop-change 1]
														<option value="[loop-code]">[loop-pos 1]</option>
												[/list]
												[on-match]</select>[/on-match]
												[no-match]<input name="b_state" value="[value b_state]" />[/no-match]
											[/loop]
										</td>
									</tr>
									<tr>
										<td><b>Zip Code:</b></td>
										<td><input type="text" name="b_zip" value="[value b_zip]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td><b>Email Address:</b></td>
										<td>
											<input type="text" name="email" value="[value email]" onfocus="errClear(6)" />
											<input type="hidden" name="email_copy" value="1" />
										</td>
									</tr>


									<tr>
										<td><b>Daytime Phone:</b></td>
										<td><input type="text" name="phone_day" value="[value phone_day]" onfocus="errClear(6)" /></td>
									</tr>
									<tr>
										<td></td>
										<td><i>We need the <b>bold fields</b> to process your order</i></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>
						<tr>
							<td style="padding-left:10px">
								<b>Order Comments</b>
								<br />
								Any other questions you may have, or if there is anything else you would like us to know:
								<br /><br />
								<textarea cols="45" rows="5" name="comments" id="comment-box">[value comments]</textarea>
							</td>
						</tr>
						<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>
						
						[if !session logged_in]
							<tr>
								<td style="padding-left:10px">
									<b>Create Password</b> (to login/track order)
									<br /><br />
									<table cellpadding="2" cellspacing="2" border="0">
										<tr>
											<td><b>Password:</b></td>
											<td><input type="password" name="password1" onfocus="errClear(6)" /></td>
										</tr>
										<tr>
											<td><b>Verify Password:</b></td>
											<td><input type="password" name="password2" onfocus="errClear(6)" /></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>
						[/if]

						<tr>
							<td style="padding-left:10px">
								<b>Terms &amp; Conditions</b>
								<br /><br />
								<textarea cols="45" rows="5" name="terms_conditions" readonly="readonly">At 39DollarGlasses.com&reg; it is our pleasure to put new lenses into your own existing frames. We will take every precaution possible to ensure your frames are maintained in the same condition that you sent them. If, in the rare instance that something should happen to your frame in the lens replacement process (e.g. frame scratches or breakage, loss during transit), we cannot be held responsible for the frame&#39;s value. In addition, if you would like to keep your old lenses we recommend you remove them from the frame prior to sending (we will make every effort to return them but we cannot guarantee this). Due to the additional processing involved using a customer&#39;s frame, we ask you allow up to 7 business days to process and ship (after we receive your frame). Occasionally, additional days are required, but it is not typical. Promo codes and Eyebucks&trade; rewards points cannot be used for re-lens orders.
								</textarea>
								<br /><br />
								<input type="checkbox" name="terms_approve" value="yes" [checked terms_approve yes] /> Yes, I agree to these terms and conditions.
								<br />
							</td>
						</tr>
						<tr><td style="padding:20px 10px 20px 10px"><img src="__THEME_IMG_DIR__spacer.gif" width="564" height="1" alt="" style="background:#426fbe" /></td></tr>
						<tr>
							<td style="padding-left:10px">
								<b>Payment Method</b>
								<br /><br />
								<table cellpadding="2" cellspacing="2" border="0">
									<tr>
										<td valign="top"><input type="radio" name="mv_order_profile" value="postal" [checked name=mv_order_profile value=postal] /></td>
										<td><b>I will enclose a certified check or money order (Sorry, no personal checks can be accepted).</b></td>
									</tr>
									<tr>
										<td valign="top"><input type="radio" name="mv_order_profile" value="credit_card_auth" id="creditCardYes" [checked name=mv_order_profile value=credit_card_auth default=1] /></td>
										<td>
											<b>[error std_label="Credit Card" name=mv_credit_card_valid]</b>
											<br /><br />
											<table cellpadding="2" cellspacing="2" border="0">
												<tr>
													<td></td>
													<td><img src="/store/images/smallvisa.png" />&nbsp;&nbsp;<img src="/store/images/smallmc.png" />&nbsp;&nbsp;<img src="/store/images/smalldisc.png" />&nbsp;&nbsp;<img src="/store/images/smallamex.png" /></td>
												</tr>
												<tr>
													<td><b>Card Type:</b></td>
													<td>
														<select name="mycc">
															<option value="Visa" [selected mycc Visa]>Visa</option>
															<option value="Mastercard" [selected mycc Mastercard]>Mastercard</option>
															<option value="Discover" [selected mycc Discover]>Discover</option>
															<option value="Amex" [selected mycc Amex]>American Express</option>
														</select>
													</td>
												</tr>
												<tr>
													<td><b>Card Number:</b></td>
													<td><input type="text" name="mv_credit_card_number" value="" onfocus="errClear(6)" autocomplete="off" /></td>
												</tr>
												<tr>
													<td><b>Security Code:</b></td>
													<td><input type="text" name="mv_credit_card_cvv2" size="4" value="" onfocus="errClear(6)" autocomplete="off" /> <a href="#" onclick="open('/cvv_pop.html', 'cvv_info',',width=500,height=450,scrollbars=no,resizable=no'); return false;"><small>Where is it?</small></a></td>
												</tr>
												<tr>
													<td><b>Expiration Date:</b></td>
													<td>

														<select name="mv_credit_card_exp_month">
														[loop
															option=mv_credit_card_exp_month
															acclist=1
															list=|
														1=01 - January,
														2=02 - February,
														3=03 - March,
														4=04 - April,
														5=05 - May,
														6=06 - June,
														7=07 - July,
														8=08 - August,
														9=09 - September,
														10=10 - October,
														11=11 - November,
														12=12 - December|]
															<option value="[loop-code]">[loop-param label]</option>
														[/loop]
														</select>
														<select name="mv_credit_card_exp_year">
														[loop option=mv_credit_card_exp_year lr=1 list=`
															my $year = $Tag->time( '', { format => '%Y' }, '%Y' );
															my $out = '';
															for ($year .. $year + 7)
															{
																/\d\d(\d\d)/;
																$last_two = $1;
																$out .= "$last_two\t$_\n";
															}
															return $out;
														`]
															<option value="[loop-code]">[loop-pos 1]</option>
														[/loop]
														</select>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="clearb">&nbsp;</div>

	<div id="ship_msg" style="display:none;width:100%;padding-top:20px;text-align:center">Your finished product will be shipped via USPS Mail with delivery confirmation.</div>
	<div id="uyof_button" style="display:none;width:100%;padding-top:20px;text-align:center">
	</div>
	<div id="please_wait" style="display:none;width:100%;padding-top:20px;text-align:center"><span style="color:#ff0000;font-weight:bold">-- Processing - Please Wait --</span></div>

	<div class="styleHelp" style="margin-top:20px;text-align:center;">
		Having trouble ordering? We're here to help.
		<h5>Call us Toll-Free <span>1-800-672-6304</span></h5>
	</div>
	</form>

</div>
</div> <!-- end mid container -->
[seti clear_errors][error all=1 hide=1 comment="Clear errors"][/seti]

<script type="text/javascript">// <![CDATA[
	init('[cgi use_your_own_frame]');
// ]]></script>


[include templates/redesign/footer]
