[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp page_title]__COMPANY__ -- [L]Ambassador Program[/L][/tmp]
[if !session logged_in]
    [bounce /login]
[/if]
[tmpn meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
	.contentBody p{ margin: 20px 0; line-height: 1.5em; width: 95% }
	#header-table{ margin: 15px 0 30px 0 }
	#header-table td{ vertical-align: middle }
	#ambassador_logo{ margin: 0 30px 0 0 }
</style>
[/tmpn]
@_TOP_@
<div class="myAccountContainer">
	[include include/account/leftNav]

	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Program Basics</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
			<div class="contentBody">
				<table id="header-table">
					<tr>
						<td><img src="ambassador/amb_prog_med.jpg" alt="Ambassador Program Logo" id="ambassador_logo" /></td>
						<td><h1>Account inactive</h1></td>
					</tr>
				</table>
				<p>
					Your ambassador account has been suspended due to multiple transactions with ineligible orders.
					Any Ambassador points awarded as a result of these transactions have been removed from your account.
					If you feel this is in error please <a href="[area contact_us]">contact us</a>.
				</p>

			</div>
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
		<br style="clear:both;" />
	</div>
</div>
@_BOTTOM_@
