[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp page_title]__COMPANY__ -- [L]Ambassador Program[/L][/tmp]
[if !session logged_in]
    [bounce /login]
[/if]
[tmp is_ambassador][ambassador function="is_ambassador" email="[value email]"][/tmp]
[if scratch is_ambassador eq '0']
	[if explicit][condition] $Tag->ambassador({ function => 'is_customer_eligible', email => $Values->{'email'} });[/condition]
		[ambassador function="create_user" email="[value email]" hide=1]
	[else]
		[bounce /ambassador/ineligible]
	[/else]
	[/if]
[elsif scratch is_ambassador eq 'inactive']
	[bounce /ambassador/inactive]
[/elsif]
[/if]


[tmpn meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
	#header501c{ text-decoration: underline; padding: 10px 0; }
	.contentBody p{ margin: 20px 0; line-height: 1.5em; width: 95% }
	#header-table{ margin: 15px 0 0 0 }
	#header-table td{ vertical-align: middle }
	#ambassador_logo{ margin: 0 30px 0 0 }
	#t-and-c { display: none}
	#t-and-c p{ margin: 15px 0; line-height: 20px;}
	div.myAccountContainer { margin-bottom: 30px }
</style>
<script type="text/javascript">
jQuery( function($){
	if( /toc/.test( window.location.hash ) ){
		$('a.popover-link[rel=t-and-c]').trigger('click');
	}
});
</script>
[/tmpn]
[include templates/redesign/header]

[tmp 501c][ambassador function="is_501c_ambassador" email="[value email]"][/tmp]
<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Program Basics</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
			<div class="contentBody">
				[if scratch 501c]<h1 id="header501c">Ambassador Program for Tax Exempt Organizations</h1>[/if]
				<table id="header-table">
					<tr>
						<td><img src="ambassador/amb_prog_med.jpg" alt="Ambassador Program Logo" id="ambassador_logo" /></td>
						<td><h1 [if scratch 501c]style="font-size: 1.8em;"[/if]>About the Ambassador Program</h1></td>
					</tr>
				</table>
				[comment]
				[if scratch 501c]
					<p>Your organization has been approved to be a 39dollarglasses.com Ambassador.</p>
					<p>This program allows your organization to generate revenue by referring customers who need prescription eyewear.</p>
					<p>We've generated a unique coupon code for your organization to share.  For every customer who uses your code, your organization will earn a <strong>$[either][var AMBASSADOR_REWARD_DONATIONS][or]10[/either]</strong> commission.  Everyone you refer will enjoy a <strong>[var AMBASSADOR_COUPON_PERCENTAGE]%</strong> discount on their entire order. </p>
					<p>For full details see our <a href="?w=600" rel="t-and-c" class="popover-link">Terms and Conditions</a>.</p>
				[else]
					<p>
						Many of our customers refer friends, family members and co-workers to 39DollarGlasses.com.
						We are now excited to offer these <i>ambassadors</i> an opportunity to be rewarded for their referrals.
					</p>
					<p>
						We've generated a unique coupon code for you to share. For every new customer who uses your code, we will
						credit your EyeBucks Reward account <strong>$[var AMBASSADOR_REWARD_POINTS]</strong> good towards any future purchase. 
						The friend you refer will enjoy a <strong>[var AMBASSADOR_COUPON_PERCENTAGE]% discount</strong> on their entire order. For full details see our <a href="?w=600" rel="t-and-c" class="popover-link">Terms and Conditions</a>.
					</p>
					<div style="text-align: center">
						<a href="[area ambassador/share]">Click here to get started now</a>
					</div>
				[/else][/if]
				[/comment]
				<p>
                    Thank you for your interest in the 39dollarglasses.com Ambassador Program (our referral program). Our program has changed. If you would like to join or have any questions please email <strong>ambassador@39dollarglasses.com</strong> and reference the Ambassador Program.
				</p>
			</div>
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
		<br style="clear:both;" />
		<div id="t-and-c" class="popup_block">
			[if scratch 501c]
			<p>[currency][either][var AMBASSADOR_REWARD_DONATIONS][or]10[/either][/currency] will be credited to your account 45 days after the purchase date. Until then the credit will show as <strong>pending</strong> in your account. On a quarterly basis we will send your organization a payment for all eligible orders that have reached the 45-day mark.</p>
			<p>We reserve the right to remove these credits from your account in case of returns, cancellations, or fraud.</p>
			<p>All terms outlined above are subject to change at any time with or without prior notice.</p>
			[else]
			<p>
				EyeBucks Reward points are credited to your account 45 days after the purchase date.  Until then the
				credit will show as <strong>pending</strong> in your account.  We reserve the right to remove these credits from your
				Eyebucks Reward account in case of returns, cancellations, or fraud. Please note, posting your ambassador code on
				coupon sharing sites, message boards, or any location in which you are not the <i>direct</i> referrer will
				result in the forfeiture of all accrued and future EyeBucks Reward points, and removal from the Ambassador program.
			</p>
			<p>
				All qualifying purchases must be made by a first-time customer using your exclusive coupon code.
				You cannot refer yourself, another member of your household, or existing customers for referral credits.
				However, we will still allow the discount percentage to be applied to those orders.
			</p>
			<p>
				All terms outlined above are subject to change at any time with or without prior notice.
			</p>
			[/else][/if]
		</div>
	</div>
</div>

[include templates/redesign/footer]
