[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp page_title]__COMPANY__ -- [L]Ambassador Program[/L][/tmp]
[if !session logged_in]
    [bounce /login]
[/if]
[tmpn meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
	.contentBody p{ margin: 20px 0; line-height: 1.5em; width: 95% }
	#header-table{ margin: 15px 0 30px 0 }
	#header-table td{ vertical-align: middle }
	#ambassador_logo{ margin: 0 30px 0 0 }
</style>
[/tmpn]
[include templates/redesign/header]
<div class="myAccountContainer">
	[include include/account/leftNav]

	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Program Basics</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
			<div class="contentBody">
				<table id="header-table">
					<tr>
						<td><img src="ambassador/amb_prog_med.jpg" alt="Ambassador Program Logo" id="ambassador_logo" /></td>
						<td><h1>Not currently eligible</h1></td>
					</tr>
				</table>
				<p>
					Our Ambassador Program is a way to reward our loyal customers by allowing them to receive Eyebucks Rewards points 
					for recommending our company to their friends and family. In order to be eligible to participate in the 
					Ambassador Program you must first complete a purchase with us.
				</p>

			</div>
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
		<br style="clear:both;" />
	</div>
</div>
[include templates/redesign/footer]
