[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp is_ambassador][ambassador function="is_ambassador" email="[value email]"][/tmp]
[if scratch is_ambassador eq '0']
	[bounce /ambassador/index]
[elsif scratch is_ambassador eq 'inactive']
	[bounce /ambassador/inactive]
[/elsif]
[/if]

[if cgi update]
	[perl table="ambassador_alias" no_return=1]
		my $dbh = $Sql{'ambassador_alias'};
		my $alias = $Tag->cgi('url');

		#If the submitted alias contains illegal characters 
		if( $alias =~ /[^a-z\d.\-_]/i ){
			$Tag->tmpn('invalid_alias',1);
			return;
		}

		$dbh->do('INSERT INTO ambassador_alias (email,alias) VALUES (?,?) ON DUPLICATE KEY UPDATE alias = ?', undef, $Values->{'email'}, $alias, $alias  );

		return;
	[/perl]
[/if]

[calcn hide=1]
	my $results = $Tag->ambassador({ function=>'ambassador_info', email=>$Values->{'email'} });
	$Tag->tmpn('ambassador_alias', $results->{'alias'});
	$Tag->tmpn('ambassador_coupon', $results->{'coupon'});
[/calcn]

[tmp page_title]__COMPANY__ -- [L]Ambassador Program[/L][/tmp]
[calcn hide=1]
$Tag->tmpn('share-url', $Tag->var('NORMAL_SERVER') . '/referral/' . $Scratch->{'ambassador_alias'} );[/calcn]
[tmpn noCanonical]1[/tmpn]

[tmp meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<script type="text/javascript">
	var checked = new Object;
	jQuery(function($){
		var twitter = $('#twitter');
		twitter.attr('href',
			twitter.attr('href') + 'url=' + escape( twitter.attr('data-url') ) + '&text=' + escape( twitter.attr('data-text') )
		);
	
		$('#url').keyup(function(){
			$('#valid').val(0);
			$('#result').hide();
			if( $(this).val().length >= 2 ){
				delay(function(){
					var val = String( $('#url').val() );
					if( val.match(/[^a-z\d\-._]/i) ){
						updateStatus.invalid();
					}else{
						if( ! checked.hasOwnProperty( val ) ){
							$.ajax({
								url: '/ambassador/validate_alias.html',
								data: 'r=' + Math.random() + '&' + $('#alias-form').serialize(),
								dataType: 'json',
								success: function(response){
									updateStatus[response.status]();
									checked[ val ] = response.status;
									$('#valid').val( response.status == 'pass' ? 1 : 0 );
								},
								error: function(obj,status,error){
									updateStatus.error();
								}
							});
						}else{
							updateStatus[ checked[ val ] ]();
						}
					}
				}, 250);
			} // end min length if
		});
		$('#cancel').click(function(){ $('a.close img.btn_close').trigger('click'); });
		$('#display').click(function(e){ $(this).select(); e.preventDefault(); });
		
	});
	
	var updateStatus = {
		'invalid': function(){
			jQuery('#result img').attr('src','/img/cartrev/red-x.png').parent().find('span').text('Invalid characters').parent().show();
		},
		'fail': function(){
			jQuery('#result img').attr('src','/img/cartrev/red-x.png').parent().find('span').text('Unavailable').parent().show();
		},
		'pass': function(){
			jQuery('#result img').attr('src','/img/cartrev/green-check.png').parent().find('span').text('Good to go').parent().show();
		}
	};

</script>
<style type="text/css">
	#coupon-display{ border: 3px dashed RGB(0,166,81); padding: 15px 20px; width: 80%; margin: 40px 20px; text-align: center }
	#coupon-display h2, #coupon-display span, #share-display h3{ font-size: 18px; font-weight: bold }
	#coupon-display span{ color: RGB(51,153,0) }

	#link-display{ margin: 10px 30px; line-height: 1.3em }

	#share-display{ text-align: center }
	#share-display h3{ color: RGB(51,153,0) }

	#example{ color: grey; font-style: italic }
	#sample-link{ color: blue }
	#sample-alias{ font-weight: bold }

	#note{ margin: 10px 0; padding: 5px 5px 5px 30px; background: url('/img/myAccount/attention.png') no-repeat; background-position: 6px 11px;  border: 1px solid black; border-radius: 10px; -moz-border-radius: 10px; font-style: italic }

	#cancel, #update{ padding: 4px }
	#cancel{ margin-right: 15px }

	#display{ border: none; width: 100%; font-weight: bold }

	#customize-popup{ width: 525px; display: none; font-size: 12px }
	#customize-popup h3{ font-weight: bold }
	#popup-body{ padding: 15px 0 15px 20px }
	#text-entry{ position: relative; float: left;  height: 40px }
	#result-container{ position: absolute; right: 0; bottom: 0 }
	#result{ display: none }

	#email-template p{ margin: 15px 0; line-height: 20px }
	
	#template{ border: 1px dotted black; padding: 20px; margin: 15px 0 }
</style>
[/tmp]
[include templates/redesign/header]
<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Program Basics</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
			<div class="contentBody">
				<img src="ambassador/amb_prog_med.jpg" alt="Ambassador Program Logo" id="ambassador_logo" />

				<div id="coupon-display">
					<h2>Your Ambassador Coupon Code is</h2>
					<span>[scratch ambassador_coupon]</span>
				</div>
				<div id="link-display">
					Here is the direct link to your coupon code. [if explicit][condition] $Scratch->{'ambassador_alias'} eq $Scratch->{'ambassador_coupon'};[/condition]You can 
						<a href="#?w=660" rel="customize-popup" class="popover-link" data-width="605" id="customize-link">click here</a> to customize it.
					[/if]
					<br />
					<br />

					<input type="text" name="display" id="display" value="[area add_dot_html="0" href="referral/[scratch ambassador_alias]"]" />
				</div>
				<div id="share-display">
					<h3>Click an icon below to share now:</h3>
					<br />
					<div>
						<table style="margin: 0 auto">
							<tr>
								[tmp fb-description]Thought I'd share this with you.  I have an exclusive [var AMBASSADOR_COUPON_PERCENTAGE]% off coupon from 39dollarglasses.com. Click here to activate the coupon.[/tmp]
								[tmp fb-title]Extra [var AMBASSADOR_COUPON_PERCENTAGE]% off at 39DollarGlasses.com[/tmp]
								<td style="width: 45px"><a target="_new" href="https://www.facebook.com/dialog/feed?display=popup&app_id=181709615253138&link=[scratch share-url]&caption=www.39DollarGlasses.com&picture=__NORMAL_SERVER__/img/no-number-phone-logo.png&name=[scratch fb-title]&description=[scratch fb-description]&redirect_uri=__NORMAL_SERVER__/"><img width=32 height=32 src="/img/template/39_face.jpg" /></td>
								<td>Share on Facebook</td>
							</tr>
							<tr>
								
								<td><a target="_new" id="twitter" data-url="[scratch share-url]" data-text="[scratch fb-title]" href="https://twitter.com/share?"><img width=32 height=32 src="/img/template/39_tweet.jpg" /></td>
								<td align="left">Share on Twitter</td>
							</tr>
							<tr>
								<td><a href="#?w=600" class="popover-link" rel="email-template"><img src="/img/email-icon.png" width=32 height=32 /></a></td>
								<td align="left">Share in an e-mail</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
		<br style="clear:both;" />
	</div>
</div>
<div id="email-template" style="display: none; font-family: 'open_sansregular'; font-weight: normal;" class="popup_block">
	Here's a sample with your personal code you can copy &amp; paste to send e-mail to your contacts. Feel free to edit it however you like:
	<div id="template">
		Hi,
		<br />
		<p>
			I've been getting my eyeglasses from 39DollarGlasses.com and thought you
			might be interested in using them also. They gave me a coupon to share so
			you'll get an additional <strong>[var AMBASSADOR_COUPON_PERCENTAGE]</strong> 
			off anything on the whole website.
		</p>
		<p>
			A complete pair of glasses &mdash; the frame, light &amp; thin prescription lenses, 
			the works &mdash; is $39.00 (before the discount). A whole lot less than the hundreds 
			I used to pay locally. They also sell bifocals, progressives, prescription sunglasses, 
			Transitions&trade; lenses &mdash; basically everything.
		</p>
		<p><a href="__NORMAL_SERVER__/referral/[scratch ambassador_alias]">Click here to activate my exclusive [var AMBASSADOR_COUPON_PERCENTAGE]% discount</a></p>
		<p>Or you can use coupon code <strong>[scratch ambassador_coupon]</strong> during checkout.</p>
		Take care,
		<br />
		<br />
		[value fname]
	</div>
</div>

[if explicit][condition]$Scratch->{'ambassador_alias'} eq $Scratch->{'ambassador_coupon'};[/condition]
<div id="customize-popup" class="popup_block">
	<form id="alias-form" method="POST">
		<input type="hidden" name="valid" id="valid" />
		<h3>You can change your direct Ambassador link one time to make it more personalized.</h3>
		<div id="popup-body">
			<i>For example:</i>
			<br />
			<i>http://www.39dollarglasses.com/referral/NYC_Mike</i>
			<br />
			<div id="note">
				Note: if you have previously shared your original Ambassador link, it will no longer work and you will have to re-share your new code with your friends.
			</div>

			<br />
			<div id="text-entry">
				<label for="url">Change it here: <strong>http://www.39dollarglasses.com/referral/<input type="text" id="url" name="url" /></label>
				<div id="result-container"><span id="result"><img /><span></span></span></div>
			</div>
			<br style="clear: both" />
			<div style="text-align: center">
				<input type="button" name="cancel" id="cancel" value="Cancel" />
				<input type="submit" name="update" id="update" value="Submit" />
			</div>
		</div>
	</form>
</div>
[/if]
[include templates/redesign/footer]
