[tmp is_ambassador][ambassador function="is_ambassador" email="[value email]"][/tmp]
[if scratch is_ambassador eq '0']
	[bounce /ambassador/index]
[elsif scratch is_ambassador eq 'inactive']
	[bounce /ambassador/inactive]
[/elsif]
[/if]
[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Ambassador Referrals[/tmp]
[tmp meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
#ineligible-popup, #rejected-popup{ padding: 20px 10px }
#ineligible-popup ul, #rejected-popup ul{ margin: 10px 0 10px 50px }
</style>
[/tmp]

[include include/ambassador/header]
[include templates/redesign/header]

[tmpn current_page]ambassador/view_referrals[/tmpn]

[tmp 501c][ambassador function="is_501c_ambassador" email="[value email]"][/tmp]
<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Ambassador Referrals</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
        <div class="contentBody">
					[if explicit]
					[condition]
					$Tag->tmpn('ambassadorTransactions', $Tag->ambassador({ function=>'view_transactions', email=>$Values->{'email'} }) );
					scalar @{$Scratch->{'ambassadorTransactions'}};
					[/condition]
            <table style="border: 1px solid grey; width: 640px"> 
                <tr style="text-align: left; background-color: grey; color: white; height: 25px; border: 1px solid grey;">
                    <th style="font-weight: bold; height: 20px;">Referral Code</th>
                    <th style="font-weight: bold; height: 20px;">Date Placed</th>
                    <th style="font-weight: bold; height: 20px;">[if scratch 501c]Eligible Donations[else]EyeBucks Reward Points[/else][/if]</th>
                    <th style="font-weight: bold; height: 20px;">Status</th>
                    <th style="font-weight: bold; height: 20px;">Estimated Award Date</th>
                </tr>
                [loop prefix="trans" object.mv_results=`$Scratch->{'ambassadorTransactions'}`]
                    <tr>
                        <td style="height: 20px">[trans-increment]</td>
                        <td style="height: 20px">[trans-param created_date]</td>
                        <td style="height: 20px">[if scratch 501c][currency][trans-param reward_points][/currency][else][trans-param reward_points][/else][/if]</td>
                        <td style="height: 20px">
                        	[if-trans-param status =~ /pending|applied/]
                        		[trans-param status]
                        	[else]
								[if-trans-param status eq 'ineligible']
									<a href="#?w=600" class="popover-link" rel="ineligible-popup">[trans-param status]</a>
								[/if-trans-param]
								[if-trans-param status eq 'rejected']
									<a href="#?w=600" class="popover-link" rel="rejected-popup">[trans-param status]</a>
								[/if-trans-param]
								[if-trans-param status eq 'reviewing']
									<a href="#?w=600" class="popover-link" rel="underreview-popup">under review</a>
								[/if-trans-param]
							[/else][/if-trans-param]</td>
                        <td style="height: 20px">[trans-param potential_date]</td>
                    </tr>
                [/loop]
            </table>
					[else]
						<h2>No transactions found</h2>
					[/else]
					[/if]
        </div>
        <div>
            <img src="/img/myAccount/contentBottom.jpg" />
        </div>
	</div>
	
	<br style="clear:both;" />
</div>
<div id="underreview-popup" style="display: none;" class="popup_block">
	<p>The eligibility for referral order is under review.  It may or may not qualify for Ambassador Program referral points.  Please check back as we make every attempt to review these quickly.  If you feel this is in error please <a href="[area contact_us]">contact us</a>.</p>
</div>
<div id="ineligible-popup" style="display: none;" class="popup_block">
	<p>Points for this order have been deemed ineligible as outlined in the Ambassador Program <a href="/ambassador/index.html#toc">Terms and Conditions</a>.  If you feel this is in error please <a href="[area contact_us]">contact us</a>.</p>
</div>
<div id="rejected-popup" style="display: none;" class="popup_block">
	<p>This order has either been cancelled or refunded.  Therefore it no longer qualifies for referral points, as outlined in our Ambassador Program <a href="/ambassador/index.html#toc">Terms and Conditions</a>.</p>
</div>
[include templates/redesign/footer]