@_UI_STD_INIT_@
[seti page_title][L]Top Searches[if cgi nomatch eq 1] (no matches only)[elsif cgi nomatch eq 0] (matches only)[/elsif][/if][/L][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]topsearch.view[/set]

@_UI_STD_HEAD_@

[calcn]
    if ($CGI->{ui_begin_date}) {
	for (qw/ui_begin_date ui_end_date /) {
	    $CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
	    });
	}
	$Scratch->{date_limit} = qq/sdate >= '$CGI->{ui_begin_date}' AND sdate <= '$CGI->{ui_end_date}Z'/;
EOS
    }
    else {
        $Scratch->{date_limit} = '';
    }
    if ($CGI->{nomatch} ne ''){
			$Scratch->{match_select} = qq/AND nomatch = '$CGI->{nomatch}'/;
    }

    if ($CGI->{top}) {
        $Scratch->{limit} = qq/ LIMIT $CGI->{top}/;
    }
    undef;
[/calcn]

[L]Start date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_begin_date][/convert-date]<br>
[L]End date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_end_date][/convert-date]<br>
<br>

<table border="0" >
    <tr class="rmarq">
	<td class="rmarq">&nbsp;[L]Search[/L]</td>
  <td class="rmarq" style="text-align: right">[L]Count[/L]</td>
    </tr>

[query
    ml=100000
    sql=|
	SELECT  searchstring, sum(scount) AS count, min(nomatch) AS nomatch
	FROM    searchstats
	WHERE   
	[scratch date_limit]
	[scratchd match_select]
	GROUP BY searchstring
	ORDER BY count DESC, searchstring
	[scratchd limit]
|
	hashref=|results|]
	[/query]
	
	[perl]
	
	foreach $row (@{$Tmp->{results}})
	{
		$Scratch->{total}+=$row->{count};
		$r .= qq{<tr class=rownorm>};
		$r .= qq{<td style="text-align: left; white-space: nowrap; };
		if($row->{nomatch})
		{
			$r .= qq{color: #f00; font-weight: bold;};
		}
		$r .= qq{">};
		
		if($row->{searchstring})
		{
			$r .= $row->{searchstring};
		}
		else
		{
			$r .= "(blank)";
		}
		$r .= "</td>";
		
		$r .= qq{<td style="text-align: right; };
	  
	  if($row->{nomatch})
		{
			$r .= qq{color: #f00; font-weight: bold;};
			$Scratch->{nomatch} = 1;
		} 
		
		$r .= '">&nbsp;'.$row->{count}; 
	    
		$r .= "</td>";
    $r .= "</tr>
    ";
				
	}	
		
	return $r;		
	[/perl]

</table>

[query type=list
			query="SELECT sum(scount) FROM searchstats WHERE [scratch date_limit]"]
	[list][tmp total][sql-code][/tmp][/list]
[/query]

[query type=list
			query="SELECT count(DISTINCT searchstring) FROM searchstats WHERE [scratchd date_limit]"]
	[list][tmp count][sql-code][/tmp][/list]
[/query]


<br>[scratch total] searches performed, [scratchd count] phrases
[if cgi top]
	,displaying top [cgi top]
[/if]
[if scratch nomatch]
<br>
<b style="color: #f00">Red indicates no search results were found for that phrase.</b>
[/if]

@_UI_STD_FOOTER_@
