[tmpn image_name]10000[/tmpn]
[set pre_page_link]eyeglasses[/set]
[tmpn meta_keywords]'Cheap glasses, glasses online'[/tmpn]
[tmp category_header]<h1 align="center" style="color:#EF8F00">CHEAP EYEGLASSES STARTING AT JUST $39</h1>[/tmp]
[tmp category_footer]
<h2>Ordering glasses online is easy with 39DollarGlasses.com</h2>
Every pair of cheap glasses that you order from 39DollarGlasses.com comes complete with a <a href="[area help/Guarantee-%2526-Rewards/100%2525-quality-guarantee/93-What-is-your-warranty-policy%253f]">100% worry-free guarantee</a> and the help of our knowledgeable customer service team. We do our very best to make your experience buying glasses online easy and fun.
<p>With various styles and colors to choose from, you’re sure to find a pair of <a href="[area]">prescription glasses</a> that suit your look perfectly. Whether you’re partial to plastic, metal, or bendable titanium frames, we have it all.</p>

<h2>Shop for the best online glasses available today!</h2>
Here at 39DollarGlasses we take pride in our affordable cheap prices and superior service. There is no need to spend a fortune on eyewear – the highest quality prescription glasses can be found right here on our site at very cheap prices. Simply scroll through our various styles to find a pair of eyeglasses that are perfect for you!
Ordering a pair of cheap glasses online is easy with our ExactFit Try On tool. Simply upload your picture, try on our styles, and see exactly how you’ll look in our fashionable frames. If you ever need assistance during your shopping, pick up the phone and give us a call at 1-800-672-6304. Our friendly customer service experts are happy to assist you with whatever you need!
<p>Leave behind the high prices of other retailers. We will take care of all your glasses needs right here. Quality prescription eyewear, fashionable styles, and a simple, stress free process –that’s the 39DollarGlasses way.</p>
[/tmp]
[include include/category/category]