[tmp catmaterial][/tmp]
[perl no_return="1"]
$catloops = {
	'Kids Eyeglasses' => 'KIDS',
	'Kids Sunglasses' => 'KIDS_SUN',
	'Metal Eyeglasses' => 'METAL',
	'Metal Sunglasses' => 'METAL_SUN',
	'Plastic Eyeglasses' => 'PLASTIC',
	'Plastic Sunglasses' => 'PLASTIC_SUN',
	'Rimless Eyeglasses' => 'RIMLESS',
	'Rimless Sunglasses' => 'RIMLESS_SUN',
	'Semi-Rimless Eyeglasses' => 'SEMI_RIMLESS',
	'Semi-Rimless Sunglasses' => 'SEMI_RIMLESS_SUN',
	'Bendable Titanium Eyeglasses' => 'BENDABLE_TITANIUM',
	'Bendable Titanium Sunglasses' => 'BENDABLE_TITANIUM_SUN',
	'New Arrival Eyeglasses' => 'NEW_ARRIVALS',
	'New Arrival Sunglasses' => 'NEW_ARRIVALS_SUN',
};
$Scratch->{catmaterial} = $catloops->{$CGI->{category}};
[/perl]

[tmp sunglasses][cgi sun][/tmp]

[if cgi size eq 'a']

	<table width="100%" border="0" cellspacing="0" cellpadding="3">
	[table-organize cols=2 columnize=0 embed=uc td.0='width=50%' td.1='width=50%']
	[loop list=|[var name="CATEGORY_LIST_[scratch catmaterial]"]|]
	[query sql="SELECT * FROM products WHERE sku='[loop-code]' AND inactive=0" 
		type=list
		prefix=item
		list-prefix=item
	]
	[item]
		[tmp showthis][/tmp]
		[if cgi cat ne 'a']
			[if cgi cat eq 'w']
				[if-item-param gender =~ /women|unisex/i]
					[tmp showthis]w[/tmp]
				[/if-item-param]			
			[/if]
			[if cgi cat eq 'm']
				[if-item-param gender !~ /women/i]
					[tmp showthis]m[/tmp]
				[/if-item-param]	
			[/if]
		[else]
			[tmp showthis]a[/tmp]
		[/else]
		[/if]
		
		[tmp suntint][item-param suntint][/tmp]		
			
		[if scratch showthis]
		<TD>
			<table cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td width="15"><img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt=""></td>
			[tmp framethumb][if scratch sunglasses]tints/[item-code]_[scratch suntint].jpg[else]items_large/[item-field image][/else][/if][/tmp]
			<td width="200" align="left"><a href="[area href="[if scratch sunglasses]sunglasses/[/if][item-code]"]"><IMG SRC="[image src_only="1" src="[scratch framethumb]" makesize="200x200" check_date="1"]" ALT="[item-filter entities][item-description][/item-filter]" title="[item-filter entities][item-description][/item-filter]" BORDER=0></a></td>
			<td width="15"><img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt=""></td>
			[tmp framelink][if scratch sunglasses]sunglasses/[/if][item-code][/tmp]
			[tmp framedetail][item-field detail][/tmp]
			[calc]
				$Scratch->{framedetail} =~ s/light \& thin Rx lenses/tinted Rx lenses/g if($CGI->{sunglasses});
				return undef;
			[/calc]		
			<td width="100%" align="left" valign="top" class="smText"><a href="[area href="[scratch framelink]"]">[item-field description]</a><br>[scratch framedetail]
			 ... <strong>
			 	[if scratch sunglasses]
					[tmp disp_price][price code=[item-code] sunonly=1 noformat=1][/tmp]
					[currency][scratch disp_price][/currency]
				[else]
					[price code=[item-code]]
				[/else]
				[/if]
			 	</strong>

	[if scratch sunglasses]<br><br>Available tints: __SUNGLASS_TINTS__[/if]

			</td>
			</tr>
			<tr>
			<td colspan="4"><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="20" alt=""></td>
			</tr>
			</table>
		</TD>
		[/if]
	
	[/item]
	[/query]
	[/loop]
	[/table-organize]
	</table>


[else]

	[if cgi size eq 'nw']
		[tmp sort]ORDER BY tot_frame_width ASC[/tmp]
	[elsif cgi size eq 'wn']
		[tmp sort]ORDER BY tot_frame_width DESC[/tmp]
	[/elsif]
	[/if]	
	[tmp catlist][var name="CATEGORY_LIST_[scratch catmaterial]"][/tmp]
	
	<table width="100%" border="0" cellspacing="0" cellpadding="3">
	[table-organize cols=2 columnize=0 embed=uc td.0='width=50%' td.1='width=50%']
	[query sql="SELECT * FROM products WHERE category = '[cgi category]' AND inactive=0 [scratch sort]" 
	type=list
	prefix=item
	list-prefix=item
	]
	[item]	
		[tmp showthis][/tmp]
		[if cgi cat ne 'a']
			[if cgi cat eq 'w']
				[if-item-param gender =~ /women|unisex/i]
					[tmp showthis]w[/tmp]
				[/if-item-param]			
			[/if]
			[if cgi cat eq 'm']
				[if-item-param gender !~ /women/i]
					[tmp showthis]m[/tmp]
				[/if-item-param]	
			[/if]
		[else]
			[tmp showthis]a[/tmp]
		[/else]
		[/if]		
		
		[if type="explicit" compare="$Scratch->{catlist} =~ /[item-code]/"]
		[else]
			[tmp showthis][/tmp]
		[/else]
		[/if]
		
		[tmp suntint][item-param suntint][/tmp]
			
		[if scratch showthis]
			<TD>
				<table cellpadding="0" cellspacing="0" border="0">
				<tr>
				<td width="15"><img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt=""></td>
				[tmp framethumb][if scratch sunglasses]sun/[item-code]_[scratch suntint].jpg[else]items_large/[item-param image][/else][/if][/tmp]
				<td width="200" align="left"><a href="[area href="[if scratch sunglasses]sunglasses/[/if][item-code]" form="lens=[scratch lenstype]"]"><IMG SRC="[image src_only="1" src="[scratch framethumb]" makesize="200x200" check_date="1"]" ALT="[item-filter entities][item-description][/item-filter]" title="[item-filter entities][item-description][/item-filter]" BORDER=0></a></td>
				<td width="15"><img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt=""></td>
				[tmp framedetail][item-field detail][/tmp]
				[calc]
					$Scratch->{framedetail} =~ s/light \& thin Rx lenses/tinted Rx lenses/g if($CGI->{sunglasses});
					return undef;
				[/calc]	
				<td width="100%" align="left" valign="top" class="smText"><a href="[area [item-code]]">[item-field description]</a><br>[scratch framedetail]
				 ... <strong>[price code=[item-code]]</strong>
				</td>
				</tr>
				<tr>
				<td colspan="4"><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="20" alt=""></td>
				</tr>
				</table>
			</TD>	
		[/if]
	[/item]
	[/query]
	[/table-organize]
	</table>

[/else]
[/if]
