[comment]
ui_page: about_us.html
ui_type: page
ui_name: about_us.html
ui_page_template: primary
ui_source: pages/about_us.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]About __COMPANY__[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header]
<style type="text/css">
#mid{
	padding: 20px;
}
#crumbs{
	margin-left: 5px;
}
</style>
[/tmp]

[include templates/redesign/header]

<div id="crumbs" class="bc01">[page_breadcrumbs location="About Us,about_us"]</div>

<div id="mid">
	<h1 class="bc03">About __COMPANY__</h1>
	<div id="sec-container" class="c2">
		<table width="90%" cellpadding="0" cellspacing="0" border="0">
			<tr> 
				<td><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="300" alt="" /></td>
				<td valign="top">
					<p>39DollarGlasses.com was developed by eye doctors to create an inexpensive method for people to acquire high-quality, finished prescription eyeglasses. From their experience in both private offices and retail establishments, the founders decided they could provide this service for people inexpensively, bypassing expensive retail establishments.</p>

					<p>We use the same high-quality materials, but can offer them at a high discount because of our high volume, since we don't have the additional overhead constraints (such as retail rent space, behind-the-counter employees, and expensive displays) that your doctor's office or optical must overcome. Since operating this website is much less expensive than a typical retail establishment, we are able to pass these savings on to the general public.</p>
		
					<p>But don't just take our word for it:<br /><a href="[area testimonials]">Read what others have said about 39DollarGlasses.com</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>

[include templates/redesign/footer]
