[comment]
ui_page: account.html
ui_type: page
ui_name: account.html
ui_page_template: primary
ui_source: pages/account.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]__COMPANY__ Account Maintenance[/tmp]
[tmp seo_noindex]1[/tmp]
[tmp seo_nofollow]1[/tmp]
[tmp meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
	#editLink{ display: inline-block; margin: 10px 0 0 50px } 
	#lol2 p.br {
		margin: 0;
		height: 11px;
		
	}
	#lol1 p.br {
		height: 2px;
		margin: 0;
	}
	#lol2 input, #lol2 select {
		margin-left: 7px;
	}
	[tmp brows][data session browser][/tmp]
	[if scratch brows =~ /firefox|msie/i]
	#lol2 p.br {
		margin: 0;
		height: 13px;
		
	}
	[/if]
</style>
<script type="text/javascript">
var keys = [],
    konami = "77,69,68,70,48,82,68",
    invert = !1;
$(document).keydown(function(e){
	keys.push(e.keyCode);
    if (keys.toString().indexOf(konami) >= 0) {
      $('#konami, #konamiLabel').show();
      if(!$('body').data('konamied')){
      	$('<br />').insertAfter('#konamiLabel');
      	$('<br />').insertAfter('#konami');
      }
      $('body').data('konamied',1);
    }
});
</script>
[/tmp]

[include templates/redesign/header]

<!-- BEGIN CONTENT -->

[tmp logged_in][data session logged_in][/tmp]
[if !scratch logged_in]
	[bounce login]
[/if]

[query sql="SELECT 1 AS old FROM userdb WHERE consolidated='1' AND username='[data session username]'" type=list]
[list]
	[tmp old][sql-param old][/tmp]
[/list]
[/query]

[if scratch old]
	[query sql="SELECT username FROM userdb WHERE email='[data table=userdb key=|[data session username]| field=prev_email]'" type=list]
	[list]
		[tmp usethis][sql-param username][/tmp]
	[/list]
	[/query]

	[seti consolidated_account]This account is no longer active, it has been consolidated into your most recently account. Please login with username <b>[scratch usethis]</b>. If you have any trouble or require assistance please contact us.[/seti]

	[userdb logout]
	[bounce href="login"]
[/if]

[comment] Basic width of site = 968 [/comment]

[tmpn current_page]account[/tmpn]

<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Account Information</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div class="contentBody">
			[userdb function=get_billing_names]
			[userdb function=get_shipping_names]
			
			[if cgi editAccountInformation]
				<form action="[process secure=1]" method="post" id="account-form">
					<input type="hidden" name="mv_session_id" value="[data session id]" />
					<input type="hidden" name="mv_order_profile" value="account_change" />
					<input type="hidden" name="mv_todo" value="return" />
					<input type="hidden" name="mv_nextpage" value="account" />
					<input type="hidden" name="mv_check" value="Save_database" />
					
					[if type=explicit compare="[error all=1 show_var=1 keep=1]"]
					<p>
						<strong>There were errors in your last submission.</strong>
						<br /><br />
						They are shown in <span style="color:red">this color</span> below.
					</p>
					[/if]
					
					[set Save_database]
						[userdb save]
					[/set]
					
					<div>
						<span style="font-weight: bold; font-size: 18px; float: left;">Billing Address</span>
						<span style="float: right; margin: 0px 40px 0px 0px;"><span class="required">*</span> = required field</span>
					</div>
					<br clear="all" />
					<div id="lol1" style="width: 30%; float: left; text-align: right; line-height: 200%; margin-top: 10px;">
						[error name=fname std_label="<span class='required'>*</span>First Name:" required=1]
						<p class="br"></p>
						[error name=lname std_label="<span class='required'>*</span>Last Name:" required=1] 
						<p class="br"></p>
						<span id="konamiLabel" style="display: none; font-weight: bold;">Company:</span>

						[error name=address1 std_label="<span class='required'>*</span>Address 1:" required=1]
						<p class="br"></p>
						<span style="font-weight: bold;">Address 2:</span>
						<p class="br"></p>
						[error name=city std_label="<span class='required'>*</span>City:" required=1]
						<p class="br"></p>
						[error name=state std_label="<span class='required'>*</span>State/Province" required=1]
						<p class="br"></p>
						[error name=zip std_label="<span class='required'>*</span>Zip/Postal Code:" required=1]
						<p class="br"></p>
						[error name=email std_label="<span class='required'>*</span>Email Address: " required=1]
						<p class="br"></p>
						[error name=country std_label="<span class='required'>*</span>Country:" required=1]
						<p class="br"></p>
						[error name=phone_day std_label="<span class='required'>*</span>Daytime Phone:" required=1]
						<p class="br"></p>
						<span style="font-weight: bold;"><span class='required'>*</span>Shipping Method:</span>
					</div>
					<div id="lol2" style="float: left; line-height: 200%; margin-top: 10px">
						<input style="margin-top: 8px;" type="text" name="fname" value="[value fname]" size="15" maxlength="100" />
						<p class="br"></p>
						<input type="text" name="lname" value="[value lname]" size="15" maxlength="100" />
						<p class="br"></p>
						<input id="konami" style="display: none" type="text" name="b_company" value="[value b_company]" size="15" maxlength="100" />

						<input type="text" name="address1" value="[value address1]" size="30" maxlength="100" />
						<p class="br"></p>
						<input type="text" name="address2" value="[value address2]" size="30" maxlength="100" />
						<p class="br"></p>
						<input type="text" name="city" value="[value city]" size="15" maxlength="20" />
						<p class="br"></p>
				
							[loop search="
								fi=state.txt
								sf=country
								se=[default country US]
								rf=state,name,country
								un=yes
								tf=sorder,name
								ml=100
								"
								option=state]
								[on-match]<select name="state">
								<option value=""></option>[/on-match]
								[list]
								<option value="[loop-code]">[loop-pos 1]</option>
								[/list]
								[on-match]</select>[/on-match]
								[no-match]<input name="state" value="[value state]" size="20" />[/no-match]
							[/loop]
				
						<p class="br"></p>
						<input type="text" name="zip" value="[value zip]" size="10" maxlength="9" />
						<p class="br"></p>
						<input type="text" name="email" value="[value email]" size="40" />
						<p class="br"></p>
						<select name="country">
								[loop option=country search="
								ra=yes
								fi=country
								st=db
								rf=code,name
								ml=1000
								tf=sorder
								to=n
								"]
									<option value="[loop-code]">[loop-data country name]</option>
								[/loop]
							</select>
						
						<p class="br"></p>
						<input type="text" name="phone_day" value="[value phone_day]" size="15" maxlength="20" />
					</div>
					<br clear="all" />
					<div style="margin: 15px 0px 0px 0px;">
						<span style="font-weight: bold; font-size: 18px;">Mailing Status</span>
					</div>
					<div style="width: 35%; float: left; text-align: right; line-height: 200%; margin-top: 10px">
						<span>Send an email copy of my receipt?</span>
						<br />
						<span>Sign up to newsletter?</span>
					</div>
					<div style="float: left; line-height: 200%; margin-top: 10px">
						<span><select name="email_copy"><option value="1">Yes</option><option [selected name=email_copy value=0] value="0">No</option></select></span>
						<br />
						<span><select name="mail_list"><option [if value mail_list]selected="selected"[/if] value="newsletter">Yes</option><option [if !value mail_list]selected="selected"[/if] value="">No</option></select></span>
					</div>
					<br clear="all" />
					<div style="margin: 15px 0px 15px 0px; text-align: center;"><input type="submit" value="Save Account Info" /></div>
					
					[if items]
					  [set Save and Checkout]
						mv_nextpage=ord/checkout1
					  [/set]
					  [set Save and Save Cart]
						mv_nextpage=ord/basket
					  [/set]
					[if value saving_cart eq 1]
					  <input type="submit" value="Save and Save Cart" name="mv_click" />
					[else]
					  <input type="submit" value="Save and Checkout" name="mv_click" />
					[/else]
					[/if]
					  <br /><br />
					  <a href="[area ord/customer_info]">No change, go to checkout</a>
					[/if]
				</form>
			[else]
				<form action="[area href="account"]" method="post">
					<input type="hidden" name="editAccountInformation" value="1" />
					<h2>Address</h2>
					<div style="margin: 10px 0 50px 20px;"> 
						<p>
							[calcn]
								my @output;

								push @output, $Values->{'fname'} . ' ' . $Values->{'lname'}
									if $Values->{'fname'} or $Values->{'lname'};
								push @output, $Values->{'address1'}
									if $Values->{'address1'};
								push @output, $Values->{'address2'}
									if $Values->{'address2'};
								push @output, $Values->{'city'} . ', ' . $Values->{'state'} . ' ' . $Values->{'zip'}
									if( ($Values->{'city'} && $Values->{'state'}) or $Values->{'zip'} ) ;
								#Don't output JUST the country, which was previous behavior
								push @output, $Values->{'country'}
									if $Values->{'country'} && scalar@output;
								push @output, '<strong>Daytime Phone Number:</strong> ' . $Values->{'phone_day'}
									if $Values->{'phone_day'};

								my $edit_href = $Tag->area({ href=>'account', form => 'editAccountInformation=1' });

								return qq|<a href="${edit_href}">Click here</a> to enter your address information|
									if !scalar@output;

								push @output, '<strong>E-mail Address:</strong> ' . $Values->{'email'};
								push @output, "<br /><a href='${edit_href}'>Edit your information</a>";

								return join("<br />", @output); 
							[/calcn]
						</p>
					</div>
				</form>
			[/else]
			[/if]
		</div>
		<div>
			<img src="/img/myAccount/contentBottom.jpg" />
		</div>
	</div>
	<br clear="all" />
</div>
[include templates/redesign/footer]
