[comment]
ui_page: affiliate_program.html
ui_type: page
ui_name: affiliate_program.html
ui_page_template: primary
ui_source: pages/affiliate_program.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Eyeglasses Affiliate Program by __COMPANY__[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header][/tmp]

[include templates/redesign/header]
<div style="margin-left: 5px"  id="mid">
<div id="subcontent">
	<h1 class="bc03">Eyeglasses Affiliate Program</h1>
	<!--
	<div id="crumbs" class="bc01">[page_breadcrumbs location="Eyeglasses Affiliate Program,affiliate_program"]</div>
	-->
	<div id="sec-container" class="c2">

		<p>
			Looking for an eyewear affiliate program or prescription eyeglasses affiliate program? Well, look no further. Join 39DollarGlasses.com's affiliate program and you could earn money from eye care product sales.
			<br /><br />
			As the largest online optical retailer, 39DollarGlasses.com is the most recognized and trusted name for prescription eyeglasses and sunglasses. We pioneered the idea of buying eyeglasses online, at savings of 70% below retail. With thousands of happy customers, feedback has earned us the prestigious A+ rating on BBB.
			<br /><br />
			Did you know that more then 50% of the population needs vision correction? Virtually every home has at least one person that needs a pair.
			<br /><br />
			<a href="https://signup.cj.com/member/brandedPublisherSignUp.do?air_refmerchantid=1019547">Click here to join today!</a>
		</p>

		<h4>Why 39DollarGlasses?</h4>
		<ul class="content-list">
			<li>120 day cookie - The maximum allowable cookie duration allowed within the CJ Network</li>
			<li>Avg. Sale price of $95</li>
			<li>Conversion rates of over 4% and continually rising</li>
			<li>Dedicated resources to help you succeed including banners, text links, etc.</li>
		</ul>

		<h4>Earn 4% to 15% for every sale you refer:</h4>
		<table style="padding:0px; border:1px solid black; border-collapse:collapse; text-align:center;">
			<tr><th style="padding:10px; border:1px solid black;">Publisher</th><th style="padding:10px; border:1px solid black;">Commission</th></tr>
			<tr><td style="padding:5px; border:1px solid black;">Coupon/Discount</td><td style="padding:5px; border:1px solid black;">4%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">General Shopping/Loyalty Rewards</td><td style="padding:5px; border:1px solid black;">8%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">Content/Niche</td><td style="padding:5px; border:1px solid black;">11% - 15%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">VIP</td><td style="padding:5px; border:1px solid black;">15%</td></tr>
		</table>
	</div>

	<br /><br />
	<h1 class="bc03">Contact Lens Affiliate Program</h1>
	<div id="sec-container" class="c2">
		<p>
			America’s favorite glasses company now sells contact lenses!* By joining the 39DollarGlasses affiliate program, you could earn money from contact lens sales.
			<br /></br />
			Doctor owned, 39DollarGlasses is the best online retailer for eye care products. We’ve been in business since 2001, selling quality prescription glasses at incredibly affordable prices. We now carry lenses from the most popular brands including Acuvue, Air Optix, and Biofinity.
			<br /><br />
			Not only do we sell our contacts at the lowest prices possible, but we also have free shipping on all contact lens orders. Best of all, customers receive free glasses (valued at $39) and free standard shipping with the purchase of an annual supply!
			<br /><br />
			Due to the Unilateral Pricing Policy, we offer the lowest price allowable by manufacturers. What sets us apart from competitors is our free glasses with any annual supply! In addition, we have extremely competitive commission rates.
			<br /><br />
			*Contact Lenses for sale in the United States only
		</p>

		<a href="https://signup.cj.com/member/brandedPublisherSignUp.do?air_refmerchantid=1019547">Click here to join today!</a>

		<h4>Why 39DollarGlasses?</h4>
		<ul class="content-list">
			<li>120 day cookie - The maximum allowable cookie duration allowed within the CJ Network</li>
			<li>Avg. Sale price of $95</li>
			<li>Conversion rates of over 4% and continually rising</li>
			<li>Dedicated resources to help you succeed including banners, text links, etc.</li>
		</ul>

		<h4>Earn 10% to 30% for every sale you refer:</h4>
		<table style="padding:0px; border:1px solid black; border-collapse:collapse; text-align:center;">
			<tr><th style="padding:10px; border:1px solid black;">Sales</th><th style="padding:10px; border:1px solid black;">Commission</th></tr>
			<tr><td style="padding:5px; border:1px solid black;">1-20</td><td style="padding:5px; border:1px solid black;">10%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">21-100</td><td style="padding:5px; border:1px solid black;">15%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">101-500</td><td style="padding:5px; border:1px solid black;">20%</td></tr>
			<tr><td style="padding:5px; border:1px solid black;">501+</td><td style="padding:5px; border:1px solid black;">30%</td></tr>
		</table>

		<p>
			<a href="https://signup.cj.com/member/brandedPublisherSignUp.do?air_refmerchantid=1019547">What are you waiting for?</a>
			<br /><br />
			Looking for more information? We are here to help you earn more. <a href="mailto:contact@39dollarglasses.com">Contact our dedicated account management team anytime</a>.
			<br /><br />
			We look forward to working with you.
		</p>
	</div>
</div>

</div> <!-- end mid  -->

[include templates/redesign/footer]
