[comment]
ui_page: ar_information.html
ui_type: page
ui_name: ar_information.html
ui_page_template: notemplate
ui_source: pages/ar_information.html
ui_template: Yes
ui_template_name: notemplate
[/comment]

[tmp members_only][/tmp]

@_NTTOP_@

	<div id="arInfo">
		<strong>Anti-Reflective Coating</strong>
		<br /><br />
		<p><span class="check">&#10003;</span>Increases visual performance of your eyeglasses.  Instead of light reflecting off the lenses (and internally reflecting within the lenses), 99% or more will now pass right through.</p>
		<p><span class="check">&#10003;</span>Dramatically improves the appearance of your eyeglasses.  Others won’t see the light bounce off your lenses; they’ll just see your eyes.  (This is why everyone on TV who wears eyeglasses always has anti-reflective coatings on them.)</P>
		<p><span class="check">&#10003;</span>Makes night-driving much easier by virtually elimanting all headlight and street light glare.</p>
		<p><span class="check">&#10003;</span>Our no-glare lens coatings are also super-hydrophobic (aka oleophobic).  This means they repel water and moisture, reduce static build-up, and are easier to clean.</p>
	</div>
@_NTBOTTOM_@
