[comment]
ui_page: bizrate.html
ui_type: page
ui_name: bizrate.html
ui_page_template: primary
ui_source: pages/bizrate.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title][/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header][/tmp]

@_TOP_@

<div id="subcontent">
	<h1 class="bc03">Bizrate Test Page</h1>
	<div id="crumbs" class="bc01">
		[page_breadcrumbs location="Bizrate Test Page,bizrate"]
		<p class="bc09">This page allows you to check the output of the Bizrate seal before re-enabling it in the main footer.</p>
	</div>
	<div id="sec-container" class="c2">

<a href="http://www.bizrate.com/ratings_guide/cust_reviews__mid--31162.html" rel="nofollow" target="_blank"><img src="http[if type=explicit compare="[secure_mode]"]s[/if]://medals.bizrate.com/medals/dynamic/31162_medal.gif" alt="BizRate Customer Certified (GOLD) Site - 39DollarGlasses Reviews at Bizrate" width="125" height="73" align="top" border="0" /></a>

	</div>
</div>

@_BOTTOM_@
