<style type="text/css">
	.signuparea{
		width: 980px;
		margin: auto;
	}
	form.ccoptin{
		position: relative;
		margin-top: -65px;
		margin-left: 550px;
	}
	input.text {
		height: 30px;
		border: 0px;	
	}
	input.submit{
		background-color: #88be33;
		color: #ffffff;
		border: 0px;
	}
</style>
[include templates/redesign/header]
<div id="mid">
    <br/>
    <h1>Black Friday Is Coming! Sign up for exclusive savings today.</h1>
    <br/>
        <div class="signuparea">
            <img src="/images/blackfriday-landing-page.jpg">
            <form class="ccoptin" name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
                <input type="hidden" name="llr" value="xftrejlab">
                <input type="hidden" name="sit" value="kvvqdxmhb">
                <input type="hidden" name="m" value="1111629548727">
                <input type="hidden" name="p" value="oi">
                <input type="text" name="ea" size="30" value="" style="">
                <input type="submit" name="go" value="Sign Up" class="submit" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;">
            </form>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
[include templates/redesign/footer]
