[tmp torder][cgi order][/tmp]
[tmp oline][cgi oline][/tmp]

[tmp ins_details][cgi idetails][/tmp]

[tmp printfile][print-ins
		form="sales-receipt"
		order="[scratch torder]"
		insurance="1"
		details="[scratch ins_details]"
		orderline="[scratch oline]"
		isubtotal="[cgi isubtotal]"
		ishipping="[cgi ishipping]"
		irewards="[cgi irewards]"
		itotal="[cgi itotal]"
		pricetext="[cgi pricetext]"
	][/tmp]



[if scratch printfile]

    
	<script language="JavaScript">
		window.open('__SECURE_SERVER__/[scratch printfile]?wasrv=[cgi server]');
		history.back();
	</script>

	
[else]
	[set error_message]<font color=red>There was a problem trying to view the PDF you requested. Please try again.</font>[/set]
	[bounce page=insurance]
[/else]
[/if]
