[comment]
ui_page: change_password.html
ui_type: page
ui_name: change_password.html
ui_page_template: primary
ui_source: pages/change_password.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Change Your Password - __COMPANY__[/tmp]
[tmp seo_noindex]1[/tmp]
[tmp seo_nofollow][/tmp]
[tmp meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
div.createacc_cont{
	margin-top:0;
}
div.spacer{
	clear: both;
	height: 25px;
}
.createacc_cont input[type="submit"] {
	float: right;
}
p.error{
	 border: 1px solid #C30000;
    background: #FDD;
    clear: both;
    padding: 20px;
    margin-top: 0px;
    color: #c30000;
}
</style>
[/tmp]

[include templates/redesign/header]
[tmpn current_page]change_password[/tmpn]
<div id="mid">
<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="createacc_cont">
			<h2>Change Your Password</h2
			<div class="contentBody">
				[if session failure]
						<p class="error">[calc] 
						delete $Session->{failure}[/calc]</p>
				[/if]
				[set mv_no_cache]1[/set]
				[set New Account]
					mv_nextpage=new_account
					[set new]1[/set]
				[/set]
				[if !session logged_in][bounce page=login][/if]
				<form action="[process secure=1]" method="post" id="cp-form">
					<input type="hidden" name="mv_session_id" value="[data session id]" />    
					<input type="hidden" name="mv_todo"  value="return" />
					<input type="hidden" name="mv_check" value="Change_password" />
					<input type="hidden" name="mv_failpage" value="change_password" />
					<input type="hidden" name="mv_successpage" value="customerservice" />
					<input type="hidden" name="mv_nextpage" value="change_password" />
					<label for="mv_password_old">Old Password:</label>
					<input type="password" id="mv_password_old" name="mv_password_old" value="" />
					<label for="mv_password">New Password:</label>
					<input type="password" id="mv_password" name="mv_password" value="" />
					<label for="mv_verify">Verify Password:</label>
					<input type="password" id="mv_verify" name="mv_verify" value="" />
					<input type="submit" value="change password" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="spacer"></div>
</div>
[include templates/redesign/footer]
