[perl tables="products"]

my ($dbh, $sth);
$dbh = $Sql{products};
$sth = $dbh->prepare(q\
	select sku, ven_color, options_tint, image from products where sku like ? and inactive <> 1 group by sku
\);
$CGI->{sku} =~ /(^\d+)/;
$sth->execute( $1 . '%');
my $results = fetchall_hashref($sth,'sku','ven_color','options_tint','image');
my $ot;
for (@$results){
	$ot .= ' '.$_->{options_tint};
}
my %uniq_tint = map {
	$_ => 1
} (split /\s+/, $ot);
my $tint_list = (join ' ', keys %uniq_tint);
$tint_list =~ s/\s{2,}/ /g;
$tint_list =~ s/^\s+//g;
$tint_list =~ s/\s+$//g;
$Tag->tmpn('tint_list',  $tint_list);

$Tag->tmpn('similar_frames',$results);

return;

sub fetchall_hashref {
    #its called a hash ref interchange, use it
    my ($sth, @columns) = @_;
    my $res;
    while (my $row = $sth->fetchrow_arrayref){
        my $count = 0;
        my $ref;
        for (@$row){
            $ref->{$columns[$count++]} = $_;
        }
        push @$res, $ref;
    }
    return $res;
}
[/perl]
<div class="mypd_main" style="width: auto; display:block;">
	<a class="modalCloseImg" title="Close"></a>
		<div class="mypd_mainbox" style="width: auto; display:block;" >
			<div class="mypd_cont">
				<div style="background: white; padding: 20px;padding-top: 0;">
					<h3>View Frame Combinations</h3>
					<br />
					<div class="mainImage">
						<img height="250" data-src="/store/images/items_large/[cgi sku].jpg" src="/store/images/items_large/[cgi sku].jpg" alt="" />
					</div>
					<h5 style="text-align: center">Available Colors</h5>
					<ul class="color_opt">
						[loop object.mv_results=`$Scratch->{similar_frames} || []`]
						[tmp t_sku][loop-param sku][/tmp]
						[calcn]
						$Tag->tmpn('selected', $Scratch->{t_sku} eq $CGI->{sku} ? '1' : '0');
						[/calcn]
						<li data="[loop-param sku]" class="[filter op=lc interpolate=1][loop-param ven_color][/filter] frameColor">
							<a [if scratch selected]class="selected"[/if] href="[area href="[loop-param sku]"]">[filter op='lc ucfirst' interpolate=1][loop-param ven_color][/filter]</a>
							<div class="image_preload">
								<img height="250" src="/store/images/items_large/[loop-param sku].jpg" alt="" />
							</div>
						</li>
						[/loop]
					</ul>
					<br />
					<h5 style="text-align: center">Available Tints</h5>
					[calcn hide=1]
					$Scratch->{avail_colors} = [ map { lc $_ } (split ' ', $Scratch->{tint_list}) ];
					[/calcn]
					<ul class="lens_tint">
						[loop list="GREY BROWN G15 BLUE ROSE ORANGE YELLOW CLEAR" delimiter=" "]
							[tmp color][loop-code][/tmp]
							[if type=explicit compare=`grep lc($Scratch->{color}) eq $_, @{$Scratch->{avail_colors}}`]
								[if scratch color eq 'G15']
									[tmp color]Green[/tmp]
								[/if]
								<li data="/store/images/tints/[cgi sku]_[filter op='uc' interpolate=1][loop-code][/filter].jpg" class="[filter op=lc interpolate=1][loop-code][/filter]_bg tintOption">
									<a href="#">[filter op='lc ucfirst' interpolate=1][scratch color][/filter]</a>
									<div class="image_preload">
										<img src="/store/images/tints/[cgi sku]_[filter op='uc' interpolate=1][loop-code][/filter].jpg" alt="" />
									</div>
								</li>
							[/if]
						[/loop]
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
