[perl hide=1]
$Scratch->{page_title} = 'Glasses For Computer Use | Stylish Frames with your Rx only $39';
$Scratch->{meta_description} = 'Find glasses featuring AR anti-glare coating to help protect from CVS. 39DollarGlasses offers stylish, affordable, prescription glasses for computer use.';
$Scratch->{meta_keywords} = 'eyeglasses,sunglasses,eyeglass lenses,eyeglass,glasses,eye glasses,sun glasses,prescription eyeglasses, prescription eye glasses';
[/perl]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
}

.outerwrapper{
width: 984px;
margin: auto;
}

h1 {
font-family: arial,helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
color: #ffa400;
margin-top: 50px;
}

span.textbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa40;
}


p.text {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
margin-top: 0px;
color: #787878;
}

img.samplefirst{
border-right: 0px dotted #cccccc;
border-left: 0px dotted #cccccc;
padding: 10px;
margin-left: 20px;
}

img.sample{
border-right: 0px dotted #cccccc;
padding: 10px;
}

p.imgtitle{
font-family: arial,helvetica,sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
color: #ff9900;
margin: 0px;
}
p.imgdesc1{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
color: #787878;
margin: 0px;
}

p.imgdesc2{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: center;
color: #787878;
margin: 5px 0px 0px 0px;
}

</style>
<div class="outerwrapper">
<div class="innerwrapper">

<table style="float:left" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<img width="960" src="/img/computer-use.jpg"></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.39dollarglasses.com/9332_BLACK.html"><img class="samplefirst" src="/img/computerglasses1.jpg" alt=""></a><p class="imgtitle">Stuyvesant</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9332_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/3008_Gunmetal.html"><img  class="sample" src="/img/computerglasses2.jpg" alt=""></a><p class="imgtitle">Leonardo</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/3008_Gunmetal.html"><img src="/img/buy-now.png"></a></p></td>
			<td>
			<a href="http://www.39dollarglasses.com/3524_BrownCrystal.html"><img  class="sample" src="/img/computerglasses3.jpg" alt=""></a><p class="imgtitle">Trento</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/3524_BrownCrystal.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/3091_DarkGunmetal.html"><img  class="sample" src="/img/computerglasses4.jpg" alt=""></a><p class="imgtitle">Augusta</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/3091_DarkGunmetal.html"><img src="/img/buy-now.png"></a></p></td>
	</tr>
		<tr>
		<td colspan="4">
		<h1>Glasses for Computer Use</h1>
		<p class="text">Do your eyes suffer whenever you surf the web? Prolonged use of the computer may result in computer vision syndrome (CVS). While CVS is not dangerous, it’s important to take protective precautions while using the computer. If you’re experiencing dry eyes, eyestrain, blurred vision, headaches, or neck and shoulder pain then glasses for computer use may be a good choice for you!

		                Luckily 39DollarGlasses offers two options that will help reduce eyestrain while using the computer. Staring at a bright computer screen for prolonged periods may leave your eyes feeling tired and dry. We recommend using lenses that have an AR anti-glare coating to help cut down on this strain. Another recommendation is to get your lenses made with a “computer tint”. Our lenses can be tinted with a 20% to 30% opacity, which will help dull the brightness of your screen. To receive this special tint, please contact our helpful <a href="http://www.39dollarglasses.com/contact_us.html">customer service team</a>.

                        With our computer glasses, you won’t have to sacrifice style for comfort. Several of our stylish designs can have a tint or an AR coating added to the lenses. These little touches are great for keeping your eyes comfortable while using the computer. 

                        If you think you may suffer from CVS or if you just hate straining your eyes while using the computer then try a pair of computer glasses. Simply browse our entire selection, add an affordable tint or anti-glare option, and you’ll be free to comfortably surf the Internet. 
        </p>
			</td>
	</tr>
</table>
</div>
</div>
[include templates/redesign/footer]