[comment]
ui_page: contact_us_email.html
ui_type: page
ui_name: contact_us_email.html
ui_page_template: primary
ui_source: pages/contact_us_email.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Contact Us - Thank You - __COMPANY__[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header][/tmp]

@_TOP_@
<!-- BEGIN CONTENT -->

<div id="subcontent">
	<h1 class="bc03">Thank You For Contacting __COMPANY__</h1>
	<div id="crumbs" class="bc01">[page_breadcrumbs location="Contact Us - Thank You,contact_us_email"]</div>
	<div id="sec-container" class="c2">

[if !value queryroute][bounce href="contact_us.html"][/if]

[if value queryroute eq "Press Information"]
[or value queryroute eq "Affiliate Program"]
	[tmp emailroute]__QUERY_FORM_CUST_TO__[/tmp]
[else]
	[tmp emailroute]__QUERY_FORM_TO__[/tmp]
[/else][/if]

[if value queryroute eq "Suggestion about our site"]
[or value queryroute eq "Corporate Programs"]
	[tmp bcc]__QUERY_FORM_CUST_TO__[/tmp]
[else]
	[tmp bcc][/tmp]
[/else][/if]

[email hide=1
to="[scratch emailroute]"
subject="[[value queryroute]] Dear 39dollarglasses: [value subject]"
from="[value emailadd]"
reply="[value emailadd]"
extra="BCC: [scratch bcc]"]

Name: [value yourname]
Email: [value emailadd]
Subject: [value subject]
Query: [value queryroute]
[if value order_number]Order No: [value order_number]
[/if]
Comments: 
---------------
[value customer_comments]


([data session id])

[/email]

<p><br /><br /><strong>Thank you for your inquiry.<br />We'll respond to your email within 24 hours.</strong></p>

	</div>
</div>

<!-- END CONTENT -->
@_BOTTOM_@
