[comment]
ui_page: contact_us.html
ui_type: page
ui_name: contact_us.html
ui_page_template: primary
ui_source: pages/contact_us.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Contact __COMPANY__[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header]
<script type="text/javascript">
$(function(){
	$('#lcLink').click(function(){
		$('img[src="http://www.39dollarglasses.com/img/chat-hover.png"]').click();
	})
})
function routecheck () {
<!--
	var form = document.getElementById('inquiry');
	if(form == undefined)
		return;
	var selec = form.queryroute;
	if(selec.selectedIndex == undefined)
		selec.selectedIndex = 0;
	var selnam = selec.options[selec.selectedIndex].value;
	if ((selnam == 'Make changes to an order I just placed')
		|| (selnam == 'Questions about my order status')
		|| (selnam == 'Questions about an order I\'ve already received'))
	{
		document.getElementById('order_number_div').style.visibility = 'Visible';
		return;
	} else {
		document.getElementById('order_number_div').style.visibility = 'Hidden';
		return;
	}
}
// -->
</script>
[/tmp]

[include templates/redesign/header]
<!-- BEGIN CONTENT -->

<div id="mid">
<!--	<p style="color:red">***Friday, July 4th 2014***</p>
	<p style="color:red">Our office will be closed on Friday, July 4th.  We will be open during our normal business hours on Monday, July 7th.</p> -->
	<h1>[L]Contact Us[/L]</h1> 
	[L]We want to be accessible to all our customers.[/L][L] If you have any questions for us, there are many ways to reach us.[/L] 
	<br/>[L]Answers to most questions are available through our [/L]<a href="[area help/index]">[L]online help section[/L]</a>.
	<div class="contact_left">
		<div class="email_support">
			[if scratchd successful_send]
				<div class="success">
					<strong>Thank you for your inquiry.<br />We'll respond to your email within 1 business day.</strong>
				</div>
			[/if]
			<form action="[process]" method="post" id="inquiry">
				[set Check_form]
					[update values]
					&success=contact_us_bounce
					&fail=@@MV_PAGE@@
					emailadd=email We need your email address.
					queryroute=required Please tell us what your inquiry is about by selecting from the list.
					[if value queryroute eq existing]
						order_number=required Since you are asking about and existing order, we need your order number.
					[/if]
					&fatal=1
				[/set]
				<input type="hidden" name="mv_session_id" value="[data session id]" />
				<input type="hidden" name="mv_doit" value="return" />
				<input type="hidden" name="mv_nextpage" value="contact_us_bounce" />
				<input type="hidden" name="mv_form_profile" value="Check_form" />
				<h3>[L]Email support</h3>
				<p><strong style="font-size: 13px;" class="semibold">[L]Send your questions by filling out the fields below[/L]:</strong></p> 
				<label for="yourname">[L]Name[/L]:</label> <input type="text" id="yourname" name="yourname" size="20" maxlength="45" value="[value yourname]" />
				<label for="emailadd">[L]Email[/L]:</label> <input type="text" id="emailadd" name="emailadd" size="20" maxlength="45" value="[value emailadd]" />
				<label for="subject">[L]Subject[/L]:</label> <input type="text" id="subject" name="subject" size="35" maxlength="45" value="[value subject]" />
				<label for="queryroute">[L]Inquiry Type[/L]:</label>
				<select id="queryroute" name="queryroute" onchange="javascript:routecheck();">
					<option value="">--- Please Select ---</option>
					<option value="General questions about placing an order">General questions about placing an order</option>
					<option value="Make changes to an order I just placed">Make changes to an order I just placed</option>
					<option value="Questions about my order status">Questions about my order status</option>
					<option value="Questions about an order I've already received">Questions about an order I've already received</option>
					<option value="Suggestion about our site">Suggestion about our site</option>
					<option value="Corporate Programs">Corporate Programs</option>
					<option value="Affiliate Program">Affiliate Program</option>
					<option value="Press Information">Press Information</option>
					<option value="General Information">General Information</option>
				</select>
				<span class="message_text"><label style="width: auto;margin: 0;" for="customer_comments">[L]Please Enter Your Message Here[/L]:</label></span>
				<textarea cols="50" rows="10" id="customer_comments" name="customer_comments">[value customer_comments]</textarea>
				<input type="submit" value="send message" />
			</form>
		</div>
		[if scratch available]
		<div class="livechat_cont">
			<h3>[L]live chat[/L]</h3>
			<img src="/store/images/new_site/chat_img.png" class="livechat_cimg" alt="" />
			<div class="livechat_ctext"><p style="width: 150px;"></p><!--[L]24/7 live chat available for you![/L]--></div>
			<a href="#" id="lcLink" class="openchat_link">[L]open chat[/L]</a>
		</div>
		[/if]
	</div>
	<div class="contact_right">
		<div class="contact_rbox">
			<h3>Track Your Order</h3>
			<div class="contact_rbtext">
				Enter your order number, shipping zip code and e-mail address into the form below to obtain the status information for your order. <span><strong>All fields are required.</strong></span></div>
				<form name="track_order" action="[process secure=1]" method="POST">
					<input type="hidden" name="mv_nextpage" value="query/order_status">
					<input type="hidden" name="submit" value="1">
					<label for="order_number">Order Number<span>*</span>:</label> <input id="order_number" name="order_number" value="[cgi order_number]" type="text" />
					<label for="zip">Shipping Zip Code<span>*</span>:	</label> <input id="zip" name="zip" value="[either][cgi zip][or][value zip][/either]" type="text" />
					<label for="email">E-mail Address<span>*</span>:</label> <input name="email" id="email" value="[either][cgi email][or][value email][/either]" type="text" />
					<input type="submit" value="View status" />
				</form>
			</div>
			<div class="contact_rbox">
				<h3>Phone Support</h3>
				<span>Monday-Friday, 9:00am - 5:00pm (EST)</span>
				Call us directly at <b>__PHONE__</b> <br/>
				Toll free within US <b>__TOLLFREE__</b> <br/>
				Fax: <b>__FAX__</b>
			</div>
			<div class="contact_rbox">
				<h3>Mailing Address</h3>
				<b>__LEGALNAME__</b><br/>
				c/o __COMPANY__<br/>
				__ADDRESS__<br/>
				__CITY__, __STATE__ __ZIP__
			</div>
		</div>
	</div>
</div>
<div class="image_preload">
	<img src="/store/images/new_site/btn_hbg6.png" alt=""/>
	<img src="/store/images/new_site/btn_hbg5.png" alt=""/>
	<img src="/store/images/new_site/btn_hbg7.png" alt=""/>
</div>
[include templates/redesign/footer]
