[comment]
ui_page: customerservice.html
ui_type: page
ui_name: customerservice.html
ui_page_template: primary
ui_source: pages/customerservice.html
ui_template: Yes
ui_template_name: primary
[/comment]
[tmp 501c][ambassador function="is_501c_ambassador" email="[value email]"][/tmp]
[if scratch 501c]
	[bounce ambassador/index]
[/if]
[tmp page_title]__COMPANY__ Customer Service[/tmp]
[tmp seo_noindex]1[/tmp]
[tmp seo_nofollow]1[/tmp]
[tmp members_only]1[/tmp]
[tmp meta_header]
	<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
	<script type="text/javascript">
		<!--
		jQuery(function($){
			$('div.boxDisplay').mouseenter(function(){
				$(this).css('background-image', 'url(/img/myAccount/basicLayerHover.png)');
			});
			$('div.boxDisplay').mouseleave(function(){
				$(this).css('background-image', 'url(/img/myAccount/basicLayer.png)');
			});
		});
		-->
	</script>
	<style type="text/css">
	div.myAccountContainer{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	div.myAccountContent{
		clear: both;
		margin: 15px auto;
		padding: 15px 0;
		float: none;
		height: 480px;
	}
	div.myAccountNav{
		display: none;
	}
	</style>
[/tmp]
[include templates/redesign/header]
<!-- BEGIN CONTENT -->

[tmp logged_in][data session logged_in][/tmp]
[if !scratch logged_in]
	[bounce login]
[/if]

[query sql="SELECT 1 AS old FROM userdb WHERE consolidated='1' AND username='[data session username]'" type=list]
[list]
	[tmp old][sql-param old][/tmp]
[/list]
[/query]

[if scratch old]
	[query sql="SELECT username FROM userdb WHERE email='[data table=userdb key=|[data session username]| field=prev_email]'" type=list]
	[list]
		[tmp usethis][sql-param username][/tmp]
	[/list]
	[/query]

	[seti consolidated_account]This account is no longer active, it has been consolidated into your most recently account. Please login with username <b>[scratch usethis]</b>. If you have any trouble or require assistance please contact us.[/seti]

	[userdb logout]
	[bounce href="login"]
[/if]

[comment] Basic width of site = 968 [/comment]
[tmpn current_page]customerservice[/tmpn]

<div class="myAccountContainer">
<div class="myAccountNav" style="width: 200px">&nbsp;</div>
	<div class="myAccountContent">
		<a href="[area href="account"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/accountInformation.png" alt="Account Information" title="Account Information" /></div>
				<p>Account<br />Information</p>
			</div>
		</a>
		<a href="[area href="your_prescription"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/yourPrescription.png" alt="Your Prescription" title="Your Prescription" /></div>
				<p>Your<br />Prescription</p>
			</div>
		</a>
		<a href="[area href="query/check_orders"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/orderTracking.png" alt="Order Tracking" title="Order Tracking" /></div>
				<p>Order<br />Tracking</p>
			</div>
		</a>
		<a href="[area href="query/check_orders"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/orderHistory.png" alt="Order History" title="Order History" /></div>
				<p>Order<br />History</p>
			</div>
		</a>
		<br clear="all" /><br />
		<a href="[area href="rewards"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/smartFitRewards.png" alt="SmartFit Rewards" title="SmartFit Rewards" /></div>
				<p>EyeBucks<br />Rewards</p>
			</div>
		</a>
		<a href="[area href="insurance"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/insuranceReceipt.png" alt="Insurance Receipt" title="Insurance Receipt" /></div>
				<p>Insurance<br />Receipt</p>
			</div>
		</a>
		<a href="[area href="change_password"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/changePassword.png" alt="Change Password" title="Change Password" /></div>
				<p>Change<br />Password</p>
			</div>
		</a>
		<a href="[area href="logout"]" class="boxLink">
			<div class="boxDisplay">
				<div class="iconDisplay"><img src="/img/myAccount/logOut.png" alt="Log Out" title="Log Out" /></div>
				<p class="oneLineText">Log Out</p>
			</div>
		</a>
	</div>
</div>
			
			


<!-- END CONTENT -->
[include templates/redesign/footer]
