[perl hide=1]
$Scratch->{page_title} = 'Prescription Glasses For Night Driving | Stylish Frames Only $39!';
$Scratch->{meta_description} = 'Need to improve your vision while driving? See better on the road at night with cheap Rx glasses for $39. Satisfaction guaranteed & Free returns! Buy now!';
$Scratch->{meta_keywords} = 'eyeglasses,sunglasses,eyeglass lenses,eyeglass,glasses,eye glasses,sun glasses,prescription eyeglasses, prescription eye glasses';
[/perl]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
}

.outerwrapper{
width: 984px;
margin: auto;
}

h1 {
font-family: arial,helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
color: #ffa400;
margin-top: 50px;
}

span.textbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa40;
}


p.text {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
margin-top: 0px;
color: #787878;
}

img.samplefirst{
border-right: 0px dotted #cccccc;
border-left: 0px dotted #cccccc;
padding: 10px;
margin-left: 20px;
}

img.sample{
border-right: 0px dotted #cccccc;
padding: 10px;
}

p.imgtitle{
font-family: arial,helvetica,sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
color: #ff9900;
margin: 0px;
}
p.imgdesc1{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
color: #787878;
margin: 0px;
}

p.imgdesc2{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: center;
color: #787878;
margin: 5px 0px 0px 0px;
}

</style>
<div class="outerwrapper">
<div class="innerwrapper">

<table style="float:left" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<img width="960" src="/img/driving.jpg"></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.39dollarglasses.com/6314_BLACK.html"><img class="samplefirst" src="/img/drivingglasses1.jpg" alt=""></a><p class="imgtitle">Fission Eyewear 014</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/6314_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/8212_BLACK.html"><img  class="sample" src="/img/drivingglasses2.jpg" alt=""></a><p class="imgtitle">Eddie Bauer 8212</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/8212_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
			<td>
			<a href="http://www.39dollarglasses.com/9069_BROWN.html"><img  class="sample" src="/img/drivingglasses3.jpg" alt=""></a><p class="imgtitle">Carlo Capucci 069</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9069_BROWN.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/9105_AMBER.html"><img  class="sample" src="/img/drivingglasses4.jpg" alt=""></a><p class="imgtitle">Retro Eyewear 105</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9105_AMBER.html"><img src="/img/buy-now.png"></a></p></td>
	</tr>
		<tr>
		<td colspan="4">
		<h1>Glasses for Driving</h1>
		<p class="text">Wearing eyeglasses is an easy and affordable way to improve your vision.  Unfortunately, things like glare, weather, and other factors can still affect your vision even when you’re wearing glasses. It is important to protect your eyes against these hindering factors, especially while driving.

<a href="http://www.39dollarglasses.com">39DollarGlasses</a> proudly offers premium AR anti-glare coating to help protect your eyes while behind the wheel. Whether you’re worried about bright sunrays or the troubles of night driving, our AR coating has got you covered. 

Daytime driving promises the risk of bright sunrays obscuring your vision. To defend yourself from the glare, our AR coating will cut that brightness and allow you to see clearly even on the sunniest of days. Even more concerning is night driving. Oftentimes, you may find yourself straining to see when an oncoming car has their headlights on. Luckily AR coating can also help cut down this brightness, allowing you to see comfortably.

We also offer <a href="http://www.39dollarglasses.com/blog/2013/05/the-benefits-of-drivewear-lenses/">Drivewear</a>, which is an impressive lens that adjusts according to the conditions that you are in. Drivewear lenses combine Transition Photochromic Technology with NuPolar polarization and are activated by visible light as well as UV light. This technology makes it possible for your lenses to change colors depending on your environment. While in low light or overcast conditions Drivewear lenses adjust to a high contrast greenish yellow hue. If you’re in bright light or outside conditions the lenses will turn a dark reddish color. These lenses get their namesake based on how they change while behind the windshield of a car. The lenses will transform to a copper color that will remove bright access light.
</p>
			</td>
	</tr>
</table>
</div>
</div>
[include templates/redesign/footer]