
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp flycode][either][data session arg][or][calcn] $Tag->env('SCRIPT_URI') =~ m|(\d{4,7}_\w+).html$|; $1[/calcn][/either][/tmp]
[calcn] $Tag->tmpn('current-page', $Scratch->{flycode}); $Tag->tmpn('thispage', 'flypage'); '';[/calcn]
[ab-log page="item" option="[scratch flycode]"] 

[tmp coup_ok][coupon code="[cgi coupon_code]" msgscratch=coupon_msg no=0 yes=1][/tmp]
[if cgi coupon_code]
	[if scratch coup_ok]
		[seti is_coupon]1[/seti]
	[/if]
[/if]

[fly-list code="[scratch flycode]"]

[if type=file term="../../www/html/store/images/items_tryon/[item-code]_CLEAR.png"]
	[set tryon_hide][/set]
[else]
	[set tryon_hide]1[/set]
[/else][/if]

[include include/tryon_killswitch]

[tmp item_description][item-description][/tmp]
[calcn]
	$Tag->tmpn('metadata_tokens',{
		description => $Scratch->{item_description},
		eyeOrSun => $CGI->{sunglasses} ? 'Sun' : 'Eye'
	});
	'';
[/calcn]
[tmp metadata][metadata][/tmp]
[tmp legacy_js]1[/tmp]
[tmp meta_footer]
	<div id="infoLayer" class="popup_block"></div>
[/tmp]
[tmp meta_header]
	<meta property="og:title" content="__COMPANY__ [filter op=encode_entities interpolate=1][item-description][/filter] frame." />
	<meta property="og:type" content="product" />
	<meta property="og:url" content="http://__SERVER_NAME__/[item-code].html" />
	<meta property="og:image" content="http://__SERVER_NAME__/store/images/items_large/400x400/[item-code].jpg" />
	<meta property="og:site_name" content="__COMPANY__" />
	<meta property="fb:admins" content="drmarlow" />
	<meta property="og:description" content="[filter op=encode_entities interpolate=1][item-field detail][/filter]" />
	
[if !scratch tryon_killswx]
	<script type="text/javascript">var switchTo5x = true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({
        publisher: "ef8bcf6e-9f95-47e4-b0e7-4813ad34f377"
    }); 
  </script>
	<script src="__JQUERY_UI__" type="text/javascript"></script>
	<script src="/javascript/jquery.simplemodal-1.4.1.js" type="text/javascript"></script>
	<script src="/javascript/simplemodal.js" type="text/javascript"></script>
	<script src="/javascript/tryon.js" type="text/javascript"></script>
	<script src="/javascript/jQueryRotate.1.7.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
	<link rel="stylesheet" href="/javascript/jquery.fileupload-ui.css" />
	<script src="/javascript/jquery.Jcrop.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/javascript/jquery.Jcrop.css" type="text/css" />
	__THEME_CSS__
	[if session ab eq 'a']
        <link rel="stylesheet" href="/css/tryonA.css" type="text/css" />
    [else]
        <link rel="stylesheet" href="/css/tryonA.css" type="text/css" />
    [/else]
    [/if]
  <script type="text/javascript">		
  var faceshapes = {
      male: new Array(),
      female: new Array()
  };
  [if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Men')"]
     [loop list="ovl rec tri sqr dmd rnd"]
       faceshapes.male['[loop-code]'] = new Image();
       faceshapes.male['[loop-code]'].src = '[either][image src_only="1" src="shape/[scratch lookupcolor]_[loop-code]_male.jpg" makesize="300x300"][or][image src_only="1" src="shape/[scratch lookupcolor]_male_[loop-code].jpg" makesize="300x300"][/either]';
     [/loop]
  [/if]
  [if type="explicit" compare="($Scratch->{itemgender} eq 'Unisex') || ($Scratch->{itemgender} eq 'Women')"]	
    [loop list="ovl rec tri sqr dmd rnd"]
      faceshapes.female['[loop-code]'] = new Image();
      faceshapes.female['[loop-code]'].src = '[either][image src_only="1" src="shape/[scratch lookupcolor]_[loop-code]_female.jpg" makesize="297x297"][or][image src_only="1" src="shape/[scratch lookupcolor]_female_[loop-code].jpg" makesize="297x297"][/either]';
    [/loop]
  [/if]	
 </script>
 <div id="triggerPop"></div>
[/if]

	<script type="text/javascript">
		if (top!=self) top.location.href=self.location.href;
	
	$(document).ready(function(){
       $('#triggerPop').click( function(e){
           e.preventDefault();
           $.get('/tryon_gather_profile.html', function(data){
             modal(data, 460);
             step_one();
           });
       });
       $('#btn-step1').hover(function(){
       		var matches = $(this).attr('src').match(/^(.+)\.(jpg|png|jpeg|gif)$/i);
    		$(this).attr('src', matches[1]+'-hover.'+matches[2]);
       },function(){
       		var matches = $(this).attr('src').match(/^(.+)-hover\.(jpg|png|jpeg|gif)$/i);
    		$(this).attr('src', matches[1]+'.'+matches[2]);
       })
    });
    
	</script>

	<style type="text/css">
		a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
		a.stbar.chicklet {height:16px;line-height:16px;}
	</style>
[/tmp]
[set captcha-checked]1[/set]
[tmp available][calc]
my $hour = $Tag->time({},'%H');
if ($hour >= 9 && $hour <= 16)
{ return 1; } else { return 0; }
[/calc][/tmp]
@_TOP_@

[tmp productCatFilter][read-cookie name="productCatfilter"][/tmp]

[tmp cross_category][item-field category][/tmp]
[include include/order_forms/url_breadcrumb_links]
[set_recent_items sku="[item-code]" sunglasses="[cgi sunglasses]"]
<div id="modal_overlay" class="opaque"></div>
<div id="subcontent">
		<h1 style="float: left" class="bc03 bc13">
		[filter op=encode_entities interpolate=1][item-description][/filter][if cgi sunglasses] Sunglasses[else] Eyeglasses[/else][/if]
	</h1>
	<div style="float: left; margin: 5px 0 0 60px">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e70ba1652c791ba"></script>
		<!-- AddThis Button END -->	
	</div>
	<br class="clear" />
	
	<div id="sec-container" class="c3">

[if variable POWER_REVIEWS_ENABLE]
	__POWER_REVIEWS_JS__
[/if]

[if type="explicit" compare=`
	return 1 if $Session->{browser} !~ /MSIE\s?6/;
	return 0;
`]
<div id="largeFrameLayer" style="display:none;">
	<div id="generic_dialog_popup">
		<table class="pop_box_table" style="width:750px;">
			<tr>
				<td class="pop_box_topleft"></td>
				<td class="pop_box_border"></td>
				<td class="pop_box_topright"></td>
			</tr>
			<tr>
				<td class="pop_box_border"></td>
				<td class="pop_box_content" style="width:730px;">
					<div class="pop_box_main_content" style="width:728px;">
						<div class="pop_box_close">
							<a href="#" onclick="largeFrameHide(); return false;"><img src="/img/template/popUpClose_en_US.gif" alt="Close" /></a>
						</div>
						<img src="/img/template/pixel.gif" id="largeFrameImage" alt="Large Frame View" />
					</div>
				</td>
				<td class="pop_box_border"></td>
			</tr>
			<tr>
				<td class="pop_box_bottomleft"></td>
				<td class="pop_box_border"></td>
				<td class="pop_box_bottomright"></td>
			</tr>
		</table>
	</div>
</div>
[/if]

[set sku][item-code][/set]
[tmp itemsku][item-code][/tmp]

[comment] I don't think this is actually used on this page..[/comment]
[tmp base_price][item-field price][/tmp]
[include include/order_forms/calc_price tables="options"]
[include include/order_forms/descriptions]

[set cross_category][item-field category][/set]
[set upsell][item-data merchandising upsell_to][/set]
[set cross_codes][item-data merchandising cross_sell][/set]

[if cgi sunglasses]
	[tmp sv][/tmp]
	[tmp bif][/tmp]
	[tmp prog][/tmp]
	[query sql="SELECT options_lenstype FROM products WHERE sku='[item-code]'" type=list][list]
		[calc]
			my $opt = q{[sql-param options_lenstype]};
			my @ary = split(/ /, $opt);
			foreach $ar (@ary) {
				if ($ar =~ /SUN/ || $ar =~ /TRAN/) {
					$Scratch->{sv} = $ar;
					last;
				} 
			}
			foreach $ar (@ary) {
				if (($ar =~ /BIF/) && ($ar =~ /SUN/ || $ar =~ /TRAN/)) {
					$Scratch->{bif} = $ar;
					last;
				} 
			}
			foreach $ar (@ary) {
				if (($ar =~ /PROG/) && ($ar =~ /SUN/ || $ar =~ /TRAN/)) {
					$Scratch->{prog} = $ar;
					last;
				} 
			}
			return undef;
		[/calc]
	[/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch sv]'" type=list][list][tmp svprice][sql-param price][/tmp][/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch bif]'" type=list][list][tmp bifprice][sql-param price][/tmp][/list][/query]
	[query sql="SELECT price FROM options_price WHERE o_value='[scratch prog]'" type=list][list][tmp progprice][sql-param price][/tmp][/list][/query]
[/if]

[tmp suntint]G15[/tmp]
[query sql="SELECT suntint FROM products WHERE sku='[item-code]' AND suntint != ''" type=list prefix=sun list-prefix=sun][sun][tmp suntint][sun-param suntint][/tmp][/sun][/query]
							
[tmp retail_price][item-field retail_price][/tmp]

[if-item-field inactive]
	[value name="cat" set="[item-field category]" hide=1]
	[if value cat eq 'Metal Eyeglasses']
		[bounce href="[area 11000]"]
	[elsif value cat eq 'Plastic Eyeglasses']
		[bounce href="[area 12000]"]
	[/elsif]
	[elsif value cat eq 'Bendable Titanium Eyeglasses']
		[bounce href="[area 15000]"]
	[/elsif]
	[elsif value cat eq 'Kids Eyeglasses']
		[bounce href="[area 13000]"]
	[/elsif]
	[elsif value cat eq 'Rimless Eyeglasses']
		[bounce href="[area 14000]"]
	[/elsif]
	[/if]
[/if-item-field]

[tmp branded][/tmp]

[perl no_return=1]
	$lookupcolor = q{[item-code]};
	$logo = q{[item-code]};
	$meas = q{[item-code]};
	$catcheck = q{[item-field category]};
	if ($catcheck =~ /Branded/)
	{
		$lookupcolor =~ s/(.*)_.*$/$1/;
		$logo =~ s/(.*)_.*_.*_.*$/$1/;
		$meas =~ s/(.*)_.*_.*$/$1/;
		$Scratch->{'lookupcolor'} = $lookupcolor;
		$Scratch->{branded} = 1;
	}
	else
	{
		$lookupcolor =~ /(\d{4,7})/;
		$Scratch->{'lookupcolor'} = $1;
	}
[/perl]

		<div id="center-container">
			<div id="step1-container">
				<ul>
					<li class="s1 bc11">Step 1: Choose Frame Color</li>
					<li class="s2 bc11">Step 2: Select Lens Type</li>
					<li class="s3 bc11">Step 3: Customize Your Lenses</li>
				</ul>
				<form action="[area step2]" method="post" id="orderform">
					<div>
						<input type="hidden" name="mv_session_id" value="[data session id]" />
						[if cgi sunglasses]<input type="hidden" name="sunglasses" value="1" />[/if]
						[include include/order_forms/compare1hide]
						[include include/order_forms/compare2hide]
						<ul>
						[loop search="fi=products/se=[scratch lookupcolor]/sf=sku/su=1"]
							[if type=explicit compare="'[loop-field inactive]' != '1'"]
							[tmp thecolor][loop-field ven_color][/tmp]
							<li><input type="radio" name="thiscolor" id="color_[loop-field sku]" value="[filter op="no_white" interpolate=1][loop-field sku][/filter]" [if explicit][condition]$Tag->env('SCRIPT_URI') =~ /$Scratch->{thecolor}/[/condition]checked[/if] />&nbsp; <label for="color_[loop-field sku]">[loop-field ven_color]</label></li>
							[/if]
						[/loop]
						</ul>
						<input type="image" src="/img/template/btn-step1.png" alt="Continue To Step 2" id="btn-step1" onclick="checkFlypageForm(); return false;" />
					</div>
				</form>
				<img src="/img/template/step-bottom-bg.png" width="705" height="8" alt="" />
			</div>

			<script src="/lib/javascript/form.js" type="text/javascript"></script>
			<script src="/lib/javascript/step123.js" type="text/javascript"></script>
			[include include/form_errors]

[if !scratch tryon_killswx]
	[value name="tryon_bouncepage" set="" hide="1"]

	[if-item-field tot_frame_width]
			[set tryon_parent_page]flypage[/set]
			
			[seti tryon_item_code][item-code][/seti]
			[seti tryon_tot_frame_width][item-field tot_frame_width][/seti]
			
			[image-size file="../../www/html/store/images/items_tryon/[item-code]_CLEAR.png"]
			[seti tryon_frame_height_px][scratch imgheight][/seti]
			[seti tryon_frame_width_px][scratch imgwidth][/seti]
		
			[seti tryon_sunglasses][cgi sunglasses][/seti]
			[if scratch tryon_sunglasses]
				[seti tryon_tint][scratch suntint][/seti]
			[else]
				[set tryon_tint]CLEAR[/set]
			[/else]
			[/if]
			<div id="basic-modal-content">
				<span style="display:inline; width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; left:-11px; background:url(/store/images/tryon-header-left-ear.png) no-repeat; width: 11px; height: 40px;"></span>
				[set show_tryon_tool_frame]1[/set]   
				[comment]
				<iframe 
					id="tryonToolFrame" name="tryonToolFrame" frameBorder="0" scrolling="no"
					style="display: block; position: relative; margin: 0px; padding: 0px; border: none;" 
					width="100%"
					[if scratch tryon-show-glasses]
						height="[calc][scratch frameheight]+24[/calc]px"
						src="[area tryon_adjust_glasses]"
					[elsif scratch tryon-show-arrange-dots]
						height="[calc][scratch frameheight]+24[/calc]px"
						src="[area tryon_arrange_dots]"
					[/elsif]
					[elsif scratch tryon-show-crop-image]
						height="[calc][scratch frameheight]+24[/calc]px"
						src="[area tryon_crop_image]"
					[/elsif]
					[elsif scratch tryon-show-upload-image]
						height="460px"
						src="[area tryon_upload_image]"
					[/elsif]
					[else] 
						height="460px"
						src="[area tryon_gather_profile]"
					[/else]
					[/if]
					>
				Please upgrade your browser to one that can use the iframe tag.
				</iframe>[/comment]
				<span style="display:inline; width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; right:-11px; background:url(/store/images/tryon-header-right-ear.png) no-repeat; width: 11px; height: 40px;"></span>
		 </div>
		
			<div id="tryon-modal-lg-display">   
				<span style="display:inline; width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; left:-11px; background:url(/store/images/tryon-header-left-ear.png) no-repeat; width: 11px; height: 40px;"></span>
				<iframe id="tryonLgDisplayFrame" name="tryonLgDisplayFrame" frameBorder="0" scrolling="no" width="444" height="674" style="display: block; position: relative; margin: 0px; padding: 0px; border: none; overflow: hidden;">
					Please upgrade your browser to one that can use the iframe tag.
				</iframe>
				<span style="display:inline; width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; right:-11px; background:url(/store/images/tryon-header-right-ear.png) no-repeat; width: 11px; height: 40px;"></span>
			</div>
			
			<div id="tryon-modal-share">   
				<span style="display:inline;  width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; left:-11px; background:url(/store/images/tryon-header-left-ear.png) no-repeat; width: 11px; height: 40px;"></span>
				<iframe id="tryonShareFrame" name="tryonShareFrame" frameBorder="0" scrolling="no" width="800" height="460" style="display: block; position: relative; margin: 0px; padding: 0px; border: none; overflow: hidden;">
					Please upgrade your browser to one that can use the iframe tag.
				</iframe>
				<span style="display:inline; width: 11px; height: 40px; z-index:3200; position:absolute; top:0px; right:-11px; background:url(/store/images/tryon-header-right-ear.png) no-repeat; width: 11px; height: 40px;"></span>
			</div>
	[/if-item-field]
[/if]
			
			<div id="step1-faceframe">
				<div id="step1-face">

					[seti itemgender][item-field gender][/seti]

					[if scratch productCatFilter eq 'w']
						[seti defaultpic][image src="shape/[scratch lookupcolor]_pic_woman.jpg" src_only="1" makesize="300x300"][/seti]
					[elsif scratch productCatFilter eq 'm']
						[seti defaultpic][image src="shape/[scratch lookupcolor]_pic_men.jpg" src_only="1" makesize="300x300"][/seti]
					[/elsif]
					[else]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/else]
					[/if]
			
					[if-item-field category =~ /kid/i]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/if-item-field]		
					[if-item-field description =~ /kid/i]
						[seti defaultpic]/store/images/shape/[scratch lookupcolor]_pic.jpg[/seti]
					[/if-item-field]	
					
					[seti itemgroup][item-field category][/seti]
					[if scratch itemgroup eq "Kids Eyeglasses"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[elsif term="[item-field description]" op="=~" compare="/kid/i"]
						[seti genderm]Boys:[/seti]
						[seti genderf]Girls:[/seti]
					[/elsif]
					[else]
						[seti genderm]Male:[/seti]
						[seti genderf]Female:[/seti]
					[/else]
					[/if]
			
<iframe id="tryonDisplayFrame" name="tryonDisplayFrame" frameBorder="0" scrolling="no"
        style="display: block; position: relative; margin: 0px; margin-left: 18px; height: 540px; padding: 0px; border: none; width: 229px; overflow: hidden; background-color: #ffffff;" 
      [if type=explicit compare=`!$Scratch->{tryon_killswx} && !$Scratch->{tryon_hide}`]
        [if scratch tryon_tot_frame_width]
          [if scratch tryon-show-display-frame]
            height="440px"
            src="[area href="tryon_display" form="lens_tint=[cgi lens_tint]"]"
          [else]
            height="596px"
            src="[area tryon_smart_shapes]"
          [/else]
          [/if]
        [else]
          height="596px"
          src="[area tryon_smart_shapes]"
        [/else]
        [/if]

      [else]
        height="456px"
        src="[area tryon_smart_shapes]"
      [/else]
      [/if] 
        >
Please upgrade your browser to one that can use the iframe tag.
</iframe>
				</div>
			<div id="step1-frame">
				
[if scratch branded]
	[image src="items_large/[item-field image]" makesize="400x400" check_date="1" alt="[item-field alt_tag]" title="[item-field alt_tag]"]
[else]
	[tmp sunextra][/tmp]
	[tmp sunimg][calc]
		if ($CGI->{sunglasses}){
			$Scratch->{sunextra} = "&sunglasses=1";
			my $sun = q{[item-field image]};
			$sun =~ s/(\.jpg$|\.gif$)//;
			$sun .= "_G15.jpg";
			return $sun;
		}
	[/calc][/tmp]
	[tmp tintshow][calc]
		my $desc = q{[item-description]};
		if ($desc =~ /bendable plastic rimless/i){
			return "&tintshow=Brown\0Crystal\0Blue";
		}
		return undef;
	[/calc][/tmp]
	
	[if cgi lens_tint][seti suntint][cgi lens_tint][/seti][/if]
	<a href="#" onclick="popWin('[area href=colors form="sku=[item-code][scratch sunextra][scratch tintshow]"]','colors'); return false;">[image src="[if cgi sunglasses]tints/[item-code]_[scratch suntint].jpg[else]items_large/[item-field image][/else][/if]" makesize="400x400" check_date="1" alt="[item-field alt_tag]" title="[item-field alt_tag]" width="400"]</a><br />
	<a href="#" onclick="popWin('[area href=colors form="sku=[item-code][scratch sunextra][scratch tintshow]"]','colors'); return false;">Click to see frame/lens color combinations</a>

	[if cgi sunglasses]
		[if type=explicit compare="'[item-field category]' =~ /kids/i"]
			[tmp kids]1[/tmp]
		[else]
			[tmp kids]0[/tmp]
		[/else][/if]
					<br /><br />Available tints: __SUNGLASS_TINTS__
	[/if]
[/else][/if]

[if-item-field detail]
					<p id="framedesc">
	[tmp framedetail][item-field detail][/tmp]
	[calcn]
		$Scratch->{framedetail} =~ s/light \& thin Rx lenses/tinted Rx lenses/g if($CGI->{sunglasses});
		return undef;
	[/calcn]
	[filter op=encode_entities interpolate=1][scratch framedetail][/filter] ... 
	[perl tables="products pricing active_discounts" failure=|[price code=[item-code] lens="[cgi lens]" sunonly="[cgi sunglasses]"]|]
		my $discount = $Tag->query({ sql => 'SELECT original_price FROM active_discounts WHERE sku = "' . $Scratch->{flycode} . '"', table => 'active_discounts' });
		my $current_price = $Tag->currency({ body => $Tag->eyeglasses_price( { sku=>$Scratch->{flycode}, sunonly=>$CGI->{sunglasses}, noformat=>1 }) });
		my $output = '';

		if( scalar @$discount ){
			my $original_price = $Tag->currency({ body => $Tag->eyeglasses_price({ sku=>$Scratch->{flycode}, price=>$discount->[0]->[0], sunonly=>$CGI->{sunglasses}, noformat=>1 }) });
			$output .=  qq|<span class="original-price">$original_price</span>&nbsp;|;
		}

		return $output . qq|<span class="new-price">$current_price</span>|;
	[/perl]
					</p>
[/if-item-field]
					<table id="step1-specs">
						<tr>
							<td id="framespecs">
								<table>
									<tr>
										<td colspan="2"><strong>Available Colors:</strong></td>
									</tr>
									<tr>
										<td colspan="2">
[loop search="fi=products/se=[scratch lookupcolor]/sf=sku/su=1"]
	[if type=explicit compare="'[loop-field inactive]' != '1'"]
											<img src="/img/template/magnifying_glass_icon.gif" width="15" height="15" alt="[item-filter entities][item-description][/item-filter]" />
											<a href="#" class="popover-link" data-url="/store/images/items_large/[loop-field image]">[loop-field ven_color]</a><br />
	[/if]
[/loop]
										</td>
									</tr>
									<tr><td colspan="2" id="fsdiv"><img src="/img/template/seperator_h_dotted.gif" alt="" width="209" height="1" class="lflt" /></td></tr>
									<tr><th>Size:</th><td>[item-field meas] mm</td></tr>
									<tr><th>Total Width:</th><td>[item-field tot_frame_width] mm</td></tr>
[if-item-field meas_b]
									<tr><th>Lens Height:</th><td>[item-field meas_b] mm</td></tr>
[/if-item-field]
									<tr>
										<td colspan="2">
											<a href="#" class="popover-link" data-title="Frame Size Information" data-url="[if cgi sunglasses]/[/if]info_measurements.html?branded=[scratch branded]" data-winttype="numberinfo" data-width=560 data-height=500 class="linkA">What do these numbers mean?</a>
										</td>
									</tr>
								</table>
							</td>
							<td><img src="/img/template/framedescvdiv.png" width="2" height="186" alt="" class="lflt" /></td>
							<td id="framerevs">
[if variable POWER_REVIEWS_ENABLE]
								<style type="text/css">
								        div.pr_snippet_product .prSnippetEngine div{padding-left:0;padding-top:0}
								</style>
								<div class="pr_snippet_product">
									<script type="text/javascript">POWERREVIEWS.display.snippet(document, { pr_page_id : "[item-code]" });</script>
								</div>
[/if]
								<div id="framepdf"><a href="/pdfs/[scratch lookupcolor].pdf" onclick="this.target='_blank'"><img src="[image src_only="1" default="items_headon/3002_ho.jpg" src="items_headon/[scratch lookupcolor]_ho.jpg" makesize="170x40" check_date="1"]" alt="" /><span>Print an actual-size picture of this frame</span></a></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<br class="clearb" />
			<div id="general_help" style="padding-top: 27px;">
				<div><img src="/img/template/phone-fsa-bar.png" usemap="#helpnav" /></div>
			</div>
			<br class="clearb" />
[include include/recent_items_display]

		</div>	


<br class="clearb" />

<script type="text/javascript">
<!--
	calcPrice();	
//-->
</script>

[if variable POWER_REVIEWS_ENABLE]
	<div class="pr_review_summary" style="width:688px;margin:0 auto;padding:20px 0 0 0">
		<script type="text/javascript">POWERREVIEWS.display.engine(document, { pr_page_id : "[item-code]" });</script>
	</div>	
[/if]

[/fly-list]

<script type="text/javascript">
<!--
var merchant_id = "2742";
//-->
</script>
<script src="//reporting.singlefeed.com/z/track.js?v=1.1" type="text/javascript"></script>
	</div>
</div>

<map name="helpnav">
	<area shape="rect"
		coords="430,0,624,79"
		href="#" 
		class="popover-link"
		data-title="FSA Information"
		data-url="[area fsa_information]"
		data-width=550
		title="Flex Spending"
		alt="Flex Spending"
	/>
</map>
[comment]preloading to display in tryon tool[/comment]
<div id="image_preload">
	<img class="load" src="/img/ajax-loader.gif" />
</div>
<div class="bubbleInfo" id="didyouknow">
	<div class="containColor">
		<a href="#" id="closeTip"><span class="close">(close)</span>X</a>
		<div class="trigger"></div>
		<div class="popup">
			<p>Did you know that when you browse different frame styles, you will automatically see yourself wearing them!</p>
		</div>
	</div>
</div>
<div id="contentHolder"></div>

@_BOTTOM_@



