[comment]
ui_page: fsa_information.html
ui_type: page
ui_name: fsa_information.html
ui_page_template: notemplate
ui_source: pages/fsa_information.html
ui_template: Yes
ui_template_name: notemplate
[/comment]

[tmp members_only][/tmp]

@_NTTOP_@

<div style="font-family:verdana;font-size:12px">
	<p><strong>What is a Flexible Spending Account (FSA)?</strong></p>
	<p>Many companies set up flexible spending accounts (FSA's) for their employees. FSA's (sometimes also referred to as &ldquo;cafeteria plans&rdquo;) are a convenient and cost-effective way to make purchases of healthcare-related products.</p>
	<p>At the start of the year, you are given the opportunity to put a certain amount of your pay into an FSA account. Your employer deducts money from your paycheck and creates this account, from which you can purchase many items including prescription eyeglasses using pre-tax money.</p>
	<p>By the end of the year any unused amount is forfeited, so you have to use it all by December 31st. This is sometimes termed &ldquo;use it or lose it&rdquo; for this reason.</p> 
	<p><strong>Can I use my FSA credit card on 39DollarGlasses.com?</strong></p>
	<p>Yes! All items may be purchased with your company FSA credit card. In most cases your purchase will automatically be approved without having to submit a receipt to your employer.</p>
	<p><strong>FSA Tracker</strong></p>
	<p>All items sold on 39DollarGlasses.com are FSA eligible. Simply purchase any item using the payment method of your choice. You will receive a detailed, printable receipt upon completing your purchase that can be submitted to your company's FSA administrator.</p>
</div>

@_NTBOTTOM_@
