<?xml version="1.0"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
<channel>
	<title>39DollarGlasses Product Feed</title>
	<link>http://www.39DollarGlasses.com</link>
	<description>A feed of available eyeglasses</description>
[perl tables="products"]
	my $out;

	my @categories = (
		'Health & Beauty > Personal Care > Vision Care > Eye Glasses',
		'Apparel & Accessories > Clothing > Activewear > Sunglasses',
	);

	my %gender_map = (
		'Men' => 'Male',
		'Women' => 'Female',
		'Unisex' => 'Unisex'
	);

	my $sql = q|
		SELECT 
			sku as id, detail as description, 
			description as title, category as product_type,
			gender, image as image_link, price, suntint,
			primary_color as color, secondary_color as color2,
			'New' as 'condition'
		FROM 
			products p
		WHERE
			p.inactive <> 1
		AND
			p.sku RLIKE '^[0-9]+_'
	|;

	#No products are taxed. 
	my $tax_attr = qq|\t\t<g:tax>\n\t\t\t<g:country>US</g:country>\n\t\t\t<g:rate>0.00</g:rate>\n\t\t\t<g:tax_ship>n</g:tax_ship>\n\t\t</g:tax>\n|;
	my $db = $Db{products};

	my $products = $db->query({
		sql => $sql,
		hashref => 'of course'
	});

	for my $prod (@$products){
		# $prod will get looped twice, this is
		# to save the original values of the
		# product since it will be modified.
		my $active_prod = $prod;
		for my $cat (0..$#categories){
			$out .= "\t<item>\n";
			$active_prod->{link} = $Tag->area(($cat ? 'sun-glasses/':'').$prod->{id});
			$active_prod->{gender} = $gender_map{$prod->{gender}} || '';
			$active_prod->{color} = $prod->{color}.' &#47; '.(delete $prod->{color2}) if $prod->{color2};
			$active_prod->{age_group} = ($prod->{product_type} =~ /\bkids\b/i) ? 'Kids' : 'Adults';
			$active_prod->{price} = $Tag->currency({ body => $prod->{price} });
			$active_prod->{price} =~ s/^\$(.+)$/$1 USD/;
			$active_prod->{title} = ($cat ? 'Sunglass' : 'Eyeglass' ). ' Frame';
			$active_prod->{image_link} = $Tag->var('NORMAL_SERVER').($cat ? '/store/images/tints/'.$prod->{id}.'_'.(delete $prod->{suntint} || 'GREY').'.jpg' : '/store/images/items_large/'.$prod->{image_link});
			$active_prod->{id} .= $cat ? '_SUN' : '';
			for my $key (keys %$prod){
				# Entities doesn't escape '/' for XML, and it will
				# interpolate the '&' when passed through the filter
				# Add to this list to bypass filtering. 
				my $filter = (grep $key eq $_, qw\color\ )? 0 : 1;
				$out .= sprintf(
					"\t\t".q\<%3$s%1$s>%2$s</%1$s>\."\n", 
					$key, 
					$filter ? $Tag->filter({ body => $active_prod->{$key}, op => 'entities'}) : $active_prod->{$key}, 
					(grep $key eq $_, qw\title link description\) ? '' : 'g:'
				) if (exists $active_prod->{$key} && $active_prod->{$key} !~ /^\s*$/);
			}
			$out .= $tax_attr;
			$out .= sprintf(
				"\t\t".'<g:google_product_category>%1$s</g:google_product_category>'."\n"
			    , $Tag->filter({ body => $categories[$cat], op => 'entities'})
			);
			$out .= "\t</item>\n";
		}
	}
	return $out;
[/perl]
</channel>
</rss>