[if !cgi sku]
	[bounce href="10000"]
[/if]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
padding-bottom: 20px;
border-bottom: 1px solid #cccccc;
}

.box {
position: relative;
width: 700px;
margin: auto;
background-color: #dceff6;
padding-bottom: 5px;
}

p.boxtext {
padding: 0px 20px 0px 20px;
font-family: arial,helvetica,sans-serif;

}

p.boxheader {
padding: 10px 20px 10px 20px;
font-family: arial,helvetica,sans-serif;
background-color: #bcdbe5;
font-weight: bold;
color: white;
}
h1 {
width: 700px;
margin: 10px auto;
font-size: 20px;
font-family: arial, helvetica, sans-serif;
font-weight: bold;
color: #666666;
}
ul {
margin: 0px;
}
li {
margin: 10px 40px 10px 10px;
font-family: arial,helvetica,sans-serif;
color: #666666;

}
</style>
<div class="innerwrapper">
<img src="/img/groupon.jpg" width="964px"><br>
<h1>Instructions</h1>

<div class="box">
<p class="boxheader">How to redeem?</p>
<p class="boxtext">
<ul>
<li>Select your frame color on the next page then follow the next steps to enter your prescription and check out.</li>
<li>This offer includes a complete pair with single vision light and thin polycarbonate prescription lenses (lens package A), regularly $39 total price.</li>
<li>If you choose a more expensive lens option, you will only pay the upgrade cost.</li>
<li>Enter your Voucher in the coupon field (On the shopping cart page) and hit "Apply Coupon”. This will apply your $39 Groupon Voucher. You will also receive free standard shipping.</li>
<li>Be sure to enter your prescription accurately before redeeming your Groupon.</li>
</ul>
</p>
</div>
<h1><a href="[area href="[cgi sku]"]">Redeem Your Coupon</a></h1>
<div class="box">
<p class="boxheader">Important notes about the current Groupon deal:</p>
<p class="boxtext">
<ul>
<li>Please be advised, that prescription glasses, is custom made and may take up to 7-10 business days to process prior shipping.</li>
<li>The Groupon deal cannot be combined with any other promotions.</li>
<li>For any question you have regarding this deal, login to Groupon to ask.</li>
</ul>
</p>
</div>
</div>
[include templates/redesign/footer]