[tmpn page_title]Buy Discount Prescription Eyeglasses & Sunglasses Online[/tmpn]
[tmpn meta_keywords]prescription glasses,Prescription Eyeglasses,prescription sunglasses,Discount Prescription Eyeglasses, Discount Prescription Sunglasses,eyeglasses[/tmpn]
[tmpn meta_description]Buy a complete pair of eyeglasses or sunglasses online from just $39. Save 70% off retail prices on the hottest frames. Fast shipping. Shop online now![/tmpn]
[tmp meta_header]
<meta name="google-site-verification" content="gJMtIfSLH9smIfaAA6GFmflihgKeg9tVtUVIaj-2R4M" />
<meta name="msvalidate.01" content="61D3AF009DFEA9D4170654ADF2EE9AA2" />
<meta property="fb:page_id" content="168481729999" />
[/tmp]
[tmp canonicalURL]http://__SERVER_NAME__/[/tmp]
[tmp additional_js]
<script type="text/javascript">
$(function(){
	$('.product_tab').easytabs({
    animationSpeed: 225
  });
	$('.header').css('visibility', 'visible').slides({
		generateNextPrev: true,
    play: 3000,
    hoverPause: true,
    pause: 500
	});
});
</script>
<style type="text/css">
.product_cont{
  width: 968px;
  padding-right: 0;
  padding-left: 10px;
}
.product_box{
  margin: 0px 3px 10px 0;
  width: 210px;
  padding: 12px;
}
div.product_tab{
  margin-top: 10px;
}
</style>
[/tmp]
[include templates/redesign/header]

<div id="top3">
  <h1 style="text-align:center">[L]Discount Prescription Glasses and Contact Lenses[/L]</h1>
</div><!--top3 end-->
<div id="mid">
  <div class="header">
    <div class="slides_container">
    [comment]
      <div class="header_slide">
        <a href="[area 10000]?coupon_code=FRIGHT10">
            <img src="/img/homepage-banners/halloween2015websitebanner.jpg" alt="" class="header_img" />
        </a>
      </div>
      [/comment]
      <div class="header_slide">
        <a href="[area 10000]">
          <img src="/store/images/new_site/1-included39.jpg" alt="" class="header_img" />
        </a>
      </div>
      <div class="header_slide">
        <a href="[area href='contact-lenses' add_dot_html=0]">
          <img src="/img/homepage-banners/contact_lens_banner.jpg" alt="" class="header_img" />
        </a>
      </div>
      <div class="header_slide">
        <a href="[area new-arrivals]">
          <img src="/img/homepage-banners/New_Styles_banner.jpg" alt="" class="header_img" />
        </a>
      </div>
      <div class="header_slide">
        <a href="[area 10000]">
          <img src="/store/images/new_site/2-fastShipping.jpg" alt="" class="header_img" />
        </a>
      </div>
      [if type="explicit" compare=`!$Tag->mobile_browser`]
        <div class="header_slide">
          <img src="/img/homepage-banners/10-tryOnToolA_redo.jpg" alt="" class="header_img" />
        </div>
      [/if]
      <div class="header_slide">
        <img src="/store/images/new_site/4-asSeenIn.jpg" alt="" class="header_img" />
      </div>
      <div class="header_slide">
        <img src="/store/images/new_site/5-bestLenses.jpg" alt="" class="header_img" />
      </div>
    </div>
   </div>
   [comment] mobile banners[/comment]
    <div id="banner_imgs" style="display:none;">
      [comment]<img data-src="/img/homepage-banners/halloween2015websitebanner.jpg" />[/comment]
      <img data-src="/store/images/new_site/1-included39.jpg" />
      <img data-src="/img/homepage-banners/contact_lens_banner.jpg" />
      <img data-src="/img/homepage-banners/New_Styles_banner.jpg" />
      <a href="[area 10000]">
        <img data-src="/store/images/new_site/2-fastShipping.jpg" />
      </a>
      <img data-src="/store/images/new_site/4-asSeenIn.jpg" />
      <img data-src="/store/images/new_site/5-bestLenses.jpg" />
    </div>
   [comment]End mobile banners[/comment]
   [comment]leaving this condition, management may want to reintroduce this banner based on coupon[/comment]
    [if explicit][condition]((uc($CGI->{coupon_code}) eq 'SAVING10') || (uc($Values->{coupon_code}) eq 'SAVING10'))[/condition]
        <div style="clear: both;height: 10px;"></div>
    [else]
        <div style="clear: both;height: 10px;"></div>
        [comment]
        <a class="bannerContain" href="[area 10000]?coupon_code=style15">
            <div>
                <img src="/img/skinny_style15.jpg" alt="15% Off" />
            </div>
        </a>
        [/comment]
    [/else]
    [/if]


  [calcn hide=1]
    $Tag->tmpn("product_tab_list", [
        {
          name => "Best Sellers",
          type => "best_sellers",
          field => undef,
          limit => 8,
          area => 10000,
        },
        {
          name => "New Arrivals",
          type => "new_arrivals",
          field => undef,
          limit => 8,
          area => "new-arrivals"
        },
        {
          name => "Plastic Eyeglasses",
          type => "plastic",
          field => undef,
          limit => 8,
          area => 12000,
        },
        {
          name => "Bifocals &amp; Progressives",
          type => "BIF####PROG",
          field => "options_lenstype",
          limit => 8,
          area => "eyeglasses/bifocals-progressives",
        },
      ]);
  [/calcn]

  <div class="product_tab">
    <ul>
      [loop object.mv_results=`$Scratch->{product_tab_list}`]
        <li><a href="#product_tab[loop-increment]"><span>[loop-param name]</span></a></li>
      [/loop]
    </ul>
  

    [loop object.mv_results=`$Scratch->{product_tab_list}`]
      <div id="product_tab[loop-increment]" class="product_cont">
      [tmp inc][loop-increment][/tmp]
      [calcn hide=1]$Scratch->{inc} -= 1;[/calcn]
        [loop object.mv_results=`$Tag->featured_tabs((map { $Scratch->{product_tab_list}[$Scratch->{inc}]{$_} } qw\type field limit\))` prefix="product"]
    
          <div class="product_box">
            <a href="#" class="try_on">
              <img alt="" />
            </a>
            <div class="available_colors">
              <span>Available Colors :</span>
              [loop list="[product-param available_colors]" delimiter="####" prefix="color"]
                [tmp safe_color][color-code][/tmp]
                [tmp safe_color][calcn]
                  my $tmp = $Scratch->{safe_color};
                  $tmp =~ s!(/| )!_!g;
                  if ($tmp eq 'Clear'){
                    $tmp = 'White';
                  }
                  $tmp;
                [/calcn][/tmp]
                <img src="/store/images/new_site/frame_color_[scratch safe_color].png" alt="" />
              [/loop]
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:114px;">
              <tr>
                <td align="center" valign="middle">
                  <a href="[area href=[product-param sku]]" title="Go to [product-param description] frame">
                    <img height="66" src='[image src_only="1" makesize="191" src="/store/images/items_large/[either][product-param image][or][product-param sku].jpg[/either]" ]' alt="[product-param description]" />
                  </a>
                </td>
              </tr>
            </table>
            <h5><a href="[area href="[product-param sku]"]">[product-param description]</a></h5>
            <div class="product_btext">[product-param ven_color]</div>
            <div class="product_btext"><s>Retail Price [currency][product-param retail_price][/currency]</s></div>
            <div class="product_bprice">Our Price [currency][product-param price][/currency]</div>
            <a href="#" id="moreDetails-[product-param sku]" class="quick_info">quick info</a>
            <a href="[area href="[product-param sku]"]" class="order_now">order now</a>
          </div>
        [/loop]
        <div class="absTabLink">
          <a href="[area href="[loop-param area]"]">Show All [loop-param name]</a>
        </div>
      </div>
    [/loop]
  

    <!--
    <div id="resellHome">
      <a href="https://www.resellerratings.com" onclick="window.open('https://seals.resellerratings.com/landing.php?seller=4590','name','height=760,width=780,scrollbars=1'); return false;">
        <img src='//seals.resellerratings.com/seal.php?seller=4590' oncontextmenu="alert('Copying Prohibited by Law - ResellerRatings seal is a Trademark of All Enthusiast, Inc.'); return false;" />
      </a>
    </div>
    -->
  </div><!-- product tab end -->
  You can easily order <strong>discount prescription glasses and contact lenses</strong> that feature quality, comfort and style. 39DollarGlasses.com saves you money while meeting your vision and eye protection needs. We offer high quality prescription eyeglasses, sunglasses and contacts at surprisingly affordable prices. Founded by eye doctors, 39 Dollar Glasses provides complete pairs of eyeglasses at a discount. Order for as little as $39! We also offer stylish prescription sunglasses and the best-selling brands of contacts for less. Every item we sell is backed by our satisfaction guarantee and friendly customer service. Browse our products for men, women and children. See how you can save!<br /><br />
  <h5><b>Premium Prescription Eyeglasses</b></h5>
  We unite a huge frame inventory with a superior lens selection so you can create your ideal glasses. Choose from fashion looks and innovative features. Select reading glasses or no-line bifocals. Find kids’ favorites and trendy adult glasses. Skip the pricey retail shop and buy the perfect pair of discount prescription eyeglasses online – with ease. At 39 Dollar Glasses, we want to support your vision with the best lenses, well-made eyeglass frames and specialty finishes at very low prices. Wear the best prescription glasses for you that come with:
  <ul>
    <li>Lightweight and thin prescription lenses</li>
    <li>Premium frames, made in the USA</li>
    <li>Scratch-resistant coatings</li>
    <li>A satisfaction guarantee and no hassle returns</li>
  </ul>
  Our premium quality <a href="[area 10000]">prescription eyewear</a> and our sunglasses are made in the USA. Even with superior workmanship, you can still save an amazing 70% by ordering our eyeglasses today. Do you wear both glasses and contacts? Receive a FREE pair of eyeglasses when you order a 12-month supply of contact lens! Call to learn more.<br /><br />
  <h2>39DollarGlasses.com Makes it Easy to Buy Your Eyeglasses Online</h2>
  Select glasses that flatter your face as you focus on the savings. <strong>39DollarGlasses.com makes it easy to buy glasses online</strong> at cheaper prices. You’ll love your look and see it clearly because we have the fashionable frames you want surrounding the lenses you deserve.<br /><br />
  <h5><b>Eyeglass Lenses for Less</b></h5>
  Though we offer cheap lens prices, you never have to compromise. Experience prescription eyeglass lenses crafted from polycarbonate – the material customers prefer over standard lenses. It is impact-resistant, thin, and ultra-light. It’s the material of choice for kids’ eyeglasses. In addition to polycarbonate, our low-cost glass lenses can provide:
  <ul>
    <li>A scratch-resistant coating, at NO charge</li>
    <li>100% UV coating</li>
    <li>Polished edges</li>
    <li>Anti-reflective coatings for less</li>
  </ul>
  You can have the same eyeglass lenses, such as Varilux® and Transitions®, which are sold at optical shops – but at a fraction of the cost. An anti-reflective coating can be added to your lens order, at well below regular retail pricing, to ensure clear vision in a range of environments.<br /><br />
  <h5><b>Save on Prescription Sunglasses</b></h5>
  Choose any of our stylish frames to customize non-prescription or <a href="[area rx_sunglasses]">prescription sunglasses</a>. Order bifocal sunglasses too! Even refresh your favorite frames with our lens replacement service. To see how you look in a frame, upload your photo and start sampling styles. Whether you choose metal or <a href="[area plastic-sunglasses]">plastic sunglasses</a>, the UV-protective lens coatings will shield your eyes from harmful rays. A certified technician inspects each pair of Discount Prescription Eyeglasses or Discount Prescription Sunglasses before shipment to ensure frame alignment and prescription accuracy. We package the glasses in a durable case to arrive in great condition. Here’s our guarantee:
  <p style="text-align:center"><i>Our frames and lenses will be free of defects,<br />
  and manufactured and delivered exactly as ordered.</i></p>
  Take advantage of the volume discounts that allow us to offer affordable eyewear with the same top quality materials available at the neighborhood optical store. With our online operations, we don't have expensive overhead costs. So we pass our savings on to you!<br /><br />
  <h3>Low Prices on Contact Lenses</h3>
  Every day, our customers <strong>order contacts at low prices</strong>. We offer an impressive array of <a href="[area contact-lenses]">discount contact lenses</a> featuring the top, trusted brands. Our goal is to provide the lowest contact lens prices online. Our extensive selection includes:
  <ul>
    <li>Brand-name contacts at huge savings</li>
    <li>Daily, weekly and monthly contacts</li>
    <li><a href="[area contact-lenses/freshlook-colorblends]">Color contacts</a></li>
    <li>Leading lenses from <a href="[area contact-lenses/brands/acuvue]">Acuvue</a>, PureVision, Bausch & Lomb and Focus</li>
  </ul>
  You need comfort and clarity in your prescription contact lenses. That’s why we offer the most popular providers at a substantial savings.<br /><br />
  We’ll complete your order for prescription eyeglasses, sunglasses or contacts quickly and ship it fast. As your online optical store, 39 Dollar Glasses gives you no-hassle returns, backed by exceptional service. Call 1-800-672-6304 or <a href="[area contact_us]"> Contact Us</a>. Focus on saving now!
</div><!--mid end-->


[include templates/redesign/footer]
