[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[if !session logged_in]
	[bounce page=login]
[/if]

[perl table="transactions" no_return=1]
	my $dbh = $Sql{'transactions'};
	my $sth = $dbh->prepare('SELECT COUNT(1) FROM transactions WHERE username = ?');
	$sth->execute( $Session->{'username'} );
	my $results = $sth->fetchrow_arrayref()->[0];
	$Tag->tmpn('noOrders', $results == 0); 
[/perl]

[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Customer Service[/tmp]
[tmp meta_header]
	<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
	<script type="text/javascript">
		<!--
		jQuery(function($){
			$('img#viewReceipt').mouseenter(function(){
				$(this).attr("src", "/img/myAccount/viewReceiptHover.jpg");
			});
			$('img#viewReceipt').mouseleave(function(){
				$(this).attr("src", "/img/myAccount/viewReceipt.jpg");
			});
		});
		-->
	</script>
[/tmp]
[include templates/redesign/header]
[tmpn current_page]insurance[/tmpn]

<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Insurance Receipts</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div class="contentBody">
			<div style="margin: 0 0 30px 3px">
				<form method="post" action="[process-target]" name="contact">
					<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
					<INPUT TYPE=hidden NAME=mv_check VALUE=check_form>
					[if scratch error_message]
						<br><br>
						<b>[scratchd error_message]</b>
						<br><br>
					[/if]
					
					[if session failure]
						<br><br>
						<B>[calc] delete $Session->{failure}[/calc]</b>
						<br>
					[/if]
					
					[set mv_no_cache]1[/set]
					[set New Account]
						mv_nextpage=new_account
						[set new]1[/set]
					[/set]
					[if !scratch noOrders]
						<B>[if value fname][value fname]'s[/if] Insurance Receipts</B>
						
						<blockquote>
							Choose a past order to print a receipt for:
						</blockquote>
						<p style="font-weight: bold;" class-"notePop">** NOTE: You may need to enable popups from 39dollarglasses.com to properly print your insurance receipt. **</p>
						<br />
						<div>
							[query sql=|
								SELECT order_number,nitems,subtotal,shipping,handling,total_cost,payment_method,order_date
								FROM transactions WHERE username='[data session username]'
								ORDER BY order_date DESC
							| type=list]
								[list]
									<div style="float: left;">
										<a href="[area href="insurance_order" form="
											order_number=[sql-param order_number]
											server=__SERVER_NUMBER__
										"]">
										<strong>Order #[sql-param order_number]</strong></a> - <i>[convert-date fmt="%d %b, %Y - %H:%M"][sql-param order_date][/convert-date]</i>&nbsp;&nbsp;&nbsp;
										<strong>[currency][sql-param total_cost][/currency]</strong>
									</div>
									<div style="float:right; margin: -17px 35px 0 0">
										<p>
											<a href="[area href="insurance_order" form="
												order_number=[sql-param order_number]
												server=__SERVER_NUMBER__
											"]"><img id="viewReceipt" src="/img/myAccount/viewReceipt.jpg" alt="view/print an insurance receipt for this order" title="view/print an insurance receipt for this order" /></a>
											<br />&nbsp;<br />
										</p>
									</div>
									<br clear="all" />
									[tmpn orderNumber][sql-param order_number][/tmpn]
									[perl tables="orderline" failure="PERL ERROR"]
										my $sql = qq|
											SELECT DISTINCT ol.sku, p.description, p.ven_color, ol.tint, op.display_label 
											FROM orderline ol 
												INNER JOIN options_price op ON ol.lenstype = op.o_value 
												INNER JOIN products p ON p.sku = ol.sku 
											WHERE ol.order_number = "$Scratch->{'orderNumber'}";
										|;
										
										my $results = $Tag->query({ sql=>$sql, table=>'orderline', hashref=>1 });
										my $image_src;
										my $output;
										my $counter = 1;
										foreach my $result (@$results) {
											$image_src = $Tag->image({ src_only=>1, src=>"tints/$result->{'sku'}_$result->{'tint'}.jpg", makesize=>"200x200" });
											my $lens_tint = lc($result->{'tint'});
											$lens_tint =~ s/\b([a-z])(\w+)\b/\u$1$2/g;
											my $product_description = $lens_tint eq "Clear" ? qq|Clear $lens_tint $result->{'display_label'}| : qq|$lens_tint $result->{'display_label'}|; 
											
											$output .= qq|
												<div style="float: left; margin-left: 18px; text-align: right; width: 45%">
													<img src="$image_src" />
												</div>
												<div style="float: left; width: 45%; text-align: left; margin: 10px 0 0 8px">
													<p>
														$result->{'description'} $result->{'ven_color'}<br />
														$product_description<br />
														<a href="[area href="insurance_order" form="
															order_number=[sql-param order_number]
															server=__SERVER_NUMBER__
														"]">Click for details</a>
													</p>
												</div>
												<br clear="all" />
											|;
											
											$counter++;
										}
										
										return qq|<div style="text-align: center;">$output<br clear="all" /><br /></div>| if $output;
										return;
									[/perl]
								[/list]
							[/query]
						</div>
					</form>
					
					<p style="margin-top: 10px;">
						<a href="[area customerservice]">Back to menu</a>
					</p>
					
					[set check_form]
						mv_nextpage=@@MV_PAGE@@
						sendfeedback=yes
					[/set]
					[set fbsent][/set]
				[else]
					<h2>No orders found</h2>
				[/else]
				[/if]
			</div>
		</div>
		<br clear="all" />
		<div>
			<img src="/img/myAccount/contentBottom.jpg" />
		</div>
	</div>
	<br clear="all" />
</div>
[include templates/redesign/footer]
