[perl table="transactions" no_return=1]
	#This block will check to see if the logged in user owns the order being requested
	#If they do not then a tmp var is set and a subsequent check will be made to determine 
	#if this is an admin user
	my $dbh = $Sql{transactions};
	my $sth = $dbh->prepare('SELECT 1 FROM transactions WHERE username = ? AND order_number = ?');

	$sth->execute( $Session->{username}, $CGI->{order_number} );

	my $response = $sth->fetchrow_arrayref(); #->[0];

	unless( $response->[0] ){
		$Tag->tmpn('not-authorized',1);
	}
[/perl]
[if scratch not-authorized]
	[if-mm !logged_in]
		[bounce page="/insurance"]
	[/if-mm]
[/if]
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- [L]Customer Service[/L][/tmp]
[tmp meta_header]<link rel="stylesheet" href="/css/my_account.css" type="text/css" />[/tmp]
[include templates/redesign/header]

[include include/account/leftNav]
<div class="myAccountContent">
	<div class="contentHeader"><p class="headerText">Insurance Receipts</p></div>
	<div class="contentTop">
		<img src="/img/myAccount/contentTop.jpg" />
	</div>
	<div class="contentBody">
		<div style="margin: 0 23px 30px 3px">	
			<!-- BEGIN CONTENT -->
			<form method="post" action="call_print_ins.html?wasrv=1">
				<input type="hidden" name="mv_todo" value="return" />
				<input type="hidden" name="mv_check" value="check_form" />
				<input type="hidden" name="server" value="[cgi server]" />
				[if session failure]
					<br><br>
					<B>[calc] delete $Session->{failure}[/calc]</b>
					<br>
				[/if]
				[set mv_no_cache]1[/set]
				[set New Account]
					mv_nextpage=new_account
					[set new]1[/set]
				[/set]
				[if !session logged_in]
					[bounce page=login]
				[/if]
				[if !cgi order_number]
					[bounce page=insurance]
				[/if]

				<B>[if value fname][value fname]'s[/if] Insurance Receipts - Order #[cgi order_number]</B>

				[query sql=|SELECT nitems,subtotal,shipping,handling,salestax,total_cost FROM transactions WHERE order_number='[cgi order_number]'| type=list]
					[list]
						[tmp nitems][sql-param nitems][/tmp]
						[tmp shipping][calc][sql-param shipping][/calc][/tmp]
						[if-sql-param handling][tmp rwd][calc]([sql-param handling] / [scratch nitems])[/calc][/tmp][/if-sql-param]
					[/list]
				[/query]

				&nbsp;<br><br>
				[query sql=|SELECT code,sku,quantity,price,shipping,subtotal,options,zdesc,description FROM orderline WHERE order_number='[cgi order_number]'| type=list]
					[list]
						<table cellspacing=0 width="95%" align="center" border="0">
							<tr>
								<td class="bluebox_top" height=30 valign=top>[L]Item details[/L]:</td>
							</tr>
							<tr>
								<td class="bluebox_bottom" align=center>	
									[tmp options][sql-param options][/tmp]
									[tmp qty][sql-param quantity][/tmp]
									[tmp zdesc][sql-param zdesc][/tmp]
									[tmp total][sql-param subtotal][/tmp]
									[query sql=|SELECT category,description,price FROM products WHERE sku='[sql-param sku]'| type=list prefix=ft list-prefix=ft]
										[no-match]
										<b>An insurance receipt cannot be generated for this order, Please contact us.</b>
										[/no-match]
										[ft]
											[if-sql-param code !~ /-1$/]
												<!-- new code -->
												</form>
												<form method="post" action="call_print_ins.html?wasrv=1">
											[/if-sql-param]
											[tmp framename][sql-param description] [ft-param category][/tmp]

											[tmp baseprice][calc][ft-param price] - 19.50[/calc][/tmp]		

											[if-ft-param category =~ /titanium/i]
												[tmp titanium]1[/tmp]
												[comment][tmp baseprice]69.50[/tmp][/comment]
											[/if-ft-param]	

											[if-ft-param category =~ /rimless/i]
												[tmp rimless]1[/tmp]
												[comment][tmp baseprice]44.55[/tmp][/comment]
											[/if-ft-param]

											[calcn]
												$Tag->tmpn('framecost', $Scratch->{baseprice} * $Scratch->{qty});

												$Tag->tmpn('uyof', 0)
													if $Scratch->{uyof};

												$Tag->tmpn('coating',
													$Scratch->{options} =~ /coating: Yes/ && !$Scratch->{rimless} ? 24.95 : 0
												);

												$Tag->tmpn('case',
													$Scratch->{options} !~ /case: Hard Clamshell/ && $Scratch->{options} =~ /case:/ ? 4.95 : 0
												);

												$Tag->tmpn('totalminusframe', $Scratch->{total} - $Scratch->{framecost} );
												$Tag->tmpn('minusshipping', $Scratch->{totalminusframe} );
												$Tag->tmpn('minuscoating', $Scratch->{minusshipping} - ($Scratch->{coating} * $Scratch->{qty}) );
												$Tag->tmpn('minuscase', $Scratch->{minuscoating} - ($Scratch->{case} * $Scratch->{qty}) );
												$Tag->tmpn('costperframe', $Scratch->{framecost} / $Scratch->{qty} );
												$Tag->tmpn('costperlens', $Scratch->{minuscase} / $Scratch->{qty} );
												$Tag->tmpn('endtotal', ($Scratch->{costperframe} + $Scratch->{costperlens} ) * $Scratch->{qty} );

												$Scratch->{rwd} = $Scratch->{rwd} * -1 if $Scratch->{rwd} > 0;

												$Tag->tmpn('endtotal',
													( ($Scratch->{costperframe} + $Scratch->{costperlens} + $Scratch->{rwd}) * $Scratch->{qty} ) + ( $Scratch->{coating} * $Scratch->{qty} ) + ( $Scratch->{case} * $Scratch->{qty} ) + $Scratch->{shipping}
												);

												$Scratch->{endtotal} *= -1
													if $Scratch->{endtotal} < 0;

												'';
											[/calcn]
											[tmp lensinfo][calcn]
												# just get the lens bits out from options
												$lensbit = $Scratch->{options};
												$lensbit =~ s/(.*?<br>.*?)<br>.*/$1/;
												$lensbit =~ s/lens\: //;
												$lensbit =~ s/lenstype\: //;

												$lensbit =~ s/\<br\>/\n/;
												$lensbit =~ s/\&trade;/\(TM\)/;
												$lensbit =~ s/\&reg;/\(R\)/g;
												return $lensbit;
											[/calcn][/tmp]

											[tmp name=idetails filter=html2text][if !scratch uyof][scratch framename] x [scratch qty][/if]
											[if scratch uyof][scratch framename][else][scratch lensinfo][/else][/if] x [scratch qty][if scratch zdesc]
											Lens: [scratch zdesc][/if]
											[if scratch coating]Anti-Relective Coating x [scratch qty][else]N/A[/else][/if]
											[if scratch case]Custom Case x [scratch qty][else]Hard Clamshell Case (Included)[/else][/if][/tmp]

											[tmp pricetext][currency][calc][scratch costperframe]*[scratch qty][/calc][/currency]

											[currency][calc][scratch costperlens]*[scratch qty][/calc][/currency]

											[currency][calc][scratch coating]*[scratch qty][/calc][/currency]
											[currency][calc][scratch case]*[scratch qty][/calc][/currency][/tmp]
											<table>
												<tr>
													<td></td>
													<td><strong>[L]Price[/L]</strong></td>
													<td><strong>[L]Quantity[/L]</strong></td>
													<td><strong>[L]Subtotal[/L]</strong></td>
												</tr>
												[if !scratch uyof]
												<tr style="background-color: #efefef">
													<td>[scratch framename]</td>
													<td>[currency][scratch costperframe][/currency]</td>
													<td>[scratch qty]</td>
													<td>[currency][scratch costperframe][/currency]</td>
												</tr>
												[/if]
												<tr>
													<td>[if scratch uyof][scratch framename][else][scratch lensinfo][/else][/if]</td>
													<td>[currency][scratch costperlens][/currency]</td>
													<td>[scratch qty]</td>
													<td>[currency][scratch minuscase][/currency]</td>
												</tr>
												[if scratch coating]
												[or scratch rimless]
												<tr>
													<td>Anti-Relective Coating</td>
													<td>[currency][scratch coating][/currency]</td>
													<td>[scratch qty]</td>
													<td>[currency][calc][scratch coating]*[scratch qty][/calc][/currency]</td>
												</tr>
												[/if]
												[if scratch case]
												<tr>
													<td>Case</td>
													<td>[currency][scratch case][/currency]</td>
													<td>[scratch qty]</td>
													<td>[currency][calc][scratch case]*[scratch qty][/calc][/currency]</td>
												</tr>
												[/if]
												<tr style="background-color: #efefef">
													<td><strong>Subtotal</strong></td>
													<td></td>
													<td></td>
													<td><strong>[currency][calc][scratch framecost]+[scratch minuscase]+([scratch coating]*[scratch qty])+([scratch case]*[scratch qty])[/calc][/currency]</strong></td>
												</tr>
												[if scratch shipping]
												<tr>
													<td>Shipping</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>[calcn] $Tag->currency({ body => $Scratch->{shipping} }); [/calcn]</td>
												</tr>
												[/if]
												<tr>
													<td><i>Special Reward Lens Discount</i></td>
													<td></td>
													<td></td>
													<td><i>[currency][calc][scratch rwd]*[scratch qty][/calc][/currency]</i></td>
												</tr>
												<tr style="text-decoration: underline; font-size: 18px">
													<td><strong>TOTAL</strong></td>
													<td></td>
													<td></td>
													<td><strong>[currency][scratch endtotal][/currency]</strong></td>
												</tr>
											</table>

											<input type="submit" value="Print insurance receipt" style="padding: 10px; margin: 35px 0 0" />
											<input type="hidden" name="idetails" value="[scratch idetails]" />
											<input type="hidden" name="order" value="[cgi order_number]" />
											<input type="hidden" name="oline" value="[sql-param code]" />
											<input type="hidden" name="isubtotal" value="[calc][scratch framecost]+[scratch minuscase]+([scratch coating]*[scratch qty])+([scratch case]*[scratch qty])[/calc]"  />
											<input type="hidden" name="ishipping" value="[scratch shipping]" />
											<input type="hidden" name="irewards" value="[calc][scratch rwd]*[scratch qty][/calc]" />
											<input type="hidden" name="itotal" value="[scratch endtotal]" />
											<input type="hidden" name="pricetext" value="[scratch pricetext]" />
										[/ft]
									[/query]
								</td>
							</tr>
						</table>
					[/list]
				[/query]
			</form>
		</div>
	</div>
	<br class="clear" />
	<div>
		<img src="/img/myAccount/contentBottom.jpg" />
	</div>
	<br class="clear" />
</div>

[set check_form]
	[comment]mv_nextpage=@@MV_PAGE@@[/comment]
	mv_nextpage=call_print_ins
	sendfeedback=yes
[/set]
[set fbsent][/set]

<!-- END CONTENT -->
[include templates/redesign/footer]
