[comment]
ui_page: kb_viewarticle.html
ui_type: page
ui_name: kb_viewarticle.html
ui_page_template: reloaded
ui_source: pages/kb_viewarticle.html
ui_template: Yes
ui_template_name: reloaded
[/comment]
[tmp meta_keywords]metal eyeglasses, cheap eyeglasses, eyeglasses, cheap prescription eyeglasses, cheap eyeglasses frames[/tmp]
[tmp meta_description]Buy Metal Eyeglasses at low prices. Discount prices on prescription eyeglasses. Metal Frame eyeglasses with light & thin Rx lenses, UV & Scratch coatings, and polished edges, cheap eyeglasses from $39.00[/tmp]

[tmp page_title]__COMPANY__ -- [L]Help Topics[/L] - [filter op="url_in encode_entities" interpolate="1"][scratch articletitle][/filter][/tmp]
[tmpn members_only][/tmpn]

[comment]
There are some places where we ajax to this page and just need the main content
[/comment]
[if !cgi body_only]

[include templates/redesign/header]

<div id="mid">
	<h1>[L]Help Center[/L]</h1>
	<div class="breadcrumbs">
		[url-breadcrumbs]
	</div>

[/if]
	<div class="help_content">
	[tmp sql]
	SELECT * FROM kb_articles
	WHERE code = '[scratch articleid]'
	LIMIT 1
	[/tmp]

	[query sql=|[scratch sql]| type=|list|]
		[list]
			<h2>[sql-param name]</h2>
			[tmp the_content_of_the_article][sql-param articletext][/tmp]
			[calcn]
			while ($Scratch->{the_content_of_the_article} =~ /#\!SYSVAR\!#([a-zA-Z0-9]+)#\!SYSVAR\!#/g){
				my $interpolated_variable = $Tag->var(uc $1);
				$Scratch->{the_content_of_the_article} =~ s/#\!SYSVAR\!#$1#\!SYSVAR\!#/$interpolated_variable/;
			}
			return delete $Scratch->{the_content_of_the_article};
			[/calcn]

			[tmp sql]
			SELECT * FROM kb_articles
			WHERE category = '[sql-param category]'
			AND code != '[scratch articleid]'
			[/tmp]

			[query sql=|[scratch sql]| type=|list| prefix=|related| list-prefix=|related|]
				[related-on-match]
				<div id="kb_relatedtopics">
					<h2>Related Topics</h2>
						<ul class="help_list">
				[/related-on-match]
				[related]
						[tmp relatedurl]help/[scratch categoryurl]/[related-param code]-[filter op="url_out" interpolate="1"][related-param name][/filter][/tmp]
						<li class="kb_articleitem"><a href="[area href="[scratch relatedurl]"]">[related-param name]</a></li>
				[/related]
				[related-on-match]
						</ul>
				</div>
				[/related-on-match]
			[/query]
		[/list]
		[no-match]
			Article could not be found
		[/no-match]
	[/query]

	[include include/knowledgebase/footer]
	</div>
[if !cgi body_only]
</div>

[include templates/redesign/footer]
[/if]