[comment]
ui_page: kb_viewcategory.html
ui_type: page
ui_name: kb_viewcategory.html
ui_page_template: reloaded
ui_source: pages/kb_viewcategory.html
ui_template: Yes
ui_template_name: reloaded
[/comment]

[tmp currentcat][filter encode_entities][scratch currentcat][/tmp]
[tmp seo_noindex]1[/tmp]
[tmp meta_keywords]metal eyeglasses, cheap eyeglasses, eyeglasses, cheap prescription eyeglasses, cheap eyeglasses frames[/tmp]
[tmp meta_description]Buy Metal Eyeglasses at low prices. Discount prices on prescription eyeglasses. Metal Frame eyeglasses with light & thin Rx lenses, UV & Scratch coatings, and polished edges, cheap eyeglasses from $39.00[/tmp]
[tmp page_title]__COMPANY__ -- [L]Help Topics[/L] - [scratch currentcat][/tmp]

[tmp page_title][if scratch currentcat eq 'index']Buy Eyeglasses Online, Eyeglass Store &amp; Affordable Rx Eyeglasses - Review &amp; FAQs[else]__COMPANY__ -- [L]Help Topics[/L] - [scratch currentcat][/else][/if][/tmp]
[tmp meta_description][if scratch currentcat eq 'index']Eyeglasses Reviews and FAQs for Affordable Rx Eyeglasses Online at America's Very Best Eyeglass Store - 39 Dollar Glasses.[else][/else][/if][/tmp]
[tmp meta_keywords][if scratch currentcat eq 'index']Buy Eyeglasses Online,Eyeglass Store,Affordable Eyeglasses,Rx Eyeglasses,Eyeglasses review[else][/else][/if][/tmp]
[tmpn members_only][/tmpn]
[tmp meta_header]
<style type="text/css">
ul.no_pad{
	padding: 0;
}
li{
	list-style-type: none;
}
li.cat_head{
	margin-top: 25px;
}
#kb_frequentquestions{
	clear: both;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	margin-left: 10px;
}
ul.title_list{
	padding-left: 15px;
}
#mid {
	padding-top: 5px;
}
#kb_main{
	[if scratch currentcat eq 'index']
		border-bottom: 1px solid #ccc;
	[/if]
	padding-bottom: 15px;
}
#kb_main p{
	margin: 0;
}
#kb_categories{
	padding-top: 5px;
}
li.cat_head,li.cat_head_top{
	padding: 5px 0;
	font-size: 19px;
}
</style>
[/tmp]
[include templates/redesign/header]

<div id="mid">
	<h1>[L]Help Center[/L]</h1>
	[if scratch currentcat ne 'index']
		<div class="breadcrumbs">
			[url-breadcrumbs]
		</div>
		<div id="kb_main">
		[if scratch parentcat]
			[tmp sql]
			SELECT code FROM kb_categories
			WHERE name = '[filter op="url_in" interpolate="1"][scratchd parentcat][/filter]'
			LIMIT 1
			[/tmp]

			[query sql=|[scratch sql]| type=|list|]
				[list]
					[tmp parentcode][sql-param code][/tmp]
				[/list]
			[/query]
		[/if]

		[tmp sql]
		SELECT * FROM kb_categories
		WHERE name = '[filter op="url_in" interpolate="1"][scratchd currentcat][/filter]'
		[if scratch parentcode]
		AND parentcode = '[scratch parentcode]'
		[/if]
		LIMIT 1
		[/tmp]

		[query sql=|[scratch sql]| type=|list|]
			[list]

				[tmp catcode][sql-param code][/tmp]
				[comment]
				========================================
				load any sub categories in this category
				========================================
				[/comment]
				[tmp sql]
				SELECT * FROM kb_categories
				WHERE parentcode = '[scratch catcode]'
				[/tmp]

				[query sql=|[scratch sql]| type=|list| prefix=|subcat| list-prefix=|subcat|]
					[subcat-on-match]
						<h2 class="kb_articlestitle">[sql-param name]</h2>
						<div class="kb_articlelist">
					[/subcat-on-match]
					[subcat]
						[tmp suburl]help/[scratch categoryurl]/[filter op="url_out" interpolate="1"][subcat-param name][/filter][/tmp]
						<div class="kb_articleitem"><a href="[area href="[scratch suburl]"]">[subcat-param name]</a></div>
					[/subcat]
					[subcat-on-match]
						</div>
					[/subcat-on-match]
				[/query]


				[comment]
				=====================================
				Get the articles in this category
				=====================================
				[/comment]

				[tmp sql]
				SELECT * FROM kb_articles
				WHERE category = '[scratch catcode]'
				[/tmp]

				[query sql=|[scratch sql]| type=|list| prefix=|article| list-prefix=|article|]
					[article-on-match]
						<h2 class="kb_articlestitle">[sql-param name]</h2>
						<div class="kb_articlelist">
					[/article-on-match]
					[article]
						[tmp suburl]help/[scratch categoryurl]/[article-param code]-[filter op="url_out" interpolate="1"][article-param name][/filter][/tmp]
						<div class="kb_articleitem"><a href="[area href="[scratch suburl]"]">[article-param name]</a></div>
					[/article]
					[article-on-match]
						</div>
						[tmp hasarticles]1[/tmp]
					[/article-on-match]
				[/query]

			[/list]
		[/query]

		</div>

	[else]

		<div id="kb_main">
			<p>Click a link below for help with any topic. If you don't see what you're looking for you can also <a href="[area contact_us]">contact us</a>.</p>
		</div>

		<div id="kb_categories">
			<div style="float:left;width:30%;">
				<ul>
					<li class="cat_head_top">[tmp catname][data table="kb_categories" field="name" key="1"][/tmp][scratch catname]<li>
						<ul class="title_list">
							[query sql=|select name FROM kb_categories where parentcode = '1'| type=|list|]
							[list]
							<li>&raquo; <a href="[area href=|help/[filter op="url_out" interpolate="1"][scratch catname][/filter]/[filter op="url_out" interpolate="1"][sql-param name][/filter]|]">[sql-param name]</a></li>
							[/list]
							[/query]
						</ul>
					</li>
					<li class="cat_head">[tmp catname][data table="kb_categories" field="name" key="8"][/tmp][scratch catname]<li>
						<ul class="title_list">
							[query sql=|select name FROM kb_categories where parentcode = '8'| type=|list|]
							[list]
							<li>&raquo; <a href="[area href=|help/[filter op="url_out" interpolate="1"][scratch catname][/filter]/[filter op="url_out" interpolate="1"][sql-param name][/filter]|]">[sql-param name]</a></li>
							[/list]
							[/query]
						</ul>
					</li>
				</ul>
			</div>
			<div style="float:left;width:33%;">
				<ul style="padding-left: 20px">
					<li class="cat_head_top">[tmp catname][data table="kb_categories" field="name" key="6"][/tmp][scratch catname]<li>
						<ul class="title_list">
							[query sql=|select name FROM kb_categories where parentcode = '6'| type=|list|]
							[list]
							<li>&raquo; <a href="[area href=|help/[filter op="url_out" interpolate="1"][scratch catname][/filter]/[filter op="url_out" interpolate="1"][sql-param name][/filter]|]">[sql-param name]</a></li>
							[/list]
							[/query]
							<li>&raquo; <a href="[area website-issues]">Report an issue browsing our website</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div style="float:left;width:36%;">
				<ul style="padding-left: 20px">
					<li class="cat_head_top">[tmp catname][data table="kb_categories" field="name" key="3"][/tmp][scratch catname]<li>
						<ul class="title_list">
							[query sql=|select name FROM kb_categories where parentcode = '3'| type=|list|]
							[list]
							<li>&raquo; <a href="[area href=|help/[filter op="url_out" interpolate="1"][scratch catname][/filter]/[filter op="url_out" interpolate="1"][sql-param name][/filter]|]">[sql-param name]</a></li>
							[/list]
							[/query]
						</ul>
					</li>
					<li class="cat_head">[tmp catname][data table="kb_categories" field="name" key="9"][/tmp][scratch catname]<li>
						<ul class="title_list">
							[query sql=|select name FROM kb_categories where parentcode = '9'| type=|list|]
							[list]
							<li>&raquo; <a href="[area href=|help/[filter op="url_out" interpolate="1"][scratch catname][/filter]/[filter op="url_out" interpolate="1"][sql-param name][/filter]|]">[sql-param name]</a></li>
							[/list]
							[/query]
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div id="kb_frequentquestions">
			<h2>Most Common Questions:</h2>
			<div class="kb_articlelist">
				<div class="kb_articleitem"><a href="[area href="help/How-to-order/Getting-started/42-How-do-I-order-from-you"]">How do I order from you?</a></div>
				<div class="kb_articleitem"><a href="[area href="help/How-to-order/Pupillary-Distance-(PD)-help/32-How-do-I-measure-my-Pupillary-Distance-(PD).html"]">How do I measure my Pupillary Distance (PD)?</a></div>
				<div class="kb_articleitem"><a href="[area href="help/How-to-order/Prescription-(Rx)-help/24-How-do-I-fill-in-the-prescription-(Rx)-information.html"]">How do I fill in the prescription (Rx) information?</a></div>
				<div class="kb_articleitem"><a href="[area href="help/Product-Questions/Choosing-the-right-frame/58-How-can-I-tell-if-the-frame-will-fit-me.html"]">How can I tell if the frame will fit me?</a></div>
				<div class="kb_articleitem"><a href="[area href="help/How-to-order/Shipping/50-How-long-does-it-take-to-get-my-glasses.html"]">How long does it take to get my glasses?</a></div>
				<div class="kb_articleitem"><a href="[area href="help/Customer-Care/Track-my-order/110-How-do-I-track-my-order.html"]">How do I track my order?</a></div>
			</div>
		</div>
		<div class="clearb">&nbsp;</div>
	[/else]
	[/if]
</div>

[include include/knowledgebase/footer]

[include templates/redesign/footer]