[if cgi coupon_code]
	[tmp coupon_result][coupon code="[cgi coupon_code]" msgscratch=coupon_msg no=0 yes=1][/tmp]
	[if scratch coupon_result]
		[seti coup_ok]1[/seti]
		[bounce 10000]
	[/if]
[/if]

[tmp page_title]KGB Coupon Landing Page[/tmp]
[tmpn meta_header]
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<style type="text/css">
	#box{ background: RGB(209,228,243); width: 600px; margin: 30px auto; padding: 25px; border: 3px dashed black }
	#header{ font-family: 'Open Sans', sans-serif; font-size: 28px; text-align: center; margin: 15px 0 }

	#box{ font-family: 'Open Sans', sans-serif; font-size: 14px; }
	#box p{ margin: 5px 0 15px }
	p.rejected{ text-align: center; color: red }
	p.accepted{ text-align: center; color: green }
	label{ display: inline-block; width: 100px }
	#submit{ padding: 3px }
</style>
[/tmpn]
[tmp seo_noindex]1[/tmp]
[tmp seo_nofollow]1[/tmp]

@_TOP_@
<!-- BEGIN CONTENT -->

<div id="subcontent">
	<div id="box">
		<h1 id="header">[if !cgi coupon_code]Welcome KGB Agents[else]Your KGB Coupon[/else][/if]</h1>
		[if scratch coupon_result eq '1']
			<p class="accepted">Your coupon has been accepted!</p>
			<br />
			<a href="[area 10000]">Shop for your perfect pair of prescription eye or sunglasses</a>
		[else]
			[if explicit][condition] $CGI->{'coupon_code'} && !$Scratch->{'coupon_result'}[/condition]
				<p class="rejected">There was a problem confirming your coupon code, please try again</p>
				<br />
			[else]
				<p>Copy and paste the coupon you received in the e-mail from KGB to get started.</p>
			[/else][/if]
			<form method="post">
				<label for="coupon">Coupon code:</label>
				<input type="text" name="coupon_code" id="coupon_code" />&nbsp;&nbsp;<input type="submit" name="submit" id="submit" value="Continue" />
			</form>
		[/else][/if]
	</div>
</div>

<!-- END CONTENT -->
@_BOTTOM_@
