[tmpn image_name]kids[/tmpn]
[tmpn image_text]kids eyeglasses[/tmpn]
[set pre_page_link]eyeglasses[/set]
[tmpn post_page_link]kids[/tmpn]
[tmpn meta_keywords]kids eyeglasses, kids prescription eyeglasses, discount kids eyeglasses, kids glasses, cheap kids glasses, kids glasses online, kids prescription glasses[/tmpn]
[tmpn meta_description]Find cool kids glasses at discount prices. Save 70% on RX eyeglasses and frames for kids with next day S&H. Free Returns. Shop Now![/tmpn]
[tmpn page_title]Kids Prescription Glasses | Buy Cheap Eyeglasses Online - Save![/tmpn]
[tmp category_header]<h1 align="center" style="color:#EF8F00">SAFE AND STYLISH KIDS GLASSES</h1>[/tmp]
[tmp category_footer]
<h2> Durable kids prescription glasses at affordable prices!</h2>
To a child, accurate eyesight is imperative. The ability to explore, learn, and grow all stems from the ability to see correctly. This is why it is so important to not only make glasses accessible, but affordable as well.
At 39DollarGlasses, we make it possible for your whole family to get quality glasses at a great low price. Whether your kids need new eyewear, broke their lenses, or lost their glasses, we’re here to bring you the latest styles along with a <a href="[area help/Company-Information/100%-secure-ordering]">stress-free ordering</a> process and a quick delivery.
<h3>Discount kids eyeglasses in a range of styles.</h3>
Since kids are constantly growing, our kids glasses selection comes in a variety of shapes and sizes. We know that every child is different so we suit their varying tastes with a collection of metal and plastic frames in all different colors. So whether you have a little <a href="[area 4176_Black]">Princess</a> or a tough <a href="[area 4011_BrownCrystalGold]">Tiger</a>, we’ve got your kids covered.
Beside the variety and low prices, the best feature on our kids prescription eyeglasses is that they are all made using polycarbonate lenses. Children are notorious for roughhousing and horsing around, so it’s important that we use one of the safest materials available to keep your child safe. Polycarbonate is a shatterproof material (in fact, it’s used to make bullet proof glass) so you can rest assured that your child’s eyes will be protected.
It doesn’t matter if it’s the first time or the fifteenth time that you’re getting your child glasses. Either way, think of us for safe, quality glasses at incredibly prices. 
[/tmp]
[include include/category/category]