[if session logged_in]
	[bounce account]
[/if]

[tmp page_title]__COMPANY__ -- Log In / Register[/tmp]
[include templates/redesign/header]

[set mv_no_cache]1[/set]
[set NewAccount]
[if type=explicit compare="[userdb new_account]"]
  [if scratch go-save-album]
    [cgi name=mv_nextpage set='../special_pages/tryon_process' hide=1]
  [else]
	 mv_nextpage=account
  [/else][/if]
[else]
  mv_nextpage=account
[/else][/if]
[/set]

<div id="mid">
	<h1>Login or Create an Account</h1>
	We want to be accessible to all our customers. If you have any questions for us, there are many ways to reach us. 
	<br/>Answers to most questions are available through our <a href="[area help/index]">online help section</a>.
	[if scratch consolidated_account]
		[scratchd consolidated_account]
	[/if]
	[if session failure]
		<div id="loginError">
			[calcn]
				delete $Session->{failure};
			[/calcn]
		</div>
	[/if]
	<div class="login_cont">
		<h2>Existing Customer Login
		    [if session ab eq 'b']
		        <div style="font-family: 'open_sansregular',Arial, Helvetica, sans-serif;font-weight: bold;font-size:15px;text-transform:capitalize;">Contacts customer? LOG IN 
		            <a href="http://www.39dollarglasses.com/contact-lenses/customer/account/login/">here</a>.
		        </div>
            [/if]
		</h2>
		<form action="[process secure=1]" method="POST">
			[form-session-id]
			<input type="hidden" name="mv_todo"  value="return" />
    		<input type="hidden" name="mv_click" value="Login" />
    		<input type="hidden" name="mv_failpage" value="login" />
      		[if value saving_cart eq "1"]
				<input type="hidden" name="mv_successpage" value="ord/basket" />
      		[else]
		      	[if scratch from_checkout]
					[set from_checkout][/set]
					<input type="hidden" name="mv_successpage" value="ord/checkout1" />
				[else]
					<input type="hidden" name="mv_successpage" value="[either][scratchd mv_successpage][or]customerservice[/either]" />
				[/else][/if]
		    [/else][/if]
			<label for="login_mv_username">Email address:</label> <input id="login_mv_username" name="mv_username" type="text" value="[read-cookie MV_USERNAME]" />
			<label for="login_password">Password:</label> <input id="login_password" type="password" name="mv_password" value="" />
			<div class="login_ctext">
				<div class="login_ctremember"><input type="checkbox" name="mv_cookie_password" value="1" />Remember me</div>
				<a href="[area href='lost_password' secure='1']" class="forgot_pass">Forgot Password?</a>
			</div>
			<input type="submit" value="[L]Login[/L]" />
		</form>
	</div>
	<!--login_cont end-->
	<div class="createacc_cont">
		<h2>Create a New Account[if session ab eq 'b']<div><br></div>[/if]</h2>
		<form action="[process secure=1]" method="POST">
			[form-session-id]
			<input type="hidden" name="mv_click" value="NewAccount" />
 			<input type="hidden" name="mv_doit"  value="return" />
 			 <input type="hidden" name="function"  value="new_account" />
			<input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
			  <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
			  <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
			  <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
			  <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
			  <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
			  <input type="hidden" name="tryon_bouncepage" value="[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]" />
			  <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />

			  <input type="hidden" name="RightEyeMouseXPosition" value="[scratch tryon_RightEyeMouseXPosition]" /> 
			  <input type="hidden" name="RightEyeMouseYPosition" value="[scratch tryon_RightEyeMouseYPosition]" /> 
			  <input type="hidden" name="LeftEyeMouseXPosition" value="[scratch tryon_LeftEyeMouseXPosition]" />
			  <input type="hidden" name="LeftEyeMouseYPosition" value="[scratch tryon_LeftEyeMouseYPosition]" />
			  <input type="hidden" name="pdPixels" value="[scratch tryon_pdPixels]" /> 
			  <input type="hidden" name="frameAngle" value="[scratch tryon_frameAngle]" /> 
			  <input type="hidden" name="noseX" value="[scratch tryon_noseX]">
			  <input type="hidden" name="noseY" value="[scratch tryon_noseY]">
			  <input type="hidden" name="tryon_tint" value="[scratch tryon_tint]">
			<label for="create_username">Email address:</label> <input type="text" name="mv_username" id="create_username"/>
			<label for="create_password">Password:</label> <input type="password" name="mv_password" id="create_password"/>
			<label for="mv_verify">Verify password:</label> <input type="password" name="mv_verify" id="mv_verify"/>
			<!-- <div class="login_ctext">
				<div class="login_ctremember"><input type="checkbox" name="mv_cookie_password" value="1" />Remember me</div>
			</div> -->
			<input type="submit" value="[L]create account[/L]" />
		</form>
	</div>
</div>

[include templates/redesign/footer]