<form class="signin loginPop logonForm" action="[area href="login_ajax" secure=1]" method="post" id="login-form">
	<input type="hidden" name="mv_session_id" value="[data session id]" />
	<input type="hidden" name="mv_todo"  value="return" />
    <input type="hidden" name="mv_click" value="Login" />
	<h3>Sign in &amp; Checkout</h3>
	<p class="error" style="display: none">Invalid username and/or password.</p>
	<label for="mv_username">E-mail Address:</label>
	<input type="text" name="mv_username" id="mv_username" value="[either][read-cookie MV_USERNAME][or][value email][/either]" />

	<label class="pass" for="mv_password">Password:</label><input type="password" name="mv_password" id="mv_password" value="" />

	<a href="[area href='lost_password' secure='1']" class="fp" style="text-decoration: underline">Forgot your password?</a>
	<div id="sign-in">
		<input class="signinbutton" value="sign in" onclick="ajaxLogon('login-form',1,function(){document.forms['basket'].mv_nextpage.value='ord/checkout1';document.forms['basket'].submit();});return !1;" type="submit" />
	</div>
	<br class="clear"/>
</form>
