[seti done][userdb function=logout clear=1][/seti]

[calcn]
  delete @{$Scratch}{ grep { /^frame_.*/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^album_.*/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^tryon.*/ } keys %$Scratch};
  return;
[/calcn]

[set upload_file][/set]
[set frameheight][/set]

    
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

[tmp page_title]__COMPANY__ -- Log Out[/tmp]

@_NOLEFT_TOP_@

<!-- BEGIN CONTENT -->

<br><br>
You have been logged out.
<br><br>
Thank you for visiting.					
[bounce href="customerservice"]
<!-- END CONTENT -->

@_NOLEFT_BOTTOM_@
