[tmpn image_name]metal[/tmpn]
[tmpn image_text]prescription men&#39;s eyeglasses[/tmpn]
[set pre_page_link]eyeglasses[/set]
[tmpn post_page_link]mens[/tmpn]
[tmpn meta_keywords]Mens Prescription Eyeglasses, mens eyeglasses, cheap eyeglasses, Mens glasses, mens prescription glasses, cheap glasses[/tmpn]
[tmpn meta_description]Shop stylish prescription eyeglasses for men from just $39! 100% guarantee. Get cheap glasses with next day S&H. Made in the USA by eye doctors.[/tmpn]
[tmpn page_title]Mens Glasses | Buy Prescription Eyeglasses Online - Save 70%[/tmpn]
[tmp category_header]<h1 align="center" style="color:#EF8F00">MENS EYEGLASSES STYLES AT LOW PRICES</h1>[/tmp]
[tmp category_footer]
<h2>Enjoy high quality mens prescription eyeglasses at low prices!</h2>
In the hustle and bustle of everyday life, you’ll need a pair of mens eyeglasses that can take you from work to play with ease. Your eyewear should feel great, look great, and come at a great price. At 39DollarGlasses, we offer you the whole package. We believe your glasses should be stylish, durable, and affordable, and that is why we offer quality mens glasses that are just a fraction of the price of most retailers.
When you pay money for something it should be built to last. All of our quality mens prescription eyeglasses are made from an assortment of durable materials, from <a href="[area eyeglasses/mens-metal]">resilient metal frames</a> to flexible TR90 plastic, and we guarantee that our glasses will stay sturdy day after day.

<h3>Our superior mens glasses are built to last!</h3>
It’s hard to believe that something so affordable can also be high quality, but we welcome you to test our eyewear for yourself. If you’re unhappy for any reason, we have a <a href="[area help/Guarantee-%2526-Rewards/100%2525-quality-guarantee/93-What-is-your-warranty-policy%253f]">100% worry free guarantee</a>. Though we are confident in our products, we want to make the process of buying glasses online as easy as possible by offering a great return policy.
Starting at just $39.00 a pair, our cheap eyeglasses for men come in dozens of styles. Whether you like down-to-earth looks or like to keep it professional, our hundreds of mens eyeglasses frames will suit you to a T. Comfortable and reliable, our eyeglasses pull out all the stops when it comes to affordability, quality, and style. Simply put, <a href="[area about_us]">39DollarGlasses.com</a> is the best place to find mens eyeglasses online.
[/tmp]
[set productCatFilter]m[/set]
[if scratch amb_referrer]
	[tmp amb_coupon][ambassador function="get_coupon_from_alias" alias="[scratch amb_referrer]"][/tmp]
	[if scratch amb_coupon ne '0']
		[seti coup_ok][coupon code="[scratch amb_coupon]" msgscratch="coupon_msg" no=0 yes=1][/seti]
	[/if]
[/if]
[ab-log page="category-page" option="[env REQUEST_URI]"]
[if explicit]
	[condition]$Tag->env('SCRIPT_URI') =~ m~(sunglasses/|sunglasses\.html)~[/condition]
	[tmpn sunglasses]1[/tmpn]
	[tmpn pre_page_link]sunglasses[/tmpn]
[else]
	[tmpn pre_page_link]eyeglasses[/tmpn]
[/else][/if]

[tmp n_arrival_cgi][calcn]
$Tag->env('SCRIPT_URL') =~ /new\-arrivals/ ? '1' : '0';
[/calcn][/tmp]
[include include/category/category]



