[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Message Center[/tmp]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@

[if !session logged_in]
		[bounce page=login]
[/if]

[if session failure]	
  <br><br>
  <B>[calc] delete $Session->{failure}[/calc]</b>
  <br>
[/if]

<table width="95%">
		<tr>
		  <td align=left>
	
			<B>[if value fname][value fname]'s[/if] Message Center</B>
	
			</td>
		</tr>
		<tr>
			<td>
				<table class="message_nav" width="400">
					<tr>						
						<td>
						<a href="[area href="message_center" form="viewbox=inbox"]"><img src="/store/images/message_center/button_inbox.gif" align="absmiddle" alt="Inbox" border="0" /></a>
						</td>
						<td>
						<a href="[area href="message_center" form="viewbox=sentbox"]"><img src="/store/images/message_center/button_sentitems.gif" align="absmiddle" alt="Sent Items" border="0" /></a>
						</td>
						<td>
						<a href="[area href="message_center" form="compose=1"]"><img src="/store/images/message_center/button_compose.gif" align="absmiddle" alt="Compose" border="0" /></a>
						</td>
					</tr>
				</table>
				     
				<br />
			</td>
		</tr>
	</table>
		
		<br />

[if cgi compose]	
	
		[if cgi send]
			
			
			[comment]
			Send the new the message
			[/comment]				
			
			[tmp message_body][cgi message_body][/tmp]
			[calc]
			$Scratch->{message_body} =~ s/\&lt\;/\</ig; 
			return undef;
			[/calc]
			
			[tmp message_subject][cgi message_subject][/tmp]
			[if !cgi message_subject]
				[tmp message_subject]no subject[/tmp]
			[/if]
			
			[tmp emailtmp][email
to=|__QUERY_FORM_TO__|
subject=|Message Center: [scratch message_subject]|
from=|[value email]|
reply=|[value email]|
extra=|
Return-Path: <[value email]>
Bcc: mc@39dollarglasses.com
MIME-Version: 1.0
Content-Type: text/html
|][scratch message_body][/email][/tmp]
	
	<font color="green"><b>Message Sent</b></font>
		
		
		[else]
				
					
					<style>
					.message_results th {
						font-size:12px;
						padding:4px;
						background:#EEF2F9;
						border-bottom:1px solid #FF9A31;
					}
					#message_body {
						overflow: auto;
						padding:5px;
						width:99%;
						height:400px;
						border-left:1px solid #666666;
						border-right:1px solid #666666;
						border-bottom:1px solid #666666;
					}
					</style>	
					
					<script language="JavaScript" type="text/javascript" src="/store/images/message_center/wysiwyg.js"></script>
					<form name="composeform" action="[area message_center]" method="post">
					<input type="hidden" name="compose" value="1" />
					<input type="hidden" name="send" value="1" />
					<table class="message_results">
						<tr>
							<td>
							<a href="javascript:document.composeform.submit();"><img src="/store/images/message_center/button_sendmessage.gif" border="0" alt="Send Message" title="Send Message" align="absmiddle" /></a>
							</td>
						</tr>
						<tr>
							<th>
								<table width="100%">
									<tr>
										<td>
										<b>To:</b> 
										</td>
										<td>
										__QUERY_FORM_TO__
										</td>
									</tr>
									<tr>
										<td>
										<b>Subject:</b> 
										</td>
										<td>
										<input type="text" name="message_subject" size="100" />
										</td>
									</tr>
								</table>
							</th>
						</tr>
						<tr>
							<td>
							</td>
						</tr>
						<tr>
							<td>
							<textarea name="message_body" id="textarea1" cols="200" rows="100"></textarea>
							</td>
						</tr>		
					</table>
					
					</form>
					
					<script language="javascript1.2">
					  generate_wysiwyg('textarea1');
					</script>
					
		[/else]		
		[/if]
	


[elsif cgi reply_to]	
	
	[if cgi send]
		
		
			[comment]
			Send the reply message
			[/comment]
			
			[query sql=|SELECT * FROM user_messages WHERE message_to = '[value email]' AND message_id = '[cgi reply_to]'| type=|list|]
			[list]
				[if-sql-param message_from =~ /ordersNORESPOND@39dollarglasses.com/i]
				[tmp reply_to]contact@39dollarglasses.com[/tmp]
				[else]
				[tmp reply_to][sql-param message_from][/tmp]
				[/else]
				[/if-sql-param]		
			[/list]
			[/query]
		
		[tmp reply_body][cgi reply_body][/tmp]
		[calc]
		$Scratch->{reply_body} =~ s/\&lt\;/\</ig; 
		return undef;
		[/calc]
		
		[tmp reply_subject][cgi reply_subject][/tmp]
		[if !cgi reply_subject]
			[tmp reply_subject]no subject[/tmp]
		[/if]
		
		[tmp emailtmp][email
to=|[scratch reply_to]|
subject=|Message Center: [scratch reply_subject]|
from=|[value email]|
reply=|[value email]|
extra=|
Return-Path: <[value email]>
Bcc: mc@39dollarglasses.com
MIME-Version: 1.0
Content-Type: text/html
|][scratch reply_body][/email][/tmp]

<font color="green"><b>Message Sent</b></font>
	
	
	[else]
		
	
			[query sql=|SELECT * FROM user_messages WHERE message_to = '[value email]' AND message_id = '[cgi reply_to]'| type=|list|]
			[list]
				
			[if-sql-param message_from =~ /ordersNORESPOND@39dollarglasses.com/i]
			[tmp reply_to]contact@39dollarglasses.com[/tmp]
			[else]
			[tmp reply_to][sql-param message_from][/tmp]
			[/else]
			[/if-sql-param]	
			[tmp reply_subject]RE: [sql-param message_subject][/tmp]
			[tmp reply_original][sql-param message_body][/tmp]
			[tmp reply_body]			
			<br /><br /><br />
			------------------------------------------------------------------------------------------------------------<br />
			<b>From:</b> [scratch reply_to]<br />
			<b>Sent:</b> [sql-param message_date]<br />
			<b>To:</b> [sql-param message_to]<br />
			<b>Subject:</b> [sql-param message_subject]<br />

			<br />
			<br />
			[sql-param message_body][/tmp]	
			
			[/list]
			[/query]
				
				<style>
				.message_results th {
					font-size:12px;
					padding:4px;
					background:#EEF2F9;
					border-bottom:1px solid #FF9A31;
				}
				#message_body {
					overflow: auto;
					padding:5px;
					width:99%;
					height:400px;
					border-left:1px solid #666666;
					border-right:1px solid #666666;
					border-bottom:1px solid #666666;
				}
				</style>	
				
				<script language="JavaScript" type="text/javascript" src="/store/images/message_center/wysiwyg.js"></script>
				<form name="replyform" action="[area message_center]" method="post">
				<input type="hidden" name="reply_to" value="[cgi reply_to]" />
				<input type="hidden" name="send" value="1" />
				<table class="message_results">
					<tr>
						<td>
						<a href="javascript:document.replyform.submit();"><img src="/store/images/message_center/button_sendmessage.gif" border="0" alt="Send Message" title="Send Message" align="absmiddle" /></a>
						</td>
					</tr>
					<tr>
						<th>
							<table width="100%">
								<tr>
									<td>
									<b>To:</b> 
									</td>
									<td>
									[scratch reply_to]
									</td>
								</tr>
								<tr>
									<td>
									<b>Subject:</b> 
									</td>
									<td>
									<input type="text" name="reply_subject" value="[scratch reply_subject]" size="100" />
									</td>
								</tr>
							</table>
						</th>
					</tr>
					<tr>
						<td>
						</td>
					</tr>
					<tr>
						<td>
						<textarea name="reply_body" id="textarea1" cols="200" rows="100">[scratch reply_body]</textarea>
						</td>
					</tr>		
				</table>
				
				</form>
				
				<script language="javascript1.2">
				  generate_wysiwyg('textarea1');
				</script>
				
	[/else]		
	[/if]
	
[/elsif]
[elsif cgi message_id]
	
	<style>
	.message_results th {
		font-size:12px;
		padding:4px;
		background:#EEF2F9;
		border-bottom:1px solid #FF9A31;
	}
	#message_body {
		overflow: auto;
		padding:5px;
		width:99%;
		height:400px;
		border-left:1px solid #666666;
		border-right:1px solid #666666;
		border-bottom:1px solid #666666;
	}
	</style>	
	
	<table width="95%" class="message_results" cellspacing="2">
			
	[tmp tmp][query sql=|UPDATE user_messages SET message_read  = '1' WHERE (message_to = '[value email]' OR message_from = '[value email]') AND message_id = '[cgi message_id]'|][/query][/tmp]
	
	[query sql=|SELECT * FROM user_messages WHERE (message_to = '[value email]' OR message_from = '[value email]') AND message_id = '[cgi message_id]'| type=|list|]
		[no-match]
			<tr>
				<td>The selected message could not be found. If you feel this message is in error please <a href="[area contact_us]">contact us</a>
				</td>
			</tr>			
		[/no-match]		
		[list]
			<tr>				
				[if term="[sql-param message_to]" op="eq" compare="[value email]"]
				<td>
				&nbsp;<a href="[area href="message_center" form="reply_to=[sql-param message_id]"]"><img src="/store/images/message_center/button_reply.gif" align="absmiddle" alt="Compose" border="0" /></a><br />
				</td>
				[/if]
			</tr>
			<tr>
				<th align="left">
					<table>
						<tr>
							<td align="right">
							<b>Subject:</b>
							</td>
							<td>
							[sql-param message_subject]
							</td>							
						</tr>
						<tr>
							<td align="right">
							<b>From:</b>
							</td>
							<td>
							[if-sql-param message_from =~ /ordersNORESPOND@39dollarglasses.com/i]
							contact@39dollarglasses.com
							[else]
							[sql-param message_from]
							[/else]
							[/if-sql-param]
							</td>
						</tr>
						<tr>
							<td align="right">
							<b>Date:</b>
							</td>
							<td>
							[tmp message_date][sql-param message_date][/tmp]
							[calc]$Scratch->{message_date} =~ s/\-0000//i; return undef;[/calc]
							[scratch message_date]
							</td>
						</tr>
					</table>			
				</th>
			</tr>	
			<tr>
				<td>
				[tmp message_body][sql-param message_body][/tmp]
				[if scratch message_body !~ /\<(.*)\>(.*)\<\/(.*)\>/]
				[calc]
				$Scratch->{message_body} =~ s/\n/<br \/>/g;
				return undef;
				[/calc]
				[/if]
				<div id="message_body">
				<div>[scratch message_body]</div>
				</div>
				</td>
			</tr>				
		[/list]
		
	[/query]	
	
	</table>
	
	
[/elsif]
[else]
	
	<style>
	.message_results th {
		font-size:12px;
		padding:4px;
		background:#EEF2F9;
		border-bottom:1px solid #FF9A31;
	}
	</style>	
	
	<!-- BEGIN CONTENT -->
	[tmp sql_order_array] IN([/tmp]
	[comment]Need to build a list of the logged in users orders[/comment]
	[perl tables="transactions" no_return=1]
		my $sql = "SELECT code FROM transactions WHERE username = '".$Session->{username}."'";
		$Tag->query({sql=>$sql,table=>'transactions',hashref=>'results'});
		$o=0;
		foreach $row (@{$Tmp->{results}})
		{
			$Scratch->{sql_order_array} .= "'".$row->{code}."'";		
			$o++;
		}	
		$Scratch->{sql_order_array} .= ")";
		
		if($o==0)
		{
			$Scratch->{sql_order_array} = undef;
		}
	[/perl]
	
	
	[if cgi viewbox eq 'sentbox']
		[tmp viewbox]Sent Items[/tmp]
		[tmp sql_field]message_from[/tmp]
	[else]
		[tmp viewbox]Inbox[/tmp]
		[tmp sql_field]message_to[/tmp]
	[/else]
	[/if]
	
	<table width="700">		
		<tr>
			<td>				
				<big>Viewing: <b>[scratch viewbox]</b></big>
			</td>
		</tr>
	</table>
	
	
	<table width="700" class="message_results" cellspacing="2">
		<tr>
			[if term="[scratch viewbox]" op="ne" compare="Sent Items"]
			<th style="width:30px;">
			&nbsp;
			</th>
			[/if]
			<th style="width:30px;">
			&nbsp;
			</th>
			<th width="60%" align="left">
			Subject
			</th>
			<th width="40%" align="left">
			Date
			</th>			
		</tr>
		[if scratch sql_order_array]			
			[tmp sql]
				SELECT * FROM user_messages
				WHERE [scratch sql_field] = '[value email]'
				[if scratch viewbox eq 'Inbox']OR message_order [scratch sql_order_array][/if]
				ORDER BY message_date DESC
			[/tmp]
		[else]
			[tmp sql]
				SELECT * FROM user_messages
				WHERE [scratch sql_field] = '[value email]'				
				ORDER BY message_date DESC
			[/tmp]
		[/else]
		[/if]	
		
		[query sql=|[scratch sql]| type=|list|]
			[no-match]
			<tr>
				<td colspan="3">
				No Messages
				</td>			
			</tr>
			[/no-match]
			[list]
				<tr[if-sql-param message_read != 1] style="background: #FFF4F4;"[/if-sql-param]>
					[if cgi viewbox ne 'sentbox']					
					<td align="center">
					<a href="[area href="message_center" form="reply_to=[sql-param message_id]"]"><img src="/store/images/message_center/icon_reply.gif" border="0" alt="Reply" title="Reply" /></a>
					</td>			
					[/if]
					<td align="center">
					<a href="[area href="message_center" form="message_id=[sql-param message_id]"]">
					[if-sql-param message_read != 1]
					<img src="/store/images/message_center/icon_newmail2.gif" border="0" alt="New Message" title="New Message" />
					[else]
					<img src="/store/images/message_center/icon_nomail.gif" border="0" alt="Message Read" title="Message Read" />
					[/else]
					[/if-sql-param]
					</a>		
					</td>
					<td>								
					<a href="[area href="message_center" form="message_id=[sql-param message_id]"]">[if-sql-param message_read != 1]<b>[/if-sql-param]		[sql-param message_subject][if-sql-param message_read != 1]</b>[/if-sql-param]</a>
					</td>
					<td>
					[if-sql-param message_read != 1]<b>[/if-sql-param]		
										
					[tmp message_date][sql-param message_date][/tmp]
					[calc]$Scratch->{message_date} =~ s/\+(.*)//i; return undef;[/calc]
					[scratch message_date]
					
					[if-sql-param message_read != 1]</b>[/if-sql-param]	
					</td>					
				</tr>		
			[/list]
		[/query]
	</table>
	
	
[/else]
[/if]

<p>
<a href="[area customerservice]">Back to account menu</a>
</p>


<!-- END CONTENT -->

@_NOLEFT_BOTTOM_@
