[comment]
ui_page: metal-eyeglasses.html
ui_type: page
ui_name: metal-eyeglasses.html
ui_page_template: noleft
ui_source: pages/metal-eyeglasses.html
ui_template: Yes
ui_template_name: leftright
[/comment]
[tmp meta_keywords]metal eyeglasses, cheap eyeglasses, eyeglasses, cheap prescription eyeglasses, cheap eyeglasses frames[/tmp]
[tmp meta_description]Buy Metal Eyeglasses at low prices. Discount prices on prescription eyeglasses. Metal Frame eyeglasses with light & thin Rx lenses, UV & Scratch coatings, and polished edges, cheap eyeglasses from $39.00[/tmp]
[tmp meta_header]
<link rel="stylesheet" href="/store/images/reloaded/category.css" type="text/css" />
<script type="text/javascript"><!-- // --><![CDATA[
	function applyFilter(input, filter)
	{
		if (input.checked)
			document.getElementById(filter+'_showall').checked = false;
		updateResults();
		return false;
	}
	function updateResults()
	{
		// document.getElementById('filter_form').submit();
		$('#products').fadeOut('fast');
		$.post('http://__SERVER_NAME__/category_load.html', $('#filter_form').serialize(), function(results)
		{
			$('#products').html(results);
			$('#products').fadeIn('fast');
		});
		return false;
	}
// ]]></script>
[/tmp]
[tmp page_title]Metal Eyeglasses - Prescription Eyeglasses - __COMPANY__[/tmp]
[tmpn members_only][/tmpn]
[tmpn jquery]1[/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@
<!-- BEGIN CONTENT -->

[if variable POWER_REVIEWS_ENABLE]
        __POWER_REVIEWS_JS__
[/if]

[page_breadcrumbs location="[L]Eyeglasses and Sunglasses[/L],10000|[L]Metal Eyeglasses[/L],11000"]

[category_page category="metal"]

<br class="clear" />

<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
