[ab-log page="frame-details-popup" option="[cgi sku]"]
[image-size file="../../www/html/store/images/tints/[cgi sku]_CLEAR.jpg"]
<script type="text/javascript">
	$(function($){
		var initial_height = [scratch imgheight];
		var initial_width = [scratch imgwidth];

		$('img#closeWindow').mouseover(function(){
			$(this).attr("src", "/img/category/button/closeButtonHover.png");
		});

		$('img#closeWindow').mouseout(function(){
			$(this).attr("src", "/img/category/button/closeButton.png");
		});

		$('img#closeWindow').click(function(){
			$('div#itemDetailContainer').remove();
		});

		$('select#image_tint').change(function(){
			$('img#itemImage').attr('src', "/store/images/tints/" + $('select#frame_color').val() + "_" + $(this).val() + ".jpg");
		});

		$('select#frame_color').change(function(){
			$('img#itemImage').attr('src', "/store/images/tints/" + $(this).val() + "_" + $('select#image_tint').val() + ".jpg");
			$('form.moreForm').attr('action',$('select#frame_color option:selected').attr('data'))
		});

		$('img#itemImage').load(function(){
			var height;
			if (initial_height > 0) {
				height = initial_height;
				initial_height = 0;
			}
			else {
				height = $(this).attr('height');
			}

			var width;
			if (initial_width > 0) {
				width = initial_width;
				initial_width = 0;
			}
			else {
				width = $(this).attr('width');
			}
		});
		$('form.moreForm').submit(function(e){
			e.preventDefault();
			var tint = $('#image_tint').val().toUpperCase()
			var sung = tint === 'CLEAR' ? '/' :'/sun-glasses/';
			var qs = tint === 'CLEAR' ? '' : '?lens_tint='+tint;
			window.location.href = sung + $('#frame_color').val()+'.html'+qs;
		})
	});
</script>

[perl tables="frameGroupPropertyValues products frameGroupProperties frameGroupPropertyTypes" failure="PERL ERROR"]
	my $sku = $Tag->cgi('sku');
	my ($digits) = $sku =~ /^(\d+)/;
	my $sql = q|
		SELECT sku, ven_color,primary_color
		FROM products
		WHERE sku LIKE "| . $digits . q|_%"
			AND inactive != 1
	|;
	#my $sql = qq|
	#	SELECT fp.sku, fpv.value
	#	FROM framePropertyValues fpv
	#	INNER JOIN frameProperties fp
	#		ON fp.framePropertyValuesID = fpv.framePropertyValuesID
	#	INNER JOIN framePropertyTypes fpt
	#		ON fpt.framePropertyTypesID = fp.framePropertyTypesID
	#	WHERE fp.sku LIKE "| . substr($sku, 0, 4) . qq|_%" AND fpt.description = "Frame Color";
	#|;

	my $frame_results = $Tag->query({ sql=>$sql, table=>'products', hashref=>'1' });
	my $frame_color_options;
	my $prod_results = $Tag->query({
		sql => sprintf('select price, retail_price from products where sku = %1$s',$Tag->filter('dbi_quote', $CGI->{sku})),
		hashref => 'pretty please',
		table => 'products'
	});
	my $avail_color;
	foreach my $result (@$frame_results) {
		my $safe_color = $result->{primary_color};
		$safe_color = join '', (map {
			ucfirst(lc($_))
		} (split m!\b!, $safe_color));
		$safe_color =~ s!(/| )!_!g;
		$avail_color .= qq|<img src="/store/images/new_site/frame_color_$safe_color.png" alt="$result->{ven_color}" />|;
		my $act_url = $Tag->area($result->{sku});
		$frame_color_options .= qq|<option data="$act_url" value="$result->{'sku'}"| . ($sku eq $result->{'sku'} ? q| selected| : '') . qq|>$result->{'ven_color'}</option>|;
	}

	$sql = qq|
		SELECT fgpt.description, fgpv.value
		FROM frameGroupPropertyValues fgpv
		INNER JOIN frameGroupProperties fgp
			ON fgp.frameGroupPropertyValuesID = fgpv.frameGroupPropertyValuesID
		INNER JOIN frameGroupPropertyTypes fgpt
			ON fgpt.frameGroupPropertyTypesID  = fgp.frameGroupPropertyTypesID
		WHERE fgpt.description in ("Name", "Category", "Total Frame Width", "Temple Length", "Lens Width", "Lens Shape", "Bridge Width", "Lens Height")
			AND fgpt.frameGroupPropertyTypesID = fgpv.frameGroupPropertyTypesID
			AND fgp.partialSku = '| . $digits . q|'
	|;

	my $frame_group_results = $Tag->query({ sql=>$sql, table=>'frameGroupPropertyValues', hashref=>'1' });
	my $item_hash = { "Name" => '', "Category" => '', "Total Frame Width" => '', "Temple Length" => '', "Lens Width" => '', "Bridge Width" => '', "Lens Shape" => '', "Lens Height" => '' };

	foreach my $result (@$frame_group_results) {
		$item_hash->{$result->{'description'}} .= ($item_hash->{$result->{'description'}} ? ", " : "") . $result->{'value'};
	}

	my $lens_tint_options = [
		{ name => 'CLEAR',  display => 'Clear'  },
		{ name => 'BROWN',  display => 'Brown'  },
		{ name => 'GREY',   display => 'Grey'   },
		{ name => 'G15',    display => 'Green'  },
		{ name => 'BLUE',   display => 'Blue'   },
		{ name => 'ROSE',   display => 'Rose'   },
		{ name => 'ORANGE', display => 'Orange' },
		{ name => 'YELLOW', display => 'Yellow' },
	];

	my $lents_tint_display;
	foreach my $lens_tint (@$lens_tint_options) {
		$lens_tint_display .= qq|<option value="$lens_tint->{'name'}"| . ($Tag->cgi('lens_tint') eq $lens_tint->{'name'} ? ' selected' : '') . qq|>$lens_tint->{'display'}</option>|;
	}
	my $price = $Tag->currency({ body => $prod_results->[0]->{price}});
	my $retail_price = $Tag->currency({ body => $prod_results->[0]->{retail_price}});
	my $price_list;
	if($price && $retail_price){
#		$price_list = qq|
#		<div class="quickinfo_crb">
#			<span><s>Retail Price $retail_price</s></span>
#			Our Price $price
#		</div>|;
	}
	return qq|
	<form class="moreForm" action="$url" method="POST">
		<input type="hidden" name="mv_action" value="process" />
		<input type="hidden" name="mv_todo" value="return" />
		<a class="modalCloseImg" title="Close"></a>
		<div class="quickinfo_main">
			<div class="quickinfo_mainbox">
				<div class="quickinfo_cont">
					<div class="quickinfo_cleft">
						<div class="quickinfo_climg">
							<img id="itemImage" width="590" src="/store/images/tints/$sku\_| . ($Tag->cgi('lens_tint') ? $Tag->cgi('lens_tint') : 'CLEAR') . qq|.jpg" alt="$item_hash->{'Name'}" title="$item_hash->{'Name'}" />
						</div>
						<div class="available_colors">
							<span>Available Colors :</span>
							$avail_color
						</div>
					</div>
					<div class="quickinfo_cright">
						<h2>$item_hash->{'Name'}</h2>
						<table width="100%" border="0" cellspacing="0" cellpadding="5">
						  <tr>
						    <th>Size:</th>
						    <td>$item_hash->{'Lens Width'}-$item_hash->{'Bridge Width'}-$item_hash->{'Temple Length'} mm</td>
						  </tr>
						  <tr>
						    <th>Shape:</th>
						    <td>$item_hash->{'Lens Shape'}</td>
						  </tr>
						  <tr>
						    <th>Frame Color:</th>
						    <td>&nbsp;</td>
						  </tr>
						    <tr>
						    <td colspan="2">
						    	<select name="thiscolor" id="frame_color" class="select_styletemples">
						     		 $frame_color_options
						    	</select>
						    </td>
						  </tr>
						  <tr>
						    <th>Total Frame Width:</th>
						    <td>$item_hash->{'Total Frame Width'} mm</td>
						  </tr>
						  <tr>
						    <th>Lens Height:</th>
						    <td> $item_hash->{'Lens Height'} mm</td>
						  </tr>
						  <tr>
						    <th colspan="2">Lens Tint:
							    <select id="image_tint" name="lens_tint" class="select_clear">
							      $lens_tint_display
							    </select>
						    </th>
						  </tr>
						</table>
						<div class="quickinfo_crbot">
							$price_list
							<input type="submit" class="ordernow_btn" value="order now" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	|;
[/perl]


