[perl hide=1]
$Scratch->{page_title} = 'Glasses for Narrow Faces | Trendy, Prescription Frames Only $39';
$Scratch->{meta_description} = 'What frames should you wear with a narrow face? We recommend bold, thick-framed glasses that make a statement. All pairs only $39 & free returns. Order now!';
$Scratch->{meta_keywords} = 'eyeglasses,sunglasses,eyeglass lenses,eyeglass,glasses,eye glasses,sun glasses,prescription eyeglasses, prescription eye glasses';
[/perl]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
}

.outerwrapper{
width: 984px;
margin: auto;
}

h1 {
font-family: arial,helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
color: #ffa400;
margin-top: 50px;
}

span.textbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa40;
}


p.text {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
margin-top: 0px;
color: #787878;
}

img.samplefirst{
border-right: 0px dotted #cccccc;
border-left: 0px dotted #cccccc;
padding: 10px;
margin-left: 20px;
}

img.sample{
border-right: 0px dotted #cccccc;
padding: 10px;
}

p.imgtitle{
font-family: arial,helvetica,sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
color: #ff9900;
margin: 0px;
}
p.imgdesc1{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
color: #787878;
margin: 0px;
}

p.imgdesc2{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: center;
color: #787878;
margin: 5px 0px 0px 0px;
}

</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div class="outerwrapper">
<div class="innerwrapper">

<table style="float:left" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<img width="960" src="/img/narrow.jpg"></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.39dollarglasses.com/8263_BLACK.html"><img class="samplefirst" src="/img/narrowglasses1.jpg" alt=""></a><p class="imgtitle">Eddie Bauer 8263</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/8263_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/9100_COGNAC.html"><img  class="sample" src="/img/narrowglasses2.jpg" alt=""></a><p class="imgtitle">Retro Eyewear 100</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9100_COGNAC.html"><img src="/img/buy-now.png"></a></p></td>
			<td>
			<a href="http://www.39dollarglasses.com/6214_BROWN.html"><img  class="sample" src="/img/narrowglasses3.jpg" alt=""></a><p class="imgtitle">Elements 14</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/6214_BROWN.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/9104_BLACK.html"><img  class="sample" src="/img/narrowglasses4.jpg" alt=""></a><p class="imgtitle">Retro Eyewear 104</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9104_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
	</tr>
		<tr>
		<td colspan="4">
		<h1>Glasses for Narrow Faces</h1>
		<p class="text">It can be a challenge for people with narrow faces to find glasses. Because narrow face shapes are naturally thinner and longer, glasses wearers must be concerned about adding fullness while also decreasing length. With the right pair of glasses, a narrow face shape will appear more oval shaped.

At 39DollarGlasses we have a variety of glasses for narrow faces. A bolder, plastic frame helps to distract from the length of the face and draws attention to the eyes. You should choose a style that has more depth to it than width because this will help fill out a thin face. 

The best approach to flatter a narrow face is to find a pair of glasses that have a thicker top rim, preferably in a rectangle shape. The thicker top half of the frame will draw attention to the top portion of the face, which will help distract from the length. Try to avoid smaller glasses styles. A smaller pair of glasses will only make a face appear thinner. Shorter lenses will also make the face appear even more oblong. It’s best to find <a href="http://www.39dollarglasses.com/eyeglasses/plastic-rectangle.html">bolder glasses</a> that make a statement.   

Because narrow faces are thinner, you should pay close attention to measurements while ordering glasses. On our website, every pair of glasses comes with <a href="http://www.39dollarglasses.com/blog/2013/09/what-style-glasses-should-i-get/">specific measurements</a>. Frame width, temple length, lens size, and bridge size can all be viewed as inches or millimeters. An actual-size photo of the frame can also be printed out. By doing this, you’ll be able to see if the glasses you’re viewing will fit your narrow face. 
</p>
			</td>
	</tr>
</table>
</div>
</div>
[include templates/redesign/footer]