[if cgi sun]
	[tmpn sunglasses]1[/tmpn]
	[set pre_page_link]new-arrivals/sunglasses[/set]
[else]
	[set pre_page_link]new-arrivals/eyeglasses[/set]
[/else]
[/if]

[tmpn image_name]new_arrivals[/tmpn]
[tmpn image_text]NEW ARRIVALS[/tmpn]
[tmp n_arrival_cgi]1[/tmp]
[tmp coup_ok][coupon code="[cgi coupon_code]" msgscratch=coupon_msg no=0 yes=1][/tmp]
[if cgi coupon_code]
	[if scratch coup_ok]
		[seti is_coupon]1[/seti]
	[/if]
[/if]

[tmpn meta_keywords]'designer eyewear, eyewear frames'[/tmpn]
[tmpn category_header]<h1 align="center" style="color:#EF8F00">NEW ARRIVALS OF THE LATEST DESIGNER EYEWEAR</h1>[/tmpn]
[tmp category_footer]
<h2>Shop for the latest trends in designer eyewear</h2>
With new trends changing everyday, sometimes it’s hard to keep track of the latest styles. That’s why at 39DollarGlasses we like to post our latest discount designer eyewear arrivals so you can search for a new look with ease.
<p>While we carry only the chicest, most affordable eyewear, sometimes you may be searching for a specific look. By checking out our new arrivals page, you can view some of the most stylish prescription <a href="[area 10000]">eyeglasses</a> and <a href="[area rx_sunglasses]">sunglasses</a> designs at discounted prices. And by using our ExactFit Try On feature you may discover a new frame style that looks awesome on you!</p>
Although you may have a certain style that you feel the most comfortable in, we make finding a new look easy and enjoyable. We believe that glasses should not be treated merely as a medical device but rather as a sense of self-expression. With a wide variety of numerous styles, you’re sure to find a pair of glasses that make you feel poised and confident.

<h2>Find affordable discount eyewear at www.39DollarGlasses.com</h2>
With our new arrivals section you can find an updated version of your favorite look or get a whole new style inspired by some of the trendiest eyewear frames.
<p>Best of all, with a low price tag our cheap eyewear gives you the opportunity to try different fashionable styles without breaking the bank.</p>
Founded by two eye doctors, 39DollarGlasses is the one-stop-shop for the finest eyeglasses and sunglasses available. Our eyewear is affordable, high quality, and offers frame designs that cater to latest trends. On top of all this, the discount eyewear that you’ll find on 39DollarGlasses.com is 100% American made. Whether you love styles that are <a href="[area 3008_Gunmetal]">classic</a>, <a href="[area 9332_Black]">modern</a>, <a href="[area 1024614_Tortoise]?lens_tint=GREY">glamorous</a>, or anything in between, our style experts have you covered.
[/tmp]
[include include/category/category]

