[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp members_only]0[/tmp]
[tmp page_title]__COMPANY__ -- New Account[/tmp]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@

<!-- BEGIN CONTENT -->

<br>

[if session logged_in]
  [if scratch go-save-album]
    [bounce href="[area href='[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]']"]
  [else]
	 [bounce href="[area account]"]
  [/else]
  [/if]
[/if]
[if !scratch new]
				  
[if session failure]
  <P>
  <b>[data session failure]</b>
  [data base=session field=failure value=""]
  <P>
[/if]

[else]
[set new][/set]
[/else]
[/if]

<table border="0" cellspacing="0" cellpadding="0">

[set NewAccount]
[if type=explicit compare="[userdb new_account]"]
  [if scratch go-save-album]
    [cgi name=mv_nextpage set='../special_pages/tryon_process' hide=1]
  [else]
	 mv_nextpage=account
  [/else]
  [/if]
[else]
  mv_nextpage=new_account
[/else]
[/if]
[/set]

[comment]
<form action="[process secure=1]" method="post">
[/comment]


[if scratch go-save-album]
  In order to save your album, please create an account.
  <a href="[area href='[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]']">Go Back</a>
[/if]



<form action="[process secure=1]" method="post">
  [form-session-id]
  <input type="hidden" name="mv_click" value="NewAccount" />
  <input type="hidden" name="mv_doit"  value="return" />
  <input type="hidden" name="function"  value="new_account" />
  <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
  <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
  <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
  <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
  <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
  <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
  <input type="hidden" name="tryon_bouncepage" value="[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]" />
  <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />

  <input type="hidden" name="RightEyeMouseXPosition" value="[scratch tryon_RightEyeMouseXPosition]" /> 
  <input type="hidden" name="RightEyeMouseYPosition" value="[scratch tryon_RightEyeMouseYPosition]" /> 
  <input type="hidden" name="LeftEyeMouseXPosition" value="[scratch tryon_LeftEyeMouseXPosition]" />
  <input type="hidden" name="LeftEyeMouseYPosition" value="[scratch tryon_LeftEyeMouseYPosition]" />
  <input type="hidden" name="pdPixels" value="[scratch tryon_pdPixels]" /> 
  <input type="hidden" name="frameAngle" value="[scratch tryon_frameAngle]" /> 
  <input type="hidden" name="noseX" value="[scratch tryon_noseX]">
  <input type="hidden" name="noseY" value="[scratch tryon_noseY]">
  <input type="hidden" name="tryon_tint" value="[scratch tryon_tint]">
  
  
<tr> 
  <td> 
    <table border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td align="right" class="contentbar2">
        <b>Email address:</b>
      </td>
      <td class="contentbar2" align="left"> 
        <input type="text" name="mv_username" value="" />
      </td>
    </tr>
    <tr> 
      <td align="right" class="contentbar2"> 
        <b>Password:</b>
      </td>
      <td align="left" class="contentbar2"> 
        <input type="password" name="mv_password" value="" />
      </td>
    </tr>
    <tr> 
      <td align="right" class="contentbar2"> 
        <b>Verify Password:</b>
      </td>
      <td align="left" class="contentbar2"> 
        <input type="password" name="mv_verify" value="" />
      </td>
    </tr>
    <tr class="contentbar1"> 
      <td>&nbsp;</td>
      <td> 
        <input type="submit" value="Create Account" />
      </td>
    </tr>
	[if config CookieLogin]
    <tr class="contentbar1"> 
      <td align="right"> 
        <input type="checkbox" name="mv_cookie_password" value=1 />
      </td>
      <td>Log me in automatically (sets cookie)</td>
    </tr>
	[/if]
    <tr class="contentbar1"> 
      <td align="right" colspan="2">&nbsp;</td>
    </tr>
    </table>
    
  </td>
</tr>

</form>
</table>


<!-- END CONTENT -->

@_NOLEFT_BOTTOM_@

