[comment]
ui_page: news.html
ui_type: page
ui_name: news.html
ui_page_template: noleft
ui_source: pages/news.html
ui_template: Yes
ui_template_name: leftright
[/comment]

[tmp page_title][if cgi article][query list=1 sql="SELECT heading FROM brafton_news WHERE foreign_id = '[cgi article]'"][filter ucfirst_all][sql-param heading][/filter][/query][else][if cgi category][data table=brafton_categories column=name key="[cgi category]"] Articles[else]__COMPANY__ News Articles[/else][/if][/else][/if][/tmp]
[tmp meta_description][if cgi article][query list=1 sql="SELECT summary FROM brafton_news WHERE foreign_id = '[cgi article]'"][sql-param summary][/query][/if][/tmp]
[tmpn members_only][/tmpn]
[tmp no_meta_keywords]1[/tmp]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@

<!-- BEGIN CONTENT -->
<!-- ARTICLE: [cgi article] -->

[if cgi article]
	[query list=1 sql="SELECT * FROM brafton_news WHERE foreign_id = '[cgi article]'"]
		[no-match]
<h2>Invalid News Article Link</h2>
<p>Please check the link you used to visit this page and try again.</p>
		[/no-match]
		[list]
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="top" style="padding-right:24px">
<h2>[sql-param heading]</h2>
<h4>[convert-date format="%B %e, %Y"][sql-param pub_date][/convert-date]</h4>
<p><img src="[sql-param photo_large_url]" width="[sql-param photo_large_width]" height="[sql-param photo_large_height]" title="[sql-param photo_tag]" alt="[sql-param photo_tag]" style="float:right;margin:0 0 18px 18px" />[sql-param contents]</p>
		</td>
		<td valign="top">
			[perl failure='news listing' subs=1 tables='brafton_categories brafton_news brafton_news_cats']
				my $dbh = $Sql{brafton_categories}
					or Log('No DBI handle to database');

				my $sth1 = $dbh->prepare('SELECT DISTINCT b.id, b.name FROM brafton_news_cats a LEFT JOIN brafton_categories b ON a.cat_id = b.id LEFT JOIN brafton_news c ON a.news_id = c.id WHERE c.foreign_id = ?');
				my $sth2 = $dbh->prepare('SELECT DISTINCT b.id, b.foreign_id, b.heading, REPLACE(LOWER(b.heading), \' \', \'-\') AS link, DATE_FORMAT(DATE(b.pub_date), \'%M %D, %Y\') AS pub_date FROM brafton_news_cats a LEFT JOIN brafton_news b ON a.news_id = b.id WHERE a.cat_id = ? AND b.foreign_id != ? ORDER BY b.pub_date DESC');

				my %related;
				my %dupes;
				my @news;
				my $out;

				$sth1->execute($CGI->{article});
				while (my $arrref1 = $sth1->fetchrow_arrayref())
				{
					$sth2->execute($arrref1->[0], $CGI->{article});
					next unless $sth2->rows > 0;

					while (my $arrref2 = $sth2->fetchrow_arrayref())
					{
						next if $dupes{$arrref2->[0]};
						$dupes{$arrref2->[0]} = 1;
						push @news, [@{$arrref2}];
					}

					$related{$arrref1->[1]} = [@news] if scalar(@news) > 0;
					@news = ();
				}

				if (scalar(keys %related) > 0)
				{
					$out .= '<table width="240" cellpadding="0" cellspacing="0" border="0" style="border:1px solid #dde5f2">';
					$out .= '<tr><td style="padding:8px"><h2 style="font-size:16px;padding-bottom:8px">Related Stories</h2>';

					foreach my $cat (keys %related)
					{
						$out .= '<h3 style="font-size:12px">' . $cat . '</h3><ul style="list-style:none;padding:0;margin:4px 0 8px 0">';
						my $limit;
						foreach my $art (@{$related{$cat}})
						{
							next if $limit == 5;
							my $link = $Tag->filter({ op => 'seo_link', body => $art->[3] });
							$out .= '<li style="padding-bottom:3px"><a href="' . $Tag->area({ href => 'news/' . $link . '-' . $art->[1] }) . '">' . $art->[2] . '</a><br /><small>' . $art->[4] . '</small></li>';
							$limit ++;
						}
						$out .= '</ul>';
					}

					$out .= '</td></tr></table>';
				}
				return $out;
			[/perl]
		</td>
	</tr>
</table>
<br /><br />
<a href="[area news]">More News Articles</a>
<br /><br />
<a href="/news.rss"><img src="rss.jpg" width="16" height="16" alt="39dollarglasses.com RSS News Feed" /></a>
		[/list]
	[/query]
[else]

<h2>__COMPANY__ News Articles</h2>
[if cgi category]<strong>[data table=brafton_categories column=name key="[cgi category]"]</strong><br /><br />[/if]
<br />

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="top" style="padding:0 24px 0 0">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
	[tmp query]SELECT DISTINCT a.foreign_id AS id, a.heading, REPLACE(LOWER(a.heading), ' ', '-') AS link, DATE_FORMAT(DATE(a.pub_date), '%M %D, %Y') AS art_date, a.summary, a.photo_small_url, a.photo_small_width, a.photo_small_height, a.photo_tag FROM brafton_news a LEFT OUTER JOIN brafton_news_cats b ON a.id = b.news_id [if cgi category]WHERE b.cat_id = '[cgi category]' [/if]ORDER BY a.pub_date DESC, a.foreign_id DESC[/tmp]
	[query list=1 sql="[scratch query]" more=1 ml=10]
	[more-list]
				<tr><td colspan="2" style="text-align:center;padding:0">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>Showing articles: [matches] of [match-count]</td>
							<td>[more]</td>
						</tr>
					</table>
				</td></tr>
				<tr><td colspan="2" style="padding:12px 0 12px 0"><p style="background:#ccc"><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="1" alt="" /></p></td></tr>
	[/more-list]
	[list]
				<tr>
					<td valign="top" style="padding:4px 24px 0 0"><a href="[area href="news/[filter seo_link][sql-param link][/filter]-[sql-param id]"]"><img src="[sql-param photo_small_url]" width="[sql-param photo_small_width]" height="[sql-param photo_small_height]" alt="[sql-param photo_tag]" style="float:right" /></a></td>
					<td valign="top" style="padding-right:36px">
						[sql-increment]) <a href="[area href="news/[filter seo_link][sql-param link][/filter]-[sql-param id]"]">[sql-param heading]</a>
						<br />
						<small>[sql-param art_date]</small>
						<p>[sql-param summary] <a href="[area href="news/[filter seo_link][sql-param link][/filter]-[sql-param id]"]" style="font-size:9px">Read More >></a></p>
					</td>
				</tr>
				<tr><td colspan="2" style="padding:12px 0 12px 0"><p style="background:#ccc"><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="1" alt="" /></p></td></tr>
	[/list]
	[more-list]
				<tr><td colspan="2" style="text-align:center">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>Showing articles: [matches] of [match-count]</td>
							<td>[more]</td>
						</tr>
					</table>
				</td></tr>
	[/more-list]
	[/query]
			</table>
			<br /><br />
			<a href="/news.rss"><img src="rss.jpg" width="16" height="16" alt="39dollarglasses.com RSS News Feed" /></a>
		</td>
		<td valign="top" style="width:260px;line-height:19px">
			<div style="border:1px solid #999;padding:20px">
				<strong>Categories</strong>
				<br /><br />
	[query list=1 sql="SELECT a.name, a.id, COUNT(b.id) AS count FROM brafton_categories a LEFT OUTER JOIN brafton_news_cats b ON a.id = b.cat_id GROUP BY a.name ORDER BY a.name"]
				<a href="[area href="news/[filter seo_link][sql-param name][/filter]-category-[sql-param id]"]">[sql-param name]</a> ([sql-param count])
				<br />
	[/query]
				<br />
				<a href="[area news]">All News</a>
			</div>
		</td>
	</tr>
</table>

[/else][/if]

<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
