[comment]
ui_page: pr.html
ui_type: page
ui_name: pr.html
ui_page_template: noleft
ui_source: pages/pr.html
ui_template: Yes
ui_template_name: leftright
[/comment]
[tmp page_title]__COMPANY__ PowerReviews[/tmp]
[tmpn members_only][/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

<!-- BEGIN CONTENT -->

[if variable POWER_REVIEWS_ENABLE]
        __POWER_REVIEWS_JS__
[/if]

<div id="prlist">
[perl tables="products pricing options options_price"]
	my $out;

	my $dbh = $Sql{products}
		or Log('No DBI handle to database');

	my $sth = $dbh->prepare("SELECT sku, description, suntint, retail_price FROM products WHERE prod_group = 'Eyeglasses and Sunglasses' AND (inactive IS NULL || inactive = '' || inactive = '0') ORDER BY sku LIMIT 40");
	$sth->execute();
	while (my $arrref = $sth->fetchrow_arrayref())
	{
		$out .= '<div class="item"><div class="sku">' . $arrref->[0] . '</div><div class="pr_snippet_category"><script type="text/javascript">var pr_snippet_min_reviews=0;POWERREVIEWS.display.snippet(document, { pr_page_id : "' . $arrref->[0] . '" });</script></div></div>' . "\n";
	}

	return $out;
[/perl]
</div>

<!-- END CONTENT -->
