[comment]
ui_page: 10000.html
ui_type: page
ui_name: 10000.html
ui_page_template: noleft
ui_source: pages/10000.html
ui_template: Yes
ui_template_name: leftright
[/comment]

[tmp meta_keywords]Prescription Safety Glasses,Safety Reading Glasses,Safety Glasses,Eyeglasses,Eyeglasses Online[/tmp]
[tmp meta_description]Shop Prescription Safety Glasses with the highest ANSI Z87.1 standard for Safety Eye Glasses 39 Dollar Glasses.[/tmp]
[tmp meta_header]
<style type="text/css">
#notification{
	margin: 20px auto;
	width: 500px;
	height: 100px;
	padding: 10px;
	border: 1px solid black;
	background: RGB(255,255,196);
}
#notification p.second{ text-align: center }
</style>
[/tmp]
[tmp page_title]Prescription Safety Glasses, Safety Reading Glasses | 39DollarGlasses.com[/tmp]
[tmpn members_only][/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@
<!-- BEGIN CONTENT -->

<br>
<table width="90%" cellpadding="0" cellspacing="0" border="0">
<tr> 
  <td><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="300" alt=""></td>
  <td align="left" valign="top">
		<!-- Page header -->
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td align="left" valign="top">
				<h3>Industrial Grade<br />Prescription Safety Glasses</h3>
				</td>
				<td align="left" valign="top">
				<img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt="">
				</td>
				<td align="left" valign="top">
				__GLASSES_LINKS__
				</td>
			</tr>
			<tr>
				<td align="left" valign="top">
				<img src="__THEME_IMG_DIR__spacer.gif" width="250" height="1" alt="">
				</td>
				<td align="left" valign="top">
				<img src="__THEME_IMG_DIR__spacer.gif" width="20" height="1" alt="">
				</td>
				<td width="100%" align="left" valign="top">
				<img src="__THEME_IMG_DIR__spacer.gif" width="1" height="1" alt="">
				</td>
			</tr>
		</table>

	<!-- begin Content -->
	
	<div id="notification">
		<p>Unfortunately we have discontinued selling industrial grade prescription safety glasses, or any eyeware with protective side shields at this time.</p>
		<p class="second"><a href="[area 10000]">Click here to continue shopping</a>.</p>
	</div>
	

	<table cellspacing="0" cellpadding="0">
		<tr>
			<td valign="top">
			<img src="home/checkmark_01.gif" height="12" vspace="5" width="20" align="absmiddle">
			</td>
			<td valign="top">
			Strongly recommended for anyone who works in an industrial environment
			or uses equipment at work or home that can emit debris.
			</td>
		</tr>
		<tr>
			<td valign="top">
			<img src="home/checkmark_01.gif" height="12" vspace="5" width="20" align="absmiddle">
			</td>
			<td valign="top">
			All frames and prescription lenses conform to the highest <b><a href="[area ANSI-Z87]">ANSI
			Z87.1</a></b> industrial safety standards.
			</td>
		</tr>
		<tr>
			<td valign="top">
			<img src="home/checkmark_01.gif" height="12" vspace="5" width="20" align="absmiddle">
			</td>
			<td valign="top">
			Every order includes removable clip-on side shields for maximum eye
			protection, as well as a certificate of authenticity describing the
			<b><a href="[area ANSI-Z87]">ANSI Z87.1</a></b> standards.
			</td>
		</tr>
	</table>

</td>
</tr>
</table>


<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
