[comment]
ui_page: privacy_policy.html
ui_type: page
ui_name: privacy_policy.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/privacy_policy.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- [L]Privacy Policy[/L][/tmp]
[tmpn members_only][/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@
<!-- BEGIN CONTENT -->
<table width="90%" cellpadding="0" cellspacing="0" border="0">
<tr> 
  <td><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="300" alt=""></td>
  <td align="left" valign="top">
    
    <!-- Page header -->

    <h3>    
	[L]Privacy Policy[/L]
  	</h3>

	<!-- begin Content -->
	[include include/privacy_policy]

	<!-- end Content -->


</td>
</tr>
</table>



<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
