[tmpn image_name]reading[/tmpn]
[tmpn image_text]prescription reading glasses[/tmpn]
[set pre_page_link]eyeglasses[/set]
[tmpn post_page_link]reading_glasses[/tmpn]
[tmpn meta_keywords]reading glasses, prescription reading glasses, discount reading glasses, cheap reading glasses[/tmpn]
[tmpn meta_description]Shop stylish prescription reading glasses from just $39! 100% guarantee. Get glasses for cheap with next day S&H. Made in the USA by eye doctors.[/tmpn]
[tmpn page_title]Reading Glasses | Discount Rx Reading Glasses Online -Save 70% - 39DollarGlasses.com[/tmpn]
[tmp category_header]<h1 align="center" style="color:#EF8F00">A STYLISH SELECTION OF READING GLASSES FOR MEN AND WOMEN</h1>[/tmp]
[tmpn category_footer]
<h2>Get prescription reading glasses at affordable prices</h2>

See better and feel better with a pair of reading glasses from 39DollarGlasses.com. With prices so low, not 
only will your eyes feel better but your wallet will too! If you find yourself straining to read or struggle to see 
something further away, it may be time for new prescription reading glasses. 
<br />
Our high-quality prescription glasses are great for your budget, starting at just $39 per pair! If you are in need 
of great discount reading glasses look no further. Unlike full-time wear glasses, reading glasses can be used 
whenever you need to see a little more clearly.

<h2>Save money with quality cheap reading glasses</h2>
Our <a href="[area mens-reading_glasses]">men&#39;s reading glasses</a> come in a variety of styles, from plastic to metal, semi-rimless to rimless, and even 
bendable titanium. With 39DollarGlasses, its easy to get a brand new pair of reading glasses while also giving 
yourself a brand new look.
<br />
We also have an array of <a href="[area womens-reading_glasses]">women&#39;s reading glasses</a>. Plastic, metal, even semi-rimless styles are available to 
help you see even more clearly. Our glasses are made with quality materials that are built to last and made 
with your comfort in mind.
<br />
Life is better when you can see clearly. Treat yourself and your eyes to clear vision and a fresh new look by 
trying a pair of reading glasses from 39DollarGlasses.com.
[/tmpn]
[include include/category/category]
