[comment]
ui_page: referral_commissions.html
ui_type: page
ui_name: referral_commissions.html
ui_page_template: noleft
ui_source: pages/referral_commissions.html
ui_template: Yes
ui_template_name: leftright
[/comment]

[tmp page_title]Referral Commissions[/tmp]
[tmpn members_only]1[/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@
<!-- BEGIN CONTENT -->

[query list=1 sql="SELECT code, ref_commission FROM coupon_codes WHERE ref_acct_email = '[value email]' LIMIT 1"][tmp refcode][sql-param code][/tmp][tmp refcomm][sql-param ref_commission][/tmp][/query]

[if scratch refcode]

	[query list=1 sql="SELECT SUM(subtotal) AS st FROM transactions WHERE coupon_code = '[scratch refcode]' AND order_ymd LIKE '[tag time]%Y[/tag]%'"]
		[tmp ytd_total][sql-param st][/tmp]
	[/query]

	<h2>Orders Placed Using Coupon Code: [scratch refcode][if scratch refcomm > 0] ([scratch refcomm]% Commission)</h2>

	[if cgi submit]
		[tmp sql]SELECT order_number, order_date, fname, lname, nitems, subtotal FROM transactions WHERE coupon_code = '[scratch refcode]' AND order_ymd > '[value start_year][value start_month]00' AND order_ymd < '[value end_year][value end_month]32' ORDER BY order_ymd, order_number[/tmp]
		Displaying Transactions from [value start_month]/[value start_year] to [value end_month]/[value end_year]
	[else]
		[tmp sql]SELECT order_number, order_date, fname, lname, nitems, subtotal FROM transactions WHERE coupon_code = '[scratch refcode]' AND order_ymd LIKE '[tag time]%Y%m[/tag]%' ORDER BY order_ymd, order_number[/tmp]
		Displaying Transactions for Current Month
	[/else][/if]

	<br /><br />
	<br />
	<form action="[process]" method="POST">
		<input type="hidden" name="mv_todo" value="return" />
		<input type="hidden" name="mv_nextpage" value="referral_commissions" />
		<input type="hidden" name="submit" value="1" />
		<table cellpadding="4" cellspacing="4" border="0">
			<tr>
				<td>Beginning Month/Year:</td>
				<td>
					<select name="start_month">
	[loop option=start_month lr=1 list=|
01	January
02	February
03	March
04	April
05	May
06	June
07	July
08	August
09	September
10	October
11	November
12	December|]<option value="[loop-code]">[loop-pos 1]</option>[/loop]
					</select>
					<select name="start_year">
	[if !value start_year][value name="start_year" set="[tag time]%Y[/tag]" hide=1][/if]
	[loop option=start_year list=`
		my $year = $Tag->time( '', { format => '%Y' }, '%Y' );
		my $out = '';
		for ($year - 4 .. $year)
		{
			$out .= "$_\n";
		}
		return $out;
	`]<option value="[loop-code]">[loop-code]</option>[/loop]
					</select>
				</td>
			</tr>
			<tr>
				<td>Ending Month/Year:</td>
				<td>
					<select name="end_month">
	[if !value end_month][value name="end_month" set="[tag time]%m[/tag]" hide=1][/if]
	[loop option=end_month lr=1 list=|
01	January
02	February
03	March
04	April
05	May
06	June
07	July
08	August
09	September
10	October
11	November
12	December|]<option value="[loop-code]">[loop-pos 1]</option>[/loop]
					</select>
					<select name="end_year">
	[if !value end_year][value name="end_year" set="[tag time]%Y[/tag]" hide=1][/if]
	[loop option=end_year list=`
		my $year = $Tag->time( '', { format => '%Y' }, '%Y' );
		my $out = '';
		for ($year - 4 .. $year)
		{
			$out .= "$_\n";
		}
		return $out;
	`]<option value="[loop-code]">[loop-code]</option>[/loop]
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding-top:10px"><input type="submit" value="Display Orders Within Selected Date Range" /></td>
			</tr>
		</table>
	</form>
	<br /><br />

	[query list=1 sql="[scratch sql]"]
		[no-match]
		<p><em>No orders found. Please check back later.</em></p>
		[/no-match]
		[on-match]
		<table cellpadding="4" cellspacing="4" border="0" width="600">
			<tr>
				<td><b>Order Number</b></td>
				<td><b>Order Date</b></td>
				<td><b>Items</b></td>
				<td><b>Subtotal</b></td>
			</tr>
		[/on-match]
		[list]
			<tr bgcolor="[sql-alternate 2]#ffffff[else]#dddddd[/else][/sql-alternate]">
				<td>[sql-param order_number]</td>
				<td>[sql-param order_date]</td>
				<td align="right" style="text-align:right">[sql-param nitems]</td>
				<td align="right" style="text-align:right">[summary name=rc_total amount="[sql-param subtotal]" currency=1]</td>
			</tr>
		[/list]
		[on-match]
			[tmp current_total][summary name=rc_total total=1][/tmp]
			[if scratch refcomm > 0]
				[tmp current_comm][calc]$Scratch->{current_total} * ($Scratch->{refcomm} * .01)[/calc][/tmp]
				[tmp ytd_comm][calc]$Scratch->{ytd_total} * ($Scratch->{refcomm} * .01)[/calc][/tmp]
			[/if]
			<tr>
				<td colspan="5" align="right" style="padding-top:20px;text-align:right">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td align="right" style="text-align:right;padding-bottom:8px"><b>Total for Displayed Transactions:</b></td><td align="right" style="text-align:right;padding-bottom:8px"><b>[currency][scratch current_total][/currency]</b></td>
						</tr><tr>
							<td align="right" style="text-align:right;padding-bottom:18px"><b>Commission Earned for Displayed Transactions:</b></td><td align="right" style="text-align:right;padding-bottom:18px"><b>[currency][scratch current_comm][/currency]</b></td>
						</tr><tr>
							<td align="right" style="text-align:right;padding-bottom:8px"><b>Current Year-To-Date Total:</b></td><td align="right" style="text-align:right;padding-bottom:8px"><b>[currency][scratch ytd_total][/currency]</b></td>
						</tr><tr>
							<td align="right" style="text-align:right"><b>Commission Earned Year-To-Date:</b></td><td align="right" style="text-align:right"><b>[currency][scratch ytd_comm][/currency]</b></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		[/on-match]
	[/query]

[else]

	<h1 style="color:red">Access Denied</h1>
	<br />
	Your account is not associated with the referral program. Please contact us if you believe this to be incorrect.

[/else][/if]

<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
