[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- [L]Customer Service[/L][/tmp]
[tmp meta_header]<link rel="stylesheet" href="/css/my_account.css" type="text/css" />[/tmp]

[include templates/redesign/header]
[tmpn current_page]rewards[/tmpn]

<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">EyeBucks Rewards</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div class="contentBody">
			<form method="post" action="[process-target]" name="contact">
				<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
				<INPUT TYPE=hidden NAME=mv_check VALUE=check_form>
				[if session failure]
					<br><br>
					<B>[calc] delete $Session->{failure}[/calc]</b>
					<br>
				[/if]
				[set mv_no_cache]1[/set]
				[set New Account]
					mv_nextpage=new_account
					[set new]1[/set]
				[/set]

				[if !session logged_in]
					[bounce page=login]
				[/if]
	
				<blockquote>
					[if value sendfeedback]
					[then]
						[seti fbsent]
							[query sql="UPDATE userdb SET reward_pref='[value points_pref]' WHERE username='[data session username]'"][/query]
						[/seti]

						[if scratch fbsent]
							<strong>Your settings have been updated!</strong><br><br>
						[else]
							Sorry, there were problems with your submission. Please email <a href="mailto:__EMAIL_INFO__">__EMAIL_INFO__</a> instead.
						[/else]
						[/if]

						[set fbsent][/set]
						[value name="sendfeedback" set=""]
						[value name="comments" set=""]
					[/then]
					[/if]
					<p style="margin-right: 10px;">
						For every order you place with 39DollarGlasses.com you earn 4% of the total cost as EyeBucks Rewards points which can be redeemed on future purchases.
					</p>
					<br />
					<table cellspacing=0 width=500>
						<tr>
							<td class="bluebox_bottom" align=center>
								<table width="90%">
									<tr>
										<td>
											[query sql="SELECT reward_points,reward_pref FROM userdb WHERE username='[data session username]'"
												list=1
												prefix=points
												list-prefix=points
											]
												[points]
													[tmp pref][points-param reward_pref][/tmp]
													[tmp my_points][points-param reward_points][/tmp]
													<p>
														<span style="font-weight: bold;">Current credit</span>: <b>[currency][points-param reward_points][/currency]</b>
													</p>
												[/points]
											[/query]
											
											<p>
												<input type="radio" name="points_pref" id="pp1" value="1" [if scratch pref]checked[/if]> <label for="pp1">Automatically deduct this from my next purchase</label><br>
												<input type="radio" name="points_pref" id="pp2" value="0" [if !scratch pref]checked[/if]> <label for="pp2">Don't automatically deduct; I want to save for later</label>
												<br><br>
												<input type=submit value="[L]Save Changes[/L]">
												<br><br>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</blockquote>
			</form>
		</div>
		<div>
			<img src="/img/myAccount/contentBottom.jpg" />
		</div>
		[set check_form]
				mv_nextpage=@@MV_PAGE@@
				sendfeedback=yes
		[/set]
		[set fbsent][/set]
	</div>
	<br clear="all" />
</div>
[include templates/redesign/footer]
