[tmpn meta_keywords]'prescription sunglasses, cheap prescription sunglasses, rx sunglasses'[/tmpn]
[tmpn page_title]Buy Prescription Sunglasses Online - Cheap Prices | Next Day S&H![/tmpn]
[tmpn meta_description]Buy stylish sunglasses w/ your prescription from just $39. Today's hottest styles on sale. 100% satisfaction guaranteed, free returns. Save up to 70%![/tmpn]
[include templates/redesign/header]
<h1 align="center" style="color:#EF8F00">QUALITY PRESCRIPTION SUNGLASSES AT AFFORDABLE PRICES</h1>
<div class="category_bg">
    <ul>
        <li><a href="[area 11000.html]" class="linkD">Metal&nbsp;Eyeglasses</a></li>
        <li><a href="[area semi_rimless-eyeglasses.html]" class="linkD">Semi-Rimless&nbsp;Eyeglasses</a></li>
        <li><a href="[area kids-eyeglasses.html]" class="linkD">Kids&nbsp;Eyeglasses</a></li>
        <li><a href="[area new-arrivals/sunglasses.html]" class="linkD">New Arrivals Sunglasses</a></li>
        <li><a href="[area 12000.html]" class="linkD">Plastic&nbsp;Eyeglasses</a></li>
        <li><a href="[area bifocals.html]" class="linkD">Bifocals</a></li>
        <li><a href="[area rx_sunglasses.html]" class="linkD">Prescription&nbsp;Sunglasses</a></li>
        <li><a href="[area 15000.html]" class="linkD">Bendable&nbsp;Titanium&nbsp;Eyeglasses</a></li>
        <li><a href="[area 14000.html]" class="linkD">Rimless&nbsp;Eyeglasses</a></li>
        <li><a href="[area progressives.html]" class="linkD">Progressives&nbsp;&amp;&nbsp;Varilux®</a></li>
        <li><a href="[area new-arrivals/eyeglasses.htm]" class="linkD">New Arrivals Eyeglasses</a></li>
        <li><a href="[area product_info/use_your_own_frame.html]" class="linkD">Eyeglass&nbsp;Lens&nbsp;Replacement</a></li>
    </ul>
</div>
<div class="product_cont3">
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area metal-sunglasses]';">
            <a class="try_on" href="[area metal-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/3016_Gold_GREY.jpg" border="0" alt="Metal Sunglasses"></div>
            <div class="right_info"><span>Metal<br />
            Sunglasses</span><br />
            <a href="[area metal-sunglasses]">View All Metal<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area plastic-sunglasses]';">
            <a class="try_on" href="[area plastic-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/3360_Black_GREY.jpg" border="0" alt="Plastic Sunglasses"></div>
            <div class="right_info"><span>Plastic<br />
            Sunglasses</span><br />
            <a href="[area plastic-sunglasses]">View All Plastic<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area rimless-sunglasses]';">
            <a class="try_on" href="[area rimless-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/5106_GMBlue_GREY.jpg" border="0" alt="Rimless Sunglasses"></div>
            <div class="right_info"><span>Rimless<br />
            Sunglasses</span><br />
            <a href="[area rimless-sunglasses]">View All Rimless<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area semi-rimless-sunglasses]';">
            <a class="try_on" href="[area semi-rimless-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/6559_Black_GREY.jpg" border="0" alt="Semi-Rimless Sunglasses"></div>
            <div class="right_info"><span>Semi-Rimless<br />
            Sunglasses</span><br />
            <a href="[area semi-rimless-sunglasses]">View All Semi-Rimless<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area bendable-titanium-sunglasses]';">
            <a class="try_on" href="[area bendable-titanium-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/5024_Gunmetal_GREY.jpg" border="0" alt="Bendable Titanium Sunglasses"></div>
            <div class="right_info"><span>Bendable Titanium<br />
            Sunglasses</span><br />
            <a href="[area bendable-titanium-sunglasses]">View All Bendable Titanium<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area kids-sunglasses]';">
            <a class="try_on" href="[area kids-sunglasses]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/4070_Navy_GREY.jpg" border="0" alt="Kids Sunglasses"></div>
            <div class="right_info"><span>Kids<br />
            Sunglasses</span><br />
            <a href="[area kids-sunglasses]">View All Metal<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area progressives-sun]';">
            <a class="try_on" href="[area progressives-sun]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/3008_Gunmetal_GREY.jpg" border="0" alt="Progressives &amp; Varilux™"></div>
            <div class="right_info"><span>Progressives & Varilux™</span>
            <a href="[area progressives-sun]">Progressives & Varilux™<br />
            Sunglass Frames</a></div>
        </div>
        <div href="#" class="product_box2" style="cursor:pointer;" onclick="window.location = '[area bifocals-sun]';">
            <a class="try_on" href="[area bifocals-sun]"><img alt="" src="/img/tryon_img.png"></a>
            <div class="left_info"><img src="/store/images/tints/200x200/3015_Gunmetal_GREY.jpg" border="0" alt="Bifocal Sunglasses"></div>
            <div class="right_info"><span>Bifocal<br />
            Sunglasses</span><br />
            <a href="[area bifocals-sun]">View All Bifocal<br />
            Sunglass Frames</a></div>
        </div>
</div>
<h2>Get Cheap Prescription Sunglasses Online at 39DollarGlasses.com</h2>
Whether you’re basking in the sun at the beach or strolling down the street on a warm day, eye protection is important. That’s why we offer stylish prescription sunglasses at the lowest prices around.
<p>The lenses on every pair of our sunglasses can be tinted with a range of eye-catching hues, from <a href="[area sunglasses/grey]">classic gray</a> to <a href="[area sunglasses/blue_violet]">bold blue</a>. With so many looks to choose from and so many customizable colors, you’ll find a pair of rx sunglasses that is catered specifically for your individual style.</p>

<h2>Choose from Dozens of Different rx Sunglasses Designs</h2>
Our quality sunglasses are available with or without a prescription and come in a variety of plastic, metal, rimless, semi-rimless, and bendable titanium styles. Every pair of our prescription sunglasses has lenses that protect your eyes from sun damage. Each lens is carefully treated with a strong UV protective coating that keeps your eyes safe from harm. Best of all, our high quality sunglasses start at just $39.00.
<p>Shopping for prescription sunglasses online is easy and stress free with our simple process. Just browse through our huge selection, order your favorite pair of cheap prescription sunglasses, and wait for them to arrive at your door within days. If you’re ever in need of assistance, help is just a phone call away. You can reach our knowledgeable <a href="[area contact_us]">customer service team</a> at 1-800-672-6304. Our friendly staff is happy to assist you with whatever questions or concerns you may have.</p>
[include templates/redesign/footer]

