[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Welcome[/tmp]
[tmp meta_header]<link rel="stylesheet" href="/css/my_account.css" type="text/css" />[/tmp]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

[set members_only]1[/set]
[set page_banner][L]Saved Carts[/L][/set]
[set page_title]__COMPANY__ -- Saved Carts[/set]

@_TOP_@

[tmpn current_page]saved_carts[/tmpn]
<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Saved Carts</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div class="contentBody">
			[if session logged_in]
			[then]
				[if cgi delete_cart] [delete_cart nickname="[cgi delete_cart]"] [/if]
				
				[if cgi retrieve_cart] [load_cart nickname="[cgi retrieve_cart]"] [/if]
				
				[userdb function=get_cart_names hide=1]
				[if value carts]
					[calc]
						$Scratch->{saved_carts_carts} = '';
						$Scratch->{saved_carts_recurring} = '';
						push(@Vend::TmpScratch,qw/saved_carts_carts saved_carts_recurring/);
					
						foreach my $var (split("\n",$Tag->value('carts'))) {
							my($name,$last_update,$type) = split(':',$var);
							
							my $delink = $Tag->page({
								href => "@@MV_PAGE@@",
								form => "
									delete_cart=$var
									mv_action=return
								",
							});
					
							my $golink = $Tag->page({
								href => "ord/basket",
								form => "
									retrieve_cart=$var
									mv_action=return
								",
							});
							
							#my $last_update = localtime($last_update);
							($Second, $Minute, $Hour, $Day, $Month, $Year, $WeekDay, $DayOfYear, $IsDST) = localtime($last_update);
							$Year = $Year + 1900;
							$Month = $Month +1;
							
							my $last_update = "$Day-$Month-$Year $Hour:$Minute EST";
					
							my $row = qq|
								<br clear="all" />
								<div style="margin: 0px 0px 0px 10px;">
									<div style="float: left; width: 5%; margin: 0px 0px 0px 10px; text-align: center;">$delink<img src="[image dir_only=1 ui=1]delsm.gif" border=0></a></div>
									<div style="float: left; width: 45%; text-align: center;">$golink$name</div>
									<div style="float: left; width: 45%; text-align: center;">$last_update</div>
								</div>
							|;
					
							if($type eq 'c') {
								$Scratch->{saved_carts_carts} .= $row;
							} elsif($type eq 'r') {
								$Scratch->{saved_carts_recurring} .= $row;
							}
						}
					
						return '';
					[/calc]
				[/if]
				
				[loop list="saved_carts_carts"]
					[if explicit]
						[condition]'[loop-code]' eq 'saved_carts_carts'[/condition]
						[tmp this_label]Saved Carts[/tmp]
					[/if]
					[if scratch [loop-code]]
						<div style="line-height: 250%;">
							<div style="margin: 0px 0px 0px 10px;">
								<div style="float: left; width: 5%; margin: 0px 0px 0px 10px;">&nbsp;</div>
								<div style="float: left; width: 45%; text-align: center; text-decoration: underline;">Name</div>
								<div style="float: left; width: 45%; text-align: center; text-decoration: underline;">Modified</div>
							</div>
							[scratch [loop-code]]
						</div>
					[else]
						<b>You have no [scratch this_label] entered.</b><BR><BR>
					[/else]
					[/if]
				[/loop]
				
				[calc]
				  $Scratch->{saved_carts_carts} = '';
				[/calc]
			[/then]
			[else]
				<table width="95%">
				<tr>
				<td>
			
				[if session failure]
					<br><br>
					<B>[calc] delete $Session->{failure}[/calc]</b>
					<br>
				[/if]
			
				[set mv_no_cache]1[/set]
				[set New Account]
					mv_nextpage=new_account
					[set new]1[/set]
				[/set]
			
				[if !session logged_in]
					<FORM ACTION="[process secure=1]" METHOD=POST>
						<INPUT TYPE=hidden NAME=mv_todo  VALUE=return>
						<INPUT TYPE=hidden NAME=mv_click VALUE=Login>
						<INPUT TYPE=hidden NAME=mv_failpage VALUE="login">
						<INPUT TYPE=hidden NAME=mv_successpage VALUE="[either][scratchd mv_successpage][or]customerservice[/either]">
						<INPUT TYPE=hidden NAME=mv_nextpage VALUE="index">
						<input type=hidden name=mv_session_id value="[data session id]">
					
						<br>
						<br>
					
						<table border="0" align="center">
							<tr>
								<td class="contentbar1" align="center"> 
									<table align="center">
										<tr> 
											<td align=right class="contentbar2">
												Username
											</td>
											<td class="contentbar2">
												<INPUT NAME=mv_username VALUE="[read-cookie MV_USERNAME]">
											</td>
										</tr>
										<tr>
											<td align=right class="contentbar2">
												Password
											</td>
											<td class="contentbar2">
												<INPUT TYPE=password NAME=mv_password VALUE="">
											</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td class="contentbar1">
												<input type=submit value="Log In">
												<input type="submit" NAME="mv_click" value="New Account">
											</td>
										</tr>
										[if config CookieLogin]
											<tr>
												<td align=right class="contentbar1"> 
													<INPUT TYPE=hidden NAME=mv_cookie_password VALUE=0>
													<INPUT TYPE=checkbox NAME=mv_cookie_password VALUE=1>
												</td>
												<td class="contentbar1">
													Log me in automatically (sets cookie)
												</td>
											</tr>
										[/if]
									</table>
								</td>
							</tr>
						</table>
					</form>
				[else]
					<FORM ACTION="[process]" METHOD=POST>
						<input type=hidden name=mv_session_id value="[data session id]">
						<INPUT TYPE=hidden NAME=mv_todo  VALUE=return>
						<INPUT TYPE=hidden NAME=mv_click VALUE=Logout_choice>
						<INPUT TYPE=hidden NAME=mv_nextpage VALUE="login">
						<table align="center">
							<tr>
								<td class="contentbar1" align="center"> 
									<table>
										<tr class=contentbar2> 
											<td colspan=2 class=contentbar2>
												<b>You are already logged in.</b>
											</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td class="contentbar1">
												<br>&nbsp;<br>
												<INPUT TYPE=submit VALUE="Log out"> <INPUT TYPE=checkbox NAME=clear_values CHECKED VALUE=1>&nbsp;Clear&nbsp;name/address[if items]&nbsp;&nbsp;<INPUT TYPE=checkbox NAME=clear_cart CHECKED VALUE=1>&nbsp;Clear&nbsp;cart[/if]<BR>
												<br>&nbsp;<br>
											</td>
										</tr>
										<tr class=contentbar2> 
											<td colspan=2>
												Or you can create a <A HREF="[area new_account]">new account</a>.
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</form>
				[/else]
				[/if]
							<center>
								[page lost_password]Lost your password?</a>
							</center>
						</td>
					</tr>
				</table>
			[/else]
			[/if]
		
		</div>
		<br clear="all" />
		<div>
			<img src="/img/myAccount/contentBottom.jpg" />
		</div>
	</div>
	<br clear="all" />
</div>



<!-- END CONTENT -->

@_BOTTOM_@
