[perl tables="products"]
my $db = $Db{'products'};
my $res = $db->query({
	sql => 'SELECT sku from products where inactive <> 1 and sku = '.$Tag->filter('dbi_quote',$CGI->{search}),
	hashref => 1,
});
$Tag->tmpn('bounceSku', $res->[0]->{sku}) if $res->[0]->{sku} !~ /^(LENS_|DUMMY)/;
[/perl]
[bounce href="[cgi search]" if="[scratch bounceSku]"]
[if !cgi search][bounce href="10000"][/if]
[calcn hide=1] 
	return unless $CGI->{search};
	$Scratch->{rpp} = $CGI->{rpp} = $CGI->{rpp} || 24;
	$Scratch->{page} = $CGI->{page} = $CGI->{page} || 1;
	$Scratch->{last_index} =  $Scratch->{page} * $Scratch->{rpp};
	$Scratch->{first_index} = ($Scratch->{last_index} - $Scratch->{rpp}) + 1;
	$Scratch->{last_index} = ($Scratch->{last_index} > $Scratch->{resultCount}) ? $Scratch->{resultCount} : $Scratch->{last_index};
	$Scratch->{sortby} = $CGI->{sortBy} || 're';
	my $query_res = $Tag->search_results($CGI->{search},0,$Scratch->{rpp},$Scratch->{page},$Scratch->{sortby});
	for (keys %$query_res){
		$Tag->tmpn("ref_$_", $query_res->{$_});
	}
	$Tag->tmpn('articleCount', @{$Scratch->{ref_article}});
[/calcn]
[tmp metadata][metadata][/tmp]
[tmp meta_footer]
	<div id="infoLayer" class="popup_block"></div>
[/tmp]
[tmp meta_header]
<style type="text/css">
#items {
	width: 100%;
	[calcn]
	return 'display: none;' unless @{$Scratch->{ref_frame}};[/calcn]
}
#articles{
	display: none;
	[calcn]
	'display: block;' if @{$Scratch->{ref_article}} && !@{$Scratch->{ref_frame}};[/calcn]
}
[if !scratch resultCount][and !scratch articleCount]
#results{
	float: left;
	width: 100%;
}
[/if]
.result_text{
	width: 190px;
}
#articleContain {
	margin-left: 20px;
}
#articleContain div.article{
	margin-left: 20px;
}
p.catHead{
	font-weight: bold;
}
p.noResults {
	text-align: center;
	margin-top: 20px;
}
#catSwitch a {display: block;}
</style>
[/tmp]

[include templates/redesign/header]
<!-- BEGIN CONTENT -->
<div id="mid">
	<div class="sidebar">
		[if scratch resultCount][or scratch articleCount]
		<div class="sidebar_cont">
			<div class="sidebar_cbg">
				<h4 class="typeHead">Result Type</h4>
				<div id="catSwitch">
					[tmp artCount][calcn]
					@{$Scratch->{ref_article}}[/calcn][/tmp]
					[if scratch resultCount]<a data="items" class="catSwitch">Frame Listings ([scratch resultCount])</a>[/if]
					[if scratch artCount]<a data="articles" class="catSwitch">Article Listings ([calcn]
						@{$Scratch->{ref_article}}[/calcn])</a>[/if]
				</div>
			</div>
		</div>
		[/if]
		[include templates/redesign/touts/worry_free]
		[include templates/redesign/touts/made_in_usa]
	</div>
	<div class="mid_right">
		<div id="results">
			[if cgi search]
				<div id="items">
					<h2 class="searchHead">You have searched for <span class="searchTerm">"[cgi search]"</span></h2>
					[tmpn counter]0[/tmpn]
					[tmp pagination]
						<div class="mid_box">
							<form class="sort" method="POST" action="[area search_results]">
								<input name="page_num" type="hidden" value="[cgi page_num]" />
								[if scratch resultCount]
									<div class="result_text">
										[scratch resultCount] [L]Results[/L] (viewing [scratch first_index] - [scratch last_index] of [scratch resultCount])
									</div>
								[/if]
								<div class="sort_text">
									<span>Sort :</span>
									<select id="sort_by_input" name="sort">
										[calcn]
										my %name_map = (
											re => 'Relevance',
											pl => 'Price: Low to High',
											ph => 'Price: High to Low',
											bs => 'Best Sellers',
											na => 'New Arrivals'
										);
										$out .= sprintf('<option %2$s value="%3$s">%1$s</option>', $name_map{$_}, $_ eq $Scratch->{sortby} ? 'selected="selected"' : '', $_) for (qw\re na bs ph pl\);
										return $out;
										[/calcn]
									</select>
								</div>
								<div class="item_text">
									<span>Items Per Page :</span>
									<select id="ipp_input" name="ipp">
										[calcn]
										my $out;
										$out .= sprintf('<option %2$s value="%1$s">%1$s</option>', $_, $_ == $CGI->{rpp} ? 'selected="selected"' : '') for (12,24,48,96);
										return $out;
										[/calcn]
									</select>
								</div>
								[calcn]
								my $out = '<ul class="pagination">';
								my $count = roundup($Scratch->{resultCount}/$Scratch->{rpp});
								return unless $count > 1;
								if ($CGI->{page} != 1){
									$out .= sprintf('<li><a href="#" class="pageNumber" name="%1$s">&laquo; Prev</a></li>', $CGI->{page} - 1);
								}
								my $iter = 0;
								my $hellip = 0;
								for ( $CGI->{page} - 1..$CGI->{page} + 2 ){
									next unless $_ > 0;
									next if $_ > $count;
									if($_ == $CGI->{page}){
										$out .= qq|<li><a href="#" class="active notLink">$_</a></li>|;
										next;
									}
									$out .= sprintf('<li><a href="#" class="pageNumber" name="%1$s">%1$s</a></li>', $_);
								}
								if(! (($CGI->{page} + 2) >= $count)){
									$out .= '<li><a href="#" class="notLink"><span>&hellip;</span></a></li>';
									$out .= sprintf('<li><a href="#" class="pageNumber" name="%1$s">%1$s</a></li>', $count);
								}
								if ($CGI->{page} != $count){
									$out .= sprintf('<li><a href="#" class="pageNumber" name="%1$s">Next &raquo;</a></li>', $CGI->{page} + 1);
								}
								sub roundup {
								    my $n = shift;
								    return(($n == int($n)) ? $n : int($n + 1))
								}
								$out .= '</ul>';
								$Tag->tmpn('page_links', $out);
								[/calcn]
								[scratch page_links]
							</form>
						</div>
					[/tmp]
					[scratch pagination]
					<div class="itemRow">
						<div class="product_cont">
							[loop object.mv_results=`$Scratch->{ref_frame}`]
								<div class="product_box static_buttons">
									<a href="#" class="try_on">
										<img alt="" />
									</a>
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:114px;">
									  <tr>
									    <td align="center" valign="middle">
									    	<a href="[area href="[loop-param url]"]">
									    		<img title="[loop-param name]" alt="[loop-param name]" src="/store/images/tints/200x200/[loop-param sku]_CLEAR.jpg" />
									    	</a>
									    </td>
									  </tr>
									</table>
									<h5><a href="[area href="[loop-param url]"]">[loop-param name]</a></h5>
									<div class="product_btext">[loop-param color]</div>
									<div class="product_btext"><s>[L]Retail Price[/L] [currency][loop-param msrp][/currency]</s></div>
									<div class="product_bprice">[L]Our Price[/L] [currency][loop-param price][/currency]</div>
									<a href="[area href="[loop-param url]"]" class="quick_info">[L]Eyeglasses[/L]</a>
									<a href="[area href="sun-glasses/[loop-param url]"]" class="order_now">[L]Sunglasses[/L]</a>
								</div>
							[/loop]
						</div>
					</div>
					<br style="clear:both" />
					[scratch pagination]
				</div>
				<div id="articles">
					<h2 class="searchHead">You have searched for <span class="searchTerm">"[cgi search]"</span></h2>
					[if scratch artCount]
						<h5 class="res"><strong>[scratch artCount] results</strong> (viewing 1 - [scratch artCount] of [scratch artCount])</h5>
					[/if]
					<h4 class="know">Knowledgebase Articles matching your search:</h4>
					<div id="articleIndent">
						<div id="articleContain">
							<div class="catSeperate">
							[tmp counter]0[/tmp]
							[loop object.mv_results=`[ sort{ $b->{results_sorter} <=> $a->{results_sorter} } @{$Scratch->{ref_article}}]`]
									[if type=explicit compare=`$Scratch->{counter}++ == 0`]
										<p class="catHead">[loop-param cat]:</p>
									[/if]
									[tmp thisCat][loop-param cat][/tmp]
									[if type=explicit compare=`$Scratch->{lastCat} && $Scratch->{lastCat} ne $Scratch->{thisCat}`]
										</div><div class="catSeperate">
										<p class="catHead">[loop-param cat]:</p>
									[/if]
									<div class="article">
										[tmp lp_url][loop-param url][/tmp]
										[calcn hide=1] #bad hack to fix bad link 
										$Scratch->{lp_url} =~ s/\.$//;
										[/calcn]
										<p><a href="[area href="[scratch lp_url]"]">[filter op="url_in" interpolate=1][loop-param name][/filter]</a></p>
									</div>
									[tmp lastCat][loop-param cat][/tmp]
							[/loop]
							</div>
						</div>
					</div>
				</div>
				[if type="explicit" compare=`!scalar@{$Scratch->{ref_article}} && !scalar@{$Scratch->{ref_frame}}`]
					<h2 class="searchHead">You have searched for <span class="searchTerm">"[cgi search]"</span></h2>
					<p class="noResults">Your search yielded no results. Please refine your criteria and try again.</p>
				[/if]
			[/if]
		</div>
	</div>
	<div class="image_preload">
		<img src="/store/images/new_site/btn_hgo.jpg" alt="" />
	</div>
	<form id="reload" method="POST" action="[area search_results]" style="display: none">
		<input type="hidden" name="search" value="[cgi search]" />
		<input type="hidden" name="rpp" value="[scratch rpp]" />
		<input type="hidden" name="page" value="[scratch page]" />
		<input type="hidden" name="sortBy" value="[scratch sortby]" />
	</form>
	<script type="text/javascript">
	$(function(){
		$('.pageNumber').click(function(e){
			e.preventDefault();
			$('#reload input[name="page"]').val($(this).attr('name'));
			$('#reload').submit();
			return !1;
		});
		$('#rpp, #sortBy').change(function(e){
			$('#reload input[name="'+this.id+'"]').val(this.value);
			$('#reload').submit();
			return !1;
		});
		$('.catSwitch').click(function(e){
			e.preventDefault();
			var alternate = $(this).attr('data') == 'articles' ? 'items' : 'articles';
			$('#'+$(this).attr('data')).show();
			$('#'+alternate).hide();
			$('#catSwitch a.active').removeClass('active');
			$(this).addClass('active');
		}).each(function(){
			if ($('#'+$(this).attr('data')).is(':visible')){
				$(this).addClass('active');
			}else{
				$(this).removeClass('active');
			}
		});
	});
	</script>
</div>

[include templates/redesign/footer]
