[comment]
ui_page: index.html
ui_type: page
ui_name: index.html
ui_page_template: primary
ui_source: pages/index.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Sitemap - 39DollarGlasses.com[/tmp]
[tmp meta_keywords][/tmp]
[tmp meta_description][/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp meta_header]
[include templates/redesign/header]
<style type="text/css">
div.sitemapColumn{
	width: 30%;
	float: left;
	margin-top: 10px;
}
div.columnHeader{
	text-indent: 20px;
}
div.columnBody ul {
	margin-top: .5em;
}
br.break{
	clear: both;
	height: 15px;
}
</style>
<div id="mid">
<div class="sitemapBody">
	<div class="sitemapColumn">
		<div class="columnHeader">
			EYEGLASSES
		</div>
		<div class="columnBody">
			<ul>
				<li><a href="[area href="11000"]">Metal Eyeglasses</a></li>
				<li><a href="[area href="12000"]">Plastic Eyeglasses</a></li>
				<li><a href="[area href="14000"]">Rimless Eyeglasses</a></li>
				<li><a href="[area href="semi_rimless-eyeglasses"]">Semi-Rimless Eyeglasses</a></li>
				<li><a href="[area href="kids-eyeglasses"]">Kids Eyeglasses</a></li>
				<li><a href="[area href="15000"]">Bendable Titanium Eyeglasses</a></li>
				<li><a href="[area href="bifocals"]">Bifocal Eyeglasses</a></li>
				<li><a href="[area href="progressives"]">Progressive Lenses</a></li>
				<li><a href="[area href="product_info/use_your_own_frame"]">Use Your Own Frame</a></li>
			</ul>
		</div>
	</div>
	<div class="sitemapColumn">
		<div class="columnHeader">
			SUNGLASSES
		</div>
		<div class="columnBody">
			<ul>
				<li><a href="[area href="metal-sunglasses"]">Metal Sunglasses</a></li>
				<li><a href="[area href="plastic-sunglasses"]">Plastic Sunglasses</a></li>
				<li><a href="[area href="rimless-sunglasses"]">Rimless Sunglasses</a></li>
				<li><a href="[area href="semi_rimless-sunglasses"]">Semi-Rimless Sunglasses</a></li>
				<li><a href="[area href="kids-sunglasses"]">Kids Sunglasses</a></li>
				<li><a href="[area href="bendable-titanium-sunglasses"]">Bendable Titanium Sunglasses</a></li>
				<li><a href="[area href="bifocals-sun"]">Bifocal Sunglasses</a></li>
				<li><a href="[area href="progressives-sun"]">Progressive Lenses</a></li>
			</ul>
		</div>
	</div>
	<div class="sitemapColumn">
		<div class="columnHeader">
			 OTHER
		</div>
		<div class="columnBody">
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="[area href="help/index"]">FAQ</a></li>
				<li><a href="[area href="help_topics/about_your_pd"]">About Your Pupillary Distance (P.D.)</a></li>
				<li><a href="[area href="help/Guarantee-%2526-Rewards/100%2525-quality-guarantee/93-What-is-your-warranty-policy%253f"]">Worry Free Guarantee</a></li>
				<li><a href="[area href="about_us"]">About Us</a></li>
				<li><a href="[area href="contact_us"]">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<br class="break" />
[include templates/redesign/footer]
