[include templates/redesign/header]

<style type="text/css">
span.socialtextbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa400;
}

img.socialsun {
display: block;
float: right;
}

p.socialtext {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
}

img.lrgpic {
display: block;
float: left;
width: 288px;
}

img.orphanage {
display: block;
float: right;
}

</style>
<img src="/img/socialresponsibility/bannerhead.jpg"><br /><br />
<img src="/img/socialresponsibility/ourstory.jpg">
<p class="socialtext"><span class="socialtextbold">39DollarGlasses.com</span> was built on the belief that eyewear should be affordable. In 2000, this belief came to fruition after two eye doctors saw the overwhelming impact that the high cost of eyewear made on families. Both doctors would see countless people leave appointments empty handed simply because they could not afford the high price of eyeglasses. Their belief that a person's quality of life should not be hindered by financial difficulties led them to launch <span class="socialtextbold">39DollarGlasses.com.</span>
<br /><br />

Today our company still adheres to the beliefs that we were founded on. Thousands of dollars' worth of eyeglasses has been donated by <span class="socialtextbold">39DollarGlasses.com</span> to a number of charities and organizations, all in an effort to assist those in need.</p>

<img src="/img/socialresponsibility/heretohelp.jpg"><img class="socialsun" src="/img/socialresponsibility/sun.jpg">
<p class="socialtext">Over the years assisting those in need has become a priority for <span class="socialtextbold">39DollarGlasses.com.</span> Through our work with the Lions Club International organization we have donated over $600,000.00 worth of eyeglasses to people who cannot afford eyewear.
<br /><br />

Although everyone should have access to eye care, the lack of vision correction is especially impactful for children. Without proper eye care, children are at risk of obstructing their academic and social success. For this reason, we have worked with various organizations that are dedicated to providing eyeglasses to children.
<br /><br />

This includes working with the New York City public schools and the Kress Vision Program. Another organization we believe in is Helen Keller International, a wonderful organization that has helped us to provide 500 pairs of new eyeglasses to children in need.
<br /><br />

The eyeglasses that we donate are the very same glasses that we sell. Each donated pair of eyeglasses is made from premium lenses and high quality materials. When it comes to children's eyeglasses, we use polycarbonate; the only lenses that are doctor recommended for kids under 18. Our lenses are impact resistant, ultra-light, and 30% thinner than typical lenses. We also know the importance of a durable pair of glasses so we include scratch resistant coating and 100% UV protection so they are built to last.
<br /><br />

We are an American company that believes in giving back to our community. For this reason, we are constantly seeking out the people in the United States that are being denied eyewear merely because it is unaffordable. Through our work with fantastic organizations and schools, we are proud to say that we can help those in need.</p>
<div style="clear: both;"></div>

<img src="/img/socialresponsibility/pic1.jpg" width="300px">
<img src="/img/socialresponsibility/pic6.jpg" width="300px">
<img src="/img/socialresponsibility/pic3.jpg" width="300px">

<img src="/img/socialresponsibility/pic4.jpg" width="300px">
<img src="/img/socialresponsibility/pic5.jpg" width="300px">
<img src="/img/socialresponsibility/pic2.jpg" width="300px">

[include templates/redesign/footer]