[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Order Step 2[/tmp]
[calcn hide='1']$CGI->{sunglasses} =~ s/[^A-Za-z0-9]//g;[/calcn]
[if !cgi thiscolor]
	[bounce href="[area 10000]"]
[/if]
[if session browser =~ /MSIE/]
	[tmp meta_header]
	<style type="text/css">
	li.tintOption input {
		margin-bottom: 10px;
	}
	</style>
	[/tmp]
[/if]
[tmp additional_js]
<script type="text/javascript">
	var locale = '[scratch mv_locale]';
	var kids[if scratch cross_category =~ /kids/i]=1[/if];
	var total_cost = [either][scratch item_subtotal][or]0[/either];
	function loggedIn(){
		[if session logged_in]
		try{
			if (pres_nosepos[idx] == 'higher') {
				document.orderform.mv_order_nosepos[0].checked=1;
			} else if (pres_nosepos[idx] == 'top') {
				document.orderform.mv_order_nosepos[1].checked=1;
			} else if (pres_nosepos[idx] == 'lower') {
				document.orderform.mv_order_nosepos[2].checked=1;
			}  else {
				document.orderform.mv_order_nosepos[0].checked=false;
				document.orderform.mv_order_nosepos[1].checked=false;
				document.orderform.mv_order_nosepos[2].checked=false;
			}
		}catch(ex){ }
		[/if]
	}
</script>
[if session ab eq 'a']
    <script src="/javascript/new_site/add_to_cartA.js[if var jsVersion]?ver=[var jsVersion][/if]" type="text/javascript"></script>
[else]
    <script src="/javascript/new_site/add_to_cartA.js[if var jsVersion]?ver=[var jsVersion][/if]" type="text/javascript"></script>
[/else]
[/if]
[comment]<script src="/javascript/new_site/add_to_cart.js[if var jsVersion]?ver=[var jsVersion][/if]" type="text/javascript"></script>[/comment]
[/tmp]
[include templates/redesign/header]

[comment]ADD AB LOGGING FOR THIS PAGE[/comment]
[ab-log flag="@@MV_PAGE@@"]

[value name="use_your_own_frame" set=""]

[if term="[scratch cross_category]" op="eq" compare="Metal"]
	[tmp categoryurl]11000[/tmp]
[elsif term="[scratch cross_category]" op="eq" compare="Plastic"]
	[tmp categoryurl]12000[/tmp]
[/elsif]
[elsif term="[scratch cross_category]" op="eq" compare="Rimless"]
	[tmp categoryurl]14000[/tmp]
[/elsif]
[elsif term="[scratch cross_category]" op="eq" compare="Bendable Titanium"]
	[tmp categoryurl]15000[/tmp]
[/elsif]
[elsif term="[scratch cross_category]" op="eq" compare="Semi-Rimless"]
	[tmp categoryurl]semi_rimless-eyeglasses[/tmp]
[/elsif]
[elsif term="[scratch cross_category]" op="eq" compare="Safety"]
	[tmp categoryurl]prescription-safety-glasses[/tmp]
	[set safetyglasses]1[/set]
[/elsif]
[/if]
[comment]
[page_breadcrumbs location="Eyeglasses and Sunglasses,10000|[scratch cross_category],[scratch categoryurl]|Choose Frame,[cgi thiscolor]|Enter Your Prescription"]
[/comment]
[update values]

[perl table="products"]
my ($dbh, $sth);
$dbh = $Sql{products} or die "No DBH Handle $!";
$sth = $dbh->prepare(q\
	SHOW COLUMNS FROM products
\);
$sth->execute;
my @columns;
while (my $row = $sth->fetchrow_arrayref){
	push @columns, 'p.'.$row->[0];
}
$sth->finish;
$sth = $dbh->prepare(sprintf(q\
	SELECT %1$s FROM products p left join merchandising m using(sku) where p.sku = ?
\, join ', ', (@columns,'m.upsell_to','m.cross_sell') )) or die "Can't get statement handle: $!";
$sth->execute($CGI->{thiscolor}) or die "Error executing query: $!";
my $results = fetchall_hashref($sth, @columns,'m.upsell_to','m.cross_sell');
for my $res (@$results){
	for (keys %$res){
		my $key = $_;
		$key =~ s/^(m|p)\.//;
		$Tag->tmpn("prod_$key", $res->{$_}) if $res->{$_};
	}
}
$Tag->tmpn('prod_prefix', $CGI->{sunglasses} ? 'Sun' : 'Eye');
my $safe_color = $Scratch->{prod_primary_color};
$safe_color = join '', (map {
	ucfirst(lc($_))
} (split m!\b!, $safe_color));
$safe_color =~ s!(/| )!_!g;
$Tag->tmpn('prod_safe_color', $safe_color);
return;

sub fetchall_hashref {
    #its called a hash ref interchange, use it
    my ($sth, @columns) = @_;
    my $res;
    while (my $row = $sth->fetchrow_arrayref){
        my $count = 0;
        my $ref;
        for (@$row){
            $ref->{$columns[$count++]} = $_;
        }
        push @$res, $ref;
    }
    return $res;
}
[/perl]

<!-- BEGIN CONTENT -->
[tmp retail_price][scratch prod_retail_price][/tmp]
[tmp item_description][scratch prod_description][/tmp]
[tmp item_code][scratch prod_sku][/tmp]
[tmp item_category][scratch prod_category][/tmp]
[tmp item_options_lens][scratch prod_options_lens][/tmp]
[tmp items_options_lenstype][scratch prod_options_lenstype][/tmp]
[tmp item_price][scratch prod_price][/tmp]
[tmp item_ven_color][scratch prod_ven_color][/tmp]
[seti cross_category][scratch prod_category][/seti]
[seti upsell][scratch prod_upsell_to][/seti]
[seti cross_codes][scratch prod_cross_sell][/seti]
[tmp base_price][scratch prod_price][/tmp]
[include include/order_forms/calc_price tables="options"]
[include include/order_forms/descriptions]
[include include/form_errors]

<div id="mid">
	<div id="tipLayer"></div>
	<form action="[area href="ord/basket" secure="1"]" method="post" id="orderform" name="orderform">
		<input type="hidden" name="mv_session_id" value="[data session id]" />
		<input type="hidden" name="mv_form_profile" value="check_step2" />
		<input type="hidden" name="source" value="step2" />
		<input type="hidden" name="mv_doit" value="return" />
		<input type="hidden" name="mv_action" value="process" />
		<input type="hidden" name="thiscolor" value="[cgi thiscolor]" />
		<input type="hidden" name="sunglasses" value="[cgi sunglasses]" />
		<input type="hidden" name="your_cost" value="[cgi your_cost]" />
		<input type="hidden" name="avg_retail" value="[cgi avg_retail]" />
		<input type="hidden" name="you_save" value="[cgi you_save]" />
		<input type="hidden" name="your_cost2" value="[cgi your_cost2]" />
		<input type="hidden" name="avg_retail2" value="[cgi avg_retail2]" />
		<input type="hidden" name="you_save2" value="[cgi you_save2]" />
		[if scratch item_category =~ /kids/i]
			<input type="hidden" name="mv_order_kids" value="1" />
		[/if]
		[set check_step2]
			[update values]
			[if cgi mv_order_lens eq 'wishlist']
		 		&success=wishlist_addto
			[else]
				&success=step3_ajax
			[/else]
		 	[/if]
		 	&fail=step3
		 	&fatal=1
		 	&final=0
		[/set]
		[if session ab eq 'a']
            <div class="step_cont fullwidth">
                <ul>
                    <li class="first"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span>[L]Step[/L] 1: [L]Choose Frame Color[/L]</span></a></li>
                    <li class="current"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span>[L]Step[/L] 2: [L]Select Lens Type[/L]</span></a></li>
                    <li class="last"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span style="width: 316px">[L]Step[/L] 3: [L]Customize Your Lenses[/L]</span></a></li>
                </ul>
            </div>
        [else]
            [comment]
            <div class="step_cont_new fullwidth" style="margin:0px 0px 0px 0px !important;">
                <ul>
                    <li class="#"><a style="pointer-events: none !important;cursor: default !important;" href="#"><img style="margin:0px 0px 0px 2px !important;" src="/img/select-lens-type-2.jpg"></a></li>
                </ul>
            </div>
            [/comment]
             <div class="step_cont fullwidth">
                <ul>
                    <li class="first"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span>[L]Step[/L] 1: [L]Choose Frame Color[/L]</span></a></li>
                    <li class="current"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span>[L]Step[/L] 2: [L]Select Lens Type[/L]</span></a></li>
                    <li class="last"><a style="pointer-events: none !important;cursor: default !important;" href="#"><span style="width: 316px">[L]Step[/L] 3: [L]Customize Your Lenses[/L]</span></a></li>
                </ul>
            </div>
        [/else]
        [/if]
		<div class="choose_lenses">
			<div id="summaryTab">
				<div id="summaryHead">
					<a href="#" id="summaryToggle">View Summary</a>
				</div>
				<div id="summaryDisplay" class="chooselenses_top" style="display: none">
					<div class="chooselenses_tleft">
						<img id="sumImg" src="[image src_only="1" makesize="191" src="[if cgi sunglasses]tints/[scratch prod_sku]_[scratch prod_suntint].jpg[else]items_large/[either][scratch prod_image][or][scratch prod_sku].jpg[/either][/else][/if]"]" width="191" align="absmiddle" alt="[scratch prod_description]: [scratch prod_ven_color]" />
						<div class="image_preload">
							<img id="largeImg" src="[image src_only="1" makesize="700" src="[if cgi sunglasses]tints/[scratch prod_sku]_[scratch prod_suntint].jpg[else]items_large/[either][scratch prod_image][or][scratch prod_sku].jpg[/either][/else][/if]"]" />
						</div>
						<a href="" class="enlarge_link">Click to Enlarge</a>
						[if values fname]<span>[value fname]'s Glasses</span>[/if]
					</div>
					<div class="chooselenses_tcont">
						<h2>[scratch prod_description] [scratch prod_prefix]glasses</h2>
						<div class="chooselenses_tctext">
							<div class="chooselenses_tctleft">
								[comment]
								<img src="/store/images/new_site/frame_color_[scratch prod_safe_color].png" class="frame_colorimg" alt="" />
								[/comment]
								[scratch prod_ven_color]
							</div>
							<div class="chooselenses_tctright">
								<a href="[area href="[cgi thiscolor]"]">change</a>
							</div>
						</div>
						<div style="display: none" id="mvol_display" class="chooselenses_tctext">
							<div id="currentLensTypeSelection" class="chooselenses_tctleft">
								[either][cgi mvold][or]N/A[/either]
							</div>
							<input type="hidden" name="mvold" value="[cgi mvold]" />
						<div class="chooselenses_tctright">
							<a href="#" data="lensbox" data-func="clearLens" id="hash_lenstype" style="display: none" class="changeSelection">change</a>
						</div>
					</div>
					<div style="display: none" id="rx_display" class="chooselenses_tctext">
						<div class="chooselenses_tctleft">
							<div class="frame_number">
								<table border="0"  width="100%" cellpadding="5" cellspacing="0">
								  <tr>
								     <th>&nbsp;</th>
								     <th>SPH</th>
								     <th>CYL</th>
								     <th>AXIS</th>
									 <th>ADD</th>
								  </tr>
								  <tr class="od">
								     <td>O.D.</td>
								     <td class="sph">-</td>
								     <td class="cyl">-</td>
								     <td class="axi">-</td>
								     <td class="add">-</td>
								   </tr>
								   <tr class="os">
								     <td>O.S.</td>
								     <td class="sph">-</td>
								     <td class="cyl">-</td>
								     <td class="axi">-</td>
									 <td class="add">-</td>
								  </tr>
								  <tr class="pd">
								     <td>P.D.</td>
								     <td class="pd" colspan="2">-</td>
								     <td>&nbsp;</td>
									 <td>&nbsp;</td>
								  </tr>
								</table>
							</div>
							<div id="rxcomment_block" style="display: none">
								<p></p>
								<div style="display: none" id="fullComment"><p></p></div>
							</div>
						</div>
						<div class="chooselenses_tctright">
							<a data="prescriptionbox" class="changeSelection" id="hash_prescription" data-func="clearScript" href="#">change</a>
						</div>
					</div>
					<div id="lp_display" style="display: none;" class="chooselenses_tctext">
						<div class="chooselenses_tctleft">N/A</div>
						<div class="chooselenses_tctright">
							<a data="lenspackage" data-func="clearPkg" href="#" id="hash_lenspkg" class="changeSelection lenspkg">change</a>
						</div>
					</div>
					<div id="lt_display" style="display: none;" class="chooselenses_tctext">
						<div class="chooselenses_tctleft">N/A</div>
						<div class="chooselenses_tctright">
							<a data="lensoptions" data-func="clearTint" href="#" id="hash_lenstint" class="changeSelection lenspkg">change</a>
						</div>
					</div>
				</div>
			</div>
			<div class="step_spacer"></div>
		</div>
		<div class="step_spacer"></div>
		<div id="stepData" class="chooselenses_cont">
			<div id="stepCrumbs">
				<ul>
					[if cgi sunglasses]
						<li style="padding-left: 0;">
							<a href="[area sunglasses]?lens_tint=GREY">Sunglasses</a>
						</li>
					[else]
						<li style="padding-left: 0;">
							<a href="[area 10000]">Eyeglasses</a>
						</li>
					[/else][/if]
					<li>
						<span>&raquo;</span>
						<a href="[area href='[cgi thiscolor]']">Frame Color</a>
					</li>
				</ul>
			</div>
			<div class="step_spacer"></div>
			<div class="lensContain">
			<div id="form_error_display"><div id="form_error_msg"></div></div>
			<input type="hidden" name="mv_item_option" value="lens" />
			<div id="lensbox" class="stepContainer" [if cgi edit_rx]style="display:none"[/if]>
				<div class="steptitle"><h2>What type of lenses do you need?</h2></div>
				<div class="step_spacer"></div>
				<div class="chooselenses_ctext">
					<div id="fullLensTypeSelection">
						<table style="width: 100%">
						[perl failure='Lens type selection error' subs=1 tables="options country pricing options_price products"]
							my $sku = $Scratch->{item_code};
							my $options = $Scratch->{item_options_lens};
							my $i = 0;
							my $out;
							for my $label(split /[\0\s]/, $options){
								my $cout;
								my $useprice = $Tag->price({ lens => "$label", noformat => 1, code => "$sku", sunonly => "$CGI->{sunglasses}" });
								my $cprice = $useprice;
								if($Scratch->{currency_div_1}){
									$cout = $Tag->curr_price({price=>"$cprice",nostyle=>1});
								} else {
									$cout = $Tag->currency({body=>"$useprice"});
								}
								my $url = $Tag->area({ href => 'info_pop/desc_lens_type',
									form => "lcat=$Scratch->{item_category}
									ltype=$label
									lcost=$useprice
									sunglasses=$CGI->{sunglasses}", 
								});
								$out .=qq|
								<span class="left small">
									<input id="mv_order_lens_$label" name="mv_order_lens" value="$label" type="radio" onclick="selectLensType();" />
									<label for="mv_order_lens_$label">$desc_mv_order_lens{$label}</label>
								</span>
								<span class="right large">Frame and Lens Package <strong id="st$i">$cout</strong>
								<a href="#" class="popover-link" data-title="Lens Information" data-url="$url" data-width=550>
									(more details)
									</a>
								</span>
								<div class="clear"></div>
							|;
								++$i;
							}
							return $out;
						[/perl]
						</table>
					</div>
				</div>
				<div class="clearb">&nbsp;</div>
			</div>
			<div id="nosepositionbox" class="stepContainer" style="display:none;">
				<div class="steptitle"><h2>How do you wear your glasses?</h2></div>
				<div class="stepmain">
					<div class="stepcontent">
						<div class="radio_group">
							[calcn]
							$Scratch->{nosepos} = $CGI->{mv_order_nosepos} unless $Scratch->{nosepos};
							[/calcn]
							<input data="Higher up on my nose" type="radio" id="mv_order_nosepos_higher" name="mv_order_nosepos" onclick="selectNosePosition();" value="higher" [if scratch nosepos eq 'higher']checked="checked"[/if]>
							<label for="mv_order_nosepos_higher">Higher up on my nose (most common) </label>
							<br />
							<input data="All the way up on my nose" type="radio" id="mv_order_nosepos_top" name="mv_order_nosepos" onclick="selectNosePosition();" value="top" [if scratch nosepos eq 'top']checked="checked"[/if]>
							<label for="mv_order_nosepos_top">All the way up on my nose (almost touching your forehead)</label>
							<br />
							<input data="Lower down on my nose" type="radio" id="mv_order_nosepos_lower" name="mv_order_nosepos" onclick="selectNosePosition();" value="lower" [if scratch nosepos eq 'lower']checked="checked"[/if]>
							<label for="mv_order_nosepos_lower">Lower down on my nose (middle of my nose)</label>
						</div>
					</div>
				</div>
				<div class="clearb">&nbsp;</div>
			</div>
			[if session logged_in]
				[seti thisuser][data session username][/seti]
				[if type=data term="prescriptions::code::[scratch thiscode]"]
					[comment]seti message][/seti]
					<div class="smText">
					<b>[scratch message]</b>
					</div>[/comment]
					[seti saved_od_sp][filter op="no_white" interpolate=1][data table="prescriptions" field="od_sphere" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_od_cy][filter op="no_white" interpolate=1][data table="prescriptions" field="od_cylinder" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_od_ax][filter op="no_white" interpolate=1][data table="prescriptions" field="od_axis" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_od_ad][filter op="no_white" interpolate=1][data table="prescriptions" field="od_add" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_os_sp][filter op="no_white" interpolate=1][data table="prescriptions" field="os_sphere" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_os_cy][filter op="no_white" interpolate=1][data table="prescriptions" field="os_cylinder" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_os_ax][filter op="no_white" interpolate=1][data table="prescriptions" field="os_axis" key="[scratch thiscode]"][/filter][/seti]
					[seti saved_os_ad][filter op="no_white" interpolate=1][data table="prescriptions" field="os_add" key="[scratch thiscode]"][/filter][/seti]
					[calcn]
					for (qw\od_sp od_cy od_ax od_ad os_sp os_cy os_ax os_ad pd nosepos\){
						$Scratch->{$_} = $Scratch->{"saved_$_"   } ;
					}
					[/calcn]
					[seti pd][filter op="no_white" interpolate=1][data table="prescriptions" field="pd" key="[scratch thiscode]"][/filter][/seti]
					[seti nosepos][filter op="no_white" interpolate=1][data table="prescriptions" field="nosepos" key="[scratch thiscode]"][/filter][/seti]
				[else]
					[calcn]
					for (qw\od_sp od_cy od_ax od_ad os_sp os_cy os_ax os_ad pd nosepos\){
						delete $Scratch->{$_};
					}
					[/calcn]
				[/else][/if]
			[else]
				[calcn]
				for (qw\od_sp od_cy od_ax od_ad os_sp os_cy os_ax os_ad pd nosepos\){
					delete $Scratch->{$_};
				}
				[/calcn]
			[/else][/if]

			<div id="prescriptionbox" class="stepContainer" [if !cgi edit_rx]style="display:none;"[/if]>
				<div class="steptitle"><h2>Please enter your prescription:</h2></div>
				<div class="stepmain">
					<div class="stepcontent">
						<div class="radio_group">
							[if cgi sunglasses]
							To order non-prescription sunglasses, enter "PLANO" in the "SPH" columns when ordering, leave the other prescription fields blank, and enter 60 for the PD.
							<div style="height: 9px;"></div>
							[/if]
							[if session logged_in][and scratch total_pres]
								<p>
								Use prescription:<br />
								<select name="prescription_to_use" onchange="javascript:update_pres(document.orderform.prescription_to_use.value);">
									<option value="new_pres">-- New Prescription --</option>
									[tmp def_code][/tmp]
									[tmp pres_count]0[/tmp]

									[query sql="SELECT * FROM prescriptions WHERE username='[data session username]' ORDER BY defaults DESC"
										type=list
										prefix=sel
										list-prefix=sel]
										[sel]
										[if type=explicit compare="$Scratch->{pres_count} < 1"]
											[tmp def_code][sel-code][/tmp]
										[/if]
										[tmp the_label][sel-param label][/tmp]
										[if type=explicit compare="$Scratch->{the_label} =~ /^#/ && $Scratch->{named_pres} > 0"]
										[else]
											<option value="[scratch pres_count]" [if-sel-param defaults]selected[/if-sel-param]>[scratch the_label]</option>
											[if-sel-param defaults][tmp def_code][sel-code][/tmp][/if-sel-param]
											[calc] $Scratch->{pres_count} += 1; return undef; [/calc]
										[/else]
										[/if]
										[/sel]
									[/query]
								</select>

								<input type="button" value="Load Rx" onclick="javascript:update_pres(document.orderform.prescription_to_use.value);">
								</p>
							[/if]
							<input type="hidden" name="prescription_used" value="[scratch def_code]" />
							<div id="prescription_data">
								<span id="prescription_loading"><img src="/store/images/blueyellow/infoloading.gif" align="absmiddle" /> Loading</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearb">&nbsp;</div>
			</div>
			</div><!-- end lensContain -->
		</div><!-- end chooselenses_cont -->
		<div class="chooselenses_bot">
			<div id="moneyBox" class="youcost_box" style="display: none">
				<h3>Your cost</h3>
				<div class="youcost_bcont">
					<div class="youcost_bcprice">[currency][scratch prod_price][/currency]</div>
					Avg Retail <b class="avg_retail">[currency][either][cgi avg_retail][or][scratch prod_retail_price][/currency]</b>
					<span>You Save <b class="yousave">[currency][calcn]
					$CGI->{you_save} || ($Scratch->{prod_retail_price} - $Scratch->{prod_price})[/calcn][/currency]</b></span>
				</div>
			</div>
			<input type="submit" id="nextStep" value="continue" style="display: none" />
			<div id="ship_msg">
				[L]Free shipping on your order![/L]
			</div>
			<br class="clear" />
			Having trouble ordering? We're here to help,
			[if type="explicit" compare="$Scratch->{geocountryiso2} eq 'GB'"]
				<h5>Call us from the UK <span>00__PHONE__</span></h5>
			[elsif type="explicit" compare="$Scratch->{geocountryiso2} eq 'AU'"]
				<h5>Call us from Australia <span>0011-__PHONE__</span></h5>
			[/elsif][else]
				<h5>Call us Toll-Free <span>__TOLLFREE__</span></h5>
			[/else][/if]
			<br class="clear" />
		</div>
		<div class="step_spacer"></div>
	</form>
</div>
</div>
<script type="text/javascript">
	calcPrice();
	$(function(){
		$('a.changeSelection').click(function(e){
			if($(this).attr('href') === '#'){
				e.preventDefault();
				switch ($(this).attr('data')){
					case 'lenstype':
						$('#prescriptionbox').slideUp(300,'linear',function(){
							$('#lensbox').slideDown(300,'linear');
							selectingLensType = false;
							showingPrescription = false;
						});
						$('#currentLensTypeSelection').html('');
						break;
				}
			}
		});
		$('#nextStep').unbind().click(function(e){
			e.preventDefault();
			checkStep2Form();
			return !1;
		});
		$('#ospd,#odpd').change(function(){
			var mv_pd = $('#mv_order_pud'),
				val = mv_pd.val();
			var matches = val.match(/(\d+) *\/? *(\d+)/);
			var left = this.id == 'ospd' ? 1 : 0;
			matches[0] = left ? this.value : matches[0];
			matches[1] = left ? matches[1] : this.value;
			var value = matches[1] ? 
				(matches[0] + '/' + matches[1]) :
					matches[0];
					alert(value);
			mv_pd.val(value);
		});
		$('#monocularPD').change(function(){
			$('#ospd').toggle();
		})
	});
</script>

<div id="infoLayer" class="popup_block"></div>
<div class="enlargeTemplate">
	<div class="mypd_main" style="width: auto; display:block;">
		<a class="modalCloseImg" title="Close"></a>
			<div class="mypd_mainbox" style="width: auto; display:block;" >
				<div class="mypd_cont" style="width: auto;">
					<div style="background: white; padding: 20px;padding-top: 0;">
						<img class="enlarge"  alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

[include templates/redesign/footer]
