[tmp page_title]Super storm Sandy[/tmp] 
[tmpn meta_header]
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> 
<style type="text/css">
	#box{ width: 600px; margin: 30px auto; padding: 25px }
	#header{ font-family: 'Open Sans', sans-serif; font-size: 28px; 
text-align: center; margin: 15px 0;  }

	#box{ font-family: 'Open Sans', sans-serif; font-size: 14px; margin-top: 0; padding-top: 0; margin-bottom: 0; }
	#box p{ margin: 5px 0 15px; margin-top: 0; padding-top: 0; }
	p.rejected{ text-align: center; color: red }
	p.accepted{ text-align: center; color: green }
	label{ display: inline-block; width: 100px }
	#submit{ padding: 3px }
</style>
[/tmpn]
[tmp seo_noindex]1[/tmp]
[tmp seo_nofollow]1[/tmp]

[include templates/redesign/header]
<!-- BEGIN CONTENT -->

<div id="mid">
	<div id="box">
		<h1 id="header">39DollarGlasses.com supports victims of Superstorm Sandy</h1>
		<p>In the devastating aftermath of Superstorm Sandy, it is important for New York City's 1.1 million students to resume a normal school day. To help make this possible, 39DollarGlasses.com will donate 10% of every order placed by NYC residents through December 15th, 2012 to The Fund for Public Schools to support storm recovery efforts in New York City's public schools.</p>
		<p>These donations will provide books, school supplies, classroom furniture, warm clothing and blankets, and other critical resources so that students can safely return to their classrooms and continue to learn and grow.</p>
		<p>Please join us to help New York City's schools recover during this difficult time. To learn more about The Fund for Public Schools, please visit <a href="http://www.fundforpublicschools.org">www.fundforpublicschools.org</a></p>
	</div>
</div>

[include templates/redesign/footer]
