[perl hide=1]
$Scratch->{page_title} = 'Fashionable Frames for Teenagers | Trendy Rx Glasses Only $39';
$Scratch->{meta_description} = 'Does your teenager need glasses? At $39DollarGlasses we have on-trend styles like wayfarer, cat eye, & aviator in stock. Get cheap prescription frames now!';
$Scratch->{meta_keywords} = 'eyeglasses,sunglasses,eyeglass lenses,eyeglass,glasses,eye glasses,sun glasses,prescription eyeglasses, prescription eye glasses';
[/perl]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
}

.outerwrapper{
width: 984px;
margin: auto;
}

h1 {
font-family: arial,helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
color: #ffa400;
margin-top: 50px;
}

span.textbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa40;
}


p.text {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
margin-top: 0px;
color: #787878;
}

img.samplefirst{
border-right: 0px dotted #cccccc;
border-left: 0px dotted #cccccc;
padding: 10px;
margin-left: 20px;
}

img.sample{
border-right: 0px dotted #cccccc;
padding: 10px;
}

p.imgtitle{
font-family: arial,helvetica,sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
color: #ff9900;
margin: 0px;
}
p.imgdesc1{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
color: #787878;
margin: 0px;
}

p.imgdesc2{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: center;
color: #787878;
margin: 5px 0px 0px 0px;
}

</style>
<div class="outerwrapper">
<div class="innerwrapper">

<table style="float:left" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<img width="960" src="/img/teen.jpg"></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.39dollarglasses.com/3299_Black.html"><img class="samplefirst" src="/img/teenglasses1.jpg" alt=""></a><p class="imgtitle">College</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/3299_Black.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/9100_BROWN.html"><img  class="sample" src="/img/teenglasses2.jpg" alt=""></a><p class="imgtitle">Retro Eyewear 100</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9100_BROWN.html"><img src="/img/buy-now.png"></a></p></td>
			<td>
			<a href="http://www.39dollarglasses.com/9214_BLACK.html"><img  class="sample" src="/img/teenglasses3.jpg" alt=""></a><p class="imgtitle">Blu Eyewear 114</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/9214_BLACK.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/8237_BROWN.html"><img  class="sample" src="/img/teenglasses4.jpg" alt=""></a><p class="imgtitle">Eddie Bauer 8237</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/8237_BROWN.html"><img src="/img/buy-now.png"></a></p></td>
	</tr>
		<tr>
		<td colspan="4">
		<h1>Glasses for Teenagers</h1>
		<p class="text">At 39DollarGlasses we know that no two teenagers are alike. That’s why we offer a wide selection of glasses for teenagers that will fit any style. Whether your teen is a fashionista or a sports fanatic, you can rest assured that we have a look that’s perfect for them.

39DollarGlasses.com has hundreds of styles that will fit any budget. Starting at just $39.00 a pair, your teenager can find the hottest looks. On-trend styles like <a href="http://www.39dollarglasses.com/eyeglasses/unique.html">wayfarer</a>, cat eye, and <a href="http://www.39dollarglasses.com/eyeglasses/aviator.html">aviator</a> designs are always available on our website. Teens can choose from numerous designs, materials, and colors to find an expressive look that they’ll feel confident in. We also offer single vision, progressives, bifocals, and transitions glasses for teenagers.

Proper vision correction is essential for teenagers. Visually impaired teens that don’t wear prescription eyewear will have difficulty learning and socializing. In addition, teens that wear uncomfortable or incorrect glasses can risk blurred vision, headaches, and a number of other issues. To avoid this, be sure that your teen gets regular eye exams and ensure that they are wearing glasses that fit them comfortably. 

The teenage years can be a stressful time for teens and parents alike. Shopping for eyewear shouldn’t add to that stress. You can trust that our helpful customer service team and great return policy will make the process of buying glasses online as simply and stress-free as possible. 

</p>
			</td>
	</tr>
</table>
</div>
</div>
[include templates/redesign/footer]