[comment]
ui_page: testimonials.html
ui_type: page
ui_name: testimonials.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/testimonials.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Testimonials[/tmp]
[tmpn members_only][/tmpn]

[tmp meta_header]
<style type="text/css">
#mid{
	padding-top: 5px;
}
#mid h3{
	margin-left: 5px;
}
table.testies{
	margin: auto;
}
</style>
[/tmp]
[include templates/redesign/header]
<div id="mid">
    <h3>Testimonials</h3>

[loop search="fi=testimonials/st=db/ra=1/rf=0/ml=5/tf=code/to=n" more=1]

	[on-match]
	<table class="testies" width="90%" border="0" cellspacing="0" cellpadding="3">
	[/on-match]


	[list]
	<tr> 
		<td width="100%" align="left">
		[if scratch mv_locale eq 'es_ES']
			[loop-data testimonials text_es]
		[else]
			[loop-data testimonials text]
		[/else]
	[/if]
		</td>
	</tr>
	<tr> 
		<td width="100%" align="left">
		<b>[loop-data testimonials name]</b>
		<br>
		<b>[loop-data testimonials location]</b>
		</td>
	</tr>
	<tr> 
		<td width="100%" align="left">
		<hr size="1">
		</td>
	</tr>


						
	[/list]



	[on-match]
	</table>

	[/on-match]

	[more-list]
	<p align="center">
	 [next-anchor][L]Next[/L][/next-anchor]
	 [prev-anchor][L]Previous[/L][/prev-anchor]
	 [page-anchor]$PAGE$[/page-anchor]
	 [more]
	</p>
	[/more-list]

	[no-match]
		<BR><BR>
		<BLOCKQUOTE>
		[if value mv_search_error]
		<P>
		<B>
		Errors:
		<BR> 
		[value-extended name=mv_search_error joiner="<BR>"]
		</B>
		[/if]

		<BR><BR>
		</BLOCKQUOTE>
	[/no-match]
[/loop]

</div>

[include templates/redesign/footer]