[perl hide=1]
$Scratch->{page_title} = 'Glasses for Toddlers! | Durable Rx Glasses & Frames Only $39';
$Scratch->{meta_description} = 'Buy sturdy toddler glasses from durable metal and plastic materials. All prescription frames are only $39. 100% satisfaction guaranteed & free returns.';
$Scratch->{meta_keywords} = 'eyeglasses,sunglasses,eyeglass lenses,eyeglass,glasses,eye glasses,sun glasses,prescription eyeglasses, prescription eye glasses';
[/perl]
[include templates/redesign/header]
<style type="text/css">
.innerwrapper{
width: 964px;
margin: 10px;
}

.outerwrapper{
width: 984px;
margin: auto;
}

h1 {
font-family: arial,helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
color: #ffa400;
margin-top: 50px;
}

span.textbold {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
color: #ffa40;
}


p.text {
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: justify;
margin-top: 0px;
color: #787878;
}

img.samplefirst{
border-right: 0px dotted #cccccc;
border-left: 0px dotted #cccccc;
padding: 10px;
margin-left: 20px;
}

img.sample{
border-right: 0px dotted #cccccc;
padding: 10px;
}

p.imgtitle{
font-family: arial,helvetica,sans-serif;
font-size: 16px;
text-align: center;
font-weight: bold;
color: #ff9900;
margin: 0px;
}
p.imgdesc1{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
color: #787878;
margin: 0px;
}

p.imgdesc2{
font-family: arial,helvetica,sans-serif;
font-size: 14px;
text-align: center;
color: #787878;
margin: 5px 0px 0px 0px;
}

</style>

<div class="outerwrapper">
<div class="innerwrapper">

<table style="float:left" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<img width="960" src="/img/toddler.jpg"></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.39dollarglasses.com/4201_Brown.html"><img class="samplefirst" src="/img/toddlerglasses1.jpg" alt=""></a><p class="imgtitle">Chipmunk</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/4201_Brown.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/4075_Silver.html"><img  class="sample" src="/img/toddlerglasses2.jpg" alt=""></a><p class="imgtitle">Rabbit</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/4075_Silver.html"><img src="/img/buy-now.png"></a></p></td>
			<td>
			<a href="http://www.39dollarglasses.com/4013_DeepWine.html"><img  class="sample" src="/img/toddlerglasses3.jpg" alt=""></a><p class="imgtitle">Panda</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/4013_DeepWine.html"><img src="/img/buy-now.png"></a></p></td>
		<td>
			<a href="http://www.39dollarglasses.com/4016_GoldCoffee.html"><img  class="sample" src="/img/toddlerglasses4.jpg" alt=""></a><p class="imgtitle">Turtle</p><!--<p class="imgdesc1">Description1</p>--><p class="imgdesc2"><a href="http://www.39dollarglasses.com/4016_GoldCoffee.html"><img src="/img/buy-now.png"></a></p></td>
	</tr>
		<tr>
		<td colspan="4">
		<h1>Glasses for Toddlers</h1>
		<p class="text">If your little one is in need of glasses, look no further than 39DollarGlasses.com. Our selection of glasses for toddlers includes quality metal and plastic frames made with some of the safest materials available.

During this critical stage of life, it’s important to ensure that your child can see clearly. Every day is a learning experience for a toddler, so proper vision becomes very valuable.

When it comes to glasses for toddlers, 39DollarGlasses is the best choice. We make our toddler glasses from durable metal and plastic materials. Our children’s lenses are strictly made from polycarbonate only. Polycarbonate is the safest choice because it is the lightest, most impact resistant material available. This plastic, which is also used to make bulletproof glass, is also completely shatter resistant.

Every pair of glasses comes complete with UV and scratch resistant coating. Your child eyes will stay safe against the sun’s harmful rays thanks to the UV coating. Your toddler’s glasses will also be protected against scuffs and scratches.

Our glasses for toddlers come in an array of styles and colors. They are lightweight and comfortable, so even the fussiest of toddlers will adjust quickly to their new eyewear. We even have a <a href="http://www.39dollarglasses.com/help/Guarantee-%26-Rewards/100%25-quality-guarantee/93-What-is-your-warranty-policy%3f.html">worry-free guarantee</a> so if you’re unhappy for whatever reason you can return your toddler glasses easily. Finally, our toddler glasses are a great deal because they start at just $39 per pair!
</p>
			</td>
	</tr>
</table>
</div>
</div>
[include templates/redesign/footer]