[tmp share-url][either][url_shortener url=|__NORMAL_SERVER__/photo/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint]|][or]__NORMAL_SERVER__/photo/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint][/either][/tmp]
[image-size file="photos/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint].jpg"]
[seti tryon_tint][either][scratch tryon_tint][or]CLEAR[/either][/seti]
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({
      publisher: "ef8bcf6e-9f95-47e4-b0e7-4813ad34f377"
  });
</script>
<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p class="previous-link-div redo_button"><</p>
  <p id="start-over-link" class="redo_button help_button">R</p>
</div>
	<div id="tryon-popup-body" style="overflow: hidden;top: 40px;width:800px">
	  <div class="mobileNoFloat tryon-popup-image-container" style="float:left">
  	  <div id="page" style="background-image: url('/photos/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint].jpg')">
        [if scratch tryon-share-limit]
           <div style="text-align: left; width: 400px; margin: 0px; margin-top: 30px;">
             <div style="margin: 0;">
                <img src="/store/images/tryon-warning.jpg" border="0">
             </div>
             <div style="margin: 0; text-align: left; padding: 8px; font-weight: bold; border: 1px solid #ba1513; background-color: #fffbd5;">
              Sorry, you have reached your limit of photo's you can share today.  Please visit back soon to share more photos.
	         </div>
          </div>
        [/if]
	    </div>
	  </div>
	  <div class="mobileNoFloat" style="float: right; width: 350px; margin: 0px; z-index: 99999;"> 
	  	<div id="tryon-popup-step-content-header" class="desktop_view">
				<div class="underHeader">
					<div class="header-wrapper">
						<span id="tryon-step-number">Step 5:</span>
						<span id="tryon-step-description">Share your photo!</span>
					</div>
				</div>
			</div>
			[if !scratch tryon-share-limit]
				<div id="share-url" class="desktop_view" style="text-align: center; margin: 25px 0 0 0">
					<span style="font-size: 1.2em">Copy and share your unique URL:</span>
					<br />
					<input type="text" id="unique-url" style="font-size: 1.5em; text-align: center" size="20" value="[scratch share-url]" />
					<br style="clear: both;" />
				</div>
				<div id="sharethis" style="width: auto; margin: 65px auto">
					<table>
						<tr>
							<td><span st_url="[scratch share-url]" class='st_facebook_large' displayText='Facebook'></span></td>
							<td align="left" valign="middle">Share on Facebook</td>
						</tr>
						<tr>
							<td><span st_url="[scratch share-url]" class='st_twitter_large' displayText='Tweet'></span></td>
							<td align="left">Share on Twitter</td>
						</tr>
						<tr>
							<td><span class='st_pinterest_large' displayText='Pinterest' st_img="__NORMAL_SERVER__/photos/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint].jpg"></span></td>
							<td align="left">Pin your picture on Pinterest</td>
						</tr>
					</table>
				</div>
				<form name="tryon_profile" action="[process]" method="post">
					[form-session-id]
					<input type="hidden" name="mv_click" value="disclaimer_but" />
					<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
					<input type="hidden" name="mv_todo" value="return" />
					<input type="hidden" name="tryon_photo_id" value="[scratch tryon_photo_id]" />
					<input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
					<input type="hidden" name="tryon_tint" value="[scratch tryon_tint]" />
					<div id="save-button-container" class="button">
						Save Your Photo
					</div>
				</form>
				[set disclaimer_but]
					[set isshared]1[/set]
					[set deliverimage]1[/set]
					[deliver type="application/x-download" 
									 file="photos/[cgi tryon_photo_id]/[cgi tryon_item_code]_[cgi tryon_tint].jpg" 
									 extra-headers="Content-Disposition: attachment; filename=39dollarglasses_[cgi tryon_item_code]_[cgi tryon_tint].jpg"
					]
				[/set]
			[/if]

			[set adjust_glasses_profile]
			&success=../special_pages/tryon_process
			&fail=@@MV_PAGE@@
			[/set]
			[tmp clear_errors][error all=1 comment="Clear errors"][/tmp]

			<br style="clear: both" />
		</div>
		<div class="clear"></div>
	  </div>
</div>
<script>
  $('#unique-url').click(function(e){ $(this).select(); return false; });
  $('#save-button-container').click(function(){ $("form[name='tryon_profile']").submit() });
  $('.close_dialog').unbind("click").click(function(e){
  	e.preventDefault();
    $('#contentHolder').fadeOut('fast'); 
    $('#modal_overlay').hide();
  });
  $('.previous-link-div').unbind("click").click(function(e){
    $.ajax({
      url: '/tryon_adjust_glasses.html',
      type: 'GET',
      beforeSend: addOverlay,
      success: function(data){
         modal(data, parseInt($('#imgh').val()) + 55);
         step_five();
      }
    });
  });
  $('#start-over-link').unbind("click").click(function(e){
    $.ajax({
      url: '/tryon_gather_profile.html',
      type: 'GET',
      beforeSend: addOverlay,
      success: function(data){
         modal(data, parseInt($('#imgh').val()) + 55);
         step_one();
      }
    });
  });
  stButtons.locateElements();
</script>