[if cgi go-gather-profile]
  [set go-gather-profile][/set]
  [seti tryon_profile][value tryon_profile][/seti]
  [set tryon-show-upload-image]1[/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
[/if]

<div id="tryon-popup-header">
	<p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
	<p id="tryon-popup-header-close" class="close_dialog">X</p>
</div>

<div id="tryon-popup-body" style="width: 800px; height: 420px"> 
  [update values]
  <form name="tryon_profile" id="tryon_profile" action="[area tryon_gather_profile.html]" method="post">
    [form-session-id]
    <input type="hidden" name="mv_form_profile" value="tryon_form_profile" />
    <input type="hidden" name="mv_click" value="profile_but" />
    <input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
    <input type="hidden" name="go-gather-profile" value="1" />
    <input type="hidden" name="mv_action" value="process" />
    <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
    <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
    <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
    <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
    <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
    <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
    <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
    <input id="current_step" type="hidden" value="one" />
    <div style="margin: auto; width: 640px;">
      <h1 class="startHead">Tell Us About Yourself
       <span>(You only have to do these steps once.)</span>
      </h1>
      <div class="gender-selection first">
        <label for="gender-male" data-gender="man">
          <img src="/img/tryon/man.png" />
          <input type="radio" name="tryon_profile" id="gender-male" value="man" [checked name="tryon_profile" value="man"] />
          <span>Man</span>
        </label>
      </div>
      
      <div class="gender-selection">
        <label for="gender-female" data-gender="woman">
          <img src="/img/tryon/woman.png" />
          <input type="radio" name="tryon_profile" id="gender-female" value="woman" [checked name="tryon_profile" value="woman"] />
          <span>Woman</span>
        </label>
      </div>
      
      <div class="gender-selection">
        <label for="gender-child" data-gender="child">
          <img src="/img/tryon/child.png" />
          <input type="radio" name="tryon_profile" id="gender-child" value="child" [checked name="tryon_profile" value="child"] />
          <span>Child</span>
        </label>
      </div>
      <div class="clear"></div>
  </div>
  <div style="position: relative; clear: both; float: right; margin-top: 20px; margin-right: 40px; width: 200px; height: 56px; display: none">
    <input type="image" id="nextButton" name="submit" alt="Next" src="/img/tryon/ButtonsOnly/GreenArrowR2.png" style="position: absolute; top: 0; left: 0; border: none; width: 200px" />
    <div id="buttonLabel" style="font-size: 13px; font-weight: bold; position: absolute; left: 80px; top: 20px; cursor: pointer">Next</div>
  </div>

  [if type=explicit compare="[error all=1 show_var=1 keep=1]"]
    <div style="float: right; margin-top: 20px; margin-right: 40px;">
      <strong>Error:</strong> 
      [error name=tryon_profile std_label="&nbsp;" required=1]
      Please select your profile. 
    </div>
  [/if]
  
 </form>
</div>

[set tryon_form_profile]
tryon_profile=required Please select your profile
&success=../special_pages/tryon_process
&fail=@@MV_PAGE@@
[/set]

[set profile_but]
  [set go-gather-profile]1[/set]
  [cgi name="go-gather-profile" set='1' hide=1]
  [cgi name=mv_nextpage set='tryon_upload_image.html' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[tmp clear_errors][error all=1 comment="Clear errors"][/tmp]



