[if variable TRYON_KILLSWX]
 [if type=session term=host op=ne compare="__TRYON_KILLSWX__"]
    [bounce page="index"]
  [/if]
[/if]
[if variable TRYON_NO_ALBUMS]
  [bounce page="index"]
[/if]
[if session login_table ne 'userdb']
  [bounce page="login"]
[/if]


[tmp page_title]__COMPANY__ -- My Photos[/tmp]
[tmp meta_header]
<script src="__JQUERY__" type="text/javascript"></script>
    <script src="/javascript/jquery.simplemodal-1.4.1.js" type="text/javascript"></script>
    <script src="/javascript/simplemodal.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
</style>
[/tmp]

@_TOP_@

<!-- BEGIN CONTENT -->

    <div id="tryon-modal-warning"> 
      <iframe id="tryonWarningFrame" name="tryonWarningFrame" frameBorder="0" scrolling="no"
        style="display: block; position: relative; margin: 0px; padding: 0px; border: 1px solid #aaaaaa;" 
        width="100%"
          height="250px"
          width="420px"
          src="[area href=|tryon_warning_delete|]"
        >
      Please upgrade your browser to one that can use the iframe tag.
      </iframe>
    </div>
    


  [seti album-count][query
    type=row_count
    table=tryon_albums
    sql=|
  SELECT code FROM tryon_albums 
  WHERE username = '[data session username]'
  ORDER BY created DESC
  |]
  [/query][/seti]
  

<div>

  [query
    type=list
    prefix=tryon_albums
    list_prefix=tryon_albums_list
    sql=|SELECT code,  
                username,
                filename,
                created,
                description
         FROM tryon_albums 
         WHERE username = '[data session username]'
         ORDER BY created DESC
         |
  ]

[tryon_albums_list-on-match]

<h1 class="bc03 bc13" style="text-align: center;  margin: 0;">My Photos</h1>

<div style="clear: both; width: 848px; margin: auto; text-align: center; border: none;">



[/tryon_albums_list-on-match]

[tryon_albums_list]

[image-size file="../../www/html/store/images/items_tryon/[scratch tryon_item_code]_CLEAR.png"]
[seti tryon_frame_height_px][scratch imgheight][/seti]
[seti tryon_frame_width_px][scratch imgwidth][/seti]
[image-size file="tryon_albums/[tryon_albums-param code]/[tryon_albums-param filename]"]

<div style="float: left; width: 200px; height: 390px; margin: 4px;">

  <a href="[area href=|album/[tryon_albums-param code]|]"><h4>[tryon_albums-param description]</h4></a>

  <div style="overflow: hidden; border: solid 1px;">
            <a href="[area href=|album/[tryon_albums-param code]|]"><img
                src="[image src_only=|1| 
                 src=|/tryon_albums/[tryon_albums-param code]/[tryon_albums-param filename]| 
                 makesize=|50%|]"
                 border="0"></a>
  </div>


  
  
  
  
  
  
  
  
    [set tryon_parant_page]albumpage[/set]


    <div style="clear: both; margin: 0; margin-bottom: -4px;">
      <a style="margin: 0;" href="[area href=|album/[tryon_albums-param code]|]"><img 
                src="[image src_only=|1| src=|/store/images/tryon-view-album.jpg|]" 
                border="0"
                style="cursor: pointer; margin: 0;"
                alt="View Frames With This Photo"></a>
    </div>
    <div style="margin: 0;">
    <img src="[image src_only=|1| src=|/store/images/tryon-remove-photo.jpg|]" 
                border="0"
                style="cursor: pointer;"
                alt="Delete This Photo and Frames"
                onclick="document.location='#top';
                	document.getElementById('tryonWarningFrame').src = '[area href=|tryon_warning_delete| arg=|[tryon_albums-param code]|]';
                	window.setTimeout(function(){
                			popupWarning();
                	}, 500);
                "> 
    </div>

    
    







</div>


[/tryon_albums_list]

[tryon_albums_list-on-match]
<br style="clear: both;" />
</div>
[/tryon_albums_list-on-match]

[/query]


<br style="clear: both;" />
</div>



<!-- END CONTENT -->

@_BOTTOM_@

