[if scratch go-crop-image]
    [include include/tryon_crop]
[/if]
[image-size file="[scratch tryon-bg-path][scratch tryon-bg-image]"]

<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p class="previous-link-div redo_button"><</p> 
  <p class="help_button redo_button">?</p>
</div>

[if type=scratch term=imgheight op=< compare='375']
    [tmp divh]410[/tmp] 
[else]
    [tmp divh][calc][scratch imgheight]+12[/calc][/tmp]
[/else][/if]

<div id="tryon-popup-body" style="width: 800px; height: [scratch divh]px">
  <div class="arrangeDot">

    <div  style="float: left; width: [scratch imgwidth]px; margin: 0; padding: 6px 0 0 6px">
      <h1 class="mobile_view startHead">Mark The Pupils<span>Drag each dot so it's over each pupil.</span>
      </h1>
      <div class="mobileNoFloat" id="page" style="display: block; float: left; border: 1px solid; margin: 0; width: [scratch imgwidth]px; height: [scratch imgheight]px; text-align: center; background-image: url('/[scratch tryon-bg-path][scratch tryon-bg-image]'); background-repeat: no-repeat;">
  			<div id="drag-group">
  				<div id="anima-drag-left-eye" style="width: 10px; height: 10px; [if session browser !~ /MSIE/]display: none;[/if] position:absolute; top: [either][value LeftEyeMouseYPosition][or]125[/either]px; left: [either][value LeftEyeMouseXPosition][or]300[/either]px;">
  					<span><img src="/img/tryon/eye-dot-round.png" alt="My Left eye" /></span>
  				</div>
  				<div id="anima-drag-right-eye" style="width: 10px; height: 10px; [if session browser !~ /MSIE/]display: none;[/if] position:absolute; top: [either][value RightEyeMouseYPosition][or]125[/either]px; left: [either][value RightEyeMouseXPosition][or]100[/either]px; ">
  					<span><img src="/img/tryon/eye-dot-round.png" alt="My Right eye" /></span>
  				</div>
  			</div>
      </div>
    </div>
  
    <div class="tryon-popup-step-content" style="float: right; width: 375px; height: 100%; margin: 0px;">
      <div style="margin: 0px; width: 100%;">
        <h1 class="mobile_view startHead">Enter Your Pupil Distance(PD) in mm</span>
        </h1>
  			<div class="desktop_view" style="padding: 5px 20px 0 0">
  				<div class="header-wrapper">
  					<div id="tryon-step-number">Step 3:</div>
  					<div id="tryon-step-description">Mark the Pupils</div>
  					<br style="clear: both" />
  				</div>
  			</div>
  			<p class="desktop_view" style="text-align: left; margin: 0; line-height: 18px; padding: 5px 0;">Click and drag each aqua circle and place the center over each one of your pupils (the black dot in the center of your eye). <a href="#" id="showImage">Click here to see an example</a></p>
  		
        [update values]
        [set go-arrange-dots]1[/set]
        <form name="arrange_dots" id="arrange_dots" action="[process]" method="post">
          [form-session-id]
          <input type="hidden" name="mv_form_profile" value="arrange_dots_profile" />
      
          <input type="hidden" name="mv_action" value="process" />
          <input type="hidden" name="mv_todo" value="return" />
          <input type="hidden" name="mv_click" value="arrange_dots_but" />
          <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
          <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
          <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
          <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
          <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
          <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
          <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
          <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]">
          <input type="hidden" id="LeftEyeMouseXPosition" name="LeftEyeMouseXPosition" value="[scratch tryon_LeftEyeMouseXPosition]" />
          <input type="hidden" id="LeftEyeMouseYPosition" name="LeftEyeMouseYPosition" value="[scratch tryon_LeftEyeMouseYPosition]" />
          <input type="hidden" id="RightEyeMouseXPosition" name="RightEyeMouseXPosition" value="[scratch tryon_RightEyeMouseXPosition]" /> 
          <input type="hidden" id="RightEyeMouseYPosition" name="RightEyeMouseYPosition" value="[scratch tryon_RightEyeMouseYPosition]" />
          <input type="hidden" id="imgheight" name="imgheight" value="[scratch imgheight]" />
          <div id="pd_form">
            <div id="picture_contain" style="display: none;">
              <div id="picture">
                <div class="pupil" id="left_pupil" data="left" style="top: 200px; left: 60px; ">
                    <img class="crop" src="/img/tryon/pupil_round.png">
                  </div>
                  <div class="pupil" id="right_pupil" data="right" style="top: 210px; left: 150px; ">
                    <img class="crop" src="/img/tryon/pupil_round.png">
                  </div>
                  <img id="cursor" src="/img/tryon/mouse.png" style="top: 217px; left: 158px; display: none; ">
              </div>
              <div id="picture_links">
                <a href="#" id="replayImage">Replay</a>
                <a href="#" id="hideImage">Hide</a>
              </div>
            </div>
            <div id="enter_pd">
              <div style="width: 65%; float: left;">
                <p>
                  <span style="text-decoration:underline;">Optional:</span> 
                  For the most accurate frame sizing, please enter your Pupillary Distance (PD).
                  <a href="#" class="pd_pop">(Help)</a>
                </p>
              </div>
              <div style=" width: 25%;float: right; text-align: right;">
                <p>Enter PD: 
                <select id="mv_order_pupd" name="mv_order_pupd" onchange="errClear([cgi step]);">
                  <option value=""></option>
                  [calcn]
                    $Scratch->{pd} ||= 61;
                    $r = '';
                    for( $pd=38; $pd<=88; $pd+=.5 ){
                      $r .= "<option value='$pd'";
                      $r .= ' selected="selected"' if ($Values->{mv_order_pupd} eq $pd);
                      $r .= ">$pd</option>";
                    }
                    return $r;
                  [/calcn]
                </select>
                </p>
              </div>
            </div>
            [comment]
            Ugly image of pupils
            <div style="width: 328px; overflow: hidden; margin: 0 auto">
                <img src="/img/tryon/Step3/Step3/Step3Eyes.png" border=0 />
            </div>
            [/comment]
          </div>
          <br style="clear: both;" />
          [scratchd msg]
          [if type=explicit compare="[error all=1 show_var=1 keep=1]"]Error
            <div style="margin: 4px;">
              [error name=RightEyeMouseXPosition std_label="Right Eye Position" required=1]
              [error name=LeftEyeMouseXPosition std_label="Left Eye Position" required=1]
            </div>
          [/if]
        
          <br style="clear: both;" />
          <div id="warningdisplay" style="text-align: left; position: absolute; top: 419px; left: 440px; width: 320px; display: none">
            <div style="margin: 0;">
              <img src="/store/images/tryon-warning.jpg" border=0 />
            </div>
            <div style="margin: 0; text-align: left; padding: 8px; font-weight: bold; border: 1px solid #ba1513; background-color: #fffbd5;">
              [if scratch tryon-dot-error]
                [scratchd tryon-dot-error]
              [else]
                Your eyes may be too close to the edge of the photo.
              [/else]
              [/if]
            </div>
          </div>
          <div id="pddisplay" style="clear: both; padding: 4px; margin: auto; width: 320px; border: 1px solid; background-color: yellow; display: none">
            <h4>What's My PD</h4>
            <p><a href="[area href=|help_topics/about_your_pd.html|]" target="_blank">Pupillary Distance (PD) help</a></p>
          </div>
          <div class="desktop_view" id="previous-link-div">
            <a id="previous-link" href="#">Previous Step</a>
            <input type="image" id="previous_step_but" name="mv_click.previous_step_but" alt="Previous Step" style="display: none" border=0 /> 
          </div>
          <input id="current_step" value="four" type="hidden" type="hidden" />
        </form>
        <h4 class="mobile_view">Use a millimeter ruler to measure the distance between the center of your pupils(the black dots)</h4>
        <img src="/img/tryon/ButtonsOnly/measure.jpg" style="width: 100%"/>
      </div>
    </div>
  </div>
  <div id="switchButton" class="pupil-button mobile_view" style="bottom: 28px;left: 40px;">Enter PD</div>

  <div id="continue-button" class="continue pupil-button" style="bottom:28px; right: 27px; left: auto; opacity: .3; filter: alpha(opacity=30)">
    Continue
  </div>
</div>

<div id="pd_help" style="display: none;">
  <div id="pd_wrap">
    <a class="close" href="#">X</a>
    <br />
    <table border="0" cellpadding="6" cellspacing="0">
          <tbody>
          <tr>
            <td align="left" valign="top">
              <a name="pd"></a>
              <h4>About Your Pupillary Distance (P.D.)</h4>
              
              <p>This measurement is necessary to ensure the correct positioning of your lenses within the frame you have chosen.  Have a friend* measure the distance from the center of the pupil (black dot) in one eye to the center of the pupil in the other eye.  It's like measuring a line connecting the two black dots.  </p>
              
              <p><b>To measure your PD:</b> </p>
              
              <ol>
                <li>Place the millimeter ruler on the bridge of your nose. </li>
                
                <li>Have a friend face you about arms length away. </li>
                
                <li>Have your friend measure the distance between the center of your pupils (the black dots in the middle of your eyes). </li>
                
                <li>(Or you can do it yourself simply by looking in the mirror). </li>
              </ol>
              <br />
              <p align="center" style="color:#ff6600;font-weight:700">
                It's simple -- like playing connect the dots!
                <br /><br />
                <img src="/store/images/pd-picture.gif" alt="PD Image">
              </p>
              
              <p align="center">
              You can also get this information from your doctor or from a licensed optician.
              </p>
              
              <p><b>As a guideline:</b></p>
              
              <ul>
                <li><i>Most</i> adults' PD's are between 55-65.</li>
                <li><i>Most</i> kids' PD's are between 42-54.</li>
              </ul>
  
              <p align="center">* NY and MA residents must have their PD measured by a doctor or licensed optician.</p>
             
              <p><strong>If you had your PD measured for you but there's more than one number:</strong></p>
              
              <p>If you have two different numbers, you have either been given both the Distance/Reading or Right Eye/Left Eye:</p>
              
              <ul>
                <li>If the numbers are higher (and different), like 62/59, then the first number is your Distance PD and the second is your Near PD (for reading-only glasses). </li>
                <li>If the two numbers are lower (and different), like 30.5/31.5, then you had someone take your PD one eye at a time (called "monocular PD"). The first number is for the right eye (O.D.) and the second number is for the left eye (O.S.). If you have a monocular PD available, put it in the "Customer notes" section of the order form and we'll use it.</li>
                <li>If the two numbers are the same, like 30.5/30.5, you can just add them together (61 in this example) and we'll automatically divide it equally.</li>
              </ul>
              <!-- end Content -->
            </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
step_four(
  [filter interpolate='1' op='round.0, digits'][calc][scratch imgwidth]*.25[/calc][/filter], 
  [filter interpolate='1' op='round.0, digits'][calc][scratch imgheight]*.125[/calc][/filter],
  [if value LeftEyeMouseXPosition][value LeftEyeMouseXPosition][else]290[/else][/if],
  [if value LeftEyeMouseYPosition][value LeftEyeMouseYPosition][else]125[/else][/if],
  [if value RightEyeMouseXPosition][value RightEyeMouseXPosition][else]110[/else][/if],
  [if value RightEyeMouseYPosition][value RightEyeMouseYPosition][else]125[/else][/if]
);
[if explicit]
[condition]
  grep $Values->{$_}, qw(RightEyeMouseYPosition RightEyeMouseXPosition LeftEyeMouseYPosition LeftEyeMouseXPosition);
[/condition]
  $('#continue-button').css({
	    opacity: 1,
	    filter: 'alpha(opacity=100)'
	}).data('enabled', 1).find('input').removeAttr('disabled');
[/if]
</script>

[set arrange_dots_profile]
&fail=@@MV_PAGE@@
[/set]

[set arrange_dots_but]
  [set go-arrange-dots]1[/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-upload-image][/set]
  [cgi name=mv_nextpage set='tryon_adjust_glasses' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[set previous_step_but]
  [set tryon-upload-fail][/set]
  [set tryon-show-upload-image][/set]
  [set tryon-show-crop-image]1[/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_crop_image' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[set start_over_but]
  [set tryon-show-upload-image][/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_gather_profile' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[tmp clear_errors][error all=1 comment="Clear errors"][/tmp]
