[if scratchd go-arrange-dots]
    [include include/tryon_arrange]
[/if]
[if cgi adjust]
    [include include/tryon_adjust_save]
[/if]
[include include/tryon_display_settings]
[image-size file="[scratch tryon-bg-path][scratch tryon-bg-image]"]
[if !scratch tryon_tint]
	[set tryon_tint]CLEAR[/set]
[/if]
  
<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p class="previous-link-div redo_button"><</p>
  <p class="help_button redo_button mobile_view">?</p>
</div>
<div id="tryon-popup-body" style="width: 800px; height: [calc][scratch imgheight]+14[/calc]px;">
  <h1 class="mobile_view startHead">Adjust Frame and Tint</h1>
  <div id="tryon-popup-image-container" class="mobileNoFloat" style="width: [scratch imgwidth]px">
      <iframe class="mobileNoFloat" id="tryonToolInnerFrame" name="tryonToolInnerFrame" frameBorder=0 scrolling="no" src="[area tryon_adjust_glasses_innerframe]" style="width: [scratch imgwidth]px; height: [scratch imgheight]px;"></iframe>
  </div>
  <div id="tryon-popup-step-content" class="adjust" style="display: block !important">
    <div class="desktop_view" id="tryon-popup-step-content-header">
      <div id="tryon-popup-step-content-header" style="padding: 0">
        <div class="underHeader">
          <div class="header-wrapper">
            <span id="tryon-step-number">Step 4:</span>
            <span id="tryon-step-description">Adjust frames and tint</span>
          </div>
        </div>
      </div>
    </div>
    <div class="help_text desktop_view" style="display: none;">
      <h1>You can drag the frame with one finger to move it, or turn the frame with two fingers to rotate it.</h1>
    </div>
    <div class="desktop_view" style="width: 350px; margin: 0 auto">
      <div style="margin: 25px 12px 0 0; font-size: 1.2em">
        You can use the arrows below to move and rotate your frames, or click and drag to move the frames into the perfect position.
      </div>
      <div style="clear: both; margin: 0px;">
        <hr style="margin: 0px; margin-top: 18px; color: #b0b0b0; background-color: #b0b0b0; border: none; height: 1px; width: 92%; margin: 3;" />
      </div>
      <div style="float: left; margin: 18px 0 0 34px; text-align: center; "> 
        <div style="margin: auto; text-align: center;"> 
          <a href="#" class="arrowlink" onclick="arrowup(); return false;">
          [strip reparse=0]
            <!--[if IE]><img class="arrow ie-arrow" src="/img/tryon/Step4/arrow-up.png" id="up-arrow" border=0><![endif]-->
            <!--[if !IE]><!--><img class="arrow" src="/img/tryon/Step4/arrow-up.png" id="up-arrow" border=0><!--<![endif]-->
          [/strip]</a>
          <br />
          <a href="#" class="arrowlink" onclick="arrowleft(); return !1;"><img class="arrow" src="/img/tryon/Step4/arrow-left.png" border=0></a>
          <a href="#" class="arrowlink" onclick="arrowdown(); return !1;"><img class="arrow" src="/img/tryon/Step4/arrow-down.png" border=0></a>
          <a href="#" class="arrowlink" onclick="arrowright(); return !1;"><img class="arrow" src="/img/tryon/Step4/arrow-right.png" border=0></a>
        </div>
        <div style="clear: both; margin-top: 8px;">
          <span style="font-size: 0.9em; font-weight: bold;">MOVE GLASSES</span>
        </div>
      </div>
      <div style="float: left; margin: 18px 0 18px 20px; width: 1px; height: 80px; border-left: 1px solid #cccccc;">&nbsp;</div>
      [comment]In IE this div is 2px too low, in chrome it was 2px too high.[/comment] 
      [strip reparse=0]
        <!--[if IE]><div id="rotate-container" class="ie"><![endif]-->
        <!--[if !IE]><!--><div id="rotate-container"><!--<![endif]-->
      [/strip]
        <div style="margin: 0 0 0 4px; width: 110px; "> 
          <div style="float: left; margin: 0 0 8px 0">
            <a href="#" class="rotate" onclick="rotateleft(); return !1;"><img class="rotate-arrow" style="margin: 0 15px 0 0" src="/img/tryon/Step4/rotate-left.png" border=0 /></a>
          </div>
          <div style="float: left; margin: 0 0 8px 0">
            <a href="#" class="rotate" onclick="rotateright(); return !1;"><img class="rotate-arrow" src="/img/tryon/Step4/rotate-right.png" border=0 /></a>
          </div>
        </div>
        <div style="clear: both; margin: 8px 0 0 -11px;">
          <span style="font-size: 0.9em; font-weight: bold;">ROTATE GLASSES</span>
        </div>
      </div>
      <div style="clear: both; margin: 0;">				
        <hr style="clear: both; margin: 0px; margin-top: 30px; color: #b0b0b0; background-color: #b0b0b0; border: none; height: 1px; width: 92%; margin: 3;" />
      </div>
      
    </div>

    [update values]
    <form name="adjust_glasses" id="adjust_glasses" action="[area tryon_display]" method="post">
      [form-session-id]
      <input type="hidden" name="mv_form_profile" value="adjust_glasses_profile" />
      <input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
      <input type="hidden" name="mv_action" value="process" />
      <input type="hidden" name="mv_todo" value="return" />
      <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
      <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
      <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
      <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
      <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
      <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
      <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
      <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
      <input type="hidden" id="RightEyeMouseXPosition" name="RightEyeMouseXPosition" value="[scratch tryon_RightEyeMouseXPosition]" /> 
      <input type="hidden" id="RightEyeMouseYPosition" name="RightEyeMouseYPosition" value="[scratch tryon_RightEyeMouseYPosition]" /> 
      <input type="hidden" id="LeftEyeMouseXPosition" name="LeftEyeMouseXPosition" value="[scratch tryon_LeftEyeMouseXPosition]" />
      <input type="hidden" id="LeftEyeMouseYPosition" name="LeftEyeMouseYPosition" value="[scratch tryon_LeftEyeMouseYPosition]" />
      <input type="hidden" id="pdPixels" name="pdPixels" value="[scratch tryon_pdPixels]" /> 
      <input type="hidden" id="frameAngle" name="frameAngle" value="[scratch tryon_frameAngle]" />
      [seti admin_save_frameAngle][scratch tryon_frameAngle][/seti]
      <input type="hidden" id="noseX" name="noseX" value="[scratch tryon_noseX]" />
      <input type="hidden" id="noseY" name="noseY" value="[scratch tryon_noseY]" />
      <input type="hidden" id="tint" name="tint" value="[scratch tryon_tint]" />
      <input type="hidden" id="tint" name="tryon_tint" value="[scratch tryon_tint]" />
      <input type="hidden" id="tryon_moved_rotation" name="tryon_moved_rotation" value="[scratch tryon_moved_rotation]" />
      <input type="hidden" id="tryon_moved_noseX" name="tryon_moved_noseX" value="[scratch tryon_moved_noseX]" />
      <input type="hidden" id="tryon_moved_noseY" name="tryon_moved_noseY" value="[scratch tryon_moved_noseY]" />
      <input type="image" class="tint-input" id="clear-tint" name="mv_click.clear_but" />
      <input type="image" class="tint-input" id="yellow-tint" name="mv_click.yellow_but" />
      <input type="image" class="tint-input" id="orange-tint" name="mv_click.orange_but" />
      <input type="image" class="tint-input" id="rose-tint" name="mv_click.rose_but" />
      <input type="image" class="tint-input" id="blue-tint" name="mv_click.blue_but" />
      <input type="image" class="tint-input" id="g15-tint" name="mv_click.g15_but" />
      <input type="image" class="tint-input" id="grey-tint" name="mv_click.grey_but" />
      <input type="image" class="tint-input" id="brown-tint" name="mv_click.brown_but" />
      <input type="hidden" name="mv_click" id="mv_click" value="" />
      <input type="hidden" name="imgh" id="imgh" value="[scratch imgheight]" />
      <br style="clear: both;" />
      <div id="tint-options-container">
        Click to change the tint color
        <br />
        <div id="tint-options">
          <div id="clear-tint-button" class="tint-button" data-color="CLEAR" data-button="clear-tint"></div>
          <div id="yellow-tint-button" class="tint-button" data-color="YELLOW" data-button="yellow-tint"></div>
          <div id="orange-tint-button" class="tint-button" data-color="ORANGE" data-button="orange-tint"></div>
          <div id="rose-tint-button" class="tint-button" data-color="ROSE" data-button="rose-tint"></div>
          <div id="blue-tint-button" class="tint-button" data-color="BLUE" data-button="blue-tint"></div>
          <div id="g15-tint-button" class="tint-button" data-color="G15" data-button="g15-tint"></div>
          <div id="grey-tint-button" class="tint-button" data-color="GREY" data-button="grey-tint"></div>
          <div id="brown-tint-button" class="tint-button" data-color="BROWN" data-button="brown-tint"></div>
          <img id="glower" style="display: none" src="/img/tryon/rectangle-hover-blue.png" />
        </div>
        <br style="clear: both" />
      </div>
      <br />
    
      <div id="save-button" class="button">
        [if !variable TRYON_NO_ALBUMS]
          [if !scratch tryon_album_id]
            <input type="text" name="tryon_save_image_title" value="[scratch tryon-orig-bg-image]" />
          [/if]
        [/if]
        Finish
      </div>
    
      <div style="position: absolute; bottom: 10px; right: 10px; margin: 4px"></div>
      <input id="current_step" type="hidden" value="five" />
      <div id="previous-link-div" class="previous_step desktop_view">
        <a href="#" id="previous-link">Previous Step</a>  
        <input type="image" id="previous-button" name="mv_click.previous_step_but" style="display: none" /> 
      </div>
    </form>
  </div>
</div>

[set adjust_glasses_but]
  [set go-adjust-glasses]1[/set]
  [set go-save]1[/set]
  [set adj_save]1[/set]
  [cgi name=mv_nextpage set='tryon_display' hide=1]
[/set]

[set previous_step_but]
  [set go-arrange-dots][/set]
  [set tryon-show-upload-image][/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-arrange-dots]1[/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_arrange_dots' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]
 
[set clear_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_clear]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set brown_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_brown]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set grey_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_grey]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set g15_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_g15]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set blue_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_blue]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set rose_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_rose]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set orange_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_orange]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]
[set yellow_but]
  [set go-adjust-glasses]1[/set]
  [set tryon_yellow]1[/set]
  [cgi name=mv_todo set=return hide=1]
[/set]

[set adjust_glasses_profile]
&fail=@@MV_PAGE@@
[/set]

[tmp clear_errors][error all=1 comment="Clear errors"][/tmp]

[comment]
session ID = [data session id]
tryon_parent_page = [scratch tryon_parent_page]
tryon-bg-path = [scratch tryon-bg-path]
tryon-bg-image = [scratch tryon-bg-image]
tryon_album_id = [scratch tryon_album_id]
previous_tryon_album_id = [scratch previous_tryon_album_id]

tryon_item_code = [scratch tryon_item_code]
tryon_tot_frame_width = [scratch tryon_tot_frame_width]
tryon_scale = [scratch tryon_scale]
tryon_sunglasses = [scratch tryon_sunglasses]
tryon_tint = [scratch tryon_tint]
tryon_noseX = [scratch tryon_noseX]
tryon_noseY = [scratch tryon_noseY]
tryon_frameAngle = [scratch tryon_frameAngle]

frame height: [scratch tryon_frame_height_px]
frame width: [scratch tryon_frame_width_px]

tryon-show-glasses = [scratch tryon-show-glasses]
tryon-show-arrange-dots = [scratch tryon-show-arrange-dots]
tryon-show-crop-image = [scratch tryon-show-crop-image]
tryon-show-upload-image = [scratch tryon-show-upload-image]
tryon_profile = [scratch tryon_profile]

tryon_frameposX = [scratch tryon_frameposX]
tryon_frameposY = [scratch tryon_frameposY]
[/comment]

