[if scratch tryon-upload-fail]
   [bounce href="[area href='tryon_upload_image']"]  
[/if]
[if scratch tryon_album_id]
  [bounce page=error]
[/if]        

[if scratch go-upload]
    [seti cgifile][cgi upload_file][/seti]
    [include include/tryon_upload]
[/if]

[if scratch go-copy-image]
    [seti cgipath][cgi upload_file][/seti]
    [seti cgifile][cgi filename][/seti]
    [include include/tryon_savefile]
[/if]

[image-size file="upload/[data session host]/[data session id]/[scratch tryon-sized-bg-image]"]
<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p class="previous-link-div redo_button"><</p> 
</div>

[if type=scratch term=imgheight op=< compare='375']
  [tmp divh]420[/tmp]
[else]
  [tmp divh][calc][scratch imgheight]+12[/calc][/tmp]
[/else][/if]

<div id="tryon-popup-body" style="width: 800px; height: [scratch divh]px">
  <h1 class="mobile_view startHead">Crop Image( Edit Size )</h1>
  <div class="mobileNoFloat" style="float: left; width: [scratch imgwidth]px; margin: 0px;">
    <div id="outer" style="display: block; float: left; border: none; padding: 0px; padding: 6px; width: [scratch imgwidth]px; height: [scratch imgheight]px;">
      <div class="jcExample">
        <div class="article">
              <img src="/upload/[data session host]/[data session id]/[scratch tryon-sized-bg-image]" width="[scratch imgwidth]"  height="[scratch imgheight]" id="cropbox" />
              [comment]
                    Already checked by upload.
                  [tmp image_exists][calcn] -f $Tag->var('DOCROOT').$Scratch->{sized_filename} ? 1 : 0;[/calcn][/tmp]
                  [if scratch image_exists]
                    
                  [else]
                    [bounce tryon_upload_image?error=1]
                  [/else][/if]
              [/comment]
       </div>
      </div>
    </div>
  </div>
  <div class="crop-button mobile_view">
    Done
  </div>
  <div id="tryon-popup-step-content" class="desktop_view">
    <div id="tryon-popup-step-content-header" style="margin: -15px 0 0 0">
      <div class="underHeader">
        <div class="header-wrapper">
          <span id="tryon-step-number">Step 2:</span>
          <span id="tryon-step-description">Crop Image (Edit Size)</span>
        </div>
      </div>
    </div>
    <div>
      <div id="crop-hints">
        <div>
          Move and resize the box so that your face is inside of the clear area.
        </div>
      </div>
      <p class="larger" style="text-align: center">
        <a href="#" id="resetCrop" class="larger">Click here</a> to reset the cropping box.
      </p>
    </div>
    [update values]
    <form name="crop_image" id="crop_image" action="[process]" method="post">
      [form-session-id]
      <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
      <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
      <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
      <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
      <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
      <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
      <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
      <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
      <input type="hidden" id="x" name="tryon_x" />
      <input type="hidden" id="y" name="tryon_y" />
      <input type="hidden" id="x2" name="tryon_x2" />
      <input type="hidden" id="y2" name="tryon_y2" />
      <input type="hidden" id="w" name="tryon_w" />
      <input type="hidden" id="h" name="tryon_h" />
      <input type="hidden" id="current_step" value="three" />
      <input type="hidden" id="imgheight" name="imgheight" value="[scratch imgheight]" />
      <input type="hidden" name="mv_action" value="process" />
      <input type="hidden" name="mv_click" value="crop_but" />
      <input type="hidden" name="mv_todo" value="return" />
      <br style="clear: both;" />
      <br style="clear: both;" />
    
      <div id="warningdisplay" style="clear: both; padding: 4px; margin: auto; width: 320px; border: 1px solid; background-color: yellow; display: none">
        <h4>Warning:</h4>
        <p>Your crop marks are too small.  Please try again.</p>
      </div>
  
      <div class="crop-button [if scratch imgheight > 400] higher[/if]">
        Crop Image
      </div>
      <div id="previous-link-div" class="previous_step">
        <a href="#" id="previous-link">Previous Step</a>
        <input type="image" name="mv_click.previous_step_but" id="previous_step_but" alt="Previous Step" src="/store/images/tryon-previous-but-blue.jpg" style="display: none" /> 
      </div>
    </form>
    [if scratch tryon-cropped-bg-image]
      [tmp p1]1[/tmp]
    [elsif type="scratch" term="imgwidth" op=">" compare="[scratch imgheight]"] 
        [tmp p1]2[/tmp]
    [/elsif]
    [else]
      [if type="scratch" term="ar" op="<" compare="1.5"] 
        [tmp p1]3[/tmp]
      [else]
        [tmp p1]4[/tmp]	
      [/else]
      [/if]
    [/else]
    [/if]
    
    [if type="scratch" term="imgwidth" op=">" compare="imgh"] 
      [tmp p2]1[/tmp]
    [else]
      [if type="scratch" term="ar" op="<" compare="1.5"]
        [tmp p2]2[/tmp]			
      [else]
        [tmp p2]3[/tmp]	
      [/else]
      [/if]
    [/else]
    [/if]
  </div>
</div>

<script type="text/javascript">
  step_three([calcn]join ',', map{ $Scratch->{$_} || 0} qw(imgwidth imgheight tryon_x tryon_y tryon_x2 tryon_y2 p1 p2) [/calcn]);
</script>
[set crop_but]
  [set go-crop-image]1[/set]
  [cgi name=mv_nextpage set='tryon_arrange_dots' hide=1]
[/set]

[set previous_step_but]
  [set tryon-show-upload-image]1[/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_upload_image' hide=1]
[/set]



