[perl table="products" no_return=1]
	$Scratch->{'tryon_tint'} ||= 'CLEAR';

	#Rather than check the tint everytime, just set a temp var the says if this is a sunglasses picture
	$Tag->tmpn('isSunglasses', $Scratch->{'tryon_tint'} ne 'CLEAR');

	my $category_pages = {
		'eye' => {
			'Rimless' => '14000',
			'Metal' => '11000',
			'Plastic' => '12000',
			'Bendable Titanium' => '15000',
			'Kids' => 'kids-eyeglasses',
			'Semi-Rimless' => 'semi_rimless-eyeglasses',
			'' => '10000',
		},
		'sun' => {
			'Rimless' => 'rimless-sunglasses',
			'Metal' => 'metal-sunglasses',
			'Plastic' => 'plastic-sunglasses',
			'Bendable Titanium' => 'bendable-titanium-sunglasses',
			'Kids' => 'kids-sunglasses',
			'Semi-Rimless' => 'semi_rimless-sunglasses',
			'' => 'rx_sunglasses',
		}
	};

	#Pull relevant product information and store it in a hash for later
	my $product = $Tag->query({ sql => 'SELECT sku, price, image, description, ven_color, category FROM products WHERE sku = ' . $Tag->filter('dbi_quote', $Scratch->{tryon_item_code}), table=>'products', hashref => 1 })->[0];
	map{ $product->{$_} = $Tag->filter('encode_entities', $product->{$_} ) } keys %$product;

	#Create the category page
	$product->{'categoryURL'} = $Tag->area( $category_pages->{ $Scratch->{'isSunglasses'} ? 'sun' : 'eye' }->{ $product->{'category'} } );
	$Tag->tmpn( 'tryon_product', $product );

	$Tag->tmpn( 'noCanonical', 1 );
[/perl]
[tmpn image-path]/store/images/tryon-silhouette.400x600.jpg[/tmpn]
[if type="file-d" term="photos/[scratch tryon_photo_id]"]
	[tmp image-path]/photos/[scratch tryon_photo_id]/[scratch tryon_item_code]_[scratch tryon_tint].jpg[/tmp]
	[tmpn image-exists]1[/tmpn]
[/if]
[tmp page_title]ExactFit&trade; Virtual Try-On by __COMPANY__[/tmp]
[tmp meta_description]Upload your picture and try before you buy![/tmp]
[tmp meta_header]
	<script src="__JQUERY__" type="text/javascript"></script>
	<script src="/javascript/jquery.simplemodal-1.4.1.js" type="text/javascript"></script>
	<script src="/javascript/simplemodal.js" type="text/javascript"></script>
	<meta property="og:image" content="__NORMAL_SERVER__[scratch image-path]" />
	<link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
	<link rel="stylesheet" href="/css/39dg.css" type="text/css" media='screen' />
	<link rel="stylesheet" href="/css/tryon.css" type="text/css" media='screen' />
	__THEME_CSS__
	<style type="text/css">
		body {font-family:helvetica,sans-serif;font-size:12px;}
		a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
		a.stbar.chicklet {height:16px;line-height:16px;}
	</style>
[/tmp]
@_TOP_@

<!-- BEGIN CONTENT -->
<div>
	<div> 
		<img id="tryon-share-image" src="[scratch image-path]" />
    <div id="product-info">
    	[if !scratch image-exists]
				Sorry, this photo has expired.<br />
			[/if]
			[if !scratch isSunglasses]
				[tmp frameimg][image src_only='1' src='items_large/[scratch-hash tryon_product image]' makesize='100x100' check_date='1'][/tmp]
				[tmp frameurl][area href='[scratch tryon_item_code]'][/tmp]
				[tmp frameprice][price code="[scratch-hash tryon_product sku]"][/tmp]
			[else]
				[tmp frameimg][image src_only='1' src='tints/[scratch tryon_item_code]_[scratch tryon_tint].jpg' makesize='100x100' check_date='1'][/tmp]
				[tmp frameurl][area href='sunglasses/[scratch tryon_item_code]'][/tmp]
				[tmp frameprice][price code="[scratch tryon_item_code]" sunonly=1][/tmp]
			[/else][/if]
			<a href="[scratch frameurl]"><img src="items_large/[scratch-hash tryon_product image]" id="product-image" /></a>
			<br />
			<strong>Featured product:</strong> <a href="[scratch frameurl]">[scratch-hash tryon_product description]</a> in [scratch-hash tryon_product ven_color], [scratch frameprice]
			<br />
			<br />
			<div style="text-align: center"><a href="[scratch-hash tryon_product categoryURL]">See more frames like this one</a></div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
@_BOTTOM_@
