<form id="file_upload" name="upload_image" action="//uploads.39dollarglasses.com/upload2.pl" method="POST" enctype="multipart/form-data" style="margin: 0; padding: 0">
  [form-session-id]
  <input type="hidden" name="mv_click" value="upload_but" />      
  <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
  <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
  <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
  <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
  <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
  <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
  <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
  <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
  <input type="hidden" name="server_name" value="[area]" />
  <input type="submit" name="submit" value="submit" id="submit" />
  <div class="fileupload-buttonbar">
    <div id="upload-overlay"></div>
    <input onchange="parent.submitForm();" id="uploadButton" type="file" name="upload_file" value="file[]" maxlength="1" />
  </div>
</form>

