<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p id="start-over-link" class="redo_button">R</p> 
</div>
<div id="tryon-popup-body" style="width: 800px; height: 420px">
  <div class="mobile_view upload">
    <h1 class="mobile_view startHead">Head-On Face Image</h1>
    <div class="button upload_photo">
      <h2>Take A Selfie</h2>
      <img src="/img/tryon/ButtonsOnly/selfie.gif"/>
    </div>
    <div class="button upload_photo">
      <h2>Upload Image</h2>
      <img src="/img/tryon/ButtonsOnly/uploadPhoto.jpg"/>
    </div>
    <div class="button use_photo">
      <h2>Use Our Sample</h2>
      <img src="/img/tryon/ButtonsOnly/useSample.jpg"/>
    </div>
  </div>

  <div class="desktop_view">
    <div id="hideupload">
      <img id="uploadimage" src="/img/tryon/tryon-silhouettev2.jpg" />
    </div>
    
    <div id="hideright"> 
      <div class="header-wrapper">
        <div id="tryon-step-number">Step 1:</div>
        <div id="tryon-step-description">Upload an Image</div>
        <br style="clear: both" />
      </div>
    
      <div id="uploadexamples">
        <img src="/store/images/tryon-upload-examples.jpg" />
      </div>
    </div>

    [if scratch tryon-upload-fail]
      [set tryon-upload-fail][/set]
      <div id="errormsg" style="text-align: left; margin-top: 11px; width: 100%;">
        <div style="margin: 0;">
          <img style="margin: 0;" src="/store/images/tryon-step-2-error.jpg" border="0">
        </div>
        <div style="margin: 0; text-align: left; padding: 8px; font-weight: bold; border: 1px solid #ba1513; background-color: #fffbd5;">
          [scratchd msg]
        </div>
      </div>
    [/if]
  </div>
  [comment]
  =====================================
  = Commenting out album related code =
  =====================================
  
    [if session login_table eq 'userdb']
    [seti album-count][query
      type=row_count
      table=tryon_albums
      sql=|
    SELECT code FROM tryon_albums 
    WHERE username = '[data session username]'
    ORDER BY created DESC
    |]
    [/query][/seti]
    [/if]
    
    [if type=scratch term=album-count op=">=" compare="__TRYON_ALBUM_LIMIT__"]
      [set album-limit]1[/set]
    [else]
      [set album-limit][/set]
    [/else]
    [/if]
  [/comment] 
        
  [if scratch upload-limit]
		<div style="margin: 0px; position:absolute; top: 50px; left: 102px;" class="mobileNoAbsolute">
			<h1>Please visit again later</h1>
		</div>
  [elsif scratch album-limit]
		<div style="margin: 0px; position:absolute; top: 50px; width: 360px; padding: 20px; text-align: center;" class="mobileNoAbsolute">
			<h1>Too Many Photos</h1>
			Please remove at least <a href="#" onclick="parent.location.href = '[area href=|tryon_albums|]'">one of your photos</a> before you can upload more.
		</div>
  [/elsif]
  [else]
    [set go_gather_profile][/set]
      <div id="fileupload" class="desktop_view">
        [update values]
        
        <form id="file_upload" name="upload_image" action="//uploads.39dollarglasses.com/upload.pl" method="POST" enctype="multipart/form-data" style="margin: 0; padding: 0">
          [form-session-id]
          <input type="hidden" name="mv_click" value="upload_but" />  
          <input type="hidden" name="mv_action" value="process" />  
          <input type="hidden" name="mv_todo" value="return" />  
          <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
          <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
          <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
          <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
          <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
          <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
          <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
          <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
          <input type="submit" value="submit" id="submit" style="display: none;" />
          <div class="fileupload-buttonbar desktop_view">
            <div id="upload-overlay"></div>
            <div class="use_photo" style="cursor: pointer;
    position: absolute;
    top: 190px;
    left: 86px;
    width: 192px;
    height: 42px;
    text-align: center;
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;">
              <span style="height: 40px;display: inline-block; line-height: 40px">Use Our Sample </span>
              <img src="/img/tryon/ButtonsOnly/useSample.jpg" style="height: 37px;float: left;margin: 1px 0px 0px 6px;" />
            </div>
            <input id="uploadButton" type="file" style="display: none;" name="upload_file" accept="image/*;capture=camera" />
          </div>
        </form>
        <form name="form_navigation" action="[process]" method="post">
          [form-session-id]
          <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
          <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
          <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
          <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
          <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
          <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
          <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
          <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
          <input type="hidden" id="current_step" value="two" />
          <div id="previous-link-div" class="start-over">
            <a id="start-over-link" href="#" class="no-line">Start Over</a>
            <!--
            <input type="submit" id="start_over_button" name="mv_click.start_over_but" style="display: none"/>
            -->
            <input type="image" 
              id="previous_step_but"
              name="mv_click.previous_step_but" 
              alt="Start Over"
              style="display: none"
              src="/store/images/tryon-start-over-but-blue.jpg" 
              border=0
            /> 
          </div>
        </form>
        <br style="clear: both;">
      </div>
      [set upload_image]
      upload_file=required required
      &fail=@@MV_PAGE@@
      [/set]
      
      [set upload_but]
        [set go-upload]1[/set]
        [cgi name=mv_todo set=return hide=1]
      [/set]
  </div> [comment]End File Upload Div[/comment]
  [/else][/if]
</div>    
<div id="image_preload">
    <img alt="Upload" src="/img/tryon/upload-button-hover.png" />
</div>
[if cgi error]
  <div id="error_display" style="text-align: center; line-height: 1.5em;">
    <h3>There was a problem with the image you uploaded!</h3>
    [if cgi small]
      Unfortunately, the image you provided is too small ([cgi width] pixels wide by [cgi height] pixels tall). The image must be at least 333 pixels wide by 500 pixels tall. Both image size requirements must be met to be used with our ExactFit&trade; system.
    [else]
      Unfortunately, there was a problem using the image you provided. If the problem persists please try another image.
    [/else][/if]
    <br />
    <a href="#" class="close" style="padding-top: 10px;">Close</a>
  </div>
[/if]

[set previous_step_but]
  [set tryon-show-upload-image][/set]
  [set tryon-show-crop-image][/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_gather_profile' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[set next_but]
  [set tryon-show-upload-image][/set]
  [set tryon-show-crop-image]1[/set]
  [set tryon-show-arrange-dots][/set]
  [set tryon-show-glasses][/set]
  [cgi name=mv_nextpage set='tryon_crop_image' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]

[tmp clear_errors][error all=1 comment="Clear errors"][/tmp]


