<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit&reg; Virtual Try-On</p>
  <p id="tryon-popup-header-close" class="close_dialog">X</p>
  <p class="previous-link-div redo_button"><</p> 
</div>

<div id="tryon-popup-body" class="model_sample" style="width: 800px; height: 420px">
	<h1 class="startHead">Try our models</h1>
	<div class="model_nav">
		<a href="#" data-class="item">All</a> | <a href="#" data-class="men">Men</a> | <a href="#" data-class="women">Women</a> | <a href="#" data-class="child">Child</a>
	</div>
	<div id="sample_photo">
		<ul>
			[loop list="1 2 3 4 5 6 7 8"]
				[tmp shapeimg][image src_only="1" src="models/male[loop-code].png" makesize="400x600"][/tmp]
				[tmp shapeThumbImg][image src_only="1" src="models/male[loop-code].png" makesize="200x300"][/tmp]

				[if scratch shapeimg]
					<li class="item men"><a href="#"><img data-file-name="male[loop-code].png" data-src="[scratch shapeimg]" src="[scratch shapeThumbImg]" alt="Male Face Shape [loop-code]" /></a></li>
				[/if]
			[/loop]
			[loop list="1 2 3 4 5 6"]
				[tmp shapeimg][image src_only="1" src="models/female[loop-code].png" makesize="400x600"][/tmp]
				[tmp shapeThumbImg][image src_only="1" src="models/female[loop-code].png" makesize="200x300"][/tmp]

				[if scratch shapeimg]
					<li class="item women"><a href="#"><img data-file-name="female[loop-code].png" data-src="[scratch shapeimg]" src="[scratch shapeThumbImg]" alt="Male Face Shape [loop-code]" /></a></li>
				[/if]
			[/loop]
			[loop list="1 2 3"]
				[tmp shapeimg][image src_only="1" src="models/female[loop-code].png" makesize="400x600"][/tmp]
				[tmp shapeThumbImg][image src_only="1" src="models/female[loop-code].png" makesize="200x300"][/tmp]

				[if scratch shapeimg]
					<li class="item child"><a href="#"><img data-file-name="female[loop-code].png" data-src="[scratch shapeimg]" src="[scratch shapeThumbImg]" alt="Male Face Shape [loop-code]" /></a></li>
				[/if]
			[/loop]
		</ul>
	</div>
	[if scratch tryon_profile eq 'man']

	[/if]
	[if scratch tryon_profile eq 'woman']

	[/if]
	[if scratch tryon_profile eq 'child']

	[/if]
	[update values]
	[set go-copy-image]1[/set]
	 <form name="currentImage" id="currentImage" action="[process]" method="post">
      [form-session-id]
      <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
      <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
      <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
      <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
      <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
      <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
      <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
      <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />
      <input type="hidden" id="current_step" value="two" />
    </form>
</div>