[include include/tryon_display_settings]

[image-size file="[scratch tryon-bg-path][scratch tryon-bg-image]"]

<div id="tryon-popup-header">
  <p id="tryon-popup-header-left">ExactFit</p>
  <p id="tryon-popup-header-close" class="close_dialog">X Close</p>
</div>

<div style="position: absolute; top: 40px; clear: both; width: 400px; padding: 12px; height: [scratch imgheight]px; margin: auto; border-left: 10px solid #054864; border-right: 10px solid #054864; border-bottom: 10px solid #054864; background: #fff;">
  <iframe id="tryonLgDisplayInnerFrame" name="tryonLgDisplayInnerFrame" frameBorder="0" scrolling="no"
    src="[area tryon_large_display_innerframe]"
    style="display: block;
                        float: left; 
                        border: 1px solid;
                        padding: 0px;
                        background: white;
                        margin: 0px;
                        overflow:hidden;
                        width: [scratch imgwidth]px;
                        height: [scratch imgheight]px;"
          >
  </iframe>
  <input type="hidden" name="imgh" id="imgheight" value+"[scratch imgheight]" />
</div>
<script type="text/javascript">
$(function(){
     $('.close_dialog,#modal_overlay').unbind('click').click(function(e){
        e.preventDefault();
        $('#contentHolder').fadeOut('fast', function(){
           $('#contentHolder').css('width','820px');
        }); 
        $('#modal_overlay').hide();
     });
     $('#contentHolder').click(function(e){
      e.stopPropagation();
      return !1;
     })
});
</script>

[comment]

source = 
[image src_only=|1| 
                 src=|/store/images/items_tryon/[scratch tryon_item_code]_[scratch tryon_tint].png| 
                 makesize=|[filter interpolate='1' op='round.0, digits'][calc][scratch tryon_scale]*50[/calc][/filter]%|]
                 <br>
code-tint= [scratch tryon_item_code]_[scratch tryon_tint]<br>

[if value tryon_bouncepage]
tryon_bouncepage = [value tryon_bouncepage]<br>
[/if]
session ID = [data session id]<br>
tryon_album_id = [scratch tryon_album_id]<br>
item-in-album = [scratch item-in-album]<br>
previous_tryon_album_id = [scratch previous_tryon_album_id]<br>

tryon_parent_page = [scratch tryon_parent_page]<br>
tryon-bg-path = [scratch tryon-bg-path]<br>
tryon-bg-image = [scratch tryon-bg-image]<br>
tryon_item_code = [scratch tryon_item_code]<br>
tryon_tot_frame_width = [scratch tryon_tot_frame_width]<br>
tryon_scale = [scratch tryon_scale]<br>
tryon_sunglasses = [scratch tryon_sunglasses]<br>
tryon_tint = [scratch tryon_tint]<br>
tryon_noseX = [scratch tryon_noseX]<br>
tryon_noseY = [scratch tryon_noseY]<br>
tryon_frameAngle = [scratch tryon_frameAngle]<br>
<br>
tryon-show-glasses = [scratch tryon-show-glasses]<br>
tryon-show-arrange-dots = [scratch tryon-show-arrange-dots]<br>
tryon-show-crop-image = [scratch tryon-show-crop-image]<br>
tryon-show-upload-image = [scratch tryon-show-upload-image]<br>
tryon_profile = [scratch tryon_profile]<br>
[/comment]


