[if variable TRYON_KILLSWX]
 [if type=session term=host op=ne compare="__TRYON_KILLSWX__"]
    [bounce page="index"]
  [/if]
[/if]
[if variable TRYON_NO_ALBUMS]
  [bounce page="index"]
[/if]

[if !session arg]
  [bounce page="tryon_login-noarg"]
[/if]
[if session login_table ne 'userdb']
  [bounce page="login"]
[/if]

[set go-view-album-page][/set]


  [seti album-count][query
    type=row_count
    table=tryon_albums
    sql=|
  SELECT code FROM tryon_albums 
  WHERE username = '[data session username]'
  ORDER BY created DESC
  |]
  [/query][/seti]


[if type="explicit" compare="q{[data table='tryon_albums' column='code' key='[data session arg]']}"]
[else]
   [if type=scratch term=album-count op=">" compare="0"]
     [bounce page="tryon_albums"]
   [else]
     [bounce page="index"]
   [/else]
   [/if]
[/else]
[/if]



[tmp page_title]__COMPANY__ -- My Photo Album[/tmp]
[tmp meta_header]
<script src="__JQUERY__" type="text/javascript"></script>
[comment]
<script type="text/javascript"> $.noConflict(); </script>
[/comment]
    <script src="/javascript/jQueryRotate.1.7.js" type="text/javascript"></script>
    <script src="/javascript/jquery.simplemodal-1.4.1.js" type="text/javascript"></script>
    <script src="/javascript/simplemodal.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
</style>



[/tmp]

@_TOP_@

<!-- BEGIN CONTENT -->



[fly-list 
    code="[data session arg]" 
    onfly=1 
    base="tryon_albums"
    ]

  [set tryon_parent_page]albumpage[/set]
  
  [seti tryon_album_id][data session arg][/seti]
  [set tryon-show-display-frame]1[/set]

  [seti tryon-bg-path]tryon_albums/[scratch tryon_album_id]/[/seti]
  [seti tryon-bg-image][data table='tryon_albums' column='filename' key='[scratch tryon_album_id]'][/seti]
  [seti tryon-bg-description][data table='tryon_albums' column='description' key='[scratch tryon_album_id]'][/seti]
  [image-size file="[scratch tryon-bg-path][scratch tryon-bg-image]"]

  [seti tryon_RightEyeMouseXPosition][data table='tryon_albums' column='righteyemousexposition' key='[scratch tryon_album_id]'][/seti]
  [seti tryon_RightEyeMouseYPosition][data table='tryon_albums' column='righteyemouseyposition' key='[scratch tryon_album_id]'][/seti]
  [seti tryon_LeftEyeMouseXPosition][data table='tryon_albums' column='lefteyemousexposition' key='[scratch tryon_album_id]'][/seti]
  [seti tryon_LeftEyeMouseYPosition][data table='tryon_albums' column='lefteyemouseyposition' key='[scratch tryon_album_id]'][/seti]
  [seti tryon_pd][data table='tryon_albums' column='pd' key='[scratch tryon_album_id]'][/seti]  
  [seti tryon_pdPixels][data table='tryon_albums' column='pdpixels' key='[scratch tryon_album_id]'][/seti] 
  [seti tryon_profile][data table='tryon_albums' column='profile' key='[scratch tryon_album_id]'][/seti]
  
  [calc]$Scratch->{album_[scratch tryon_album_id]_RightEyeMouseXPosition} = [scratch tryon_RightEyeMouseXPosition]; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_RightEyeMouseYPosition} = [scratch tryon_RightEyeMouseYPosition]; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_LeftEyeMouseXPosition} = [scratch tryon_LeftEyeMouseXPosition]; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_LeftEyeMouseYPosition} = [scratch tryon_LeftEyeMouseYPosition]; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_pdPixels} = [scratch tryon_pdPixels]; return; [/calc]

  [calcn]
  delete @{$Scratch}{ grep { /^frame_.*_sun_angle$/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^frame_.*_sun_noseX$/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^frame_.*_sun_noseY$/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^frame_.*_angle$/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^frame_.*_noseX$/ } keys %$Scratch};
  delete @{$Scratch}{ grep { /^frame_.*_noseY$/ } keys %$Scratch};
  return;
  [/calcn]
  
      <div id="tryon-modal-warning"> 
      <iframe id="tryonWarningFrame" name="tryonWarningFrame" frameBorder="0" scrolling="no"
        style="display: block; position: relative; margin: 0px; padding: 0px; border: 1px solid #aaaaaa;" 
        width="100%"
          height="250px"
          width="420px"
          src="[area href=|tryon_warning_delete| arg=|[scratch tryon_album_id]|]"
        >
      Please upgrade your browser to one that can use the iframe tag.
      </iframe>
    </div>
    
  
<div>

[if scratch tryon-bg-description]
<h1 class="bc03 bc13" style="text-align: center; margin: 0;">[scratch tryon-bg-description]</h1>
[/if]
  

  <p style="text-align: center;">
  [if type=scratch term=album-count op=">" compare="1"]
   <a href="[area tryon_albums]"><img src="[image src_only=|1| src=|/store/images/tryon-view-albums.jpg|]" 
                border="0"
                style="cursor: pointer;"
                alt="View My Other Photos"
                ></a>
  [/if]

   
   <img src="[image src_only=|1| src=|/store/images/tryon-delete-all-frames.jpg|]" 
                border="0"
                style="cursor: pointer;"
                alt="Delete This Photo and Frames"
                onclick="document.getElementById('tryonWarningFrame').src = '[area href=|tryon_warning_delete| arg=|[scratch tryon_album_id]|]';
                //document.location=document.location;
                popupWarning();">
   </p>
              
       
    
    


[set tryon_item_code][/set]
[set tryon_scale][/set]
[set tryon_frameAngle][/set]
[set tryon_noseX][/set]
[set tryon_noseY][/set]
[set tryon_sunglasses][/set]
[set tryon_tint][/set]
[set tryon_frameposX][/set]
[set tryon_frameposY][/set]


  [query
    type=list
    prefix=tryon_items
    list_prefix=tryon_items_list
    sql=|SELECT code, 
                album_code, 
                username,
                sku,
                sunglasses,
                frameangle,
                nosex,
                nosey,
                tint
         FROM tryon_items 
         WHERE album_code = '[scratch tryon_album_id]'
         AND username = '[data session username]'
         ORDER BY sort DESC
         |
    more=""
    ml="100"
    form=|mv_session_id=[data session id]
          mv_arg=[value mv_arg]|
  ]
[tryon_items_list-no-match]

<div>
    You currently don't have any items in your album.  You may browse the website and click "Add To My Album" button.
</div>
<div>
    <img src="[image src_only=|1| src=|/[scratch tryon-bg-path][scratch tryon-bg-image]| 
                                              makesize=|50%|]"
     border="0">
</div>
    
[/tryon_items_list-no-match]
    
[tryon_items_list-on-match]
<div style="clear: both; width: 900px; margin: auto; text-align: center; border: solid 1px;">

[comment]
<div style="float: left; margin: 0; background-color: #FFFFFF; z-index: 9999; width:20px;"> &nbsp;
</div>
[/comment]
[/tryon_items_list-on-match]

[tryon_items_list]

  [seti tryon_item_code][tryon_items-param sku][/seti]
  [seti tryon_sunglasses][tryon_items-param sunglasses][/seti]
  [seti tryon_suntint][data table='products' column='suntint' key='[scratch tryon_item_code]'][/seti]
  [seti tryon_tot_frame_width][data table='products' column='tot_frame_width' key='[scratch tryon_item_code]'][/seti]

  [if scratch tryon_sunglasses]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_sun_angle} = '[tryon_items-param frameangle]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_sun_noseX} = '[tryon_items-param nosex]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_sun_noseY} = '[tryon_items-param nosey]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_sun_tint} = '[tryon_items-param tint]'; return; [/calc]
  [else]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_angle} = '[tryon_items-param frameangle]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_noseX} = '[tryon_items-param nosex]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_noseY} = '[tryon_items-param nosey]'; return; [/calc]
    [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_tint} = '[tryon_items-param tint]'; return; [/calc]
  [/else]
  [/if]

[comment]
  [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_angle} = '[tryon_items-param frameangle]'; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_noseX} = '[tryon_items-param nosex]'; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_noseY} = '[tryon_items-param nosey]'; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_sunglasses} = '[tryon_items-param sunglasses]'; return; [/calc]
  [calc]$Scratch->{album_[scratch tryon_album_id]_frame_[tryon_items-param sku]_tint} = '[tryon_items-param tint]'; return; [/calc]
[/comment]


  [image-size file="../../www/html/store/images/items_tryon/[scratch tryon_item_code]_CLEAR.png"]
  [seti tryon_frame_height_px][scratch imgheight][/seti]
  [seti tryon_frame_width_px][scratch imgwidth][/seti]
  [include include/tryon_display_settings]

  [image-size file="[scratch tryon-bg-path][scratch tryon-bg-image]"]

<div style="float: left; margin: 12px;">



	[query type=list 
		prefix=item_detail 
		list_prefix=item_detail_list 
		sql=|SELECT sku, price, description, ven_color
		     FROM products 
		     WHERE sku = "[scratch tryon_item_code]" 
		     LIMIT 0,1|
	]
	[item_detail_list] 
		[if scratch tryon_sunglasses]
			[tmp frameprice][price code="[scratch tryon_item_code]" sunonly=1][/tmp]
		[else]
			[tmp frameprice][price code="[scratch tryon_item_code]"][/tmp]
		[/else]
		[/if]

		<div>
			<p class="title"><a href="[area href='[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]']" 
				class="title">[item_detail-filter entities][item_detail-param description][/item_detail-filter]
				[item_detail-filter entities][item_detail-param ven_color][/item_detail-filter]</a></p>
				[comment]
				<p class="price">[scratch frameprice] [if scratch tryon_sunglasses] - sunglasses[/if]</p>
				[/comment]
		</div>

	[/item_detail_list]
	[/query]      
			


			
<div style="display: block; 
            float: left; 
            border: none;
            padding: 0px;
            overflow:hidden;
            background: white;
            width: [calc][scratch imgwidth]/2[/calc]px;
            height: [calc][scratch imgheight]/2[/calc]px;">
            
<div style="display: block; 
            float: left; 
            border: none;
            padding: 0px;
            overflow:hidden;
            background: white;
            width: [calc][scratch imgwidth]/2[/calc]px;
            height: [calc][scratch imgheight]/2[/calc]px;">
                      
<div id="page_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]" style="display: block; 
                      float: left; 
                      border: none;
                      padding: 0px;
                      overflow:hidden;
                      background: white;
                      background-image: url('[image src_only=|1| 
                                              src=|/[scratch tryon-bg-path][scratch tryon-bg-image]| 
                                              makesize=|50%|]');
                      background-repeat: no-repeat;
                      width: [calc][scratch imgwidth]/2[/calc]px;
                      height: [calc][scratch imgheight]/2[/calc]px;">


  <div id="tryframepos_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]" 
       style="position:absolute; 
            
            display: block;
            top: -500px;
            left: -500px;
            margin: 0px;
            padding: 0px;">
            
    <a href="[area href='[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]']"><img 
                 id="tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]"
                 [if session browser !~ /MSIE/]style="display: none;"[/if]          
                 src="[image src_only=|1| 
                             src=|/store/images/items_tryon/[scratch tryon_item_code]_[scratch tryon_tint].png| 
                             makesize=|[filter interpolate='1' op='round.0, digits'][calc][scratch tryon_scale]*50[/calc][/filter]%|
                       ]" 
     border="0"></a>

     
<script type="text/javascript">
$(window).load(function() {
var p = $('#page_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').position();
        $('#tryframepos_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').animate({
           left: Math.round(p.left + ([scratch tryon_frameposX]/2)),
           top: Math.round(p.top + ([scratch tryon_frameposY]/2)), 
           }, 0, function() {
             // Animation complete.
        $('#tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').rotate([scratch tryon_frameAngle]);
        document.getElementById('page_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').style.overflow = 'hidden';
        [if session browser !~ /MSIE/]$('#tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').fadeIn(500);
        [else]$('#tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').fadeIn(500);
        [/else][/if]
           });



});

$(window).resize(function() {
var p = $('#page_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').position();
        $('#tryframepos_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').animate({
           left: Math.round(p.left + ([scratch tryon_frameposX]/2)),
           top: Math.round(p.top + ([scratch tryon_frameposY]/2)), 
           }, 0, function() {
             // Animation complete.
        $('#tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').rotate([scratch tryon_frameAngle]);
        document.getElementById('page_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').style.overflow = 'hidden';
        [if session browser !~ /MSIE/]$('#tryframe_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').fadeIn(500);
        [else]document.getElementById('tryframepos_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]').style.display = 'block';
        [/else][/if]
           });
});
</script>

  </div>

</div>
</div>
</div>

  <form name="album_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]_actions" action="[process]" method="POST" />
    [form-session-id]
    <input type="hidden" name="mv_arg" value="[value mv_arg]" />
    <input type="hidden" name="tryon_parent_page" value="[scratch tryon_parent_page]" />
    <input type="hidden" name="tryon_item_code" value="[scratch tryon_item_code]" />
    <input type="hidden" name="tryon_sunglasses" value="[scratch tryon_sunglasses]" />
    
    <input type="hidden" name="tryon_suntint" value="[scratch tryon_suntint]" />
    <input type="hidden" name="tryon_tot_frame_width" value="[scratch tryon_tot_frame_width]" />
    <input type="hidden" name="tryon_frame_height_px" value="[scratch tryon_frame_height_px]" />
    <input type="hidden" name="tryon_frame_width_px" value="[scratch tryon_frame_width_px]" />
    
    <input type="hidden" name="mv_click" value="delete_glasses_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]" />
    
    <input type="hidden" name="tryon_profile" value="[scratch tryon_profile]" />

    <div style="clear: both; margin: 0; margin-bottom: -4px;">
      <a style="margin: 0;" href="[area href='[if scratch tryon_sunglasses]sunglasses/[/if][scratch tryon_item_code]']"><img 
                src="[image src_only=|1| src=|/store/images/tryon-adjust-frames-tint.jpg|]" 
                border="0"
                style="cursor: pointer; margin: 0;"
                alt="Adjust Frames and Tint"></a>
    </div>
    <div style="clear: both; margin: 0;">
    <input style="margin: 0;" type="image"  
           alt="Delete These Frames"
           src="[image src_only=|1| src=|/store/images/tryon-remove-frames.jpg|]" 
           border="0"> 
    </div>
    </form>

[set name="delete_glasses_[scratch tryon_item_code][if scratch tryon_sunglasses]_sunglasses[/if]"]
  [seti tryon_parent_page][cgi tryon_parent_page][/seti]
  [seti tryon_item_code][cgi tryon_item_code][/seti]
  [seti tryon_sunglasses][cgi tryon_sunglasses][/seti]
  [seti tryon_suntint][cgi tryon_suntint][/seti]
  [seti tryon_tot_frame_width][cgi tryon_tot_frame_width][/seti]
  [seti tryon_frame_height_px][cgi tryon_frame_height_px][/seti]
  [seti tryon_frame_width_px][cgi tryon_frame_width_px][/seti]
  [seti tryon_profile][cgi tryon_profile][/seti]
  [set go-delete-glasses]1[/set]
  [cgi name='mv_nextpage' set='../special_pages/tryon_process' hide=1]
  [cgi name=mv_todo set=return hide=1]
[/set]
    




[comment]
session ID = [data session id]<br>
tryon_album_id = [scratch tryon_album_id]<br>
item-in-album = [scratch item-in-album]<br>
tryon_parent_page = [scratch tryon_parent_page]<br>
tryon-bg-path = [scratch tryon-bg-path]<br>
tryon-bg-image = [scratch tryon-bg-image]<br>
tryon_item_code = [scratch tryon_item_code]<br>
tryon_tot_frame_width = [scratch tryon_tot_frame_width]<br>
tryon_scale = [scratch tryon_scale]<br>
tryon_sunglasses = [scratch tryon_sunglasses]<br>
tryon_tint = [scratch tryon_tint]<br>
tryon_noseX = [scratch tryon_noseX]<br>
tryon_noseY = [scratch tryon_noseY]<br>
tryon_frameAngle = [scratch tryon_frameAngle]<br>
tryon_frameposX = [scratch tryon_frameposX]<br>
tryon_frameposY = [scratch tryon_frameposY]<br>
<br>
tryon-show-glasses = [scratch tryon-show-glasses]<br>
tryon-show-arrange-dots = [scratch tryon-show-arrange-dots]<br>
tryon-show-crop-image = [scratch tryon-show-crop-image]<br>
tryon-show-upload-image = [scratch tryon-show-upload-image]<br>
tryon_profile = [scratch tryon_profile]<br>
[/comment]


</div>

[comment]
<div style="float: left; margin: 0; background-color: #FFFFFF; z-index: 9999; width:20px;"> &nbsp;
</div>
[/comment]

[/tryon_items_list]

[tryon_items_list-on-match]
<br style="clear: both;" />
</div>
[/tryon_items_list-on-match]


[tryon_items_list-more-list]
<div style="margin: auto;">
 [matches] of [match-count].
<BR>[decade-prev] [/decade-prev] [more] [decade-next] [/decade-next]<BR>
</div>
[/tryon_items_list-more-list]

[/query]

</div>


[/fly-list]

<br style="clear: both;" />



<!-- END CONTENT -->

@_BOTTOM_@

