

[tmp page_title]__COMPANY__ -- My Photo Album[/tmp]
[tmp meta_header]








<script type="text/javascript" src="/javascript/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-ui-1.8.13.min.js"></script>
<script type="text/javascript" src="/javascript/jquery-ui-1.8.13.css"></script>



<script src="__JQUERY__" type="text/javascript"></script>
<script type="text/javascript" src="/javascript/jquery.dependClass.js"></script>



	<link rel="stylesheet" href="/javascript/jslider.css" type="text/css">
	<link rel="stylesheet" href="/javascript/jslider.blue.css" type="text/css">
	<link rel="stylesheet" href="/javascript/jslider.plastic.css" type="text/css">
	<link rel="stylesheet" href="/javascript/jslider.round.css" type="text/css">
	<link rel="stylesheet" href="/javascript/jslider.round.plastic.css" type="text/css">

	<script type="text/javascript" src="/javascript/jquery.slider-min.js"></script>
	
	<style type="text/css" media="screen">
	  body { background: #EEF0F7; }
	 .layout { padding: 50px; font-family: Georgia, serif; }
	 .layout-slider { margin-bottom: 60px; width: 350px; }
	 .layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
	 .layout-slider-settings pre { font-family: Courier; }
	</style>
	

[/tmp]

@_NOLEFT_TOP_@

<!-- BEGIN CONTENT -->






  <div class="layout">
    <div class="layout-slider">
      <input id="SliderSingle" type="slider" name="mv_order_pupd" value="[value mv_order_pupd]" />
    </div>
    <script type="text/javascript" charset="utf-8">
      jQuery("#SliderSingle").slider({ from: 35, to: 90, step: 1,
      								scale: [35, '|', '|', '|', '|',
      										40, '|', '|', '|', '|',
      										45, '|', '|', '|', '|',
      										50, '|', '|', '|', '|',
      										55, '|', '|', '|', '|',
      										60, '|', '|', '|', '|',
      										65, '|', '|', '|', '|', 
      										70, '|', '|', '|', '|',
      										75, '|', '|', '|', '|',
      										80, '|', '|', '|', '|',
      										85, '|', '|', '|', '|',
      										90],
      								
      								dimension: '<small>mm</small>'
      								//onstatechange: ,
      								//callback: document.getElementById('tryon_moved_noseX').value = (moveX - p.left);
      });
    </script>
  </div>
<br style="clear: both;" />

[comment]
  [/comment]
  



<!-- END CONTENT -->

@_NOLEFT_BOTTOM_@

