[comment]
ui_page: website-issues.html
ui_type: page
ui_name: website-issues.html
ui_page_template: primary
ui_source: pages/website-issues.html
ui_template: Yes
ui_template_name: primary
[/comment]
[tmp page_title]Website Issues - __COMPANY__[/tmp]
[if var CAMP]
	[tmp varcamp]1[/tmp]
[else]
	[tmp varcamp][/tmp]
[/else][/if]
[tmp meta_header]
<style type="text/css">
  #live-support{ margin: 10px auto; width: 350px; border: 1px solid black; padding: 10px }
  #support-link{ width: 185px; margin: 5px auto }

  #bug-report-form{ width: 355px; margin-left: 30px; }
  #bug-report-form label{ display: inline-block; width: 200px; vertical-align: top }
  #bug-report-form input,
  #bug-report-form textarea,
  #bug-report-form label{ margin-bottom: 5px }
  #bug-report-form input[type=submit]{ float: right; margin-right: 5px; }
  #mid {
  	padding-left: 15px;
  }
  #subpad {
  	padding: 20px;
  }
  #bug-report-form textarea {
  	width: 343px;
  }
  h4.bc10{
  	margin-top: 10px;
  	margin-bottom: 15px;
  }
  div.twodivs{
  	width: 100%;
  	margin-top: 12px;

  }
  div.floatdiv{
  	width: 48%;
  	float: left;
  }
  h4.bc9{
  	margin: 10px 0 5px 0;
  	padding: 0;
  }
</style>
<script type="text/javascript">
$(function($){
	$('#inquiry').submit(function(){
		var error = false;
		var message = '';
		if( !$('#email').val() ){
			message = "To submit this form you must enter your email address";
			error = true;
		}
		if( $('#issue').val().split(/\W/).length < 3 ){
			if( message ){
				message += ", and an issue description longer than 3 words";
			}else{
				message = "Please enter an issue description longer than 3 words";
			}
			error = true;
		}
		if( message ){
			alert(message);
		}
		return !error;
	});
});
</script>
[/tmp]

[include templates/redesign/header]

<div id="mid">
  <h1 class="bc03">Website Issues</h1>
  <div id="breadcrumbs">[page_breadcrumbs location="Website issues,website-issues"]</div>
  <div id="subpad">
[if cgi submit][and !errors]
  [perl no_return=1]
	my $issue = $Tag->cgi('issue', {filter=>'urldecode'});

	$issue =~ s/[^\w\s\.\'\!\?\,\(\)\$\&\@\=\[\]\{\}\/]//g;
	# Don't send an e-mail if the issue is blank, contains nothing but whitespace
	# has less than three words, or contains either a non 39dollarglasses URL or IP
	if(	$issue eq '' || $issue =~ m/^\s+$/g || scalar(split(/\W+/, $issue)) < 3 ||
		$issue =~ /(?<!39dollarglasses)\.(com|co\.uk|cn|edu|org|net|tv|gov)/ ||
		$issue =~ /\b(?:\d{1,3}\.){3}\d{1,3}\b\//){
		return;
	}

	my $name = $Tag->cgi('name') || 'Not Provided';
	my $email_address = $Tag->cgi('email');
	my $javascript = ($Tag->cgi('javascript') eq 'enabled' || $Tag->cgi('javascript') eq 'disabled') ? $Tag->cgi('javascript') : 'Unusual setup detected, both Javascript and Noscript did not work';
	my $cookies = ($Tag->read_cookie({ name=>'test-cookie' }) eq 'exists' ? 'Enabled' : 'DISABLED');
	my $browser = $Session->{'browser'};
	my $session = $Session->{'id'};
	my $server = $Tag->env('SERVER_ADDR');
	my $customer_ip = $Session->{'ohost'};
	my $customer_hostname = $Session->{'host'};
	my $spider = $Session->{'spider'} == 0 ? 'No' : 'Yes';
	my $user_identity = $Scratch->{user_identifier};
	my ($first_session, $customer_id) = split(/:/,$user_identity);

	#Don't send an e-mail if this is scanalert
	return if $browser =~ m|scanalert.com/bot|;

	my $email = $Scratch->{varcamp} ?
		'jeff.kohberger@39dollarglasses.com' : 'reportbug@39dollarglasses.com';
	my $from_email = 'reportbug@39dollarglasses.com';
	$Tag->email({
		from=>$from_email,
		subject=>"Bug Reported by: $email_address",
		to=>$email,
		body=>qq|
  From: $name ( $email_address )
  -------------------------------------------------------
  $issue
  -------------------------------------------------------
  Customer Info:
	  IP:      		$customer_ip
	  Spider:  		$spider

  Browser Info:
	  Version:  	$browser
	  Cookies:    $cookies
	  JavaScript: $javascript

  Session ID:   $session
  Server:       $server
	|});
  [/perl]
  <h1>XXX</h1>
  <h4 class="bc10">Thank you for your feedback</h4>
  <p style="margi-top: 7px;">
  	We will use the information you provided in an effort to track down and
  	free our site of bugs.
  </p>
  <br />
  __GLASSES_LINKS__
  <br />
[else]
	[perl failure=""]
		#Store the URL of the users last page in the session
		$Session->{'continuePage'} = '@@MV_PREV_PAGE@@';
		return;
	[/perl]
<!-- BEGIN CONTENT -->
  <div id="sec-container" class="c2">
	<p style="margin-top: 0;margin-bottom: 0;">
		We strive to make our website as reliable and user friendly as possible, but in
	  the event that you encounter a problem while browsing our website please use this form to
	  tell us about the issue you are having so that we can address it as soon as possible.
	</p>

	<h4 class="bc10">Please tell us about the issue you are having:</h4>

	<form class="styled bugreport" action="[area href=@@MV_PAGE@@ secure='1']" method="post" id="inquiry">
	  <input type="hidden" name="mv_session_id" value="[data session id]" />
	  <input type="hidden" name="mv_doit" value="return" />
	  <input type="hidden" name="mv_nextpage" value="website-issues" />
	  <input type="hidden" name="mv_form_profile" value="Check_form" />

	  [comment]
	  	The following block will create a hidden input element called javascript
	  	whose value will be either enabled/disabled based on the brower. document.write
	  	is used for enabled and noscript is used to output disabled
	  [/comment]
	  <script type="text/javascript">
	  document.write('<input type="hidden" name="javascript" value="enabled" />');
	  </script>
	  <noscript>
	  	<input type="hidden" name="javascript" value="disabled" />
	  </noscript>
	  [comment]Write a temporary cookie to be read on the next page[/comment]
	  [set-cookie name="test-cookie" value="exists" expires="1 hour"]
	  [set Check_form]
		  [update values]
		  &success=@@MV_PAGE@@
		  &fail=@@MV_PAGE@@
		  email=email We need your email address.
		  issue=required Please describe the problem you are having.
		  &fatal=1
	  [/set]

	  [if type=explicit compare="[error all=1 show_var=1 keep=1]"]
	  <p>
		<strong>There were errors in your last submission:
		<br />
		<br />
		<span style="color:__CONTRAST__">
		  [comment][error all=1 keep=0 show_error=1 show_label=0 joiner="<br />"][/comment]
		</span>
	  </p>
	  [/if]

	  <div  class="styled" id="bug-report-form">
	  	<label for="name">Your Name:</label>
	  	<input type="text" name="name" id="name" value="[cgi name="name" filter="encode_entities"]" />
	  	<br />
	  	<label for="email">Your e-mail address:</label>
	  	<input type="text" name="email" id="email" value="[cgi name="email" filter="encode_entities"]"/>
	  	<span style="color: __CONTRAST__">[error name="email" show_error="1"]</span>
	  	<br />
	  	<label for="issue">Describe the problem:</label>
	  	<textarea cols="40" rows="6" id="issue" name="issue">[cgi name="issue" filter="encode_entities"]</textarea>
	  	<span style="color: __CONTRAST__">[error name="issue" show_error="1"]</span>
	  	<br />
	  	<input type="submit" name="submit" value="Submit" />
	  </div>

	</form>

	<div class="twodivs">
		<div class="floatdiv">
			<h4 class="bc9">Phone Support</h4>
			<p>Monday-Friday: 9:00 am - 5:00 pm (EST).</p>
			<p>Call us directly at <strong>__PHONE__</strong><br />Toll free within US <strong>__TOLLFREE__</strong></p>
			<p>Fax: <strong>__FAX__</strong></p>
		</div>
		<div class="floatdiv">
			<h4 class="bc9">Mailing Address</h4>
			<p>__LEGALNAME__<br />c/o __COMPANY__<br />__ADDRESS__<br />__CITY__, __STATE__ __ZIP__</p>
		</div>
	</div>
[/else]
[/if]
</div>
  </div>
</div>

[include templates/redesign/footer]
