[tmpn image_name]womens[/tmpn]
[tmpn image_text]prescription women&#39;s eyeglasses[/tmpn]
[set pre_page_link]eyeglasses[/set]
[tmpn post_page_link]women[/tmpn]
[tmpn meta_keywords]womens glasses, womens eyeglasses, Women&#39;s prescription eyeglasses[/tmpn]
[tmpn meta_description]Shop stylish womens's prescription eyeglasses for just $39! 100% guarantee. Get cheap frames with next day S&H. Made in the USA by eye doctors.[/tmpn]
[tmpn page_title]Womens Eyeglasses | Buy Prescription Eyeglasses Online - Save 70%[/tmpn]
[set productCatFilter]w[/set]
[tmp category_header]<h1 align="center" style="color:#EF8F00">FASHIONABLE AND AFFORDABLE WOMENS GLASSES</h1>[/tmp]
[tmp category_footer]
<h2>Get the most stylish womens eyeglasses at 39DollarGlasses.com.</h2>
Whether you love <a href="[area 1018004_BLACK]">glamorous looks</a> or like a more down to earth design, 39DollarGlasses is the best one stop shop for women’s prescription eyeglasses. No matter what your personal style may be, you’re sure to find a pair of glasses that suits your look flawlessly. And with so many affordable designs to choose from, 39DollarGlasses makes shopping for eyewear fun and stress free.

<h2>Our womens eyeglasses are built to last.</h2>
With 39DollarGlasses, you don’t have to sacrifice quality in the name of fashion. Our prescription womens glasses are made with durable matierals that are lightweight, sturdy, and supremely stylish. It’s our goal to make you feel comfortable and confident in your eyewear –that’s why we only sell quality frames and lenses that come in the most fashionable styles available. Best of all, every pair of our glasses comes with our <a href="[area help/Guarantee-%2526-Rewards/100%2525-quality-guarantee/93-What-is-your-warranty-policy%253f]">worry free guarantee</a> so no matter what happens you’re covered.

<p>Fashion trends may come and go, but when you’re wearing a great pair of <a href="[area 10000]">affordable glasses</a>, you’ll start seeing the world in a whole new way. By searching through our wide variety of materials, colors, and designs, it’s never been easier to find a pair of eyeglasses that are perfectly catered to you. When it comes to your look, you’d be amazed what a great pair of glasses can do. No matter what, we promise that you’ll feel as great and you’ll look in a pair of our womens eyeglasses. Express yourself today!</p>
[/tmp]
[include include/category/category]
[if scratch amb_referrer]
	[tmp amb_coupon][ambassador function="get_coupon_from_alias" alias="[scratch amb_referrer]"][/tmp]
	[if scratch amb_coupon ne '0']
		[seti coup_ok][coupon code="[scratch amb_coupon]" msgscratch="coupon_msg" no=0 yes=1][/seti]
	[/if]
[/if]
[ab-log page="category-page" option="[env REQUEST_URI]"]
[if explicit]
	[condition]$Tag->env('SCRIPT_URI') =~ m~(sunglasses/|sunglasses\.html)~[/condition]
	[tmpn sunglasses]1[/tmpn]
	[tmpn pre_page_link]sunglasses[/tmpn]
[else]
	[tmpn pre_page_link]eyeglasses[/tmpn]
[/else][/if]

[tmp n_arrival_cgi][calcn]
$Tag->env('SCRIPT_URL') =~ /new\-arrivals/ ? '1' : '0';
[/calcn][/tmp]

