[if explicit][condition]!$Session->{logged_in}[/condition]
	[bounce login]
[/if]
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Your Prescription[/tmp]
[tmp meta_header]
<link rel="stylesheet" href="/css/my_account.css" type="text/css" />
<style type="text/css">
	.warning{ color: red; font-weight: bold }
	.contentBody h2{ margin: 10px 0 } 

	.prescription-table th{ text-align: left; font-weight: bold } 
	.prescription-table tbody th{width: 100px }
	.prescription-table tbody th, .prescription-table tbody td{ vertical-align: top }
	.prescription-table thead th{ text-align: center }
	.prescription-table tbody td{ padding: 5px 5px 5px 0 }

	#prescriptionTbl, #comments-table{ margin-left: 50px }
	#prescriptionTbl th, #comments-table th{ text-align: center }
	#prescriptionTbl td, #comments-table td{ padding: 3px }
	#prescriptionTbl .full{ border: 1px solid black }
	#prescriptionTbl .top{ border-top: 1px solid black }
	#prescriptionTbl .right{ border-right: 1px solid black }
	#prescriptionTbl .bottom{ border-bottom: 1px solid black }
	#prescriptionTbl .left{ border-left: 1px solid black }

	#prescription-list{ list-style: none; margin-top: 0 }
	#prescription-list li.selected{ background: #FFE025 }
	#prescription-list li:hover{ background: #D1DCF0; }
	#prescription-list li a:hover{ text-decoration: none }

	#or-create{ margin: 5px 0 0 30pt; text-align: center }

	p.message{ font-weight: bold }
	[strip reparse=0]
	input[type=submit]{ padding: 2px }
	[/strip]
</style>
[/tmp]
[include templates/redesign/header]
<script language="javascript">
	function update_add(stuff) {
		if (document.presform.od_add.value || document.presform.os_add.value) {
			add_div.style.display = 'block';
		} else {
			add_div.style.display = 'none';
		}
	}
</script>

[tmp today][convert-date fmt="%Y%m%d"][/convert-date][/tmp]

[tmp def][convert-date fmt="%Y%m%d%H%M%S"][/convert-date][/tmp]
[tmp is_default][/tmp]

<!-- BEGIN CONTENT -->
[tmpn current_page]your_prescription[/tmpn]

<div class="myAccountContainer">
	[include include/account/leftNav]
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Your Prescription</p></div>
			<div class="contentTop">
				<img src="/img/myAccount/contentTop.jpg" />
			</div>
			<div class="contentBody">
				<h2>Prescription List</h2>
				<form action="[process secure=1]" method="POST" name="topform">
					<input type="hidden" name="mv_session_id" value="[data session id]" />
					<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
					<input type="hidden" name="mv_todo"	value="return" />
					<div style="margin: 10px 0px 0px 25px">
						<p><a href="[area href="@@MV_PAGE@@" form="code_select=new" secure=1]">Create a new prescription</a>, or set a previous prescription as your default prescription.</p>
						<br />
						<select name="code_select" onchange="document.topform.submit();" style="margin: 0 auto">
							<option value="">Please select a prescription</option>
							[query type=list
								sql="SELECT code,label,defaults FROM prescriptions WHERE username=[filter interpolate=1 op='dbi_quote'][data session username][/filter] order by defaults desc"
							]
								[list]
									[tmp def_set][sql-param defaults][/tmp]
									[tmp this_code][sql-code][/tmp]
									<option value="[sql-code]" [if explicit][condition]$Scratch->{'this_code'} eq $CGI->{'code_select'}[/condition]selected[/if]>[either][sql-param label][or]no label[/either][if type=explicit compare="$Scratch->{def_set} =~ /1/"] (default)[/if]</option>
								[/list]
							[/query]
						</select>
					</div>
				</form>
				<br />
				[comment] load the appropriate Rx info..[/comment]
				[if cgi code_select eq new]
					[comment] its a new Rx - blank form..[/comment]
					[calcn]
						$Values->{$_} = '' foreach qw/od_sphere od_cylinder od_axis od_add os_sphere os_cylinder os_axis os_add pd label nosepos for_defaults comments odpd ospd mv_order_pupd/;
						$Tag->tmpn('last_updated',undef);
						'';
					[/calcn]
				[else]
					[comment] load the Rx.. 
					[/comment]
					[perl table="prescriptions" no-return=1]
						my $dbh = $Sql{prescriptions};
						my $sql = q|
						SELECT *
						FROM prescriptions
						WHERE username = ? AND
						( IFNULL(?,code) = code ) AND
						( IFNULL(?,defaults) = defaults )
						|;

						my @params = (
							$Session->{username},
							$Values->{code_select} || undef,
							!$Values->{code_select} ? 1 : undef
						);
						my $prescription = $dbh->selectrow_hashref( $sql, {}, @params ); 

						foreach( keys %$prescription ){
							$Values->{$_} = $prescription->{$_} unless $_ eq 'last_updated' || $_ eq 'is_default';
						}

						$Tag->tmp('last_updated',$prescription->{last_updated});
						$Tag->tmp('is_default',$prescription->{defaults});
						'';
					[/perl]
					[value name=code set="[value code_select]" hide=1]
				[/else]
				[/if]
				[if cgi code_select]
					<h2>Your Prescription:</h2>
					[if cgi code_select ne 'new']
						<br />
						<span class="warning"><strong>PLEASE NOTE</strong>: Changes made to this prescription WILL NOT affect any currently in process orders.</span>
						<br />
					[/if]
					<form action="[process secure=1]" method="POST" name="presform">
						<input type="hidden" name="mv_session_id" value="[data session id]" />
						<input type="hidden" name="mv_nextpage"	value="@@MV_PAGE@@" />
						<input type="hidden" name="mv_todo"	value="return" />
						<input type="hidden" name="code" value="[value code]" />
						<table class="prescription-table">
							<thead>
								<tr>
									<th style="text-align: left">Label:</th>
									<td colspan=4 style="padding: 10px 0"><input type="text" name="label" value="[value name=label filter=strip]" maxlength=50 size=40 /></td>
								</tr>
								<tr>
									<td></td>
									<th>SPH</th>
									<th>CYL</th>
									<th>AXIS</th>
									<th>ADD</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>O.D. (right)</th>
									<td>
										<select name="od_sphere">
											[loop prefix=odsp list=" [var SPH_RANGE]" option="od_sphere"]
												<option value="[odsp-code]" [selected name=ospd value="[odsp-code]"]> [odsp-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="od_cylinder">
											[loop prefix=odcy list=" [var CYL_RANGE]" option="od_cylinder"]
												<option value="[odcy-code]" [selected name=odcy value="[odcy-code]"]> [odcy-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="od_axis">
											[loop prefix=odax list=" [var AXI_RANGE]" option="od_axis"]
												<option value="[odax-code]" [selected name=odax value="[odax-code]"]> [odax-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="od_add" onchange="javascript:update_add(document.presform.od_add.value);">
											[loop prefix=odad list=" [var ADD_RANGE]" option="od_add"]
												<option value="[odad-code]" [selected name=odad value="[odad-code]"]> [odad-code]
											[/loop]
										</select>
									</td>
								</tr>
								<tr>
									<th>O.S. (left)</th>
									<td>
										<select name="os_sphere">
											[loop prefix=ossp list=" [var SPH_RANGE]" option="os_sphere"]
												<option value="[ossp-code]" [selected name=ospd value="[ossp-code]"]> [ossp-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="os_cylinder">
											[loop prefix=oscy list=" [var CYL_RANGE]" option="os_cylinder"]
												<option value="[oscy-code]" [selected name=oscy value="[oscy-code]"]> [oscy-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="os_axis">
											[loop prefix=osax list=" [var AXI_RANGE]" option="os_axis"]
												<option value="[osax-code]" [selected name=osax value="[osax-code]"]> [osax-code]
											[/loop]
										</select>
									</td>
									<td>
										<select name="os_add" onchange="javascript:update_add(document.presform.os_add.value);">
											[loop prefix=osad list=" [var ADD_RANGE]" option="os_add"]
												<option value="[osad-code]" [selected name=osad value="[osad-code]"]> [osad-code]
											[/loop]
										</select>
									</td>
								</tr>
								<tr>
									<th>PD</th>
									<td colspan=4>
										<select name="odpd" id="odpd">
											[calc]
												my $output = '<option></option>';
												my $currentPD = $Values->{'odpd'} || $Values->{'mv_order_pupd'} || $Values->{pd};
												my $min = 20;
												my $max = 89;
												$currentPD = $1 if( $currentPD =~ m~^([\d.]+)/?[\d.]*$~ || ( !$currentPD && '[pd-code]' =~ m~^([\d.])+/?[\d.]*$~ ) );

												for( my $pd = $min; $pd <= $max; $pd+=.5 ){
													my $selected;
													$selected = 'selected="selected"' if $pd == $currentPD;
													$output .= "<option $selected>$pd</option>\n";
												}
												return $output;
											[/calc]
										</select>
										&nbsp;/&nbsp;
										<select name="ospd" id="ospd">
											[calc]
												my $output = '<option></option>';
												my $currentPD = $Values->{'ospd'};
												my $min = 20;
												my $max = 89;

												$currentPD = $1 if( ( !$currentPD && $Values->{'pd'} =~ m~^[\d.]+/([\d.]+)$~ ) || ( !$currentPD && '[pd-code]' =~ m~^[\d.]+/?([\d.]+)$~ ) );

												for( my $pd = $min; $pd <= $max; $pd+=.5 ){
													my $selected;
													$selected = 'selected="selected"' if $pd == $currentPD;
													$output .= "<option $selected>$pd</option>\n";
												}
												return $output;
											[/calc]
										</select>
										<input type="hidden" name="pd" id="pd" value="[pd-code]" />
									</td>
								</tr>
							</tbody>
						</table>
						<table class="prescription-table" width="100%">
							<tbody>
								<tr>
									<th>Comments</th>
									<td>
										<textarea cols="45" rows="5" name="comments" id="comments">[value comments]</textarea>
									</td>
								</tr>
							</tbody>
						</table>
							<div style="margin: 10px 0px 0px 25px;">
								[if value code_select]
								[then]
									<input type=submit name="mv_click" value="Update Prescription">
									[if !scratch is_default]
										<input type=submit name="mv_click" value="Use as Default">
									[/if]
								[/then]
								[else]
									<input type=submit name="mv_click" value="Create Prescription">
								[/else]
								[/if]
							</div>
					</form>
				[elsif value label]
					<h2>Your current default prescription: [value label]</h2>
					<br />
					<table id="prescriptionTbl">
						<tr>
							<td></td>
							<th width=50>SPH</td>
							<th width=50>CYL</td>
							<th width=50>AXIS</td>
							<th width=50>ADD</td>
						</tr>
						<tr>
							<td>O.D. (right)</td>
							<td class="full">[value od_sphere]</td>
							<td class="full">[either][value od_cylinder][or]&nbsp;[/either]</td>
							<td class="full">[either][value od_axis][or]&nbsp;[/either]</td>
							<td class="full">[either][value od_add][or]&nbsp;[/either]</td>
						</tr>
						<tr>
							<td>O.S. (left)</td>
							<td class="full">[value os_sphere]</td>
							<td class="full">[either][value os_cylinder][or]&nbsp;[/either]</td>
							<td class="full">[either][value os_axis][or]&nbsp;[/either]</td>
							<td class="full">[either][value os_add][or]&nbsp;[/either]</td>
						</tr>
						<tr>
							<td>PD</td>
							<td>[value pd]</td>
						</tr>
					</table>
					[if value comments]
					<table id="comments-table">
						<tr>
							<th>Comments:</th>
							<td colspan=4>[value comments]</td>
						</tr>
					</table>
					[/if]
				[/elsif][/if]

				 [set Use as Default]
					[update values]
					[query type=list
						table=prescriptions
						sql="UPDATE prescriptions SET
							defaults=0
							WHERE username=[filter interpolate=1 op='dbi_quote'][data session username][/filter]"]
					[/query]
					[query type=list
						table=prescriptions
						sql="UPDATE prescriptions SET
							last_updated=last_updated,
							defaults=1
							WHERE code=[filter interpolate=1 op='dbi_quote'][value code][/filter] AND username=[filter interpolate=1 op='dbi_quote'][data session username][/filter]"]
					[/query]
					[set message]Default settings updated.[/set]

				[/set]

				[set Update Prescription]
					[update values]
					[calcn hide=1]
						$Tag->perl({ table => 'prescriptions' });
						my $dbh = $Sql{prescriptions};
						my $sql = q|
							UPDATE prescriptions SET
								od_sphere = ?,
								od_cylinder = ?,
								od_axis = ?,
								od_add = ?,

								os_sphere = ?,
								os_cylinder = ?,
								os_axis = ?, 
								os_add = ?,

								pd = ?,
								label = ?,
								nosepos = ?,
								comments = ?

							WHERE code = ? AND username = ?
						|;
						my $sth = $dbh->prepare($sql);

						my @params = (
							map{ $Values->{$_} || undef } qw/ od_sphere od_cylinder od_axis od_add os_sphere os_cylinder os_axis os_add pd label nosepos comments code /,
						);
						$sth->execute( @params, $Session->{username} );
						$sth->finish();
					[/calcn]
					[seti message]Prescription Updated.[/seti]
				[/set]
				[set Create Prescription]
					[update values]
					[calcn hide=1]
						$Tag->perl({ table => 'prescriptions' });
						my $dbh = $Sql{prescriptions};
						my $sth = $dbh->prepare(q|
						INSERT INTO prescriptions 
						(code, username, od_sphere, od_cylinder, od_axis, od_add, os_sphere, os_cylinder, os_axis, os_add, pd, label, nosepos, defaults, comments )
						VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,0,?)
						|);
						$sth->execute(
							$Tag->counter({ sql=>'pres_code_counter:pres_code_counter' }),
							$Session->{username},

							map{ $Values->{$_} || undef } qw/ od_sphere od_cylinder od_axis od_add os_sphere os_cylinder os_axis os_add pd label nosepos comments /,
						);
						$sth->finish();
					[/calcn]
					[set message]Prescription Created.[/set]
					[value name=code_select set="[value code]"]
				[/set]
				[set Delete Prescription]
					[update values]
					[query type=list
						table=prescriptions
						sql="DELETE FROM prescriptions WHERE code=[filter interpolate=1 op='dbi_quote'][value code][/filter] AND username=[filter interpolate=1 op='dbi_quote'][data session username][/filter]"]
					[set message]Prescription Created.[/set]
					[value name=code_select set="new"]
				[/set]
			</div>
		<br clear="all" />
		<div>
			<img src="/img/myAccount/contentBottom.jpg" />
		</div>
	</div>
	<br clear="all" />
</div>

[value name=code_select set=""]
<!-- END CONTENT -->

<script type="text/javascript">
jQuery( function(){
	jQuery('#odpd,#ospd').change(function(){
		var $pd = jQuery('#pd');
		var first = jQuery('#odpd').val();
		var second = jQuery('#ospd').val();
		var pd = first;
		pd += (pd ? ( second ? '/' + second : '') : second );

		$pd.val( pd || '' );
	}).change();
});
</script>
[include templates/redesign/footer]
