[calc]
	$Scratch->{kidsglasses} = 1;
	$Session->{source} = 'kidsglasses';
	return;
[/calc]
[include templates/redesign/kids_header]
<table style="margin-left: auto; margin-right: auto;" id="Table_01" width="982" height="952" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="4">
			<a href="[area kids-eyeglasses]">
			<img src="/img/kidsglasses/kidsglasses_01.jpg" width="982" height="326" alt=""></a>
		</td>
	</tr>
	<tr>
		<td><img src="/img/kidsglasses/kidsglasses_02.jpg" width="242" height="257" alt=""></td>
		<td><a href="[area socialresponsibility]"><img src="/img/kidsglasses/kidsglasses_03.jpg" width="251" height="257" alt=""></a></td>
		<td><img src="/img/kidsglasses/kidsglasses_04.jpg" width="249" height="257" alt=""></td>
		<td><img src="/img/kidsglasses/kidsglasses_05.jpg" width="240" height="257" alt=""></td>
	</tr>
	<tr>
		<td><img src="/img/kidsglasses/kidsglasses_06.jpg" width="242" height="263" alt=""></td>
		<td><img src="/img/kidsglasses/kidsglasses_07.jpg" width="251" height="263" alt=""></td>
		<td><img src="/img/kidsglasses/kidsglasses_08.jpg" width="249" height="263" alt=""></td>
		<td><img src="/img/kidsglasses/kidsglasses_09.jpg" width="240" height="263" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<h4>Kids Glasses</h4>
			<p class="text">We created KidsGlasses.com as a solution for parents and children who are overwhelmed by the outrageous costs of prescription eyewear. By creating glasses of  the same (if not better) quality of high priced establishments, we make obtaining prescription eyewear easier and more affordable.
			<br /><br />
			As an eye doctor owned company, KidsGlasses.com offers some of the safest glasses available. We only use durable plastic and metal materials for our many stylish frames and our children’s lenses are made with ultra-safe, impact resistant polycarbonate. Best of all, our prescription glasses start at just $39.00 a pair and we work with all major health insurance plans.
			<br /><br />
			KidsGlasses.com is an American company with American values. On top of providing parents with an affordable solution, we are always looking to help those in need by donating prescription eyeglasses to people who cannot afford basic eyewear. For more information on how we’ve helped, check out our social responsibility page.</p>
		</td>
	</tr>
</table>
[include templates/redesign/kids_footer]
