[set page_title][L]Ambassador Program[/L] : [L]View Ambassador[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Ambassador Program[/L] : [L]View Ambassador[/L][/set]
[tmp third_menu]Ambassador[/tmp]
[set help_name]customer.view[/set]
[set icon_name]icon_people.gif[/set]

@_UI_STD_HEAD_@
[calc]
	delete $Scratch->{ui_bounce};
	#Log("got here, customer=$CGI->{ambassadorid}, arg=$CGI->{mv_arg}");
	return if $CGI->{ambassadorid};
	$CGI->{ambassadorid} = $CGI->{mv_arg} 
		or $Scratch->{ui_bounce} = '__UI_BASE__/ambassador/index';
	return;
[/calc]
[if scratch ui_bounce]
	[bounce page="[scratch ui_bounce]"]
[/if]

<!-- ----- BEGIN REAL STUFF ----- -->
[update values]

<img src="/store/images/ambassador/amb_prog_med.jpg" align="right" alt="Ambassador Program" />
<h3>Ambassador Program: View Ambassador</h3>

[if cgi changestatus]
	<!-- [query sql="UPDATE ambassador_userdb SET status = '[cgi changestatus]' WHERE code = '[cgi ambassadorid]'"][/query] -->
	<font color="orange"><b>Status Updated</b></font><br />
[/if]


[tmp sql] SELECT u.*, au.status
FROM ambassador_userdb au
LEFT JOIN userdb u ON au.username = u.username
WHERE au.code = '[cgi ambassadorid]'
[/tmp]
[query sql="[scratch sql]" type="list"]
	[list]

	
		This ambassador is: <font color="[if-sql-param status eq 'active']green[else]red[/else][/if-sql-param]"><b>[sql-param status]</b></font>
		
		[tmp newstatus][calc]
		if("[sql-param status]" eq 'active')
		{
			return 'disabled';
		}
		else
		{
			return 'active';
		}
		[/calc][/tmp]
	
		<form action="[area @@MV_PAGE@@]" method="post">
			<input type="hidden" name="ambassador" value="1" />
			<input type="hidden" name="ambassadorid" value="[cgi ambassadorid]" />
			<input type="hidden" name="changestatus" value="[scratch newstatus]" />
			<input type="submit" value="Set [scratch newstatus]" />
		</form>
	
		<table border=0 __UI_T_PROPERTIES__>
			<tr>
				<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
			</tr>			
			<tr>
				<td colspan=2 valign=top>
		
					<table border=0>
						<tr>
							<td align=right>
							<font size=2><b> [L]Ambassador[/L]: </b></font>
							</td><td><font size=2>[sql-param fname] [sql-param lname]</font></td>
						</tr>
						<tr>
							<td align=right>
							<font size=2><b> [L]Ambassador Since[/L]: </b></font>
							</td><td><font size=2>[data table="ambassador_userdb" field="signup_date" key="[cgi ambassadorid]"]</font></td>
						</tr>
						<tr>
							<td align=right>
							<font size=2><b> [L]Company[/L]: </b></font>
							</td><td><font size=2>[sql-param company]</font></td>
						</tr>		
						<tr>
							<td align=right>
							<font size=2><b> [L]Home phone[/L]: </b></font>
							</td><td><font size=2>[sql-param phone_night]</font></td>
						</tr>		
						<tr>
							<td align=right>
							<font size=2><b> [L]Work phone[/L]: </b></font>
							</td><td><font size=2>[sql-param phone_day]</font></td>
						</tr>			
						<tr>
							<td align=right>
							<font size=2><b> [L]Email[/L]: </b></font>
							</td><td><font size=2> <a href="mailto:[sql-param email]"><U>[sql-param email]</U></a></font></td>
						</tr>		
						[if-sql-param fax]
						<tr>
							<td align=right>
							<font size=2><b>[L]FAX number[/L]:</b></font>&nbsp;
							</td><td><font size=2>[sql-param fax]</font></td>
						</tr>
						[/if-sql-param]
					</table>
					
					
					
				</td>
				<td valign=top colspan=2>
					[set bill_address]
					[sql-param b_fname] [sql-param b_lname]<br>
					[sql-param b_address1]<br>
					[if-sql-param b_address2]
					[sql-param b_address2]<br>
					[/if-sql-param]
					[sql-param b_city], [sql-param b_state] [sql-param b_zip]<br>
					[/set]
					
					[set ship_address]
					[sql-param fname] [sql-param lname]<br>
					[sql-param address1]<br>
					[if-sql-param address2]
					[sql-param address2]<br>
					[/if-sql-param]
					[sql-param city], [sql-param state] [sql-param zip]<br>
					[/set]
				
					<font size=2>
					[if-sql-param username]
					<A HREF="[area
									href=__UI_BASE__/customer_bill
									form=|
										customer=[sql-param username]
									|
							]"><b><u>[L]Bill To[/L]</u>:</b></A>
					[else]
							<b>[L]Bill To[/L]:</b>
					[/else]
					[/if-sql-param]
					<blockquote>
					[if-sql-param b_address1]
					[scratch bill_address]
					[else]
					[scratch ship_address]
					[/else]
					[/if-sql-param]
					</blockquote>
					</font>
				
				</td>			
				<td colspan="2">
					<font size=2>
					<A HREF="[area
									href=__UI_BASE__/customer_ship
									form=|
										customer=[cgi customer]
									|
							]"><b><u>[L]Ship To[/L]</u>:</b></A>
					<br>
					<blockquote>
					[scratch ship_address]
					</blockquote>
					</font>
					
					[set bill_address][/set]
					[set ship_address][/set]
				</td>
			</tr>
				
			<tr>
				<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
			</tr>
				
			<tr>
				<td colspan="6">
					
					<h4>Ambassador Referral History</h4>
					
					<table border=0 cellpadding=1 cellspacing=3 width=800>
						<tr>
							<td class=rnorm align=left>
								<B>[L]Order number[/L]</B>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td class=rnorm align=left>
								<B>[L]Customer[/L]</B>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td class=rnorm>
								<B>[L]Order date[/L]</B>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td class=rnorm align=left>
								<B>[L]Order Total[/L]</B>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td class=rnorm>
								<B>[L]Status[/L]</B>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td class=rnorm>
								<B>[L]Remaining Credit[/L]</B>
							</td>
						</tr>
						[tmp transql]
						SELECT ar.order_number, t.fname, t.lname, t.order_date, t.total_cost, ar.status, ar.amount
						FROM ambassador_referral ar
						LEFT JOIN transactions t ON ar.order_number = t.code
						WHERE ar.ambassador = '[cgi ambassadorid]'
						ORDER BY t.order_date DESC
						[/tmp]
						
						[query sql="[scratch transql]" prefix="orders" list-prefix="orders" type="list"]
						<tr>
							<td align=left>
								<A HREF="[area __UI_BASE__/order_view [orders-code]]"><U>[orders-code]</U></A>
							</td>
							
							<td></td>
							<td align=left>
								[orders-param fname] [orders-param lname]
							</td>
							
							<td></td>
							<td>
								[convert-date fmt="%H:%M:%S %m/%d/%Y"][orders-param order_date][/convert-date]
							</td>
							<td></td>
							<td align=left>
								[currency][orders-param total_cost][/currency]
							</td>
							<td></td>
							<td>
							<b>[orders-param status]</b>
							</td>
							<td></td>
							<td>
							<b>[orders-param amount]</b>
							</td>
						</tr>
						[/query]					
					</table>	
				
				</td>
			</tr>			
			<tr>
				<td colspan=6 class=rborder><img src="bg.gif" height=1></td>
			</tr>			
		</table>			
				
	
	[/list]
[/query]

<!-- ----- END REAL STUFF ----- -->

@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ version: $Id: customer_view.html,v 2.5 2002/11/20 17:40:11 mheins Exp $ -->
