[set page_title][L]Ambassador Program[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Ambassador Program[/L][/set]
[set icon_name]icon_orders.gif[/set]
[tmp third_menu]Ambassador[/tmp]

[tmp meta_header]
<style type="text/css">
a.ambassLink {
	font-size: 1.2em;
	color: blue;
	display: block;
}
</style>
@_UI_STD_HEAD_@


<img src="/store/images/ambassador/amb_prog_med.jpg" align="right" alt="Ambassador Program" />
<h3>Ambassador Program: </h3>


<a class="ambassLink" href="[area admin/501c_reporting]">501c Reporting Tool</a>
<br />
<a class="ambassLink" href="[area admin/501c_payouts]">501c Payout Tool</a>


@_UI_STD_FOOTER_@