[set page_title][L]Ambassador Program[/L] : [L]Order View[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Ambassador Program[/L] : [L]Order View[/L][/set]
[set icon_name]icon_orders.gif[/set]
[set third_menu]Ambassador[/set]

@_UI_STD_HEAD_@

[if cgi amb_function]

	[tmp ambassador_id][data table=|ambassador_referral| field=|ambassador| key=|[cgi order]| foreign=|order_number|][/tmp]

	[if cgi amb_function eq 'Assign']
		[tmp ambassador_id][cgi amb_assign_id][/tmp]
		[tmp u][query sql=|INSERT INTO ambassador_referral (ambassador, order_number, amount) VALUES ([filter op=sql interpolate=1][scratch ambassador_id][/filter], [filter op=sql interpolate=1][cgi order][/filter], [filter op=sql interpolate=1][var AMBASSADOR_CREDIT_SFP][/filter])|][/query][/tmp]
		[include include/ambassador/_referral_update]

		[email to=|[var AMBASSADOR_MONITOR]| from=|ambassador@39dollarglasses.com| subject=|Ambassador: Credit Re-assignment|]
A credit re-assignment has been actioned by [data session username] on order [cgi order]. This order is now assigned to ambassador # [scratch ambassador_id].

Visit [area href="admin/login"] to take further action as required.
		[/email]

		[tmp a][area href="admin/ambassador/order_view_ambassador" form="order=[cgi order]"][/tmp]
		[bounce href="[scratch a]"]
	[elsif cgi amb_function eq 'De-Assign']
		[tmp u][query sql=|UPDATE ambassador_referral SET status = 'deleted' WHERE order_number = [filter op=sql interpolate=1][cgi order][/filter]|][/query][/tmp]
		[include include/ambassador/_referral_update]

		[tmp a][area href="admin/ambassador/order_view_ambassador" form="order=[cgi order]"][/tmp]
		[bounce href="[scratch a]"]
	[/elsif]
	[elsif cgi amb_function eq 'Flag']
		[tmp coupon_code][data table=|transactions| field=|coupon_code| key=|[cgi order]|][/tmp]
		
		UPDATE ambassador_coupon SET flagged = 1, assigned = assigned, flagged_time = CURRENT_TIMESTAMP WHERE coupon = '[filter op=sql interpolate=1][scratch coupon_code][/filter]'
		
		[if cgi amb_flag_coupon]
			[tmp u][query sql=|UPDATE ambassador_coupon SET flagged = 1, assigned = assigned, flagged_time = CURRENT_TIMESTAMP WHERE coupon = '[filter op=sql interpolate=1][scratch coupon_code][/filter]'|][/query][/tmp]
		[/if]
		[tmp u][query sql=|UPDATE ambassador_referral SET status = 'flagged' WHERE order_number = [filter op=sql interpolate=1][cgi order][/filter]|][/query][/tmp]
		[include include/ambassador/_referral_update]
		
		[tmp a][area href="admin/ambassador/order_view_ambassador" form="order=[cgi order]"][/tmp]
		[bounce href="[scratch a]"]
	[/elsif]
	[elsif cgi amb_function eq 'De-Flag']
		[tmp coupon_code][data table=|transactions| field=|coupon_code| key=|[cgi order]|][/tmp]
		
		[if cgi amb_deflag_coupon]
			[tmp u][query sql=|UPDATE ambassador_coupon SET flagged = 0, assigned=assigned WHERE coupon = '[filter op=sql interpolate=1][scratch coupon_code][/filter]'|][/query][/tmp]
		[/if]

		[tmp u][query sql=|UPDATE ambassador_referral SET status = 'waiting' WHERE order_number = [filter op=sql interpolate=1][cgi order][/filter]|][/query][/tmp]
		[include include/ambassador/_referral_update]
		
		[tmp a][area href="admin/ambassador/order_view_ambassador" form="order=[cgi order]"][/tmp]
		[bounce href="[scratch a]"]
	[/elsif]
	[elsif cgi amb_function eq 'Add Note']
		[tmp i][query sql=|INSERT INTO ambassador_notes (referral, note, username) VALUES ([filter op=sql interpolate=1][cgi referral][/filter],[filter op=sql interpolate=1][cgi note][/filter],[filter op=sql interpolate=1][data session username][/filter])|][/query][/tmp]

		[tmp a][area href="admin/ambassador/order_view_ambassador" form="order=[cgi order]"][/tmp]
		[bounce href="[scratch a]"]
	[/elsif]
	[/if]
[/if]

<style type="text/css">
	div.ui_ambassador div {
		border: 1px solid #EEEEEE;
		width: 400px;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	
	div.ui_ambassador ul {
		padding: 0;
	}
	
	div.ui_ambassador div.functions {
		clear: left;
	}
	
	div.ui_ambassador div.notes textarea {
		width: 350px;
		height: 50px;
		overflow: auto;
		font: 12px arial, sans-serif;
	}
	
	div.ui_ambassador div.notes table tr td {
		font-size: 11px;
		vertical-align: top;
		color: #999999;
	}
	
	div.ui_ambassador div.notes table tr td.note {
		font-size: 12px;
		color: black;
	}
	
</style>


<div class="ui_ambassador">
	<img src="/store/images/ambassador/amb_prog_med.jpg" align="right" alt="Ambassador Program" />
	<h3>Ambassador Program: Order [cgi order]</h3>
	
	[query sql=|
			SELECT
				ar.code AS referral,
				t.code AS order_number,
				t.username,
				t.coupon_code,
				ar.ambassador AS ambassador_id,
				ar.status AS ar_status,
				concat(u.fname, ' ', u.lname) AS u_name
			FROM
				transactions t
				LEFT JOIN ambassador_referral ar ON(t.code = ar.order_number AND ar.status <> 'deleted')
				LEFT JOIN ambassador_userdb ua ON(ar.ambassador = ua.code)
				LEFT JOIN userdb u ON (ua.username = u.username)
			WHERE
				t.code = [filter op=sql interpolate=1][cgi order][/filter]
				LIMIT 1| type=list]
		[list]
			[tmp ref_id][sql-param referral][/tmp]
			[tmp amb_name][sql-param u_name][/tmp]
			[tmp amb_id][sql-param ambassador_id][/tmp]
			[tmp amb_customer][sql-param username][/tmp]
			[tmp amb_coupon][sql-param coupon_code][/tmp]
			[tmp amb_status][sql-param ar_status][/tmp]
		[/list]				
				
	[/query]
	
	<div class="information">
		<h4>Summary</h4>
		<ul>
			[if scratch amb_status]
				<li>Order [cgi order] was placed by <a href="[area href=__UI_BASE__/customer_view arg="[scratch amb_customer]"]">[scratch amb_customer]</a>, using coupon [scratch amb_coupon].</li>
				<li>The current status of the referral credit is <b>[scratch amb_status]</b> - this credit assigned to Ambassador <a href="[area href="admin/ambassador/ambassador_view" form="ambassador=1&ambassadorid=[scratch amb_id]"]">[scratch amb_name]</a>.</li>
			[else]
				<li>Order [cgi order] is not assigned to an Ambassador Program referral.</li>	
			[/else]
			[/if]
		</ul>
	</div>

	<div class="functions">
		<h4>Functions</h4>
		<form action="[process]" method="POST">

			<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
			<input type="hidden" name="amb_function" id="amb_function" value="" />
			<input type="hidden" name="order" value="[cgi order]" />

	

			[if scratch amb_status]
				
				[if scratch amb_status ne 'paid']
					[comment]Allowing this function when a referral has been paid is a receipe for disaster!!![/comment]
					<p>To remove this order from this Ambassador (for example if fraud is confirmed), click below.</p>
					<input type="submit" onclick="document.getElementById('amb_function').value = this.value; return confirm('Are you sure you wish to remove Order [cgi order] from Ambassador [scratch amb_name]?');" value="De-Assign" />
				[/if]
				
				[if scratch amb_status eq 'flagged']
					<p>This order and the coupon associated with it are flagged due to suspected fraud.</p>
					<input type="checkbox" name="amb_deflag_coupon" id="amb_deflag_coupon" /><label for="amb_deflag_coupon">Also de-flag this coupon</label><br />
					<input type="submit" onclick="document.getElementById('amb_function').value = this.value; " value="De-Flag" />
				[else]
					<p>If you suspect this order to be fraud, you can flag it here and disable the Ambassador payment.</p>
					<input type="checkbox" name="amb_flag_coupon" id="amb_flag_coupon" /><label for="amb_flag_coupon">Also flag this coupon</label><br />
					<input type="submit" onclick="document.getElementById('amb_function').value = this.value; " value="Flag" />					
				[/else]
				[/if]
			[else]
				<p>Assign this order to an Ambassador:</p>
				<select name="amb_assign_id">
					[query sql=|SELECT au.code AS ambassador_id, concat(u.fname, ' ', u.lname) AS u_name FROM ambassador_userdb au, userdb u WHERE u.username = au.username| type=list]
						[list]
							<option value="[sql-param ambassador_id]">[sql-param u_name] (A# [sql-param ambassador_id])</select>
						[/list]
					[/query]
				</select>
				<input type="submit" onclick="document.getElementById('amb_function').value = this.value;" value="Assign" />

			[/else]
			[/if]
		</form>
	</div>

	<div class="notes">
		<h4>Notes</h4>
		
		<form action="[process]" method="POST">
			<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
			<input type="hidden" name="order" value="[cgi order]" />
			
			[tmp default_note_text]Type a new note here...[/tmp]
			
			<textarea name="note" onfocus="if(this.value == '[scratch default_note_text]') this.value = '';" onblur="if(this.value == '') this.value = '[scratch default_note_text]'">[scratch default_note_text]</textarea>
			<input type="submit" name="amb_function" value="Add Note" />


	<input type="hidden" name="referral" value="[scratch ref_id]" />			
			<table>
				[query sql=|SELECT an.* FROM ambassador_notes an, ambassador_referral ar WHERE ar.order_number = [filter op=sql interpolate=1][cgi order][/filter] AND ar.code = an.referral ORDER BY an.timestamp DESC| type=list]
					[list]
						<tr>
							<td class="information">[sql-param username]
								<br />
								[convert-date fmt="%X<br />%x"][sql-param timestamp][/convert-date]
							</td>
							<td class="note">[filter op='text2html' filter=1][sql-param note][/filter]</td>
						</tr>
					[/list]
				[/query]
			</table>
		</form>
	</div>
</div>
	
@_UI_STD_FOOTER_@