[set page_title][L]Ambassador Program[/L] : [L]Orders[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Ambassador Program[/L] : [L]Orders[/L][/set]
[set icon_name]icon_orders.gif[/set]
[tmp third_menu]Ambassador[/tmp]


@_UI_STD_HEAD_@

<style type="text/css">
.amb_topreferrers {
	float:left;
	width:300px;
}
</style>

<img src="/store/images/ambassador/amb_prog_med.jpg" align="right" alt="Ambassador Program" />
<h3>Ambassador Program: Orders</h3>

<div class="amb_topreferrers">
	<h2>Top Referrers</h2>
	<div>
		[tmp sql]
		SELECT count(*) as referrals,ar.ambassador,u.fname,u.lname FROM ambassador_referral ar
		LEFT JOIN ambassador_userdb au ON ar.ambassador = au.code
		LEFT JOIN userdb u ON au.username	= u.username
		GROUP BY ambassador
		HAVING referrals > 0
		ORDER BY referrals		
		[/tmp]
		[query sql="[scratch sql]" type="list"]
			[list]
				#[sql-increment] ([sql-param referrals]): <a href="[area href="admin/ambassador/ambassador_view" form="ambassador=1&ambassadorid=[sql-param ambassador]"]">[sql-param fname] [sql-param lname]</a> (A#: [sql-param ambassador])
			[/list]
			[no-match]
			No Orders
			[/no-match]
		[/query]
		
	</div>
</div>









@_UI_STD_FOOTER_@