[set page_title][L]Mailing Export[/L][/set]
[set ui_class]Mailing Export[/set]
[set help_name][/set]
[set icon_name]icon_stats.gif[/set]
[seti meta_header][/seti]
	
@_UI_STD_HEAD_@

<h4>Customer Data Export</h4>

<ul>
	<li> Please choose an option...
		<ul>
			<li><a href="[area admin/mailing/customermailing]">Mailing Export</a></li>
			<li><a href="[area admin/mailing/oempro]">oemPro Export</a></li>
		</ul>
	</li>
</ul>

	
	
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->