[set page_title][L]Mailing Export[/L][/set]
[set ui_class]Mailing Export[/set]
[set help_name][/set]
[set icon_name]icon_stats.gif[/set]
[seti meta_header][/seti]
	
@_UI_STD_HEAD_@

[if cgi loc_compare_0]
[or cgi item_compare_0]
	
		[comment]
		build the SQL query
		[/comment]		
		[tmp loc_compare_0][cgi loc_compare_0][/tmp]
		[tmp loc_compare_1][cgi loc_compare_1][/tmp]
		[tmp loc_compare_2][cgi loc_compare_2][/tmp]
						
		[tmp item_compare_0][cgi item_compare_0][/tmp]
		[tmp item_compare_1][cgi item_compare_1][/tmp]
		[tmp item_compare_2][cgi item_compare_2][/tmp]
		
		[tmp sql]
		SELECT u.fname, u.lname, u.email
		FROM transactions t,
		orderline o,
		userdb u
		WHERE
		o.order_number = t.code
		AND t.username = u.username
		AND u.email NOT LIKE '%##%'
		AND u.email NOT LIKE '%xxx%'
		AND u.email != ''
		AND
		[if cgi loc_compare_0]
		(
		[calc]
			@array = split(/ /, $CGI->{loc_compare_0});
			my $x=0;
			my $r = '';
			foreach(@array){
				if($x>0){
					$r .= ' OR ';	
				}
				my $v = $_;
				if($CGI->{loc_op_0} =~ /like/i)
				{
					$v = '%'.$v.'%';
				}
				$r .= $CGI->{loc_field_0}." ".$CGI->{loc_op_0}." '".$v."'";
				$x++;
			}	
			return $r;	
		[/calc]
		)
		[/if]
		[if cgi loc_compare_1]
		[cgi loc_method_1] (			
		[calc]
			@array = split(/ /, $CGI->{loc_compare_1});
			my $x=0;
			my $r = '';
			foreach(@array){
				if($x>0){
					$r .= ' OR ';	
				}
				my $v = $_;
				if($CGI->{loc_op_1} =~ /like/i)
				{
					$v = '%'.$v.'%';
				}
				$r .= $CGI->{loc_field_1}." ".$CGI->{loc_op_1}." '".$v."'";
				$x++;
			}	
			return $r;	
		[/calc]
		)
		[/if]
		[if cgi loc_compare_2]
		[cgi loc_method_2] (	
		[calc]
			@array = split(/ /, $CGI->{loc_compare_2});
			my $x=0;
			my $r = '';
			foreach(@array){
				if($x>0){
					$r .= ' OR ';	
				}
				my $v = $_;
				if($CGI->{loc_op_2} =~ /like/i)
				{
					$v = '%'.$v.'%';
				}
				$r .= $CGI->{loc_field_2}." ".$CGI->{loc_op_2}." '".$v."'";
				$x++;
			}	
			return $r;	
		[/calc]
		)
		[/if]
		
		[if cgi item_sku_0]
		AND (		
		o.sku = '[cgi item_sku_0]'		
		[if cgi item_sku_1]
		[cgi item_sku_method] o.sku = '[cgi item_sku_1]'	
		[/if]
		)
		[/if]
		
		[if cgi item_package_0]
		AND (		
		o.lenstype = '[cgi item_package_0]'		
		[if cgi item_package_1]
		[cgi item_package_method] o.lenstype = '[cgi item_package_1]'	
		[/if]
		)
		[/if]
		
		
		[if cgi item_clips]
		[cgi item_clips_method] o.clip > '0'
		[/if]
		
		[if cgi item_usedsmartfit]
		[cgi item_usedsmartfit_method] t.handling < 0
		[/if]
		
		
		GROUP BY u.email
		[/tmp]
		
		[scratch sql]
		
		
[tmp csv_data][/tmp]

[query sql=|[scratch sql]| type=|list| hashref=|csv_results|][/query]

[perl tables="userdb transactions orderline"]

#$Scratch->{csv_data} = $Scratch->{sql}."\n\n";

$Scratch->{csv_data} .= "name,email\n";

foreach my $row (@{$Tmp->{csv_results}})
{
	$Scratch->{csv_data} .= $row->{fname}." ".$row->{lname}.",".$row->{email}."\n";
}

[/perl]	

[scratch csv_data]		
		
		

[deliver type='application/text' extra_headers="Content-Disposition: inline; filename=mailing_export.csv" interpolate=1][scratch csv_data][/deliver]

		
[else]	
	
	You must specify some parameters	
	
[/else]

[/if]

<br /><br />
<a href="[area admin/mailing/index]"> Go Back </a>
	
	
	
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->