[set page_title][L]Mailing Export[/L][/set]
[set ui_class]Mailing Export[/set]
[set help_name][/set]
[set icon_name]icon_stats.gif[/set]
[seti meta_header][/seti]
	
@_UI_STD_HEAD_@



<h4>Data Export for OEMpro</h4>

<style type="text/css">
.tableback {
	background:#999999;
}
.tablehead {
	padding:5px;
}
.rhead td {
	padding-left:5px;
}
.tableback table td {
	padding:2px;
}


.prog_off {
	background: none;
	line-height:2px;
}
.prog_on {
	background: orange;
	line-height:2px;
}

#waiting_display {
	margin:0;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	background-color:#f0f0f0;
	color:#000000;
	padding:2px 6px 2px 6px;
	/*background-image: url(error.gif);*/
	background-repeat:no-repeat;
	background-position:left center;
	border:2px solid #666666;
	z-index:999;
}

</style>


<script>
var waitingmessage = '<span style="font-size:11px;"><b>Building Export Data...</b></span><br /><span style="font-size:9px;">(This may take a few moments)</span>';

function hideWaitingMessage()
{
	document.getElementById('waiting_display').style.visibility = 'hidden';
}

function setLocField(fieldnum) {
	selectfield = document.getElementById('loc_field_' + fieldnum);
	if(selectfield.options[selectfield.selectedIndex].value == 't.country')
	{
		document.getElementById('loc_compare_' + fieldnum + '_country').style.display = 'block';
		document.getElementById('loc_compare_' + fieldnum + '_text').style.display = 'none';
		
		document.getElementById('loc_compare_' + fieldnum + '_country').disabled = '';
		document.getElementById('loc_compare_' + fieldnum + '_text').disabled = 'yes';					
	}
	else
	{
		document.getElementById('loc_compare_' + fieldnum + '_country').style.display = 'none';
		document.getElementById('loc_compare_' + fieldnum + '_text').style.display = 'block';
		
		document.getElementById('loc_compare_' + fieldnum + '_country').disabled = 'yes';
		document.getElementById('loc_compare_' + fieldnum + '_text').disabled = '';	
	}
}
</script>
<script src="/interchange-5/en_US/waitingpop.js" type="text/javascript"></script>


<form action="[area admin/mailing/mailing_export.html]" method="post" name="exportdata">


[tmp countryselect][query sql=|select code,name from country order by name| type=|list|]
	[list]
	<option value="[sql-param code]">[sql-param name]</option>
	[/list]
[/query][/tmp]



<table cellpadding="0" cellspacing="0">
	<tr>
		<td class="tableback">		
		
			<table cellspacing="1" cellpadding="0">
				<tr>
					<td class="rhead tablehead" colspan="4">
					Location Identifiers
					</td>
				</tr>
				<tr class="rhead">
					<td>
					
					</td>
					<td>
					Field
					</td>
					<td>
					Operator
					</td>
					<td>
					Comparison
					</td>
				</tr>
				<tr class="rowalt">
					<td>
					</td>
					<td valign="top">
						<select name="loc_field_0" id="loc_field_0" onchange="setLocField('0');">
							<option value="t.referer">Referer</option>
							<option value="u.doctor_name">Doctors Name</option>
							<option value="t.country">Country</option>
							<option value="t.state">State (eg. CA)</option>
							<option value="t.zip">Zip</option>					
						</select>
					</td>
					<td class="rownorm" valign="top">
						<select name="loc_op_0">
							<option value="=">Equals</option>
							<option value="!=">NOT Equals</option>
							<option value="LIKE">Contains</option>
							<option value="NOT LIKE">NOT Contains</option>
						</select>
					</td>
					<td class="rownorm">
						<select name="loc_compare_0" id="loc_compare_0_country" disabled="yes" style="display:none;">
							[scratch countryselect]
						</select>
						<input type="text"  name="loc_compare_0" id="loc_compare_0_text" value="" />
					</td>
				</tr>
				
				
				<tr class="rowalt">
					<td valign="top">
						<select name="loc_method_1">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select>
					</td>
					<td valign="top">
						<select name="loc_field_1" id="loc_field_1" onchange="setLocField('1');">
							<option value="t.referer">Referer</option>
							<option value="u.doctor_name">Doctors Name</option>
							<option value="t.country">Country</option>
							<option value="t.state">State</option>
							<option value="t.zip">Zip</option>					
						</select>
					</td>
					<td class="rownorm" valign="top">
						<select name="loc_op_1">
							<option value="=">Equals</option>
							<option value="!=">NOT Equals</option>
							<option value="LIKE">Contains</option>
							<option value="NOT LIKE">NOT Contains</option>
						</select>
					</td>
					<td class="rownorm">
						<select name="loc_compare_1" id="loc_compare_1_country" disabled="yes" style="display:none;">
							[scratch countryselect]
						</select>
						<input type="text"  name="loc_compare_1" id="loc_compare_1_text" value="" />
					</td>
				</tr>
				
				
				<tr class="rowalt">
					<td valign="top">
						<select name="loc_method_2">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select>
					</td>
					<td valign="top">
						<select name="loc_field_2" id="loc_field_2" onchange="setLocField('2');">
							<option value="t.referer">Referer</option>
							<option value="u.doctor_name">Doctors Name</option>
							<option value="t.country">Country</option>
							<option value="t.state">State</option>
							<option value="t.zip">Zip</option>					
						</select>
					</td>
					<td class="rownorm" valign="top">
						<select name="loc_op_2">
							<option value="=">Equals</option>
							<option value="!=">NOT Equals</option>
							<option value="LIKE">Contains</option>
							<option value="NOT LIKE">NOT Contains</option>
						</select>
					</td>
					<td class="rownorm">
						<select name="loc_compare_2" id="loc_compare_2_country" disabled="yes" style="display:none;">
							[scratch countryselect]
						</select>
						<input type="text" name="loc_compare_2" id="loc_compare_2_text" value="" />
					</td>
				</tr>				
				
			</table>

		</td>
	</tr>
</table>


<br />


<table cellpadding="0" cellspacing="0">
	<tr>
		<td class="tableback">		
		
			<table cellspacing="1" cellpadding="0">
				<tr>
					<td class="rhead tablehead" colspan="4">
					Order/Item Identifiers
					</td>
				</tr>
				<tr class="rhead">
					<td>
					
					</td>
					<td>
					Field
					</td>
					<td>
					Operator
					</td>
					<td>
					Comparison
					</td>
				</tr>
				
				<tr class="rowalt">
					<td>
					</td>
					<td valign="top">
					Item SKU
					</td>
					<td class="rownorm" valign="top">										
						<select name="item_sku_op">
							<option value="=">Equals</option>
							<option value="!=">NOT Equals</option>
							<option value="LIKE">Contains</option>
							<option value="NOT LIKE">NOT Contains</option>
						</select>						
					</td>
					<td class="rownorm">
							<input type="text" name="item_sku_0" size="8" value="" />  							
							<select name="item_sku_method" />
								<option value="AND">AND</option>
								<option value="OR">OR</option>
							</select>
							<input type="text" name="item_sku_1" size="8" value="" /><br />
					</td>
				</tr>
				
				<tr class="rowalt">
					<td>
					</td>
					<td valign="top">
					Lens Package
					</td>
					<td class="rownorm" valign="top">										
						<select name="item_package_op">
							<option value="=">Equals</option>
							<option value="!=">NOT Equals</option>
							<option value="LIKE">Contains</option>
							<option value="NOT LIKE">NOT Contains</option>
						</select>						
					</td>
					<td class="rownorm">
							[tmp packagelist]
							[include pages/admin/mailing/packagelist]							
							[/tmp]
					
							<select name="item_package_0" style="font-size:9px; width:300px;">
							[scratch packagelist]
							</select>
					
							<select name="item_package_method" />
								<option value="AND">AND</option>
								<option value="OR">OR</option>
							</select>
							
							<select name="item_package_1" style="font-size:9px; width:300px;">
							[scratch packagelist]
							</select>				
							
					</td>
				</tr>	
				
				
				<tr class="rowalt">
					<td valign="top">
						<select name="item_clips_method">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select>
					</td>
					<td valign="top">
						Has cross-sell clips
					</td>
					<td class="rownorm" valign="top" colspan="2">
						<input type="checkbox" name="item_clips" value="1" />
					</td>
				</tr>
				
				
				
				<tr class="rowalt">
					<td valign="top">
						<select name="item_sunglasses_method">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select>
					</td>
					<td valign="top">
						Has cross-sell sunglasses
					</td>
					<td class="rownorm" valign="top" colspan="2">						
						<input type="checkbox" name="item_sunglasses" value="1" /><br />						
					</td>
				</tr>
				
				
				<tr class="rowalt">
					<td valign="top">
						<select name="item_usedsmartfit_method">
							<option value="AND">AND</option>
							<option value="OR">OR</option>
						</select>
					</td>
					<td valign="top">
						Used Smart-Fit points
					</td>
					<td class="rownorm" valign="top" colspan="2">						
						<input type="checkbox" name="item_usedsmartfit" value="1" /><br />						
					</td>
				</tr>
				
				
				
				
				
						
			</table>

		</td>
	</tr>
</table>


<br />


<table cellpadding="0" cellspacing="0">
	<tr>
		<td class="tableback">		
		
			<table cellspacing="1" cellpadding="0">
				<tr>
					<td class="rhead tablehead" colspan="4">
					<input type="submit" value="Export Data" onclick="my_display_waiting(waitingmessage); setTimeout('hideWaitingMessage()',5000);" />
					</td>
				</tr>
						
			</table>

		</td>
	</tr>
</table>


</form>

<div id="waiting_display">
Unsupported Browser
</div>
	
	
	
@_UI_STD_FOOTER_@
<!-- page: @@MV_PAGE@@ -->