[comment]
ui_page: contacts/contact_lenses.html
ui_type: page
ui_name: contacts/contact_lenses.html
ui_page_template: primary
ui_source: pages/contacts/contact_lenses.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]1800AnyLens Prescription Contact Lenses Available at 39 Dollar Glasses[/tmp]
[tmp meta_keywords]Prescription Contact Lenses, 39 Dollar Glasses, Contact Lenses, 1800AnyLens, 39DollarGlasses.com[/tmp]
[tmp meta_description]39 Dollar Glasses is proud to offer prescription contact lenses from 1800AnyLens. We guarantee savings, satisfaction, service and great 
selections from major brands.[/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery][/tmp]
[tmp members_only][/tmp]
[tmp meta_header][/tmp]

[include templates/redesign/header]
<div id="mid">
	<div id="subcontent">
		<h1 class="bc03">Contact Lenses</h1>
		<!-- 
			<div id="crumbs" class="bc01">[page_breadcrumbs location="Contact Lenses,contacts/contact_lenses"]</div>
		-->
		<div id="sec-container" class="c2">
			<div style="width: 624px; margin: 0 auto">
				<a href="http://click.linksynergy.com/fs-bin/click?id=o3m18SNTpAo&offerid=232570.29&type=4&subid=0" target="_blank"><img src="/img/1800anylens/1800anylens-banner.jpg" alt="Save 15% on your first order - 1800AnyLens.com" /></a>
				<br />
				<em>39DollarGlasses.com</em> is proud to recommend our affiliate for online contact lens orders, <em><a href="http://click.linksynergy.com/fs-bin/click?id=o3m18SNTpAo&offerid=232570.29&type=4&subid=0" onclick="this.target='_blank'">1800AnyLens.com</a>.</em>
			</div>
			<br />
			<br />
			1800AnyLens Offers You:
			<br />
			<ul style="margin:12px 0 12px 12px">
				<li>15% off your entire order with promo code <strong>39DOLLAR15</strong></li>
				<li>Free shipping on orders over $125</li>
				<li>A Best Price Guarantee - find a lower price we'll beat it!</li>
			</ul>
			<br />
			<a href="http://click.linksynergy.com/fs-bin/click?id=o3m18SNTpAo&offerid=232570.29&type=4&subid=0" target="_blank"><img src="/img/1800anylens/1800anylens-logo-small.png" alt="1800AnyLens.com - Seeing is Believing" /></a>
		</div>
	</div>
</div>

[include templates/redesign/footer]
