/* Overlay */
/* #simplemodal-overlay {background-color:#000000; cursor:wait;} */
#simplemodal-overlay {background-color:#000000;}

#basic-modal-content {display:none; overflow: hidden;}


#simplemodal-container {color:#bbb; 
                        background-color:#000000; 
                        border:none; 
                        padding-top:0px;
                        padding-left:0px;
                        padding-right:0px;
                        padding-bottom:0px;
                        }
                        
#simplemodal-container .simplemodal-data {padding:0px;}
/*#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container h3 {color:#84b8d9;}
*/


#tryon-modal-lg-display {display:none;
			width: 444px;
			height: 652px;
			}
#tryon-modal-lg-display .simplemodal-data {padding: 0; }
/*
#tryon-modal-lg-display a.modalCloseImg {background:url(/store/images/tryon-close-but.jpg) no-repeat; 
                                        display:inline; 
                                        width: 81px;
                                        height: 40px;
                                        z-index:3200; 
                                        position:absolute; 
                                        top:0px; 
                                        right:0px; 
                                        cursor:pointer;}


#tryon-modal-lg-display .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#tryon-modal-lg-display .buttons div {float:right; 
					margin-left:4px; 
					width:70px; 
					height:26px; 
					color:#666; 
					font-weight:bold; 
					text-align:center; 
					background:url(../img/confirm/button.gif) repeat-x; 
					border:1px solid #bbb; 
					cursor:pointer;} 
					
*/


#tryon-modal-share {display:none;
			width: 800px;
			height: 460px;
			}
#tryon-modal-share .simplemodal-data {padding: 0;}

/*
#tryon-modal-share a.modalCloseImg {background:url(/store/images/tryon-close-but.jpg) no-repeat; 
                                        display:inline; 
                                        width: 81px;
                                        height: 24px;
                                        z-index:3200; 
                                        position:absolute; 
                                        top:-26px; 
                                        right:-24px; 
                                        cursor:pointer;}


#tryon-modal-share .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#tryon-modal-share .buttons div {float:right; 
					margin-left:4px; 
					width:70px; 
					height:26px; 
					color:#666; 
					font-weight:bold; 
					text-align:center; 
					background:url(../img/confirm/button.gif) repeat-x; 
					border:1px solid #bbb; 
					cursor:pointer;} 
					
*/



					
					
					






/*

#simplemodal-container a.modalCloseImg {background:url(/store/images/tryon-close-but.jpg) no-repeat; 
                                        display:inline; 
                                        width: 81px;
                                        height: 40px;
                                        z-index:3200; 
                                        position:absolute; 
                                        top:0px; 
                                        right:0px; 
                                        cursor:pointer;}



#simplemodal-container .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#simplemodal-container .buttons div {float:right; 
					margin-left:4px; 
					width:70px; 
					height:26px; 
					color:#666; 
					font-weight:bold; 
					text-align:center; 
					background:url(../img/confirm/button.gif) repeat-x; 
					border:1px solid #bbb; 
					cursor:pointer;} 

*/


/*				
#tryon-modal-warning {display:none;
			width: 420px;
			height: 240px;
			}
#tryon-modal-warning .simplemodal-data {padding:1px;}
#tryon-modal-warning a.modalCloseImg {background:url(/store/images/tryon-close-but.jpg) no-repeat; 
                                        display:inline; 
                                        width: 81px;
                                        height: 24px;
                                        z-index:3200; 
                                        position:absolute; 
                                        top:-26px; 
                                        right:-24px; 
                                        cursor:pointer;}

#tryon-modal-warning .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#tryon-modal-warning .buttons div {float:right; 
					margin-left:4px; 
					width:70px; 
					height:26px; 
					color:#666; 
					font-weight:bold; 
					text-align:center; 
					background:url(../img/confirm/button.gif) repeat-x; 
					border:1px solid #bbb; 
					cursor:pointer;} 
					
*/

