[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]
[set current-page]receipt[/set]
[tmp page_title]__COMPANY__ -- Receipt[/tmp]
[ab-log flag="receipt" order="[value mv_order_number]"]
[tmpn meta_header]<link rel="stylesheet" href="https://www.resellerratings.com/images/js/dhtml_survey.css" type="text/css" />[/tmpn]
[include templates/redesign/header]

<!-- BEGIN CONTENT -->
[comment]
[set completed_order]1[/set]
[/comment]
[seti order_content]
[include etc/mail_receipt_std.body]

[perl]
my $ref = $Session->{carts}->{main};
my $start = $#$ref + 1;

my $debug = 0;

for ($i=0; $i < $start; $i++)
{

	# PKG G - GREY OR BROWN WITHOUT AR
	if ($Session->{carts}->{main}->[$i]->{lenstype} eq 'TRAN1')
	{
		if ($Session->{carts}->{main}->[$i]->{tint} eq 'GREY' || $Session->{carts}->{main}->[$i]->{tint} eq 'BROWN')
		{
			# intentionally empty
		}
		else
		{
			&Log('disable bizrate (1)') if $debug;
			$Scratch->{showbizrate} = undef;
		}
		if ($Session->{carts}->{main}->[$i]->{coating} eq 'COA3')
		{
			# intentionally empty
		}
		else
		{
			&Log('disable bizrate (2)') if $debug;
			$Scratch->{showbizrate} = undef;
		}
	}

	# PKG H - GREY WITH OR WITHOUT AR AND BROWN WITHOUT AR
	elsif ($Session->{carts}->{main}->[$i]->{lenstype} eq 'TRAN2')
	{
		if ($Session->{carts}->{main}->[$i]->{tint} eq 'GREY')
		{
			# intentionally empty
		}
		elsif ($Session->{carts}->{main}->[$i]->{tint} eq 'BROWN')
		{
			if ($Session->{carts}->{main}->[$i]->{coating} eq 'COA3')
			{
				# intentionally empty
			}
			else
			{
				&Log('disable bizrate (3)') if $debug;
				$Scratch->{showbizrate} = undef;
			}
		}
		else
		{
			&Log('disable bizrate (4)') if $debug;
			$Scratch->{showbizrate} = undef;
		}
	}

	# TEMP FIX FOR Y, YI, YT
	elsif ($Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_OPT4' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_SUN23' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_TRAN6')
	{
		$Scratch->{showbizrate} = undef;
	}

	# PKGS JU, JUI, JUT, U, UI, UT, Y, YI, YT - WITHOUT AR
	elsif ($Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_OPT3' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_SUN15' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_TRAN5' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_OPT5' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_SUN19' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_TRAN8' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_OPT4' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_SUN23' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROGE_TRAN6')
	{
		if ($Session->{carts}->{main}->[$i]->{coating} eq 'COA3')
		{
			# intentionally empty
		}
		else
		{
			&Log('disable bizrate (5)') if $debug;
			$Scratch->{showbizrate} = undef;
		}
	}

	# PKGS A, B, C, E, F, M, N, O, T, WP, WT, XC, XJC, XKC
	elsif ($Session->{carts}->{main}->[$i]->{lenstype} eq 'OPT1' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'OPT2' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'SUN1' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'POLS2' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'POLS4' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_SUN5' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_POLS5' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_SUN6' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_POLS6' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_TRAN3' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'OPT4' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_POLS7' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_TRAN4' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'POLS9' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'BIF_POLS10' || $Session->{carts}->{main}->[$i]->{lenstype} eq 'PROG_POLS11')
	{
		# intentionally empty
	}
	else
	{
		&Log('disable bizrate (6)') if $debug;
		&Log($Session->{carts}->{main}->[$i]->{lenstype}) if $debug;
		$Scratch->{showbizrate} = undef;
	}

}
[/perl]

[if scratch showbizrate]
	[comment]TEMPORARILY DISABLE BIZRATE IN FAVOR OF RESELLER RATINGS
	<!-- BEGIN: BizRate.com Survey Invitation HTML  --> 
	<script language="javascript">window.open("https://eval.bizrate.com/popup.pl?id=31162","thisName","directories=0,height=160,width=425");</script> 
	<noscript> 
		<a href="https://eval.bizrate.com/popchoice.pl?id=31162" target="_blank"><img src="https://eval.bizrate.com/images/surveys/button_31162.gif" alt="What do you think of this Merchant?"  border="0"><br /></a> 
	</noscript> 
	<!-- END:  BizRate.com Survey Invitation HTML  -->
	[/comment]
	<script type="text/javascript">
	seller_id = 4590;
	document.write('<'+ 'script type="text/javascript" src="https://www.resellerratings.com/images/js/popup_include.js"><\/script>');
	</script>
[/if]
[comment]NexTag ROI Optimizer[/comment]
	<script type="text/javascript">
	<!--
			var id = '4775419';
			var rev = '[total-cost noformat=1]';
			var order = '[value mv_order_number]';
	//-->
	</script>
	<script type="text/javascript" src="https://imgsrv.nextag.com/imagefiles/includes/roitrack.js"></script>
[comment]End nextag[/comment]

<!--ROIA conversion #163-->
<img src="https://roia.biz/im/l/163/c/1042?id=[value mv_order_number];amount=[total-cost noformat=1]" alt="" width="1" height="1" border="0" style="width:1px;height:1px;border:0" />
<!--/ROIA conversion #163-->
[comment]
The following code is for the mediaforge project, not quite ready for live
[seti media-forge-order-total][total-cost noformat=1][/seti]
[seti media-forge-order-number][value mv_order_number][/seti]
[/comment]
<script type="text/javascript">
<!--
var order_id = "[value mv_order_number]";
var order_value = "[total-cost noformat=1]";
var total_units = "[nitems]";
var product_ids = "[item-list][item-code],[/item-list]";
var product_units = "[item-list][item-quantity],[/item-list]";
//-->
</script>
<script src="https://reporting.singlefeed.com/z/convert.pl?merchant_id=2742" type="text/javascript" ></script>

[/seti]
[tmp order_total][subtotal noformat=1][/tmp]

[perl]
	my $cost = $Scratch->{order_total};
	$Scratch->{order_url} = $Tag->area({	href => 'ord/receipt',
						secure => 1,
						form => "CTValue=$cost"});

	$Scratch->{order_url} =~ s/\%2e/\./;

[/perl]

[comment]Yahoo conversion pixel[/comment]
<!-- Advertiser 'Value Eyecare Network Inc.',  Conversion tracking '39DollarGlasses Conversion Pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1856411&t=2" width="1" height="1" />
<!-- End of conversion tag -->


<!-- BoldChat Conversion Tracking HTML v2.00 (Website=www.39dollarglasses.com,ConversionCode=Conversion Code 1) -->
<script type="text/javascript">
	var _bcct = _bcct || [];
  _bcct.push({
		ConversionAmount: '[total-cost noformat=1]',
    ConversionRef: "[value mv_order_number]",
    ConversionInfo: "",
    WebsiteDefID: "3406947604309496171",
    ConversionCodeID: "4420769409392940763"
	});
	if(window.pageViewer && pageViewer.conversion) pageViewer.conversion(_bcct[_bcct.length-1]);
</script>
<!-- /BoldChat Conversion Tracking HTML v2.00 -->

[comment] ## Clear UYOF valus ## [/comment]
[value name="use_your_own_frame" set="" hide="1"]
[value name="rimless" set="" hide="1"]
[value name="mv_order_uyof_add" set="" hide="1"]
[value name="lens_prescription" set="" hide="1"]
[value name="lens_describe" set="" hide="1"]
[value name="comments" set="" hide="1"]
[bounce href="[scratch order_url]"]

<!-- END CONTENT -->
[include templates/redesign/footer]
