[set page_title][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set icon_name]icon_orders.gif[/set]
[tmp third_menu]Knowledgebase[/tmp]

[if !cgi parent]
	[tmp parent]0[/tmp]
[else]
	[tmp parent][cgi parent][/tmp]
[/else]
[/if]


@_UI_STD_HEAD_@


[if cgi delete]
	[query sql=|DELETE FROM kb_articles WHERE code = '[cgi delete]' LIMIT 1|][/query]
	[set kb_amsg]<font color="green">Article Deleted</font><br />[/set]
	
	[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1|][/tmp]
	[bounce href=|[scratch bounce_to]#category_[cgi parent]|]
[/if]

[if cgi movecopy eq 'move']
	[query sql=|UPDATE kb_articles SET category = '[cgi articlenewparent]' WHERE code = '[cgi articlecode]' LIMIT 1|][/query]
	[set kb_amsg]<font color="green">Article Moved</font><br />[/set]
	
	[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1|][/tmp]
	[bounce href=|[scratch bounce_to]#category_[cgi articlenewparent]|]
[elsif cgi movecopy eq 'copy']

	[query sql=|SELECT * FROM kb_articles WHERE code = '[cgi articlecode]' LIMIT 1| type=|list|]
		[list]
			[tmp sql]
			INSERT INTO kb_articles (`name`,`articletext`,`status`,`category`,`viewed`,`keywords`)
			VALUES ('[filter sql][sql-param name][/filter]','[filter sql][sql-param articletext][/filter]','1','[cgi articlenewparent]','0','[sql-param keywords]')
			[/tmp]				
			[query sql=|[scratch sql]|][/query]	
		[/list]
	[/query]
	
	[seti kb_amsg]<font color="green">Article Copied</font><br />[/seti]
	
	[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1|][/tmp]
	[bounce href=|[scratch bounce_to]#category_[cgi articlenewparent]|]
	
[/elsif]
[/if]

[if cgi add]
	[if cgi save]
		[if cgi name]
			<!-- [query sql=|
			INSERT INTO kb_articles
			(`name`,`articletext`,`status`,`category`,`keywords`)
			VALUES
			('[cgi filter="sql" name="name"]','[cgi filter="sql" name="articletext" enable_html="1"]','1','[cgi parent]','[cgi filter="sql" name="keywords"]')
			|][/query] -->
			[tmp kb_amsg]<font color="green">Article Added</font>[/tmp]
			
			[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1|][/tmp]
			[bounce href=|[scratch bounce_to]#category_[cgi parent]|]
			
		[else]
			[tmp kb_amsg]<font color="red">Please check you filled in all the fields</font>[/tmp]
		[/else]
		[/if]
	[/if]
[/if]

[if cgi edit]
	[if cgi save]
		[if cgi name]
			<!-- [query sql=|
			UPDATE kb_articles
			SET name='[cgi filter="sql" name="name"]',
			keywords='[cgi filter="sql" name="keywords"]',
			articletext='[cgi filter="sql" name="articletext" enable_html="1"]'
			WHERE code = '[cgi edit]'
			|][/query] -->
			[tmp kb_amsg]<font color="green">Article changes saved</font>[/tmp]
			
			[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1&parent=[cgi parent]|][/tmp]
			[bounce href=|[scratch bounce_to]#category_[cgi parent]|]
			
		[else]
			[tmp kb_amsg]<font color="red">Please check you filled in all the fields</font>[/tmp]
		[/else]
		[/if]
	[else]
	
	[/else]
	[/if]
[/if]

<script type="text/javascript">
	if (document.addEventListener) {
		//add correct domload handlers
	  document.addEventListener("DOMContentLoaded", function(){areaedit_init()}, false);
	} else if (document.all && !window.opera){
		//for IE, because above is just another thing it doesn't support.
	  document.write('<script type="text/javascript" id="contentloadtag" defer="defer" src="javascript:void(0)"><\/script>')
	  var contentloadtag = document.getElementById("contentloadtag");
	  contentloadtag.onreadystatechange=function() {
	    if (this.readyState=="complete") {
	      areaedit_init();
	    }
	  }
	}
	else
	{
		//fall back for browsers even worse than IE
		window.onload=function(){
		  areaedit_init();
		}
	}
	</script>
	
	
	<script type="text/javascript">
	var _editor_url;
	var _editor_lang;
	_editor_url  = "/areaedit/";
	_editor_lang = "en";
  </script>

  <script type="text/javascript" src="/areaedit/ddt/ddt.js"></script>
  <script type="text/javascript">
  var startupDDT = new DDT("startup");
  </script>
  
  <!-- Load up the actual editor core -->
  <script type="text/javascript" src="/areaedit/htmlarea.js"></script>

  <script type="text/javascript">

   var areaedit_editors = null;
   var areaedit_init    = null;
   var areaedit_config  = null;
   var areaedit_plugins = null;

	startupDDT._ddt( "admin/ambassador/article.html", "71", "Setting up areaedit_init()" );

	// --------------------------------------------------------------------------------

	areaedit_init = function()
	{

		// This is a workaround for a bug in MSIE that sometimes produces
		// "Operation Aborted" errors. The error comes from the fact that
		// MSIE will /sometimes/ call the onload handler before the DOM
		// heirarchy is completely built. 
		//
		// So we do not run this function until the page has completely 
		// loaded if we are MSIE.

		if (HTMLArea.is_ie && document.readyState != "complete" )
		{
			setTimeout( function() { areaedit_init()}, 50 );
			return false;
		}

		startupDDT._ddt( "admin/ambassador/article.html", "76", "areaedit_init called" );
		HTMLArea.init();

		/** STEP 1 ***************************************************************/
		
		// a minmal list of plugins.
		
		var areaedit_plugins_minimal = 
		[
		 'ContextMenu',
		 'ImageManager',
		 'TableOperations'
		];		
		
		startupDDT._ddt( "admin/ambassador/article.html", "92", "calling HTMLArea.loadplugins()" );		
		if ( !HTMLArea.loadPlugins( areaedit_plugins_minimal, areaedit_init)) 
		{
		return;
		}
		
		/** STEP 2 ***************************************************************/
		
		areaedit_editors = 
		[
		  'articletext'
		];
		
		/** STEP 3 ***************************************************************/
		
		startupDDT._ddt( "admin/ambassador/article.html", "119", "calling HTMLArea.Config()" );		
		areaedit_config = new HTMLArea.Config();
		
		/** STEP 3 ***************************************************************/
		
		startupDDT._ddt( "admin/ambassador/article.html", "140", "calling HTMLArea.makeEditors()" );		
		areaedit_editors = HTMLArea.makeEditors(areaedit_editors, areaedit_config, areaedit_plugins_minimal);
		
		/** STEP 4 ***************************************************************/
		
		 areaedit_editors.articletext.config.width  = 700;
		 areaedit_editors.articletext.config.height = 350;
		
		/** STEP 5 ***************************************************************
		 * Finally we "start" the editors, this turns the textareas into
		 * AreaEdit editors.
		 ************************************************************************/
		
		startupDDT._ddt( "admin/ambassador/article.html", "160", "calling HTMLArea.startEditors()" );
		
		HTMLArea.startEditors(areaedit_editors);
		
		}  // end of areaedit_init()


	var submitHandler = function(formname) 
	{
   	var form = document.getElementById(formname);	
		// in order for the submit to work both of these methods have to be called.
		if(check_form())
		{
		  form.onsubmit();
			form.submit();
			return true;
		}
		else
		{
			return false;	
		}
	}

  </script>

[tmp parent][cgi parent][/tmp]
[if cgi edit]
	[tmp parent][data table="kb_articles" field="category" key="[cgi edit]"][/tmp]
[/if]

<h2>Knowledge Base : Admin : Add/Edit Article</h2>
<h4>Category: [data table="kb_categories" field="name" key="[scratch parent]"]</h4>
<span>Enter the name of the article and article content below</span>
<br />
[scratchd kb_amsg]

<form action="[area admin/knowledgebase/article]" method="post">
	<input type="hidden" name="kb" value="1" />
	[if cgi edit]
	<input type="hidden" name="edit" value="[cgi edit]" />
	[else]
	<input type="hidden" name="add" value="1" />
	[/else]
	[/if]
	<input type="hidden" name="save" value="1" />
	<input type="hidden" name="parent" value="[scratch parent]" />	
	Article Name: <input type="text" name="name" value="[if cgi edit][either][cgi name][or][data table="kb_articles" field="name" key="[cgi edit]"][/either][else][cgi name][/else][/if]" size="40" /><br /><br />
	Article Keywords: <input type="text" name="keywords" value="[if cgi edit][either][cgi keywords][or][data table="kb_articles" field="keywords" key="[cgi edit]"][/either][else][cgi keywords][/else][/if]" size="40" /><br /><br />
	Article Text: <br />
	<textarea name="articletext" id="articletext">[if cgi edit][either][cgi articletext][or][data table="kb_articles" field="articletext" key="[cgi edit]"][/either][else][cgi articletext][/else][/if]</textarea>
	<input type="submit" value="[if cgi edit]Save Changes [else]Add Article[/else][/if]" />
</form>


@_UI_STD_FOOTER_@