[if cgi action eq 'rename']	
	[tmp catcode][cgi catcode][/tmp]
	[if type="explicit" compare="$CGI->{catnewname} && $CGI->{catcode}"]
		[query sql=|UPDATE kb_categories SET name = '[cgi catnewname]' WHERE code = '[cgi catcode]' LIMIT 1|][/query]
		[set kb_cmsg]<font color="green">Category Renamed</font><br />[/set]
	[else]
		[set kb_cmsg]<font color="red">No name entered</font><br />[/set]
	[/else]
	[/if]
[elsif cgi action eq 'move']
	[tmp catcode][cgi catcode][/tmp]	
	[if type="explicit" compare="$CGI->{catnewparent} && $CGI->{catcode}"]
		[query sql=|UPDATE kb_categories SET parentcode = '[cgi catnewparent]' WHERE code = '[cgi catcode]' LIMIT 1|][/query]
		[set kb_cmsg]<font color="green">Category Moved</font><br />[/set]
	[else]
		[set kb_cmsg]<font color="red">No category chosen</font><br />[/set]
	[/else]
	[/if]
[/elsif]
[elsif cgi action eq 'delete']
	[tmp catcode][cgi catcode][/tmp]
	[if cgi catcode]
		[query sql=|DELETE FROM kb_categories WHERE code = '[cgi catcode]' LIMIT 1|][/query]
		[set kb_cmsg]<font color="green">Category Removed</font><br />[/set]
	[elsif cgi articlecode]
		[query sql=|DELETE FROM kb_articles WHERE code = '[cgi articlecode]' LIMIT 1|][/query]
		[set kb_cmsg]<font color="green">Article Removed</font><br />[/set]
	[/elsif]
	[else]
		[set kb_cmsg]<font color="red">No item to delete</font><br />[/set]
	[/else]
	[/if]
[/elsif]
[elsif cgi action eq 'add']
	[tmp catcode][cgi addcat_parent][/tmp]
	[if cgi addcat_name]
		<!-- [query sql=|
		INSERT INTO kb_categories
		(`name`,`parentcode`,`status`)
		VALUES
		('[cgi addcat_name]','[cgi addcat_parent]','1')
		|][/query] -->		
		[tmp kb_cmsg]<font color="green">Category added</font>[/tmp]
	[else]
		[tmp kb_cmsg]<font color="red">Please enter a category name</font>[/tmp]
	[/else]
	[/if]
[/elsif]
[else]
	[set kb_cmsg]<font color="red">No action supplied</font><br />[/set]
[/else]
[/if]

[tmp bounce_to][area href=|admin/knowledgebase/index| form=|kb=1|][/tmp]
[bounce href=|[scratch bounce_to]#category_[scratch catcode]|]