[set page_title][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set icon_name]icon_orders.gif[/set]
[tmp third_menu]Knowledgebase[/tmp]

[if !cgi parent]
	[tmp parent]0[/tmp]
[else]
	[tmp parent][cgi parent][/tmp]
[/else]
[/if]


@_UI_STD_HEAD_@


[perl no_return="1" tables="kb_categories kb_articles"]
	sub find_categories {
		my $parent = shift;		
		
		$Document->write("<ul>");
		$Tag->query({sql=>"select * from kb_categories WHERE parentcode = '$parent'",hashref=>'results',table=>'kb_categories'});
		foreach $row (@{$Tmp->{results}})
		{	
			$Document->write("<li><b>$row->{name}</b></li>");			
			find_categories($row->{code});	
			
			$Tag->query({sql=>"select * from kb_articles WHERE category = '$row->{code}'",hashref=>'articleresults',table=>'kb_articles'});
			foreach $article (@{$Tmp->{articleresults}})
			{
				$Document->write($indent.'&nbsp;&nbsp;&nbsp;');
				$Document->write(" - $article->{name}<br />");			
			}					
		}		
		$Document->write("</ul>");
	}
	
	find_categories(0);		
[/perl]

[comment]
[query sql=|select * from kb_articles WHERE category = '[scratch parent]'| type=|list|]
	[list]
		[sql-param name] <a href="[area href=|admin/knowledgebase/article| form=|kb=1&parent=[scratch parent]&edit=[sql-param code]|]">( edit )</a>
		<a href="[area href=|admin/knowledgebase/article| form=|kb=1&parent=[scratch parent]&delete=[sql-param code]|]" onclick="return confirm('Are you sure you wish to delete this article?'); return false;">( delete )</a>
		<br />
	[/list]
	[no-match]
	No Articles
	[/no-match]
[/query]
[/comment]



@_UI_STD_FOOTER_@