[set page_title][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set ui_class]Admin[/set]
[set page_banner][L]Knowledge Base[/L] : [L]Categories[/L][/set]
[set icon_name]icon_orders.gif[/set]
[tmp third_menu]Knowledgebase[/tmp]

[if !cgi parent]
	[tmp parent]0[/tmp]
[else]
	[tmp parent][cgi parent][/tmp]
[/else]
[/if]


@_UI_STD_HEAD_@

<style type="text/css">
ul {
	font-size:12px;
}
ul li {
	font-size:13px;
	font-weight:bold;	
}
</style>


<script type="text/javascript">
function renameCategory(catid,currentname)
{
	var newname = prompt("Rename category",currentname);
	if((newname == '') || (newname == null) || (newname == currentname))
	{
		alert('No changes');
		return false;		
	}
	else
	{
		document.getElementById('catrename_code').value = catid;
		document.getElementById('catrename_name').value = newname;
		document.renamecatform.submit();	
	}
}

function centerObject(obj)
{
	var obj = document.getElementById(obj);
	var x = parseInt(document.body.scrollLeft) + parseInt(obj.offsetWidth);
	var y = parseInt(document.body.scrollTop) + parseInt(obj.offsetHeight);     
  obj.style.left = x + 'px';
  obj.style.top = y + 'px';
  obj.style.position = 'absolute';
}

function moveCategory(catid,catname)
{
	document.getElementById('catmove_name').innerHTML = catname;
	document.getElementById('catmove_code').value = catid;
	document.getElementById('catmove_block').style.display = 'block';	
	centerObject('catmove_block');
}
function selectMoveCategory()
{
	var newparent = document.getElementById('catmove_select').options[document.getElementById('catmove_select').selectedIndex].value;
	document.getElementById('catmove_parent').value = newparent;
	document.movecatform.submit();
}
function cancelMoveCategory()
{
	document.getElementById('catmove_name').innerHTML = '';
	document.getElementById('catmove_code').value = '';
	document.getElementById('catmove_block').style.display = 'none';		
}



function addCategory(catparent,catname)
{
	document.getElementById('addcat_parent').value = catparent;
	document.getElementById('addcat_block').style.display = 'block';	
	linkpos = getObjectPos('addCatLink_'+catparent);
	document.getElementById('addcat_block').style.left = linkpos.x + 'px';
  document.getElementById('addcat_block').style.top = linkpos.y + 'px';	
}
function cancelAddCategory()
{
	document.getElementById('addcat_parent').value = '';
	document.getElementById('addcat_block').style.display = 'none';		
}

</script>

<form name="renamecatform" action="[area admin/knowledgebase/category]" method="post">
	<input type="hidden" name="action" value="rename" />
	<input type="hidden" id="catrename_code" name="catcode" value="" />
	<input type="hidden" id="catrename_name" name="catnewname" value="" />
</form>

<form name="movecatform" action="[area admin/knowledgebase/category]" method="post">
	<input type="hidden" name="action" value="move" />
	<input type="hidden" id="catmove_code" name="catcode" value="" />
	<input type="hidden" id="catmove_parent" name="catnewparent" value="" />
</form>

<div id="catmove_block" style="background:#fff; padding:5px; border:1px solid #000; height:150px; width:300px; position:absolute; display:none;">
	<b>Move category</b><br />
	'<span id="catmove_name"></span>'<br /><br />
	<i>Choose the new parent of this category</i>
	<select id="catmove_select" onchange="selectMoveCategory();">
		<option></option>
		<option value="0" style="font-weight:bold;">Top</option>
	[perl no_return="1" tables="kb_categories"]
		sub find_categories {
			my ($parent,$indent) = @_;				
			$indent .= '&nbsp;&nbsp;&nbsp;';
			$Tag->query({sql=>"select * from kb_categories WHERE parentcode = '$parent'",hashref=>'results',table=>'kb_categories'});
			foreach $row (@{$Tmp->{results}})
			{	
				$Document->write("<option value=\"$row->{code}\">$indent$row->{name}</option>");			
				find_categories($row->{code},$indent);						
			}		
		}		
		find_categories(0,'');		
	[/perl]
	</select><br /><br />
	<button type="button" onclick="cancelMoveCategory(); return false;"> Cancel </button>
</div>

<div id="addcat_block" style="background:#fff; padding:5px; border:1px solid #000; height:50px; width:300px; position:absolute; display:none;">
	<form name="addcatform" action="[area admin/knowledgebase/category]" method="post">
		<input type="hidden" name="action" value="add" />
		<input type="hidden" id="addcat_parent" name="addcat_parent" value="" />
		<input type="text" name="addcat_name" value="" />
		<input type="submit" value="Add" />	<button type="button" onclick="cancelAddCategory(); return false;"> Cancel </button>
	</form>	
</div>



<script type="text/javascript">	
function moveArticle(articleid,articlename,moveaction)
{	
	document.getElementById('articlemove_title').innerHTML = moveaction;
	document.getElementById('articlemove_action').value = moveaction;	
	document.getElementById('articlemove_name').innerHTML = articlename;
	document.getElementById('articlemove_code').value = articleid;
	document.getElementById('articlemove_block').style.display = 'block';	
	centerObject('articlemove_block');
}
function selectMoveArticle()
{
	var newcategory = document.getElementById('articlemove_select').options[document.getElementById('articlemove_select').selectedIndex].value;
	document.getElementById('articlemove_parent').value = newcategory;
	document.movearticleform.submit();
}
function cancelMoveArticle()
{
	document.getElementById('articlemove_name').innerHTML = '';
	document.getElementById('articlemove_code').value = '';
	document.getElementById('articlemove_block').style.display = 'none';		
}
</script>

<form name="movearticleform" action="[area admin/knowledgebase/article]" method="post">
	<input type="hidden" id="articlemove_action" name="movecopy" value="" />
	<input type="hidden" id="articlemove_code" name="articlecode" value="" />
	<input type="hidden" id="articlemove_parent" name="articlenewparent" value="" />
</form>

<div id="articlemove_block" style="background:#fff; padding:5px; border:1px solid #000; height:150px; width:300px; position:absolute; display:none;">
	<b><span id="articlemove_title"></span> article</b><br />
	'<span id="articlemove_name"></span>'<br /><br />
	<i>Choose the new category of this article</i>
	<select id="articlemove_select" onchange="selectMoveArticle();">
		<option></option>		
	[perl no_return="1" tables="kb_categories"]
		sub find_categories {
			my ($parent,$indent) = @_;				
			$indent .= '&nbsp;&nbsp;&nbsp;';
			$Tag->query({sql=>"select * from kb_categories WHERE parentcode = '$parent'",hashref=>'results',table=>'kb_categories'});
			foreach $row (@{$Tmp->{results}})
			{	
				$Document->write("<option value=\"$row->{code}\">$indent$row->{name}</option>");			
				find_categories($row->{code},$indent);						
			}		
		}		
		find_categories(0,'');		
	[/perl]
	</select><br /><br />
	<button type="button" onclick="cancelMoveArticle(); return false;"> Cancel </button>
</div>

<h2>Knowledge Base : Admin</h2>
<span></span>
<br />

<hr>
<p>
	<b>HELP CENTER</b><br />
	[scratchd kb_cmsg]
	[scratchd kb_amsg]
	
	<a href=""></a>

	[perl no_return="1" tables="kb_categories kb_articles"]
		sub find_categories {
			my $parent = shift;		
			
			$Document->write("<ul>");
			$Tag->query({sql=>"select * from kb_categories WHERE parentcode = '$parent'",hashref=>'results',table=>'kb_categories'});
			foreach $row (@{$Tmp->{results}})
			{	
				my $escapename = $row->{name};
				$escapename = $Tag->filter({op=>'encode_entities',body=>$escapename});
				$escapename =~ s/\'/\\'/g;
				$Document->write("<li><a name=\"category_$row->{code}\"></a>$row->{name} ");
				$Document->write("<a href=\"#\" onclick=\"renameCategory('$row->{code}','$escapename'); return false;\">( Rename )</a> ");
				$Document->write("<a href=\"#\" onclick=\"moveCategory('$row->{code}','$escapename'); return false;\">( Move )</a> ");				
				$Document->write("<a href=\"".$Tag->area({href=>'admin/knowledgebase/category',form=>'action=delete&catcode='.$row->{code}})."\">( Delete )</a></li>\n");			
				$Document->write("<a href=\"#\" id=\"addCatLink_$row->{code}\" onclick=\"addCategory('$row->{code}','$escapename'); return false;\">Add Sub Category</a><br />");
				$Document->write("<a href=\"".$Tag->area({href=>'admin/knowledgebase/article',form=>'kb=1&parent='.$row->{code}})."\">Add New Article</a><br /><br />\n");
				
				find_categories($row->{code});			
				
				$Tag->query({sql=>"select * from kb_articles WHERE category = '$row->{code}'",hashref=>'articleresults',table=>'kb_articles'});
				foreach $article (@{$Tmp->{articleresults}})
				{
					$Document->write($indent.'&nbsp;&nbsp;&nbsp;');
					my $escapename = $article->{name};
					$escapename = $Tag->filter({op=>'encode_entities',body=>$escapename});
					$escapename =~ s/\'/\\'/g;
					$Document->write(" - $article->{name} <a href=\"".$Tag->area({href=>'admin/knowledgebase/article',form=>'kb=1&edit='.$article->{code}.'&parent='.$row->{code}})."\">( Edit )</a> ");
					$Document->write("<a href=\"#\" onclick=\"moveArticle('$article->{code}','$escapename','move'); return false;\">( Move )</a> ");
					$Document->write("<a href=\"#\" onclick=\"moveArticle('$article->{code}','$escapename','copy'); return false;\">( Copy )</a> ");
					$Document->write("<a href=\"".$Tag->area({href=>'admin/knowledgebase/article',form=>'delete='.$article->{code}})."\" onclick=\"return confirm('Are you sure you wish to delete this article'); return false;\">( Delete )</a><br />\n");			
				}
				$Document->write("<br />");				
			}		
			$Document->write("</ul>");
		}
		
		find_categories(0);		
	[/perl]



</p>
<hr>


@_UI_STD_FOOTER_@