[seti page_title]A/B Testing Reports - Main Menu[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@

<h2>AB Testing Reports - Menu</h2>

<ul>
	<li><a href="ab_report_home_checkout.html">Start --> Checkout</a></li>
	<li><a href="ab_report_recommended_lenses.html">Recommended Lenses - Order Value Comparison</a></li>
	<li><a href="[area admin/reports/order/ab_orders]">AB Orders by Coupon</a></li>
</ul>

@_UI_STD_FOOTER_@
