[if-mm !advanced orderstats]
	[calc]
			$CGI->{ab} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title]A/B Comparison Report[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]
[tmp meta_header]
<link rel="stylesheet" href="/css/ui_dot_luv.css" type="text/css" />
<script type="text/javascript" src="__JQUERY__"></script>
<script type="text/javascript" src="__JQUERY_UI__"></script>
<script type="text/javascript">
$(function(){
		$('input.datePicker').datepicker({
				altFormat: "yymmdd",
				dateFormat: "yymmdd",
				defaultDate: '0' //today
		});
});
</script>
[/tmp]

@_UI_STD_HEAD_@

[perl table="transactions"]
my $dbh = $Sql{transactions};
return unless $dbh;
return unless $CGI->{before} && $CGI->{before} =~ /^\d+$/;
return unless $CGI->{after} && $CGI->{after} =~ /^\d+$/;
my $sth = $dbh->prepare(q\
	SHOW COLUMNS FROM transactions
\);
$sth->execute;
my @columns;
while (my $row = $sth->fetchrow_arrayref){
	push @columns, $row->[0];
}
$sth->finish;
$sth = $dbh->prepare(q\
	SELECT * FROM transactions
	WHERE order_ymd >= ? 
	AND order_ymd <= ? 
	ORDER BY order_date DESC
\);
$sth->execute($CGI->{before},$CGI->{after});
my $transactions = fetchall_hashref($sth, @columns);
$Scratch->{transactions} = $transactions;
my ($a, $b, $acc, $bcc);
for my $t (@$transactions){
	if ($t->{ab} eq 'a'){
		++$a;
		$acc->{$t->{coupon_code} || 'N/A'}++;
	}else{
		++$b;
		$bcc->{$t->{coupon_code} || 'N/A'}++;
	}
}
$Tag->tmpn('a',$a);
$Tag->tmpn('b',$b);
$Tag->tmpn('acc',$acc);
$Tag->tmpn('bcc',$bcc);
return;

sub fetchall_hashref {
    #its called a hash ref interchange, use it
    my ($sth, @columns) = @_;
    my $res;
    while (my $row = $sth->fetchrow_arrayref){
        my $count = 0;
        my $ref;
        for (@$row){
            $ref->{$columns[$count++]} = $_;
        }
        push @$res, $ref;
    }
    return $res;
}
[/perl]

<div>
	<form id="reportForm" action="[area admin/reports/order/ab_orders]" method="POST">
		<fieldset>
			<input type="hidden" name="submitted" value="1" />
			<input type="hidden" name="mv_action" value="process" />
			<input type="hidden" name="mv_todo" value="return" />
			<table width="750px">
				<tr>
					<td>Start Date: <input name="before" type="text" class="datePicker" /></td>
					<td>End Date: <input name="after" type="text" class="datePicker" /></td>
				</tr>
				<tr>
					<td align="right" colspan="2"><input type="submit" value="Run report" /></td>
				</tr>
				[if cgi submitted]
				<tr>
					<td>Total 'A' Orders: [scratch a]</td>
				</tr>
				<tr>
					<td>Total 'B' Orders: [scratch b]</td>
				</tr>
				[calcn]
				my $out;
				$out .= sprintf(q\
						<tr><td>'A' Orders w/o Code: %1$s</td></tr>
				\,$Scratch->{acc}->{'N/A'} || 0);
				for my $k (keys %{$Scratch->{acc}}){
					next if $k eq 'N/A';
					$out .= sprintf(q\
						<tr><td>Code <b>%1$s</b> for 'A' Orders: %2$s</td></tr>
					\,$k, $Scratch->{acc}->{$k} || 0);
				}
				$out .= sprintf(q\
						<tr><td>'B' Orders w/o Code: %1$s</td></tr>
				\,$Scratch->{bcc}->{'N/A'} || 0);
				for my $k (keys %{$Scratch->{bcc}}){
					next if $k eq 'N/A';
					$out .= sprintf(q\
						<tr><td>Code <b>%1$s</b> for 'B' Orders: %2$s</td></tr>
					\,$k, $Scratch->{bcc}->{$k} || 0);
				}
				return $out;
				[/calcn]
				[/if]
			</table>
		</fieldset>
	</form>
</div>

@_UI_STD_FOOTER_@
