[if-mm !advanced orderstats]
	[calc]
			$CGI->{ab} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title]A/B Comparison Report[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@
<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<TR class=rmarq>
	<TD VALIGN=top width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN=top>
		[L]A / B[/L]
	</TD>
	<TD VALIGN=top>
		[L]Unique Sessions<br />Reached Checkout (1)[/L]
	</TD>
	<TD VALIGN=top>
		[L]Total<br />Reached Checkout (1)[/L]
	</TD>
	[comment]
	<TD VALIGN=top>
		[L]Unique Sessions<br />Completed Order[/L]
	</TD>
	[/comment]
	<TD VALIGN=top>
		[L]Total<br />Completed Orders[/L]
	</td>
	<TD VALIGN=top>
		% Completed<br />
		Of Unique
	</td>
	<TD VALIGN=top>
		% Completed<br />
		Of Total
	</td>
</TR>

[perl tables="ab_testing_log"]
	$r = 'fgfg';
	$Tag->query({sql=>"SELECT distinct(date_ymd) FROM ab_testing_log", table=>'ab_testing_log', hashref=>'date_array'});
	foreach $date (@{$Tmp->{date_array}})
	{
		$r .= '<tr>';		
			$r .= '<td colspan="8">';
			$r .= '<hr style="margin:0; padding:0;">';
			$r .= '</td>';
		$r .= '</tr>';
		
		$Tag->query({sql=>"SELECT count(distinct(sessionid)) as aunique, count(*) as atotal FROM ab_testing_log WHERE ab = 'a' AND date_ymd = '".$date->{date_ymd}."' AND flag1 = '1'", table=>'ab_testing_log', hashref=>'aba1_array'});
		foreach $aba1 (@{$Tmp->{aba1_array}})
		{
			$a_unique_flag1 = $aba1->{aunique};
			$a_total_flag1 = $aba1->{atotal};
		}
		
		$Tag->query({sql=>"SELECT count(distinct(sessionid)) as aunique, count(*) as atotal FROM ab_testing_log WHERE ab = 'a' AND date_ymd = '".$date->{date_ymd}."' AND flag2 = '1'", table=>'ab_testing_log', hashref=>'aba2_array'});
		foreach $aba2 (@{$Tmp->{aba2_array}})
		{
			$a_unique_flag2 = $aba2->{aunique};
			$a_total_flag2 = $aba2->{atotal};
		}
		
		
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>A</td>';
			$r .= '<td>'.$a_unique_flag1.'</td>';
			$r .= '<td>'.$a_total_flag1.'</td>';			
			$r .= '<td>'.$a_total_flag2.'</td>';
			$r .= '<td>';
			$c1 = ($a_total_flag2 / $a_unique_flag1) * 100;
			$r .= sprintf("%.1f",$c1);				
			$r .= ' %</td>';
			$r .= '<td>';
			$c1 = ($a_total_flag2 / $a_total_flag1) * 100;
			$r .= sprintf("%.1f",$c1);
			$r .= ' %</td>';
		$r .= '</tr>';
		
		$Tag->query({sql=>"SELECT count(distinct(sessionid)) as bunique, count(*) as btotal FROM ab_testing_log WHERE ab = 'b' AND date_ymd = '".$date->{date_ymd}."' AND flag1 = '1'", table=>'ab_testing_log', hashref=>'abb1_array'});
		foreach $abb1 (@{$Tmp->{abb1_array}})
		{
			$b_unique_flag1 = $abb1->{bunique};
			$b_total_flag1 = $abb1->{btotal};
		}
		
		$Tag->query({sql=>"SELECT count(distinct(sessionid)) as bunique, count(*) as btotal FROM ab_testing_log WHERE ab = 'b' AND date_ymd = '".$date->{date_ymd}."' AND flag2 = '1'", table=>'ab_testing_log', hashref=>'abb2_array'});
		foreach $abb2 (@{$Tmp->{abb2_array}})
		{
			$b_unique_flag2 = $abb2->{bunique};
			$b_total_flag2 = $abb2->{btotal};
		}
		
		
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>B</td>';
			$r .= '<td>'.$b_unique_flag1.'</td>';
			$r .= '<td>'.$b_total_flag1.'</td>';			
			$r .= '<td>'.$b_total_flag2.'</td>';
			$r .= '<td>';
			$c1 = ($b_total_flag2 / $b_unique_flag1) * 100;
			$r .= sprintf("%.1f",$c1);				
			$r .= ' %</td>';
			$r .= '<td>';
			$c1 = ($b_total_flag2 / $b_total_flag1) * 100;
			$r .= sprintf("%.1f",$c1);
			$r .= ' %</td>';
		$r .= '</tr>';		
	}		
	return $r;	
[/perl]

</TABLE>

@_UI_STD_FOOTER_@
