[if-mm !advanced orderstats]
	[calc]
			$CGI->{ab} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title]A/B Comparison Report[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@
<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<TR class=rmarq>
	<TD VALIGN=top width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN=top>
		[L]A / B[/L]
	</TD>
	<TD VALIGN=top>
		[L]Total<br />Assigned[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached Basket[/L]
	</TD>	
	<TD VALIGN=top>
		[L]Total<br />Completed Orders[/L]
	</td>
	<TD VALIGN=top>
		% Completed<br />
		Of Reached Basket
	</td>
</TR>

[query sql="SELECT distinct(date_ymd) FROM ab_testing_log" type="list" prefix="date" list-prefix="date"]
	[date]
		<tr>			
			<td colspan="8">
			<hr style="margin:0; padding:0;">	
			</td>
		</tr>	
			
				[query sql="SELECT count(*) as assignedtotal FROM ab_testing_log WHERE ab = 'a' AND date_ymd = '[date-param date_ymd]' AND flag10 = '1'" type="list" prefix="assigned" list-prefix="assigned"]
					[assigned]
						[tmp a_total_assigned][assigned-param assignedtotal][/tmp]
					[/assigned]
				[/query]
		
				[query sql="SELECT count(distinct(sessionid)) as aunique, count(*) as atotal FROM ab_testing_log WHERE ab = 'a' AND date_ymd = '[date-param date_ymd]' AND flag4 = '1'" type="list" prefix="aba" list-prefix="aba"]
					[aba]
						[tmp a_unique_flag4][aba-param aunique][/tmp]
						[tmp a_total_flag4][aba-param atotal][/tmp]
					[/aba]
				[/query]
				
				[query sql="SELECT count(distinct(sessionid)) as aunique, count(*) as atotal FROM ab_testing_log WHERE ab = 'a' AND date_ymd = '[date-param date_ymd]' AND flag2 = '1'" type="list" prefix="aba" list-prefix="aba"]
					[aba]
						[tmp a_unique_flag2][aba-param aunique][/tmp]
						[tmp a_total_flag2][aba-param atotal][/tmp]
					[/aba]
				[/query]
				
				<tr>
					<td>
					[convert-date fmt="%d %B %Y"][date-param date_ymd][/convert-date]
					</td>
					<td>
					A
					</td>
					<td>
						[scratch a_total_assigned]						
					</td>
					<td>
						[scratch a_total_flag4]						
					</td>
					<td>
						[scratch a_total_flag2]						
					</td>
					<td>
						[calc]
							$c1 = ([scratch a_total_flag2] / [scratch a_total_flag4]) * 100;
							return sprintf("%.1f",$c1);
						[/calc]	%				
					</td>
				</tr>	
				
				[query sql="SELECT count(*) as assignedtotal FROM ab_testing_log WHERE ab = 'b' AND date_ymd = '[date-param date_ymd]' AND flag10 = '1'" type="list" prefix="assigned" list-prefix="assigned"]
					[assigned]
						[tmp b_total_assigned][assigned-param assignedtotal][/tmp]
					[/assigned]
				[/query]
		
				[query sql="SELECT count(distinct(sessionid)) as bunique, count(*) as btotal FROM ab_testing_log WHERE ab = 'b' AND date_ymd = '[date-param date_ymd]' AND flag4 = '1'" type="list" prefix="abb" list-prefix="abb"]
					[abb]
						[tmp b_unique_flag4][abb-param bunique][/tmp]
						[tmp b_total_flag4][abb-param btotal][/tmp]
					[/abb]
				[/query]
				
				[query sql="SELECT count(distinct(sessionid)) as bunique, count(*) as btotal FROM ab_testing_log WHERE ab = 'b' AND date_ymd = '[date-param date_ymd]' AND flag2 = '1'" type="list" prefix="abb" list-prefix="abb"]
					[abb]
						[tmp b_unique_flag2][abb-param bunique][/tmp]
						[tmp b_total_flag2][abb-param btotal][/tmp]
					[/abb]
				[/query]
				
				<tr>
					<td>
					[convert-date fmt="%d %B %Y"][date-param date_ymd][/convert-date]
					</td>
					<td>
					B		
					</td>
					<td>
						[scratch b_total_assigned]
					</td>
					<td>
						[scratch b_total_flag4]
					</td>
					<td>
						[scratch b_total_flag2]
					</td>
					<td>
						[calc]
							$c1 = ([scratch b_total_flag2] / [scratch b_total_flag4]) * 100;
							return sprintf("%.1f",$c1);
						[/calc]	%					
					</td>
				</tr>					
			
					
	[/date]
[/query]

</TABLE>

@_UI_STD_FOOTER_@
