[if-mm !advanced orderstats]
	[calc]
			$CGI->{ab} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title]Recommended Lenses A/B Comparison Report[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]
[set ui_class]Reports[/set]

@_UI_STD_HEAD_@
<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<TR class=rmarq>
	<TD VALIGN=top width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN=top>
		[L]A / B[/L]
	</TD>
	<TD VALIGN=top>
		Inital<br />Entry
	</TD>	
	<TD VALIGN=top>
		[L]Reached<br />Step 3[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Basket[/L]
	</TD>	
	<TD VALIGN=top>
		[L]Order<br />Placed[/L]
	</td>
	<TD VALIGN=top>
		[L]Avg Order<br />Value[/L]
	</td>
</TR>

[perl tables="ab_testing_log transactions"]
	$r = '';
	$Tag->query({sql=>"SELECT distinct(date_ymd) FROM ab_testing_log", table=>'ab_testing_log', hashref=>'date_array'});
	foreach $date (@{$Tmp->{date_array}})
	{
		$r .= '<tr>';		
			$r .= '<td colspan="8">';
			$r .= '<hr style="margin:0; padding:0;">';
			$r .= '</td>';
		$r .= '</tr>';
		
		@flags = qw!initial step3 ord/basket ord/receipt!;
		
		%resultsa = ();		
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>A (Shown)</td>';
			
			foreach $flag (@flags)		
			{
				$sql = qq{select count(code) as result from ab_testing_log where flag = '$flag' and ab = 'a' AND date_ymd = '$date->{date_ymd}'};
				$Tag->query({sql=>$sql,table=>'ab_testing_log',hashref=>'flag_result'});
				foreach $flag_result (@{$Tmp->{flag_result}})
				{
					$resultsa{$flag} = $flag_result->{result};
				}
				$r .= '<td>'.$resultsa{$flag}.'</td>';			
			}		
			$r .= '<td>$';			
			
			$ordercount = 0;
			$sql = qq{select count(code) as result from transactions where ab = 'a' AND order_ymd = '$date->{date_ymd}'};
			$Tag->query({sql=>$sql,table=>'transactions',hashref=>'flag_result'});
			foreach $flag_result (@{$Tmp->{flag_result}})
			{
				$ordercount = $flag_result->{result};
			}	
			
			$ordertotals = 0;
			$sql = qq{select sum(total_cost) as result from transactions where ab = 'a' AND order_ymd = '$date->{date_ymd}'};
			$Tag->query({sql=>$sql,table=>'transactions',hashref=>'flag_result'});
			foreach $flag_result (@{$Tmp->{flag_result}})
			{
				$ordertotals = $flag_result->{result};
			}
			$avgvalue = sprintf("%.2f",($ordertotals / $ordercount));
			$r .= $avgvalue;	
	
			$r .= '</td>';
		$r .= '</tr>';	
				
		%resultsb = ();			
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>B (Not Shown)</td>';
			
			foreach $flag (@flags)		
			{
				$sql = qq{select count(code) as result from ab_testing_log where flag = '$flag' and ab = 'b' AND date_ymd = '$date->{date_ymd}'};
				$Tag->query({sql=>$sql,table=>'ab_testing_log',hashref=>'flag_result'});
				foreach $flag_result (@{$Tmp->{flag_result}})
				{
					$resultsb{$flag} = $flag_result->{result};
				}
				$r .= '<td>'.$resultsb{$flag}. '</td>';			
			}		
			$r .= '<td>$';			
			
			$ordercount = 0;
			$sql = qq{select count(code) as result from transactions where ab = 'b' AND order_ymd = '$date->{date_ymd}'};
			$Tag->query({sql=>$sql,table=>'transactions',hashref=>'flag_result'});
			foreach $flag_result (@{$Tmp->{flag_result}})
			{
				$ordercount = $flag_result->{result};
			}	
			
			$ordertotals = 0;
			$sql = qq{select sum(total_cost) as result from transactions where ab = 'b' AND order_ymd = '$date->{date_ymd}'};
			$Tag->query({sql=>$sql,table=>'transactions',hashref=>'flag_result'});
			foreach $flag_result (@{$Tmp->{flag_result}})
			{
				$ordertotals = $flag_result->{result};
			}
			$avgvalue = sprintf("%.2f",($ordertotals / $ordercount));
			$r .= $avgvalue;	
	
			$r .= '</td>';
		$r .= '</tr>';
				
	}		
return $r;	
[/perl]

</TABLE>

@_UI_STD_FOOTER_@
