[if-mm !advanced orderstats]
	[calc]
			$CGI->{ab} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title]A/B Comparison Report[/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@
<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<TR class=rmarq>
	<TD VALIGN=top width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN=top>
		[L]A / B[/L]
	</TD>
	<TD VALIGN=top>
		Inital<br />Entry
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Step 1[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Step 2[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Step 3[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Basket[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Checkout (1)[/L]
	</TD>
	<TD VALIGN=top>
		[L]Reached<br />Checkout (2)[/L]
	</TD>
	<TD VALIGN=top>
		[L]Order<br />Placed[/L]
	</td>
	<TD VALIGN=top>
		% Order Placed<br />
		Of Inital Entry
	</td>
</TR>

[perl tables="ab_testing_log"]
	$r = '';
	$Tag->query({sql=>"SELECT distinct(date_ymd) FROM ab_testing_log", table=>'ab_testing_log', hashref=>'date_array'});
	foreach $date (@{$Tmp->{date_array}})
	{
		$r .= '<tr>';		
			$r .= '<td colspan="8">';
			$r .= '<hr style="margin:0; padding:0;">';
			$r .= '</td>';
		$r .= '</tr>';
		
#		@flags = ('initial','flypage','step2','step3','ord/basket','ord/checkout1','ord/checkout2','ord/receipt');

		@flags = qw!initial flypage step2 step3 ord/basket ord/checkout1 ord/checkout2 ord/receipt!;
		
		%resultsa = ();		
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>A (NEW)</td>';
			
			foreach $flag (@flags)		
			{
				$sql = qq{select count(code) as result from ab_testing_log where flag = '$flag' and ab = 'a' AND date_ymd = '$date->{date_ymd}'};
				$Tag->query({sql=>$sql,table=>'ab_testing_log',hashref=>'flag_result'});
				foreach $flag_result (@{$Tmp->{flag_result}})
				{
					$resultsa{$flag} = $flag_result->{result};
				}
				$r .= '<td>'.$resultsa{$flag}.'</td>';			
			}		
			$r .= '<td>';
				
			$orders = ($resultsa{'ord/receipt'} * 1.0);			
			$initial = ($resultsa{'initial'} * 1.0);
			
			$at = ($orders / $initial) * 100;
			$r .= sprintf("%.1f",$at);		
			$r .= ' %</td>';
		$r .= '</tr>';	
				
		%resultsb = ();			
		$r .= '<tr>';
			$r .= '<td>'.$Tag->convert_date({fmt=>'%d %B %Y',body=>$date->{date_ymd}}).'</td>';
			$r .= '<td>B (OLD)</td>';
			
			foreach $flag (@flags)		
			{
				$sql = qq{select count(code) as result from ab_testing_log where flag = '$flag' and ab = 'b' AND date_ymd = '$date->{date_ymd}'};
				$Tag->query({sql=>$sql,table=>'ab_testing_log',hashref=>'flag_result'});
				foreach $flag_result (@{$Tmp->{flag_result}})
				{
					$resultsb{$flag} = $flag_result->{result};
				}
				$r .= '<td>'.$resultsb{$flag}. '</td>';			
			}		
			$r .= '<td>';
			$orders = ($resultsb{'ord/receipt'} * 1.0);			
			$initial = ($resultsb{'initial'} * 1.0);
			
			$at = ($orders / $initial) * 100;
			$r .= sprintf("%.1f",$at);		
			$r .= ' %</td>';
		$r .= '</tr>';
				
	}		
return $r;	
[/perl]

</TABLE>

@_UI_STD_FOOTER_@
