[if-mm !advanced orderstats]
	[calc]
			$CGI->{affiliate} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[seti page_title][L]Orders by Affiliate[/L][if cgi affiliate]: [cgi affiliate][/if][if cgi locale eq 'es_ES'] - Lentesymas[/if][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@
<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<tr class=rborder height=1><td colspan=4></td></tr>
<TR class=rmarq>
	<TD VALIGN=top width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN=top>
		[L]Affiliate[/L]
	</TD>
	<TD ALIGN=right VALIGN=top>
		[L]Number of Items[/L]
	</TD>
	<TD ALIGN=right VALIGN=top>
		[L]Number of Orders[/L]
	</TD>
	<TD ALIGN=right VALIGN=top>
		[L]Revenue[/L]
	</TD>
</TR>
<tr class=rborder height=1><td colspan=4></td></tr>

[calc]
	if($Session->{arg}) {
		$Scratch->{date_limit} = "AND order_date like '$Session->{arg}%'";
	}
	elsif ($CGI->{ui_begin_date}) {
		for (qw/ ui_begin_date ui_end_date /) {
			$CGI->{$_} = $Tag->filter( {
									op => 'date_change',
									body => $CGI->{$_}
								});
		}
		$Scratch->{date_limit} = <<EOF
AND   order_date > '$CGI->{ui_begin_date}'
AND   order_date < '$CGI->{ui_end_date}Z'
EOF
	}
	else {
		$Scratch->{date_limit} = "";
	}

	$Scratch->{synd_limit} = '';
	return unless $CGI->{affiliate};
	$Scratch->{synd_limit} = "AND affiliate = '$CGI->{affiliate}'";
	$Scratch->{synd_limit} .= " AND campaign = '$CGI->{campaign}'"
		if $CGI->{campaign};
	return;
[/calc]

[query
	st=db
	ml=100000
	table=transactions
	hashref=main
	sql="
		select affiliate, campaign, total_cost, order_date, nitems
			from  transactions
			WHERE [if cgi locale]site_language='[cgi locale]' AND [/if] deleted != '1' [scratch date_limit] [scratch synd_limit]
			order by affiliate, campaign, order_date
	"][/query]
[tmp ALL][L]ALL[/L][/tmp]
[tmp TOTAL][L]GRAND TOTAL[/L][/tmp]
[perl tables="transactions"]
	my %sales;
	$master = {};
	if($Scratch->{synd_limit}) {
		$syndstring = "&affiliate=$CGI->{affiliate}";
	}
	else {
		$syndstring = "";
	}
	#Log("query returned " . $Tag->uneval( {ref => $Tmp->{main} } ));
	foreach $line (@{$Tmp->{main}}) {
		my ($month) = substr($line->{order_date}, 0, 6);
		my $id = $line->{affiliate};
		$id .= "-$line->{campaign}";
		$month{$month}++;
		$master->{$month} = { } if ! $master->{$month};
		$master->{$month}{$id} = { } if ! $master->{$month}{$id};
		my $ref = $master->{$month}{$id};
		$ref->{sales}  += $line->{total_cost};
		$ref->{num_items} += $line->{nitems};
		$ref->{orders}++;
	}
	%names = qw/
		 01 January
		 02 February
		 03 March
		 04 April
		 05 May
		 06 June
		 07 July
		 08 August
		 09 September
		 10 October
		 11 November
		 12 December
	/;
	my $out = '';
	my $total_items = 0;
	foreach $month (sort { $b <=> $a } keys %$master) {
		my $year = $month;
		$year =~ s/(\d\d\d\d)(\d\d)/$1/;
		my $mname = errmsg($names{$2});
		my $subtotal_sales  = 0;
		my $subtotal_quantity  = 0;
		my $subtotal_items = 0;
		my $ref = $master->{$month};
		foreach $id (sort keys %$ref) {
			my $record = $ref->{$id};
			$sales = $Tag->currency({}, $record->{sales});
			$subtotal_sales  += $record->{sales};
			$subtotal_quantity += $record->{orders};
			$subtotal_items += $record->{num_items};
			($syn, $camp) = split /-/, $id, 2;
			my $synlabel = $syn || errmsg('(none)');
			my $burl = $Tag->area('__UI_BASE__/reports/order/Monthly', $month); 
			my $url = qq{<A HREF="$burl$syndstring&locale=$CGI->{locale}">$mname&nbsp;$year</A>}
				if $mname;
			$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN=top>
	$url&nbsp;	 <a href="[area href='__UI_BASE__/xml' form='datespan=$month&locale=$CGI->{locale}']"><u>xml</u></a>
	</TD>
	<TD VALIGN=top>
	<A HREF="$burl&affiliate=$syn">$synlabel</A>&nbsp;<A HREF="$burl&affiliate=$syn&campaign=$camp&locale=$CGI->{locale}">$camp</A>
	</TD>
	<TD ALIGN=right VALIGN=top>
	$record->{num_items}
	</TD>
	<TD ALIGN=right VALIGN=top>
	$record->{orders}
	</TD>
	<TD ALIGN=right VALIGN=top>
	$sales
	</TD>
EOF
			$mname = $year = '';
		}
		$total_items += $subtotal_items;
		$total_sales    += $subtotal_sales;
		$total_quantity += $subtotal_quantity;
		$subtotal_sales  = $Tag->currency({}, $subtotal_sales);
		$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN=top>
	&nbsp;
	</TD>
	<TD VALIGN=top>
	$Scratch->{ALL}<BR><HR color=black size=1>
	</TD>
	<TD ALIGN=right VALIGN=top>
	$subtotal_items
	</TD>
	<TD ALIGN=right VALIGN=top>
	$subtotal_quantity
	</TD>
	<TD ALIGN=right VALIGN=top>
	$subtotal_sales
	</TD>
	</TR>
EOF
	}
		$total_sales  = $Tag->currency({}, $total_sales);
		$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN="top">

	$Scratch->{TOTAL}
	</TD>
	<TD VALIGN="top">

	$Scratch->{ALL}
	</TD>
	<TD ALIGN=right VALIGN="top">

	$total_items
	</TD>
	<TD ALIGN=right VALIGN="top">

	$total_quantity
	</TD>
	<TD ALIGN=right VALIGN="top">

	$total_sales
	</TD>
	</TR>
	<tr class=rborder height=1><td colspan=4></td></tr>

EOF
[/perl]
</TABLE>

@_UI_STD_FOOTER_@
