[if-mm !advanced orderstats]
	[calc]
			$CGI->{affiliate} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[set page_title][L]Order detail report[/L][/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]
@_UI_STD_HEAD_@

<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<tr class=rborder height=1><td colspan=7></td></tr>
<TR class=rmarq>
	<TD VALIGN=top>
	[L]Order[/L]
	</TD>
	<TD VALIGN=top>
		[L]Num Items[/L]
	</TD>
	<TD VALIGN=top>
		[L]Campaign[/L]
	</TD>
	<TD VALIGN=top>
		[L]Coupon[/L]
	</TD>
	<TD VALIGN=top>
		[L]Address[/L]
	</TD>
	<TD VALIGN=top>
		[L]Date[/L]/[L]Time[/L]
	</TD>
	<TD ALIGN=right VALIGN=top>
		[L]Amount[/L]
	</TD>
	<TD ALIGN=right VALIGN=top>
		[L]Status[/L]
	</TD>
</TR>
<tr class=rborder height=1><td colspan=7></td></tr>

<!-- will default to current if not set:
		[seti today][tag time]%Y%m[/tag][/seti]
	-->

[calc]
	if($Session->{arg}) {
		$Scratch->{date_limit} = "AND order_date like '$Session->{arg}%'";
	}
	elsif ($CGI->{ui_begin_date}) {
		for (qw/ ui_begin_date ui_end_date /) {
			$CGI->{$_} = $Tag->filter( {
									op => 'date_change',
									body => $CGI->{$_}
								});
		}
		$Scratch->{date_limit} = <<EOF
AND   order_date > '$CGI->{ui_begin_date}'
AND   order_date < '$CGI->{ui_end_date}Z'
EOF
	}
	else {
		$Scratch->{date_limit} = "AND order_date like '$Scratch->{today}%'";
	}
	$Scratch->{synd_limit} = '';
	$Scratch->{synd_limit} .= " AND coupon_code = '$CGI->{coupon_cd}'"
		if $CGI->{coupon_cd};
	$Scratch->{synd_limit} .= " AND campaign = '$CGI->{campaign}'"
		if $CGI->{campaign};
	$Scratch->{synd_limit} = "AND affiliate = '$CGI->{affiliate}'"
		if $CGI->{affiliate};
	return;
[/calc]

[query	hashref=main
	st=db
	ml=100000
	table=transactions
	sql="
	select order_number, affiliate, campaign, coupon_code, total_cost, payment_method, state, city, status, order_date, nitems
		from  transactions
		WHERE [if cgi locale]site_language='[cgi locale]' AND [/if] deleted != '1'
		[scratch date_limit] [scratch synd_limit]
		order by order_number
	"][/query]

[perl tables="store"]
	return <<EOF unless $Tmp->{main};
	<TR class=rnorm>
	<TD VALIGN=top>
	<H2>Bad query specified, caused error.</H2>
	</TD>
EOF
	$out = '';
	foreach $line (@{$Tmp->{main}}) {
		$total_sales    += $line->{total_cost};
		$amount = sprintf '%.2f', $line->{total_cost};
	    $line->{status} = $Tag->loc('', $line->{status});
		$url = $Tag->area({ 	href => '__UI_BASE__/order_view',
						form => "order=$line->{order_number}", });
		$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN=top>
	<A HREF="$url">$line->{order_number}</A>
	</TD>
	<TD VALIGN=top>
	$line->{nitems}&nbsp;
	</TD>
	<TD VALIGN=top>
	$line->{campaign}&nbsp;
	</TD>
	<TD VALIGN=top>
	$line->{coupon_code}&nbsp;
	</TD>
	<TD VALIGN=top>
	$line->{city}, $line->{state}
	</TD>
	<TD VALIGN=top>
	$line->{order_date}
	</TD>
	<TD ALIGN=right VALIGN=top>
	$amount
	</TD>
	<TD ALIGN="right" VALIGN=top>
	$line->{status}
	</TD>
	</TR>
EOF
	}
		$total_sales  = $Tag->currency({}, $total_sales);
		$out .= <<EOF;
<tr class=rborder height=1><td colspan=7></td></tr>
	<TR class=rnorm>
	<TD VALIGN=top>
		[L]GRAND TOTAL[/L]
	</TD>
	<TD VALIGN=top>
	&nbsp;
	</TD>
	<TD VALIGN=top>
	&nbsp;
	</TD>
	<TD VALIGN=top>
	&nbsp;
	</TD>
	<TD ALIGN=right VALIGN=top>
	&nbsp;
	</TD>
	<TD ALIGN=right VALIGN=top>
	&nbsp;
	</TD>
	<TD ALIGN=right VALIGN=top>
	$total_sales
	</TD>
	<TD ALIGN=right VALIGN=top>
	&nbsp;
	</FONT>
	</TD>
	</TR>
	<tr class=rborder height=1><td colspan=7></td></tr>

EOF
[/perl]
</TABLE>

@_UI_STD_FOOTER_@
