[seti page_title][L]Xsell Order Comparison[/L][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@

[if scratch ui_message]
<BLOCKQUOTE>
	[scratchd ui_message]
</BLOCKQUOTE>
<p>
&nbsp;
[/if]

[if scratch message]
<BLOCKQUOTE>
[scratchd message]
</BLOCKQUOTE>
[/if]
</font>

<img src="https://www.familymeds.com/familymeds/graphics/logo.gif" alt="" />
<br /><br />

<FORM ACTION="[area href="@@MV_PAGE@@"]">
<table>
<TR>
<TD class=rnorm>
<BLOCKQUOTE>[L]Beginning:[/L]<BR>
	 <select name=begin_date_month>
		[loop ranges="1" list="01..12"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%m"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=begin_date_day>
		[loop ranges="1" list="01..31"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%d"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=begin_date_year>
		[loop ranges="1" list="2003..2010"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%Y"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
<BLOCKQUOTE>[L]Ending:[/L]<BR>
	<select name=end_date_month>
		[loop ranges="1" list="01..12"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%m"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=end_date_day>
		[loop ranges="1" list="01..31"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%d"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=end_date_year>
		[loop ranges="1" list="2003..2010"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%Y"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
</BLOCKQUOTE>
</TD>
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
<BLOCKQUOTE>
	<INPUT TYPE=submit VALUE="[L]Update Display[/L]">
</BLOCKQUOTE>
</TD>
</TR>
</TABLE>
</FORM>

[tmp date_sql][/tmp]

[tmp date_sql1]
order_ymd >= 20000101
[/tmp]

[tmp date_sql2]
AND order_ymd >= 20000101
[/tmp]

[if cgi begin_date_month]
[and cgi begin_date_day]
[and cgi begin_date_year]
[and cgi end_date_day]
[and cgi end_date_year]
[and cgi end_date_day]
	
[tmp begin_date][cgi begin_date_year][cgi begin_date_month][cgi begin_date_day][/tmp]
[tmp end_date][cgi end_date_year][cgi end_date_month][cgi end_date_day][/tmp]	
	
[tmp date_sql1]
order_ymd >= [scratch begin_date]
AND order_ymd <= [scratch end_date]
[/tmp]

[tmp date_sql2]
AND order_ymd >= [scratch begin_date]
AND order_ymd <= [scratch end_date]
[/tmp]
	
[/if]

[comment]
This page only works from 22/06/2006
Previous to this there was no easy quick way to track cross sell items after an order is placed.
with the transactions involved it needs to be quick
[/comment]

[tmp sql]
SELECT count(code) as totalcount
FROM transactions
WHERE [scratch date_sql1]
[/tmp]

[tmp sql2]
SELECT username,count(code) as ordercount
FROM
transactions
WHERE affiliate = 'fmeds'
[scratch date_sql2]
GROUP BY username
[/tmp]

[tmp sql3]
SELECT COUNT(distinct username) as totalusercount
FROM transactions
WHERE [scratch date_sql1]
[/tmp]

Count: [perl tables="products transactions orderline userdb"]

my $r='';
my $c=0;
my $xsellcount = 0;	
my $singlecount;
	
#get the total number of orders
$Tag->query({sql=>$Scratch->{sql},hashref=>'results',table=>'transactions'});
foreach $row (@{$Tmp->{results}})
{
	$totalcount = $row->{totalcount};
}

$Tag->query({sql=>$Scratch->{sql3},hashref=>'results3',table=>'transactions'});
foreach $row3 (@{$Tmp->{results3}})
{
	$totalusercount = $row3->{totalusercount};
}

#get the results for repeat orders
$Tag->query({sql=>$Scratch->{sql2},hashref=>'results2'});

foreach $row2 (@{$Tmp->{results2}})
{
	#$r .= $row2->{ordercount}.' '.$row2->{username}.'<br />';
	$xsellcount += $row2->{ordercount};
	$c++;
}

$singlecount = $totalcount - $xsellcount;
$totalusercount -= $c;

my $singlepercent = sprintf("%.2f", ($singlecount / $totalcount) * 100);
my $repeatpercent = sprintf("%.2f", ($xsellcount / $totalcount) * 100);

$r = '
Total Orders: '.$totalcount.'
<table cellpadding="3" border="1">
	<tr>
		<th align="left">
		Normal Orders
		</th>
		<th align="left">
		Familymeds Orders
		</th>		
	</tr>
	<tr>
		<td>
		Orders: '.$singlecount.' ('.$singlepercent.'%)<br />
		Customers: '.$totalusercount.'
		</td>
		<td>
		Orders: '.$xsellcount.' ('.$repeatpercent.'%)<br />
		Customers: '.$c.'
		</td>
	</tr>
</table>
<br /><br />';

return $r;
[/perl]


@_UI_STD_FOOTER_@
