[if-mm !advanced orderstats]
	[calc]
			$CGI->{affiliate} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[tmp page_title][L]MD vs OD[/L][/tmp]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]

@_UI_STD_HEAD_@

<style type="text/css">
	td.od, th.od {
		background:#FFCB97;
	}
	td.md, th.md {
		background:#FAFFBB;
		
	}	
	td.md, td.od {
		text-align:right;
	}
</style>

<table border="1">
	<tr>
		<th>
			PKG
		</th>
		<th colspan="3" class="od">
			O.D
		</th>
		<th colspan="3" class="md">
			M.D
		</th>
	</tr>

[perl tables="transactions orderline products desc_lens_pkg"]

$r = "";
$totalod = 0;
$totalmd = 0;
$totalcostod = 0;
$totalcostmd = 0;
$avgtotalod = 0;
$avgtotalmd = 0;
$numpkgs = 0;

$sql = "SELECT o.lenstype, d.pkgletter
FROM orderline o
LEFT JOIN desc_lens_pkg d ON o.lenstype = d.pkgcode
WHERE o.lenstype != ''
AND o.lenstype IS NOT NULL
AND d.pkgletter IS NOT NULL
AND d.pkgletter != ''
GROUP BY o.lenstype
ORDER BY d.pkgletter";
$Tag->query({sql=>$sql,hashref=>'result'});

foreach $row (@{$Tmp->{result}})
{

	$sql2 = "
	SELECT count(distinct(o.order_number)) as totalorders, doctor_odmd
	FROM orderline o
	LEFT JOIN userdb u ON o.username = u.username	
	WHERE o.lenstype = '".$row->{lenstype}."'
	AND u.doctor_odmd = 'O.D.'
	GROUP BY u.doctor_odmd
	";
	$numod = $nummd = 0;
	$odcost = $mdcost = 0;
	$Tag->query({sql=>$sql2,hashref=>'result2'});	
	foreach $row2 (@{$Tmp->{result2}})
	{	
		if($row2->{doctor_odmd} =~ /^O\./)
		{
			$numod = $row2->{totalorders};			
			$totalod += $numod;
			
			## get the total cost of all orders
			$sql3 = "
			SELECT sum(t.total_cost) as totalcost
			FROM transactions t
			LEFT JOIN orderline o ON o.order_number = t.code
			LEFT JOIN userdb u ON o.username = u.username	
			WHERE o.lenstype = '".$row->{lenstype}."'
			AND u.doctor_odmd = 'O.D.'
			";
			$Tag->query({sql=>$sql3,hashref=>'result3'});	
			foreach $row3 (@{$Tmp->{result3}})
			{
				$odcost = $row3->{totalcost};
			}			
		}
		#elsif($row2->{doctor_odmd} =~ /^M\./)
		#{
		#	$nummd = $row2->{totalorders};
		#	$totalmd += $nummd;
		#	
		#	## get the total cost of all orders
		#	$sql3 = "
		#	SELECT sum(t.total_cost) as totalcost
		#	FROM transactions t
		#	LEFT JOIN orderline o ON o.order_number = t.code
		#	LEFT JOIN userdb u ON o.username = u.username	
		#	WHERE o.lenstype = '".$row->{lenstype}."'
		#	AND u.doctor_odmd = 'M.D.'
		#	";
		#	$Tag->query({sql=>$sql3,hashref=>'result3'});	
		#	foreach $row3 (@{$Tmp->{result3}})
		#	{
		#		$mdcost = $row3->{totalcost};
		#	}
		#}		
	}
	
	$odavg = $mdavg = 0;
	if($numod > 0)
	{
		$odavg = $odcost / $numod;
	}
	if($nummd > 0)
	{
		$mdavg = $mdcost / $nummd;
	}
	
	$avgtotalod += $odavg;
	$avgtotalmd += $mdavg;
	
	$totalcostod += $odcost;
	$totalcostmd += $mdcost;

	$r .= "
	<tr>
		<td>";
	if($row->{pkgletter}) {
		$r .= $row->{pkgletter};
	} else {
		$r .= $row->{lenstype}
	}
	
	$r .= "</td>
		<td class=\"od\">".$numod."</td>
		<td class=\"od\">".$Tag->currency({body=>$odavg})."</td>
		<td class=\"od\">".$Tag->currency({body=>$odcost})."</td>
		<td class=\"md\">".$nummd."</td>
		<td class=\"md\">".$Tag->currency({body=>$mdavg})."</td>
		<td class=\"md\">".$Tag->currency({body=>$mdcost})."</td>
	</tr>";
	
	$numpkgs++;
	
}

$avgtotalod = $avgtotalod / $numpkgs;
$avgtotalmd = $avgtotalmd / $numpkgs;

$r .= "
	<tr>
		<td><b>Total</b></td>
		<td><b>".$totalod."</b></td>
		<td class=\"od\"><b>".$Tag->currency({body=>$avgtotalod})."</b></td>
		<td class=\"od\"><b>".$Tag->currency({body=>$totalcostod})."</b></td>
		<td class=\"md\"><b>".$totalmd."</b></td>
		<td class=\"md\"><b>".$Tag->currency({body=>$avgtotalmd})."</b></td>
		<td class=\"md\"><b>".$Tag->currency({body=>$totalcostmd})."</b></td>
	</tr>";

return $r;

[/perl]

</table>




@_UI_STD_FOOTER_@
