[if-mm !advanced orderstats]
	[calc]
			$CGI->{affiliate} = $Session->{username};
			return;
	[/calc]
[/if-mm]
[tmp page_title][L]Orders by day for a month[/L][if cgi coupon_cd] - Coupon: [cgi coupon_cd][/if][if cgi locale eq 'es_ES'] - Lentesymas[/if][/tmp]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]
@_UI_STD_HEAD_@

<TABLE width="90%" border=0 cellpadding=0 cellspacing=0>
<tr class=rborder height=1><td colspan=4></td></tr>
<TR class=rmarq>
	<TD VALIGN="top" width="20%">
		[L]Date[/L]
	</TD>
	<TD VALIGN="top">
		[L]Affiliate[/L]/[L]Campaign[/L]/[L]Coupon[/L]
	</TD>
	<TD ALIGN=center VALIGN="top">
		[L]Number of Items[/L]
	</TD>
	<TD ALIGN=center VALIGN="top">
		[L]Number of Orders[/L]
	</TD>
	<TD ALIGN=right VALIGN="top">
		[L]Revenue[/L]
	</TD>
</TR>
<tr class=rborder height=1><td colspan=4></td></tr>

<!-- will default to current if not set:
		[seti today][tag time]%Y%m[/tag][/seti]
	-->

[calc]
	if($Session->{arg}) {
		$Scratch->{date_limit} = "AND order_date like '$Session->{arg}%'";
	}
	elsif ($CGI->{ui_begin_date}) {
		for (qw/ ui_begin_date ui_end_date /) {
			$CGI->{$_} = $Tag->filter( {
									op => 'date_change',
									body => $CGI->{$_}
								});
		}
		$Scratch->{date_limit} = <<EOF
AND order_date > '$CGI->{ui_begin_date}'
AND order_date < '$CGI->{ui_end_date}Z'
EOF
	}
	else {
		$Scratch->{date_limit} = "AND order_date like '$Scratch->{today}%'";
	}

	if ($CGI->{force_today}){
		my $today = $Tag->time({ format => "%Y%m%d"});
		$Scratch->{date_limit} = "AND order_date like '$today%'";
	}
	$Scratch->{synd_limit} = '';
	if ($CGI->{coupon_cd}) {
		my @coupons = split("\0",$CGI->{coupon_cd});
		my $tmp = join(q{' OR coupon_code = '},@coupons);
		if (length($tmp)) {
		    $Scratch->{synd_limit} .= qq{AND (coupon_code = '$tmp')};
		    $Scratch->{synd_codes} = q{'} . join(q{', '},@reasons) . q{'};
		    $Scratch->{synd_codes} =~ s/, ([^,]+)$/ and $1/;
		}
	}

#	$Scratch->{synd_limit} .= " AND coupon_code = '$CGI->{coupon_cd}'"
#		if $CGI->{coupon_cd};
	return unless $CGI->{affiliate};
	$Scratch->{synd_limit} .= " AND affiliate = '$CGI->{affiliate}'";
	$Scratch->{synd_limit} .= " AND campaign = '$CGI->{campaign}'"
		if $CGI->{campaign};

	return;
[/calc]

[query	hashref=main
	st=db
	ml=100000
	table=transactions
	nu=0,0,0,0
	sql="
	select affiliate, campaign, coupon_code, total_cost, order_date, nitems
		FROM  transactions
		WHERE [if cgi locale]site_language='[cgi locale]' AND [/if]
			deleted != '1' [scratch date_limit] [scratch synd_limit]
	"][/query]
[tmp ALL][L]ALL[/L][/tmp]
[tmp TOTAL][L]GRAND TOTAL[/L][/tmp]
[perl tables="store"]
	my %sales;
	$master = {};
	if($Scratch->{synd_limit}) {
		$syndstring = "&affiliate=$CGI->{affiliate}";
	}
	else {
		$syndstring = "";
	}
	foreach $line (@{$Tmp->{main}}) {
		my ($month) = substr($line->{order_date}, 0, 8);
		my $id = $line->{affiliate};
		$id .= "-$line->{campaign}";
		$id .= "-$line->{coupon_code}";
		$month{$month}++;
		$master->{$month} = { } if ! $master->{$month};
		$master->{$month}{$id} = { } if ! $master->{$month}{$id};
		my $ref = $master->{$month}{$id};
		$ref->{sales}  += $line->{total_cost};
		$ref->{num_items} += $line->{nitems};
		++$ref->{orders};
	}
	%names = qw/
		 01 January
		 02 February
		 03 March
		 04 April
		 05 May
		 06 June
		 07 July
		 08 August
		 09 September
		 10 October
		 11 November
		 12 December
	/;
	my $out = '';
	my $num_items_grandtotal = 0;
	foreach $month (sort { $a <=> $b } keys %$master) {
		my $year = $month;
		$year =~ s/(\d\d\d\d)(\d\d)(\d\d)/$1/;
		my $mname = errmsg($names{$2});
		my $day = $3;
		$day =~ s/^0+//;
		my $subtotal_sales  = 0;
		my $subtotal_quantity  = 0;
		my $ref = $master->{$month};
		my $num_items_total = 0;
		foreach $id (sort keys %$ref) {
			my $record = $ref->{$id};
			$sales = $Tag->currency({}, $record->{sales});
			$record->{num_items} ||= 0;
			$num_items_total += $record->{num_items};
			$subtotal_sales  += $record->{sales};
			$subtotal_quantity += $record->{orders};
			($syn, $camp, $coup) = split /-/, $id, 3;
			my $synlabel = $syn || errmsg('(none)');
			my $burl = $Tag->area('__UI_BASE__/reports/order/Detail', $month);
			my $url = qq{<A HREF="$burl$syndstring&locale=$CGI->{locale}">$mname&nbsp;$day,&nbsp;$year</A>}
				if $mname;
			$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN=top>
	$url&nbsp;	&nbsp; <a href="[area href='__UI_BASE__/xml' form='datespan=$month']"><u>xml</u></a>
	</FONT>
	</TD>
	<TD VALIGN=top>
	<A HREF="$burl&affiliate=$syn&locale=$CGI->{locale}">$synlabel</A>&nbsp;<A HREF="$burl&affiliate=$syn&campaign=$camp&locale=$CGI->{locale}">$camp</A>
<A HREF="$burl&affiliate=$syn&campaign=$camp&coupon_cd=$coup">$coup</A>
	</FONT>
	</TD>
	<TD ALIGN=center VALIGN=top>
	$record->{num_items}
	</TD>
	<TD ALIGN=center VALIGN=top>
	$record->{orders}
	</FONT>
	</TD>
	<TD ALIGN=right VALIGN=top>
	$sales
	</FONT>
	</TD>
EOF
			$mname = $year = $day = '';
		}
		$total_sales        += $subtotal_sales;
		$total_quantity     += $subtotal_quantity;
		$num_items_grandtotal += $num_items_total;
		$subtotal_sales  = $Tag->currency({}, $subtotal_sales);
		$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN=top>
	&nbsp;
	</FONT>
	</TD>
	<TD VALIGN=top>
	$Scratch->{ALL}<BR><HR color=black size=1>
	</FONT>
	</TD>
	<TD VALIGN=top align="center">
	$num_items_total <BR><HR color=black size=1> 
	</TD>
	<TD ALIGN=center VALIGN=top>
	$subtotal_quantity <BR><HR color=black size=1>
	</FONT>
	</TD>
	<TD ALIGN=right VALIGN=top>
	$subtotal_sales <BR><HR color=black size=1>
	</FONT>
	</TD>
	</TR>
EOF
	}
		$total_sales  = $Tag->currency({}, $total_sales);
		$out .= <<EOF;
	<TR class=rnorm>
	<TD VALIGN="top">
	$Scratch->{TOTAL}
	</FONT>
	</TD>
	<TD VALIGN="top">
	$Scratch->{ALL}
	</FONT>
	</TD>
	<TD ALIGN=center VALIGN="top">
	$num_items_grandtotal
	</TD>
	<TD ALIGN=center VALIGN="top">
	$total_quantity
	</FONT>
	</TD>
	<TD ALIGN="right" VALIGN="top">
	$total_sales
	</FONT>
	</TD>
	</TR>
	<tr class=rborder height=1><td colspan=4></td></tr>
EOF
[/perl]
</TABLE>

@_UI_STD_FOOTER_@
