[seti page_title][L]Repeat Order Comparison[/L][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]orderstats.view[/set]
[set ui_class]Reports[/set]

@_UI_STD_HEAD_@

[if scratch ui_message]
<BLOCKQUOTE>
	[scratchd ui_message]
</BLOCKQUOTE>
<p>
&nbsp;
[/if]

[if scratch message]
<BLOCKQUOTE>
[scratchd message]
</BLOCKQUOTE>
[/if]
</font>


<FORM ACTION="[area href="@@MV_PAGE@@"]">
<table>
<TR>
<TD class=rnorm>
<BLOCKQUOTE>[L]Beginning:[/L]<BR>
	 <select name=begin_date_month>
		[loop ranges="1" list="01..12"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%m"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=begin_date_day>
		[loop ranges="1" list="01..31"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%d"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=begin_date_year>
		[loop ranges="1" list="2003..2010"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%Y"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
<BLOCKQUOTE>[L]Ending:[/L]<BR>
	<select name=end_date_month>
		[loop ranges="1" list="01..12"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%m"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=end_date_day>
		[loop ranges="1" list="01..31"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%d"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
	 <select name=end_date_year>
		[loop ranges="1" list="2003..2010"]
		<option value="[loop-code]" [if term=|[convert-date fmt="%Y"][/convert-date]| op="eq" compare="[loop-code]"]selected[/if]>[loop-code]</option>
		[/loop]	 
	 </select>
</BLOCKQUOTE>
</TD>
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
<BLOCKQUOTE>
	<INPUT TYPE=submit VALUE="[L]Update Display[/L]">
</BLOCKQUOTE>
</TD>
</TR>
</TABLE>
</FORM>

[tmp date_sql][/tmp]

[if cgi begin_date_month]
[and cgi begin_date_day]
[and cgi begin_date_year]
[and cgi end_date_day]
[and cgi end_date_year]
[and cgi end_date_day]
	
[tmp date_sql]
WHERE order_ymd >= [cgi begin_date_year][cgi begin_date_month][cgi begin_date_day]
AND order_ymd <= [cgi end_date_year][cgi end_date_month][cgi end_date_day]
[/tmp]
	
[/if]


[cgi begin_date]
[cgi end_date]

[tmp sql]
SELECT count(code) as totalcount
FROM transactions
[scratch date_sql]
[/tmp]

[tmp sql2]
SELECT count(code) as ordercount, username
FROM transactions
[scratch date_sql]
GROUP BY username
[/tmp]

Count: [perl tables="transactions userdb"]

my $r='';
my $c=0;
my $tc=0;
my $repeatcount = 0;	
my $singlecount;
	
#get the total number of orders
$Tag->query({sql=>$Scratch->{sql},hashref=>'results',table=>'transactions'});
foreach $row (@{$Tmp->{results}})
{
	$totalcount = $row->{totalcount};
}

#get the results for repeat orders
$Tag->query({sql=>$Scratch->{sql2},hashref=>'results2',table=>'transactions'});

foreach $row2 (@{$Tmp->{results2}})
{
	if($row2->{ordercount} > 1)
	{
		#$r .= $row2->{ordercount}.' '.$row2->{username}.'<br />';
		$repeatcount += $row2->{ordercount};
		$c++;
	}
	$tc++;
}

$repeatcount -= $c;
$singlecount = $totalcount - $repeatcount;

my $singlepercent = sprintf("%.2f", ($singlecount / $totalcount) * 100);
my $repeatpercent = sprintf("%.2f", ($repeatcount / $totalcount) * 100);

$r = '
Total Orders: '.$totalcount.'
<table cellpadding="3" border="1">
	<tr>
		<th align="left">
		First Orders
		</th>
		<th align="left">
		Repeat Orders
		</th>		
	</tr>
	<tr>
		<td>
		Orders: '.$singlecount.' ('.$singlepercent.'%)<br />
		Customers: '.$tc.'
		</td>
		<td>
		Orders: '.$repeatcount.' ('.$repeatpercent.'%)<br />
		Customers: '.$c.'
		</td>
	</tr>
</table>
<br /><br />';

return $r;
[/perl]


@_UI_STD_FOOTER_@
