[if-mm !advanced stockuse]
    [calc]
	$CGI->{affiliate} = $Session->{username};
	return;
    [/calc]
[/if-mm]
[seti page_title][L]Top Sellers[/L][if cgi affiliate]: [cgi affiliate][/if][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]topsellers.view[/set]

@_UI_STD_HEAD_@

[calcn]
    if ($CGI->{ui_begin_date}) {
	for (qw/ui_begin_date ui_end_date /) {
	    $CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
	    });
	}
	$Scratch->{date_limit} = qq/AND t.order_date >= '$CGI->{ui_begin_date}' AND t.order_date <= '$CGI->{ui_end_date}Z'/;
EOS
    }
    else {
        $Scratch->{date_limit} = '';
    }
    if ($CGI->{cat}){
	$Scratch->{category_select} = qq/AND p.category = '$CGI->{cat}'/;
    }

    if ($CGI->{top}) {
        $Scratch->{limit} = qq/ LIMIT $CGI->{top}/;
    }
    undef;
[/calcn]

[L]Start date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_begin_date][/convert-date]<br>
[L]End date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_end_date][/convert-date]<br>
<br>

<table border="0" width="90%">
    <tr class="rmarq">
	<td class="rmarq">&nbsp;[L]SKU[/L]</td>
	<td class="rmarq">&nbsp;[L]Description[/L]</td>
        <td class="rmarq" style="text-align: right">[L]Quantity[/L]</td>
    </tr>

[query
    ml=100000
    sql=|
	SELECT  p.sku, p.description, sum(o.quantity) AS count
	FROM    orderline o, transactions t, products p
	WHERE   o.sku = p.sku
	AND     o.order_number = t.code
	AND     t.deleted <> '1'
	[scratch date_limit]
	[scratch category_select]
	GROUP BY p.sku, p.description
	ORDER BY count DESC, p.sku
	[scratchd limit]
|
	type=list]
	[list]
[tmp total][calc][scratch total]+[sql-param count][/calc][/tmp]
    <tr class=rownorm>
	<td style="text-align: left; white-space: nowrap">
	    [sql-param sku]
	</td>
	<td style="">
	    &nbsp;[sql-param description]
	</td>
	<td style="text-align: right;">
	    &nbsp;[sql-param count]
	</td>
    </tr>
[query sql=|
	SELECT o.options 
	FROM orderline o, transactions t
	WHERE   o.order_number = t.code
	AND     t.deleted <> '1'
	[scratch date_limit]
	[scratch category_select]
	AND     o.sku = '[sql-param sku]'
	|
	prefix=option
	list-prefix=option]
[/query]

[calcn]
	my $sku = qq{[sql-param sku]};
    my $total = 0;
    my $buf = '';
    my (@options, %options, $option, $options, $optionval, $key, $optval, $ref);
    my $optcount = {};

    foreach (@{$Tmp->{''}}) {

	# pick out the options..
	$options = $_->[0];
	$options =~ s/<br>//g;
	@options = ($_->[0] =~ /([^\s]*):\s/g);

# $buf .= "<hr>options - $sku <br>" . $options . '<br>' . join '<br>', @options;

	foreach $option (@options){
# $buf .= "counting: $option<br>";
		$options =~ /$option:\s([^:]*)(\s|<|$)/;
		$optionval = $1;
# $buf .= "val: $optionval<br>";
		$optcount->{$option} = {} unless $optcount->{$option};
		$optcount->{$option}->{$optionval} ++;

	}
    }
	$line = '';
		foreach $key(sort keys %$optcount){
			$ref = $optcount->{$key};
  $line .= "<b>$key</b><br>";
# $buf .= '<hr>' . join '<br>', keys %$ref;
			foreach $optionval(sort keys %$ref){
 $line .= "&nbsp;$optionval: ($ref->{$optionval})<br>";
			}

		}

#        $total += $_->[2];
#	 my $sku = $_->[0];

	$buf .= <<EOB;
    <tr class=rownorm >
	<td style="text-align: left; white-space: nowrap; padding-left: 20px; border-width: 0 0 1 0px; border-style:solid; border-color:black;" colspan="3">
	    $line
	</td>
    </tr>
EOB


    $buf;
[/calcn]



	[/list]

[/query]
</table>
<br>[L]Total quantity across all lines[/L]: [scratch total]
[if cgi top]
	[L]displaying top[/L] [cgi top]
[/if]

[comment]
[calcn]
    my $total = 0;
    my $buf = '';

    foreach (@{$Tmp->{''}}) {
        $total += $_->[2];
	 my $sku = $_->[0];

	 my $sql = <<EOSQL;
	SELECT o.options 
	FROM orderline o, transactions t
	WHERE   o.order_number = t.code
	AND     t.deleted <> '1'
	$Scratch->{date_limit}
	$Scratch->{category_select}
	AND     o.sku = '$sku'
EOSQL
#	$Tag->perl({tables => 'transactions orderline',});

	my $rs = $Tag->query({	sql => "$sql",
				hashref => 1,
				table => 'orderline',});

	$buf .= <<EOB;
    <tr class=rownorm>
	<td style="text-align: left; white-space: nowrap">
	    $_->[0]
	</td>
	<td style="">
	    &nbsp;$_->[1]
	</td>
	<td style="text-align: right;">
	    &nbsp;$_->[2]
	</td>
    </tr>
EOB
    }
    $buf .= qq{</table>\n<br>[L]Total quantity across all lines[/L]: $total};
    $buf .= qq/, [L]displaying top[/L] $CGI->{top}/if ($CGI->{top});
    $buf;
[/calcn]
[/comment]

@_UI_STD_FOOTER_@
