[tmp page_title]
Account Information Erased
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>

Your session information has been canceled.
<P>
If you wish to order another item, we would like you to do so, but
unfortunately you will have to re-enter any account information.
<P>
<STRONG>We hope you will ordering from us in the future.</STRONG>
<P>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
