[tmp page_title]
Credit Card number fails test
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>
  	<P>
	The following error was seen:
<PRE>
	[value mv_credit_card_error]
</PRE>
	Please go BACK and check the information you entered and see
	that the correct card type, expiration date, and number are
	entered.<P>

</CENTER>

__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
