[tmp page_title]
Order Processed -- Thank You!
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>
<P>
Your order has been sent, and
you will receive an order confirmation via email.<p>
<P>
<STRONG>Thank you for ordering from us!</STRONG>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
