[tmp page_title]Order Failed[/tmp]
__NOLEFT_TOP__

<H1>[scratch page_title]</H1>

[if type=explicit compare="q{[subject]}"]
<PRE>
[subject]
</PRE>
[else]
We're sorry, but your order could not be processed at this time due to
technical problems.  Please print the order page and give us a call.
We will follow up as soon as possible.
[/else]
[/if]
<P>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
