[tmp page_title]
Requested Product Unavailable
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>

We are sorry, but the product ([subject]) that you requested is
not now available.  You can still [page index]browse our
catalog</a>, if you wish.

<P>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
