[tmp page_title]
Not Found
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>

No items with '[subject]' were found.  You can [page index]return to
browsing our catalog</a>, if you wish.

<P>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
