[tmp page_title]
SECURITY PROBLEM
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>

Either this web server did not receive the last transaction via
SSL/HTTPS, or your browser doesn't handle SSL.
<P>
We recommend you do not leave any critical information
until this situation is corrected. You can CANCEL your
session below to wipe all information, or return to the
catalog with the buttonbar.
<P>
<FORM ACTION="[process]" METHOD=POST>
<INPUT TYPE=HIDDEN NAME="mv_doit" VALUE="cancel">
<INPUT TYPE=SUBMIT NAME="mv_todo" VALUE="CANCEL">
</FORM>

<P>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
