[tmp page_title]
How Secure is This Stuff?
[/tmp]
__NOLEFT_TOP__
<H1>[scratch page_title]</H1>
Interchange is designed to <I>securely</I> transmit your information
via SSL or SHTTP.  Examine the browser status indication, and if
you see an indication that this transaction is <STRONG>secure</STRONG>,
(on Netscape it is an unbroken key in the lower left-hand corner), you
can be assured that your vital information is securely encrypted as it flies
over the Internet.
<P>
How do you know it is secure? Reference the
<A HREF="http://www-genome.wi.mit.edu/WWW/faqs/www-security-faq.html">WWW Security FAQ</A>,
<A HREF="http://www.verisign.com/faqs/id_faq.html">VeriSign FAQ</A>,
or [page help/sec_faq]our own FAQ</a>
and determine if you are comfortable with leaving your credit card
number.  
<P>
That being said, please feel free to leave your account information
below.  Your credit card number, if you decide to leave it, will only
be used to process your order, and will not be sent by email, even
on our local machine.  It will be <B>encrypted</B>, only read by our order entry
software, and then wiped from the disk file as soon as that is done.
<P ALIGN=CENTER>
<I> Click BACK to return to Account Information Form</I>
<P ALIGN=CENTER>
__NOLEFT_BOTTOM__
<!-- current page: @@MV_PAGE@@ -->
</body> </html>
