[if !scratch post_allowed]
	[set post_allowed][/set]
	[bounce page="index"]
[/if]

[tmp subscribe_email][filter op="lc no_white" interpolate="1"][value subscribe_email][/filter][/tmp]
[tmp timestamp][time]%Y%m%d%H%M%S[/time][/tmp]

[query
	type=list
	label=subscriptions
	prefix=subscriptions
	list_prefix=subscriptions_list
	sql=|
SELECT *
FROM mail_list_subscriptions
WHERE email = "[scratch subscribe_email]"
LIMIT 0, 1
|]
	[subscriptions_list-no-match]
		[seti subscription_coupon_code][generate_coupon prefix="M"][/seti]
		[value name="coupon_code" set="[scratch subscription_coupon_code]" hide="1"]
		[query
			type=list
			table=coupon_codes
			st=sql
			sql=|
				INSERT INTO coupon_codes (code, type, coup_amt, coup_type, description, exclusive, enabled, orig_qty, qty_remain)
				VALUES ('[scratch subscription_coupon_code]', 'entire_order', '5', 'amt', '$5 Mailing List Subscription Incentive', '1', '1', '1', '1')
		|][/query]
		[perl tables=mail_list_subscriptions]
			my $db = $Db{mail_list_subscriptions};
			my %record;
			$record{code} = "";
			$record{email} = $Scratch->{subscribe_email};
			$record{coupon_code} = $Scratch->{subscription_coupon_code}; 
			$record{subscribe_date} = $Scratch->{timestamp};
			$db->set_slice(undef, \%record);
			return;
		[/perl]
		[set subscribe_message]<strong>Thank You!</strong>
			<br /><br />
			Your subscription has been processed and you will receive a confirmation email shortly.
			<br /><br />
			You may use the follow coupon during checkout to receive your discount.
		[/set]
		[email
			to="[scratch subscribe_email]"
			from="__MAILING_FROM__"
			subject="__COMPANY__ - Subscription Confirmation"
		]Thank you for subscribing to 39DollarGlasses.com. 

Your free subscription includes an instant coupon for $5 off your next purchase.

The coupon code is: [scratch subscription_coupon_code]

Use the following link to shop now and redeem your coupon by entering the code when you reach the shopping cart.

[area href="__HOMEURL__"]


Thank you,
39DollarGlasses.com

		[/email]
	[/subscriptions_list-no-match]
	[subscriptions_list]
		[set subscribe_message]<strong>Thank You!</strong>
			<br /><br />
			Your subscription has been confirmed.
		[/set]
		[email
			to="[scratch subscribe_email]"
			from="__MAILING_FROM__"
			subject="__COMPANY__ - Subscription Confirmation"
		]Thank you for subscribing to 39DollarGlasses.com.

Your subscription has been confirmed.

Thank you,
39DollarGlasses.com

		[/email]
	[/subscriptions_list]
[/query]

[set post_allowed][/set]
[set subscription_sent]1[/set]

[bounce page=index]
