[if-mm !advanced byreason]
    [calc]
	$CGI->{affiliate} = $Session->{username};
	return;
    [/calc]
[/if-mm]
[seti page_title][L]Reason codes[/L][if cgi affiliate]: [cgi affiliate][/if][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]byreason.view[/set]

@_UI_STD_HEAD_@

[calcn]
    if ($CGI->{ui_begin_date}) {
	for (qw/ui_begin_date ui_end_date /) {
	    $CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
	    });
	}
	$Scratch->{date_limit} = qq/AND t.order_date BETWEEN '$CGI->{ui_begin_date}' AND '$CGI->{ui_end_date}'/;
EOS
    }
    else {
        $Scratch->{date_limit} = '';
    }

    my @labs = ('1','2','3','H');

    if ($CGI->{lab_code} eq 'ALL' || !length($CGI->{lab_code})) {
	$Scratch->{lab_limit} = q{AND (lab = '};
	$Scratch->{lab_limit} .= join(q{' OR lab = '},@labs) . q{')};
	$Scratch->{lab_description} = q{[L]All Labs[/L]};
    }
    elsif ($CGI->{lab_code} eq 'NULL') {
	$Scratch->{lab_limit} = q{AND lab <> '};
	$Scratch->{lab_limit} .= join(q{' AND lab <> '},@labs) . q{'};
	$Scratch->{lab_description} = q{[L]Not assigned to any of the labs[/L]};
    }
    else {
	$Scratch->{lab_limit} = qq{AND t.lab = '$CGI->{lab_code}'};
	$Scratch->{lab_description} = $CGI->{lab_code};
    }

    if ($CGI->{reason_code}) {
	my @reasons = split("\0",$CGI->{reason_code});
	my $tmp = join(q{' OR t.reason_code = '},@reasons);
	if (length($tmp)) {
	    $Scratch->{reason_limit} = qq{AND (t.reason_code = '$tmp')};
	    $Scratch->{reason_codes} = q{'} . join(q{', '},@reasons) . q{'};
	    $Scratch->{reason_codes} =~ s/, ([^,]+)$/ and $1/;
	}
    }
    undef;
[/calcn]

[query
    ml=100000
    sql=|
	SELECT  t.lab, t.order_date, t.order_number, r.id, r.reason
	FROM    transactions t, reason_code r
	WHERE   t.reason_code = r.id
	AND     t.deleted <> '1'
	[scratchd lab_limit]
	[scratchd date_limit]
	[scratchd reason_limit]
	ORDER BY t.order_date, t.lab
|][/query]

[L]Lab code[/L]: [scratchd lab_description]<br>
[L]Reason code(s)[/L]: [either][scratchd reason_codes][or][L]Any reason[/L][/either]<br>
[L]Start date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_begin_date][/convert-date]<br>
[L]End date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_end_date][/convert-date]<br>
<br>

<table border="0" __UI_T_PROPERTIES__>
    <tr class="rmarq">
	<td class="rmarq">[L]Date[/L]</td>
	<td class="rmarq" align="center">[L]Lab[/L]&nbsp;</td>
	<td class="rmarq" style="white-space: nowrap">[L]Order number[/L]&nbsp;</td>
	<td class="rmarq">[L]Reason[/L]</td>
    </tr>
[perl tables="products pricing options"]
    my $total = 0;
    my $buf = '';
    my $row;
    my $current;

    foreach (@{$Tmp->{''}}) {
	if ($current ne $_->[2]) {
	    $total++;
	    $row = <<EOB;
    <tr>
	<td style="white-space: nowrap">
	    <small>\$date&nbsp;</small>
	</td>
	<td align="center">
	    <small>$_->[0]</small>
	</td>
	<td style="white-space: nowrap">
	    <a href="\$href">$_->[2]</a>
	</td>
	<td width="100%">
	    <small>$_->[3] - $_->[4]</small>
	</td>
    </tr>
EOB
	    my $href = $Tag->area({
		href => 'admin/order_view',
		form => "order=$current",
	    });
	    $row =~ s/\$href/$href/g;

	    my $date = $Tag->convert_date({
		format => '%d %b %Y',
		body => $_->[1],
	    });
	    $row =~ s/\$date/$date/g;

	    $buf .= $row;

	    $row = '';

	    $current = $_->[2];
	}
    }
    $buf .= $row . qq{</table>\n<br>[L]Total orders[/L]: $total};
    $buf;
[/perl]

@_UI_STD_FOOTER_@
