[set page_title]Order Status[/set]
[set icon_name]icon_stats.gif[/set]
[set table_perm]1[/set]
@_UI_STD_HEAD_@
<TABLE>
[set first_done][/set]
[search-region more=1 search="
		ra=yes
		st=db
		fi=orderline
		ml=999999
		"]
<TR>
	<TH ALIGN=LEFT>order_number</TH>
	<TH ALIGN=LEFT>update_date</TH>
	<TH ALIGN=LEFT>status</TH>
</TR>
[search-list]
<TR>
	<TD ALIGN=LEFT>[item-data orderline order_number]</TD>
	<TD ALIGN=LEFT>[item-data orderline update_date]</TD>
	<TD ALIGN=LEFT>[item-data orderline status]</TD>
</TR>

[/search-list]

[/search-region]
</TABLE>
@_UI_STD_FOOTER_@
