[set page_title]Products to edit[/set]
[set icon_name]icon_stats.gif[/set]
[set table_perm]1[/set]
@_UI_STD_HEAD_@
<TABLE>
[set first_done][/set]
[search-region more=1 search="
		ra=yes
		st=db
		fi=products
		ml=999999
		tf=description
		to=x
		"]
<TR>
	<TH ALIGN=LEFT>SKU</TH>
	<TH ALIGN=LEFT>Description</TH>
	<TH ALIGN=RIGHT>Retail Price</TH>
	<TH ALIGN=RIGHT>Wholesale Price</TH>
	<TH ALIGN=RIGHT>q5</TH>
</TR>
[search-list]
<TR>
	<TD ALIGN=LEFT>[page href="admin/flex_editor"
								form="
									ui_return_to=@@MV_PAGE@@;
									mv_data_table=products
									item_id=[item-data products sku]
									"][item-data products sku]</A></TD>
	<TD ALIGN=LEFT>[item-filter '40'][item-data products description][/item-filter]</TD>
	<TD ALIGN=RIGHT>[page href="admin/flex_editor"
								form="
									ui_return_to=@@MV_PAGE@@;
									mv_data_table=products
									item_id=[item-data products sku]
									"][item-filter 'currency'][item-data products price][/item-filter]</A></TD>
	<TD ALIGN=RIGHT>[page href="admin/flex_editor"
								form="
									ui_return_to=@@MV_PAGE@@;
									mv_data_table=products
									item_id=[item-data products sku]
									"][item-filter 'currency'][item-data products wholesale][/item-filter]</A></TD>
	<TD ALIGN=RIGHT>[page href="admin/flex_editor"
								form="
									ui_return_to=@@MV_PAGE@@;
									mv_data_table=pricing
									item_id=[item-data pricing sku]
									"][filter op='currency' interpolate=1][data table=pricing column=q5 key='[item-data products sku]'][/filter]</A></TD>
</TR>

[/search-list]

[/search-region]
</TABLE>
@_UI_STD_FOOTER_@
