@_UI_STD_INIT_@[comment][if-mm !advanced couponcode]
[set ui_error]
[L]Not authorized for coupon code report.[/L]
[/set]
[bounce page="__UI_BASE__/error"]
[value name=saved_report set=""]
[/if-mm][/comment]
[set ui_class]Reports[/set]
[set page_title][L]Smartfit Points[/L][/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]stats.smartfitpoints[/set]
@_UI_STD_HEAD_@

[calc]
	for (qw/ ui_begin_date ui_end_date /) {
	$CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
		});
	}
	return undef;
[/calc]

<table border=0 __UI_T_PROPERTIES__>
	<tr height=1><td class=rborder colspan=3></td></tr>
	<tr>
		<td colspan=3 class=rmarq>[L]View stats for any period of time[/L]</td>
	</tr>
	<tr height=1><td class=rborder colspan=3></td></tr>
	<FORM ACTION="[process]">
		<INPUT TYPE=hidden NAME=mv_session_id VALUE="[data session id]">
		<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
		<INPUT TYPE=hidden NAME=mv_nextpage VALUE="__UI_BASE__/reports/smartfit_points">
		<TR>
			<TD class=rnorm>
				<BLOCKQUOTE>[L]Beginning:[/L]
					[widget type=date name=ui_begin_date]
					[L]Ending:[/L]
					[widget type=date name=ui_end_date]
					[L]CSR:[/L]
					<select name="csr">
						<option value="">All</option>
						[query sql=|SELECT username, name FROM access WHERE username NOT LIKE ":%" AND name NOT LIKE '%Lab %' ORDER BY username ASC| type=list]
							<option value="[sql-param username]">[sql-param name]</option>
						[/query]
					</select>
					<INPUT TYPE=submit VALUE="[L]Generate report[/L]">
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=3 class=rnorm>
			</TD>
		</TR>
		<tr class=rborder height=1><td colspan=3></td></tr>
	</FORM>
</table>

<br />

<table border=0 __UI_T_PROPERTIES__>
	<tr class=rmarq>
		<td>
			Username
		</td>
		<td>
			Customer
		</td>
		<td>
			Points Added
		</td>
		<td>
			Reason
		</td>
		<td>
			Timestamp
		</td>
	</tr>

	[tmp sql]
		SELECT *
		FROM
			reward_points_log,
			access
		WHERE
			access.username = reward_points_log.csr
		[if cgi ui_begin_date]
			AND timestamp BETWEEN [cgi ui_begin_date]000000 AND [cgi ui_end_date]115959
		[/if]
		[if cgi csr]
			AND csr = '[cgi csr]'
		[/if]
		
		ORDER BY code DESC
		
		[if !cgi ui_begin_date]
		[and !cgi csr]
			LIMIT 100
		[/if]
	[/tmp]
	
	[query sql=|[scratch sql]| type=list]
		[list]
			<tr>
				<td><a href="[area href="@@MV_PAGE@@" form="csr=[sql-param username]
																									ui_begin_date=[cgi ui_begin_date]
																									ui_end_date=[cgi ui_end_date]"]">[sql-param name]</a></td>
				<td><a href="[area href="admin/customer_view" form="cusomter=[sql-param customer]"]">[sql-param customer]</a></td>
				<td><small>[sql-param points_added]</small></td>
				<td><small>[sql-param reason]</small></td>
				<td><small>[convert_date][sql-param timestamp][/convert_date]</small></td>
			</tr>
		[/list]
	[/query]


</table>

@_UI_STD_FOOTER_@
