[comment][if-mm !advanced stockuse]
    [calc]
	$CGI->{affiliate} = $Session->{username};
	return;
    [/calc]
[/if-mm][/comment]
[seti page_title][L]Stock consumption[/L][if cgi affiliate]: [cgi affiliate][/if][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]stockuse.view[/set]

@_UI_STD_HEAD_@

[calcn]
    if ($CGI->{ui_begin_date}) {
	for (qw/ui_begin_date ui_end_date /) {
	    $CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
	    });
	}
	$Scratch->{date_limit} = qq/AND t.order_date BETWEEN '$CGI->{ui_begin_date}' AND '$CGI->{ui_end_date}'/;
EOS
    }
    else {
        $Scratch->{date_limit} = '';
    }

    my @labs = ('1','2','3','H');

    if ($CGI->{lab_code} eq 'ALL' || !length($CGI->{lab_code})) {
	$Scratch->{lab_limit} = q{AND (lab = '};
	$Scratch->{lab_limit} .= join(q{' OR lab = '},@labs) . q{')};
	$Scratch->{lab_description} = q{[L]All Labs[/L]};
    }
    elsif ($CGI->{lab_code} eq 'NULL') {
	$Scratch->{lab_limit} = q{AND lab <> '};
	$Scratch->{lab_limit} .= join(q{' AND lab <> '},@labs) . q{'};
	$Scratch->{lab_description} = q{[L]Not assigned to any of the labs[/L]};
    }
    else {
	$Scratch->{lab_limit} = qq/AND t.lab = '$CGI->{lab_code}'/;
	$Scratch->{lab_description} = $CGI->{lab_code};
    }
    undef;
[/calcn]

[query
    ml=100000
    sql=|
	SELECT  p.sku, p.description, COUNT(*) AS count
	FROM    orderline o, transactions t, products p
	WHERE   o.sku = p.sku
	AND     o.order_number = t.code
	AND     t.deleted <> '1'
	[scratchd lab_limit]
	[scratchd date_limit]
	GROUP BY p.sku, p.description
	ORDER BY p.sku
|][/query]

[L]Lab code[/L]: [scratchd lab_description]<br>
[L]Start date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_begin_date][/convert-date]<br>
[L]End date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_end_date][/convert-date]<br>
<br>

[comment]
<table border="0" __UI_T_PROPERTIES__>
[/comment]
<table border="0" width="400">
    <tr class="rmarq">
	<td class="rmarq">&nbsp;[L]SKU[/L]</td>
	<td class="rmarq">&nbsp;[L]Description[/L]</td>
        <td class="rmarq" style="text-align: right">[L]Quantity[/L]</td>
    </tr>
[calcn]
    my $total = 0;
    my $buf = '';

    foreach (@{$Tmp->{''}}) {
        $total += $_->[2];
	$buf .= <<EOB;
    <tr>
	<td style="text-align: left">
	    $_->[0]
	</td>
	<td style="white-space: nowrap">
	    &nbsp;$_->[1]
	</td>
	<td>
	    &nbsp;$_->[2]
	</td>
    </tr>
EOB
    }
    $buf .= qq{</table>\n<br>[L]Total quantity across all lines[/L]: $total};
    $buf;
[/calcn]

@_UI_STD_FOOTER_@
