@_UI_STD_INIT_@[if-mm !advanced topsearches]
[set ui_error]
[L]Not authorized for top searches.[/L]
[/set]
[bounce page="__UI_BASE__/error"]
[value name=saved_report set=""]
[/if-mm]
[set ui_class]Reports[/set]
[set page_title][L]Top Searches[/L][/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]stats.topsearches[/set]
@_UI_STD_HEAD_@

<table border=0 __UI_T_PROPERTIES__>
<tr height=1><td class=rborder colspan=2></td></tr>
<tr>
<td colspan=3 class=rmarq>[L]Quick reports[/L]</td>
</tr>
<tr height=1><td class=rborder colspan=3></td></tr>
<tr>
<td class=rnorm colspan=3>

<ul>
<li><a href="[area href=__UI_BASE__/reports/search/topsearches form='	ui_begin_date=[convert-date days=-30 fmt=%Y%m%d]%Y%m%d[/convert-date]
											ui_end_date=[convert-date fmt=%Y%m%d][/convert-date]
										top=20']">[L]Top 20 in the last month[/L]</a></li>
<li><a href="[area href=__UI_BASE__/reports/search/topsearches form='	ui_begin_date=[convert-date days=-90 fmt=%Y%m%d]%Y%m%d[/convert-date]
											ui_end_date=[convert-date fmt=%Y%m%d][/convert-date]
										top=20']">[L]Top 20 in the last 3 months[/L]</a></li>
<li><a href="[area href=__UI_BASE__/reports/search/topsearches form='	ui_begin_date=[convert-date days=-365 fmt=%Y%m%d]%Y%m%d[/convert-date]
											ui_end_date=[convert-date fmt=%Y%m%d][/convert-date]
										top=20']">[L]Top 20 in the last year[/L]</a><br><br></li>
<li><a href="[area href=__UI_BASE__/reports/search/topsearches form='	ui_begin_date=[convert-date days=-30 fmt=%Y%m%d]%Y%m%d[/convert-date]
											ui_end_date=[convert-date fmt=%Y%m%d][/convert-date]
											nomatch=1
											top=20']">[L]Top 20 no-matches in the last month[/L]</a></li>
</ul>

</td>
</tr>

[comment]

REMOVE STAT RANGE BECAUSE IT TAKES DOWN THE IC SERVER

<tr height=1><td class=rborder colspan=3></td></tr>
<tr>
<td colspan=3 class=rmarq>[L]View stats for any period of time[/L]</td>
</tr>
<tr height=1><td class=rborder colspan=3></td></tr>

<FORM ACTION="[process]">
<INPUT TYPE=hidden NAME=mv_session_id VALUE="[data session id]">
<INPUT TYPE=hidden NAME=mv_todo VALUE=return>
<INPUT TYPE=hidden NAME=mv_nextpage VALUE="__UI_BASE__/reports/search/topsearches">
<TR>
<TD class=rnorm>
<BLOCKQUOTE>[L]Beginning:[/L] [widget type=date name=ui_begin_date]<br>
[L]Ending:[/L] [widget type=date name=ui_end_date]
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
<BLOCKQUOTE>
<BLOCKQUOTE>[L]Top:[/L]
	<SELECT NAME=top>
		<OPTION VALUE=""> --[L]all[/L]--
		[loop list="100 50 20 10"]
		<OPTION VALUE="[loop-code]">[loop-code]
		[/loop]
	</SELECT><br>
[L]Matches[/L]:
	<SELECT NAME="nomatch">
		<OPTION VALUE=""> --[L]all[/L]--
				<OPTION VALUE="0">Matches only
				<OPTION VALUE="1">No Matches only
	</SELECT>
</BLOCKQUOTE>
</TD>
<TD class=rnorm>
</TD>
</TR>
<TR>
<TD COLSPAN=3 class=rnorm>
<BLOCKQUOTE>
	<INPUT TYPE=submit VALUE="[L]Generate report[/L]">
</BLOCKQUOTE>
</TD>
</TR>
<tr class=rborder height=1><td colspan=3></td></tr>
</TABLE>
</FORM>
</td>
</tr>

[/comment]

</table>

@_UI_STD_FOOTER_@
