[comment][/comment]
[seti page_title][L]Unique Phone Orders[/L][if cgi affiliate]: [cgi affiliate][/if][/seti]
[set icon_name]icon_stats.gif[/set]
[set help_name]UniquePhone.view[/set]
@_UI_STD_HEAD_@





[comment]validation[/comment]
[calcn]
    if ($CGI->{ui_begin_date}) {
	for (qw/ui_begin_date ui_end_date /) {
	    $CGI->{$_} = $Tag->filter( {
		op => 'date_change',
		body => $CGI->{$_}
	    });
	}
	$Scratch->{date_limit} = qq/order_ymd BETWEEN '$CGI->{ui_begin_date}' AND '$CGI->{ui_end_date}'/;
EOS
    }
    else {
        $Scratch->{date_limit} = '';
    }
    undef;
[/calcn]




[comment]run query[/comment]
[query
    ml=100000
    sql=|SELECT DATE_FORMAT(order_ymd,'%m/ %d/ %Y') AS Orderdate, COUNT(*) AS TotalOrders, CONVERT(SUM(total_cost),DEC(11,2)) AS TotalCost
        FROM transactions 
        WHERE csr_id IS NOT NULL 
            AND
            total_cost > 0 
            AND
            ifnull(exchange_order_ref, '') = ''     
            AND
            [scratchd date_limit]
        GROUP BY order_ymd
        ORDER BY order_ymd;

        

|][/query]





[comment]build table for report[/comment] 
[L]Start date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_begin_date][/convert-date]<br>
[L]End date[/L]: [convert-date format="%A %d %B %Y"][cgi ui_end_date][/convert-date]<br>
<br>
<table border="0" width="400">
    <tr class="rmarq">
	<td class="rmarq">&nbsp;[L]Date[/L]</td>
	<td class="rmarq" style="text-align: right">[L]Order Count[/L]</td>
        <td class="rmarq" style="text-align: right">[L]Dollars[/L]</td>
    </tr>
    
    
    
    
  
[comment]print results[/comment]    
[calcn]
    my $totalOrders = 0;
    my $totalDollars = 0;
    my $buf = '';

    foreach (@{$Tmp->{''}}) {
            $totalOrders += $_->[1];
            $totalDollars += $_->[2];
            $buf .= qq{
                <tr>
                    <td style="text-align: left">
                        $_->[0]
                    </td>
                    <td style="text-align: right">
                        $_->[1]
                    </td>
                    <td class="money" style="text-align: right">
                        \$$_->[2]
                    </td>
                </tr>
            };
    }
    $totalDollars = sprintf("%.2f", $totalDollars);
    $buf .= qq{
        </table>\n
            <br/>
                [L]Total Orders[/L]:$totalOrders
            <br/>    
                [L]Total Dollars[/L]:\$$totalDollars
    };
    $buf;
[/calcn]





@_UI_STD_FOOTER_@
