@_UI_STD_INIT_@
[set ui_class]Reports[/set]
[set page_title][L]Wishlists[/L][/set]
[set icon_name]icon_stats.gif[/set]
[set help_name]stats.wishlists[/set]
@_UI_STD_HEAD_@

<table border=0 border="0" cellspacing="0" cellpadding="3" width="30%">
	<tr height=1><td class=rborder colspan=2></td></tr>
	<tr>
		<td class=rmarq>Date</td>
		<td class=rmarq>Items added</td>
	</tr>
	<tr height=1><td class=rborder colspan=3></td></tr>
	[query sql=|SELECT added_ymd, count(*) AS count FROM wishlists GROUP BY added_ymd| type=list]
		[list]
			<tr>
				<td class=rnorm>[convert-date][sql-param added_ymd][/convert-date]</td>
				<td class=rnorm>[sql-param count]</td>
			</tr>
		[/list]
	[/query]


</table>

@_UI_STD_FOOTER_@
