[if !session logged_in][bounce /index][/if]
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Order History[/tmp]
[tmp meta_header]<link rel="stylesheet" href="/css/my_account.css" type="text/css" />[/tmp]

[include templates/redesign/header]
[tmpn current_page]query/check_orders[/tmpn]

[perl tables="transactions orderStatus"]
	my $username = $Session->{username};
	my $sql = qq|
		SELECT code, substring(order_date, 1, 8) as order_date, nitems, total_cost, status 
		FROM transactions 
		WHERE username = '$username' 
		ORDER BY code DESC
	|;
	
	my $orders = $Tag->query({ sql=>$sql, table=>"transactions", hashref=>1 });
	my $output;
	
	foreach my $order (@$orders) {
		$sql = qq|
			SELECT description 
			FROM orderStatus 
			WHERE status = "$order->{'status'}"
		|;
		
		my $status = $Tag->query({ sql=>$sql, table=>"orderStatus" });
		my $href = $Tag->area( { href => 'query/order_detail', arg => $order->{'code'} });
		$output .= qq|
			<tr style="border: 1px solid grey; height: 25px;">
				<td></td>
				<td><a href="$href" style="text-decoration: none;">$order->{'code'}</a></td>
				<td>$order->{'order_date'}</td>
				<td>$order->{'nitems'}</td>
				<td>| . sprintf("%.02f", $order->{'total_cost'}) . qq|</td>
				<td>$status->[0]->[0]</td>
				<td></td>
			</tr>
		|;
	}
	
	$Tag->tmpn('tableContents', $output);
[/perl]


<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Order Tracking</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div>
			<div class="changePasswordContentLeft"></div>
			<div class="contentBody">
				[if scratch tableContents]
				<table style="width: 97%; margin: 10px 0 50px 0; border: 1px solid grey;"> 
					<tr style="text-align: left; background-color: grey; color: white; height: 25px; border: 1px solid grey;">
						<th style="width: 3%; height: 20px;"></th>
						<th style="width: 14%; font-weight: bold; height: 20px;">ORDER ID</th>
						<th style="width: 13%; font-weight: bold; height: 20px;">DATE</th>
						<th style="width: 13%; font-weight: bold; height: 20px;">QUANTITY</th>
						<th style="width: 13%; font-weight: bold; height: 20px;">TOTAL</th>
						<th style="width: 41%; font-weight: bold; height: 20px;">STATUS</th>
						<th style="width: 3%; height: 20px;"></th>
					</tr>
						[scratchd tableContents]
				</table>
				[else]
					<h2>No orders were found for this account.</h2>
				[/else]
				[/if]
			</div>
			<div class="changePasswordContentRight"></div>
			<br clear="all" />
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
	</div>
	<br clear="all" />
</div>
[include templates/redesign/footer]
