[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title][L]Retrieving your login information...[/L][/tmp]

[include templates/redesign/header]

<!-- BEGIN CONTENT -->
<div id="mid">
<table width="95%">
<tr>
  <td>
<h1>[L]Retrieving your login information&hellip;[/L]</h1>
[perl]
 delete $Scratch->{tried_pw_retrieve};
	if( $Scratch->{tried_pw_retrieve}++ > 10 ) {
		return "Sorry, too many attempts.";
	}
    $CGI->{mv_todo} = 'search';
	$Config->{NoSearch} = '';
	push(@{$Config->{AllowRemoteSearch}},'userdb');
	return;
[/perl]

[if scratch tried_pw_retrieve <= 10][then]
	[perl table="userdb" no-return=1]
		my $dbh = $Sql{userdb};
		my $sth = $dbh->prepare('SELECT username, email, password FROM userdb WHERE email = ?');
		$sth->execute( $CGI->{email} );

		my $results = $sth->fetchall_arrayref();

		if( scalar@$results == 1 ){
			my ($username, $email,$password) = @{$results->[0]};

			#If this is an aol email address use emaildirect for the time being, until we
			#get our email issues with aol sorted out
&Log( $email );
			if( $email =~ /aol.com/i ){
&Log('this is an aol email');
				$Tag->tmpn('send-emaildirect',1);
				$Tag->tmpn('forgotten-email', $email);
				$Tag->tmpn('forgotten-password', $password);
			}else{
&Log('not an aol email?');
				my $response = $Tag->email({
					to => $email,
					from => $Tag->var('COMPANY') . ' password reminder <' . $Tag->var('EMAIL_SERVICE') . '>',
					subject => 'Your login information',
					body => qq|
You requested that your login information be sent to your
email address on record. The information is:

				Email:     $email
				Password:  $password

You can log in at:

				| . $Tag->area('login') . q|

If you still have problems logging in, please contact one
of our friendly and helpful customer services representatives:

Call us directly at | . $Tag->var('PHONE') . q|

Toll free within US | . $Tag->var('TOLLFREE')
				});
				$Tag->tmpn('email-sent', $response);
			}
		}elsif( scalar @$results > 1 ){
			$Tag->tmpn('multiple-accounts',1);
		}elsif( !$results ){
			$Tag->tmpn('no-account',1);
		}
	[/perl]
	[if scratchd send-emaildirect]
		[tmp email-sent][send_emaildirect
			to=|[scratch forgotten-email]|
			from='__EMAIL_SERVICE__'
			subject='Your login information'
		]
You requested that your login information be sent to your
email address on record. The information is:

				Email:     [scratchd forgotten-email]
				Password:  [scratchd forgotten-password]

You can log in at:

				[area login]

If you still have problems logging in, please contact one
of our friendly and helpful customer services representatives:

Call us directly at __PHONE__

Toll free within US __TOLLFREE__[/send_emaildirect][/tmp]
	[/if]
	[if scratchd email-sent]
		<p>
			An email containing your account login details has been sent to
			[cgi email]. 
		</p>
	[elsif scratchd multiple-accounts]
		<p>The information you provided generated more than one match. Would you like to <a href="[area href=|lost_password| secure=|1|]">Try again</a>?</p>
	[/elsif]
	[elsif scratchd no-account]
		<p>Sorry, we couldn't find a match for [cgi email]. Would you like to <a href="[area href=|lost_password| secure=|1|]">Try again</a>?</p>
	[/elsif]
	[else]
		<p>We were unable to send you an email of your account details. Please contact our <a href="[area contact_us]">customer service department</a> who will be happy to help you further.</p>
	[/else]
	[/if]
[/then]
[/if]
  </td>
</tr>
</table>
</div>
[include templates/redesign/footer]