[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Order Item Status Detail[/tmp]
[tmp meta_header]
<style type="text/css">
#mid {
	padding: 0 20px;
}
pre {
	border: 2px solid black;
	padding: 10px 5px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.ip{color:blue;font-size:18px}
.shipped, .shipped a{font-size:16px}
</style>
[/tmp]
[include templates/redesign/header]

<div id="mid">
<!-- BEGIN CONTENT -->

[perl tables="orderline"]

	# THIS BLOCK VERIFIES ARGUMENTS

	my $dbh = $Sql{orderline}
		or Log('No DBI handle to database');

	my $sm;

	if ($CGI->{code} && $CGI->{zip})
	{
		my $sth = $dbh->prepare('SELECT b.shipmode FROM orderline a LEFT OUTER JOIN transactions b ON a.order_number = b.order_number WHERE a.code = ?');
		$sth->execute($CGI->{code});
		($sm) = $sth->fetchrow_array();

		if ($sm =~ m/^FLATI/)
		{
			# NO ADDITIONAL VALIDATION
		}
		else
		{
			if ($CGI->{zip} =~ /^(\d\d\d\d\d)/)
			{
				$CGI->{zip} = $1;

				my $sth = $dbh->prepare('SELECT COUNT(*) FROM orderline a LEFT JOIN transactions b ON a.order_number = b.order_number WHERE a.code = ? AND b.zip LIKE ?');
				$sth->execute($CGI->{code}, $CGI->{zip}.'%');
				($order_valid) = $sth->fetchrow_array();
				if ($order_valid != 1)
				{
					$CGI->{error} = 'Invalid or missing URL arguments.';
				}
			}
			else
			{
				$CGI->{error} = 'Zip code must be at least 5 digits.';
			}
		}
	}
	else
	{
		$CGI->{error} = 'Invalid or missing URL arguments.';
	}
	return "<!-- SM: $sm -->";
[/perl]

[if cgi error]
	[bounce href="query/order_status?error=[cgi error]"]
[/if]

<script>
<!--
function swapImage(t,i)
{
	document.getElementById(t).src = '/images/status/'+i+'.jpg';
}
-->
</script>

[perl tables="orderline current_hold_emails"]

	# HANDLE ORDER NUMBER

	my $orderline_code = $CGI->{code};
	my $order_number = $orderline_code;
	$order_number =~ s/\-\d+$//g;

	# GET ORDER DATA

	my $dbh = $Sql{orderline}
		or Log('No DBI handle to database');

	my $sth = $dbh->prepare(<<EOP);
SELECT a.description, a.status, a.ar_coating, b.pkgletter, c.status, c.tracking_number, c.shipmode, a.breakage_count, a.exp_ship_date, c.lab, a.source, a.rxupgrade, a.sku, c.lab_assigned, c.xsell_order, c.xsell_reforder
FROM orderline a
LEFT JOIN desc_lens_pkg b ON a.lenstype = b.pkgcode
LEFT JOIN transactions c ON a.order_number = c.order_number
WHERE a.code = ?
EOP

	$sth->execute($orderline_code);
	my ($item_desc, $status, $ar_coating, $pkgletter, $master_status, $tracking_number, $shipmode, $breakage_count, $exp_ship_date, $lab, $source, $rxupgrage, $sku, $lab_assigned, $xcell, $xcellref) = $sth->fetchrow_array();

	# IF THIS IS AN XCELL ORDER GET MASTER STATUS AND TRACKING FROM MAIN ITEM
	if ($xcell && $xcellref)
	{
		my $sth = $dbh->prepare('SELECT status, tracking_number, shipmode FROM transactions WHERE order_number = ?');
		$sth->execute($xcellref);
		($master_status, $tracking_number, $shipmode) = $sth->fetchrow_array();
	}

	# IS THIS A STOCK OR A SURFACED LENS (1=stock/2=surfaced)

	my $type;
	if ($lab == 3)
	{
		$type = $source;
	}

	if (!$type)
	{
		my %stock_lenses = ('A' => 1, 'B' => 1, 'C' => 1, 'D' => 1, 'I' => 1);
		if ($stock_lenses{$pkgletter} && !$rxupgrage)
		{
			$type = 1;
		}
		else
		{
			$type = 2;
		}
	}

	# IS THIS UYOF?

	my $uyof;
	if ($sku !~ m/^\d+_/){
		$item_desc = 'Using your own frame with: ' . $item_desc;
		$uyof = 1;
	}

	# IS THIS A MULTI-ITEM ORDER?

	my $sth = $dbh->prepare('SELECT COUNT(*) FROM orderline WHERE order_number = ?');
	$sth->execute($order_number);
	my ($itemcnt) = $sth->fetchrow_array();

	$CGI->{itemcnt} = $itemcnt;

	# IF THIS IS A PART OF A MULTI-ITEM ORDER, ARE ANY OF THE OTHER ITEMS PENDING?

	my $others_pending;
	if ($itemcnt > 1)
	{
		my $sth = $dbh->prepare('SELECT COUNT(*) FROM orderline WHERE order_number = ? AND status = ?');
		$sth->execute($order_number, 'pending');
		($others_pending) = $sth->fetchrow_array();
	}

	# DETERMINE CURRENT STEP

	my %steps = ('enter_polishing_station' => 6, 'enter_tinting' => 7, 'enter_assembly_station' => 8, 'enter_inspection_station' => 9, 'shipping' => 10);
	my $step = $steps{$status};

	$step = 10 if $master_status eq 'shipped';
	$step = undef if $others_pending;

	# DOES THIS ITEM HAVE THE TINTING OPTION?

	my %tint_pkgs = ('C' => 1,'D' => 1,'I' => 1,'JC' => 1,'JI' => 1,'KC' => 1,'KI' => 1,'LC' => 1,'LI' => 1,'S' => 1,'RI' => 1,'VC' => 1,'VI' => 1,'ZI' => 1,'ZJI' => 1,'ZKI' => 1);
	my $has_tint = 1 if $tint_pkgs{$pkgletter};

	# SETUP THE TRACKING LINK

	my ($tracking_url, $shipper);
	if ($shipmode =~ /^UPS/ || $shipmode =~ /^XSELL/)
	{
		$shipper = 'ups';
		$tracking_url = 'http://wwwapps.ups.com/WebTracking/processInputRequest?HTMLVersion=5.0&loc=en_US&Requester=UPSHome&tracknum=';
	}
	else
	{
		$shipper = 'usps';
		$tracking_url = 'http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?strOrigTrackNum=';
	}
	$tracking_url .= $tracking_number;

	# FORMAT THE SHIPPING METHOD

	$shipmode =~ s/\)$//g;
	$shipmode =~ s/[^\(]+\(//g;

	# FORMAT THE ESTIMATED SHIP DATE

	$exp_ship_date = $Tag->convert_date({fmt => '%B %d, %Y', body => $exp_ship_date}) if $exp_ship_date;

	# SETUP SOME DEFAULT SHIPPING TIMES

	if ($type == 1 && $ar_coating eq 'COA1')
	{
		$default_ship_from = 3;
		$default_ship_to = 5;
	}
	elsif ($type == 1)
	{
		$default_ship_from = 2;
		$default_ship_to = 4;
	}
	elsif ($type == 2 && $ar_coating eq 'COA1')
	{
		$default_ship_from = 4;
		$default_ship_to = 6;
	}
	else
	{
		$default_ship_from = 3;
		$default_ship_to = 5;
	}

	# DISPLAY HEADER

	my $out = <<EOP;
<h2>Order Item Status Detail</h2>
<b>Order Number: $order_number</b>
<br />
<b>Item Description: $item_desc</b>

<!-- STEP: $step -->
<!-- ITEM CNT: $itemcnt -->
<!-- OTHERS PENDING: $others_pending -->
EOP

	# CHECK FOR BREAKAGES AND DISPLAY NOTICE

	if ($breakage_count && $breakage_count > 0 && $master_status eq 'pending')
	{
		$out .= <<EOP;
<br /><br />
<p style="color:#c30000">
<strong>***ORDER UPDATE***</strong>
<br /><br />
Your glasses did not pass final inspection and we are currently expediting your order through production. We are bypassing the regular tracking system in order to speed up the production process and there will be no further updates until your order is ready to ship. If you have any questions, please do not hesitate to contact us at 1-800-672-6304. We apologize for the inconvenience and we appreciate your patience at this time.
<br /><br />
EOP
		if ($exp_ship_date)
		{
			$out .= <<EOP;
<strong>Your new estimated ship date is: $exp_ship_date</strong>
EOP
		}
		$out .= <<EOP;
</p>
<br /><br />
EOP
	}
	elsif ($lab eq 'FH' && $master_status eq 'pending')
	{
		$out .= <<EOP;
<p style="color:#c30000">
<b>Your order has been successfully placed and we are awaiting the arrival of your frame.</b><br />Once the frame is received, we will begin processing your order and the order status will be updated accordingly.
</p>
<br /><br />
EOP
	}
	elsif ($lab eq 'H' && $master_status eq 'pending'){
		my $message_added = undef;
		#If this is the only item, show the on hold e-mail, otherwise it was displayed on the previous screen
		if( $itemcnt == 1 ){
			my $dbh = $Sql{current_hold_emails};
			my $sth = $dbh->prepare(q|SELECT email, DATE_FORMAT( sent_at, '%M %D, %Y' ) FROM current_hold_emails WHERE order_number = ?|);
			$sth->execute( $order_number );
			my $result = $sth->fetchrow_arrayref();

			#If there is an arrayref then an e-mail was sent, display it
			if( $result ){
				$message_added = 1;
				my ($email, $sent_at) = @$result;
				$out .= qq|
<div id="email">
	<span>Please note your order has been placed on hold, the following e-mail was sent to the e-mail address you placed the order with on $sent_at.
	<pre>$email</pre>
</div>
				|;
			}
		}

		if( !$message_added ){
			$out .= qq|
<p style="color:#c30000">
<b>ON HOLD</b>
<br />
Your order was placed ON HOLD on $lab_assigned.  This was done as a precaution after detailed examination of your order request, due to discrepancies that may have resulted in producing or sending your order with potential errors. 
We make attempts to contact customers first in these situations. If you have not done so yet, please contact us immediately so we can go over this with you and begin making your new glasses to perfection.
</p>
<br /><br />|;
		}

		#Set a scratch var denoting the hold status, this triggers the appearance
		#of a contact us link at the bottom
		$Tag->tmpn('onHold',1);

		#Exit early, no reason to show steps when the order is on hold 
		return $out;
	}
	elsif (!$step && $master_status eq 'pending')
	{
		if ($exp_ship_date)
		{
			$out .= <<EOP;
<p>
<b>Your order has been placed and is in progress. Your order's expected ship date is: $exp_ship_date by 8 PM (Eastern Time).</b>
</p>
<br /><br />
EOP
		}
		else
		{
			$out .= <<EOP;
<p>
<b>Your order has been placed and is in progress.<br />The status for this order will update as it nears completion.</b>
</p>
<br /><br />
EOP
		}
	}
	elsif ($exp_ship_date && $master_status eq 'pending' && $itemcnt == 1)
	{
		$out .= <<EOP;
<p class="ip">Status Update: Your order's expected ship date is: $exp_ship_date by 8 PM (Eastern Time).</p>
<br /><br />
EOP
	}
	elsif ($master_status eq 'shipped')
	{

		$out .= <<EOP;
<p class="shipped">
Your glasses have been shipped via $shipmode with tracking number: <b>$tracking_number</b>
<br /><br />
<a href="$tracking_url" target="_blank">Click here to track your package now</a>
</p>
<br /><br />
EOP
	}

	my %step1title = (1 => 'Order analysis and lens selection', 2 => 'Order Analysis and Semi-finished Lens Selection');
	my %step1desc = (	1 => 'Your order is passing a spot-check for any potential errors or inconsistencies in your Rx or PD by a lens specialist in our laboratory.  The appropriate uncut lenses are then selected from our enormous inventory of lenses.',
				2 => 'Your order is passing a spot-check for any potential errors or inconsistencies in your Rx or PD by a lens specialist in our laboratory.  The appropriate uncut <i>semi-finished</i> lenses are then selected from our enormous inventory of lenses.  <i>Semi-finished</i> lenses require <i>surfacing</i> to cut the lens to the minimum required thickness based on your prescription and frame selection.');

	$out .= <<EOP;
<table cellpadding="4" cellspacing="4" border="0">
	<tr>
		<td valign="top"><img src="/images/status/lens_selection-$type.jpg" width="240" height="185" alt="$step1title{$type}" /></td>
		<td valign="top">
			<b>$step1title{$type}</b>
			<br /><br />
			$step1desc{$type}
		</td>
		<td valign="top" width="112">
EOP
	if ($step)
	{
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP

	if ($type == 2)
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/taping_blocking.jpg" width="240" height="185" alt="Lens Taping and Surface Blocking" /></td>
		<td valign="top">
			<b>Lens Taping and Surface Blocking</b>
			<br /><br />
			The finished front surface of your lenses are protected by a removable stretch-wrap film (called <i>taping</i>).  The lenses are each then sent to a computer that prepares the lenses for the next cutting step by placing a lens stabalizer (called a <i>block</i>) on the film-coated lens surface.  This <i>block</i> grips the lens tight for accurate cutting in the next step.
		</td>
		<td valign="top">
EOP
	if ($step)
	{
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/lens_generating.jpg" width="240" height="185" alt="Lens Generating" /></td>
		<td valign="top">
			<b>Lens Generating</b>
			<br /><br />
			A computerized lens cutter uses a special blade to thin the lenses by cutting your prescription into the back surface of the lens. This turns the lenses from a thick block of plastic (<i>semi-finished</i>) into a custom, large-diameter, thin lens with your prescription in it (called a <i>finished</i> lens) that we can further cut down to your frame shape.
		</td>
		<td valign="top">
EOP
	if ($step) 
	{       
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}       
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/fining_polishing.jpg" width="240" height="185" alt="Lens Fining and Polishing" /></td>
		<td valign="top">
			<b>Lens Fining and Polishing</b>
			<br /><br />
			Now that the lenses have been thinned out, we are now smoothing and clearing the new back lens surfaces.  The first step of this process is called <i>fining</i>, where a fine buffing pad smooths out the new surface.  The second step, called <i>polishing</i> uses a soft pad and polishing solution to give make the lens crystal-clear.  The surface blocks are then removed from the lenses and the protective tape removed from the front surface.
		</td>
		<td valign="top">
EOP
	if ($step) 
	{       
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}       
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/hard_coating.jpg" width="240" height="185" alt="Hard Coating and Intermediate Inspection" /></td>
		<td valign="top">
			<b>Hard Coating and Intermediate Inspection</b>
			<br /><br />
			An automated machine then places a hard scratch coat on any lenses that do not need to be tinted (those lenses get coated later on when we tint them).  The lenses are then inspected to make sure there are no defects before proceeding.
		</td>
		<td valign="top">
EOP
	if ($step) 
	{       
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}       
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP
	}

	if ($ar_coating eq 'COA1')
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/ar_coating.jpg" width="240" height="185" alt="Anti-reflective coating application" /></td>
		<td valign="top">
			<b>Anti-reflective coating application</b>
			<br /><br />
			Your lenses are being custom coated with a multi-layer <i>anti-reflective (A/R) coating</i>.  Your A/R-coated, uncut lenses are then inspected for any potential defects in the coating.  This complex process typically takes 1-2 days.
		</td>
		<td valign="top">
EOP
		if ($step) 
		{       
			$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
		}       
		$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP
	}

	if (!$uyof)
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/frame_selection.jpg" width="240" height="185" alt="Frame Selection" /></td>
		<td valign="top">
			<b>Frame Selection</b>
			<br /><br />
			The frame you have chosen is being matched with your uncut lenses to ensure all materials needed to make your glasses are kept together.
		</td>
		<td valign="top">
EOP
		if ($step) 
		{       
			$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
		}       
		$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP
	}

	$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/blocking-1.jpg" width="240" height="185" alt="Lens Blocking" id="blocking" /></td>
		<td valign="top">
			<b>Lens Blocking</b>
			<br /><br />
			A precision computer is attaching a lens stabalizer (referred to in the industry as a <a href="#" onmouseover="swapImage('blocking','blocking-2'); return false;" onmouseout="swapImage('blocking','blocking-1'); return false;">block</a>) to the front surface of your uncut lenses.  This block will hold it steady when it is inserted into a computerized lens edger in the next step.  The block never touches the lenses as they are protected by a soft rubber buffer to make sure the lenses do not get scratched.  The shape of the lenses needed (based on your frame selection) is also <a href="#" onmouseover="swapImage('blocking','blocking-3'); return false;" onmouseout="swapImage('blocking','blocking-1'); return false;">traced</a> in this station by a precision computer to the nearest 0.1 mm.
		</td>
		<td valign="top">
EOP
	if ($step) 
	{       
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}       
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/edging-1.jpg" width="240" height="185" alt="Lens Edging" id="edging" /></td>
		<td valign="top">
			<b>Lens Edging</b>
			<br /><br />
			The shape of the lenses has been sent over via <a href="#" onmouseover="swapImage('edging','edging-2'); return false;" onmouseout="swapImage('edging','edging-1'); return false;">computer signal</a> to a specialized lens cutting computer (called  a lens edger).  Here the large uncut lens is cut on a diamond-blade wheel with pinpoint accuracy.  The finish blocks are then removed from the lens surfaces and the sticky rubber barrier is discarded.
		</td>
		<td valign="top">
EOP
	if ($step) 
	{       
		$out .= qq{<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />};
	}       
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/polishing.jpg" width="240" height="185" alt="Lens Edge Polishing" /></td>
		<td valign="top">
			<b>Lens Edge Polishing</b>
			<br /><br />
			Your lenses are now cut and the new lens edges are buffed to a pristine polish to remove the opaque/frosted lens edge.  This helps your lenses look thinner and less visible from the side &amp; greatly improves the overall aesthetics.  Your lenses are then coated with tough scratch-resistent coatings and a UV-protective barrier to all lens surfaces.
		</td>
		<td valign="top">
EOP
	if ($step == 6)
	{
		$out .= '<i class="ip">In progress</i>';
	}
	elsif ($step > 6)
	{
		$out .= '<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />';
	}
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP

	if ($has_tint)
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/tinting.jpg" width="240" height="185" alt="Lens Tinting" /></td>
		<td valign="top">
			<b>Lens Tinting</b>
			<br /><br />
			Your lenses are being immersed into a hot lens bath that applies your tint color to all lens surfaces.
		</td>
		<td valign="top">
EOP
		if ($step == 7)
		{
			$out .= '<i class="ip">In progress</i>';
		}
		elsif ($step > 7)
		{
			$out .= '<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />';
		}
		$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP
	}

	$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/assembly.jpg" width="240" height="185" alt="Completed Glasses Assembly" /></td>
		<td valign="top">
			<b>Completed Glasses Assembly</b>
			<br /><br />
			Each completed lens is being inserted into your frame by hand and the frame is then tightened.
		</td>
		<td valign="top">
EOP
	if ($step == 8)
	{
		$out .= '<i class="ip">In progress</i>';
	}
	elsif ($step > 8)
	{
		$out .= '<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />';
	}
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
	<tr>
		<td valign="top"><img src="/images/status/final_inspection.jpg" width="240" height="185" alt="Final Prescription Verification and Inspection" /></td>
		<td valign="top">
			<b>Final Prescription Verification and Inspection</b>
			<br /><br />
			A specialized, precision computer passes light through the lenses to inspect your prescription and PD for accuracy in the assembled, completed pair.  The frame is then bench-aligned to make sure it ships to you straight, and is wrapped in a micro-fiber cleaning pouch.  Keep this pouch to use as a cleaning cloth when you receive your glasses.
		</td>
		<td valign="top">
EOP
	if ($step == 9)
	{
		$out .= '<i class="ip">In progress</i>';
	}
	elsif ($step > 9)
	{
		$out .= '<img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" />';
	}
	$out .= <<EOP;
		</td>
	</tr>
	<tr><td colspan="3"><hr /></td></tr>
EOP

	if ($master_status eq 'shipped')
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/$shipper.jpg" width="240" height="185" alt="Shipped" /></td>
		<td valign="top">
			<b>Shipped</b>
			<br /><br />
			Your glasses have been shipped via $shipmode with tracking number: <b>$tracking_number</b>
			<br /><br />
			<a href="$tracking_url" target="_blank">Click here to track your package now</a>
		</td>
		<td valign="top"><img src="/images/status/green_check.jpg" width="112" height="112" alt="Green Check" /></td>
	</tr>
EOP
	}
	else
	{
		$out .= <<EOP;
	<tr>
		<td valign="top"><img src="/images/status/$shipper.jpg" width="240" height="185" alt="Shipping" /></td>
		<td valign="top">
			<b>Shipping</b>
			<br /><br />
			Your glasses are being packaged and the shipping label is being generated. The tracking number will be listed here once the package is scanned at pick up.
		</td>
		<td valign="top">
EOP
		$out .= '<i class="ip">In progress</i>' if $step == 10;
		$out .= <<EOP;
		</td>
	</tr>
EOP
	}

	return $out;

[/perl]

</table>

<br /><br />
<div style="text-align: center">
	[if cgi itemcnt > 1]
		<a href="[area href="query/order_status" form="
		order_number=[calc]$on = $CGI->{code}; $on =~ s/\-\d+$//g; return $on;[/calc]
		zip=[cgi zip]
		submit=1
		"]">Click here to return to main order status</a>
	[else]
		<a href="[area query/order_status]">Click here to view the status for another order</a>
		<br />
	[/else][/if]
	[if scratchd onHold]
		<br />
		<a href="/contact_us.html#email">Contact us</a>
	[/if]
</div>

</div>
[include templates/redesign/footer]
