[if !session logged_in][bounce /index][/if]
[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[if session arg]
	[seti arg][data session arg][/seti]
[else]
	[bounce href="[area special/violation arg_missing]"]
[/else]
[/if]

[tmp members_only]1[/tmp]
[tmp page_title]__COMPANY__ -- Order Detail[/tmp]
[tmp meta_header]<link rel="stylesheet" href="/css/my_account.css" type="text/css" />[/tmp]

[include templates/redesign/header]

[tmpn current_page]query/check_orders[/tmpn]



<div class="myAccountContainer">
	[include include/account/leftNav]
	
	<div class="myAccountContent">
		<div class="contentHeader"><p class="headerText">Order Tracking</p></div>
		<div class="contentTop">
			<img src="/img/myAccount/contentTop.jpg" />
		</div>
		<div>
			<div class="changePasswordContentLeft"></div>
			<div class="contentBody">
				<div style="margin: 20px 0 50px 0;">
					[perl tables="transactions orderline products" failure="Error retreiving order information."]
						my $sql = qq|
							SELECT b_fname, b_lname, b_address1, b_address2, b_city, b_state, b_zip, b_country, 
								   fname, lname, address1, address2, city, state, zip, country, order_ymd,
								   phone_day, subtotal, salestax, shipping, handling as smartfitRewards, total_cost
							FROM transactions
							WHERE order_number = $Scratch->{'arg'} AND username = | . $Tag->filter('dbi_quote', $Session->{username});
						
						my $orderInformation = $Tag->query({ sql=>$sql, table=>"transactions", hashref=>1 });
						
						return "Error retrieving order information." if scalar @{$orderInformation} < 1;
						
						$sql = qq|
							SELECT pres_od, pres_os, pupd, tint, sku, description, price, subtotal
							FROM orderline
						WHERE order_number = | . $Tag->filter({ op=>dbi_quote }, $Scratch->{'arg'});
						
						my $itemList = $Tag->query({ sql=>$sql, table=>'orderline', hashref=>1 });
						my $itemOutput;
						my $image_src;
						
						foreach my $item (@$itemList) {
							my $prescriptionOD;
							my $prescriptionOS;
							
							foreach my $od (split(",", $item->{'pres_od'})) {
								$prescriptionOD .= qq|<td>$2</td>| if ($od =~ /(SPH|CYL|AXI|ADD|PRISM) (.*)/);		
							}
							
							foreach my $od (split(",", $item->{'pres_os'})) {
								$prescriptionOS .= qq|<td>$2</td>| if ($od =~ /(SPH|CYL|AXI|ADD|PRISM) (.*)/);		
							}
							
							$image_src = $Tag->image({ src_only=>1, src=>"tints/$item->{'sku'}_$item->{'tint'}.jpg", makesize=>"200x200" });
							$itemOutput .= qq|
								<tr style="border: solid 1px grey;">
									<td style="text-align: center; border: solid 1px grey;">
										<img src="$image_src" /><br />
										<span style="font-weight: bold;">$item->{'description'}<br /><br />
									</td>
									<td style="text-align: center; border: solid 1px grey;">
										<table style="width: 95%; margin-left: 5px;">
											<tr>
												<th style="width: 7%">&nbsp;</th>
												<th style="width: 25%; font-weight: bold;">Sphere</th>
												<th style="width: 15%; font-weight: bold;">Cyl</th>
												<th style="width: 15%; font-weight: bold;">Axi</th>
												<th style="width: 15%; font-weight: bold;">Add</th>
												<th style="width: 19%; font-weight: bold;">PRISM</th>
											</tr>
											<tr>
												<td style="font-weight: bold; text-align: left;">OD:</td>
												$prescriptionOD
											</tr>
											<tr>
												<td style="font-weight: bold; text-align: left;">OS:</td>
												$prescriptionOS
											</tr>
										</table>
										<br />
										<div style="margin-left: 5px; text-align: left;"><span style="font-weight: bold;">PD:</span> $item->{'pupd'}</div>
									</td>
									<td style="text-align: center; border: solid 1px grey;">\$| . sprintf("%.02f", $item->{'price'}) . q|</td>
								</tr>
							|;
						}
						
						my $date = $Tag->convert_date({ body=>"$orderInformation->[0]->{'order_ymd'}", format=>'%A %B %d, %Y' });
						
						my $output = qq|
							<div style="margin: 0px 0px 0px 10px; float: left;">
								<span style="font-weight: bold; font-size: 18px;">Order Number [scratch arg]</span>
							</div>
							<div style="float: right; margin: 1px 30px 0 0;">
								<span style="font-weight: bold; font-size: 18px;">$date</span>
							</div>
							<br clear="all" />
							<div style="margin: 20px 0px 0px 10px; width: 45%; float: left;">
								<span style="font-weight: bold; font-size: 16px;">Billing Information</span>
							</div>
							<div style="margin: 20px 67px 0px 10px; width: 33%; float: right;">
								<span style="font-weight: bold; font-size: 16px;">Shipping Information</span>
							</div>
							<br clear="all" />
							<div style="width: 45%; float: left; margin-left: 10px;">
								<div style="float: left; margin:0;">
									<p style="margin-top: 5px;">
										$orderInformation->[0]->{'b_fname'} $orderInformation->[0]->{'b_lname'}<br />
										$orderInformation->[0]->{'b_address1'}<br />
										| . ($orderInformation->[0]->{'b_address2'} ? qq|$orderInformation->[0]->{'b_address2'}<br />| : '') . qq|
										$orderInformation->[0]->{'b_city'}, $orderInformation->[0]->{'b_state'}, $orderInformation->[0]->{'b_zip'}<br />
										$orderInformation->[0]->{'b_country'}<br />
									</p>
								</div>
							</div>
							<div style="width: 33%; float: right;  margin: 0 67px 0 10px;">
								<div style="float: left; margin:0;">
									<p style="margin-top: 5px;">
										$orderInformation->[0]->{'fname'} $orderInformation->[0]->{'lname'}<br />
										$orderInformation->[0]->{'address1'}<br />
										| . ($orderInformation->[0]->{'address2'} ? qq|$orderInformation->[0]->{'address2'}<br />| : '') . qq|
										$orderInformation->[0]->{'city'}, $orderInformation->[0]->{'state'}, $orderInformation->[0]->{'zip'}<br />
										$orderInformation->[0]->{'country'}<br />
									</p>
								</div>
							</div>
							<br clear="all"/>
							<div style="margin: 0px 0 0 10px;">
								<span style="font-weight: bold;">Daytime Phone: $orderInformation->[0]->{'phone_day'}</span>
							</div>
							<table style="width: 94%; margin: 20px 0 0 10px; border: 1px solid grey">
								<tr style="text-align: left; background-color: grey; color: white; height: 25px; border: 1px solid grey;">
									<th style="font-weight: bold; width: 37%; height: 20px; text-align: center;">Item</th>
									<th style="font-weight: bold; width: 51%; height: 20px; text-align: center;">Prescription</th>
									<th style="font-weight: bold; width: 12%; height: 20px; text-align: center;">Price</th>
								</tr>
								$itemOutput
							</table>
							<div style="text-align: right; margin: 10px 44px 0 0; float: right;">
								<p>
									\$| . sprintf("%.02f", $orderInformation->[0]->{'subtotal'}) . q|<br />
									$| . sprintf("%.02f", $orderInformation->[0]->{'salestax'}) . q|<br />
									$| . sprintf("%.02f", $orderInformation->[0]->{'shipping'}) . q|<br />
									$| . sprintf("%.02f", $orderInformation->[0]->{'handling'}) . q|<br />
									$| . sprintf("%.02f", $orderInformation->[0]->{'total_cost'}) . q|
								</p>
							</div>
							<div style="float: right; margin: 10px 10px 0 0;">
								<p>
									SUBTOTAL:<br />
									SALES TAX:<br />
									SHIPPING:<br />
									SMARTFIT REWARDS:<br />
									ORDER TOTAL:
								</p>
							</div>
							<br clear="all" />
						|;
						
						
						return $output;
					[/perl]
				</div>
			</div>
			<div class="changePasswordContentRight"></div>
			<br clear="all" />
			<div>
				<img src="/img/myAccount/contentBottom.jpg" />
			</div>
		</div>
	</div>
	<br clear="all" />
</div>

[include templates/redesign/footer]
