[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Order Status[/tmp]
[tmpn meta_header]
<style type="text/css">
	span.required{ font-weight: bold; color: #c30000 }
</style>
[/tmpn]

[include templates/redesign/header]
<!-- BEGIN CONTENT -->
[comment]emergency message
    <span>39DollarGlasses is located in Hauppauge on Long Island, New York. As of January 2nd, 2014 a blizzard warning has come into affect. Due to inclement winter weather throughout the Northeast and the holidays, there may be a slight delay in production time. While this may not affect your order we wanted to keep our customers informed in the event that there is a delay. We appreciate your patience while we work to complete all orders in a timely manner.  Thank you.</span>
[/comment]
[perl tables="transactions"]
	my $dbh = $Sql{transactions}
		or Log('No DBI handle to database');
	if( $CGI->{order_number} && $CGI->{zip} && $CGI->{email} ){
		my $sth = $dbh->prepare('SELECT shipmode FROM transactions WHERE order_number = ? AND zip = ? AND email = ?');
		$sth->execute( $CGI->{order_number}, $CGI->{zip}, $CGI->{email} );
		($sm) = $sth->fetchrow_array();

		if( $sm =~ m/^FLATI/ ){
			$sth = $dbh->prepare('SELECT COUNT(*) FROM transactions WHERE order_number = ? AND zip = ? AND email = ?');
			$sth->execute( $CGI->{order_number}, $CGI->{zip}, $CGI->{email} );
			$CGI->{bounce} = $Tag->area({ href => "query/item_status", form => "code=" . $CGI->{order_number} . "-1\nzip=" . $CGI->{zip} }) if ($sth->fetchrow_array() == 1);
		}
		else{
			my $sth = $dbh->prepare('SELECT COUNT(*) FROM transactions WHERE order_number = ? AND zip = ? AND email = ?');
			$sth->execute($CGI->{order_number}, $CGI->{'zip'}, $CGI->{email} );
			
			($order_valid) = $sth->fetchrow_array();
			if ($order_valid != 1){
				$CGI->{error} = 'Unable to locate order with supplied information. Please verify your input and try again.';
			}
			else{
				$sth = $dbh->prepare('SELECT COUNT(*) FROM orderline WHERE order_number = ?');
				$sth->execute($CGI->{order_number});
				$CGI->{bounce} = $Tag->area({ href => "query/item_status", form => "code=" . $CGI->{order_number} . "-1\nzip=" . $CGI->{zip} }) if( $sth->fetchrow_array() == 1 );
			}
		}
	}elsif( $CGI->{submit} ){
		$CGI->{error} = 'You must enter your order number, shipping address zip code and e-mail address to view order status.';
	}
	return;
[/perl]

[if cgi bounce][bounce href="[cgi bounce]"][/if]

[if type=explicit compare="!$CGI->{submit} || $CGI->{error}"]

<h2>Order Status</h2>

<p style="width: 900px; margin-top: 2px">Enter your order number, shipping zip code and e-mail address into the form below to obtain the status information for your order. <span class="required">All fields are required</span>.</p>

[if cgi error]
<div id="loginError">
	<p>[cgi error]</p>
</div>
<br />
[/if]

<div style="width: 354px; margin-left: 260px" class="contact_rbox">
	<h3>Track Your Order</h3>
	<form method="post" action="[process secure=1]">
		<input type="hidden" name="mv_nextpage" value="query/order_status" />
		<label for="order_number">Order Number<span>*</span>:</label> <input id="order_number" name="order_number" value="[cgi order_number]" type="text" />
		<label for="zip">Shipping Zip Code<span>*</span>:	</label> <input id="zip" name="zip" value="[either][cgi zip][or][value zip][/either]" type="text" />
		<label for="email">E-mail Address<span>*</span>:</label> <input name="email" id="email" value="[either][cgi email][or][value email][/either]" type="text" />
		<input type="submit" name="submit" value="Track Order" />
	</form>
</div>
[else]

<h2>Order Status - Order Number: [cgi order_number]</h2>

<p  style="width: 900px; margin-top: 2px">Each item in your order is listed below with its current status. If details are available, the current status will be linked to the detail page for additional information.</p>

<style>
	pre {
		border: 2px solid black;
		padding: 10px 5px;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
#stat-table { margin: auto; }
#stat-table tr.header th{background-color:#4873c1;color:#fff}
#stat-table tr.bg1 td{background-color:#e1e9f4;padding:4px 8px}
#stat-table tr.bg2 td{background-color:#f2f5fa;padding:4px 8px}
#stat-table td.right{text-align:right}
</style>

[perl tables="products transactions orderline current_hold_emails"]

my $out, $cnt, $class;

my $out = qq|
<table cellpadding="2" cellspacing="2" border="0" width="700" id="stat-table">
	<thead>
		<tr style="background: url(/store/images/new_site/header_bg.png) no-repeat;">
			<th>&nbsp;</th>
			<th>Item Number</th>
			<th>Item Description</th>
			<th>Price</th>
			<th>Status</th>
		</tr>
	</thead>
|;

my $dbh = $Sql{orderline}
        or Log('No DBI handle to database');

my %labels = (
	'enter_polishing_station' => 'At Polishing Station',
	'enter_tinting' => 'At Tinting Station',
	'enter_assembly_station' => 'At Assembly Station',
	'enter_inspection_station' => 'At Inspection Station',
	'shipping' => 'Packaging For Shipment',
	'shipping_waiting' => 'Waiting For Other Order Items',
);

my $sth1 = $dbh->prepare('SELECT status, lab FROM transactions WHERE order_number = ?');
$sth1->execute($CGI->{order_number});
($master_status, $lab) = $sth1->fetchrow_array();

my $sth2 = $dbh->prepare('SELECT COUNT(*) FROM orderline WHERE order_number = ? AND status = ?');
$sth2->execute($CGI->{order_number}, 'pending');
($no_status) = $sth2->fetchrow_array();

my $sth3 = $dbh->prepare('SELECT a.sku, b.description, a.subtotal, a.status, a.code, a.source FROM orderline a LEFT JOIN products b ON a.sku = b.sku WHERE a.order_number = ? ORDER BY a.code');
$sth3->execute($CGI->{order_number});

if( $lab eq 'H' ){
	my $dbh = $Sql{current_hold_emails};
	my $sth = $dbh->prepare(q|SELECT email, DATE_FORMAT( sent_at, '%M %D, %Y' ) FROM current_hold_emails WHERE order_number = ?|);
	$sth->execute( $CGI->{order_number} );
	my $result = $sth->fetchrow_arrayref();

	#If there is an arrayref then an e-mail was sent, display it
	if( $result ){
		my ($email, $sent_at) = @$result;
		$out = qq|
<div id="email">
	<span>Please note your order has been placed on hold, the following e-mail was sent to the e-mail address you placed the order with on $sent_at. Please <a href="/contact_us.html#email">contact us</a> to resolve the issue.
	<pre>$email</pre>
</div>
		| . $out;
	}
}

while (my $arrref = $sth3->fetchrow_arrayref())
{
        $cnt ++;
	my $url = $Tag->area({ href => "query/item_status", form => "code=" . $arrref->[4] . "\nzip=" . $CGI->{zip} });

	if ($cnt % 2)
	{
		$class = 'bg1';
	}
	else
	{
		$class = 'bg2';
	}

	$out .= '
<tr class="' . $class . '">
<td class="right">' . $cnt . '</td>
<td>' . $arrref->[0] . '</td>
<td>' . $arrref->[1] . '</td>
<td class="right">' . $Tag->currency({body=>$arrref->[2]}) . '</td>
<td>';

	my $title;
	if ($master_status eq 'shipped')
	{
		$title = 'Shipped';
	}
	elsif ($no_status > 0 || $arrref->[5] == 0)
	{
		if ($lab == 1 || $lab == 2 || $lab == 3 || $lab == 4)
		{
			$title = 'In Progress';
		}
		else
		{
			$title = 'Pending';
		}
	}
	else
	{
		$title = $labels{$arrref->[3]};
	}

	$out .= '<a href="' . $url . '">' . $title . '</a>
</td>
</tr>
';

}

return $out;

[/perl]

</table>
<br />
[/else][/if]

<!-- END CONTENT -->

[include templates/redesign/footer]
