[comment][calcn hide=1]$Scratch->{bogo_declined} = 1;[/calcn][/comment]
[if session logged_in]
	[calcn hide=1]
		#Apply coupon code if the customer is Dr Gupta
		$CGI->{coupon_code} = $Values->{coupon_code} = 'GUPTA20'
			if $Values->{email} eq 'pranayg71@gmail.com';
	[/calcn]
[/if]
[tmp basket_page]1[/tmp]
[comment]
ui_template: yes
ui_template_name: primary
[/comment]
[tmp page_title]__COMPANY__ - Shopping Cart[/tmp]
[tmpn members_only][/tmpn]

[include include/checkout/rxupgrades]
[if value coupon_code]
	[tmp coup_ok][coupon code="[value coupon_code]" msgscratch=coupon_msg yes=1 no=0][/tmp]
	[calcn]
	#disable bogo if ambass
	my $coup = $Values->{coupon_code};
	if ($coup =~ /^AMB/){
		$Scratch->{bogo_declined} = 1;
	}
	return;
	[/calcn]
[else]
	[if explicit][condition]exists $Session->{'recheck_coupon'};[/condition][then]
		[calcn hide=1]
			$Tag->tmp('clear', $Tag->coupon() ) if( !$Scratch->{coupon_msg} && !$Session->{current_coupon_code} );
		[/calcn]
		[tmp coup_code][calcn]delete $Session->{'recheck_coupon'};[/calcn][/tmp]
		[tmp coup_ok][coupon code="[scratchd coup_code]" msgscratch=coupon_msg yes=1 no=0][/tmp]
	[/then][else]
		[calcn hide=1]
			$Tag->tmp('clear', $Tag->coupon() ) if( !$Scratch->{coupon_msg} && !$Session->{current_coupon_code} );
		[/calcn]
		[seti pre_disc_st][subtotal noformat="1"][/seti]
	[/else][/if]
[/else][/if]

[tmp meta_header]
[tmp basket_page]1[/tmp]
[assign clear=1]
[tmpn ga-page]basket[/tmpn]
[ab-log flag="basket"]
<script src="/javascript/new_site/basket.js" type="text/javascript"></script>
<script src="/lib/javascript/step123.js" type="text/javascript"></script>
<script type="text/javascript">
var custom_close = function(){
		$('#decline_bogo').val('1');
		document.forms['basket'].mv_nextpage.value='ord/checkout1';
		$('#basket').submit();
		return false;
}
</script>
[/tmp]
[include templates/redesign/header]
<!-- BEGIN CONTENT -->
[seti thispage][data session ab]-basket.html[/seti]

<div id="infoLayer" class="popup_block"></div>
[if cgi doctor_name]
	[value name="doctor_name" set="[cgi doctor_name]" hide="1"]
	[value name="doctor_phone" set="[cgi doctor_phone]" hide="1"]
[/if]
[if value saving_cart eq "1"]
	[value name="saving_cart" set="0" hide="1"]
	[load_cart nickname="[value c_nickname]"]
[/if]
[if scratch is_coupon_remote]
	[and scratch current_coupon]
		[tmp coupok][coupon code="[scratch current_coupon]" msgscratch=coupon_msg no=0 yes=1][/tmp]
[/if]
[tmp rxitemcount]0[/tmp]
[value name="use_your_own_frame" set=""]
[if cgi retrieve_cart][load_cart nickname="[cgi retrieve_cart]"][/if]
[if scratch logged_message]
<p><font color=#ff0000><strong>[scratchd logged_message]</strong></font></p>
	[tmp logged_msg]1[/tmp]
[/if]
[calcn]
	my $cname = $Config->{CookieName} || 'MV_SESSION_ID';
	$Scratch->{have_cookie} = $Tag->read_cookie($cname)
		and delete $Scratch->{tried};
	return;
[/calcn]
[if scratch have_cookie]
[elsif scratch tried]
	You must have cookies set to leave the basket. Check out now or forever lose your shopping cart.
[/elsif]
[else]
	[set tried]1[/set]
	[bounce href="[area ord/basket]"]
[/else]
[/if]
[include include/checkout/xsell2_add]
[if cgi processclip]
	[tmp clist][calcn]
		my $clippage = $CGI->{clip};
		$clippage =~ s/\0/ /g;
		$clippage =~ s/^\s*(.*?)\s*$/$1/g;
		# wipe all clip modifiers so we only assign ones that are selected
		my $ref = $Session->{carts}->{main};
		my $start = $#$ref + 1;
		for ($i=0;$i<$start;$i++){
			if ($i eq $CGI->{xsell_item}){
				$sku = $Session->{carts}->{main}->[$i]->{code};
				$Session->{carts}->{main}->[$i]->{clips} = 0;
			}
		}
		return $clippage;
	[/calcn][/tmp]
	[if scratch clist]
		[loop list="[scratch clist]"]
			[loop-calc]
				my $ref = $Session->{carts}->{main};
				my $start = $#$ref + 1;
				my $cstr = "cqty_" . q{[loop-code]};
				my $cqty = $CGI->{$cstr};
				my ($i, $r, $cline, $res, $sql, $sku, $qty, $lenstype);
				my $sun = 0;
				my @sku_ary;
				my $sitem = q{[loop-code]};
				my $cl = $Scratch->{clist};
				if ($start){
					my $running_total = 0;
					$sku = $Session->{carts}->{main}->[$CGI->{xsell_item}]->{code};
					if ($sku == $sitem){
						$Session->{carts}->{main}->[$CGI->{xsell_item}]->{clips} = $cqty;
					}
				}
				return undef;
			[/loop-calc]
		[/loop]
	[/if]
[/if]
[set bogo_click]
	[if cgi accept_bogo]
		[value name="coupon_code" set="BuyOneGetOne50" hide="1"]
		[cgi name="mv_nextpage" set="10000" hide="1"]
		[cgi name="coupon_code" set="BuyOneGetOne50" hide="1"]
		[set bogo_active]1[/set]
		[calcn hide=1]
		$Scratch->{mask_coupon} = {
			mask => 'BuyOneGetOne50',
			code => '2PRNEW2'
		};
		[/calcn]
	[else]
		[set bogo_declined]1[/set]
	[/else][/if]
[/set]
<form action="[area href="ord/checkout1" secure=1]" method="post" id="basket">
	<input type="hidden" name="mv_session_id" value="[data session id]" />
	<input type="hidden" name="mv_doit" value="refresh" />
	<input type="hidden" name="mv_todo" value="return" />
	<input type="hidden" name="mv_action" value="process" />
	<input type="hidden" name="mv_click" value="" id="mv_click" />
	<input type="hidden" name="source" value="coupon" />
	<input type="hidden" name="mv_orderpage" value="ord/basket" />
	<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
	<input type="hidden" name="save_cart" value="" />
	<input type="hidden" name="saving_cart" value="0" />
	<input type="hidden" name="no_login" value="0" />
	<input type="hidden" id="accept_bogo" name="accept_bogo" value="" />
	<input type="hidden" id="decline_bogo" name="decline_bogo" value="" />
	[tmp n_items][nitems][/tmp]
	<input type="hidden" name="nItems" id="nItems" value="[scratch n_items]" />
	
	[if scratch logged_msg]
		<input type="hidden" name="email_tried" value="1" />
	[/if]
	[include include/checkout/descriptions]
	[perl no_return=1]
	$item_num = 0;return;
	[/perl]
	[tmp show_bogo][if !scratch bogo_active][if var ENABLE_BOGO][if !scratch bogo_declined][if scratch n_items == 1]1[/if][/if][/if][/if][/tmp]
<div id="mid">
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=rl2mqge&ct=0:5dbs3a6&fmt=3&v=0&vf=USD"/>
	<div class="shoppingcart_maincont">
		<h2>Shopping Cart</h2>
		<div class="cart_ctopright">
			<a href="[area 10000]" class="continue_shoppinglink">Continue Shopping</a>
			[if scratch show_bogo]
				<a href="#" data-customclose="1" rel="bogoDiv" class="popover-link" data-ignoremodal="1" data-width="465">
			[/if]
				<input [if !scratch show_bogo]onclick="document.forms['basket'].mv_nextpage.value='ord/checkout1';"[/if] type="image" src="[if session logged_in]/img/cartrev/checkout.png[else]/img/cartrev/Checkout-as-a-guest.png[/else][/if]" value="[if !session logged_in]checkout as guest[else]checkout[/else][/if]" class="checkout_btn [if session logged_in]large[/if]" />
			[if scratch show_bogo]
				</a>
				<input type="hidden" name="spawn_bogo" value="1" />
			[/if]
			[if !session logged_in]
				<a href="#" class="popover-link" data-url="/login-popup.html" data-width="350">
				<input type="image" onclick="document.forms['basket'].mv_nextpage.value='ord/checkout1';" value="sign in and checkout" src="/img/cartrev/Sign-in-and-checkout.png" class="checkout_btn" /></a>
			[/if]
		</div>
		<div class="shoppingcart_titlebox">
			<div class="shoppingcart_titlebtext">
				<span>Cart Items</span>
			</div>
			<div class="shoppingcart_titlebtext2">
				<span>Item Price</span>
				<span>Item Total</span>
			</div>
		</div>
		[tmp itemcount]0[/tmp]
		[if items]
			[include include/cart_item_list]
            [if !scratch coupon_msg]
                <div id="coupon_wrap" class="cuponecode_cont" style="margin:10px 0px 0px 10px !important;padding:0px 0px 0px 0px !important;border:0px solid white"><a style="cursor:pointer" onclick="$('#coupon_wrap').hide();$('#coupTop').show();">Have a promo code? Click here.</a></div>
            [/if]
			<div [if !scratch coupon_msg]style="display:none;"[/if] id="coupTop" class="cuponecode_cont">
				<div class="cuponecode_cleft">
					<h5>[L]Coupon Code[/L]</h5>
					[if scratch coupon_msg]
						[if scratch coup_ok]
							<span><img src="/store/images/new_site/icon_4.png" /><b>[scratchd coupon_msg]</b></span>
						[else]
							<span style="color: #F00;">[scratchd coupon_msg]</span>
						[/else][/if]
					[/if]
				</div>
				[if !scratch stealth_coupon]
				<div class="cuponecode_cright">
					<input id="c_code" name="coupon_code" value="[calcn]
					($Scratch->{bogo_active} && ($CGI->{coupon_code} || $Values->{coupon_code} ) eq $Scratch->{mask_coupon}->{code} && $Scratch->{mask_coupon}->{mask}) || $CGI->{coupon_code} || $Values->{coupon_code} || $Session->{current_coupon_code}[/calcn]" type="text" />
					<input type="hidden" name="scrollCoupon" id="scrollCoupon" value="" />
					<input type="submit" id="submit_coupon" onclick="$('#scrollCoupon').val(1); document.forms['basket'].mv_nextpage.value='ord/basket';" name="apply-coupon" value="[L]Apply Coupon[/L]" />
					<script type="text/javascript">
					$(function(){
						$('#c_code').keypress(function(e){
							if (e.which === 13){
								$('#submit_coupon').click();
								return !1;
							}
						})
					})
					</script>
				</div>
				[else]
				    <input type="hidden" name="coupon_code" value="[calcn]$Values->{coupon_code}[/calcn]" />
				[/else][/if]
			</div>
			<br style="clear: both" />
			<div class="shoppingcart_totalcont">
				[if type="explicit" compare=`($Session->{current_coupon_code} || $Scratch->{coup_ok}) && $Scratch->{disc_amount} && $Scratch->{disc_amount} > 0`]
					<span class="left">[L]Item Total[/L]:</span><span class="right">[currency][scratch pre_disc_st][/currency] [curr_price price="[scratch pre_disc_st]"]</span>
					<span class="boldGreen left">[L]Discount Applied[/L]:</span><span class="boldGreen right">-[currency][scratch disc_amount][/currency] [curr_price price="[scratch disc_amount]"]</span>
				[/if]
				<span class="left"><b>[L]Shopping Cart Total[/L]:</b></span><span class="right"><b>[subtotal] [curr_price price="[subtotal noformat=1]"]</b></span>
			</div>
			<div class="shoppingcart_botcheckout">
				<a href="[area 10000]" class="continue_shoppinglink">Continue Shopping</a>
				[if scratch show_bogo]
					<a href="#" data-customclose="1" class="popover-link" data-ignoremodal="1" rel="bogoDiv" data-width="465">
				[/if]
						<input [if !scratch show_bogo]onclick="document.forms['basket'].mv_nextpage.value='ord/checkout1';"[/if] type="image" src="[if session logged_in]/img/cartrev/checkout.png[else]/img/cartrev/Checkout-as-a-guest.png[/else][/if]" value="[if !session logged_in]checkout as guest[else]checkout[/else][/if]" class="checkout_btn [if session logged_in]large[/if]" />
				[if scratch show_bogo]
					</a>
				[/if]
				[if !session logged_in]
					<a href="#" class="popover-link" data-url="/login-popup.html" data-width="350">
					<input type="image" onclick="document.forms['basket'].mv_nextpage.value='ord/checkout1';" value="sign in and checkout" src="/img/cartrev/Sign-in-and-checkout.png" class="checkout_btn" /></a>
				[/if]
			</div>
		[else]
			<h1 style="text-align: center;clear:both;padding: 20px">[L]No items are in your shopping cart at this time.[/L]</h1>
			[tmp no_checkout]1[/tmp]
		[/else][/if]
			<div class="shoppingcart_botcheckout"></div>
			<div class="shoppingcart_bot">
				<div class="shoppingcart_botleft">
					NEED HELP?  <h5>Call us Toll-Free <span>__TOLLFREE__</span></h5>
				</div>
				<div class="shoppingcart_botright">
					<!-- <img src="/store/images/new_site/cutomersloveus_img.png" alt="" /> -->
				</div>
			</div>
		</div>
	</div>
</div>
</form>

<div class="confirmDelete">
	<div class="mypd_main" style="width: auto; display:block;">
		<a class="modalCloseImg" title="Close"></a>
			<div class="mypd_mainbox" style="width: auto; display:block;" >
				<div class="mypd_cont" style="width: auto;">
					<p>Are you sure you would like to remove this item from your cart?</p>
					<div class="centerQuestion">
						<a class="submit" data="yes">Yes</a>
						<a class="closePop" data="no">No</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

[include include/bogo_div]

[if cgi prescription_used]
	[seti using_pres][cgi prescription_used][/seti]
[/if]
[if cgi new_label]
	[seti new_label][cgi new_label][/seti]
	[seti using_pres][/seti]
[/if]
[if cgi pres_check]
	[seti pres_check][cgi pres_check][/seti]
[/if]
[value name="mv_order_lenstype" set="" hide="1"]
[value name="mv_order_coating" set="" hide="1"]
[value name="mv_order_varilux" set="" hide="1"]
[value name="mv_order_tint" set="" hide="1"]
[value name="mv_order_nosepos" set="" hide="1"]

[if cgi scrollCoupon]
	<script type="text/javascript">
	$(function(){
		$('html,body').animate({
			scrollTop: ($('#coupTop').offset().top - 20)+'px'
		},500);
	})
	</script>
[/if]

[include templates/redesign/footer]
