[comment]
ui_template: yes
ui_template_name: primary
[/comment]

[tmp page_title]__COMPANY__ - Check Out (Step 2)[/tmp]
[tmpn members_only][/tmpn]
[tmp meta_header]
	<script src="/lib/javascript/step123.js" type="text/javascript"></script>
	<script src="/lib/javascript/common.js" type="text/javascript"></script>
	
	<script src="/javascript/jquery.simplemodal-1.4.4.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/javascript/simplemodal.css" type="text/css" media='screen' />
[/tmp]
[ab-log flag="checkout-payment"]

[if !session logged_in]
	[if !cgi email_tried]
		[query sql="SELECT 1 AS eok FROM userdb WHERE email='[value email]'" type=list]
			[list]
				[tmp eok][sql-param eok][/tmp]
			[/list]
		[/query]
		[if scratch eok]
			[tmp etried]1[/tmp]
		[/if]
	[/if]
[/if]

[if scratch is_coupon_remote]
	[and scratch current_coupon]
		[tmp coupok][coupon code="[scratch current_coupon]" msgscratch=coupon_msg no=0 yes=1][/tmp]
[/if]

[tmp rxitemcount]0[/tmp]

[calc]
	my $cname = $Config->{CookieName} || 'MV_SESSION_ID';
	$Scratch->{have_cookie} = $Tag->read_cookie($cname)
		and delete $Scratch->{tried};
	return;
[/calc]
[if scratch have_cookie]
[elsif scratch tried]
	You must have cookies set to leave the basket. Check out now or forever lose your shopping cart.
[/elsif]
[else]
	[set tried]1[/set]
	[bounce href="[area ord/basket]"]
[/else]
[/if]

[if cgi prescription_used]
	[seti using_pres][cgi prescription_used][/seti]
[/if]

[if cgi new_label]
	[seti new_label][cgi new_label][/seti]
	[seti using_pres][/seti]
[/if]

[if cgi pres_check]
	[seti pres_check][cgi pres_check][/seti]
[/if]

[value name="mv_order_lenstype" set="" hide="1"]
[value name="mv_order_coating" set="" hide="1"]
[value name="mv_order_varilux" set="" hide="1"]
[value name="mv_order_tint" set="" hide="1"]
[value name="mv_order_nosepos" set="" hide="1"]

[include templates/redesign/header]

[include include/checkout/xsell2_add]
[include include/checkout/rxupgrades]
[include include/checkout/descriptions]

[perl no_return=1 failure='Embedded perl error in templates/components/cart.']
	$item_num = 0;
[/perl]

[if type=explicit compare="[error all=1 show_var=1 keep=1]"]
	<div id="error-display">
		<strong>There were errors in your last submission:</strong>
		<br />
		<span style="color:#C30000;">[error all=1 keep=1 show_error=1 show_label=1 joiner="<br />"]</span>
		<br />
		<br />
		<strong>The areas you need to correct are shown in <span style="color:#C30000;">this color</span> below.</strong>
	</div>
[/if]

[include include/checkout/initialization]

[if scratch is_coupon_remote][and scratch current_coupon]
[else]
	[include include/checkout/code_check]
[/else][/if]

[include include/checkout/apo_postage]

[include include/checkout/reward_points]
[if type=explicit compare="$Values->{use_sfp} && $Values->{coupon_code}"]
	[tmp final_points]0[/tmp]
[/if]
[if value use_sfp]
	[if type=explicit compare="$Values->{use_sfp} > $Scratch->{sfp_max}"]
		[value name="use_sfp" filter="digits_dot" hide=1 set="[scratch sfp_max]"]
	[elsif type=explicit compare="$Values->{use_sfp} < 0"]
		[value name="use_sfp" filter="digits_dot" hide=1 set="0"]
	[/elsif]
	[/if]
[/if]
[if value use_credit]
	[if type=explicit compare="$Values->{use_credit} > $Scratch->{credit_max}"]
		[value name="use_credit" hide=1 filter="digits_dot" set="[scratch credit_max]"]
	[elsif type=explicit compare="$Values->{use_credit} < 0"]
		[value name="use_credit" hide=1 filter="digits_dot" set="0"]
	[/elsif]
	[/if]
[/if]

[seti tcost][total-cost noformat=1][/seti]
[calcn hide=1]
	$Scratch->{free_order} = $Scratch->{tcost} < .01 ? 1 : 0;
[/calcn]

<script type="text/javascript">
		function refreshPage(){
			document.location.reload();
		}
		function checkout_submit(){
			f = document.getElementById('cout2');
			[if !scratch free_order]
			if( !$('input[name=mv_credit_card_number]').val() ){
				alert('You need to enter a credit card number.');
				return false;
			}else{
			[/if]
				$('div.order_button_div').hide();
				$('#wait_div').modal({close:false,closeHTML:''});
				//because of a known limitation of IE
				//image must be preloaded and then we must set the html of the modal
				//image_div equal to the preloaded image reference  
				//this will ensure a rotating image for msie
                if($.browser.msie){$("#image_div").html('<img src="/lib/images/preview_loading.gif">');}
				$('#placeOrder').hide();
				$('#cout2 input[name=mv_click]').val('checkout_submit');
			return true;
			[if !scratch free_order]
			}
			[/if]
		}
		$(function(){
			$('#showComments').click(function(){
				var $this = $(this);
				if($('#orderComments').is(':visible') ){
					var message = $('textarea[name=comments]').val() ? 'View/' : '';
					$this.text(message + 'Add order comments');
				}else{
					$this.text('Hide order comments');
				}
				$('#orderComments').toggle();
				return false;
			});
			$('div.payment_cardimg img').click(function(){
				$('select[name=mycc]').val($(this).attr('data-value'));
			});
			$('#hideComments').click(function(e){
				e.preventDefault();
				if ($('#oComments').is(':visible')){
					$('#oComments').hide();
					$(this).text('Show order comments');
				}else{
					$('#oComments').show();
					$(this).text('Hide order comments');
				}
			})
			[if var CAMP]
				[tmp curryear][calcn]
				my $year = $Tag->time({format=>"%Y"}) + 1;
				$year =~ s/^20//;
				return $year;
				[/calcn][/tmp]
				$('input[name=mv_credit_card_number]').val('4111 1111 1111 1111');
				$('input[name=mv_credit_card_cvv2]').val('123');
				$('select[name=mv_credit_card_exp_year]').val('[scratch curryear]')
			[/if]
		});
	</script>
	
[if session logged_in]
	[set Save_database]
		[if cgi mv_todo ne submit]
			[userdb save]
		[/if]
	[/set]
[/if]

[if !variable NO_TAX_POPUP]
	[include include/checkout/tax_popup]
[/if]

<div id="mid">
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=rl2mqge&ct=0:5dbs3a6&fmt=3&v=0&vf=USD"/>
	[if session ab eq 'a']
		<div class="step_cont fullwidth checkout">
			<ul>
				<li class="first"><a href="#"><span>shipping</span></a></li> 
				<li class="last current"><a href="#"><span>payment</span></a></li>
			</ul>
		</div>
	[else]
	    [comment]
		<div class="step_cont fullwidth" style="border:0px solid #dbdbdb !important;background:url() no-repeat left!important;margin:0px 0px 0px 0px !important;">
			<ul>
		    <li class="#"><a style="pointer-events: none !important;cursor: default !important;" href="#"><img style="margin:0px 0px 0px 2px !important;" src="/img/payment-info-breadcrumb.png"></a></li>
		</ul>
		</div>
		[/comment]
		<div class="step_cont fullwidth checkout">
			<ul>
				<li class="first"><a href="#"><span>shipping</span></a></li> 
				<li class="last current"><a href="#"><span>payment</span></a></li>
			</ul>
		</div>
	[/else]
	[/if]
	<form action="[process secure=1]" method="post" id="cout2">
		<h1>Payment Information</h1>
		<div class="payment_details">
			<input type="hidden" name="mv_session_id" value="[data session id]" />
			<input type="hidden" name="mv_doit" value="refresh" />
			<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
			<input type="hidden" name="mv_check" value="Save_database" />
			<input type="hidden" name="coupon_code" value="[calcn]
			$CGI->{coupon_code} || $Values->{coupon_code} || $Session->{current_coupon_code} || '';[/calcn]" />
			[if scratch free_order]
				<input type="hidden" name="mv_order_profile" value="no_charge" />
			[/if]
			<input type="hidden" name="mv_click" value="null" />
			[if scratch etried][or cgi email_tried]
				<input type="hidden" name="email_tried" value="1" />
			[/if]
			[if value use_sfp][or value use_credit]
				<input type="hidden" name="mv_handling" value="[cgi mv_handling]" />
			[/if]
			<h2>Payment Details</h2>
			[calcn hide=1]
				$Values->{$_} = 'credit_card' foreach qw/mv_order_profile mv_payment/;
			[/calcn]
			[seti ccs]__CREDIT_CARDS_ACCEPTED__[/seti]
			<div class="payment_cardimg">
				[calcn]
					my $accepted = $Scratch->{ccs};
					my (@out,%cards);
					my $out;
					%cards = (
						'visa' => 'Visa',
						'mc' => 'Mastercard',
						'disc' => 'Discover',
						'amex' => 'Amex'
					);

					for (keys %cards){
						if($accepted =~ /$_/){
							push @out, qq|<img src="/store/images/new_site/$_\_icon.png" data-value="$cards{$_}" />|;
						}
					}
					return join '', @out;
				[/calcn]
			</div>
			[if !scratch free_order]
				<input type="hidden" name="mv_order_profile" value="credit_card" />
				<div class="payment_detailform">
					<label>Card Type:</label>
					<select name="mycc">
						[if scratch ccs =~ /visa/]
							<option [selected mycc Visa] value="Visa">Visa</option>
						[/if][if scratch ccs =~ /mc/]
							<option [selected mycc Mastercard] value="Mastercard">Mastercard</option>
						[/if][if scratch ccs =~ /discover/]
							<option [selected mycc Discover] value="Discover">Discover</option>
						[/if][if scratch ccs =~ /amex/]
							<option [selected mycc Amex] value="Amex">American Express</option>
						[/if]
					</select>
					<br class="clear" />
					<label for="mv_credit_card_number">[error name=mv_credit_card_valid std_label="Card Number" required=0]:</label>
					<input name="mv_credit_card_number" type="text" id="mv_credit_card_number" value="[cgi mv_credit_card_number]" />
					<br class="clear" />
					<label>[error name=mv_credit_card_cvv2 std_label="Security Code:" required=0]</label>
					<div class="security_text">
						<input type="password" name="mv_credit_card_cvv2" value="[cgi mv_credit_card_cvv2]" id="mv_credit_card_cvv2"/>
						<span>
							<a href="#" onclick="open('[area cvv_pop]', 'cvv_info',',width=500,height=500,scrollbars=no,resizable=no'); return false;">What is this?</a>
						</span>
					</div>
					<br class="clear" />
					<label>Expiration:</label>
					<div class="expiration_text">
						<select name="mv_credit_card_exp_month" class="month_select">
							[loop
							option=mv_credit_card_exp_month
							acclist=1
							list=|
								1=01 - [L]January[/L],
								2=02 - [L]February[/L],
								3=03 - [L]March[/L],
								4=04 - [L]April[/L],
								5=05 - [L]May[/L],
								6=06 - [L]June[/L],
								7=07 - [L]July[/L],
								8=08 - [L]August[/L],
								9=09 - [L]September[/L],
								10=10 - [L]October[/L],
								11=11 - [L]November[/L],
								12=12 - [L]December[/L]|
							]
								<option value="[loop-code]">[loop-param label]</option>
							[/loop]
						</select>
						<select name="mv_credit_card_exp_year" class="year_select">
							[loop option=mv_credit_card_exp_year lr=1 list=`
								my $year = $Tag->time( '', { format => '%Y' }, '%Y' );
								my $out = '';
								for ($year .. $year + 10){
									/\d\d(\d\d)/;
									$last_two = $1;
									$out .= "$last_two\t$_\n";
								}
								return $out;
							`]
								<option value="[loop-code]">[loop-pos 1]</option>
							[/loop]
						</select>
					</div>
					<div class="hidecomments_text">
						<a id="hideComments" href="#">Hide order comments</a>
					</div>
					<textarea id="oComments" name="comments" cols="" rows="">[value comments]</textarea>
				</div>
			[else]
			    <p>Your order cost is $0.00. No payment is required.</p>
			[/else][/if]
		</div>
		<div class="payment_adreess">
			<h2>Address</h2>
			<a href="[area ord/checkout1]" class="adreessedit_link">Edit</a>
			<div class="payment_adreesstext">
				<div class="payment_adreessleft">Billing Address:</div>
				<div class="payment_adreessright">
					<strong>[value b_fname] [value b_lname]</strong>  <br/>
					[value b_address1] <br/>
					[if value b_address2][value b_address2]<br />[/if]
					[value b_city], [value b_state] [value b_zip] [value b_country] <br/>
					[value phone_day]
				</div>
			</div>
			<div class="payment_adreesstext">
				<div class="payment_adreessleft">Shipping Address:</div>
					<div class="payment_adreessright">
						<strong>[value fname] [value lname]</strong>  <br/>
						[value address1] <br/>
						[if value address2][value address2]<br />[/if]
						[value city], [value state] [value zip] [value country] <br/>
					</div>
			</div>
			<div class="payment_adreesstext">
				<div class="payment_adreessleft">Your email:</div>
				<div class="payment_adreessright"> 
					<strong>[value email]</strong>
				</div>
			</div>
		</div>
		[tmp checkout]1[/tmp]
		[tmp checkout2]1[/tmp]
		[include include/cart_item_list]
		<br class="clear" />
		<div class="shoppingcart_totalcont checkout2">
			[if type="explicit" compare=`return $Scratch->{coup_ok} && $Scratch->{disc_amount} && $Scratch->{disc_amount} > 0;`]
				<span class="left">Item Total:</span><span class="right">[currency][scratch pre_disc_st][/currency] [curr_price price="[scratch pre_disc_st]"]</span>
				<span style="color: green;font-weight: bold;" class="left">Discount Applied:</span><span style="color: green;font-weight: bold;" class="right">-[currency][scratch disc_amount][/currency] [curr_price price="[scratch disc_amount]"]</span>
			[/if]
			<span class="left">Subtotal:</span><span class="right">[subtotal] [curr_price price="[subtotal noformat=1]"]</span>
			[if value use_sfp > 0]
				[tmp totalhandling][calc]$Scratch->{totalhandling}+=[value use_sfp][/calc][/tmp]
				<span class="left">SmartFit Rewards:</span>
				<span class="right">-[currency][value use_sfp][/currency] [curr_price price="-[value use_sfp]"]</span>
			[/if]
			[tmp salestax][salestax][/tmp]
			[if type="explicit" compare=`$Scratch->{salestax} && $Scratch->{salestax} !~ /\$0\.00/`]
				<span class="left">Sales Tax:</span>
				<span class="right">[salestax] [curr_price price="[salestax noformat=1]"]</span>
			[/if]
			<span class="left">Shipping:</span>
			<span class="right">[if scratch shipping_to_apo][currency]5.95[/currency][else][shipping] [curr_price price="[shipping noformat=1]"][/else][/if]</span>
			[if scratch shipping_to_apo]
				<span class="left"> U.S. Military Discount free shipping:</span>
				<span class="right">[currency]-$5.95[/currency]</span>
			[/if]
			[if scratch totalhandling > 0]
				<input type="hidden" name="mv_handling" value="1" />
				[value name="mv_handling" set=1 hide=1][assign handling="-[scratch totalhandling]"]
			[else]
				<input type="hidden" name="mv_handling" value="" />
			[/else][/if]
			<span class="left"><b>Shopping Cart Total:</b></span><span class="right"><b>[total-cost][curr_price price="[calc][total-cost noformat=1][/calc]"]</b></span>
		</div>
		<div class="billing_bot">
			[if items]
				<input type="submit" onclick="return checkout_submit();" id="placeOrder" value="place order" />
				<div style="text-align:center;" class="wait_div" id="wait_div">
				    <div style="display:inline-block">
                        <br>
                        <div style="padding-left:10px;padding-right:10px;text-align:center" >Thank you for your patience while we process your order,</div>
                        <div style="padding-left:10px;padding-right:10px;text-align:center" >this may take a few moments...</div>
                        <div id="image_div"><img style="text-align:center" src="/lib/images/preview_loading.gif"></img></div>
                        <br>
                        <br>  
                    </div>
				</div>
				<br class="clear" />
				Having trouble ordering? We’re here to help,
				<h5>Call us Toll-Free <span>__TOLLFREE__</span></h5>
				[set checkout_submit]
					[cartsep]
					mv_todo=submit
				[/set]
			[/if]
		</div>
	</form>
</div>
<!-- preload the image -->
<div style='display:none'>
    <img src='/lib/images/preview_loading.gif' alt='' />
</div>
<div id="infoLayer" class="popup_block"></div>
[include templates/redesign/footer]
