[comment]
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]__COMPANY__ -- Checkout (Step 1)[/tmp]
[tmpn members_only][/tmpn]
[if cgi decline_bogo]
	[set bogo_declined]1[/set]
[/if]
[tmp n_items][nitems][/tmp]
[calcn]
#disable bogo if ambass
my $coup = $Values->{coupon_code};
if ($coup =~ /^AMB/){
	$Scratch->{bogo_declined} = 1;
}
return;
[/calcn]
[tmp show_bogo][if !scratch bogo_active][if var ENABLE_BOGO][if !scratch bogo_declined][if scratch n_items == 1]1[/if][/if][/if][/if][/tmp]
[tmp meta_header]
    <script src="/javascript/jquery.simplemodal-1.4.4.js" type="text/javascript"></script>
	<script type="text/javascript">
	var custom_close = function(){
			$.ajax({
					url: '/decline_bogo.html',
			});
			$('#modal_overlay , #popup').unbind().fadeOut('fast','linear');
			return false;
	}
	$(function(){
		[if cgi spawn_bogo]
		$('#spawn_bogo').click();
		[/if]
		$('select[name=mv_shipmode]').change(function(){
			if( $(this).val().match(/ups/i) ) {
				$('#ups-no-po').show();
			}
			else {
				$('#ups-no-po').hide();
			}
		});
		$('span.errorText').each(function(){
			$(this).parent().next('input,select').css('border','1px solid #c30000');
		});
	});
	</script>
	[assign clear=1]
	[ab-log flag="checkout-address"]
	[if value coupon_code]
		[tmp coup_ok][coupon code="[value coupon_code]" msgscratch=coupon_msg yes=1 no=0][/tmp]
	[else]
		[if explicit][condition]exists $Session->{'recheck_coupon'};[/condition][then]
			[tmp coup_code][calcn]delete $Session->{'recheck_coupon'}[/calcn][/tmp]
			[tmp coup_ok][coupon code="[scratchd coup_code]" msgscratch=coupon_msg yes=1 no=0][/tmp]
		[/then][else]
			[calcn]
				$Tag->tmp('clear', $Tag->coupon() ) if( !$Scratch->{coupon_msg} && !$Session->{current_coupon_code} );
				'';
			[/calcn]
		[/else][/if]
	[/else][/if]
	[tmpn show_cash]1[/tmpn]
	[tmpn oncheckout]1[/tmpn]
	
	[if !items]
		[bounce href="[area ord/basket]"]
	[/if]
	[if session logged_in]
		[query sql="SELECT 1 AS old FROM userdb WHERE consolidated='1' AND username='[data session username]'" type=list]
			[list]
				[tmp old][sql-param old][/tmp]
			[/list]
		[/query]
		[if scratch old]
			[query sql="SELECT username FROM userdb WHERE email='[data table=userdb key=|[data session username]| field=prev_email]'" type=list]
				[list]
					[tmp usethis][sql-param username][/tmp]
				[/list]
			[/query]

			[seti consolidated_account]This account is no longer active, it has been consolidated into your most recently account. Please login with username <b>[scratch usethis]</b>. If you have any trouble or require assistance please contact us.[/seti]

			[userdb logout]
			[bounce href="login"]
		[/if]
	[/if]

[/tmp]
[userdb function=get_billing_names]
[userdb function=get_shipping_names]

[include templates/redesign/header]
<!-- BEGIN CONTENT -->
[if session logged_in]
	[set Save_database]
		[if cgi mv_todo ne submit]
			[userdb save]
		[/if]
	[/set]
[/if]
[include include/checkout/reward_points]
[assign handling="0.00"]
[value name="mv_handling" set=1 hide=1]
[if !value b_country]
	[value name=b_country set=US hide=1]
[/if]
[value name="shipping_update" set="" hide=""]
[set bogo_click]
	[value name="coupon_code" set="2PRNEW2" hide="1"]
	[cgi name="mv_nextpage" set="10000" hide="1"]
	[cgi name="coupon_code" set="2PRNEW2" hide="1"]
	[set bogo_active]1[/set]
	[calcn hide=1]
	$Scratch->{mask_coupon} = {
		mask => 'BuyOneGetOne50',
		code => '2PRNEW2'
	};
	[/calcn]
[/set]

<div id="mid">
<img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=rl2mqge&ct=0:5dbs3a6&fmt=3&v=0&vf=USD"/>
	[if session ab eq 'a']
		<div class="step_cont fullwidth checkout">
			<ul>
				<li class="first current"><a href="#"><span>shipping</span></a></li> 
				<li class="last"><a href="#"><span>payment</span></a></li>
			</ul>
		</div>
	[else]
	    [comment]
		<div class="step_cont fullwidth" style="border:0px solid #dbdbdb !important;background:url() no-repeat left!important;margin:0px 0px 0px 0px !important;">
			<ul>
		    <li class="#"><a style="pointer-events: none !important;cursor: default !important;" href="#"><img style="margin:0px 0px 0px 2px !important;" src="/img/shipping-info-breadcrumb.png"></a></li>
		</ul>
		</div>
		[/comment]
		<div class="step_cont fullwidth checkout">
			<ul>
				<li class="first current"><a href="#"><span>shipping</span></a></li> 
				<li class="last"><a href="#"><span>payment</span></a></li>
			</ul>
		</div>
	[/else]
	[/if]
	<form action="[area href="process" form="source=checkout1" secure=1]" method="post" name="checkout1" id="cout1">
	<div class="lflt">
		[if type=explicit compare="$CGI->{email_tried} && $CGI->{no_login}"]
			<input type="hidden" name="email_tried" value="1" />
		[/if]
		<input type="hidden" name="mv_session_id" value="[data session id]" />
		<input type="hidden" name="mv_handling" value="1" />
		<input type="hidden" name="mv_order_profile" value="checkout_one_new" />
		<input type="hidden" name="mv_doit" value="refresh" />
		<input type="hidden" name="mv_nextpage" value="@@MV_PAGE@@" />
		<input type="hidden" name="mv_check" value="Save_database" />
		<input type="hidden" id="mv_click" name="mv_click" value="co1-check" />
	</div>
	<h1 class="billHead">[L]Billing[/L] &amp; [L]Shipping Information[/L]</h1>
	[if type=explicit compare="[error all=1 show_var=1 keep=1]"]
		<div id="error-display">
			<strong>There were errors in your last submission.</strong>

			They will be shown in <span style="color:#C30000;font-weight: bold">this color</span> below.
		</div>
	[/if]
	<div class="billing_left">
		<div class="billing_cont">
			<h2>[L]Billing[/L] &amp; [L]Account Details[/L]</h2>
			<div class="billing_ct">
				<label for="b_title">[L]Title[/L]:</label>  
				<select id="b_title" name="b_title"> 
					<option>Please select</option>
					<option [selected name="b_title" value="Mr."] value="Mr.">Mr.</option>
					<option [selected name="b_title" value="Mrs."] value="Mrs.">Mrs.</option>
					<option [selected name="b_title" value="Ms."] value="Ms.">Ms.</option>
					<option [selected name="b_title" value="Miss"] value="Miss">Miss</option>
				</select>
			</div>
			<div class="billing_ct">
				<label for="b_fname">
					<span class="redtext">*</span>
					[error name=b_fname std_label="First Name" required=1]:
				</label> 
				<input name="b_fname" value="[value b_fname]" id="b_fname" type="text" />
			</div>
			<div class="billing_ct">
				<label for="b_lname">
					<span class="redtext">*</span>
					[error style="color: #C30000;" name=b_lname std_label="Last Name" required=1]:
				</label>
				<input name="b_lname" value="[value b_lname]" id="b_lname" type="text" />
			</div>
			<div class="billing_ct">
				<label for="b_country"><span class="redtext">*</span> [error name=b_country std_label="Country" required=1]:</label>
				<select onchange="$('#cout1').submit();" name="b_country" id="b_country">
					<option>Please select</option>
					[loop option=b_country search="
						ra=yes
						fi=country
						st=db
						rf=code,name
						ml=1000
						tf=sorder
						to=n
					"]
						<option value="[loop-code]">[loop-data country name]</option>
					[/loop]
				</select>
			</div>
			<div class="billing_ct">
				<label><span class="redtext">*</span> [error name=b_address1 std_label="Street" required=1]:</label>
				<input name="b_address1" id="b_address1" value="[value b_address1]" type="text" />
				<input name="b_address2" id="b_address2" value="[value b_address2]" type="text" />
			</div>
			<div class="billing_ct">
				<label for="b_city"><span class="redtext">*</span> [error name=b_city std_label="City" required=1]:</label>
				<input name="b_city" id="b_city" value="[value b_city]" type="text" />
			</div>
			<div class="billing_ct">
				<label for="b_state"><span class="redtext">*</span> [error name=b_state std_label="State/Prov" required=1]:</label>
				[loop search="
					fi=state.txt
					sf=country
					se=[default b_country US]
					rf=state,name,country
					un=yes
					tf=sorder,name
					ml=100
				"
				option=state]
					[on-match]<select name="b_state"><option value=""></option>[/on-match]
					[list]
						<option value="[loop-code]">[loop-pos 1]</option>
					[/list]
					[on-match]</select>[/on-match]
					[no-match]<input name="b_state" value="[either][value b_state][or]N/A[/either]" type="text" size="20" />[/no-match]
				[/loop]
			</div>
			<div class="billing_ct">
				<label for="b_zip"><span class="redtext">*</span> [error name=b_zip std_label="Zip/Postal Code" required=1]:</label>
				<input type="text" name="b_zip" value="[value b_zip]" id="b_zip" />
			</div>
			<div class="billing_ct">
				<label for="email"><span class="redtext">*</span> [error name=email std_label="Email" required=1]:</label>
				<input type="text" name="email" value="[value email]" id="email" />
				<input type="hidden" name="email_copy" value="1" />
			</div>
			[if !session logged_in]
				<div class="billing_ct">
					<label for="password"><span class="redtext">*</span> [error name=password1 std_label="Create Password" required=1]:</label> 
					<input type="password" value="[value password1]" name="password1" id="password1">
				</div>
				<div class="billing_ct">
					<label for="password2"><span class="redtext">*</span> [error name=password2 std_label="Verify Password" required=1]:</label> 
					<input type="password" value="[value password2]" id="password2" name="password2" />
				</div>
			[/if]
			<div class="billing_ct">
				<label for="phone_day"><span class="redtext">*</span> [error name=phone_day std_label="Daytime Phone" required=1]:</label> 
				<input type="text" id="phone_day" name="phone_day" value="[value phone_day]" />
			</div>
			<div class="billing_ct">
				<label for="phone_night"> Evening Phone:</label> 
				<input id="phone_night" name="phone_night" value="[value phone_night]" type="text">
			</div>
		</div>
		<div class="billing_cont">
			<h2>Shipping Method</h2>
			Manufacturing takes an average of 2-3 business days prior to shipping.<br /><br />
			Please choose your shipping method:
			<select name="mv_shipmode" class="select_field"> 
				[shipping
					label=1
					mode=|[data table=country key='[default b_country US]' col=shipmodes]|
					format=|<option%S value="%M">%D: %F</option>|
				]
			</select>
			<div id="ups-no-po" style="display: none; padding-top: 10px; font-style: italic">
				Please note UPS cannot deliver to PO box and APO addresses
			</div>
			[if value b_country eq 'CA']
				<br />
				<strong>Please note: customers are responsible for any applicable duties or taxes.</strong> 
			[/if]
			<input type="hidden" name="ship_debug" value="[value mv_shipmode]" />
			<input type="hidden" name="shipping_update" value="" />
			[comment]
			[if session ab eq 'b']
                <br/><br/>
                <p><a href="#" onclick="$('#wait_div').modal();" style="font-size:10px">How long does it take to get my glasses?</a></p>
                <div style="text-align:left;background-color:white !important;" class="wait_div" id="wait_div">
                    <div id="handle"></div>
                    <div style="display:inline-block;padding:10px 20px 10px 20px;">
                        <p>   
                            <div style="padding:5px 10px 5px 10px;border:1px solid #dbdbdb;width:97% !important">
                                <div style="font-weight:bold;">How long does it take to get my glasses?</div>
                                <p style="width:700px">
                                    Orders with single vision lenses are typically processed and completed in 2-4 business days.
                                    If you choose lenses that require more complex processing, such as progressive lenses, bifocals,
                                    tinting, or other specialty lenses, we will process and complete those orders on average in 5-7 business days.
                                    Once the order is completed it will be shipped by the method you have chosen.
                                </p>
                            </div>
                       </p>
                    </div>
                </div>
            [/if]
            [/comment]
		</div>
        [tmp is_501c][calcn]$Tag->ambassador({function => 'is_501c_ambassador',email => $Values->{email}});[/calcn][/tmp]
        [if session logged_in]
            [if !scratch is_501c]
                <div id="coupTop" class="billing_cont">
                        <h2>EyeBucks Rewards</h2>
                        <p>
                            <label for="use_sfp" id="use_sfp_label">[error required=1 name=use_sfp std_label="Use EyeBucks Reward Points"]<br /><span class="sfmax">(maximum of [currency][scratch sfp_max][/currency])</span></label>
                            <input id="use_sfp" type="text" size="5" value="[either][cgi use_sfp][or][scratch sfp_touse][/either]" name="use_sfp" /> <strong id="dollarSign">$</strong>
                        </p>
                        <script src="/lib/javascript/reward_points.js" type="text/javascript"></script>
                </div>
            [/if]
        [/if]
	</div>
	<div class="billing_right">
		<div class="billing_cont">
			<h2>Shipping Details</h2>
			[if value b_country eq 'US']
				<div class="billing_t">
					<input type="checkbox" name="same_as_billing" id="same_as_billing" value="checkbox" [if value same_as_billing == 1]checked="checked" [/if]onclick="if (this.checked) { fillIt(1,this.form) } else { fillIt(2,this.form) };" />
					<label style="display: inline; float: none;" for="same_as_billing">Same as Billing</label>
				</div>
				<div class="billing_ct">
					<label for="title">Title:</label> 
					<select id="title" name="title">
						<option value="">Please select</option>
						<option [selected name="title" value="Mr."] value="Mr.">Mr.</option>
						<option [selected name="title" value="Mrs."] value="Mrs.">Mrs.</option>
						<option [selected name="title" value="Ms."] value="Ms.">Ms.</option>
						<option [selected name="title" value="Miss"] value="Miss">Miss</option>
					</select>
				</div>
				<div class="billing_ct">
					<label for="fname"><span class="redtext">*</span> [error name=fname std_label="First Name" required=1]:</label> 
					<input type="text" name="fname" id="fname" value="[value fname]"  />
				</div>
				<div class="billing_ct">
					<label for="lname"><span class="redtext">*</span> [error name=lname std_label="Last Name" required=1]:</label> 
					<input type="text" name="lname" value="[value lname]" id="lname" />
				</div>
				<div class="billing_ct">
					<label for="country"><span class="redtext">*</span> [error name=country std_label="Country" required=1]:</label> 
					<select id="country" name="country">
						<option value="US">United States</option>
					</select>
				</div>
				<div class="billing_ct">
					<label for="address1"><span class="redtext">*</span> [error name=address1 std_label="Street" required=1]:</label> 
					<input name="address1" value="[value address1]" id="address1" type="text"> 
					<input name="address2" value="[value address2]" id="address2" type="text">
				</div>
				<div class="billing_ct">
					<label for="city"><span class="redtext">*</span> [error name=city std_label="City" required=1]:</label> 
					<input type="text" name="city" id="city" value="[value city]" />
				</div>
				<div class="billing_ct">
					<label><span class="redtext">*</span> [error name=state std_label="State/Prov" required=1]:</label> 
					[loop search="
						fi=state.txt
						sf=country
						se=[default country US]
						rf=state,name,country
						un=yes
						tf=sorder,name
						ml=100
					"
					option=state]
						[on-match]<select id="state" name="state">[/on-match]
							<option value="">Please select</option>
						[list]
							<option value="[loop-code]">[loop-pos 1]</option>
						[/list]
						[on-match]</select>[/on-match]
						[no-match]<input type="text" name="state" value="[value state]" size="20" />[/no-match]
					[/loop]
				</div>
				<div class="billing_ct">
					<label for="zip"><span class="redtext">*</span> [error name=zip std_label="Zip/Postal Code" required=1]:</label> 
					<input type="text" name="zip" value="[value zip]" id="zip" />
				</div>
			[else]
				<p><strong>[L]Orders must ship to the billing address for customers with billing addresses outside the United States[/L].</strong></p>
			[/else][/if]
		</div>
	</div>
	<div class="billing_bot">
		<input type="submit" value="continue" /><br class="clear" />
		Having trouble ordering? We’re here to help,
		<h5>Call us Toll-Free <span>__TOLLFREE__</span></h5>
	</div>
	</form>
</div>

[include include/bogo_div]

[if scratch scrollCoupon]
	<script type="text/javascript">
	$(function(){
		$('html,body').animate({
			scrollTop: ($('#coupTop').offset().top - 20)+'px'
		},500);
	});
	</script>
[/if]

[set co1-check]
	[perl]
		return unless $CGI->{password1} && $CGI->{password2};
		return unless $CGI->{password1} eq $CGI->{password2};
		if (length($CGI->{password1}) < 4){
			$CGI->{mv_alert} = 'Your password must be at least 4 characters in length.';
		} elsif (length($CGI->{password1}) > 12) {
			$CGI->{mv_alert} = 'Your password must not be more than 12 characters in length.';
		}
	[/perl]
	mv_todo=submit
	[if cgi apply-coupon]
		mv_nextpage=ord/checkout1
		[tmp scrollCoupon]1[/tmp]
	[else]
		mv_nextpage=ord/checkout2
	[/else][/if]
[/set]

[set checkout_one_new]
	[update values]
	&fail=@@MV_PAGE@@
	[if cgi apply-coupon]
		&success=ord/checkout1
	[else]
		&success=ord/checkout2
	[/else][/if]
	email=email
	b_fname=required
	b_lname=required
	b_address1=required
	b_city=required
	b_country=required
	[if value b_country =~ /^(US|CA)$/i]
		b_state=state_province
		b_zip=postcode
	[else]
		b_state=required
		b_zip=required
	[/else][/if]
	[if value b_country eq 'US']
		fname=required
		lname=required
		address1=required
		city=required
		country=required
		state=state_province
		zip=postcode
	[else]
		[value name="fname" set="[value b_fname]" hide="1"]
		[value name="lname" set="[value b_lname]" hide="1"]
		[value name="address1" set="[value b_address1]" hide="1"]	
		[value name="address2" set="[value b_address2]" hide="1"]
		[value name="city" set="[value b_city]" hide="1"]
		[value name="state" set="[value b_state]" hide="1"]
		[value name="zip" set="[value b_zip]" hide="1"]
		[value name="country" set="[value b_country]" hide="1"]
	[/else][/if]
	&or phone_night=phone, phone_day=phone Must have day or evening phone number
	[if !session logged_in]
		[if value password1]
			[if value password2]
				[if explicit]
					[condition]
						$Values->{password1} ne $Values->{password2}
					[/condition]
					password1=true Passwords do not match
					password2=true Passwords do not match
				[/if]
			[else]
				password2=true You must verify your password
			[/else][/if]
		[else]
			password1=true You must provide a password
		[/else][/if]
		[if cgi mv_alert]
			[perl]
				$Tag->error({name => 'password1', set => 1});
				$Tag->error({name => 'password2', set => 1});
				return;
			[/perl]
			password_length=true
		[/if]
	[/if]
	[if value use_reward_points]
		[tmp cmp_tot][data table=userdb col=reward_points key="[data session username]"][/tmp]
		[if type=explicit compare="[value use_reward_points] < 0"]
			[value name=use_reward_points set="0"]
			use_reward_points=true Cannot be less than $0.00
		[/if]
		[if type=explicit compare="[value name=use_reward_points filter=digits_dot] > [scratch cmp_tot]"]
			[value name=use_reward_points set="[calc] $Scratch->{cmp_tot}; [/calc]"]
			use_reward_points=true Not enough credit - [currency][scratch cmp_tot][/currency] available
		[/if]
		[if type=explicit compare="[value name=use_reward_points filter=digits_dot] > [calc][total-cost noformat=1]-0.1[/calc]"]
			[value name=use_reward_points set="[calc][total-cost noformat=1]-0.1[/calc]"]
			use_reward_points=true Maximum rewards allowed is [currency][value use_reward_points][/currency]
		[/if]
		[if type=explicit compare="[value coupon_code]"]
			use_reward_points=true Cannot use EyeBucks Rewards and Coupon together
		[/if]
	[/if]
	&fatal=yes
	email=required
	email=email
[/set]

[tmp clear_errors][error all=1 comment="clear errors"][/tmp]

<script type="text/javascript"><!-- // --><![CDATA[
var prev_title, prev_fname, prev_lname, prev_address1, prev_address2, prev_city, prev_state, prev_zip;
function fillIt(type,theForm){
	if (type == 1){
		prev_title = theForm.elements['title'].value;
		prev_fname = theForm.elements['fname'].value;
		prev_lname = theForm.elements['lname'].value;
		prev_address1 = theForm.elements['address1'].value;
		prev_address2 = theForm.elements['address2'].value;
		prev_city = theForm.elements['city'].value;
		prev_state = theForm.elements['state'].value;
		prev_zip = theForm.elements['zip'].value;
		theForm.elements['title'].value = theForm.elements['b_title'].value;
		theForm.elements['fname'].value = theForm.elements['b_fname'].value;
		theForm.elements['lname'].value = theForm.elements['b_lname'].value;
		theForm.elements['address1'].value = theForm.elements['b_address1'].value;
		theForm.elements['address2'].value = theForm.elements['b_address2'].value;
		theForm.elements['city'].value = theForm.elements['b_city'].value;
		theForm.elements['state'].value = theForm.elements['b_state'].value;
		theForm.elements['zip'].value = theForm.elements['b_zip'].value;
	} else if (type == 2) {
		theForm.elements['title'].value = prev_title;
		theForm.elements['fname'].value = prev_fname;
		theForm.elements['lname'].value = prev_lname;
		theForm.elements['address1'].value = prev_address1;
		theForm.elements['address2'].value = prev_address2;
		theForm.elements['city'].value = prev_city;
		theForm.elements['state'].value = prev_state;
		theForm.elements['zip'].value = prev_zip;
	}
}
// ]]>
</script>

[include templates/redesign/footer]
