[comment]
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- [if value use_your_own_frame]Product Info -- Use Your Own Frame -- Order[else]Check Out[/else][/if][/tmp]
[tmp show_cash]1[/tmp]
[tmp oncheckout]2[/tmp]

@_NOLEFT_TOP_@

[include include/checkout/initialization]

[if scratch is_coupon_remote]
[and scratch current_coupon]
	[else]
	[include include/checkout/code_check]
	[/else]
[/if]

<!-- BEGIN CONTENT -->

<script language="JavaScript" src="/lib/javascript/common.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
var fname = "[cgi fname]";
var lname = "[cgi lname]";
var address1 = "[cgi address1]";
var address2 = "[cgi address2]";
var city = "[cgi city]";
var state = "[cgi state]";
var zip = "[cgi zip]";
var country = "[cgi country]";

function fillForm() {
    var the_form = document.checkout;
    the_form.b_fname.value = '';
    the_form.b_lname.value = '';
    the_form.b_address1.value = '';
    the_form.b_address2.value = '';
    the_form.b_city.value = '';
    the_form.b_state.value = '';
    the_form.b_zip.value = '';
    the_form.b_country.value = '';

    the_form.b_fname.value = fname;
    the_form.b_lname.value = lname;
    the_form.b_address1.value = address1;
    the_form.b_address2.value = address2;
    the_form.b_city.value = city;
    the_form.b_state.value = state;
    the_form.b_zip.value = zip;
    the_form.b_country.value = country;
}

function check_cc() {
	cc = document.forms.checkout.the_credit_card.value;
	if (!cc) {
		alert('You need to enter a credit card number');
		return false;
	}
	order_button_div.style.display='none'; wait_div.style.display='block';
	return true;
}

// -->
</script>

[comment]
	Check if they've logged in with a consolidated account
	Need to check email against userdb, if already there, send 'em back to the cart with a message
[/comment]

[if !session logged_in]

	[if !cgi email_tried]
		[query sql="SELECT 1 AS eok FROM userdb WHERE email='[value email]'" type=list]
		[list]
			[tmp eok][sql-param eok][/tmp]
		[/list]
		[/query]

		[if scratch eok]
			[comment][seti logged_message]<p>Our records show that an order or orders have already been placed using the email address you entered ([value email]). If this is correct then please log in below. <p>
			<p>
			If you would rather just checkout without logging in, click the 'Checkout as a guest' button. If you have any difficulty or need assistance please <a href="[area contact_us]">contact us</a>.
			</p>[/seti]

			[bounce href="ord/basket"][/comment]

			[tmp etried]1[/tmp]
		[/if]
	[/if]
[/if]

[comment] End of consolidation checks [/comment]


[if type=explicit compare="$Values->{use_reward_points} && $Values->{coupon_code}"]
	[comment] Error: <b>Cannot have coupons as well as reward points</b><br> -- use no points [/comment]
	[tmp final_points]0[/tmp]
[/if]


[tmp final_points][/tmp]
[tmp tot_points][/tmp]
[if value use_reward_points]
	[query sql="SELECT reward_points FROM userdb WHERE username='[data session username]'"
		type=list]
			[list]
				[tmp tot_points][sql-param reward_points][/tmp]
			[/list]
	[/query]

	[if type=explicit compare="$Values->{use_reward_points} > $Scratch->{tot_points}"]
		[comment] Error: <b>You do not have enough credit</b><br>  -- use all points instead [/comment]
		[tmp final_points][scratch tot_points][/tmp]
	[elsif type=explicit compare="$Values->{use_reward_points} < 0"]
		[comment] Error: <b>Cannot be less than 0</b> -- use no points [/comment]
		[tmp final_points]0[/tmp]
	[/elsif]
	[else]
		[tmp final_points][value name="use_reward_points" filter=digits_dot][/tmp]
	[/else]
	[/if]
[/if]



<table width="95%">
<tr>
  <td align="left" width="100%">
[if value use_your_own_frame]
    [if type=explicit compare="[error all=1 show_var=1 keep=1]"]
        [comment]
        if there were errors in the last UYOF submission, clear the cart
        [/comment]
        [calc]
            $Carts->{'lenspkg'} = ();
        [/calc]
    [/if]
    <h3>    
    Product Info
    </h3>

    <h4>Lens Replacement - Use Your Own Frame</h4>

    <br>
[/if]

    [if session logged_in]
      [set Save_database]
		  [if cgi mv_todo ne submit]
	  	  [comment]
			  <!-- uncomment this to record save of userdb data -->
			  [calc] Log("Saving userdb in mv_check.")[/calc]
		  [/comment]
          [userdb save]
          [/if]
      [/set]
	[else]
	[/else]
	[/if]

	[if !variable NO_TAX_POPUP]
		[comment]
			This is JavaScript that pops up a tax message
			when in simple tax mode
		[/comment]
		[include include/checkout/tax_popup]
	[/if]

    [if type=explicit compare="[error all=1 show_var=1 keep=1]"]	
	[seti temperr][error all=1 keep=1 show_error=1 show_label=1 joiner="<br>"][/seti]
	
	[if scratch temperr !~ /MBi/]	
    <P>
        <B>There were errors in your last submission:</b><br>
        <blockquote>
            <p>
            <FONT color="__CONTRAST__">
            [scratch temperr]
            </font>
            </p><p>
            The areas you need to correct are shown in 
            <FONT color="__CONTRAST__">this color</FONT> below.</B>
            </p>
        </p>
        </blockquote>

		[/if]
    [/if]



[if value use_your_own_frame]


	[if session logged_in]
	[set Save_database]
	[if cgi mv_todo ne submit]
	[comment]
	<!-- uncomment this to record save of userdb data -->
	[calc] Log("Saving userdb in mv_check.")[/calc]
	[/comment]
	[userdb save]
	[/if]
	[/set]
	[else]
	[include include/checkout/login_form]
	<p>&nbsp;</p>
	[/else]
	[/if]

[/if]

	[comment]
		Form intro -- the input elements are largely in the
		individual tables in include/checkout/*
	[/comment]
    
	
	</td>
  </tr>
  </table>

<table width="95%">

[if value use_your_own_frame]


<tr>
	<td>
	[include include/checkout/uyof]
	</td>
</tr>
</table>

[else]

<table width="90%" cellspacing="0" cellpadding="0">
<tr>
	<td align="center">
	<br>
	<h3>[L]Checkout[/L] ([L]Step[/L] 2 of 2)</h3>

	</td>
</tr>

[if scratch removedmbi eq 'Yes']

<tr>
	<td>

	<br>
	
		<table width="100%" cellspacing="0" cellpadding="1" border="0">
		<tr>
		<td bgcolor="#000000">

			<table width="100%" cellspacing="0" cellpadding="4" border="0">
			<tr>
				<td bgcolor="#ffffff">
				<div align="center" style="font-size:16px; font-weight:bold;">Your order is <u>almost</u> complete!</div><br />
				Please note that you have added one or more items to your order which are not an eligible FSA expense.<br />
				<b>The items are:</b><br /><br />
				[tmp this_itemnum]0[/tmp]
				<table style="margin-left:30px;">
				[item-list]
					[tmp this_case][item-modifier case][/tmp]								
					[if scratch this_case ne 'CLAMSHELL']	
						<tr>
							<td>
							<b>[query type=list prefix=case list-prefix=case sql="SELECT * FROM options_price WHERE o_group='case' AND o_value='[scratch this_case]' ORDER BY o_sort ASC"]
							[case][case-param o_label][/case]
							[/query]</b>&nbsp;&nbsp;&nbsp;
							</td>
							<td>				
							<img align="middle" src="[image src_only="1" makesize="80x80" src="/store/images/thumb/[item-modifier case].jpg"]" /><br />
							</td>
						</tr>
						[perl no_return=1]
						$Session->{carts}->{main}->[$Scratch->{this_itemnum}]->{case} = 'CLAMSHELL';
						[/perl]						
					[/if]					
					
					[tmp this_clips][item-modifier clips][/tmp]								
					[if type="explicit" compare="$Scratch->{this_clips} gt '0'"]
						<tr>
							<td>
							<b>Sunglasses Clips</b>&nbsp;&nbsp;&nbsp;
							</td>
							<td>									
							<img align="middle" src="[image src_only="1" makesize="140x80" src="/store/images/clips_thumb.jpg"]" title="Sunglasses Clips" alt="Sunglasses Clips" /><br />
							</td>
						</tr>
						[perl no_return=1]
						delete $Session->{carts}->{main}->[$Scratch->{this_itemnum}]->{clips};						
						[/perl]						
					[/if]					
					[calc]
					$Scratch->{this_itemnum}++;					
					return undef;
					[/calc]										
				[/item-list]
				</table>				
				<br />
				For your convenience, we have removed the above from your order. Please contact us by telephone at 1-800-672-6304 or by email at contact@39dollarglasses.com and we will add the item to your order with a different credit card number.
				</td>
		    </tr>
		    </table>

		</td>
		</tr>
		</table>


	</td>
</tr>

[/if]

<tr>
	<td>
	<br /><br />	
	[tmp onmbi]1[/tmp]
	[include include/checkout/xsell_mbi]
	</td>
</tr>

<form action="[process secure=1]" method="POST" name=checkout onsubmit="return check_cc();">
    <input type=hidden NAME=mv_session_id value="[data session id]">
    <input type=hidden NAME=mv_doit       value=refresh>
    <input type=hidden NAME=mv_nextpage   value="ord/checkout2">
    <input type=hidden name=mv_check      value="Save_database">
    <input type=hidden name=coupon_code      value="[cgi coupon_code]">

	[if scratch etried]
	<input type="hidden" name="email_tried" value="1">
	[/if]
	
	[if value use_reward_points]
		[comment] only set mv_handling if they are actually using points [/comment]
		<input type=hidden name=mv_handling value="[cgi mv_handling]">
	[/if]

[comment] Clips [/comment]
[tmp clist][calc]
	my $clippage = $CGI->{clip};
	$clippage =~ s/\0/ /g;
	$clippage =~ s/^\s*(.*?)\s*$/$1/g;

	# wipe all clip modifiers so we only assign ones that are selected
	my $ref = $Session->{carts}->{main};
	my $start = $#$ref + 1;

	for ($i=0; $i<$start; $i++) {
		$sku = $Session->{carts}->{main}->[$i]->{code};
		$Session->{carts}->{main}->[$i]->{clips} = 0;
	}

	return $clippage;
[/calc][/tmp]

[if scratch clist]
[loop list="[scratch clist]"]
	[loop-calc]
		my $ref = $Session->{carts}->{main};
		my $start = $#$ref + 1;

		# get the clip qty's
		my $cstr = "cqty_" . q{[loop-code]};
		my $cqty = $CGI->{$cstr};

		my ($i, $r, $cline, $res);
		my $sql;
		my $sku;
		my $qty;
		my $lenstype;
		my $sun = 0;
		my @sku_ary;
		my $sitem = q{[loop-code]};
		my $cl = $Scratch->{clist};

		if ($start) {
			my $running_total = 0;

			for ($i=0; $i<$start; $i++) {
				$sku = $Session->{carts}->{main}->[$i]->{code};

				# Match SKU & if need be set the clip modifer
				if ($sku == $sitem) {
					$Session->{carts}->{main}->[$i]->{clips} = $cqty;
				}
			}
		} 
	[/loop-calc]
[/loop]
[/if]
[comment] End of clips [/comment]

[if scratch coupon_msg]
<tr>
	<td align="center">
	<font color="#ff0000"><b>[scratch coupon_msg]</b></font>
	</td>
</tr>
[/if]


<tr>
	<td>

	<br>
				<input type="hidden" name="mv_order_profile" value="credit_card">
				<input type="hidden" name="mycc" value="[value mycc]">
				<input type="hidden" name="the_credit_card" value="[value the_credit_card]">
				<input type="hidden" name="mv_credit_card_cvv2" value="[cgi mv_credit_card_cvv2]">
				<input type="hidden" name="mv_credit_card_exp_month" value="[value mv_credit_card_exp_month]">				
				<input type="hidden" name="mv_credit_card_exp_year" value="[value mv_credit_card_exp_year]">

	</td>
</tr>




<tr>
	<td align="center">
	<br>
		<table width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
			<td bgcolor="#000000">
				<table width="100%" cellpadding="4" cellspacing="0" border="0">
		        <tr>
		          <td width="100%" bgcolor="#6e8dc4"><div class="lgTextWhite"><b>
		          	[LC]
		          	Your Order:
		          	[es_ES]
		          	Su Orden:
		          	[/es_ES]
		          	[/LC]	          	
		          	</b></div></td>
		        </tr>
				</table>
			</td>
		</tr>
		</table>

	[include include/checkout/shopping_cart]

	</td>
</tr>
</table>

<table width="90%">
[comment]
<tr>
	<td>
	<br>
	[include include/checkout/billing_add]
	</td>
</tr>
[/comment]
<tr>
	<td>

	[include include/checkout/totals]

	</td>
</tr>

<tr>
	<td>

		<table align="center" valign="top" cellpadding="10" cellspacing="10" border="0">
		[if items]
		<tr>
			<td> 
		    [perl no_return=1 failure='Embedded perl error.']
			$Scratch->{'button_src'} = '/store/images/blueyellow/';
		        if($Values->{'mv_order_profile'} eq 'online_check') {
		            $Scratch->{'button_src'} .= 'authorize.gif';
		        } else {
		            $Scratch->{'button_src'} .= 'placeorder.gif';
		        }
		    [/perl]

			<div id="order_button_div">
					[button
						  text="[L]Place Order[/L]"
						  src="/store/images/greenbuttons/place_order.gif"
						  hidetext=1
						  form=checkout
						  name="mv_click"
						  extra="title='I Authorize This Transaction'"
					  ]
						mv_todo=submit
					[/button]
			</div>
			<div id="wait_div" style="display: none;">
				<strong>-- Please Wait --</strong>
			</div>

			</td>
		</tr>
		[else]
		<tr>
			<td>


			<b>[L]No items in your shopping cart![/L]</b>

			</td>
		</tr>
		[/else]
		[/if]
		</table>

	</td>
</tr>
</table>


[/else]
[/if]


</form>
[seti clear_errors][error all=1 hide=1 comment="Clear errors"][/seti]
[perl no_return=1]
	$Scratch->{removedmbi} = undef;
[/perl]
<br>
<br>






<!-- END CONTENT -->

@_NOLEFT_BOTTOM_@
<!-- @@MV_PAGE@@ ([value use_your_own_frame])-->
