[tmp success_order]1[/tmp]
[tmp page_title]__COMPANY__ -- Receipt[/tmp]
[tmp meta_header]

	[if value country eq 'US']
		<link rel="stylesheet" href="https://www.resellerratings.com/images/js/dhtml_survey.css" type="text/css" />
		<script type="text/javascript">
		seller_id = 4590;
		document.write('<'+ 'script type="text/javascript" src="https://www.resellerratings.com/images/js/popup_include.js"><\/script>');
		</script>
	[/if]

	<style type="text/css">
	tr.mailnav{
	display: none	
	}
	</style>

[/tmp]

[include templates/redesign/header]

<div id="mid">

	[if !scratch order_content]
		<center>This page should not be called directly.</center>
	[else]
	<table cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td align="center">
				<table cellpadding="0" cellspacing="0" border="0" width="700" align="center">
					<tbody>
						[scratch order_content]
						<!-- AcquisioTracking Conversion variables -->
                        <script type="text/javascript">
                        if ([cgi CTValue] && (order || order_id)) {
                            try{
                                var ATRK_orderId = ((order) ? order : order_id);
                                var ATRK_total = '[cgi CTValue]';
                                ATRKtracker.setConversionCode('completed_sale');
                                ATRKtracker.setTransId(ATRK_orderId.toString());
                                ATRKtracker.setTotal(ATRK_total.toString());
                                ATRKtracker.logConversion();
                            }catch(err){
                            }
                         }
                        </script>
						<!-- Begin Google Conversion Code -->
						<script language="JavaScript">
						<!--
						google_conversion_id = 1072559689;
						google_conversion_language = "en_US";
						if ([cgi CTValue]) {
						  google_conversion_value = [cgi CTValue];
						}
						google_conversion_label = "Purchase";
						-->
						</script>
						<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
						<noscript>
							<a href="https://services.google.com/sitestats/en_US.html" target="_blank">
								<img height=27 width=135 src="https://www.googleadservices.com/pagead/conversion/1072559689/?value=[cgi CTValue]&label=Purchase&hl=en">
							</a>
						</noscript>		    
						<!-- End Google Conversion Code -->

						<script language="JavaScript" type="text/javascript">
						<!-- Yahoo! Search Marketing
						window.ysm_customData = new Object();
						window.ysm_customData.conversion = "transId=,currency=,amount=";
						var ysm_accountid  = "1G7CNDKA5TC1AFPCCVV7IPNE71G";
						document.write("<SCR" + "IPT language='JavaScript' type='text/javascript' " 
						+ "SRC=//" + "srv3.wa.marketingsolutions.yahoo.com" + "/script/ScriptServlet" + "?aid=" + ysm_accountid 
						+ "></SCR" + "IPT>");
						// -->
						</script>
						[comment]Yahoo conversion pixel[/comment]
						<!-- Advertiser 'Value Eyecare Network Inc.',  Conversion tracking '39DollarGlasses Conversion Pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
						<img src="https://ad.yieldmanager.com/pixel?id=1856411&t=2" width="1" height="1" />
						<!-- End of conversion tag -->

						<script>
						microsoft_adcenterconversion_domainid = 14226;
						microsoft_adcenterconversion_cp = 5050; 
						</script>
						<script SRC="https://0.r.msn.com/scripts/microsoft_adcenterconversion.js"></script>
						<noscript><IMG width=1 height=1 SRC="https://14226.r.msn.com/?type=1&cp=1"/></noscript>

						[comment]PPC tracking script[/comment]
						<!--PPC -->
						<img src="//insight.adsrvr.org/track/conv/?ct=0:jetclsx&adv=rl2mqge&fmt=3&v=[scratch total_cost]&vf=USD" name="Trade Desk Tracking - Conversion Tag" alt="" />
						[comment]End of PPC tracking[/comment]
						[comment]begin facebook pixels[/comment]
						<script type="text/javascript">
                            if ([cgi CTValue]) {
                                try{
                                        var fb_param = {};
                                        fb_param.pixel_id = '6007915027450';
                                        fb_param.value = [cgi CTValue];
                                        fb_param.currency = 'USD';
                                        (function(){
                                          var fpw = document.createElement('script');
                                          fpw.async = true;
                                          fpw.src = '//connect.facebook.net/en_US/fp.js';
                                          var ref = document.getElementsByTagName('script')[0];
                                          ref.parentNode.insertBefore(fpw, ref);
                                        })();
                                     }catch(err){}
                            }
                        </script>
                        [if explicit][condition]$CGI->{CTValue}[/condition]
                            [try]
                                <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6007915027450&amp;value=[cgi CTValue]&amp;currency=USD"/></noscript>
                            [/try][catch][/catch]
                        [/if]
                        <script type="text/javascript">
                            if ([cgi CTValue]) {
                                try{
                                        var fb_param = {};
                                        fb_param.pixel_id = '6011246857587';
                                        fb_param.value = [cgi CTValue];
                                        fb_param.currency = 'USD';
                                        (function(){
                                          var fpw = document.createElement('script');
                                          fpw.async = true;
                                          fpw.src = '//connect.facebook.net/en_US/fp.js';
                                          var ref = document.getElementsByTagName('script')[0];
                                          ref.parentNode.insertBefore(fpw, ref);
                                        })();
                                     }catch(err){}
                            }
                        </script>
                        [if explicit][condition]$CGI->{CTValue}[/condition]
                            [try]
                                <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6011246857587&amp;value=[cgi CTValue]&amp;currency=USD" /></noscript>
                            [/try][catch][/catch]
                        [/if]
                        [comment]end facebook pixels[/comment]
                        [comment]WVO[/comment]
                        <script type="text/javascript">
							var _vis_opt_revenue = [cgi CTValue];
							window._vis_opt_queue = window._vis_opt_queue || [];
							window._vis_opt_queue.push(function() {_vis_opt_revenue_conversion(_vis_opt_revenue);});
						</script>
                        [comment]end WVO[/comment]


	[/else][/if]
						[calcn]
						    $Values->{use_your_own_frame} = '';
						    $Values->{rimless} = '';
						    $Values->{mv_order_uyof_add} = '';
						    $Values->{lens_prescription} = '';
						    $Values->{lens_describe} = '';
						    $Values->{comments} = '';
						    $Values->{rxcomments} = '';
						    return;
						[/calcn]

					</tbody>
				</table>
			</td>
		</tr>
	</table>
</div>

[include templates/redesign/footer]

[perl]
for (keys %$Values){
	next if /mv_username/;
	if(/^mv_order/){
		delete $Values->{$_};
	}
}
delete $Values->{$_} for qw\
	use_your_own_frame rimless mv_order_uyof_add
	lens_prescription lens_describe comments rxcomments
	coupon_code
\;
delete $Scratch->{$_} for qw\
	bogo_active mask_coupon bogo_declined accept_bogo
	coupon_msg coup_ok disc_amount sub_order_value pre_disc_st
	ship_total total_cost success_order item_array order_num
	ga_item_array cust_city cust_state cust_country
\;
delete $Session->{$_} for qw\
	recheck_coupon current_coupon_code 
\;
#clear discount hash
%$::Discounts = ();
return;
[/perl]