[comment]
ui_page: help_topics/about_your_pd.html
ui_type: page
ui_name: help_topics/about_your_pd.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/help_topics/about_your_pd.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- [L]Help Topics[/L] -- [L]About Your Pupillary Distance[/L][/tmp]
[tmpn members_only][/tmpn]
[tmp meta_header]
<style type="text/css">
#mid{
	margin-left: 10px;
}
</style>
[/tmp]
[include templates/redesign/header]
<h3>[L]Help Topics[/L]</h3>

<div id="mid">
	[include pages/help_topics/about_your_pd_bare.html]
</div>
[include templates/redesign/footer]
