<table width="90%" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td align="left" valign="top">
			<table border="0" cellpadding="6" cellspacing="0">
				<tr>
					<td align="left" valign="top">
						<p>This measurement is necessary to ensure the correct positioning of your lenses within the frame you have chosen.  Have a friend* measure the distance from the center of the pupil (black dot) in one eye to the center of the pupil in the other eye.  It's like measuring a line connecting the two black dots.</p>
						<p><strong>To measure your PD:</strong></p>
						<ol>
							<li>Place the millimeter ruler on the bridge of your nose.</li>
							<li>Have a friend face you about arms length away.</li>
							<li>Have your friend measure the distance between the center of your pupils (the black dots in the middle of your eyes).</li>
							<li>(Or you can do it yourself simply by looking in the mirror).</li>
						</ol>
						<p align="center" style="color:#ff6600;font-weight:700">
							It's simple -- like playing connect the dots!
							<br /><br />
							<img src="/img/help/pd-picture.gif" width="300" height="116" alt="PD Image" />
						</p>
						<p align="center">You can also get this information from your doctor or from a licensed optician.</p>
						<p><strong>As a guideline:</strong></p>
						<ul>
							<li><em>Most</em> adults' PD's are between 55-65.</li>
							<li><em>Most</em> kids' PD's are between 42-54.</li>
						</ul>
						<p align="center"><a href="/lib/pdf/39dg-ruler.pdf" onclick="this.target='_blank'">Download a printable ruler here (pdf)</a>.</p>
						<p align="center"><a href="http://www.adobe.com/products/acrobat/readstep.html" target="_blank"><img src="/img/template/getacro.gif" width="88" height="31" alt="Get Acrobat(c) Reader(tm)" /></a></p>
						<p align="center">* NY and MA residents must have their PD measured by a doctor or licensed optician.</p>
						<p><strong>If you had your PD measured for you but there's more than one number:</strong></p>
						<p>If you have two different numbers, you have either been given both the Distance/Reading or Right Eye/Left Eye:</p>
						<ul>
							<li>If the numbers are higher (and different), like 62/59, then the first number is your Distance PD and the second is your Near PD (for reading-only glasses). </li>
							<li>If the two numbers are lower (and different), like 30.5/31.5, then you had someone take your PD one eye at a time (called "monocular PD"). The first number is for the right eye (O.D.) and the second number is for the left eye (O.S.). If you have a monocular PD available, put it in the "Customer notes" section of the order form and we'll use it.</li>
							<li>If the two numbers are the same, like 30.5/30.5, you can just add them together (61 in this example) and we'll automatically divide it equally.</li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
