[comment]
ui_page: help_topics/index.html
ui_type: page
ui_name: help_topics/index.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/help_topics/index.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- Help Topics[/tmp]
[tmpn members_only][/tmpn]

[control reset=1]
[control-set]
	[component][/component]
[/control-set]
[control reset=1]

@_NOLEFT_TOP_@
<!-- BEGIN CONTENT -->
<table width="90%" cellpadding="0" cellspacing="0" border="0">
<tr> 
  <td><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="300" alt=""></td>
  <td align="left" valign="top">
    
    <!-- Page header -->

    <h3>    
	[L]Help Topics[/L]
  	</h3>

	<!-- begin Content -->

	<p>
	<a href="[area help_topics/how_to_order]"><b>[L]How to Order[/L]</b></a>
	<br>
	It's as simple as 1-2-3!!
	</p>
	<p>
	<a href="[area help_topics/about_your_prescription]"><b>[L]About Your Prescription[/L]</b></a>
	<br>
	Your prescription provides us with your doctor's recommendation for clear and comfortable vision. 
	</p>	
	<p>
	<a href="[area help_topics/smartfit]"><b>[L]SmartFit&trade; System[/L]</b></a>
	<br>
	A breakthrough in technology and convenience to help you custom-design your perfect pair. 
	</p>
	<p>
	<a href="[area help_topics/faq]"><b>[L]Frequently Asked Questions[/L]</b></a>
	<br>
	
	</p>
	<p>
	<a href="[area contact_us]"><b>[L]Customer Support[/L]</b></a>
	<br>
	We want to be accessible to all our customers. If you have any questions for us, there are many ways to reach us.

	</p>
	<p>
	<a href="[area help_topics/shipping]"><b>[L]Shipping Options[/L]</b></a>
	<br>
	
	</p>	

	<!-- end Content -->


</td>
</tr>
</table>



<!-- END CONTENT -->
@_NOLEFT_BOTTOM_@
