<!-- BEGIN CONTENT -->
<link rel="stylesheet" href="/store/images/theme_css.css" type="text/css" />
<table width="90%" cellpadding="0" cellspacing="0" border="0">
<tr> 
  <td><img src="__THEME_IMG_DIR__spacer.gif" width="1" height="300" alt=""></td>
  <td align="left" valign="top">
    
    <!-- Page header -->

    <h3>    
	[L]Help Topics[/L]
  	</h3>

	<h4>[L]Shipping[/L]</h4>

	<ul>
	<li><a href="#1">[L]Shipping Options[/L]</a></li>
	<li><a href="#3">[L]International Shipping[/L]</a> [LC](locations)[es_ES](lugares)[/es_ES][/LC]</li>
	</ul>



	<!-- begin Content -->

	

<a name="1"></a><h5>
[L]Shipping Options[/L]
</h5>

<p align="center">
<table border="1" style="margin: 5px 15px" cellspacing="0" cellpadding="5" bordercolor="#b2b2b2">
<tr>
	<td align="left" valign="middle" bgcolor="#82a2db" class="TextWhite">
	<b>[L]Shipping Method[/L]</b>
	</td>
	<td align="left" valign="middle" bgcolor="#82a2db" class="TextWhite">
	<b>1 [L]Pair[/L]</b>
	</td>
	<td align="left" valign="middle" bgcolor="#82a2db" class="TextWhite">
	<b>[L]Orders $99 and over[/L]</b>
	</td>
</tr>
<tr>
	<td colspan="4" align="left" bgcolor="#416ebe" class="TextWhite"><b>United States</b></td>
</tr>

<tr>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	[L]USPS First Class w/Delivery Confirmation[/L]
	</td>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	$4.95
	</td>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	<b>Free!</b>
	</td>
</tr>
<tr>
	<td align="left" valign="top">
	[L]USPS Priority Mail w/Delivery Confirmation[/L]
	</td>
	<td align="left" valign="top">
	$5.95
	</td>
	<td align="left" valign="top">
	$1.00
	</td>
</tr>
<tr>
	<td align="left" valign="top">
	[L]UPS 2nd Day Air[/L]
	</td>
	<td align="left" valign="top">
	$12.90
	</td>
	<td align="left" valign="top">
	$7.95
	</td>
</tr>
<tr>
	<td align="left" valign="top">
	[L]UPS Next Day Air[/L]
	</td>
	<td align="left" valign="top">
	$17.90
	</td>
	<td align="left" valign="top">
	$12.95
	</td>
</tr>


<tr>
	<td colspan="4" align="left" bgcolor="#416ebe" class="TextWhite"><b>[L]International[/L]</b> (<a href="#3" class="linkB"><b>[L]Click here[/L]</b></a> [L]for a list of countries[/L])</td>
</tr>
<tr>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	[L]USPS Global Priority[/L]
	</td>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	$12.95
	</td>
	<td align="left" valign="top" bgcolor="#d7dbe1">
	$12.95
	</td>
</tr>
</table>
</p>



<a name="3"></a><h5>
[L]International Shipping[/L]
</h5>

<blockquote>
<p>
[L]We are proud to ship to the following countries outside the United States. Shipments are through U.S. Global Priority Mail (GPM) for $12.95.[/L]
</p>
<p>
<ul>
<li>Australia  	</li>
<li>Belgium </li>
<li>Bermuda</li>
<li>Canada  	</li>
<li>China </li>
<li>Colombia  	</li>
<li>Costa Rica  	</li>
<li>Denmark </li>
<li>Dominican Republic </li>
<li>Finland </li>
<li>France (Includes Corsica and Monaco) </li>
<li>Germany  </li>
<li>Great Britain & Northern Ireland</li>
<li>Guyana </li>
<li>Hong Kong  </li>
<li>Iceland  </li>
<li>India </li>
<li>Ireland  </li>
<li>Israel</li>
<li>Italy</li>
<li>Japan </li>
<li>Korea, Republic of </li>
<li>Liechtenstein </li>
<li>Luxembourg </li>
<li>Netherlands </li>
<li>New Zealand (Includes Cook Islands and Niue) </li>
<li>Norway </li>
<li>Portugal (Includes Azores and Madeira Islands) </li>
<li>Singapore </li>
<li>South Africa </li>
<li>Spain (Includes Canary Islands) </li>
<li>Sweden </li>
<li>Switzerland </li>
<li>Taiwan </li>
<li>Thailand </li>
<li>Trinidad & Tobago</li>
<li>Vietnam </li>
</ul>
</p>
</blockquote>

	<!-- end Content -->


</td>
</tr>
</table>

<!-- END CONTENT -->
