[comment]
ui_page: help_topics/shipping.html
ui_type: page
ui_name: help_topics/shipping.html
ui_page_template: noleft
ui_version: 4.9.3-200211090658
ui_source: pages/help_topics/shipping.html
ui_template: Yes
ui_template_name: noleft
[/comment]

[tmp page_title]__COMPANY__ -- [L]Help Topics[/L] -- [L]Shipping[/L][/tmp]
[tmpn members_only][/tmpn]

[include templates/redesign/header]

	[include pages/help_topics/shipping_bare]
	<br />
	<p>
		Prior to shipping, your order is custom made in our Long Island, NY laboratory to your exact 
		prescription and PD measurement. Over 95% of all orders ship within 1-3 business days. For 
		some higher prescriptions and multifocals (progressives and bifocals) it may take up to an 
		additional 1-4 business days to process your order. A small percentage of orders do not initially 
		pass final inspection, and we may need to redo all or part of the process. If this occurs, it will be 
		noted by clicking the automated <a href="/query/order_status.html">order tracking</a> link in the top toolbar.
	</p>

[include templates/redesign/footer]
