[if explicit][condition]$Tag->env('SCRIPT_URI') =~ /^http:/[/condition]
	[tmp url][var SECURE_SERVER]/una/report.html[/tmp] 
	[bounce page="[scratch url]" secure=1]
[/if]
[tmp page_title]UNA Commission Report Generator[/tmp]
[tmp meta_header]
	<style type="text/css">
		label{ display: inline-block; width: 75px }
		table.centered{ margin: 30px auto 0 }
		#footer{ margin-top: 50px }
		#report{ width: 600px }
		#report td{ padding-left: 10px }
		td.money{ text-align: right; padding-right: 20px }
		td.empty{ padding: 20px; text-align: center }
	</style>
[/tmp]
@_TOP_@

			<img id="una-logo" src="/img/una-logo.png" />
			[calcn]
				my ($start_date,$end_date);
				
				if( $CGI->{submit} ){
					$start_date = $CGI->{'start_year'} . $CGI->{'start_month'} . $CGI->{'start_day'};
					$end_date		= $CGI->{'end_year'} . $CGI->{'end_month'} . $CGI->{'end_day'};
				}else{
					$start_date = $end_date = $Tag->time(undef,undef,'%Y%m%d');
					chop$start_date;chop$start_date;
					$start_date .= '01';
				}
				
				$Tag->tmp('start_date', $start_date);
				$Tag->tmp('end_date', $end_date);
				'';
			[/calcn]
			
			<form method="post">
				<table class="centered">
					<tr>
						<td width=300>
							<label for="start_month">From:</label>
							<select name="start_month" id="start_month">
								[calcn]
									my $output = '';
									my $currentMonth = $CGI->{'start_month'} || $Tag->time(undef,undef,'%m');
									
									for( 1 .. 12 ){
										$_ = sprintf('%02d',$_);
										my $word = $Tag->convert_date({ format => '%B', body => "2011${_}01" });
										my $selected = ( $_ == $currentMonth ? 'selected' : '' );
										$output .= qq|<option value="${_}" $selected>$word</option>\n|;
									}
									
									return $output;
								[/calcn]
							</select>
						
							<select name="start_day" id="start_day">
								[calcn]
									my $output = '';
									my $currentDay = $CGI->{'start_day'} || 1; #$Tag->time(undef,undef,'%d');
									
									for( 1..31 ){
										my $selected = $currentDay == $_ ? 'selected' : ''; 
										$output .= "<option $selected>" . sprintf('%02d',$_) . "</option>";	
									}
									
									return $output;
								[/calcn]
							</select>
							<select name="start_year" id="start_year">
								[calcn]
									my $output = '';
									my $initialYear = 2011;
									my $currentYear = $CGI->{'start_year'} || $Tag->time(undef,undef,'%Y'); 
									foreach( $initialYear .. $currentYear ){
										my $selected = $currentYear == $_ ? 'selected' : '';
										$output .= "<option $selected>$_</option>\n" ;
									}
									
									return $output;
								[/calcn]
							</select>
							<br />
							<label for="end_year">To:</label>
							<select name="end_month" id="end_month">
								[calcn]
									my $output = '';
									my $currentMonth = $CGI->{'end_month'} || $Tag->time(undef,undef,'%m');
									
									for( 1 .. 12 ){
										$_ = sprintf('%02d',$_);
										my $word = $Tag->convert_date({ format => '%B', body => "2011${_}01" });
										my $selected = ( $_ == $currentMonth ? 'selected' : '' );
										$output .= qq|<option value="${_}" $selected>$word</option>\n|;
									}
									
									return $output;
								[/calcn]
							</select>
							<select name="end_day" id="end_day">
								[calcn]
									my $output = '';
									my $currentDay = $CGI->{'end_day'} || $Tag->time(undef,undef,'%d');
									
									for( 1..31 ){
										my $selected = $currentDay == $_ ? 'selected' : ''; 
										$output .= "<option $selected>" . sprintf('%02d',$_) . "</option>";	
									}
									
									return $output;
								[/calcn]
							</select>
							<select name="end_year" id="end_year">
								[calcn]
									my $output = '';
									my $initialYear = 2011;
									my $currentYear = $CGI->{'end_year'} || $Tag->time(undef,undef,'%Y'); 
									foreach( $initialYear .. $currentYear ){
										my $selected = $currentYear == $_ ? 'selected' : '';
										$output .= "<option $selected>$_</option>\n" ;
									}
									
									return $output;
								[/calcn]
							</select>
							<br />
						</td>
						<td valign="center" align="left">
							<input type="submit" name="submit" value="Generate report" />
						</td>
					</tr>
				</table>
			</form>
			
			<table border=1 id="report" class="centered" cellspacing=1>
				<tr>
					<th>Order date</th>	
					<th>Order number</th>
					<th>Source</th>
					<th>Total</th>
				</tr>
				[perl table="transactions products"]
					my $output = '';
					my $sql = qq|
SELECT
	order_ymd, order_number, 
	CASE 
		WHEN coupon_code = 'UNA15' OR affiliate = 'UNA15' THEN 'una' 
		WHEN coupon_code = '25dollarglasses' OR affiliate = '25dollarglasses' THEN '25' 
	END AS source, subtotal
FROM transactions
WHERE ( coupon_code IN ('UNA15','25dollarglasses') OR affiliate IN ('UNA15','25dollarglasses') ) AND order_ymd >= | . $Tag->filter('dbi_quote', $Scratch->{'start_date'}) . " AND order_ymd <= " . $Tag->filter('dbi_quote', $Scratch->{'end_date'});
					my $results = $Tag->query({ sql => $sql, table => 'transactions', hashref => 1 });
					my $overallTotal = 0;
					my %totals = ( '25' => 0, 'una' => 0 );
					
					if( @$results ){
						foreach my $order( @$results ){
							$total += $order->{'subtotal'};
							$totals{ $order->{'source'} } += $order->{'subtotal'};
							$output .= qq|
						<tr> 
							<td>$order->{order_ymd}</td>
							<td>$order->{order_number}</td>
							<td>$order->{source}</td>
							<td class="money">| . $Tag->filter('currency',$order->{'subtotal'}) . qq|</td>
						</tr>|;
						}
						
						$output .= qq|
						<tr>
							<td colspan=4 align="right">
								<br />
								<table border=0>
									<tr>
										<td>25DollarGlasses:</td>
										<td class="money">| . $Tag->filter('currency', $totals{'25'}) . qq|</td>
									</tr>
									<tr>
										<td>UNA:</td>
										<td class="money">| . $Tag->filter('currency', $totals{'una'}) . qq|</td>
									</tr>
									<tr>
										<td>Grand total:</td>
										<td class="money">| . $Tag->filter('currency', $total) . qq|</td>
									</tr>
									<tr>
										<td>Commission:</td>
										<td class="money">| . $Tag->filter('currency', ($total * .08)) . qq|</td>
									</tr>
								</table>
							</td>
						</tr>|;
					}else{
						$output = qq|<tr><td colspan=4 class="empty">No orders were found for the specified date range</td></tr>|;
					}
					
					return $output;		
				[/perl]
			</table>
@_BOTTOM_@
