[comment]
ui_page: index.html
ui_type: page
ui_name: index.html
ui_page_template: primary
ui_source: pages/index.html
ui_template: Yes
ui_template_name: primary
[/comment]

[tmp page_title]Discount Prescription Eyeglasses and Sunglasses - 39DollarGlasses.com[/tmp]
[tmp meta_keywords]Prescription Eyeglasses, Prescription Sunglasses, Mens Eyeglasses, Mens Glasses, Womens Eyeglassese, Womens Glasses, Kids Eyeglasses, Kids Glasses, Mens Sunglasses, Womens Sunglasses, Kids Sunglasses, Prescription Glasses, 39DollarGlasses.com[/tmp]
[tmp meta_description]Shop online with 39DollarGlasses.com for discount prices on high quality prescription eyeglasses and sunglasses for men, women and kids.[/tmp]
[tmp seo_noindex][/tmp]
[tmp seo_nofollow][/tmp]
[tmp hiconversions][/tmp]
[tmp legacy_js][/tmp]
[tmp jquery_noconflict]1[/tmp]
[tmp meta_header]
<meta name="google-site-verification" content="gJMtIfSLH9smIfaAA6GFmflihgKeg9tVtUVIaj-2R4M" />
<meta property="fb:page_id" content="168481729999" /> 
[/tmp]

[tmp canonicalURL]http://__SERVER_NAME__/[/tmp] 
@_TOP_@

[if cgi coupon_code][include include/checkout/code_check_index][/if]

				<div class="top-left">
					<h1 class="bc03">Discount Prescription Eyeglasses and Sunglasses</h1>
					<a href="[area href="10000" form="coupon_code=FREESHIP11"]"><img src="/img/template/freeShipping_web.jpg" alt="Free Shipping on all orders!" /></a>
					<div id="logos" style="margin: 30px 0 0 0">
						<img src="/img/template/quotes.png" width="247" height="170" alt="Press Quotes" />
						<div><img src="/img/template/logos.png" width="372" height="154" alt="Product Logos" /></div>
					</div>
				</div>
				<div class="top-right">
					<img src="/img/template/hd_05_en_US.gif" width="243" height="30" alt="Included With Every $39 Glasses Order" />
					<ul>
						<li class="bc01">Light &amp; Thin Prescription Lenses</li>
						<li class="bc01">100% UV Protection</li>
						<li class="bc01">Tough Scratch-resistant coatings</li>
						<li class="bc01">Ultra-soft Microfiber Cleaning Cloth</li>
						<li class="bc01">Stylish Hard Case</li>
						<li class="bc01">100% Quality Guarantee</li>
						<li class="bc01">Knowledgeable Customer Support</li>
						<li class="bc01">Next-Day Delivery Available</li>
					</ul>
					<div id="best-seller">
						<img src="/img/template/best_seller.gif" width="243" height="24" alt="Best Seller" class="lflt" />
						<div>
							<a href="[area 3299_Black]"><img src="/store/images/tints/200x200/3299_Black_CLEAR.jpg" width="200" height="72" alt="College" /></a>
							<p>
								<strong class="bc02">College</strong>
								<a href="[area 3299_Black]" class="bc04">More Info</a>
								<a href="[area 3299_Black]"><img src="/img/template/order_now.gif" width="75" height="20" alt="Order Now" /></a>
							</p>
						</div>
					</div>
					<div id="secicons">
						<a href="http://www.bbb.org/new-york-city/business-reviews/optical-goods-retail/39dollarglasses-com-in-ronkonkoma-ny-72707/" onclick="this.target='_blank'"><img src="/img/template/bbb.jpg" width="45" height="73" alt="Better Business Bureau" class="bbb" /></a>
						<a onclick="window.open(this.href,'verify','width=560,height=500');return false;" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.39dollarglasses.com&amp;lang=en"><img src="/img/template/cs-verisign.png" width="88" height="44" alt="Verisign" class="ver" /></a>
						<img src="/img/template/cs-bizrate.png" width="95" height="28" alt="Bizrate.com" />
					</div>
				</div>
				<div id="subcontent">
					<div id="categories">
						<a href="[area 11000]" class="c1">
							<span class="img"><img src="/store/images/tints/200x200/3091_DarkGunmetal_CLEAR.jpg" width="200" height="76" alt="Metal Eyeglasses" /></span>
							<span class="bc02">Metal Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="Shop Now" />
						</a>
						<a href="[area 12000]" class="c2">
							<span class="img"><img src="/store/images/tints/200x200/3524_BlackCrystal_CLEAR.jpg" width="200" height="71" alt="Plastic Eyeglasses" /></span>
							<span class="bc02">Plastic Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
						<a href="[area rx_sunglasses]" class="c3">
							<span class="img"><img src="/store/images/tints/200x200/3016_Silver_GREY.jpg" width="200" height="72" alt="Prescription Sunglasses" /></span>
							<span class="bc02">Prescription Sunglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
						<a href="[area semi_rimless-eyeglasses]" class="c4">
							<span class="img"><img src="/img/template/6559_Black.jpg" width="200" height="69" alt="Semi-Rimless Eyeglasses" /></span>
							<span class="bc02">Semi-Rimless Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
						<a href="[area 14000]" class="c5">
							<span class="img"><img src="/img/template/2165_Silver.jpg" width="200" height="75" alt="Rimless Eyeglasses" /></span>
							<span class="bc02">Rimless Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
						<a href="[area kids-eyeglasses]" class="c6">
							<span class="img"><img src="/store/images/tints/200x200/4070_Navy_CLEAR.jpg" width="200" height="86" alt="Kids Eyeglasses" /></span>
							<span class="bc02">Kids Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
						<div class="c7">
							<span class="img"><a href="[area bifocals]"><img src="/img/template/3008_Gunmetal.jpg" width="200" height="82" alt="Bifocals, Progressives &amp; Varilux&reg;" /></a></span>
							<p><a href="[area bifocals]" class="bc02">Bifocals</a> | <a href="[area progressives]" class="bc02">Progressives &amp; Varilux&reg;</a></p>
							<a href="[area bifocals]"><img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" /></a>
						</div>
						<a href="[area 15000]" class="c8">
							<span class="img"><img src="/store/images/tints/200x200/5016_Gunmetal_CLEAR.jpg" width="200" height="80" alt="Bendable Titanium Eyeglasses" /></span>
							<span class="bc02">Bendable Titanium Eyeglasses</span>
							<img src="/img/template/shop_now.gif" width="77" height="20" alt="See Collection" />
						</a>
					</div>
[tmp var_price1][query type=list sql="SELECT * FROM retail_prices WHERE option_name='COA1'" table=retail_prices][list][currency][sql-param cost][/currency][curr_price price="[sql-param cost]"][/list][/query][/tmp]
[tmp var_price2][query type=list sql="SELECT * FROM options_price WHERE o_value='COA1'" table=options_price][list][currency][sql-param price][/currency][curr_price price="[sql-param price]"][/list][/query][/tmp]
					<div id="text-content">
						<h3 class="bc06">How can you offer such discounted eyeglasses?</h3>
						<p>
							Founded by eye-doctors, 39 Dollar Glasses.com offers customers an inexpensive solution for acquiring high-quality, complete prescription eyeglasses and sunglasses through its e-commerce website. 
							Completely doctor owned, its creators realized from their private practice and retail offices that they could bypass high-priced retail enterprises to offer the same high-quality, finished prescription eyewear at a much reduced cost. 
							What's more, all eyeglasses and sunglasses are manufactured solely in the United States. With our state-of-the-art, consumer-friendly e-commerce website, customers save an average of 70 percent when purchasing discount glasses from 39DollarGlasses.com.
						</p>
						<p>Although our eyewear is manufactured with the same high-quality materials seen at more expensive establishments, we can offer them at a large discount because of our tremendous volume. We also don't have expensive eyewear displays, employees working behind the counter, or retail space rented, which reduces our additional overhead costs. Because operating our e-commerce website is much less costly than operating a retail establishment, 39 Dollar Glasses.com is able to pass these savings on to you, our online customers.</p>
						<p>We offer the same top brands, such as Varilux&reg; no-line bifocals and Transitions&reg; Lenses that you would find at the finest optical shops and doctors&#39; offices, but at a fraction of the cost. In many cases, customers can even choose a second pair of eyeglasses and still pay less than they would at a typical retail store for just one pair of glasses.</p>
						<p>Of course, it's one thing to hear this from us, but we think you might be interested in hearing from some of our customers.</p>
						<p><a href="[area testimonials]" class="bc02">Take a look at what some of our customers have revealed about 39 Dollar Glasses.com.</a></p>

						<h3 class="bc06">Can I order discount prescription sunglasses too?</h3>
						<p>Sure you can! Any of our frames can be made into prescription sunglasses -- with the same discounts as regular eyewear. In fact, all of our frames can be purchased online as non-prescription or prescription sunglasses. And, if you want to know whether you can order bifocal sunglasses as well -- you bet you can!</p>
						<p>Our exclusive SmartFit Color Selector allows you to click on any frame page to customize your sunglasses for yourself. This technology is really one-of-a-kind because it's not available in retail stores. This enables our online customers to see all lens color and frame combinations for easy comparison right before their eyes before ordering. Once you&#39;re ready to order, our handy SmartFit PDF feature lets you print the exact sizing on the chosen frame to make for a perfect, customized fit.</p>
						<p><a href="[area rx_sunglasses]" class="bc02">Take a look at our prescription sunglasses selection here.</a></p>

						<h3 class="bc06">What kind of lenses can I get in my eyeglasses?</h3>
						<p>Our lenses are top quality, thin or ultra-light Polycarbonate lens. We use polycarbonate lenses for a number of reasons. First and foremost, it is the required lens type for all children's eyewear because of its safety qualities. In fact, polycarbonate is the type of material used in making bulletproof glass. It's also the preferred lens for people who have a lazy eye, or amblyopia, or who are blind in one eye. This material protects the "good" eye in case of an injury or accident.</p>
						<p>Secondly, polycarbonate lenses are the most impact-resistant and lightest material made for eyeglasses. They are much thinner than CR39 (standard) optical lenses, due to the 1.59 refraction index. At no extra charge, all lenses come with a scratch-resistant coating (on both sides of the lenses) and a 100% UV coating. As a finishing touch, all lens edges are polished.</p>
						<p>That said, we also carry a copious supply of other lenses for all of our eyewear frames.</p>
						<p><a href="[area product_info/about_our_lenses]" class="bc02">Browse through our full prescription lenses list here.</a></p>

						<h3 class="bc06">Can I get Anti-Reflective Coating?</h3>
						<img src="/img/template/online_payment.jpg" height="197" width="150" alt="buy glasses online" class="content-girl" />
						<p>Absolutely. Anti-reflective coating enables people to see your eyes through their lenses, rather than a light reflection. Anti-reflective coating works by improving the light transmission through the lenses, always giving you sharp, clear vision. Anti-reflective lenses are highly recommended for night driving and computer use. In most establishments, premium anti-reflective coating retails for around $70, but at 39 Dollar Glasses.com, you can add it to any package for just $24.95.</p>
						<h3 class="bc06">Do you offer a 100% Online Quality Guarantee?</h3>
						<p>As a matter of fact we do. We provide an unconditional guarantee on all our frames and lenses that they will be free of defects, and manufactured and delivered exactly as ordered. Before your order is shipped to you, a certified technician inspects each pair of eyeglasses or prescription sunglasses to ensure correct frame alignment and prescription accuracy. We package your glasses in a durable, attractive hard case so they are well-protected during shipping.</p>
						<a href="[area 10000]" class="bc02">See our full selection of prescription glasses here.</a>
					</div>
				</div>

<!-- 39DG-MONITOR-__SERVER_NUMBER__ -->
[include include/affiliate-modal]

@_BOTTOM_@
