#searchForm{
	position: absolute;
	right: 15px;
	top: 38px;
}
#searchForm input{
	padding: 1px;
	border-radius: 2px;
}
#searchForm span.submit{
	font-weight:  bold;
}
/* Autocomplete demo dropdown styles */
.autocomplete-w1 { position: absolute; top: 0px; left: 0px; margin: 6px 0 0 6px; /* IE6 fix: */ _background: none; _margin: 1px 0 0 0; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; margin: -6px 6px 6px -6px; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
.autocomplete .selected { background: #c9e6ed; }
.autocomplete div { padding: 5px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete strong { font-weight: normal; color: #3399FF; }