#template_content_main{
	float:left;
	width:985px;
	margin:0;
}
.pageBreadcrumbs{
	padding-left:6px;
}
#products{
	float:right;
	width:761px;
	padding:12px 6px 0 0;
}
#banner {
	float:right;
	padding: 0px 0px 13px 0px;
}
#banner img {
	float:right;
	border:2px solid #a1b7d2;
}
#banner h1{
	width: 550px !important
}
.pagination-sort {
	float:right;
	width:755px;
	margin:12px 5px 0px 0px;
}
.pagination {
	float:right;
	padding-left:18px;
}
.pagination strong,#results strong {
	color:#ff9b00
}
.pagination a {
	color:#2642ab
}
.ipp {
	float:left;
	margin: 0px 0px 0px 5px;
}
.sort select,.ipp select {
	margin:0 6px;
}
#results {
	float:left; 
	font-size: 14px; 
	margin:0px 0px 0px 1px;
	color:#8d8d8d;
}
#items{
	float:right;width:755px; 
	padding:12px 0 0 12px;
}
#items div.item{
	float:left;
	width:233px;
	height: 250px;
	border:2px solid #a1b7d2;
	margin:0 14px 14px 0;
	text-align:center;
	padding-top:18px;
	position: relative;
}
div.item div.img-cont{
	float:left; 
	width:233px; 
	height:80px;
}
div.item .pr-snippet-wrapper{
	float:left;
	padding:8px 0 0 30px;
	margin:0;
}
div.item p.retail,div.item div.price{
	float:left;
	padding:0;
	margin:0;
	width:233px;
	text-align:center;
}
div.item div.price {
	padding:0px 0px 40px 0px;
}

div.item div.price p{
	padding: 0; margin: 0;
}

div.item div.price p.original{ color: black;text-decoration:line-through }
div.item div.price p.new{ color: red; font-weight: bold }

div.item a.description {
	text-decoration: none; 
	font-weight: bold; 
	font-size: 11.5px;	
}
div.item div.frame_color {
	font-size: 12px;
}
div.item div.colors {
	position: absolute;
	top: 3px;
	left: 15px;
	width: 150px;
	color: #779ab3;
}
div.item div.tryon {
	position: absolute;
	left: 169px;
	top: 0px;
}
div.item div.buttons {
	position: absolute;
	bottom: 10px;
	left: 15px;
}

div.item p.retail{color:#999;text-decoration:line-through}
div.item p.buy{float:left;padding:18px 40px 18px 0;margin:0;width:193px}
div.item p.buy img{float:left}
div.item p.buy a.order_now{float:right;display:block;width:92px;height:26px;background:url(/store/images/order_now.png)}
div.item p.buy a.order_now:hover{background-position:0 26px}
div.item p.buy a.more{float:right;color:#999;margin-right:6px}
div.item p.buy a.more:hover{color:#000}
div.item p.buy a.more:visited{color:#999}


#ctrls-cont{float:left;width:203px;padding:12px 0 0 6px}
#controls{float:left;width:199px;background:#FFFFFF;border:2px solid #a1b7d2}
#controls form{float:left;padding-bottom:24px}
#controls h3{color:#2642ab;font-size:13px;padding:4px 0 8px 6px; text-align: center;}
#controls td.glabel{font-weight:bold;padding:12px 0 8px 12px;border-top:3px solid #d0d4e0}
#controls td.finput{padding-left:10px}
#controls td{padding:0 0 2px 6px;vertical-align:top}
#controls td.flabel span{font-size:10px;color:#666}


#filters{width:199px}
h1.cat-header{float:left;color:#000;margin-top:12px}


#template_footer{float:left;width:965px;margin-bottom:20px}

.clear{clear:both}
.fh1{color:#2642ab;font-size:12px;}
.displayOptions {
	float:left;
}

/**** CATEGORY PAGE ****/

.cbCategoryList {
	margin: 8px 8px 8px 15px;
}
.cbCategoryList input{
	float: left;
}
.cbCategoryList label{
	padding-left: 10px;
}
.categoryTitle {
	padding: 3px 0px 0px 12px; 
	font-weight: bold;
	float: left;
}
.minus{
	padding: 3px 20px 0px 0px;
	font-weight: bold;
	float: right;
}
.plus{
	padding: 3px 18px 0px 0px;
	font-weight: bold;
	float: right;
}
.hideDisplay{
	display: none;
}
.titleBar {
	height: 24px; 
	width: 199px; 
	background:url(/img/title_bars/categoryTitle.png)
}

a.categoryBar {
	text-decoration: none;	
}

/*** Popup Div for item detail ***/

.itemOrderNow {
	width: 0px;
	float: left;
	text-align: center;
	margin: 18px 0px 0px 0px;	
}
.itemColorSelecter {
	width: 0px;
	float: left;
	text-align: center;
	margin: 18px 0px 0px 0px;	
}
.itemStatusBar {
	width: 0px;
	float: left;
	text-align: center;
	margin: 10px 0px 0px 0px;
	line-height: 22px;	
}
.itemDetailBody {
	padding: 15px 15px 15px 15px;
	background-color: #FFFFFF;
	float: left;
}
.itemDetailTitle {
	margin: -48px 0px 0px 0px;
	float: left;
	height: 64px;
	width: 30px;
	background:url(/img/popup/popTop.png);
	background-repeat: repeat-x;
}
.itemDetailFooter {
	margin: 0px 0px 0px 0px;
	float: left;
	width: 30px;
	height: 64px;
	background:url(/img/popup/popBottom.png);
	background-repeat: repeat-x;
}
.itemDetailLeft {
	margin: 0px 0px 0px -50px;
	float: left;
	height: 220px;
	width: 50px;
	background:url(/img/popup/popLeft.png);
	background-repeat: repeat-y;
}
.itemDetailRight {
	margin: 0px -50px 0px 0px;
	float: left;
	height: 220px;
	width: 50px;
	background:url(/img/popup/popRight.png);
	background-repeat: repeat-y;	
}
.popTitleBar {
	width: 100%;
}
.horizontalDivider {
	width: 0px;
	height: 1px;
	background-color: #e0e8f5;
}
#itemDetailContainer {
	display: none;
	background: white;
}

/*** Color Swatches ***/
                          
div.frameSwatches {
	background: url('/img/category/frameColors/color-swatches.png') top left no-repeat; 
	margin: 5px 0 0 5px; 
	float: left; 
	height: 20px; 
	width: 20px; 
}
div.Black{ background-position: 0 0; }
div.Blue_Violet { background-position: -20px 0; }
div.Brown{ background-position: -40px 0; }
div.Gold{ background-position: -60px 0; }
div.Gunmetal_Gray{ background-position: -80px 0; }
div.Red_Pink{ background-position: -100px 0; }
div.Silver{ background-position: -120px 0; }
div.Tortoise{ background-position: -140px 0; }
div.White{ background-position: -160px 0; }
div.Green{ background-position: -180px 0; }

div.frameSwatchesLeftSide {
	background: url('/img/category/frameColors/color-swatches-left.png') top left no-repeat; 
	height: 14px; 
	width: 14px; 
	margin: 2px 0 0 0;
}

div.Black-leftSide{ background-position: 0 0; }
div.Blue_Violet-leftSide { background-position: -14px 0; }
div.Brown-leftSide{ background-position: -28px 0; }
div.Gold-leftSide{ background-position: -42px 0; }
div.Gunmetal_Gray-leftSide{ background-position: -56px 0; }
div.Red_Pink-leftSide{ background-position: -70px 0; }
div.Silver-leftSide{ background-position: -84px 0; }
div.Tortoise-leftSide{ background-position: -98px 0; }
div.White-leftSide{ background-position: -112px 0; }
div.Green-leftSide{ background-position: -126px 0; }

span.imageDisplay {float: right;}
span.filterDisplay {float: left;}

div.frameShapesLeftSide {
	background: url('/img/category/frameShapes/frameShapesLeft.jpg') top left no-repeat; 
	margin: 2px 0 0 0;
	width: 41px;
	height: 14px;
}

div.Rectangle-leftSide{ background-position: 0 0; }
div.Round-leftSide{ background-position: 0 -14px; }
div.Oval-leftSide{ background-position: 0 -28px; }
div.Cat_Eye-leftSide{ background-position: 0 -42px; }
div.Aviator-leftSide{ background-position: 0 -56px; }
div.Unique-leftSide{ background-position: 0 -70px; }

#coupon_accepted{
	border: 1px solid #D0D0D0;
	background: #FFC;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 15px;
}