h1{ text-align: center; margin: 15px 0 }	
h2{ margin: 10px 0 }

html body #padded-body #banner{ display: block !important; margin: 0 auto; float: none; }

#padded-body{ padding: 20px }
#best-sellers{ text-align: center; margin: 10px 0 }

div.section{ border: 2px solid #a1b7d2; padding: 12px 0 0 12px; margin: 15px 0 }
div.section h3{ text-align: center }

div.section div.items div.category-link{ text-align: center; margin: 10px 0 }

.items{ padding:12px 0 0 12px }
.items div.item{
	float:left;
	width:215px;
	/* border:2px solid #a1b7d2; */
	margin:0 14px 14px 0;
	text-align:center;
	padding-top:18px;
	position: relative;
}
div.item div.img-cont{
	float:left; 
	width:233px; 
	height:80px;
}
div.item .pr-snippet-wrapper{
	float:left;
	padding:8px 0 0 30px;
	margin:0;
}
div.item p.retail,div.item div.price{
	float:left;
	padding:0;
	margin:0;
	width:233px;
	text-align:center;
}
div.item div.price { padding:0 0 10px 0 }
div.item a.description {
	text-decoration: none; 
	font-weight: bold; 
	font-size: 11.5px;	
}
div.item div.frame_color {
	font-size: 12px;
}
div.item div.colors {
	position: absolute;
	top: 3px;
	left: 15px;
	width: 150px;
	color: #779ab3;
}
div.item div.tryon {
	position: absolute;
	left: 169px;
	top: 0px;
}
div.item div.buttons {
	position: absolute;
	top: 213px;
	left: 15px;
}

div.item p.retail{color:#999;text-decoration:line-through}

p{ margin: 10px 0 }
