.myAccountContainer {
	margin: 0px 0px 50px 0px
}

/*** Left Column ***/
.myAccountNav {
	float: left;
	width: 269px
}
.navTop {
	text-align: center;
	margin: 20px 0px 0px 0px
}
.navLeft {
	float: left;
	margin: -3px 0px 0px 22px;
	width: 5px;
	height: 312px;
	background:url(/img/myAccount/navLeft.jpg);
	background-repeat: repeat-y
}
.navBody{
	margin: -3px 0 0 22px;
	width: 215px;
	background: url('/img/myAccount/nav-background.png') repeat-y;
	padding-left: 10px;
	float: left
}

.navBody ul{
	list-style: none;
	padding: 0 0 0 5px;
}

.navBody li hr{ width: 75%;
	margin: 0;
	clear: both;
	text-align: left;
	border: 1px solid black;
	border-width: 1px 0 0 0;
	height: 1px;
/*
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	*/
}

.navBody ul li{
	margin: 5px 0;
}
.navBody ul span.list-header{
	color: blue;
	cursor: pointer;
}

.navBody ul span.list-header.open{
	color: black;
}

.navBody ul ul.sublist{
	padding-left: 15px
}

.navRight {
	float: left;
	margin: -3px 0px 0px 0px;
	width: 5px;
	height: 312px;
	background:url(/img/myAccount/navRight.jpg);
	background-repeat: repeat-y
}
.navBottom {
	text-align: center	
}
.divider {
	background-color: #e0e0e0;
	width: 100%;
	height:	1px
}

/*** Right Column ***/

.myAccountContent {
	float: left;
	width: 899px;
	margin: 20px 0px 0px 0px	
}
.contentHeader {
	position: absolute;
	width: 236px
}
.headerText {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0px 0px 0px	
}
.content {
	margin: 17px 0px 0px 0px	
}
.contentTop {
	margin: 0px 0px 0px 0px
}
.contentBody {
	float:left;
	min-height: 270px;
	width: 668px;
	margin: -3px 0px 0px 0px;
	background-image:url(/img/myAccount/contentBackground.jpg);
	background-repeat: repeat-y;
	padding-left: 25px;
}

.contentBody a { text-decoration: underline !important }
.contentBody a:hover{ font-weight: normal !important }


/*** Generic Styles ***/

.required {
	color: red
}

/*** My Account Landing Page ***/

.boxDisplay {
	float: left;
	background-image: url(/img/myAccount/basicLayer.png);
	height: 159px;
	width: 159px;
	margin-left: 40px;
	text-align: center;
	margin-top: -13px;
}
.boxLink {
	color:black;
	text-decoration: none;	
}
.iconDisplay {
	margin-top: 15px	
}
.oneLineText {
	margin-top: 6px	
}
a:hover {
	text-decoration: underline;
	font-weight: bold;	
}
div.navBody ul li a:hover {
	text-decoration: underline;	
	font-weight: normal;
}
.boxDisplay p{ font-weight: bold; margin: 0; line-height: 1em }

/*** OTHERS ***/

.orderRow {
	margin: 10px 0 0 5px
}
.orderHeaderColumn {
	float: left;
	width: 13%;
	margin-left: 5px;
	text-align: right;
}
.orderColumn {
	float: left;
	width: 13%;
	margin-left: 5px;
	text-align: right;
}
.orderHeaderDisplay {
	font-weight: bold; 
}
.newNavTop {
width: 165px;
padding: 10px;
color: white;
background: url(/img/title_bg2.jpg) no-repeat top #343434;
text-align: center;
}
.newNavTop a {
color: white;
text-decoration: none;
font-size: 16px;
}
.newNavTop a:hover{ text-decoration: none;font-weight: normal;}
div.navBody {
 width: 163px;
padding: 10px;
 background: #fff;
 border: 1px solid grey;
 margin: 0;
 float: none;
 border-radius: 0 0 8px 8px;
}
div.myAccountNav{
 width: 209px;   
 margin-top: 20px;
}
.navBody ul {
    margin: 0;
    padding: 0;
}
.navBody li hr {
    width: 95%;
    color: #666;
    border: 1px solid #666;
    border-width: 1px 0 0 0;
}
div.navBody ul li {
    font-size: 14px;   
}
