body {
	background:url(/store/images/reloaded/reloaded_bg.jpg) repeat-x top left;
	background-color:#F4F7FB;
}
img {
	border:0;
	padding:0;
	margin:0;
}

/* commented backslash hack \*/ 
html, body{height:100%;} 
/* end hack */

#template_outer {
	display:block;
	width:985px;
	margin:0 auto;
	padding:0;
	background-color:#fff;	
	min-height:100%;
	height:auto;
	border-left:1px solid #AFCEED;
	border-right:1px solid #AFCEED;

}

* html #template_outer {
	height:100%;
}

#template_top_main {
	display:block;
	height:127px;
	margin:0;
	padding:0;	
}

#template_top_main_sub:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

#template_top_main_sub {
	display: inline-block;
}

/* Hides from IE Mac \*/
* html #template_top_main_sub {
	height: 1%;
}

#template_top_main_sub {
	display:block;
	margin:0;
	padding:0px;
	height:87px;
	background:url(/store/images/reloaded/top_mainbg.jpg) no-repeat bottom right;
}
/* End Hack */

#template_top_main div#top_logo {
	display:block;
	float:left;
	padding:3px 0 0 13px;
	margin:0;
	font-weight:bold;
	text-align:center;
}

.ts1,td.smText .linkD3{color:#464646}

#template_top_main div#top_navigation {
	display:block;
	float:right;
	width:600px;
	margin:13px 0 0 0;
	padding:0;
}

#top_navigation #hacker_safe {
	display:block;
	float:left;	
	padding:0;
	margin:0;
	height:36px;
	width:120px;
}

#top_navigation ul#top_nav_account {
	width:425px;
	display:block;
	margin:0;
	margin-right:-5px;
	padding:0;
	float:right;
	height:16px;
}

#top_navigation ul#top_nav_account img {
	vertical-align:top;
}

#top_navigation ul#top_nav_account li {
	display:inline;
}

#top_navigation ul#top_nav_account li a {
	padding-left:5px;
	padding-right:5px;
	margin:0;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
}

#top_navigation ul#top_nav_account li a:hover {
	text-decoration:underline;
}

#template_top_main div#top_navigationcart {
	display:block;
	float:right;
	width:640px;
	margin:0;
	padding:0;
	text-align:right;
}

#top_navigationcart #top_nameyoutrust {	
	display:block;
	float:left;
	margin:0 0 0 0;
	padding:0;
	width:317px;
}

#top_navigationcart ul#top_nav_cart {
	display:block;
	float:right;
	margin:0;
	padding:0 21px 0 0;	
	width:243px;
	height:16px;
}

#top_navigationcart ul#top_nav_cart img {
	vertical-align:top;
}

#top_navigationcart ul#top_nav_cart li, #top_navigation ul#top_nav_cart li a {
	display:inline;
	font-size:11px;
	font-weight:normal;
	height:16px;
}

#top_navigationcart ul#top_nav_cart li a {
	padding-left:5px;
	padding-right:8px;
	margin:0;
	color:#000;
	text-decoration:none;
}

#top_navigationcart ul#top_nav_cart li a:hover {
	padding-left:5px;
	padding-right:8px;
	margin:0;
	color:#000;
	text-decoration:underline;
}

#top_navigationcart ul#top_nav_cart li a.topcheckout {
	font-weight:bold;
	padding-right:0;
}


#top_nav_bar:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

#top_nav_bar {
	display: inline-block;
}

/* Hides from IE Mac \*/
* html #top_nav_bar {
	height: 1%;
}

#top_nav_bar {
	display:block;
	clear:both;
	margin:0;
	padding:0;
	height:37px;
	background:url(/store/images/reloaded/top_navbg.jpg) repeat-x bottom left;
}


#top_nav_menu {
	display:block;
	margin:0;
	padding:0;
	float:left;
	height:36px;
}

#top_nav_menu li {
	display:block;
	float:left;
	padding:0;
	margin:0;
	border-left:1px solid #7E9EDA;
	border-right:1px solid #BECEED;
}

#top_nav_menu li.first {
	border:0;
	border-right:1px solid #BECEED;
	padding-left: 10px
}

#top_nav_menu li.last {
	border-right:0;
}

#top_nav_menu li a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	line-height:17px;
	height:17px;
	display:block;
	float:left;
	margin:0;
	padding:8px 15px 5px 15px;
}

#top_nav_menu li a:hover {
	background:url(/store/images/reloaded/top_navbg_h.jpg) repeat-x top left;
}

#top_nav_menu li a.hover {
	background:url(/store/images/reloaded/top_navbg_h.jpg) repeat-x top left;
}

#top_nav_menu a.button_help:hover {
	text-decoration:underline;
}

#top_searchform {
	margin:0;
	padding:4px 29px 0 0;
	height:31px;
	display:block;
	float:right;
}

#template_content_main {
	display:block;
	margin:0 20px 0 20px;	
}

#template_content_main td {
	text-align:left;	
}

#template_content_main #page_currency_container {
	position:absolute;
	margin:0;
	padding:0;
	font-size:11px;
	background:#fff;
	width:120px;
	height:30px;
}

div.top_nav_menu_list {
	width:230px;
	position:absolute;	
	background-color:#8EAADF;
	border-left:1px solid #7E9EDA;
	border-right:1px solid #7E9EDA;
	border-bottom:1px solid #7E9EDA;
}

div.top_nav_menu_list ul {
	display:block;
	margin:0;
	padding:0;
}

div.top_nav_menu_list li {
	display:block;
	margin:0;
	padding:0;
}

div.top_nav_menu_list li a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	line-height:20px;
	height:20px;
	display:block;
	margin:0;
	padding:2px 10px;
}

div.top_nav_menu_list li a:hover, div.top_nav_menu_list li a:visited {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

div.top_nav_menu_list li a:hover{
	background: #688CCA;
}

#template_footer:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

#template_footer {
	display: inline-block;
}

/* Hides from IE Mac \*/
* html #template_footer {
	height: 1%;
}

#template_footer {
	display:block;
	margin:10px auto;
	margin-top:80px;
	padding:10px;
	text-align:left;
	background-color:#f3f3f3;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#tftable{
	float:left;
	border-collapse:collapse;
	margin-left: 110px;
}

#tfjoin{padding:4px 20px 14px 20px;border-right:1px dotted #ccc;height:100px}
#tfjoin form{float:left}
#tfjoin p{padding-left:2px}
#fbr{padding:17px 20px 0 20px;height:100px}
#fbbb{padding:17px 12px 0 0;height:100px}
#fcc{width:100px;padding:26px 4px 0 0;height:100px}
#fcc img{margin:0 8px 8px 0}
#fmca{padding:30px 12px 0 0;height:100px}
#fver{padding:10px 18px 0 0;height:100px}
#fsoc{padding:24px 0 0 16px;border-left:1px dotted #ccc;height:100px}

#flinks{margin:0 auto;text-align:center;border-bottom:1px dotted #ddd;padding:10px 0 18px 0}
#flinks ul{list-style:none;margin-right:12px}
#flinks li{display:inline}

#footer_ourlinks, #footer_ordertracking, #footer_help {
	display:block;
	float:left;
	height:70px;
	margin:0;
	padding:0 40px;
	border-right:1px dotted #ccc;
}

#footer_securelogos {
	display:block;
	text-align:right;
	float:right;
	margin:0;
	padding:7px 38px 0 40px;
	width: 260px;
}

#footer_securelogos ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer_securelogos li {
	float: left;
	padding-right: 5px;
	line-height: 80px;
	vertical-align: baseline;
}


#template_footer a {
	text-decoration:none;
	font-size:11px;
}

#template_footer h4 {
	margin:0;
}


#howtoorderMenu {
	position:absolute;
	top:0;
	left:0;
	width:250px;
	height:430px;
}

#howtoorderMenuInner {
	border:1px solid #99B5E3;
	background-color:#fff;
	width:250px;
	height:428px;
}

#howtoorderMenuContent {
	padding:10px;
}

#howtoorderMenuContent p {
	margin-top:0;
	text-align:right;
}

#howtoorderMenuContent div.howtoorder_image {
	float:left;
	width:50px;
}

#howtoorderMenuContent div.howtoorder_text {
	float:left;
	width:170px;
	margin-bottom:20px;
}




/****** START ************* LOGIN MENU FLY OUT *******************/

#loginMenu {
	margin:0;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	width:250px;
	height:142px;
}

#loginMenuInner {
	border:1px solid #99B5E3;
	background-color:#fff;	
	width:250px;
	height:140px;
}

#loginMenuContent {
	margin:0;
	padding:10px;
	height:120px;
}

#loginMenu p {
	margin:0;
	text-align:right;
}

#loginMenu form {
	margin:0;
	padding:0;
}

/****** END ************* LOGIN MENU FLY OUT *******************/




/****** START ************* CURRENCY MENU FLY OUT *******************/

#currencyMenu {
	margin:0;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	width:95px;
	height:375px;
}

#currencyMenuInner {
	border:1px solid #99B5E3;
	background-color:#fff;	
	width:95px;
	height:373px;
}

#currencyMenuContent {
	margin:0;
	padding:5px;
	height:363px;
}

/****** END ************* CURRENCY MENU FLY OUT *******************/

#productListFilter {
	font-weight:bold;
}

#productListFilter .productFilterItem {
	float:left;
	display:block;
	color:#F79B11;
	font-weight:bold;
	font-size:11px;
	margin-left:20px;
}

#productListFilter .productFilterItem select {
	display:block;
	font-size:11px;
	font-family:verdana;
	font-weight:normal;
}

#cart-rx td{border:1px solid #000}
#cart-lensopts td{border:1px solid #000}

#recent_items{float:left;padding-left:130px}
#recent_items div{display:block;float:left;width:140px;text-decoration:none;text-align:center;border:1px solid #afceed;padding:10px 0;margin:4px 39px 0 0}
#recent_items span{display:block;width:100px;height:48px;margin:0 auto}
#recent_items span img{float:left}
#recent_items p.price{padding-top:8px;font-weight:bold}
#recent_items p.title{display:block;height:50px;padding-top:4px}
#recent_items p span{line-height:19px}

#fpvs *{float:left}
