/*extra css*/
.category_bg {  border:1px solid #e6e6e6; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0px 0px 5px 5px rgba(246, 246, 246, 1); box-shadow: inset 0px 0px 2px 2px rgba(246, 246, 246, 1);  margin:0 15px 0 0; float:left; width:908px; padding:18px 36px 18px 36px; font-size:13px; }
.category_bg ul { margin:0; padding:0; list-style-type:none;}
.category_bg li { float:left; width:227px;font-family: 'open_sansbold'; font-size:11px;}
.category_bg li a:link, .category_bg li a:visited { color:#075474; text-decoration:none;background:url(../images/arrow_icon.png) 5px 4px no-repeat; padding:0 0 0 20px}
.category_bg li a:hover {background:url(../images/arrow_icon_h.png) 5px 4px no-repeat; color:#ea9800;}
.category_bg li.active a {background:url(../images/arrow_icon_h.png) 5px 4px no-repeat; color:#ea9800;}
.product_cont3 {border: 1px solid #6F6F6F; float: left; padding: 9px 9px; width: 970px; margin-top:15px; margin-bottom:15px;}
.product_box2 { border: 1px solid #DBDBDB; float: left; margin: 0 5px 10px 5px; padding: 15px; position: relative; width:443px;}
.product_box2:hover { -webkit-box-shadow: inset 0px 0px 5px 5px rgba(195, 195, 195, 0.4); box-shadow: inset 0px 0px 5px 5px rgba(195, 195, 195, 0.4); border:1px solid #0c83b4; }
.product_box2:hover .try_on{ display:block; }
.left_info { width:225px; float:left; padding:28px 0;}
.left_info img { float:right;}
.right_info { width:189px; float:right; font-size:12px; padding:28px 0 28px 20px;}
.right_info span {font-family: 'open_sansbold'; font-size:18px; font-weight:normal; margin-bottom:15px; float:left; display:block; clear:both; width:100%;}