html,body{font-family:Verdana, Arial;font-size:12px;margin:0;padding:0;color:#000;background:#F4F7FB url(/img/template/reloaded_bg.jpg) repeat-x top left;height:auto}
body *{padding:0;margin:0;font-weight:normal;text-decoration:none}
body table{border-collapse:collapse}
body img{border:0}
body a{color:#0034ff;outline:none}
body strong{font-weight:bold}

#container{width:985px;margin:0 auto;height:auto}
#template_outer{float:left;width:985px;background-color:#fff;border-left:1px solid #AFCEED;border-right:1px solid #AFCEED;height:auto}
#template_top_main{float:left;width:985px;height:127px;position:absolute;top:0;clear:both}
#template_top_main_sub{float:left;width:985px;height:87px;background:url(/img/template/top_mainbg2.jpg) bottom right no-repeat}
#top_logo{float:left;padding:3px 0 0 13px;font-weight:bold;text-align:center}
#top_navigation{float:right;width:660px;margin:13px 0 0 0}
#top_nav_account{float:right;width:407px;height:16px}
#top_nav_account li,#top_nav_cart li{display:inline}
#top_nav_account li a{padding:0 5px;color:#000;text-decoration:none;font-weight:bold;font-size:11px}
#hacker_safe{float:left;height:36px;width:120px;margin-top:-4px}
#vseal{float:left;padding:0 0 0 38px;margin-top:-6px}
#hacker_safe img,#vseal img{float:left}
#top_navigationcart{float:right;width:670px;text-align:right}
#top_nameyoutrust{float:left;width:317px;padding:3px 0 0 33px}
#top_nav_cart{float:right;padding:9px 21px 0 0;width:243px;height:16px}
#top_nav_cart a{font-weight:normal;height:16px;padding:0 8px 0 5px;color:#000;text-decoration:none}
#top_nav_cart a:hover{text-decoration:underline}
#top_nav_cart a.topcheckout{font-weight:bold;padding-right:0}
#top_nav_cart img{vertical-align:top}

#top_nav_bar{float:left;width:985px;height:37px;background:url(/img/template/top_navbg.jpg) bottom left repeat-x}
#top_nav_menu{float:left;width:985px;height:36px;list-style:none}
#top_nav_menu li{float:left;border-left:1px solid #7E9EDA;border-right:1px solid #BECEED}
#top_nav_menu li.first{border:0;border-right:1px solid #BECEED;padding-left: 72px}
#top_nav_menu li.last{border-right:0}
#top_nav_menu a{color:#fff;font-weight:bold;line-height:17px;height:17px;display:block;float:left;padding:8px 25px 5px 25px;background:url(/img/template/nav-bg.png)}
#top_nav_menu li a:hover{}

#top_nav_menu ul{position:absolute;width:230px;list-style:none;margin:30px 0 0 0;background:#88ace0;border:1px solid #77a0db;border-top:none;left:-999em}
#top_nav_menu ul li{border:none}
#top_nav_menu ul a{width:210px;text-decoration:none;color:#fff;font-weight:bold;line-height:20px;height:20px;display:block;padding:2px 10px;border:none;background:none}
#top_nav_menu ul a:hover{background:#77a0db}
#top_nav_menu li:hover ul ul, #top_nav_menu li:hover ul ul ul, #top_nav_menu li.sfhover ul ul, #top_nav_menu li.sfhover ul ul ul{left:-999em}
#top_nav_menu li:hover ul, #top_nav_menu li li:hover ul, #top_nav_menu li li li:hover ul, #top_nav_menu li.sfhover ul, #top_nav_menu li li.sfhover ul, #top_nav_menu li li li.sfhover ul{left:auto}
#top_nav_menu li:hover a,#top_nav_menu li.sfhover a,#top_nav_menu li:hover li:hover a,#top_nav_menu li.sfhover li.sfhover a,#top_nav_menu li:hover li:hover li:hover a,#top_nav_menu li.sfhover li.sfhover li.sfhover a,#top_nav_menu li:hover li a:hover,#top_nav_menu li.sfhover li a:hover,#top_nav_menu li:hover li:hover li:hover a:hover,#top_nav_menu li.sfhover li li a:hover{background-position:0 -30px}

#top_nav_menu a.button_help:hover{background-position:0 0;text-decoration:underline}

#main-content{float:left;width:985px;margin-top:127px}
#main-content div.top-left{float:left;width:691px;padding:0 0 0 19px}
#main-content div.top-left h1{float:left;padding:0 0 12px 0}
#main-content div.top-left h2{float:left;width:672px;padding:20px 0;text-align:center}
#main-content div.top-left h2, #main-content div.top-left h2 *{font-weight:bold}

#logos{float:left;width:672px}
#logos img{float:left}
#logos div{float:left;padding:0 0 0 43px}

#main-content div.top-right{float:right;width:262px;padding:8px 0 0 0}
#main-content div.top-right ul{float:left;list-style:disc inside url(/img/template/checkmark_01.gif);line-height:17px}
#best-seller{width:243px;float:left;margin-top:30px}
#best-seller div{float:left;width:229px;border:7px solid #dbe5f2;border-top:none;text-align:center;padding:11px 0 6px 0}
#best-seller div img{vertical-align:top}
#best-seller div strong{display:block;margin:4px auto 6px auto}
#secicons{float:left;width:159px;padding:14px 59px 0 25px}
#secicons img{float:right}
#secicons img.bbb{margin-left:15px}
#secicons img.ver{margin-bottom:6px}

#subcontent{float:left;width:947px;padding:17px 19px 80px 19px}
#categories{float:left;width:933px;border:7px solid #dce5f2}
#categories span.bc02,#categories div.c7 p{display:block;float:left;width:226px;text-align:center;padding:8px 0 12px 0}
#categories span.img{display:block;float:left;width:226px;height:86px;text-align:center}
#categories a,#categories div.c7{display:block;float:left;width:226px;height:156px;text-align:center;padding:16px 0 0 0}
#categories a.c1,#categories a.c2,#categories a.c3,#categories a.c5,#categories a.c6,#categories div.c7{border-right:7px solid #dce5f2}
#categories a.c1,#categories a.c2,#categories a.c3,#categories a.c4{border-bottom:7px solid #dce5f2}
#categories a.c4,#categories a.c8{width:234px}
#categories a:hover,#categories a:hover span.bc02,#categories div.c7 a:hover{text-decoration:underline}
#categories div.c7 a{display:inline;float:none;width:auto;padding:0;text-decoration:none}

#text-content{float:left;width:947px;padding:24px 0 0 0}
#news{float:right;border:1px solid #dde5f2;width:216px;padding:9px 12px 9px 12px;margin:0 0 24px 24px}
#news ul{list-style:none;padding:0;margin:8px 0 18px 0}
#news li{padding-bottom:8px}
#text-content h3{padding-bottom:8px}
#text-content p{line-height:17px;padding-bottom:24px}
img.content-girl{float:right;margin:12px 0 12px 24px}

#footer{float:left;width:955px;background:#f3f3f3;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0 10px 30px}
#footer div.social{float:right;width:116px;height:78px;border-left:1px dotted #ccc;padding:24px 18px 0 17px}
#footer div.social-nomail{padding-right:143px}
#footer div.icons{float:right;width:568px;height:102px;border-left:1px dotted #ccc;padding:0 18px 0 0}
#footer div.icons-nomail{border-left:none}
#footer div.icons div{float:right}
#footer img.cards{float:right;margin:26px 18px 0 12px}
#footer div.verisign{padding:10px 0 0 0}
#footer div.truste{padding:28px 8px 0 0}
#footer div.bbb{padding:17px 0 0 20px}
#footer div.bizrate{padding:17px 0 0 0}
#footer div.mail{float:left;padding:16px 0 0 0}
#footer div.mail form{padding:16px 0 0 0}

#flinks{float:left;width:985px;text-align:center;padding:32px 0}
#flinks ul{list-style:none}
#flinks li{display:inline}
#fl-bot{margin-top:12px}

#copyright{float:left;width:985px;padding:10px 0;text-align:center;border-top:1px dotted #ccc}

#loginMenu{position:absolute;top:0px;width:250px;height:142px;margin:34px 0 0 630px}
#loginMenuInner{border:1px solid #99B5E3;background-color:#fff;width:250px;height:140px}
#loginMenuContent{padding:10px;height:120px}
#loginMenu p{text-align:right;padding:0 0 5px 0}

#howtoorderMenuContent p,#howtoorderMenu div.close{text-align:right}
#howtoorderMenu{position:absolute;top:0;width:250px;height:430px;margin:34px 0 0 630px}
#howtoorderMenuInner{border:1px solid #99B5E3;background-color:#fff;width:250px;height:428px}
#howtoorderMenuContent{padding:10px}
#howtoorderMenuContent div.howtoorder_image{float:left;width:50px}
#howtoorderMenuContent div.howtoorder_text{float:left;width:170px;margin-bottom:20px}

#currencyMenu{position:absolute;top:0px;width:95px;height:375px;margin:34px 0 0 820px}
#currencyMenuInner{border:1px solid #99B5E3;background-color:#fff;width:95px;height:373px}
#currencyMenuContent{padding:5px 11px 5px 0;height:363px}
#currencyMenuContent div{float:right;padding:5px 0}
#currencyMenuContent a img{float:right}
#currencyMenuContent p{float:right}

#crumbs{float:left;padding-top:4px}
#crumbs a{text-decoration:underline}
#crumbs p{float:left;width:700px;padding:12px 0 0 0}

#fmenu{float:left;padding:0 0 24px 0}
#fmenu strong{float:left}
#fmenu ul{float:left;margin-left:12px;list-style:none}
#fmenu li{float:left;padding-right:6px}

table.ftable{border:1px solid #3272bf;margin-bottom:12px;width:100%}
table.ftable td.fhead{height:30px;background:url(/img/template/blue-box-title.png) 0 0 no-repeat;line-height:23px;color:#ffffff;font-size:12px;font-weight:bold;padding:0 0 0 4px;margin:0;vertical-align:top}
table.ftable td.flist{padding:12px 0 12px 12px}
table.ftable td.fframe{padding:0 0 20px 0;vertical-align:top}
table.ftable td.fframe img{float:left}
table.ftable td.fframe div{float:right;width:200px;padding:0 12px 0 24px}

p.error{font-weight:bold;color:red;font-size:12px;padding-bottom:12px}

#sec-container{width:947px;float:left;padding:17px 0 0 0}

#sec-container.c1 div{float:left;width:409px;height:133px;border:1px solid #3171bf;margin:11px 11px 0 0;display:inline}
#sec-container.c1 img{float:left;margin:12px 0 0 8px}
#sec-container.c1 h2{float:left;width:405px;height:30px;background:url(/img/template/blue-box-title.png) 0 0 no-repeat;line-height:23px;color:#fff;font-size:12px;font-weight:bold;padding-left:4px}
#sec-container.c1 a{text-decoration:underline;font-weight:bold}
#sec-container.c1 p{float:right;width:192px;padding:28px 0 0 8px}

#sec-container.c2 td.ctext{width:180px}
#sec-container.c2 a,#sec-container.c3 a{text-decoration:underline}

#sec-container.c3{}

#sec-container h4{padding-bottom:12px}

#center-container{width:705px;margin:0 auto}

table.userform1{margin-top:12px}
table.userform1 td.fhead{background:#e2e2e2;border-right:6px solid #fff;border-bottom:6px solid #fff;padding:4px 10px 4px 4px}
table.userform1 td.submit{padding-top:12px}
table.userform1 td.tarea strong{display:block;float:left;padding:12px 0 6px 0}

#affiliate-program,#sf-status{padding-top:18px}
#cs-menu{list-style:none;margin:14px 0 12px 0}
ul.content-list{margin:14px 14px 14px 18px}

#step-header{float:left;width:947px}
#step-header div.sh-right{float:right;width:540px;padding-top:3px}
#step-header div.sh-left{float:left;width:400px}

#step_progress td{vertical-align:text-top;color:#999;font-weight:bold;width:180px;height:24px;margin:0;line-height:18px;background:url(/img/template/stepbg_grey.gif) repeat-x 0px 19px}
#step_progress td.stepactive{color:#F93;background:url(/img/template/stepbg_active.gif) repeat-x 0px 19px}

#account-form table{background:#aec8ed;width:700px}
#account-form td.shead{background:#678fc5;padding:6px}
#account-form td.shead span{font-weight:bold}
#account-form td{vertical-align:top;padding:6px}
#account-form td.f1{padding-top:18px}
#account-form td.fhead{text-align:right}
#account-form b{font-weight:bold}

#cp-form table{background:#aec8ed}
#cp-form td{vertical-align:top;padding:6px}
#cp-form td.fhead{text-align:right}

span.lenstint{border:solid #000000 1px;color:#000000;width:10px;height:10px;overflow:hidden;display:inline}

#contacts-t2 td{padding:4px}
#contacts-t2 tr.thead td{background:#cccccc}
#contacts-t2 td.d1{text-align:center;color:#0034ff}
#contacts-t2 td.d2,#contacts-t2 td.chead{text-align:center;padding:4px 10px}

#step1-container{float:left}
#step1-container ul{float:left;list-style:none;width:705px;background:url(/img/template/step1-bg.png) 0 0 no-repeat}
#step1-container li{float:left;padding-left:16px;line-height:31px}
#step1-container li.s1{width:215px}
#step1-container li.s2{width:192px}
#step1-container li.s3{width:250px}
#step1-container img{float:left}
#step1-container form{float:left;width:705px;background:url(/img/template/step-form-bg.png) 0 0 repeat-y}
#step1-container form ul{float:left;list-style:none;width:auto;background:none;margin-top:10px}
#step1-container form li{float:none;line-height:24px;padding-left:24px}
#btn-step1{float:right;margin:45px 10px 4px 0;display:inline}

#step1-faceframe{float:left;width:705px}
#step1-face{float:right;width:220px;padding:7px 0 0 0}
#smartfitShape{float:right;width:198px;height:297px;border:1px solid #999}

#sfselector{float:right;width:200px;border:1px solid #999;border-top:none}
#sfselector table{width:100%}
.smTextWhite {color: #FFFFFF; font-size: 11px; font-weight: bold;}
.smTextSmartFit {color: #FFFF00; font-weight: bold;}
.smText {font-size: 11px;}

#facebook,#sharethis{float:right;width:200px;padding-top:20px;text-align:center}
#step1-frame{float:left;width:478px;text-align:center;padding:30px 0 0 0}
#framedesc{width:350px;margin:0 auto;padding:18px 0 24px 0}
#step1-specs{width:450px;float:right}
#step1-specs th,#step1-specs td{vertical-align:top;text-align:left}
#framespecs{padding:20px 14px 0 0}
#framespecs table td{padding-bottom:8px}
#framespecs table th{font-weight:bold;padding-right:12px;line-height:17px}
#framespecs #fsdiv{padding:4px 0 18px 0}
#framerevs{padding:12px 0 0 20px}
#framepdf{float:left;padding:12px 0 0 0}
#sec-container.c3 #framepdf a{display:block;float:left;width:203px;height:90px;background:url(/img/template/framepdfbg.png) 0 0 no-repeat;text-decoration:none}
#framepdf a img{float:left;display:inline;margin:8px 0 0 26px}
#framepdf a span{display:block;float:left;padding:0 0 0 54px}
#fscontainer{float:right;margin: 0px 0px 0px 25px;}
#flexspending{display:block;float:left;width:188px;height:80px;background:url(/img/template/FSA-icon.jpg) 0 0 no-repeat;text-align:center}
#flexspending span{display:block;padding-top:46px}
#orderhelp{float:left;width:268px;height:80px;background:url(/img/template/39dollarglasses-phone-support.jpg) 0 0 no-repeat;padding:1px 9px 0 0; text-align:right;}

#productLiveSupport{float: left; margin: 0px 0px 0px 15px;}
#scTVPJ table{float:right}

.clearb{clear:both;font-size:0px;line-height:0px;height:0px}
.clearr{clear:right;font-size:0px;line-height:0px;height:0px}
.clearl{clear:left;font-size:0px;line-height:0px;height:0px}

a.anchor{float:left;line-height:1px}
.lflt{float:left}
.rflt{float:right}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}

.bc04,.bc07{font-size:10px}
.bc01{font-size:11px}
.bc02,.bc09{font-size:12px}
.bc11{font-size:13px}
.bc06,.bc08{font-size:14px}
.bc05,.bc10,.bc12{font-size:16px}
.bc03{font-size:24px;}
.bc13{margin-left: 120px;}

.bc02,.bc07{color:#0034ff} /* blue */
.bc04{color:#464646} /* dark gray */
.bc05{color:#c93400} /* red */
.bc08,.bc11{color:#ffffff} /* white */
.bc12{color:#27a500} /* green */

.bc06,.bc10,.bc11{font-weight:bold}

a.bc02,a.bc04,a.bc07{text-decoration:underline}

/* legacy styles - flypage (step 1) */

#largeFrameLayer{position:absolute;padding:0 10px 10px 0;z-index:500}
#largeFrameLayerContent{margin:0;padding:0;text-align:right}
#largeFrameLayerContent img{border:0;margin:0;padding:0}
.largeFrameImage{background-color:#fff;border: 1px solid #a9a9a9}
table.pop_box_table{border-collapse:collapse;width:440px;table-layout:fixed}
table.pop_box_table td{font-size:11px;color:#000;line-height:100%;text-align:left}
td.pop_box_topleft,td.pop_box_topright,td.pop_box_bottomleft,td.pop_box_bottomright{height:10px;overflow:hidden;padding:0px;width:10px}
td.pop_box_topleft{background-image:url('/img/template/pop_box_top_left.png')!important;background-image: none}
td.pop_box_topright{background-image:url('/img/template/pop_box_top_right.png')!important;background-image: none}
td.pop_box_bottomleft{background-image: url('/img/template/pop_box_bottom_left.png')!important;background-image: none}
td.pop_box_bottomright{background-image: url('/img/template/pop_box_bottom_right.png')!important;background-image:none}
td.pop_box_border{background-image:url('/img/template/pop_box_border.png')!important;background-image:none}
td.pop_box_content{background-color:#fff;padding:0px;margin:0;width:300px}
td.pop_box_content div.pop_box_main_content{display:block;border: 1px solid #6489CD;border-top-width: 0px;width:418px}
div.pop_box_main_content .pop_box_close{display:block;width:100%;margin:0;padding:0;height:20px}
div.pop_box_main_content .pop_box_close a{margin:5px 5px 0 0;padding:0;display:block;float:right}
#infoLayer{margin:0;padding:0;position:absolute;z-index:501}
#infoLayerContainer{border:1px solid #666;background:#fff;margin:0;padding:0;padding-bottom:5px;text-align:left;top:20px;left:20px}
#infoLayerHead{margin:0;padding:0;cursor:move;background:url('/img/template/colorPreviewbg.jpg') repeat-x bottom left;border-bottom:1px solid #3B5998}
#infoLayerHead a{text-decoration:none}
#infoLayerHeadTitle{color:#fff;font-size:14px;font-weight:bold;padding-left:12px;padding-bottom:10px;line-height:18px}
#infoLayerHeadClose{padding-top:2px;padding-right:4px;background:none;float:right}
#infoLayerHeadClose img{border:0;cursor:pointer;width:21px;height:21px}
#infoLayerContent{display:block;margin:0;padding:0;text-align:left;overflow:auto;line-height:15px}
#infoLayerContent p{line-height:15px;margin:0;margin-bottom:10px}
#infoLayerContent ul{padding:0 10px 0 20px;margin:0;list-style:outside}
#infoLayerContent li{padding-bottom:8px}
#infoLayerContent em{font-weight:normal;font-style:italic}
#infoLayerContent h1{line-height:18px}
#infoLayerContent td{vertical-align:top}
#step1Container{float:left;text-align:left;display:block;margin:auto;padding:20px 0 0 0;width:760px;margin-top:20px}
#step1Container p{text-align:center}
#step1Details{display:block;margin:0;padding:0;margin:auto;width:500px;float:left}
#step1Description{text-align:center;display:block;margin:0;padding:0;margin:auto;width:400px}
#step1Description table{margin-top:15px}
#step1InfoContainer{display:block;margin:0;padding:0;width:460px;margin-left:49px}
#step1Specification{display:block;margin:0;padding:0;float:left;margin-right:20px}
#step1Specification table.specTable{margin-bottom:10px;width:230px}
#step1Specification table.specTable th{font-size:11px;font-weight:bold}
#step1Specification table.specTable td{font-size:11px}
#step1Specification table img.seperator_dotted{margin:5px 0 5px 0}
#Step1Information{display:block;margin:0;padding:0;float:right;width:200px}
#Step1Information p{text-align:center}
#step1Options{display:block;margin:0;padding:0;margin:0;margin-left:0;width:560px}
#step1Options #step1box{margin-top:10px;width:550px}
#step1SmartfitShapes{padding-right:20px;float:right}
#step1SmartfitShapes .faceshape_content{height:60px;background:url(/img/template/step_facebg.gif) no-repeat bottom left}
#step1SmartfitShapes .faceshape_content table{margin-top:5px}

#step1box #form_error_display{width:250px}
#step1box{width:600px;margin-top:0}
.stepbox{text-align:left}
.stepbox .steptitle{height:34px;background:url(/img/template/step_titlebg_r.jpg) no-repeat top right}
.stepbox .steptitle h2{height:30px;font-size:14px;text-align:left;margin:0;padding-left:16px;padding-top:4px;background:url(/img/template/step_titlebg_l.jpg) no-repeat top left;color:#fff}
.stepbox .stepmain{margin:0;float:left;width:100%;background:url(/img/template/step_bg_r.gif) no-repeat bottom right}
.stepbox .stepcontent{float:left;width:100%;margin:0;padding:0;background:url(/img/template/step_bg_l.gif) no-repeat bottom left}

#form_error_display{display:none;width:500px;padding:0;margin-left:50px;margin-top:5px}
#form_error_display ul,#form_error_display ul li{margin:0;padding:0}
#form_error_display ul{padding-left:20px}
#form_error_display ul li{margin:6px 0}
#form_error_display div#form_error_msg{display:block;border:1px solid #FF7171;color:#f00;background:#FFF9EA;text-align:left;padding:3px 7px;font-weight:normal}

#proceedButton_step1,#proceedButtonOver_step1{width:100px;float:right;margin-right:20px;margin-top:24px}
.stepbox .radio_group,.stepboxsummary .radio_group{margin:10px;display:block;padding:0;text-align:left}

#recent_items{float:left;width:705px;padding:48px 0 0 9px}
#recent_items div{float:left;width:100px;height:140px;padding:12px;margin:18px 14px 0 0;display:inline;border:1px solid #afceed}
#recent_items span{display:block;float:left;width:100px;height:50px}
#recent_items span img{float:left}
#recent_items p span{display:inline;float:none;width:auto;height:auto;line-height:19px;font-size:10px;color:#000000}
#recent_items p.price{font-weight:bold;float:left;width:100px}
#recent_items p.title{float:left;width:100px;height:80px}

#general_help{float:left; width:688px; padding: 0px 0px 0px 9px;}
#general_help div{float:left;}


