body {
  font-family: Verdana, Arial;
  font-size: 12px;
  margin:0;
  line-height: 16px;
  background: #fff;
}
#thirty-nine-dollar-glasses-com{background: #F4F7FB url(/img/template/reloaded_bg.jpg) repeat-x top left }
table, tbody {
	margin:0;
	padding:0;
	
}

td.maincontent form {
	margin:0;
	padding:0;	
}

em {
	font-style: normal;
	font-weight: 700;
}

img {
	border:0;
}

td,th {
  font-family: Verdana, Arial;
  font-size: 12px;
  line-height: 16px;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Arial; 
	font-style: normal;
	font-weight: 700;
}

h1 {
	font-size: 18px;
	color: #663300;
	margin-top: 0.3em;
	margin-bottom: 0.333em;
}

h2 {
	font-size: 18px;
	margin-top: 0.3em;
	margin-bottom: 0.333em;
}

h3 {
	font-size: 16px;
	margin-top: 0.3em;
	margin-bottom: 0.333em;
}

h4 {
	font-size: 14px;
	margin-top: 0.3em;
	margin-bottom: 0.333em;
	line-height: 18px;
}

h5 {
	font-size: 12px;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

h6 {
	font-size: 12px;
	margin-top: 0.75em;
	margin-bottom: 0em;
}

/* drop down menu settings */
a.dmenu:link {
	font-size: 12px;
	font-family: Verdana, Arial;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

a.dmenu:visited {
	font-size: 12px;
	font-family: Verdana, Arial;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

a.dmenu:active {
	font-size: 12px;
	font-family: Verdana, Arial;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

a.dmenu:hover {
	font-size: 12px;
	font-family: Verdana, Arial;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

/* clickable star for small frame guidelines */
a.linkF:link {
	font-size: 13px;
  font-family: Verdana;
  font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}

a.linkF:visited {
	font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
    color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}

a.linkF:active {
	font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
    color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}

a.linkF:hover {
	font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
    color: #FFFFFF;
	text-decoration: underline;
	line-height: 14px;
}

/*
========================================================================================
START - NEW STEP 1,2,3 STYLES
========================================================================================
*/

/***** START - NEW GREEN BUTTONS *****/

div.proceedButton, div.proceedButtonOver {
	height:31px;
	line-height:31px;
	display:block;
	width:auto;
	margin:0;
	border:0;
	padding:0;
	background:url(/store/images/greenbuttons/button_r.gif) no-repeat top right;
}

div.proceedButton a, div.proceedButtonOver a,
div.proceedButton a:link, div.proceedButtonOver a:link,
div.proceedButton a:visited, div.proceedButtonOver a:visited {
	color:#336600;
	font-size:13px;
	text-decoration:none;
	height:36px;
	display:block;
	margin:0;
	border:0;
	padding:5px 0 0 10px;
	background:url(/store/images/greenbuttons/button_l.gif) no-repeat top left;
	
}

div.proceedButton a:hover, div.proceedButtonOver a:hover {
	color:#336600;
	font-size:13px;
	text-decoration:none;
	background:url(/store/images/greenbuttons/button_l_o.gif) no-repeat top left;
}

div.proceedButton a b, div.proceedButtonOver a b {
	font-weight:bold;
}

div.proceedButtonOver {
	background:url(/store/images/greenbuttons/button_r_o.gif) no-repeat top right;
}

div.proceedButtonOver a {
	background:url(/store/images/greenbuttons/button_l_o.gif) no-repeat top left;
}

div#order_button_div {
	margin-top:10px;
}


/* CUSTOM STYLES FOR EACH BUTTON */

#proceedButton_step1, #proceedButtonOver_step1 {
	width:100px;
	float:right;
	margin-right:20px;
	margin-top:24px;
}

#proceedButton_step2, #proceedButtonOver_step2 {
	float:right;
	width:100px;
	margin:-30px 20px 20px 0;
}


/***** END - NEW GREEN BUTTONS *****/

#step2container #step_progress, #step3container #step_progress {
	margin:auto;
}

#step_progress td {
	vertical-align: text-top;
	color:#999;
	font-weight:bold;
	width:180px;
	margin:0;
	line-height:35px;
	background:url(/store/images/blueyellow/stepbg_grey.gif) repeat-x 0px 27px;
}

#step_progress td.stepactive {
	color:#F93;
	background:url(/store/images/blueyellow/stepbg_active.gif) repeat-x 0px 27px;
}


#form_error_display {
	display:none;
	width:500px;
	padding:0;
	margin-left:50px;
	margin-top:5px;
}

#form_error_display ul, #form_error_display ul li {
	margin:0;
	padding:0;
}

#form_error_display ul {
	padding-left:20px;
}

#form_error_display ul li {
	margin:6px 0;
}

#lenspackage #form_error_display {
	margin:auto;
}

#form_error_display div#form_error_msg {
	display:block;
	border:1px solid #FF7171;
	color:#f00;
	background:#FFF9EA;
	text-align:left;
	padding:3px 7px;
	font-weight:normal;
}

#step1box #form_error_display {
	width:250px;
}

#item_smartfit {
	clear:left;
	float:left;
	width:300px;
}

#item_content {
	width:auto;
	float:left;
}

.clearb {
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
}
.clearr {
	clear:right;
	font-size:0px;
	line-height:0px;
	height:0px;
}
.clearl {
	clear:left;
	font-size:0px;
	line-height:0px;
	height:0px;
}

#step1box {
	width:600px;
	margin-top:0;
}

.step2box {
	width:800px;
	margin:auto;
	margin-top:10px;
}

#step2Summary div.stepmain div.stepcontent{
	padding-left: 50px 
}

#nosepositionbox div.stepmain div.stepcontent div.radio_group{
	margin-left: 50px
}

.step3box {
	width:800px;
	margin:auto;
	margin-top:10px;
}
.step3boxContainer {
	width:700px;
	margin:auto;
	margin-top:10px;
}

.stepbox {
	text-align:left;
}

.stepbox .steptitle {
	height:34px;
	background:url(/store/images/blueyellow/step_titlebg_r.jpg) no-repeat top right;
}
.stepbox .steptitle h2 {
	height:30px;
	font-size:14px;
	text-align:left;
	margin:0;
	padding-left:16px;
	padding-top:4px;
	background:url(/store/images/blueyellow/step_titlebg_l.jpg) no-repeat top left;
	color:#fff;
}
.stepbox .stepmain {
	margin:0;
	float:left;
	width:100%;
	background:url(/store/images/blueyellow/step_bg_r.gif) no-repeat bottom right;	
}
.stepbox .stepcontent {
	float:left;	
	width:100%;
	margin:0;
	padding:0;
	background:url(/store/images/blueyellow/step_bg_l.gif) no-repeat bottom left;	
}

#costCalc.stepbox .steptitle {
	background:url(/store/images/blueyellow/step_titlebg_orange_r.jpg) no-repeat top right;
}
#costCalc.stepbox .steptitle h2 {
	height:29px;
	color:#fff;
	font-weight:700;
	font-size:20px;
	margin:0;
	padding:0;
	padding-top:5px;
	text-align:center;
	background:url(/store/images/blueyellow/step_titlebg_orange_l.jpg) no-repeat top left;
}
#costCalc.stepbox .stepmain {
	margin:0;
	padding:0;
	float:left;
	width:100%;
	background:url(/store/images/blueyellow/step_bg_orange_r.gif) no-repeat bottom right;	
}
#costCalc.stepbox .stepcontent {
	float:left;
	width:100%;
	margin:0;
	padding:10px 0 0;	
	background:url(/store/images/blueyellow/step_bg_orange_l.gif) no-repeat bottom left;	
}


.stepboxsummary .steptitle {
	height:34px;
	background:url(/store/images/blueyellow/step_titlebg_orange_r.jpg) no-repeat top right;
}
.stepboxsummary .steptitle h2 {
	height:30px;
	font-size:14px;
	text-align:left;
	margin:0;
	padding-left:16px;
	padding-top:4px;
	color:#fff;
	background:url(/store/images/blueyellow/step_titlebg_orange_l.jpg) no-repeat top left;
}
.stepboxsummary .stepmain {
	margin:0;
	float:left;
	width:100%;
	background:url(/store/images/blueyellow/step_bg_orange_r.gif) no-repeat bottom right;	
}
.stepboxsummary .stepcontent {
	float:left;	
	width:100%;
	margin:0;
	padding:0;
	background:url(/store/images/blueyellow/step_bg_orange_l.gif) no-repeat bottom left;	
}

.stepbox .radio_group, .stepboxsummary .radio_group {
	margin:10px;
	display:block;
	padding:0;
	text-align:left;
}

.stepbox .pkgPriceLabel {
	float:right;
	text-align:left;
	width:300px;
	margin:0;
	padding:0;
	margin-right:40px;
	margin-top:-15px;
}

#fullLensTypeSelection .pkgInfoLink {
	font-size:10px;
}

#stepFooter {
	display:block;
	width:600px;
	margin:auto;
	padding:0;
	text-align:center;
}

/* START FULL LENS SELECTION */

#currentLensSelection {
	overflow:hidden;
	margin:0 0 0 10px;
	padding:0;
}

#currentLensSelection #currentLensSelectionLens {
	float:left;
	padding:0;
	margin:0;
	margin-top:3px;
}
#currentLensSelection #currentLensSelectionChange {
	float:right;
	font-size:11px;
	padding:0;
	margin:0;
	padding-top:3px;
	margin-right:20px;
}

#fullLensSelection {
	display:block;
	overflow:hidden;
	margin:0 0 0 10px;
	padding:0;
}

/* END FULL LENS SELECTION */

/* START FULL LENS TYPE SELECTION */

#currentLensTypeSelection {
	overflow:hidden;
	margin:0 0 0 50px;
	padding:0;
}

#currentLensTypeSelection #currentLensTypeSelectionLens {
	float:left;
	padding:0;
	margin:0;
	margin-top:3px;
}
#currentLensTypeSelection #currentLensTypeSelectionChange {
	float:right;
	font-size:11px;
	padding:0;
	margin:0;
	padding-top:3px;
	margin-right:20px;
}

#fullLensTypeSelection {
	display:block;
	overflow:hidden;
	margin:0 0 0 50px;
	padding:0;
}

/* END FULL LENS TYPE SELECTION */

#lenspackage .pkgkey {
	font-size:11px;
	display:block;
	padding:3px;
	margin:5px auto;
	text-align:center;
	width:550px;
	background-color:#f2f9ff;
}

#lenspackage .stepcontent {
	padding:0 0 10px 0;
}

#lensbox .stepcontent {
	padding:0 0 10px 0;
}

.tintButton {
	float:left;
	margin:0;
	padding:3px 3px 1px 3px;
	margin-right:5px;
	text-align:center;
	width:60px;
	height:46px;
}
.tintButtonSel {
	float:left;
	margin:0;
	padding:3px 3px 1px 3px;
	margin-right:5px;
	text-align:center;
	/*background:url(/store/images/blueyellow/tint_button_sel.jpg) no-repeat bottom left;*/
	width:60px;
	height:46px;
}
.tintButton img {
	cursor:pointer;
}

#largeFrameLayer {
	position:absolute;
	padding:0 10px 10px 0;
	z-index:500;
}

#largeFrameLayerContent {
	margin:0;
	padding:0;
	text-align:right;
}

#largeFrameLayerContent img {
	border:0;
	margin:0;
	padding:0;
}

.largeFrameImage {
	background-color:#fff;
	border: 1px solid #a9a9a9;
}

#infoLayer p { line-height:15px; margin:0; margin-bottom:10px }
#infoLayer ul { padding:0 10px 0 20px; margin:0; list-style:outside }
#infoLayer li { padding-bottom:8px }
#infoLayer em { font-weight:normal; font-style:italic }
#infoLayerContent h1 { line-height:18px }
#infoLayerContent td { vertical-align:top }

/*
========================================================================================
END - NEW STEP 1,2,3 STYLES
========================================================================================
*/

#smartFitSizeButton {
	height:95px;
	width:203px;
	padding:0;
	text-align:center;
}

#smartFitSizeButton img {
	margin-top:5px;
}

#smartFitSizeButton.en_US {
	background:url(/store/images/smartfit_frontactualsize.gif) no-repeat top left;
}

#smartFitSizeButton.es_ES {
	background:url(/store/images/smartfit_frontactualsize_es.gif) no-repeat top left;
}

#smartFitSizeButton a {
	display:block;
	padding-bottom:25px;
	height:65px;
}

#lensoptions {	
	margin:auto;
	margin-top:10px;
	padding:0;
	display:block;
	width:800px;
	text-align:center;
}

#caseSummaryContainer {
	width:800px;
	margin:auto;
	margin-top:10px;
}

#selectedCase {
	margin:0;
	padding:0;
	display:block;
	float:left;
	width:570px;
	text-align:center;
}

#selectedCase .stepcontent {
	padding:10px 0;	
}

#currentCaseContainer {
	display:block;
	float:left;
	width:235px;	
	padding:0;
	margin: 0 0 0 30px;
}

#chooseCaseContainer {
	display:block;
	float:right;
	width:220px;
	margin:0 50px 0 0;
	padding:0;
}

#selectCase, #casePreview {
	position:absolute;
  z-index: 100;
  width:500px;
}

#selectCase .generic_dialog_popup, #casePreview .generic_dialog_popup {
  height: 0px;
  overflow: visible;
  position: relative;
}

#casePreview .pop_box_main_content {
	text-align:center;
}

table.pop_box_table { 
  border-collapse: collapse;
  width:440px;
  table-layout: fixed;
}

table.pop_box_table td {
	font-size:11px;
	color:#000;
	line-height:100%;
	text-align:left;
}

td.pop_box_topleft, td.pop_box_topright, td.pop_box_bottomleft, td.pop_box_bottomright {
  height: 10px;
  overflow: hidden;
  padding: 0px;
  width: 10px;
}

td.pop_box_topleft {
  background-image: url('/store/images/pop_box_top_left.png')!important;
  background-image: none;
}

td.pop_box_topright {
  background-image: url('/store/images/pop_box_top_right.png')!important;
  background-image: none;
}

td.pop_box_bottomleft { 
  background-image: url('/store/images/pop_box_bottom_left.png')!important;
  background-image: none;
}

td.pop_box_bottomright {
  background-image: url('/store/images/pop_box_bottom_right.png')!important;
  background-image: none;
}

td.pop_box_border {
  background-image: url('/store/images/pop_box_border.png')!important;
  background-image: none;
}

td.pop_box_content {
  background-color: #fff;
  padding:0px;
  margin:0;
  width:300px;
}

td.pop_box_content div.pop_box_main_content {
	display:block;
  border: 1px solid #6489CD;
  border-top-width: 0px;
  width:418px;
}

#selectCase table.pop_box_table {
 width:547px;
}

#selectCase div.pop_box_main_content {
  width:525px;
}

div.pop_box_main_content .pop_box_close {
	display:block;
	width:100%;
	margin:0;
	padding:0;
	height:20px;
}
div.pop_box_main_content .pop_box_close a {
	margin:5px 5px 0 0;
	padding:0;
	display:block;
	float:right;
}

#selectCase .caseOptionContainer {
	margin:5px 0 5px 10px;
	padding:0;
	width:116px;
	height:120px;
	float:left;
	cursor:pointer;
	border:2px solid #fff;
}

#selectCase .caseOptionContainerHover {
	margin:5px 0 5px 10px;
	padding:0;
	width:116px;
	height:120px;
	float:left;
	cursor:pointer;
	border:2px solid #B1C4E6;
}

#selectCase .caseImage {
	width:116px;
	height:96px;
	margin:0;
	padding:0;
	z-index:200;
}

#selectCase .casePriceStar {
	display:block;
	margin:0;	
	padding:0;
	width:50px;
	height:49px;
	background-image: url('/store/images/casePriceStar.png')!important;
	background-image: none;
  background-repeat: no-repeat;
  z-index:210;
}

#selectCase .casePriceStar div {
	display:block;
	color:#fff;
	font-weight:bold;
	margin:0;
	padding:0;
	height:32px;
	padding-top:17px;
	padding-left:7px;
}

#selectCase .caseName {
	display:block;
	margin:0 0 5px 8px;
	padding:0;
	width:100px;
	height:25px;
	text-align:center;
	z-index:220;
	font-weight:bold;
	font-size:11px;
}

#costCalc {
	margin: 10px auto;
	padding:0;
	display:block;
	width:220px;
}

#costCalc p {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#333;
	text-align:center;
	margin:0;
	padding:0;
	padding-bottom:5px;
}
#costCalc #you_save2 {
	color:#F98300;
}
#costCalc #ycost2 {
	color:#509131;
	text-align:center;
	font-size:25px;
	line-height:20px;
	margin: 5px 0 11px;
}

#basket_signin table {
	margin-left:5px;
}
#basket_signin {
	display:none;
}

.shopping_cart_total {
	border:2px solid #000000;
	border-top:0;
	background:#F0F8FF;
}

#checkout_step_one input,
#checkout_step_one select,
#checkout_step_one textarea {
	font-size:11px;
	font-family:verdana;
}

#credit_cards img:hover {
	cursor:pointer;
}
/* begin CUSTOM SETTINGS */

#progress {
text-align: center;
padding: 10px 0 30px 0;
}

#progress ul {
margin: 0;
padding: 0;
list-style-type: none;
}

#progress li {
	display: inline;
	margin: 0.5em 0;
	padding: 0.5em 0.5em 0.3em 0.5em;
	white-space: nowrap;
	background: #fff;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	border-bottom: 5px solid #ccc;
	height: 0; /* Fixes padding problem in IE5.0 */
}
#progress li.progress-active {
	color: #416EBE;
	border-bottom: 5px solid #FF9933;
	background: url(/store/images/progress_arrow.gif) top center no-repeat;
}

#progress li.progress-done {
	border-bottom: 5px solid #FF9933;
	color: #ccc;
}

td.cart_visited {
	border: 1px solid #000000;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	background-color: #B2C7EC;
}

td.cart_current {
	border: 2px solid #000000;
	padding: 10px;	
	font-size: 15px;
	font-weight: bold;
	background-color: #FF9933;
}

td.cart_notvisited {
	border: 1px solid #000000;
	padding: 10px;	
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	background-color: #FF9933;
}

.smBold {
  color: #000000;
  font-weight: 700;
  font-size: 11px;
}

.smText {
  font-size: 11px;
}

.smTextWhite {
  color:#fff;
  font-size: 11px;
}

.lgTextWhite {
  color: #fff;
  font-size: 14px;
}

.veryLgWhite {
  color: #fff;
  font-size: 16px;
}

.lgText {
  font-size: 14px;
}
.totalLabel {
  font-size:12px;
  line-height:12px;
}

.TextWhite {
  color: #fff;
}

.list {
  font-size: 11px;
  line-height: 22px;
}
li.links {
  list-style-image: url(/store/images/grey_arrow.gif);
}


/* special links */

a.yellowBG {
	background-color: yellow;
}

a.linkA:link {
	font-size: 11px;
	color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

a.linkA:visited {
	font-size: 11px;
        color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

a.linkA:active {
	font-size: 11px;
        color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

a.linkA:hover {
	font-size: 11px;
        color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

a.linkB:link {
	color: #ff9933;
	text-decoration: underline;
}

a.linkB:visited {
        color: #ff9933;
	text-decoration: underline;
}

a.linkB:active {
        color: #ff9933;
	text-decoration: underline;
}

a.linkB:hover {
        color: #ff9933;
	text-decoration: underline;
}

a.linkC:link {
	font-size: 16px;
	text-decoration: underline;
}

a.linkC:visited {
	font-size: 16px;
	text-decoration: underline;
}

a.linkC:active {
	font-size: 16px;
	text-decoration: underline;
}

a.linkC:hover {
	font-size: 16px;
	text-decoration: underline;
}

a.linkD:link {
	font-size: 11px;
	color: #0000cc;
	text-decoration: none;
	line-height: 16px;
}

a.linkD:visited {
	font-size: 11px;
  color:#551A8B;
	text-decoration: none;
	line-height: 16px;
}

a.linkD:active {
	font-size: 11px;
        color: #0000cc;
	text-decoration: none;
	line-height: 16px;
}

a.linkD:hover {
	font-size: 11px;
        color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

a.linkE:link {
	font-size: 12px;
	color: #0000cc;
	text-decoration: none;
	line-height: 16px;
}

a.linkE:visited {
	font-size: 12px;
  color:#551A8B;
	text-decoration: none;
	line-height: 16px;
}

a.linkE:active {
	font-size: 12px;
        color: #0000cc;
	text-decoration: none;
	line-height: 16px;
}

a.linkE:hover {
	font-size: 12px;
        color: #0000cc;
	text-decoration: underline;
	line-height: 16px;
}

/* end CUSTOM SETTINGS */

A:link, A:active, A:visited {
  color: #0000cc;
  font-family: Verdana, Arial;
  font-weight: normal;
  text-decoration: underline;
  font-size: 12px;
}

A:hover {
  color: #0000cc;
  font-family: Verdana, Arial;
  font-weight: normal;
  text-decoration: underline;
  font-size: 12px;
}

A.barlink:link, A.barlink:active, A.barlink:visited {
  color: #ff9933;
  font-family: Verdana, Arial;
  font-weight: normal;
  text-decoration: none;
  font-size: 11px;
}

A.barlink:hover {
  color: #ff9933;
  font-family: Verdana, Arial;
  font-weight: normal;
  text-decoration: underline;
  font-size: 11px;
}

A:visited {
	color:#551A8B
}

.maincontent {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 12px;
}

.maincontent table {
	text-align:left;
}

.contentbar1 {
  background-color: #b2c7ec;
  color: #000000;
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

.contentbar2 {
  background-color: #6e8dc4;
  color: #ffffff;
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

.categorybar {
  background-color: red;
  color: #FFFFFF;
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

.menubar {
  background-color: #b2c7ec;
  color: #000000;
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}



/* nh: Blue box DIV's */

.bluebox_nobox {
	padding-top:3px; 
	padding-left:5px; 
	border-top-color: #416EBE; 
	border-top-width: 1px; 
	border-top-style: solid;  
	background-image: url('/store/images//thumb/blue-box-title_no.gif'); 
	background-repeat: no-repeat;
	color: #ffffff;
	font-weight: bold;
}

.bluebox_nobox_noline {
	padding-top:3px; 
	padding-left:5px;   
	background-image: url('/store/images/thumb/blue-box-title_no.gif'); 
	background-repeat: no-repeat;
	color: #ffffff;
	font-weight: bold;
}

.bluebox_topline {
	border-top-color: #416EBE; 
	border-top-width: 1px; 
	border-top-style: solid;
}

.bluebox_top {
	padding-top:3px; 
	padding-left:5px; 
	border-top-color: #416EBE; 
	border-top-width: 1px; 
	border-top-style: solid; 
	border-right-color: #416EBE; 
	border-right-width: 1px; 
	border-right-style: solid; 
	background-image: url('/store/images/thumb/blue-box-title.gif'); 
	background-repeat: no-repeat;
	color: #ffffff;
	font-weight: bold;
}

.bluebox_bottom {
	border-left-color: #416EBE; 
	border-left-width: 1px; 
	border-left-style: solid; 
	border-right-color: #416EBE; 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-bottom-color: #416EBE; 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
}

.orangebox_top {
	padding-top:3px; 
	padding-left:5px; 
	border-top-color: #FF9933; 
	border-top-width: 1px; 
	border-top-style: solid; 
	border-right-color: #FF9933; 
	border-right-width: 1px; 
	border-right-style: solid; 
	background-image: url('/store/images/thumb/orange-box-title.gif'); 
	background-repeat: no-repeat;
	color: #ffffff;
	font-weight: bold;
}

.orangebox_bottom {
	border-left-color: #FF9933; 
	border-left-width: 1px; 
	border-left-style: solid; 
	border-right-color: #FF9933; 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-bottom-color: #FF9933; 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
}

/* New style buttons */

.button1 {
		background-color: #FF9933;
		border-bottom-color: #D57D25;
		border-right-color: #D57D25;
		border-top-color: #FFAE5C;
		border-left-color: #FFAE5C;
		border-width: 2px 2px 2px 2px;
		border-style: solid solid solid solid;
		font-weight: bold;
		font-size: 10px;
		color: #ffffff;
	}

.checkout_button {
		background-color: #FF9933;
		border-bottom-color: #D57D25;
		border-right-color: #D57D25;
		border-top-color: #FFCB97;
		border-left-color: #FFCB97;
		border-width: 3px 3px 3px 3px;
		border-style: solid solid solid solid;
		padding: 5px 5px 5px 5px;
		font-weight: bold;
		font-size: 12px;
		color: #ffffff;
		/*background-image: url(/store/images/checkout-logo.gif);
		background-repeat: no-repeat;
		background-position: right center;*/
		text-align: center;
		width: 170px;
		cursor:pointer;
	}
	
.checkout_button_blue {
		background-color: #416EBE;
		border-bottom-color: #3459AD;
		border-right-color: #3459AD;
		border-top-color: #83A1D5;
		border-left-color: #83A1D5;
		border-width: 3px 3px 3px 3px;
		border-style: solid solid solid solid;
		padding: 5px 5px 5px 5px;
		font-weight: bold;
		font-size: 12px;
		color: #ffffff;
		/*background-image: url(/store/images/checkout-logo.gif);
		background-repeat: no-repeat;
		background-position: right center;*/
		text-align: center;
		width: 170px;
		cursor:pointer;
	}

.refresh_button {
		border-bottom: 1px solid #999999;
		border-right: 1px solid #999999;
		border-top: 1px solid #E8E8E8;
		border-left: 1px solid #E8E8E8;
		padding: 1px 1px 1px 5px;
		font-weight: bold;
		font-family: verdana,arial,sans-serif;
		font-size: 7pt;
		color: #ffffff;
		background:url(/store/images/update-qty.gif) left center no-repeat;
		background-color:#CCCCCC;
		text-align: right;
		width: 60px;
	}
	
.xsell_button {
		border-bottom: 1px solid #D57D25;
		border-right: 1px solid #D57D25;
		border-top: 1px solid #FFCB97;
		border-left: 1px solid #FFCB97;
		padding: 1px 1px 1px 1px;
		font-weight: bold;
		font-family: verdana,arial,sans-serif;
		font-size: 7pt;
		color: #ffffff;		
		background-color:#FF9933;
		text-align: center;
		width: 60px;
	}



/*********** START - STEP 1 LAYOUT ***************/

#step1Container {
	position:relative;
	text-align:left;
	display:block;
	margin:auto;
	padding:0;
	width:760px;
	margin-top:20px;
}

#step1Container p {
	text-align:center;
}

#step1Details {
	display:block;
	margin:0;
	padding:0;
	margin:auto;
	width:500px;
	float:left;
	
}

#step1Description {
	text-align:center;
	display:block;
	margin:0;
	padding:0;	
	margin:auto;
	width:400px;
}

#step1Description table {
	margin-top:15px;
}

#step1InfoContainer {
	display:block;
	margin:0;
	padding:0;
	width:460px;
	margin-left:49px;
}

#step1Specification {
	display:block;
	margin:0;
	padding:0;
	float:left;
	margin-right:20px;
}

#step1Specification table.specTable {
	margin-bottom:10px;
	width:230px;
}

#step1Specification table.specTable th {
	font-size:11px;
	font-weight:bold;
}

#step1Specification table.specTable td {
	font-size:11px;
}

#step1Specification table img.seperator_dotted {
	margin:5px 0 5px 0;
}

#Step1Information {
	display:block;
	margin:0;
	padding:0;
	float:right;
	width:200px;
}

#Step1Information p {
	text-align:center;
}

#step1Options {
	display:block;
	margin:0;
	padding:0;
	margin:0;
	margin-left:100px;
	width:560px;
}

#step1Options #step1box {
	margin-top:10px;
	width:550px
}

#step1SmartfitShapes {
	padding-right:20px;
	float:right;
}

#step1SmartfitShapes .faceshape_content {
	height:60px;
	background:url(/store/images/blueyellow/step_facebg.gif) no-repeat bottom left;
}

#step1SmartfitShapes .faceshape_content table {
	margin-top:5px;
}


/*********** END - STEP 1 LAYOUT ***************/



a.star_link  {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

a.star_link:hover {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

a.star_link:visited {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

/* clickable prices */
a.price_link {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

a.price_link:hover {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

a.price_link:visited {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}



/* Ambassador Styles */

div#ambassador_container {
	text-align: left;
	margin-top: 20px;
}

div#ambassador_container h1 {

}

div#ambassador_container h2 {
	margin-bottom: 20px;
}


div#ambassador_container img.ambassador_logo {
	float: right;
}

div#ambassador_container ol#ambassador_navigation {
	padding: 10px;
	background: #eeeeee;
	float: left;
	margin: 0;
	width: 210px;
}

div#ambassador_container ol#ambassador_navigation li {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

div#ambassador_container ol#ambassador_navigation li a {
	text-decoration: none;
}

div#ambassador_container ol#ambassador_navigation li a:hover {
	text-decoration: underline;
}

div#ambassador_container.home ol#ambassador_navigation li.ap_home a, 
div#ambassador_container.managecredits ol#ambassador_navigation li.ap_managecredits a,
div#ambassador_container.updateinfo ol#ambassador_navigation li.ap_updateinfo a,
div#ambassador_container.couponflyers ol#ambassador_navigation li.ap_couponflyers a,
div#ambassador_container.couponemail ol#ambassador_navigation li.ap_couponemail a {
	font-weight: bold;
}

#ambassador_coupon {
	margin-left: 10px;
	padding: 10px;
	float: left;
	width: 210px;
	background-color: #eee;
	text-align: center;
}

div#ambassador_container div.ambassador_tracker {
	float: right;
	padding: 10px;
	border: 1px solid silver;
	width: 320px;
}

div#ambassador_container div.ambassador_tracker small a {
	font-size: 10px;
}

div#ambassador_container div.ambassador_tracker table tr th {
	font-size: 11px;
	text-align: left;
	padding: 5px;	
}

div#ambassador_container div.ambassador_tracker table tr td {
	padding: 5px;
}

div#ambassador_container div#balance_tracker.ambassador_tracker {
	width: 360px;
	margin-top: 20px;
}

div#ambassador_container table#referral_details {
	border-collapse: collapse;
	border: 1px solid #cccccc;
	width: 100%;
	margin-top: 10px;
	clear: both;
}

div#ambassador_container table#referral_details tr {
}

div#ambassador_container table#referral_details tr.alt {
	background: #eeeeee;
}

div#ambassador_container table#referral_details tr th {
	font: bold 13px arial, sans-serif;
	background: #cccccc;
	border-bottom: 1px solid #999999;
	padding: 5px;
	text-align: left;
}

div#ambassador_container table#referral_details tr td {
	padding: 5px;
}


div#ambassador_container div#coupon_preview {
	float: right;
	padding: 3px;
	margin-right: 10px;
	text-align: center;
	width: 320px;
}

div#ambassador_container div#coupon_preview a {
	color: green;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

div#ambassador_container div#coupon_preview a:hover {
	text-decoration: underline;
}

div#ambassador_container input.referral_update {
	float: right;
	font-weight: bold;
	padding: 1px;
	margin: 10px;
	font-size: 11px;
}

div#ambassador_container ol.faq li span.question {
	display: block;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 5px;
}

div#ambassador_container ol.faq li span.answer {

}

div#ambassador_container div.example_email {
	clear: both;
	width: 90%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
}

div#ambassador_container div.example_email h1 {
	font: bold 14px arial;
}

/* ================================== 
** Knowledge Base
** ================================== */

.kb_container {
	width:900px;
	margin:0 auto;
}

.kb_header {
	margin-bottom:20px;
}

#kb_menus {
	float:left;
	width:280px;
	display:block;
	margin:0;
	padding:0;
}

#kb_searchcontainer {
	float:right;
	width:280px;
	display:block;
	margin:40px 120px 0 0;	
}

#kb_searchcontainer h2 {
	color:#000;
	font-weight:bold;
	font-size:13px;
}


/*
START - KB - INDEX LAYOUT
*/
#kb_categories {
	display:block;
	margin:10px 0;
	padding:0;
}

#kb_categories a {
	font-size:12px;
}

#kb_categories ul {
	margin:0;
	padding:0;
	list-style:none;
}

#kb_categories ul li {
	padding:0 0 0 10px;
	margin:0;
	color:#FF7C06;
	font-weight:bold;
}

#kb_categories ul li ul {
	margin:0 0 10px 0;
	padding:0;
}

#kb_categories ul li ul li {
	margin:0;
	padding:0 0 0 10px;
	color:#FF7C06;
	font-weight:normal;
}


#kb_main {
	display:block;
	margin:0;
	padding:0;
}

#kb_frequentquestions {
	clear:left;
	float:left;
	margin:0;
	padding:0;
	display:block;
}

#kb_frequentquestions h2 {
	color:#000;
	font-weight:bold;
	font-size:13px;
}

#kb_article {
	display:block;
	margin:0;
	padding:0;
}

#kb_topic h2 {
	color:#000;
	font-weight:bold;
	font-size:12px;
}

#kb_relatedtopics {
	border-top:1px dashed #CCCCFF;
	margin-top:30px;
}

#kb_relatedtopics h2 {
	color:#FF7C06;
	font-weight:bold;
	font-size:12px;
}

#kb_relatedtopics ul {
	list-style:none;
	margin:0;
	padding:0;
}

h2.kb_articlestitle {
	font-size:13px;
	font-weight:bold;
}

.kb_articlelist .kb_articleitem, #kb_relatedtopics ul li {
	margin-bottom:5px;
	padding:0 0 0 20px;
	background:url(/store/images/knowledgebase/icon_question.gif) no-repeat top left;
}


#kb_footer {
	clear:both;
	display:block;
}

#kb_footer #kb_footer_back {
	width:100px;
	display:block;
	margin:0 auto;
	padding:0 0 0 22px;
	font-weight:bold;
	background:url(/store/images/knowledgebase/footer_back.gif) no-repeat 0px 6px;
}	

/*
END - KB - INDEX LAYOUT
*/

.pageBreadcrumbs {
	margin:0;
	display:block;
	float:left;
	height:20px;
}

.pageBreadcrumbs, .pageBreadcrumbs a {
	font-size:11px;	
}
/*
#prescription_data {
	height:170px;
}
*/
#prescription_data #prescription_loading {
	border:1px solid #FFDAB9;
	display:block;
	margin:0;
	padding:2px;
	font-size:11px;
	font-weight:bold;
	height:20px;
}

a.rxHelpQuestion {
	display:block;
	margin:0 0 10px 0;	
	padding:0;
	line-height:15px;
	width:690px;
}

.rxHelpAnswer {
	display:none;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
	width:690px;
}

table.rxHelpAbb {
	border-collapse: collapse;
}

table.rxHelpAbb th {
	background:#EEEEEE;
}

table.rxHelpAbb td, table.rxHelpAbb th {
	border:1px solid #CFCFCF;
}

table.lensTables tr:hover{ background: yellow; }

/* Step 2 */ 
div.prescription-left-column{ position: relative; float: left; width: 400px }
div.prescription-right-column{ position: relative; float: left }

#how-to-read-prescription{ padding-top: 32px }
#what-is-my-pd{ padding-top: 7px }

	#prescriptionbox div.radio_group{ margin-left: 50px !important }
	
	#prismCost{ font-weight: bold; display: none }
	
	#prismEntry{ display: none }
	#prismEntry table{
		/* width: 435px; */
		padding: 0;
		margin: 0 0 10px 0;
		border-collapse: collapse;
	}
	#prismEntry table th{ text-align: center }
	
	#prismEntry table td, #prismEntry table th, #lbl_addPrism{ padding: 0 }
	#prismEntry table td{ padding-bottom: 4px }
	
	#addPrism{ padding-left: 0 }
	
	#lbl_addPrism{ display: block; margin: 5px 0 }
	
	#ospd{ display: none }
	
	#form_error_display_{display:none;width:500px;padding:0;margin-left:50px;margin-top:5px}
	#form_error_display_ ul,div.form_error_display ul li{ margin:0;padding:0}
	#form_error_display_ ul{padding-left:20px}
	#form_error_display_ ul li{margin:6px 0}
	#form_error_display_ #form_error_msg_{display:block;border:1px solid #FF7171;color:#f00;background:#FFF9EA;text-align:left;padding:3px 7px;font-weight:normal}

	#prismInfo{ padding: 15px 0 0 15px }
	dt,dd{ display: inline-block }
	dt{ font-weight: bold; width: 25px }
	
#tipLayer{
	display: none;
	padding: 2px;
	position:absolute;
	z-index:10004;
	border:1px solid #FF8000;
	background:#FFF8DD;
	color:#000;
	font-size:11px;
}
	
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 10002;
}

img.btn_close { width: 25px; height: 25px;  float: right; margin: -40px -35px 0 0; }

.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 20px;
	border: 10px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 10003 !important;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade { position: absolute; }
*html .popup_block { position: absolute; }


#banner div{ position: absolute; margin: 13px 0 0 25px }
#banner div h1{ line-height: normal; width: 100%; color: #e9aa1d; font-size: 24px; text-transform: uppercase }
#arInfo p {
	line-height: 20px;
}