
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" valign="top">

<br>
<p>
<b>Single-Vision Lenses</b>	
</p>
<p>
<b>Clear Lenses</b>
</p>
<a name="OPT1"></a>
<ul>
<li><p>
<font color="#0000ff"><b>Clear Polycarbonate Lenses</b></font>
<br>
All of our $39.00 [curr_price price="39"] complete pair packages are made using <b>polycarbonate lenses</b>; <i>the lightest, most impact-resistant material made</i>.  With an index of refraction of 1.59, they are much thinner than standard (CR-39&trade; optical resin) optical lenses.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge.
</p>
<p>
Polycarbonate is the required material for all <i>children's eyeglasses</i> because of its safety qualities - it's the material used to make bulletproof glass.  For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye.  It ensures the good eye is always protected in case of an accident.
</p>
<p>
Standard polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions, by custom "surfacing" the lenses.  <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="OPT2"></a>
<li>
<p>
<font color="#0000ff"><b>Clear Seiko&reg; 1.67 Super High-Index Lenses</b></font> 
<br>
<b>Seiko&reg; 1.67 lenses</b> are our lens of choice for those with very high prescriptions.  They are <i>thinner than any other 1.60/1.66 "high-index" or "thinnest" lenses</i> others may sell.  If you've never had 1.67-index lenses before, you'll be surprised how thin your eyeglass lenses can be! They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge.
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='OPT2'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='OPT2'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  Though they are generally recommended for prescriptions above +4.00/-6.00, they can make any prescription over +/-3.00 (especially in larger frames) look great! 
</p>
<p>
If your prescription is over +3.00/-8.00 (or have over +/-3.00 cylinder) we custom-surface the lenses to make sure they look as thin as possible.  Custom surfacing carries an additional charge of $39; we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>

<a name="OPT3"></a>
<li>
<p>
<font color="#0000ff"><b>Clear Polycarbonate Industrial-Grade Safety Lenses</b></font> 
<br>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least 2.0mm per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>

</ul>

<p>
<b>Sun Lenses</b>
</p>
<a name="SUN1"></a>
<ul>
<li>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Tinted Sun Lenses (Darkest Tint)</b></font>
<br>
Sometimes referred to as <i>hard-resin</i>, our standard sun lenses are made using the highest optical-grade <b>CR-39&trade; optical resin</b> lenses.  In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it).  In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses.  CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00.  If your prescription is higher than this, check out our <a href="#SUN3">Tinted Seiko&reg; 1.67 Super-High Index Sun Lenses</a> or our <a href="#SUN4">Polarized Polycarbonate Sun Lenses</a>.  
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<!-- -->
[comment]
<li>
<a name="SUN8"></a>
<p>
<font color="#0000ff"><b>Tinted Polycarbonate (thin & ultra-light) Lenses (70% tint)</b></font>
<br>
<strong>Polycarbonate lenses</strong> are <i>the lightest, most impact-resistant material made</i>. With an index of refraction of 1.59, they are much thinner than standard (CR-39&trade; optical resin) optical lenses. They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. </p>

<p>
Polycarbonate is the required material for all <i>children's</i> eyeglasses because of its safety qualities - it's the material used to make bulletproof glass. For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye. It ensures the good eye is always protected in case of an accident. </p>

<p>In the past, polycarbonate lenses were not able to tint past 10-15%.  For these sunglass lenses, we use <strong>tintable polycarbonate</strong> lenses, which we can be darkened up to a <strong>70% tint</strong>.  Tintable polycarbonate still retains all of the thinness and safety features of standard polycarbonate lenses.  These <i>tinted, thin & ultra-light sun lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='SUN8'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query] with polished lens edges</i>.  We are proud to offer them to you for only <strong>[query type=list sql="SELECT * FROM options_price WHERE o_value='SUN8'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query] additional</strong>, as a package including a new frame. </p>

<p>Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query].  We will contact you after your order is placed if your prescription falls outside the recommended range.</i></p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
[/comment]
<!-- -->
<li>
<a name="SUN3"></a>
<p>
<font color="#0000ff"><b>Seiko&reg; 1.67 Super High-Index Sun Lenses (Dark Tint)</b></font>
<br>
<b>Seiko&reg; 1.67 lenses</b> are our lens of choice for those with very high prescriptions.  They are <i>thinner than any other 1.60/1.66 "high-index" or "thinnest" lenses</i> others may sell.  If you've never had 1.67-index lenses before, you'll be surprised how thin your eyeglass lenses can be! They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge.
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='SUN3'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you, tinted, for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='SUN3'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  Though they are generally recommended for prescriptions above +4.00/-6.00, they can make any prescription over +/-3.00 (especially in larger frames) look great! 
</p>
<p>
If your prescription is over +3.00/-8.00 (or have over +/-3.00 cylinder) we custom-surface the lenses to make sure they look as thin as possible.  Custom surfacing carries an additional charge of $39; we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="SUN2"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Polarized Sun Lenses</b></font>
<br>
<b>Polarized lenses</b> have filters that block out reflected light.  They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities.  This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision.  Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.  
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='SUN2'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='SUN2'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  The <b>CR-39&trade; optical resin</b> material is recommended for low-to-moderate prescriptions, between +3.00 and -4.00.  If your prescription is outside this range, check out our <a href="#SUN4">polarized polycarbonate lenses</a>.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="POLS4"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Polarized Sun Lenses</b></font>
<br>
<b>Polarized lenses</b> have filters that block out reflected light.  They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities.  This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision.  Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  They are ideal for children or people with an active lifestyle.
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='SUN4'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='SUN4'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="POLS5"></a>
<p>
<font color="#0000ff"><b>Polarized Polycarbonate Industrial-Grade Safety Lenses</b></font>
<br>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least <b>2.0mm</b> per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment where eye and face hazards exist.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
<b>Polarized lenses</b> have filters that block out reflected light. They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities. This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision. Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="SUN9"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Tinted Sun Lenses (Dark Tint)</b></font>
<br>
<p>
Our complete pair tinted sunglass package uses standard <strong>polycarbonate lenses</strong>; <i>the lightest, most impact-resistant material made</i>. With an index of refraction of 1.59, they are much thinner than standard (CR-39&trade; optical resin) optical lenses. In addition to the tinting, they also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge.
</p>
<p>
Polycarbonate is the required material for all <i>children's eyeglasses</i> because of its safety qualities - it's the material used to make bulletproof glass. For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye. It ensures the good eye is always protected in case of an accident.
</p>
<p>
<strong>Note: due to polycarbonate's inherent properties, we are able to tint these to a maximum of 70%; the SmartFit ColorSelector shows images with 90% tints.</strong>
</p>
<p>
Standard polycarbonate sun lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]</i>; we will contact you if your prescription falls outside these ranges, or you can choose Tinted Seiko&reg; 1.67 Super-High Index Sun Lenses for the thinnest lenses. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="SUN11"></a>
<p>
<font color="#0000ff"><b>Tinted Polycarbonate Industrial-Grade Safety Lenses</b></font>
<br>
<p>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least 2.0mm per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="BIF_POLS7"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Polarized Regular Bifocals</b></font>
<br>
<p>
Our <strong>regular bifocals</strong> are <strong>flat-top 28</strong>, meaning they have a 28-millimeter (mm) wide reading portion shaped like a sideways "D".
</p>
<p>
<strong>Polarized lenses</strong> have filters that block out reflected light. They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities. This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision. Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.
</p><p>
Sometimes referred to as <strong>hard-resin</strong>, our standard bifocal sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses. In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Tinted Polycarbonate Bifocal Sun Lenses or our Polarized Polycarbonate Bifocal Sun Lenses.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
</ul>
<p>
<b>Clear-Indoor/Dark-Outdoor Lenses</b>
</p>
<ul>
<li>
<a name="TRAN1"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Next Generation&trade; Transitions&reg; Lenses</b></font>
<br>
We are proud to carry the latest <b>Next Generation&trade; Transitions&reg; Lenses</b>, which go from clear indoors to as dark as sunglasses outdoors.  Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.  They have a refractive index of 1.50.
</p>
<p>
Indoors, <b>Transitions Lenses&reg;</b> are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection.  
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='TRAN1'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='TRAN1'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  The <b>CR-39&trade; optical resin</b> material is recommended for low-to-moderate prescriptions, between +3.00 and -4.00.  If your prescription is outside this range, check out our <a href="#TRAN2">Polycarbonate Transitions&reg; Lenses</a>. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="TRAN2"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Quantum&reg; Transitions&reg; Lenses</b></font>
<br>
<b>Transitions&reg; Lenses</b> go from clear indoors to as dark as sunglasses outdoors.  Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.  The <b>Quantum&reg; technology</b> allows the vision through high-index lenses to remain clear through all lens-darkness levels.
</p>
<p>
Indoors, <b>Transitions&reg; Lenses</b> are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection.  We also apply tough scratch-resistant coatings to both lens surfaces, and polished lens edges, at no additional charge.
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  They are ideal for children or people with an active lifestyle.
</p>
<p>
<i>The lenses alone retail for over [query type=list sql="SELECT * FROM retail_prices WHERE option_name='TRAN2'" table=retail_prices][list][currency][sql-param cost][/currency] [curr_price price="[sql-param cost]"][/list][/query].</i>  We are proud to offer them to you for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='TRAN2'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
 additional</b>, as a package including a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.
</p>
<a name="TRAN3"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Transitions&reg; Industrial-Grade Safety Lenses</b></font>
<br>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least <b>2.0mm</b> per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Indoors, <b>Transitions&reg; Lenses</b> are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection. 
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="TRAN2"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Ellipse&trade; Transitions&reg; Lenses </b></font>
<br>
We are proud to carry the latest Ellipse&trade; Transitions&reg; Lenses, progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as &quot;no-line bifocals&quot;, &quot;no-line trifocals&quot;, or &quot;vari-focals.&quot; They provide a graduated range of vision from distance to near, without a line. Varilux&reg; Ellipse&trade; lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before. Your new Varilux&reg; lenses also come with a certificate of authenticity.Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.
</p>
<p>
Indoors, Transitions&reg; Lenses are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection.
</p>
<p>
The CR-39&trade; optical resin material has a refractive index of 1.50. It is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is outside this range, check out our Polycarbonate Ellipse&trade; Transitions&reg; Lenses.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="TRAN2"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Airwear&trade; Ellipse&trade; Transitions&reg; Lenses</b></font>
<br>

We are proud to carry the latest Ellipse&trade; Transitions&reg; Lenses, progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as &quot;no-line bifocals&quot;, &quot;no-line trifocals&quot;, or &quot;vari-focals.&quot; They provide a graduated range of vision from distance to near, without a line. Varilux&reg; Ellipse&trade; lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before. Your new Varilux&reg; lenses also come with a certificate of authenticity.Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.
Indoors, Transitions&reg; Lenses are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection.
</p>
<p>
Airwear&reg; polycarbonate is the lightest, most impact-resistant material made. With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses. Say &quot;goodbye&quot; to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all. Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other (amblyopia), so your good eye is always protected.

</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
</ul>
<p>
<b>Bifocal & Progressive ("no-line bifocal") Lenses</b>
</p>
<ul>
<li>
<a name="BIF_OPT1"></a>
<p>
<font color="#0000ff"><b>Clear Polycarbonate Regular Bifocals</b></font>
<br>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  As the safest material available, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<i>The super-light lenses alone retail for over [currency]250[/currency] [curr_price price="250"].</i>  We are proud to offer them to you for only <b>[price code="3001_Brown" lens="BIF"]
 complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> you will be prompted if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="BIF_OPT2"></a>
<p>
<font color="#0000ff"><b>Clear Industrial-Grade Polycarbonate Regular Bifocal Safety Lenses</b></font>
<br>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.
</p>
<p>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least <b>2.0mm</b> per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="BIF_SUN5"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Polarized Regular Bifocals</b></font>
<br>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  As the safest material available, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<b>Polarized lenses</b> have filters that block out reflected light.  They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities.  This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision.  Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.  
</p>
<p>
<i>The ultra-light sun lenses alone retail for over [currency]350[/currency] [curr_price price="350"].</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGM"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  <i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="BIF_TRAN4"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Transitions&reg; Regular Bifocals</b></font>
<br>
<strong>Transitions&reg; Lenses</strong> go from clear indoors to as dark as sunglasses outdoors. Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.   Indoors, Transitions Lenses&reg; are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. And Transitions&reg; provide 100% UV protection.
</p>
<p>
Our <strong>regular bifocals</strong> are <strong>flat-top 28</strong>, meaning they have a 28-millimeter (mm) wide reading portion shaped like a sideways "D".
</p>
<p>
Sometimes referred to as <strong>hard-resin</strong>, these bifocal sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses. They have a refractive index of 1.50.  In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Tinted Polycarbonate Bifocal Sun Lenses or our Polarized Polycarbonate Bifocal Sun Lenses.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="BIF_SUN11"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Tinted Regular Bifocals (Darkest Tint)</b></font>
<br>
Sometimes referred to as hard-resin, our standard sun lenses are made using the highest optical-grade <strong>CR-39&trade; optical resin</strong> lenses. In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our <u>Tinted Polycarbonate Bifocal Sun Lenses</u> or our <u>Polarized Polycarbonate Bifocal Sun Lenses</u>.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="BIF_SUN12"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Tinted Sun Lenses (Dark Tint)</b></font>
<br>
Our complete pair tinted sunglass package uses standard <strong>polycarbonate lenses</strong>; <i>the lightest, most impact-resistant material made</i>. With an index of refraction of 1.59, they are much thinner than standard (CR-39&trade; optical resin) optical lenses. In addition to the tinting, they also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge.
</p>
Polycarbonate is the material used to make bulletproof glass. For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye. It ensures the good eye is always protected in case of an accident. 
<p>
<strong>Note: due to polycarbonate's inherent properties, we are able to tint these to a maximum of 70%; the SmartFit ColorSelector shows images with 90% tints.</strong>
</p>
<p>
Standard polycarbonate sun lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]; we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="BIF_SUN14"></a>
<p>
<font color="#0000ff"><b>Tinted Industrial-Grade Polycarbonate Regular Bifocal Safety Lenses</b></font>
<br>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.
</p>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least 2.0mm per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
<p>
<b>Flat-top 28</b> refers to regular <b>bifocal</b> lenses where the distance and reading portions are separated with a 28 mm line rather than one going from edge-to-edge.
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_SUN13"></a>
<p>
<font color="#0000ff"><b>Tinted CR-39&trade; optical resin Sola&reg; Progressives (Darkest Tint)</b></font>
<br>
Our <strong>progressive sun lenses</strong> are made by Sola&reg;, an industry leader in ophthalmic lenses. Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. 
</p>
<p>
Sometimes referred to as hard-resin, our standard sun lenses are made using the highest optical-grade <strong>CR-39&trade; optical resin</strong> lenses. In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our <u>Tinted Polycarbonate Bifocal Sun Lenses</u> or our <u>Polarized Polycarbonate Bifocal Sun Lenses</u>.
</p>
<p>
The progressive sun lenses alone retail for over $250.00 . We are proud to offer them to you for only <strong>$98.95 complete</strong>, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses. If your Rx is higher than this, call us at 1-800-672-6304. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="PROG_SUN18"></a>
<p>
<font color="#0000ff"><b>Tinted Industrial-Grade Polycarbonate Kodak&reg; Progressives </b></font>
<br>
Our <b>progressive safety lenses</b> are made by Kodak&reg;, an industry leader in ophthalmic lenses. Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line.
</p>
<p>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least <b>2.0mm</b> per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_SUN15"></a>
<p>
<font color="#0000ff"><b>Tinted Polycarbonate Sola&reg; Progressives (Dark Tint)</b></font>
<br>
Our complete pair tinted sunglass package uses standard <strong>polycarbonate lenses</strong>; <i>the lightest, most impact-resistant material made</i>. With an index of refraction of 1.59, they are much thinner than standard (CR-39&trade; optical resin) optical lenses. In addition to the tinting, they also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Polycarbonate is the material used to make bulletproof glass. For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye. It ensures the good eye is always protected in case of an accident.
</p>
<p>
<strong>Note: due to polycarbonate's inherent properties, we are able to tint these to a maximum of 70%; the SmartFit ColorSelector shows images with 90% tints.</strong>
</p>
<p>
<i>The polycarbonate progressive sun lenses alone retail for over $275.00</i> . We are proud to offer them to you for only <strong>$108.95 complete</strong>, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses; we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_POLS8"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Polarized Sola&reg; Progressives</b></font>
<br>
Our <strong>progressive sun lenses</strong> are made by <strong>Sola&reg;</strong>, an industry leader in ophthalmic lenses. Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. 
</p>
<p>
<strong>Polarized lenses</strong> have filters that block out reflected light. They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities. This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision. Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.
</p>
<p>
Sometimes referred to as <strong>hard-resin</strong>, our base sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses.  With an index of refraction of 1.50, CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Polycarbonate Polarized Progressives. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_POLS9"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Polarized Varilux&reg; Progressives</b></font>
<br>
We are proud to offer <strong>Varilux&reg;</strong> progressive lenses by <strong>Essilor&reg;</strong>, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens. Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
<strong>Polarized lenses</strong> have filters that block out reflected light. They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities. This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision. Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.
</p>
<p>
Sometimes referred to as <strong>hard-resin</strong>, our base sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses.  With an index of refraction of 1.50, CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Polycarbonate Polarized Progressives. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_POLS10"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Polarized Varilux&reg; Airwear&reg; Progresssives</b></font>
<br>
We are proud to offer <strong>Varilux&reg;</strong> progressive lenses by <strong>Essilor&reg;</strong>, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens. Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
<strong>Polarized lenses</strong> have filters that block out reflected light. They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities. This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision. Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.
</p>
<p>
<strong>Airwear&reg; Polycarbonate</strong> is the lightest, most impact-resistant material made. With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses. Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all. Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other (amblyopia), so your good eye is always protected.
</p>
<p>
They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses. If your Rx is higher than this, call us at 1-800-672-6304.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_TRAN4"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Transitions&reg; Sola&reg; Progressives</b></font>
<br>
Our <strong>progressive sun lenses</strong> are made by <strong>Sola&reg;</strong>, an industry leader in ophthalmic lenses. Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. 
</p>
<p>
<strong>Transitions&reg; Lenses</strong> go from clear indoors to as dark as sunglasses outdoors. Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.   Indoors, Transitions Lenses&reg; are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. And Transitions&reg; provide 100% UV protection.
</p>
<p>
Sometimes referred to as <strong>hard-resin</strong>, our base sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses.  With an index of refraction of 1.50, CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Polycarbonate Transitions&reg; Progressives. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_TRAN5"></a>
<p>
<font color="#0000ff"><b>CR-39&trade; optical resin Transitions&reg; Varilux&reg; Progressives</b></font>
<br>
We are proud to offer Varilux&reg; progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens. Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
Transitions&reg; Lenses go from clear indoors to as dark as sunglasses outdoors. Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.   Indoors, Transitions&reg; Lenses are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. And Transitions&reg; provide 100% UV protection.
</p>
<p>
Sometimes referred to as hard-resin, our base sun lenses are made using the highest optical-grade CR-39&trade; optical resin lenses.  With an index of refraction of 1.50, CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our Polycarbonate Transitions&reg; Progressives. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_SUN16"></a>
<p>
<font color="#0000ff"><b>Tinted CR-39&trade; optical resin Varilux&reg; Progressives (Darkest Tint)</b></font>
<br>
We are proud to offer Varilux&reg; progressive sun lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens. Your new Varilux&reg; lenses also come with a certificate of authenticity. 
</p>
<p>
Sometimes referred to as hard-resin, our standard sun lenses are made using the highest optical-grade <strong>CR-39&trade; optical resin</strong> lenses. In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is higher than this, check out our <u>Tinted Polycarbonate Bifocal Sun Lenses</u> or our <u>Polarized Polycarbonate Bifocal Sun Lenses</u>.
</p>
<p>
<i>The progressive sun lenses alone retail for over $300.00</i> . We are proud to offer them to you for only <strong>$137.95 complete</strong>, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses. If your Rx is higher than this, call us at 1-800-672-6304.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_SUN17"></a>
<p>
<font color="#0000ff"><b>Tinted Polycarbonate Varilux&reg; Progressives (Dark Tint)</b></font>
<br>
We are proud to offer Varilux&reg; progressive sun lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens. Your new Varilux&reg; lenses also come with a certificate of authenticity. 
</p>
<p>
Polycarbonate is the material used to make bulletproof glass. For this reason, it's also the eye doctors' lens of choice for those with a blind eye or <i>amblyopia</i> (commonly called a "lazy eye"), where one eye's best-corrected vision is worse than the other eye. It ensures the good eye is always protected in case of an accident. 
</p>
<p>
<strong>Note: due to polycarbonate's inherent properties, we are able to tint these to a maximum of 70%; the SmartFit ColorSelector shows images with 90% tints.</strong>
</p>
<p>
<i>The polycarbonate progressive sun lenses alone retail for over $275.00</i> . We are proud to offer them to you for only <strong>$108.95 complete</strong>, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses; we will contact you if your prescription falls outside these ranges.
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROGE_SUN18"></a>
<p>
<font color="#0000ff"><b>Tinted Polycarbonate Varilux&reg Ellipse&trade; Airwear&reg; Progressives (Dark Tint)</b></font>
<br>
We are proud to offer the latest Varilux&reg; Ellipse&trade; progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. Varilux&reg; Ellipse&trade; lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before. Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
<strong>Airwear&reg; polycarbonate</strong> is the lightest, most impact-resistant material made. With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses. Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all. Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other (amblyopia), so your good eye is always protected. 
</p>
<p>
<strong>Note: due to polycarbonate's inherent properties, we are able to tint these to a maximum of 70%; the SmartFit ColorSelector shows images with 90% tints.</strong>
</p>
<p>
Thin & Ultra-light Tinted Varilux&reg; Airwear&reg; Ellipse&trade; progressive lenses alone can retail for over $425 with polished lens edges. We are proud to offer them to you for only <strong>$157.95 complete</strong>, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses. If your Rx is higher than this, call us at 1-800-672-6304. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<p>
<a name="PROG_OPT1"></a><font color="#0000ff"><b>Clear Polycarbonate Sola&reg; Progressives</b></font>
<br>
Our <b>progressive lenses</b> are made by Sola&reg;, an industry leader in ophthalmic lenses.  Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals."  They provide a graduated range of vision from distance to near, without a line.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy progressive lenses that put little dents in your nose; these barely feel like you're wearing glasses at all.  Due to its safety properties, polycarbonate is ideal for progressive lens wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<i>The ultra-light sun lenses alone retail for over [currency]350[/currency] [curr_price price="350"].</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGK"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  [comment]<i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.[/comment]
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<a name="PROG_OPT4"></a><font color="#0000ff"><b>Clear Industrial-Grade Polycarbonate Kodak&reg; Progressives</b></font>
<br>
Our <b>progressive safety lenses</b> are made by Kodak&reg;, an industry leader in ophthalmic lenses. Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line.
</p>
<p>
Our complete pair safety packages are made using <b>industrial-grade polycarbonate lenses</b> with a minimum thickness of at least <b>2.0mm</b> per ANSI-Z87.1-2003 standards.  Polycarbonate is the most impact-resistant material made; it's the material used to make bulletproof glass.  They also come with both 100% UV and tough scratch-resistant coatings applied to both sides of the lenses, as well as polished lens edges, at no extra charge. 
</p>
<p>
Prescription safety eyewear is essential for anyone who works in an industrial environment <b>where eye and face hazards exist</b>.  They are also a must for <b>hobbyists</b> who work at home with cutting wood, metal, or glass.
</p>
<p>
Polycarbonate lenses are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions, by custom "surfacing" the lenses. Custom surfacing carries an additional charge of 19.95; this will be added to your total if your prescription falls outside these ranges. 
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_SUN6"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Polarized Sola&reg; Progressives</b></font>
<br>
Our <b>progressive lenses</b> are made by <b>Sola&reg;</b>, an industry leader in ophthalmic lenses.  Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals."  They provide a graduated range of vision from distance to near, without a line.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<b>Polarized lenses</b> have filters that block out reflected light.  They virtually eliminate the glare caused by reflections from horizontal surfaces, making them ideal for driving or water-activities.  This filtering of incoming light (rather than darkening it) leads to sharper vision and better color vision.  Polarized lenses are naturally UV-protective and we apply our tough scratch-resistant coating to both lens surfaces.  
</p>
<p>
<i>The ultra-light sun lenses alone retail for over [currency]450[/currency] [curr_price price="450"].</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGN"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  [comment]<i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.[/comment]
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROG_TRAN3"></a>
<p>
<font color="#0000ff"><b>Polycarbonate Transitions&reg; Sola&reg; Progressives</b></font>
<br>
Our standard <b>Transitions&reg progressive lenses</b> are made by <b>Sola&reg;</b>, an industry leader in ophthalmic lenses.  Progressives are sometimes referred to as "no-line bifocals", "no-line trifocals", or "vari-focals."  They provide a graduated range of vision from distance to near, without a line.  
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<b>Transitions&reg; Lenses</b> go from clear indoors to sunglasses outdoors.  Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.  The <b>Quantum&reg; technology</b> allows the vision through high-index lenses to remain clear through all lens-darkness levels.
</p>
<p>
<i>The ultra-light sun lenses alone retail for over [currency]450[/currency] [curr_price price="450"].</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGO"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  [comment]<i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query];</i> we will contact you if your prescription falls outside these ranges.[/comment]
</p>

<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="VLX"></a>
<p>
<font color="#0000ff"><b>Varilux&reg; Polycarbonate Progressives</b></font>
<br>
We are proud to offer Varilux&reg; progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens.  Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
<b>Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.

</p>
<p>
<i>Thin & Ultra-light Varilux&reg; progressive lenses alone can retail for over [currency]400[/currency] [curr_price price="400"] with polished lens edges.</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGL"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  [comment]<i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]; we will contact you if your prescription falls outside these ranges.</i>[/comment]
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<a name="PROGE_OPT3"></a>
<p>
<font color="#0000ff"><b>Clear Polycarbonate Airwear&reg; Varilux&reg; Ellipse&trade; Progressives</b></font>
<br>
We are proud to offer the latest Varilux&reg; Ellipse&trade; progressive lenses by Essilor&reg;, the industry leader in progressive lenses.   Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. Varilux&reg; Ellipse&trade; lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before.  Your new Varilux&reg; lenses also come with a certificate of authenticity.</p>
<p><strong>Airwear&reg; polycarbonate</strong> is the lightest, most impact-resistant material made. With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses. Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all. Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other (amblyopia), so your good eye is always protected. </p>
<p>Thin & Ultra-light Varilux&reg; Airwear&reg; Ellipse&trade; progressive lenses alone can retail for over $425 [curr_price price="425"] with polished lens edges. We are proud to offer them to you for only <strong>$138.00 [curr_price price="148"]</strong> complete, as a package including a new metal or plastic frame. They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses. If your Rx is higher than this, call us at 1-800-672-6304. [comment]Custom surfacing carries an additional charge of $19.95 [curr_price price="19.95"].  We will contact you after your order is placed if your prescription falls outside the recommended range.</p>[/comment]
<p><a href="#top" class="linkA">Back to top</a></p>
</li>
<li>
<a name="PROGE_SUN7"></a>
<p>
<font color="#0000ff"><b>Tinted CR-39&trade; optical resin Varilux&reg; Ellipse&trade; Progressives (Darkest Tint)</b></font>
<br>
We are proud to offer the latest Varilux&reg; Ellipse&trade; progressive lenses by Essilor&reg;, the industry leader in progressive lenses.   Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. <strong>Varilux&reg; Ellipse&trade;</strong> lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before.  Your new Varilux&reg; lenses also come with a certificate of authenticity.</P>

<p>Sometimes referred to as hard-resin, our standard sun lenses are made using the highest optical-grade <strong>CR-39&trade; optical resin</strong> lenses. In addition to its fantastic optical clarity, CR-39&trade; optical resin can be tinted much darker than polycarbonate (which is why we use it). In addition to the tinting, we apply 100% UV-protective and tough scratch-resistant coatings to both sides of the lenses. <i>Varilux&reg; Ellipse&trade; tinted CR-39&trade; optical resin progressive sunglass lenses alone can retail for over $400 [curr_price price="400"] with polished lens edges.</i> We are proud to offer them to you for only <strong>$148.00 [curr_price price="148"]</strong> complete, as a package <i>including</i> a new metal or plastic frame.  CR-39&trade; optical resin is recommended for low-to-moderate prescriptions, between +3.00 and -4.00.</p> 
<p><a href="#top" class="linkA">Back to top</a></p>
</li>
<li>
<a name="VLX_TRANS"></a>
<p>
<font color="#0000ff"><b>Varilux&reg; Airwear&reg; Polycarbonate Quantum&reg; Transitions&reg; Progressives</b></font>
<br>
We are proud to offer Varilux&reg; progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as "no-line bifocals", "no-line trifocals", or "vari-focals." They provide a graduated range of vision from distance to near, without a line. To ensure you have received genuine Varilux&reg; lenses, there is a manufacturer's symbol etched into the lens.  Your new Varilux&reg; lenses also come with a certificate of authenticity.
</p>
<p>
<b>Airwear&reg; Polycarbonate</b> is the lightest, most impact-resistant material made.  With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade; optical resin) optical lenses.  Say "goodbye" to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all.  Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other <i>(amblyopia)</i>, so your good eye is always protected.
</p>
<p>
<b>Transitions&reg; Lenses</b> go from clear indoors to sunglasses outdoors.  Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition.  The <b>Quantum&reg;</b> technology allows the vision through high-index lenses to remain clear through all lens-darkness levels.
</p>
<p>
<i>Thin & Ultra-light Varilux&reg; Quantum&reg; Transitions&reg; photosensitive lenses alone can retail for over [currency]500[/currency] [curr_price price="500"] with polished lens edges.</i>  We are proud to offer them to you for only <b>[price code="LENS_PKGP"] complete</b>, as a package <i>including</i> a new metal or plastic frame.  They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50).  It can still be used for higher prescriptions up to +4.00/-8.00, by custom "surfacing" the lenses.  If your Rx is higher than this, call us at 1-800-672-6304.  [comment]<i>Custom surfacing carries an additional charge of [query type=list sql="SELECT * FROM options_price WHERE o_group='surfacing' AND o_value='yes'" table=options_price][list][currency][sql-param price][/currency][/list][/query]; we will contact you if your prescription falls outside these ranges.</i>[/comment]
</p>


<a name="PROGE_TRAN1"></a>
<p>
	<font color="#0000ff"><b>CR-39&trade; Varilux&reg; Ellipse&reg; Transitions&reg; Progressive Lenses</b></font>
	<br>
	<font size="2"><font face="Verdana">We are proud to carry the latest <b style="mso-bidi-font-weight: normal">Varilux&reg;</b> <b style="mso-bidi-font-weight: normal">Ellipse&reg; Transitions&reg; </b>progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as &quot;no-line bifocals&quot;, &quot;no-line trifocals&quot;, or &quot;vari-focals.&quot; They provide a graduated range of vision from distance to near, without a line. Varilux&reg; Ellipse&reg; lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before. Your new Varilux&reg; lenses also come with a certificate of authenticity.<span style="mso-spacerun: yes">  </span>Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition. </font></font></p><p /><p><font size="2"><font face="Verdana">Indoors, <b style="mso-bidi-font-weight: normal">Transitions&reg; Lenses</b> are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection. </font></font></p><p /><p><font face="Verdana" size="2">The <b style="mso-bidi-font-weight: normal">CR-39&trade; Optical Resin</b> material has a refractive index of 1.50. It is recommended for low-to-moderate prescriptions, between +3.00 and -4.00. If your prescription is outside this range, check out our <i style="mso-bidi-font-style: normal">Airwear&trade; Polycarbonate Varilux&reg; Ellipse&reg; Transitions&reg; Lenses</i>. </font>
</p>

<a name="PROGE_TRAN2"></a>
<p>
	<font color="#0000ff"><b>Polycarbonate Airwear&trade; Varilux&reg; Ellipse&reg; Transitions&reg; Progressive Lenses</b></font>
	<br>
	<font face="Verdana" size="2">We are proud to carry the latest <b style="mso-bidi-font-weight: normal">Varilux&reg; Ellipse&reg; Transitions&reg;</b> progressive lenses by Essilor&reg;, the industry leader in progressive lenses. Progressives are often referred to as &quot;no-line bifocals&quot;, &quot;no-line trifocals&quot;, or &quot;vari-focals.&quot; They provide a graduated range of vision from distance to near, without a line. <b style="mso-bidi-font-weight: normal">Varilux&reg; Ellipse&reg;</b> lenses are the latest design to enable progressive lenses to be used in much smaller frames than ever before. Your new Varilux&reg; lenses also come with a certificate of authenticity. </font></p><p><font size="2"><font face="Verdana">Indoors, <b style="mso-bidi-font-weight: normal">Transitions&reg; Lenses</b> are as clear as your regular eyeglasses. Outdoors, they quickly darken into sunglasses. Their advanced technology adjusts to changing light, so you see clearly and more comfortably in virtually any light condition. They work so well, in a recent clinical study, four out of five eyeglass wearers preferred Transitions&reg; to their regular lenses. And Transitions&reg; provide 100% UV protection. </font></font></p><p /><p><font size="2"><font face="Verdana"><b style="mso-bidi-font-weight: normal">Airwear&trade; polycarbonate</b> is the lightest, most impact-resistant material made. With an index of refraction of 1.59, polycarbonate is thinner than standard (CR-39&trade;) optical lenses. Say &quot;goodbye&quot; to the heavy bifocals that put little dents in your nose; these barely feel like you're wearing glasses at all. Due to its safety properties, polycarbonate is ideal for bifocal wearers with an active lifestyle or for those who have one eye that is much better than the other (amblyopia), so your good eye is always protected. </font></font></p><p class="MsoNormal" style="MARGIN: 0in 0in 0pt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto"><span style="FONT-SIZE: 9pt; FONT-FAMILY: Verdana">They are recommended for prescription ranges between +/-4.00 (and/or cylinder ranges between +/-2.50). It can still be used for higher prescriptions by custom &quot;surfacing&quot; the lenses. <i>Custom surfacing carries an additional charge of $19.95;</i> we will add this amount if your prescription falls outside these ranges.</span></p>
</p>

<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
<li>
<p>
<a name="ANTI"></a><font color="#0000ff"><b>Anti-Reflective Coating</b></font>
<br>
Our premium anti-reflective coating is ideal for <b>computer use and night driving</b>.  They work by increasing the light transmission through the lenses, providing you with the <b>clearest, sharpest vision</b> at all times.  Any great-looking pair of glasses will look even better:  people will see your eyes through the lenses, not the light reflection!  <i>Though this premium coating retails for [query type=list sql="SELECT * FROM retail_prices WHERE option_name='COA1'" table=retail_prices][list][currency][sql-param cost][/currency][curr_price price="[sql-param cost]"][/list][/query],</i> you can add them to any other package for only <b>[query type=list sql="SELECT * FROM options_price WHERE o_value='COA1'" table=options_price][list][currency][sql-param price][/currency] [curr_price price="[sql-param price]"][/list][/query]
</b>.  <i>(Note: applying anti-reflective coatings to sunglasses, bifocals/progressives, Transitions&reg; Lenses, or prescriptions above -6.00 may cause a 24-48 hour delay in delivery.  See our shipping page for details.)</i>
</p>
<p>
<a href="#top" class="linkA">Back to top</a>
</p>
</li>
</ul>

</td>
</tr>
</table>

